[2017-05-19 18:26] globysdz opened #302 "Node.js functions req object missing "url" property (under module.export=function(context, req)"
I am trying to use azure functions (node.js) for application insight integration.
the application insight method trackRequestSync(req, context.res, timeelapsems) throws exception when req object doesn't have "url" property.

Turns out if my function code is defined as:
module.export=function(context, req) {
    context.log(req) // the request object does NOT have 'url' property
}

however, if the

[2017-05-19 18:30] ahmelsayed commented on #295
I'm glad you got it to work. Thanks for circling back!

[2017-05-19 18:32] ahmelsayed commented on #301
/cc @vijayrkn @mlorbetske

[2017-05-19 18:55] mlorbetske commented on #301
/cc @phenning

[2017-05-19 19:12] phenning commented on #301
Which workloads were installed during the visual studio installation? Are you able to create any other ASP.NET Core templates?

[2017-05-19 19:42] hannespreishuber commented on #300
after several uninstall -reinstall
there is a conflict with Docker Services for Windows

[2017-05-19 19:48] hannespreishuber opened #303 "Azure functions runtime portal: empty website"
when opening the onpremise portal (click from azure functions runtime configuration manager)  in browser, it is complete empty
fiddler trace shows
GET /subscriptions?api-version=2014-04-01 HTTP/1.1
as my system in German
{"Message":"An error has occurred.","ExceptionMessage":"Das Format des Werts \"Fr, 19 Mai 2017 19:46:09 GMT\" ist ungültig.","ExceptionType":"System.FormatException","StackTrace":

[2017-05-19 22:07] ahmelsayed commented on #300
/cc @jvano

[2017-05-21 07:47] sjkp commented on #45
@kverpoorten as far as I can see there is nothing special about the slots from webapp slots, so you should be able to use the same vsts task to deploy to an azure function slot as you use to deploy to an web app slot.

[2017-05-21 14:22] hannespreishuber commented on #303
I see - this is a duplicate issue https://github.com/Azure/Azure-Functions/issues/276

[2017-05-21 20:00] CANUSA commented on #214
Do we have any type of ETA on this particular feature? I could really use it!

[2017-05-22 01:07] RPM1984 opened #304 "[Visual Studio] How to bind to custom model in HTTP trigger?"
Hi,

I have a HTTP trigger function like so:

[code]

But when i run, i get the error:

I think [previously we could perform this with function.json](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference) but how do we do it declaratively with the new way of doing functions?

Thanks

[2017-05-22 04:55] slideep commented on #304
It's not obvious first but for user type binding the order of the given functions's parameters seems to matter when it creates the `HttpTriggerBinding` and/or `HttpTriggerAttribute` in the binding provider. If you want to access HTTP request, just put it after your given type and/or route constraints. A bit of trial and error here as well as we are progressing with conversion to new SDK.

![httptr

[2017-05-22 05:13] RashmiPankaj opened #305 "Get-AzureRMImage The term 'Get-AzureRMImage' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is correct and try again."
I am trying to use Azure Function Powershell Http Trigger template. I am trying to create VM through azure functions. I tried importing custom modules of Azure.Compute 4.0 version. Still facing this issue.

Get-AzureRMImage : The term 'Get-AzureRMImage' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included,

[2017-05-22 05:14] slideep commented on #298
Probably you've figured this already but here's how it's done. You could always encapsulate settings into your very own derived settings from `JsonSerializerSettings` and use that everywhere in your response infrastructure logic etc.

![serializer_settings](https://cloud.githubusercontent.com/assets/100609/26293623/9efc8636-3ec6-11e7-8559-a29cd4125ffc.PNG)

![fiddler_serializer_settings](https://c

[2017-05-22 05:17] RPM1984 commented on #304
@slideep awesome, it works!

thankyou :)

(btw, i noticed with the `TraceWriter` param, it errored, but thankfully i don't need it in my case).

[2017-05-22 05:17] #304 closed

[2017-05-22 05:22] RPM1984 commented on #298
That's exactly what i've done.

Code, for others reading:

[code]

then

[code]

[2017-05-22 05:23] #298 closed

[2017-05-22 06:39] ticapix opened #306 "We are not able to retrieve the keys for function ... This can happen if the runtime is not able to load your function."
Hi,

I'm having the same error than in issue #226

[code]

My two others working functions are in python2.7.
The one failing is in C# app https://publication-erdf.azurewebsites.net fctName parsePublication.

I also reset the secrets in D:\home\data\Functions\secrets but the error remains.

Any idea ?

[2017-05-22 07:04] RashmiPankaj commented on #306
Try to make some changes in App settings of Azure Functions. Save it and  reload the azure function.

[2017-05-22 07:40] ticapix commented on #306
error still here

[2017-05-22 10:15] DavidSimner commented on #301
Installing the dependencies makes it work, so it might be worth adjusting the `.vsix` on your end so all the dependencies are listed in it, e.g. `Microsoft.VisualStudio.TemplateEngine`

[2017-05-22 10:15] #301 closed

[2017-05-22 12:56] hannespreishuber opened #307 "Connection String Functions Runtime"
I didn't get the story how to set a working  connection string (eg queue) for local development in local.settings.josn. Where to get the string for my Azure Functions runtime or the Visual Studio tools?

the Microsoft Azure Storage Eplorer shows for
(local and attached) - (Development) no propertys

-Hannes

[2017-05-22 18:23] mag1971 opened #308 "Error: We are unable to access your function keys"
<img width="369" alt="screen shot 2017-05-22 at 19 20 08" src="https://cloud.githubusercontent.com/assets/4283047/26322636/ce9db51a-3f23-11e7-8408-f667c0d6607a.png">

Have been getting this error for 2 days now. Functions are totally unusable for me at the moment.
I am trying to trial functions with a view to using in a live production scenario in a few weeks so really need to be able to test this

[2017-05-22 19:13] ahmelsayed commented on #305
bring your own powershell module per instructions here https://github.com/Azure/Azure-Functions/issues/294#issuecomment-302196391

[2017-05-22 19:13] #305 closed

[2017-05-23 15:36] piffarettig opened #309 "Routing fails if parameters contains slash"
I know this is a dumb question, but I really need to test this behaviour on Portal.

When the Azure function tries to do the attribute routing of a parameter that contains a slash to a string (for example an URL), it fails and returns a 404 Not Found Error.

I am using a C# HTTP trigger function.

I know that I should encode the URL, but as I said I am trying to test it on Azure Portal.

Is this a

[2017-05-23 16:00] #309 closed

[2017-05-23 19:58] lindydonna opened #310 "Blobtrigger - Local Testing / Debugging Documentation"
_From @securityvoid on May 3, 2017 19:42_

I'm having a difficult time locating the documentation on debugging Blob trigger's locally. Is this possible with the CLI, or does stuff have to be deployed on Azure to test?

The main place you'd expect documentation is pretty much blank:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local

This is the best docs I've found so far,

[2017-05-23 19:58] lindydonna commented on #310
_From @paulbatum on May 19, 2017 23:29_

@lindydonna Can you take a quick look at this?

[2017-05-23 19:58] lindydonna commented on #310
_From @securityvoid on May 20, 2017 15:52_

Via trial and error, I was able to determine that local debugging of blog triggers DOES work. When the Azure Functions is running locally and a blog trigger is triggered, it will trigger the blob functions locally.

I still think this could handle to be doced clearer, but it definitely works.

[2017-05-23 19:58] lindydonna commented on #310
_From @securityvoid on May 20, 2017 15:57_

While the doc is being worked on, it would also be good if somewhere it was more clear if blob triggers are only triggered on the creation of new files, and the updating of files, or if it also included the deletion of files (And if there is anyway to tell the difference).

The wording that is available is a little ambiguous with exactly how it works. Ac

[2017-05-23 19:58] lindydonna commented on #310
@securityvoid I'm working on an updated doc this week. We had a lot of churn in the CLI commands, but it's much more stable now.

I'm moving this issue to Azure-Functions, where we track dock issues.

Blob triggers are only triggered on creates and updates. Deletes are not tracked, and there is no way to distinguish between create and update (without looking at the blob metatdata itself).

In gene

[2017-05-23 20:22] securityvoid commented on #310
@lindydonna Thank-you for the update on the blob triggers.

It was my understanding that in order to use Queue triggers, I had to upload the file within my own app and set the queue, rather than just using something like Storage Explorer. Am I understanding that correctly?

My C# is really bad, but my reading of that example code makes it look like my understanding above may not be correct?

[2017-05-23 21:09] lindydonna commented on #310
@securityvoid You can use storage explorer to upload the file and to create the queue message.

Here's another example that shows the function.json: https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob#input-usage

[2017-05-23 21:41] lindydonna commented on #203
@BatriderLEL We have VS 2017 tooling, but we won't be supporting VS 2015. See https://blogs.msdn.microsoft.com/webdev/2017/05/10/azure-function-tools-for-visual-studio-2017/.

[2017-05-23 23:23] lindydonna opened #311 "Document new dotted notation for bindings"
Support for dotted paths in binding expressions
- previously binding expressions could only reference the top level binding data properties
- now, if your trigger data contains nested objects, you can reference those properties as well
- see Http binding examples below which are a good example of this. However, this works with your own POCO objects as well

Http binding support for nested object p

[2017-05-23 23:34] lindydonna commented on #303
Closing as a duplicate

[2017-05-23 23:34] #303 closed

[2017-05-23 23:35] lindydonna commented on #294
Closing issue as question was answered

[2017-05-23 23:35] #294 closed

[2017-05-23 23:37] lindydonna commented on #307
See the video walkthrough here: [Azure Functions Visual Studio Tooling](https://www.youtube.com/watch?v=BN2sIRrOt8A)

[2017-05-23 23:37] lindydonna commented on #290
Closing in favor of https://github.com/Azure/azure-webjobs-sdk-script/issues/1237

[2017-05-23 23:37] #290 closed

[2017-05-23 23:38] #307 closed

[2017-05-23 23:39] lindydonna commented on #257
Closing due to lack of response.

[2017-05-23 23:39] #257 closed

[2017-05-23 23:39] lindydonna commented on #220
Closing due to lack of response. If you see the error again, please open a new issue.

[2017-05-23 23:39] #220 closed

[2017-05-23 23:41] lindydonna commented on #212
One big reason for the difference will be the VM size--F4 is much larger than the A1 that we use on the Consumption plan. Could you try running the test again on a smaller VM?  You're essentially comparing a 1 core VM to a 4 core one.

[2017-05-24 01:28] #78 closed

[2017-05-24 01:28] lindydonna commented on #73
Closing this issue, because remote debugging can be flaky, especially on the Consumption plan.

[2017-05-24 01:28] #73 closed

[2017-05-24 02:00] dersia commented on #257
Hi @brettsam ,

sorry for some reason I totally missed it. And yes you are right and actually I knew that, looks like I was confused the day I created that issue.

Sorry for that!

Thanks for closing @lindydonna.

[2017-05-24 03:15] garthmason opened #312 "TimerTrigger attribute using TimeSpan format works locally but fails when deployed"
I've noticed that I can build/run/debug a Timer triggered Azure function in the VS2017 Preview tooling where the timer binding uses a timer schedule specified as a TimeSpan.

E.g in `local.settings.json` for my Azure functions project I specified `"RefreshInterval": "01:00:00" ` and then use it in my function trigger binding like this

`[FunctionName("MyRefreshFunction")]
        public static voi

[2017-05-24 07:13] hannespreishuber commented on #307
you are using a azure queue, whats about the local runtime?

[2017-05-24 09:46] apedzko commented on #226
I'm seeing the same error on a function created automatically by VS build

Error:

We are not able to retrieve the runtime master key. Please try again later.
Session Id: 329be7bdfdc74ea3b7e65d4de70186a4

Timestamp: 2017-05-24T09:45:56.727Z

[2017-05-24 11:40] slideep commented on #307
@hannespreishuber late to the party but you can use perfectly fine Azure storage's emulator for queues, tables and blobs.

![development_storage_emulator](https://cloud.githubusercontent.com/assets/100609/26401448/b26b868a-408e-11e7-8973-4a28b6d221b5.PNG)

[2017-05-24 12:04] ChrisGarty commented on #203
Donna, the new VS2017 tooling looks great. Upgrade time :). Thanks!

[2017-05-24 14:06] UnoSD commented on #212
@lindydonna thanks for the response. That would explain it, unfortunately the team is no longer working on that project, but I presume there is no way of having a consumption plan running on higher specs borrowed VMs?

[2017-05-24 19:11] ahmelsayed commented on #226
@apedzko  are you seeing any other errors related to not having a `AzureWebJobsStorage` defined?

[2017-05-24 20:15] andresnava commented on #113
Would it be possible to add a note about what happens when we have compiled functions that use Nuget packages that are also in the set of Shared assemblies?

For instance, if I have a compiled function that references Azure Storage Nuget package with a specific version, what happens when the Shared assembly for Azure Storage is a different version? Does the version in my Nuget package get used or

[2017-05-24 22:19] Andrew-MSFT commented on #269
This is being tracked in the internal Visual Studio backlog. We're working on redesigning the Azure provisioning experience from VS, so we can close this particular issue

[2017-05-24 23:48] lindydonna commented on #269
Thanks @Andrew-MSFT

[2017-05-24 23:48] #269 closed

[2017-05-24 23:56] lindydonna commented on #212
@UnoSD That's correct, on a consumption plan you can't choose the VM size. You can instead run on an App Service plan to have more cores.

[2017-05-24 23:56] #212 closed

[2017-05-24 23:59] lindydonna commented on #113
@andresnava I believe the shared assembly will take precedence, but @fabiocav can confirm.

[2017-05-25 00:44] lindydonna opened #313 "Document new "context" APIs"
See https://github.com/Azure/azure-webjobs-sdk-script/wiki/Retrieving-information-about-the-currently-running-function

[2017-05-25 07:45] apedzko commented on #226
I have this setting defined. I'm not sure how but i managed to fix the
issue by doing one of the 3 things:

1. I had removed everything from host.json file - kudu was saying that it
was incorrect - maybe some encoding issue.
2. I had fixed encoding on run.csx file in source control from unicode to
utf8 and redeployed the function.
3. I had disabled sessions on the servicebus queue to which the fun

[2017-05-25 14:59] jtmott commented on #226
I'm getting a combination of the "We are not able to retrieve the runtime master key.." and the error shown below suddenly on a function that was previously working without issue.  It's really unusual though, as when I deploy, I can see that a few iterations of the trigger execute without issue and are logged, but then it just stops working and shows the error messages.  I have tried restarting an

[2017-05-25 15:23] jglisson commented on #201
Thanks for that link, lindydonna. It works!

[2017-05-25 18:30] ahmelsayed commented on #226
@jtmott there appear to have been a stale DNS entry that was directing traffic into the wrong end point for your function app. That has been resolved. can you please give it another try?

[2017-05-25 19:42] jtmott commented on #226
Thanks for the feedback @ahmedelnably, the function is running as expected now.

[2017-05-25 20:31] lindydonna commented on #15
Article is published: https://azure.microsoft.com/en-us/documentation/articles/functions-run-local

[2017-05-25 20:31] #15 closed

[2017-05-25 20:35] lindydonna commented on #161
@mschmidt-healthx The partitionKey issue is tracked here: [Add new DocDB partitionKey property to bindings\.json \#454](https://github.com/Azure/azure-webjobs-sdk-templates/issues/454)

Closing this issue as the DocDb article has been revised.

[2017-05-25 20:35] #161 closed

[2017-05-25 21:00] andrewchungxam commented on #301
^ in case it's helpful for others - I saw a similar error on my Visual Studio 2017 (Preview) install.

I had installed no other workloads since I just wanted to use the Azure Functions template.  I went back in and installed 2 additional workloads.

After this - it opened fine on VS 2017 (Preview)

^ By the way, to re-open the installer screen go to: File > New > Not finding what you're looking fo

[2017-05-25 23:07] lindydonna commented on #111
Changes in progress here: https://github.com/Microsoft/azure-docs-pr/pull/14047

[2017-05-25 23:07] #111 closed

[2017-05-25 23:08] lindydonna commented on #165
The bindings concepts article has "inout". I've updated the blob documentation here: https://github.com/Microsoft/azure-docs-pr/pull/14047

[2017-05-25 23:08] #165 closed

[2017-05-25 23:08] lindydonna commented on #180
Removed reference to POCOs and ICloudBlobStreamBinder from blob binding article. See https://github.com/Microsoft/azure-docs-pr/pull/14047

[2017-05-25 23:08] #180 closed

[2017-05-25 23:09] lindydonna commented on #255
Added example of inout binding with CloudBlockBlob in https://github.com/Microsoft/azure-docs-pr/pull/14047

[2017-05-25 23:09] #255 closed

[2017-05-25 23:09] lindydonna commented on #289
See https://github.com/Microsoft/azure-docs-pr/pull/14047

[2017-05-25 23:09] #289 closed

[2017-05-25 23:55] lindydonna commented on #235
Fixed in https://github.com/Microsoft/azure-docs-pr/pull/14054

[2017-05-25 23:55] #235 closed

[2017-05-26 01:00] lindydonna opened #314 "More improvements to ARM template article"
Moved from #222

- [ ] Provide a full ARM template at the bottom of the screen
- [ ] Provide a “Deploy to Azure” button such that the full template can be deployed
- [ ] Add a sample Repository (with links), such that they can better understand the structure of the repository which is deployed.
- [ ] Add a separate deployment step for WebDeploy Deployments, which is an option if you don’t use one

[2017-05-26 01:00] lindydonna commented on #222
First round of changes are in progress at https://github.com/Microsoft/azure-docs-pr/pull/14057

Other changes are traced in #314

[2017-05-26 01:00] #222 closed

[2017-05-26 01:01] lindydonna commented on #84
We expect that most customers who use netstandard assemblies will use precompiled functions, where the Visual Studio tooling will do this automatically. Closing this issue.

[2017-05-26 01:01] #84 closed

[2017-05-26 01:03] lindydonna commented on #310
Blob trigger behavior with the CLI will be documented as part of #112. Closing as a duplicate.

[2017-05-26 01:03] #310 closed

[2017-05-26 01:04] lindydonna commented on #177
Updated here: https://github.com/Azure/Azure-Functions/wiki/Samples

[2017-05-26 01:04] #177 closed

[2017-05-26 13:17] sadgit commented on #45
I have enabled a develop slot and tried to switch it to the develop branch - now it seems FUBAR on both the slot and production.

[2017-05-26 14:20] securityvoid commented on #112
If you do only bind to services not being used by production, please be sure to send an error message when production is preventing the binding which says something to the effect of, "Can't bind to BLAH because FUNCTION_APP/NAME code is already listening to those actions".

Still, I'd guess this would be relatively hard to implement.

e.g. If you had a function in production blob trigger on:
conta

[2017-05-26 15:06] jtmott commented on #226
@ahmedelnably The function ran fine for a day, but after creating a new function I'm once again receiving the following errors.  The new function was created using the Service Bus Queueu Trigger template in the portal, and no modifications have been made:

[2017-05-26 15:44] ahmedelnably commented on #226
Mentioning the right @ahmelsayed  :)

[2017-05-26 16:44] fabiocav commented on #45
@sadgit can you provide more information about what you're seeing? What error(s) are you running into?

[2017-05-26 18:48] globysdz opened #315 "service bus binding does not accept EntityPath as connect string"
{
  "disabled": false,
  "bindings": [
    {
      "name" : "myFuncname",
      "topicName" : "request",
      "subscriptionName" : "processor",
      "connection" : "IncomingSubscription"
      "accessRights" : "listen",
      "type" : "serviceBusTrigger",
      "direction" : "in"
    }
  ]
}

the "incomingSubscription" was set via ARM template:
    {
              "name": "IncomingSubscription",

[2017-05-26 22:45] sergsalo opened #316 "Support for XProj and standalone project.json files has been removed"
I just started to see this message during nuget restore. What do I need to do to convert existing projects to new format? Any docs reference?

[2017-05-26 22:50] fabiocav commented on #316
You don't need to convert your functions. Please refer to this issue [here](https://github.com/Azure/app-service-announcements/issues/3)

[2017-05-27 01:25] sebastus opened #317 "Marketplace for Azure Functions"
I am writing a Function App that I hope many customers will want to use. I need an automated way to get it installed into their subscriptions. A marketplace seems like a good fit. Pricing isn't an issue, because once the function is installed, people pay according to the use of their function.

For the time being, an ARM template with a button to install in Azure will have to do. Still have to fig

[2017-05-27 08:29] UnoSD commented on #212
@lindydonna thanks for the explanation, hope this will be available in the future as the consumption plan is really useful to handle unexpected spikes without having to scale up the app service plan in advance.

[2017-05-27 09:59] sadgit commented on #45
I have several Azure function apps with CI from VisualStudio.com. With the release of Slots setup a 'develop' slot for one branch and then production slot for Master. Setup the CI on the slot to take from 'develop'. The slot simply shows No Deployments.
An afternoon of head scratching and frantic Binging I found the history tab and these errors. This is now happening on other function apps without

[2017-05-27 10:04] sadgit commented on #45
PS - I wondered whether it was something the cloning of the slot during slot creation process?
I seems a common use case to have Master to Production perhaps with auto-swap and a develop version. Same repo different branch.

[2017-05-27 16:50] jchilde opened #318 "Input Parameters Published Incorrectly as Output Parameters"
Using VS 15.3 preview, .Net.Sdk.Functions 1.0.0-alpha5, and latest Functions VSIX

I created an Http Triggered function with following bindings:

public static async Task<HttpResponseMessage> Run(
            [HttpTrigger(AuthorizationLevel.Function, "get", "post", Route = "graph/{TenantId}/{UPN}")]
             HttpRequestMessage req,
            string TenantId,
            [Table("Customers", p

[2017-05-30 09:58] rawlukMike opened #319 "Every folder containing function.json in $(OutDir) deleted after build"
Using Postbuild target I copy some Python Function to $OutDir after build.
`
<Target Name="PostBuild" AfterTargets="PostBuildEvent"><Copy SourceFiles="PythonWebRequest\function.json" DestinationFiles="$(OutDir)PythonWebRequest\function.JSON">
</Copy>
</Target>
`

However you do some cleanup that removes folders containing function.json file that was not created through build action, which removes

[2017-05-30 10:28] sadgit commented on #45
Hooray - all seems to be back working this morning
For logs check here
https://**<myCorp>**.visualstudio.com/**<myProj>**/_apps/hub/ms.vss-servicehooks-web.manageServiceHooks-project

Thanks MSFT

[2017-05-30 14:24] napalm684 commented on #45
Is there a reason why deployment slots are not compatible with the consumption plan?  Is this a short term limitation or going to be a long term restriction?

[2017-05-30 17:52] bedej opened #320 "Functions monitoring history in portal is missing/broken"
I have a function app with 4 functions that's been running for about a week. For the last 4 days there's no history in the "Monitor" section, as if the functions haven't run. The 4 functions run in a chained pipeline, initiated by an external service HTTP request. The functions write data to a storage table when they run. There are timestamped entries in the storage table for every day from the fi

[2017-05-30 18:23] lindydonna commented on #45
@napalm684 Deployment slots are supported for the consumption plan; is it not working for you?

[2017-05-30 18:43] lindydonna commented on #112
@securityvoid It's not possible to enumerate other listeners to a trigger, because the triggers all operate by polling.

If you use the same hostId when running locally and in Azure, the two hosts will cooperate with each other and only one of them will trigger on an event.

If you use different host IDs, blob triggers will trigger a function that's running locally as well as the one in Azure.

Th

[2017-05-30 18:47] hnky commented on #291
Thanks @joshdcar

[2017-05-30 19:27] napalm684 commented on #45
@lindydonna correct it gives me the error that only one slot is supported for the consumption plan if I need multiple I need to use an app service plan.

[2017-05-30 19:53] lindydonna commented on #51
Updated in https://github.com/Microsoft/azure-docs-pr/pull/14229

[2017-05-30 19:53] #51 closed

[2017-05-30 19:55] lindydonna commented on #45
@napalm684 That's correct, only one slot is currently supported on the Consumption plan. We may change this in the future.

[2017-05-30 22:00] lindydonna commented on #194
$return is documented for JavaScript now. Documentation for C# just added here: https://github.com/Microsoft/azure-docs-pr/pull/14242

[2017-05-30 22:00] #194 closed

[2017-05-30 22:01] lindydonna opened #321 "Document C# assemblies"
- Document use of attributes
- Link to NuGet packages that have the attributes
- Document use of return type for output binding

[2017-05-30 22:04] lindydonna commented on #318
@ahmelsayed Could you take a look?

[2017-05-30 22:05] lindydonna commented on #319
What version of the build package are you using?  We've recently released alpha5 which should fix this bug: https://github.com/Azure/azure-functions-vs-build-sdk/releases/tag/1.0.0-alpha5

[2017-05-31 02:22] irwinwilliams opened #322 "External Table input (Google Spreadsheet) not found."
Following the instructions from here: https://stackoverflow.com/a/41600108/27483
I created a function, established a link to my google account and then tried to hook up a spreadsheet.
It may be that the thing you refer to as "Data Set Name" in the External Table configuration is pointing to a name that I can't see on the spreadsheet I'd like to work with, but nothing I've tried works.
I used the s

[2017-05-31 07:06] rawlukMike commented on #319
I have updated to alpha5 yet the problem is still there. There is some after build cleanup that deletes every folder containing function.json that was not created during build.

[2017-05-31 16:55] lindydonna commented on #203
We recommend that customers use the new VS 2017 tools. The VS 2015 tools are no longer being maintained. See https://aka.ms/vs2017functiontools

[2017-05-31 18:06] lindydonna commented on #322
@alexkarcher-msft Could you take a look?

[2017-05-31 18:19] bedej commented on #320
This has stopped reproducing after applying a workaround for the linked issue above. May be appropriate to add more monitoring of the runtime with user/portal surfaced warnings to avoid this problem. But I'm unblocked, so please feel free to close.

[2017-05-31 18:28] lindydonna commented on #320
@bedej Thanks for following up!

[2017-05-31 18:28] #320 closed

[2017-05-31 18:31] alexkarcher-msft commented on #322
Have you tried the instructions in our docs here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-external-table#data-source-settings

"The internal name (in bold) needs to be used as dataSetName, for example: docs.google.com/spreadsheets/d/**1UIz545JF_cx6Chm_5HpSPVOenU4DZh4bDxbFgJOSMz0**"

[2017-05-31 21:13] irwinwilliams commented on #322
Thanks guys, the example I read on S/O didn't actually have the bold part, in bold. Followed this and it worked.
Cheers.

[2017-05-31 21:13] #322 closed

[2017-05-31 22:19] irwinwilliams commented on #322
Also, @alexkarcher-msft I think that link you provided should be in the section that says,
"Documentation: This feature is experimental. Docs will be coming soon!"
A, la:
![googlesheet_googlesheet](https://cloud.githubusercontent.com/assets/1428703/26656586/b7ce0a36-462d-11e7-822a-a6530b910f91.png)

[2017-05-31 23:38] alexkarcher-msft commented on #322
That's an awesome idea! We'll totally try to sneak that in the next release :)

[2017-06-01 00:10] lindydonna commented on #319
This issue was moved to Azure/azure-functions-vs-build-sdk#53

[2017-06-01 00:10] #319 closed

[2017-06-01 00:11] lindydonna commented on #318
This issue was moved to Azure/azure-functions-vs-build-sdk#54

[2017-06-01 00:11] #318 closed

[2017-06-01 00:11] lindydonna commented on #316
Closing issue as duplicate

[2017-06-01 00:11] #316 closed

[2017-06-01 00:12] lindydonna commented on #315
This issue was moved to Azure/azure-webjobs-sdk#1168

[2017-06-01 00:12] #315 closed

[2017-06-01 00:13] lindydonna commented on #312
You can only use TimSpan expressions if you're running on an App Service plan. However, we should improve the error message to reflect that.

[2017-06-01 00:14] lindydonna commented on #302
@christopheranderson Could you take a look?

[2017-06-01 00:15] lindydonna commented on #317
That seems like the best option. I'm not sure what the feature request is here?  You can deploy code using continuous integration or using MS deploy. Here's an example: https://github.com/davidebbo/AzureWebsitesSamples/blob/master/ARMTemplates/FunctionsWebDeploy.json

[2017-06-01 00:16] lindydonna commented on #265
Closing due to lack of activity.

For this kind of question, [MSDN forums](https://aka.ms/func-forum) or [StackOverflow](https://aka.ms/func-so)  will get you a much faster reply. Please include your configuration in your question.

[2017-06-01 00:16] #265 closed

[2017-06-01 00:16] lindydonna commented on #262
For this kind of question, [MSDN forums](https://aka.ms/func-forum) or [StackOverflow](https://aka.ms/func-so)  will get you a much faster reply.

[2017-06-01 00:16] #262 closed

[2017-06-01 00:17] lindydonna commented on #306
FYI, for this kind of question, [MSDN forums](https://aka.ms/func-forum) or [StackOverflow](https://aka.ms/func-so)  will get you a much faster reply. Please include your configuration in your question.

[2017-06-01 00:17] lindydonna commented on #308
FYI, for this kind of question, [MSDN forums](https://aka.ms/func-forum) or [StackOverflow](https://aka.ms/func-so)  will get you a much faster reply. Please include your configuration in your question.

[2017-06-01 00:18] lindydonna commented on #286
This can happen when the connection to Bitbucket is interrupted. It could a problem with the Bitbucket service itself. Can you provide the contents of your deployment log files from Kudu?  Look in the LogFiles/Deployment folder.

[2017-06-01 00:21] jchilde opened #323 "VS2017 created Queue triggered functions report completion on run vice completion"
This occurs in both the may 31 released cli beta run locally and in the published function.

Upon queue trigger, the first log entry is that the function started.  Then it logs completion, then it runs the function. This prevents later uncaught errors from being reported.

[2017-06-01 00:26] ahmelsayed commented on #323
are you running it through the run button or the cli's `func run` or are you running it by dropping a message into the queue?

[2017-06-01 00:32] jchilde commented on #323
By dropping a message into the queue for both cli and published.

[2017-06-01 00:59] ahmelsayed commented on #323
this shouldn't happen. How are you seeing that exactly? through the logs? Do you mind sharing your code?

[2017-06-01 01:03] jchilde commented on #323
The same code dropped into an azure function doesn't do this.  I am observing this from the logs online and the cmd window from the cli.  My code is nothing special. I was just trying to port functions I have been using to vs 2017.

[2017-06-01 01:04] lindydonna commented on #323
@jchilde Do you have a small repro that shows the issue?

[2017-06-01 01:09] jchilde commented on #323
Here is one function that had the behavior; however, I saw it with every function.

`using System;
using Microsoft.Azure.WebJobs;
using Microsoft.Azure.WebJobs.Host;
using OnPointFunctions.Models;
using Newtonsoft.Json;
using Microsoft.SharePoint.Client;

namespace OnPointFunctions.Lists
{
    public static class CreateLedger
    {
        [FunctionName("Lists-Create-Ledger")]
        public stati

[2017-06-01 01:10] garthmason commented on #312
Ah yes, I am using the consumption plan. I picked up on the TimeSpan option by looking at the TimerTrigger attribute definition (see image).  Improved error message sounds good to me 👍

![image](https://cloud.githubusercontent.com/assets/19699511/26660267/79b8a0cc-46a9-11e7-9ab2-6d30fcbbc71b.png)

[2017-06-01 01:10] lindydonna commented on #312
Yes, I think we should also update the doccomment in TimerTriggerAttribute to make it clear that TimeSpan is not supported on the Consumption plan.

[2017-06-01 01:14] lindydonna commented on #312
See https://github.com/Azure/azure-webjobs-sdk-script/issues/1561 for improving the error message.

I'll put out a PR shortly to improve the doccomment. Closing this issue.

[2017-06-01 01:14] #312 closed

[2017-06-01 01:18] lindydonna commented on #312
@garthmason See https://github.com/Azure/azure-webjobs-sdk-extensions/pull/231.

[2017-06-01 01:21] lindydonna commented on #323
@jchilde You're using "async void". This causes a lot of problems, and we're going to add an analyzer that disallows it. See https://github.com/Azure/azure-webjobs-sdk-script/issues/1556

[2017-06-01 01:21] #323 closed

[2017-06-01 01:21] jchilde commented on #323
I am no longer on my surface so I will be a bit more verbose.

I am porting production functions over to VS 2017.   I am literally copying the scripts and pasting them.  So I know the scripts work fine.

The only changes I am making are to the triggers/binding parameters as seen in my code above.

Now, When I place a message into the "lists-create-ledger" queue, I expect that I will get a log mess

[2017-06-01 01:24] jchilde commented on #323
VS 2017 CLI states that and an asynchronous function must return either a task or void.  See image...
![async](https://cloud.githubusercontent.com/assets/11364073/26660675/7f3c18f6-4647-11e7-9c9d-f64280850c17.png)

[2017-06-01 01:25] lindydonna commented on #323
@jchilde Yes, that is a general C# concept. On Azure Functions, you can't use async void for your main Function method.

[2017-06-01 01:34] garthmason commented on #312
Great, appreciate the quick response we are getting to theses issues!

[2017-06-01 01:37] fabiocav commented on #323
@jchilde  As a matter of fact, your code doesn't use `await`, so with the current implementation, feel free to just remove the `async`. You can keep the `void` return, but I'd recommend looking at employing async patterns as some of the code you have above would benefit from it.

[2017-06-01 01:43] jchilde commented on #323
It has an await when creating the SharePoint client context.

[2017-06-01 01:46] jchilde commented on #323
But I do appreciate you looking at it.  I am not a programmer and can use all help.

[2017-06-01 01:46] lindydonna commented on #323
@jchilde In that case, you should change it to "async Task" as the return type.

[2017-06-01 01:46] ahmelsayed commented on #323
then you can just do
[code]

you'll also need to add a `using System.Threading.Tasks;` at the top to use Tasks.

The reason Task is needed to come back from your function is to tell the functions runtime what the state of your function is. returning void tells the function runtime that your function is done. then it starts executing which is not in order and can be killed at any point. Returning a

[2017-06-01 01:51] jchilde commented on #323
You guys rock. Thanks.  I really like creating functions this way.  The only other issue I have seen is the known problem with input bindings. Otherwise works well for me.

[2017-06-01 06:00] fabiocav commented on #323
Completely missed your `await`! Glad this is working for you now.

[2017-06-01 11:39] HWouters commented on #75
@lindydonna, @mathewc Functions are still timing out after 5 minutes:

_Timeout value of 00:05:00 exceeded by function 'Functions.TriggerRequest' (Id: '1874cd2c-533c-4ccb-9f2c-2434fdfc4bf0'). Initiating cancellation._

[2017-06-01 12:53] sjwaight commented on #259
I actually have issues here - I have a timer-triggered Function that runs every 20 seconds. It is not doing much work, but logs invocations to App Insights fine. The monitor tab for this Function shows the last invocation as 15 days ago, which is incorrect. Some Function invocation logs are blank. Extension version is: 1.0.10947.

A test build of the same Functions running ~1 in a different Plan a

[2017-06-01 15:09] koushik984 commented on #271
Helpful tip for others who run into same issue as above, nugget for DocumentDb is not part of "Microsoft.Azure.WebJobs", must add "Microsoft.Azure.WebJobs.Extensions.DocumentDB" to the project

[2017-06-01 17:55] lindydonna commented on #75
@HWouters The change has not been deployed yet. Watch for a new release on this page: https://github.com/Azure/app-service-announcements/issues

[2017-06-01 19:18] napalm684 commented on #45
@lindydonna I hope more get added a single slot really doesn't work for me under the premise of trying to consolidate down to a single function app with slots for dev, test, stage and production.  Another related question, if you use slots can FTPs be directed to deploy to a specific slot?  If that doesn't work then slots just aren't going to cover my scenario currently anyway.

[2017-06-01 20:09] paulbatum commented on #259
@sjwaight  Do you happen to have a host ID specified in your host.json? This might have been inserted for you if you used an earlier version of the functions core tools (or VS tooling). There is a known bug  https://github.com/Azure/azure-webjobs-sdk-script/issues/1474 where if its explicitly set then your monitor page won't work correctly.

[2017-06-01 21:09] sjwaight commented on #259
The host.json that is deployed into my App Services does have a single entry ("id") which I assume is this. You're saying that this file should be empty (i.e. just {}) and this issue will go away?

[2017-06-01 21:41] paulbatum commented on #259
@sjwaight yes its quite likely that if you remove the id property you'll find your monitor UI starts working again. If not let me know, because it means we have a different bug to track down :)

[2017-06-02 12:02] venknar opened #324 "Azure Functions Runtime Uninstall and Reinstall does not work"
Hi

Few issues that I am seeing with the Uninstallation and reinstallation of the Azure Functions Runtime.

On installing after the Uninstall, I see most of the files are not getting copied in the C:\Program Files\Azure Functions Runtime.

Also we  are not able to reset the database details since by mistake we had deleted the SQL Server db (azurefunctionsruntime).

See the below image:

![image](h

[2017-06-02 23:03] lindydonna opened #325 "VS tooling should not pass explicit port when launching Functions Core Tools"
The Functions Core Tools allows changing the port in a config setting, but it's overridden by the command line. The VSIX should remove the port.

[2017-06-03 17:08] DivineOps commented on #293
Hi @fabiocav,
If I switch to ILogger, I am having an issue with local logs displaying in AzureFunctions.CLI.
When I publish the function, the function logs are displayed, along with the function pulse. But when running locally only the function pulse is displayed (although no errors are thrown).
Is this a configuration issue?
Can you share a working code sample?

Also, it is worth noting that we a

[2017-06-03 21:49] nhwilly commented on #321
Really looking forward to this.  Anywhere we might go to figure out how some of these work? TIA

[2017-06-04 07:26] oribarilan commented on #158
Hey.
Can this property (caching properties between calls) also be used in Python?
I tried defining a class with a property but could not implement this..
Thanks

[2017-06-05 13:06] brettsam commented on #293
The missing logs in the CLI is an issue being tracked here: https://github.com/Azure/azure-functions-cli/issues/130 -- we're looking into it.

And yes, it's the `Microsoft.Extensions.Logging.ILogger`.

[2017-06-05 15:16] DivineOps commented on #293
Thanks Brett!

[2017-06-05 16:02] NichUK opened #326 "Document use of [return: WebJobAttribute] with new VS Tooling for $return"
None of the current documentation shows how to use the  [return: Attribute] form of WebJobs Attributes to cause the function.json file to be set up to use the $return form.
Since the new VS2017 tooling doesn't allow direct editing of the function.json file, this attribute form is important for any trigger except HttpTrigger.
If you want to write back a queue message or a blog, and especially if yo

[2017-06-05 23:53] fabiocav commented on #293
Thanks for pointing out the ambiguity, @DivineOps. I've updated the original comment to make it clear I was referring to the `Microsoft.Extensions.Logging.ILogger` interface.

[2017-06-06 01:27] paulbatum commented on #321
@nhwilly for now see here: https://blogs.msdn.microsoft.com/webdev/2017/05/10/azure-function-tools-for-visual-studio-2017/

[2017-06-06 01:33] paulbatum commented on #158
@oribarilan No you cannot do this with python today, because currently we start a new python.exe process per execution. This approach has many other downsides too (such as poor performance). We are tracking work on a new language extensibility model [here](https://github.com/Azure/azure-webjobs-sdk-script/issues/1319). If we are able to implement this model and move python to it then you'd see bet

[2017-06-06 02:11] fabiocav commented on #98
Have opened the following issues to track migration:
**WebJobs SDK** - https://github.com/Azure/azure-webjobs-sdk/issues/1177
**WebJobs SDK Extensions** - https://github.com/Azure/azure-webjobs-sdk-extensions/issues/233
**WebJobs Script (Functions Runtime)** - https://github.com/Azure/azure-webjobs-sdk-script/issues/1576

[2017-06-06 09:14] rawlukMike commented on #214
It would be nice to add some information about this. Currently traffic manager is working for some time when adding as external. BUT even if I am adding: http://<functions-name>.azurewebsites.net,
Traffic manager actually points to http://HOSTS.<functions-name>.azurewebsites.net, which pulls up azure websites 404, and does not work with functions:

[2017-06-07 01:26] jvano commented on #324
Thanks for letting us know. We will be improving the setup, uninstall, re-install and upgrade cases.
For now, to reset the configuration, please manually delete the following registry entries:

1. HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\FunctionsRuntime\FunctionsAdmin
2. HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\FunctionsRuntime\FunctionsManagement
3. HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\FunctionsRunti

[2017-06-07 09:39] kamil-mrzyglod opened #327 "Codebase for Azure Functions proxies"
Hi,

where could I find codebase for proxies? I've checked both runtime and core and still not sign of it :(. Is it in other repository? I saw some branches where I can find some code related to proxies, but these are feature branches and don't seem to be correlated with the main functionality.

Best regards,
Kamil

[2017-06-07 11:43] sjwaight commented on #259
Confirmed that removing the host ID fixed this in my Function App. Additionally, removing it also helped the Function App local runtime actually run the Function App on debug from Visual Studio which is something it stopped doing some time ago.

[2017-06-07 16:16] dacoppet opened #328 "Provide a webhook to help limit usage (control cost & scalability)"
The idea would be to have an extension point where customer can take action to help control cost.
The scenario I had in mind is the  following:
- I used the Daily Usage Quota and would like to have a webhook where I could take action when that limit is reached.
- That way I can run my custom process : use the Management APi to stop the Azure Function because I don't want to generate more cost for

[2017-06-07 16:22] venknar commented on #324
Thanks. It solved the issue. Closing it.

[2017-06-07 16:22] #324 closed

[2017-06-07 16:25] DivineOps commented on #293
Ironically, I am finding it easier to mock TraceWriter than ILogger, since ILogger only exposes a single non-static Log method which requires a long list of parameters :)

[2017-06-07 19:41] lindydonna commented on #321
@nhwilly You can also use this table to see what attributes are available: https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-csharp#binding-at-runtime-via-imperative-bindings

[2017-06-08 02:12] lindydonna commented on #327
@kamil-mrzyglod It's not public. @mattchenderson can provide more information.

[2017-06-08 02:15] lindydonna commented on #326
Duplicate of https://github.com/Azure/Azure-Functions/issues/321. The documentation should be published in the next few days.

In the meantime, here's an example:

[code]

[2017-06-08 02:15] #326 closed

[2017-06-08 06:08] kamil-mrzyglod commented on #327
@lindydonna That made me sad :(

[2017-06-08 07:28] jantielens opened #329 "Continuous Integration, downloaded ZIP file can't be opened in Visual Studio"
I've created a new Bot Service in Azure (using the Proactive message template) it worked fine. :) I downloaded the zip file containing the source code, but after extraction Visual Studio wasn't able to open the Solution. Whatever I try I get the message "Some of the properties associated with the solution could not be read.". I tried Visual Studio 2017 and 2017 Preview. When using Visual Studio Co

[2017-06-08 16:10] nhwilly commented on #321
Thanks @lindydonna

[2017-06-08 16:11] ahelland opened #330 "Functions Runtime does not handle changing name of host."
You might want to call out in the prereq section that the hostname should be configured/finalized before installing the Functions Runtime.

I know it is best practice to get things like that in order right after Windows is installed, but sloppiness in the lab had me running the installer first, and then changing the hostname. Completely borked things.

I thought it might be just an SSL issue, but

[2017-06-08 17:56] paulbatum opened #331 "Referencing a header value in proxy"
_From @kamil-mrzyglod on June 5, 2017 8:22_

Hi,

We're currently using Azure Functions Proxy in following scenario:

1. Client sends a request with a following header: **Authorization: TOKEN <function-key>**
2. Proxy should rewrite a request from Authorization header to x-functions-key: <function-key>

Is this possible with the current implementation of Proxy? I haven't found any way to do so and

[2017-06-08 17:56] paulbatum commented on #331
@mattchenderson Is this possible?

[2017-06-08 17:56] paulbatum commented on #331
_From @mattchenderson on June 5, 2017 18:7_

Please see [this documentation](https://docs.microsoft.com/en-us/azure/azure-functions/functions-proxies#a-nameusing-variablesause-variables) for how to leverage variables from within a proxy.

For your particular case, I'd expect something like:
[code]

[2017-06-08 17:56] paulbatum commented on #331
_From @kamil-mrzyglod on June 5, 2017 18:28_

@mattchenderson Thank you for the response! Unfortunately I think I have a bit more complicated scenario.

I have following **Authorization** header: `TOKEN <this_is_a_function_key>`
I would like to rewrite to `x-function-keys: <this_is_a_function_key>` - without `TOKEN`

I would like to reference it in the same manner as referencing a value from e.g.

[2017-06-08 17:58] paulbatum opened #332 "Dot syntax for binding data should be consistent between functions and proxies"
_From @mattchenderson on May 30, 2017 21:6_

The dot syntax in the [latest release](https://github.com/Azure/azure-webjobs-sdk-script/releases/tag/v1.0.11002) includes HttpTrigger support, but it is inconsistent with the existing proxies behavior.

The proxies syntax is documented [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-proxies#a-nameusing-variablesause-variables).

[2017-06-08 17:58] paulbatum commented on #332
_From @mathewc on June 5, 2017 18:29_

The syntax chosen for Functions binding expressions was made consistent with the existing platform it is built on - WebJobs SDK. That is the most important thing. However we should investigate whether we can improve the story here for proxies. I.e. make proxies more consistent with Functions.

[2017-06-08 18:24] lindydonna commented on #321
Available here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-class-library#triggers-and-bindings

[2017-06-08 18:24] #321 closed

[2017-06-08 18:45] mattchenderson commented on #331
@kamil-mrzyglod - Correct, we don't allow you to manipulate those values at this time. Can't speak to any plans at the moment, but feedback noted!

[2017-06-08 19:08] kamil-mrzyglod commented on #331
@mattchenderson Cool, nice to hear that!

[2017-06-08 20:12] jr-araujo opened #333 "Application Settings for each one of Function, no more in Function App"
Hi Everyone,

As we know, Azure Functions were built based on WebJobs SDK and because of this, Azure Functions work almost like a WebJobs. But, If each one of Functions works into their own context, I am just wondering that maybe it would be more interesting IF each one of Functions had an **Application Settings** separately, like a Settings by Function Context.

**Conclusion**

It would be more i

[2017-06-08 20:29] lindydonna commented on #164
The storage account lock is no longer created.

[2017-06-08 20:29] #164 closed

[2017-06-08 20:31] lindydonna commented on #96
Article has been published.

[2017-06-08 20:31] #96 closed

[2017-06-08 20:32] lindydonna commented on #113
Documented here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-csharp#referencing-custom-assemblies

[2017-06-08 20:32] #113 closed

[2017-06-08 20:32] lindydonna commented on #116
Closing as we haven't had any customer requests for this after updating the bindings docs.

[2017-06-08 20:32] #116 closed

[2017-06-08 20:32] #118 closed

[2017-06-08 20:34] lindydonna commented on #179
Superceded by https://github.com/Azure/Azure-Functions/issues/313

[2017-06-08 20:34] #179 closed

[2017-06-08 20:35] lindydonna commented on #188
Documented here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale#consumption-plan

[2017-06-08 20:35] #188 closed

[2017-06-08 20:35] lindydonna commented on #189
@SimonLuckenuik's answer is good. If you have more questions on this,
 [MSDN forums](https://aka.ms/func-forum) or [StackOverflow](https://aka.ms/func-so)  will get you a much faster reply.

[2017-06-08 20:35] #189 closed

[2017-06-08 20:37] lindydonna commented on #29
This was covered by the blog post explaining pricing: https://blogs.msdn.microsoft.com/appserviceteam/2016/11/15/making-azure-functions-more-serverless/

Scaling is described here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale#how-the-consumption-plan-works

[2017-06-08 20:37] #29 closed

[2017-06-08 20:37] lindydonna commented on #17
External file is documented here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-external-file

External table shouldn't be documented, as it's experimental and may be pulled entirely.

[2017-06-08 20:37] #17 closed

[2017-06-08 20:39] lindydonna commented on #329
This repo is for issues in Azure Functions. I recommend posting on StackOverflow with the bot service tag.

[2017-06-08 20:39] #329 closed

[2017-06-08 20:40] lindydonna commented on #125
Closing due to lack of repro.

[2017-06-08 20:40] #125 closed

[2017-06-08 20:40] lindydonna commented on #280
Closing for now. Please open a new issue if you can repro.

[2017-06-08 20:40] #280 closed

[2017-06-08 20:41] #306 closed

[2017-06-08 20:41] #308 closed

[2017-06-08 20:41] #317 closed

[2017-06-08 22:52] jvano commented on #330
I totally agree, this is one of the first things we fixed after the preview release and it will be there for the next release.

Thanks for letting us know

[2017-06-09 06:56] ThomasArdal commented on #286
I'm seeing this in the log:

    ...
    Receiving objects:  98% (28876/29388), 69.16 MiB | 10.00 KiB/s
    Receiving objects:  98% (28882/29388), 69.17 MiB | 4.00 KiB/s
    Receiving objects:  98% (28889/29388), 69.18 MiB | 4.00 KiB/s
    Connection to bitbucket.org closed by remote host.
    fatal: early EOF
    fatal: The remote end hung up unexpectedly
    fatal: index-pack failed
    D:\Progr

[2017-06-09 18:20] lindydonna commented on #286
@davidebbo Any ideas what might be going on here?

[2017-06-09 20:17] dersia commented on #293
Hi there I just realized, that there seems to be an issue with the new ILogger. If I select the ILogger, everything works as expected and there is no issue at all, but if I consume a nuget-package which has dependency on ```Microsoft.Extensions.Logging.Abstractions``` it stops working. I actually get a failure upon loading the function:

Microsoft.Azure.WebJobs.Host: Cannot bind parameter 'log' to

[2017-06-09 20:30] brettsam opened #334 "Adding a package that references Microsoft.Extensions.Logging.Abstractions breaks function"
From @dersia at #293:

[2017-06-09 20:31] brettsam commented on #293
@dersia -- I've opened a new issue for this: #293 -- can you hop over to that issue and let me know what package you added that broke this?

[2017-06-09 21:39] dersia commented on #334
@brettsam I just created a sample:

https://github.com/dersia/FuntionsLoggingTest

the ```TestPackage``` Folder contains the nuget-package and the Functions folder contains the functions files

[2017-06-10 22:06] HarryMcCarney opened #335 "We are not able to retrieve the runtime master key. Please try again later."
This seems a common error and I have tried all the suggestions on similar issues here with no luck.  Session ID is below. Thanks.
Error:

We are not able to retrieve the runtime master key. Please try again later.
Session Id: c008cf5e1b3341d283a0c9fe480a502c

Timestamp: 2017-06-10T21:58:12.520Z

[2017-06-12 04:10] guitarrapc commented on #226
I met same issue right after deploy new function "We are not able to retrieve the runtime master key. Please try again later. "

[2017-06-12 07:45] urig opened #336 "Migration of Azure Functions project (.funproj) from VS 2015 to VS 2017 fails consistently"
### Steps to reproduce

1. On Windows 10 (Home edition, v1703, build 15063.296)
2. Given a Visual Studio 2015 solution with an Azure Functions project (.funproj)
3. Open the solution in Visual Studio 2017 (either v15.2 Release or v15.3 Preview with the Tools for Azure Functions extension)

### Expected behavior:
Successful migration of the Azure Function project (to a .csproj project?)

### Actual

[2017-06-12 07:49] urig commented on #336
As a side note, there's also a problem in the Migration Report following the failed migration. The report provides a link for further information. This link is broken.

![image](https://user-images.githubusercontent.com/350687/27023764-a1bf3d4a-4f5c-11e7-8735-b3dc06fe602b.png)

[2017-06-12 16:49] davidebbo commented on #286
Not sure. To isolate, try going to Kudu console and doing a fresh 'git clone' of that same repo. DOes that also fail? Also, is this failure consistent or mostly random?

If the issue it pure git, we should move it to https://github.com/projectkudu/kudu, and the function part is likely incidental here.

[2017-06-12 16:50] ahmelsayed commented on #226
@guitarrapc please share your function app name or session id.

[2017-06-12 19:01] ThomasArdal commented on #286
I think this is related to the performance of the machines, when running on the consumption plan. If going to Kudu and cloning an empty Bitbucket repository, this normalle takes a few seconds. When cloning from Kudu on one of the Function apps running on the consumption plan, the clone of the empty project, takes more than a minute. When looking through the log file, it looks like the machines can

[2017-06-12 19:05] davidebbo commented on #286
Any chance that in the slow case, the Function App is set up to use an Azure File share that's in a storage account in a different region? That would make it much slower (although it is generally a slower file system).

[2017-06-12 19:07] ThomasArdal commented on #286
Any way I can see that through the UI? I didn't set up any file shares manually, but I guess the Function app needs some where to clone the code.

[2017-06-12 19:24] tenkatim commented on #226
Same issue. 4 different functions deployed to the same app service plan show Availability as "Not applicable". One of function also receives the following error.

![screen shot 2017-06-12 at 22 18 28](https://user-images.githubusercontent.com/2536540/27051160-c5e33bf2-4fbd-11e7-8de4-2accbcdb3cf3.png)

[2017-06-12 19:28] lindydonna commented on #286
@ThomasArdal Just look up the region of the storage account associated with your Function App. Look at the storage account specified in the app setting AzureWebJobsStorage.

[2017-06-12 19:31] ThomasArdal commented on #286
Spot on. My storage account is shared between function apps in all regions. And that storage account is in west us, which explains the speed of the function app in that region.

I guess a storage account per region would be the way to move forward? :smile:

[2017-06-12 19:32] ahmelsayed commented on #335
It looks like you deleted your app, though the error I'm seeing was

[code]

Which seems to point at an invalid service bus uri. What settings did you have for your function app? we should improve this error case.

/cc @mathewc @fabiocav

[2017-06-12 19:34] ahmelsayed commented on #226
@tenkatim share the text of the error message so I can copy the session id

[2017-06-12 19:38] tenkatim commented on #226
@ahmelsayed

Session Id: 30fc539eb27a4b199f49a3c3666b1e80
Timestamp: 2017-06-12T19:34:01.860Z

[2017-06-12 19:38] lindydonna commented on #286
Yes, we recommend using the same region as the Function App. When you use a Consumption plan, your app content is stored in Azure Storage file shares, so a different region will have a big impact on performance.

[2017-06-12 19:48] lindydonna commented on #286
@ThomasArdal In fact, we're going to change the storage account picker in the New Function App blade to filter to only accounts in the same region. Thanks for reporting the bug!

[2017-06-12 19:50] ThomasArdal commented on #286
Awesome. Thank you both for the help.

[2017-06-12 19:50] #286 closed

[2017-06-12 20:23] ahmelsayed commented on #226
@tenkatim your issue was setting `maxDequeueCount` to something less than 1. We need to improve that error case.

[2017-06-12 20:31] lindydonna commented on #336
Unfortunately, project migration is not supported. The funproj project is fundamentally different from the new class library approach, so you'll have to migrate manually. This was covered a the bottom of the blog post here: https://blogs.msdn.microsoft.com/webdev/2017/05/10/azure-function-tools-for-visual-studio-2017/

[2017-06-12 20:31] #336 closed

[2017-06-13 10:07] urig commented on #336
Thanks for the quick response @lindydonna .
I think it might be a good idea to fix the broken link in the Migration report so that it points an explanation like the one in the blog post.

[2017-06-13 12:01] mamoorkhan commented on #226
deleted the fucntion app, then recreated with the same name, now I am getting the following error
`We are unable to access your function keys. If the error persists, please contact support.
Session Id: a7d008dbb61c4079b9ce9540410f8507

Timestamp: 2017-06-13T11:56:54.929Z`

[2017-06-13 15:43] tafs7 commented on #293
@fabiocav  Is this new `ILogger` interface documented anywhere on https://docs.microsoft.com ?

Is there any reference code or samples of how to leverage this both from a script function (e.g. csx) and from a pre-compiled function?

I assume we need to add a nuget package reference to the pre-compiled class library (```Install-Package Microsoft.Extensions.Logging.Abstractions -Version 1.1.2```), c

[2017-06-13 15:49] cmatskas commented on #293
Seconded! A demo/sample code would awesome to help with adoption. Thanks

[2017-06-13 16:50] brettsam commented on #293
I've just put together an ILogger wiki topic here: https://github.com/Azure/azure-webjobs-sdk-script/wiki/ILogger. I'll add more to it over time, but that should give some information on background and usage. Feel free to weigh in here with more questions and I'll fill them in on the wiki page.

[2017-06-13 17:12] ahmelsayed commented on #226
@mamoorkhan can you try again now?
When you deleted your function app and recreated it with the same name, the IP of the new app end point was different, but DNS cache hasn't updated yet, so we were talking to the wrong IP for your app.

[2017-06-13 18:30] ThomasArdal commented on #286
For future reference: Changing storage account to the same region as the function, fixed the problem. The deployment still runs slowly, but at least it succeed.

[2017-06-13 19:49] tafs7 commented on #293
@brettsam quick questions - can the ILogger interface be used from local/debug (CLI)?

[2017-06-13 21:01] davidebbo commented on #286
@ThomasArdal thanks for following up!

[2017-06-13 21:20] lindydonna commented on #336
@urig Unfortunately, to update the link, we'd have to do a new release of the VS 2015 tooling, which we aren't planning on doing. I apologize for the confusing experience.

[2017-06-14 00:25] nhwilly commented on #158
Great information.

To make sure I'm not confused, this means I could take something thread safe, like an HTTP client, assign it to a static variable and if would be available for all my functions without having to create a new one each time.

Do I have that right?

[2017-06-14 01:30] cliffyq opened #337 "EventHub attribute not working in Visual Studio 2017 Azure Function tooling"
I'm creating a simple function in VS2017 with an eventhub output binding:
[code]
But when I run it I'm getting this error:
TimerTriggerCSharp: Value cannot be null.
Parameter name: eventHubName.

I've tried using IAsyncCollector<string> instead of "out string", also tried putting the eventHubName in my local.setting.json and reference it in the attribute, but I keep getting the same error.

[2017-06-14 08:09] afgreco commented on #291
By setting up my MSBuild arguments as explained here I am able to get a single .zip file with my azure functions projects bundled to it.  My issue is, my solution has several different Azure Functions projects inside of it, and I need to create a single zip per function so that I can then individually deploy them each to their valid Azure Service. I can see in my build logs that it is trying to re

[2017-06-14 08:14] mamoorkhan commented on #226
@ahmelsayed thank you, yeah it works fine now.

[2017-06-14 10:31] urig commented on #336
Thanks. Sorry for nagging, but what about fixing it from the other end? Putting a real page behind the link? :)

[2017-06-14 13:17] blade3 commented on #335
@ahmelsayed, how can I see the error message (stack trace)?
I'm looking in Kubu and I don't see that. (some error message or tracking log but not relevant information like this)
Because I have the same issues:

We are not able to retrieve the runtime master key. Please try again later.
Session Id: ef244646d81d4aa1843e6813fc8f06a3

[2017-06-14 13:34] xtrsys commented on #291
Why not create separate MSBuild task for each project with different output? Also it's not mandatory to have it as single zip. AppService deployments accepts folder as well.

[2017-06-14 14:51] afgreco commented on #291
@xtrsys I did spend a good amount of last night trying to get this to work with '<DesktopBuildPackageLocation>' in the actual project files with limited success. It looked like it may work if I just get the correct syntax working. That was one item I was going to continue on today.

The other option was to add a Zip Extraction so that I could then link to a folder. Same thing, it looks like that c

[2017-06-14 15:26] Samwise001 opened #338 "Http Function input always has a null content"
I've been at this one 2 days now and I'm getting absolutely nowhere.

I'm doing a pre-compiled function app. Its brought in the following nugets:
Fare
  Microsoft.AspNet.WebApi.Client
  Microsoft.Azure.KeyVault.Core
  Microsoft.Azure.WebJobs
  Microsoft.Azure.WebJobs.Core
  Microsoft.Azure.WebJobs.Extensions
  Microsoft.CodeDom.Providers.DotNetCompilerPlatform
  Microsoft.Data.Edm
  Microsoft.Data

[2017-06-14 16:44] slideep commented on #338
Hey there and cheers from sunny Creta . You are using Microsoft.NET.Sdk.Functions, correct? Have you tried running locally and/or creating a new function from a http trigger template?
`IAsyncCollector<T>` collector is an contravariant and takes in type of `T` item depending on which you are outputting your items. Also, **you need to curry and add parameter attributes** to both of your given parame

[2017-06-14 19:30] ahmelsayed commented on #335
@blade3 is your app still having issues? The only exception I see is regarding an invalid host.json which was empty but it looks like it's fixed now.
regarding finding these exceptions, we are working to improve the discovery of these errors, but if you have AppInsights integration they should show up there, also if you go to `D:\home\LogFiles\Application\Function\Host` you should see log files th

[2017-06-15 01:14] lindydonna commented on #291
@afgreco Have you seen this blog post?  It's a much simpler workflow: https://blogs.msdn.microsoft.com/appserviceteam/2017/06/01/deploying-visual-studio-2017-function-projects-with-vsts/

I'm closing this issue as Kudu now supports the new Functions project type.

[2017-06-15 01:14] #291 closed

[2017-06-15 01:41] dtriana commented on #335
I'm having the same issue as well, on a function that was working last night,
Error:

We are not able to retrieve the runtime master key. Please try again later.
Session Id: b04be814293641509ba95606e4094d4f

Timestamp: 2017-06-15T01:34:43.236Z

Any idea? Thanks.

[2017-06-15 10:13] Samwise001 commented on #338
I'm following the instructions here:
https://blogs.msdn.microsoft.com/appserviceteam/2017/03/16/publishing-a-net-class-library-as-a-function-app/

I cannot get the func azure command line to switch accounts to get the appsettings.json file though so I can't get it running locally. I do the command "func azure account set Development01" and get back "Unable to find $Development01", despite it being

[2017-06-15 14:36] justinyoo commented on #293
@tafs7 Unfortunately, not yet. But Azure Functions Core Tools beta.101 will include the update.

https://github.com/Azure/azure-functions-cli/milestone/8

[2017-06-15 16:04] sabbadino opened #339 "ServiceBusSubscription Trigger Function: ESB connection string not read from appsettings.json"
Using vs.net 2015 and a azure function project:
**Functions.json**
{
  "disabled": false,
  "bindings": [
    {
      "name": "mySbMsg",
      "type": "serviceBusTrigger",
      "direction": "in",
      "topicName": "notification",
      "subscriptionName": "d3-monitoring",
      **"connection": "EsbConnection",**
      "accessRights": "Listen"
    }
  ]
}

**appsettings.json**
{
  "IsEncrypted":

[2017-06-16 00:02] paulbatum opened #340 "Function project with dashes in title does not compile"
To repro:
1. Using functions tools for VS 2017, make a new function project with dashes in title e.g. "functions-example"
2. Add a function (such as http trigger)
3. Attempt to compile

Expected result:
Compilation is successful. The default namespace has its dashes replaced with underscores

Actual result:
Compilation fails due to namespace having a dash.

[2017-06-16 01:18] dtriana commented on #335
Scenario: Function created with VS2017, published with VS2017, tested on the portal, working.

After that, on the portal, platform features, authentication, enable authentication, and then the "runtime master key" error starts showing again, and the function is dead. Disabling authentication, republishing, doesn't work.

Latests Session Id Session Id: f5df5f68f07e4c329f14fb8947fe747e

[2017-06-16 01:21] duckwaffle opened #341 "Visual Studio Functions Project deploying - not picking up correct azure resource groups"
This one is a bit of a pain in the ass to repro, but in my VS environment I have multiple Azure AD accounts attached, for different azure subscriptions. When I try to deploy a functions project to an existing functions app, switching between the accounts that I have added to VS updates the subscription list, but it doesn't seem to update the resource group list correctly.

This may only be related

[2017-06-16 08:57] sabbadino commented on #339
btw, I'm getting this behaviour running on Azure, running locally it does work (but I have to put EsbConnection and not AzureWebJobsEsbConnection in the appsettings.json file) .. same problem using vsnet 2017 15.3 preview

[2017-06-16 12:41] hweaver225 commented on #75
@lindydonna - We are on an App Service Plan and about 10 days ago started seeing a 5 minute timeout when we had not been experiencing any such timeouts prior.  We are being told we need to rearchitect and stop using Azure functions.  Do you have any insight on this since you indicated we shouldn't see a timeout in an App Service Plan?

[2017-06-16 14:31] JawadS commented on #278
Hi @MarekLani , I am having the same issues running an EventHubTrigger locally, can you please help me with the format of the connection string you've added. Preferably the whole contents of local.settings.json that got yours to work? Thanks

[2017-06-16 17:10] ericleigh007 commented on #75
Make sure  ‘AlwaysOn’ is set in App Service settings.

If you want to use consumption, you currently need to refactor to get smaller bites less than 5  minutes each, just like AWS Lambda.

I have heard nothing from the team about increasing the time limit.

Sent from my Windows 10 phone

From: hweaver225<mailto:notifications@github.com>
Sent: Friday, June 16, 2017 8:41 AM
To: Azure/Azure-Functions

[2017-06-16 19:34] nhwilly commented on #172
Wow, that's complex.  Seems like a lot of fragile things a simple app developer could mess up (esp. me).

I've created objects that are instantiated using `ConfigurationBuilder` in my Asp.Net MVC project and it's working great.  The are shaped like the example below.  This same structure is to be shared by all the functions (see below).

There's no simple way of creating a static poco and populati

[2017-06-17 09:51] MarekLani commented on #278
Hi @JawadS
Here is content of locale.setting.json file:

`"IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "{StorageConnectionString}",
    "AzureWebJobsDashboard": "{StorageConnectionString}",
    "EventHub": "Endpoint=sb://{myeventhubnamespace}.servicebus.windows.net/;SharedAccessKeyName={KeyName};SharedAccessKey={key}",
  }`

Here is the definition of Run function:
` [FunctionName

[2017-06-18 14:32] urig commented on #335
Experiencing the exact same behavior. FUNCTIONS_EXTENSION_VERSION is ~1. How can this be fixed?

[2017-06-18 17:44] scionwest opened #342 "Unit Tests can't load System.Net.Http when referencing Azure Functions with a HttpTrigger"
I can create a brand new Azure Functions project with a new HttpTrigger function. If I add a Unit Test project (full net461 framework) and try to run the function I get a `FileLoadException` at runtime because it can't load System.Net.Http, version 4.1.1.0.

I'm also seeing that if I create a new `HttpRequestMessage` and try to call the `CreateResponse()` extension method from within my Unit Test,

[2017-06-18 22:01] jonnyleigh opened #343 "Function Application got snarled up and lost reference to mscorlib"
I have a function app which contains around 20 functions, a couple of which are called multiple times a second.  One of my functions "data_WaveStatus" today started failing and each request was throwing error such as:

2017-06-18T21:25:11.431 (45,13): error CS0518: Predefined type 'System.Boolean' is not defined or imported
2017-06-18T21:25:11.431 (47,18): error CS0103: The name 'Int32' does not e

[2017-06-19 07:53] rawlukMike commented on #342
I fix that with app.config:
<dependentAssembly>
<assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
</dependentAssembly>

Unit tests seems not to pick up correct version.

[2017-06-19 08:31] dersia commented on #275
Hi @jvano , changing dns and site config won't help, since the url to the api is put into the web.config of the angular (portal) site. It needs manual adjustment to work... it's not that hard, but since it is not documented, not everyone will find it.

anyhow, i just opened all the ticket just to keep track of what still needs to be done. in the end that's why we have preview, right?

[2017-06-19 08:38] rawlukMike commented on #214
According to:
[App service SKU comparison matrix](https://blogs.msdn.microsoft.com/appserviceteam/2017/03/23/azure-app-service-web-api-mobile-ase-azure-functions-sku-comparison-matrix-2/)
Traffic Manager Integration SHOULD work for functions cause it's ok with consumption plan.
And it does... for a while.
Then traffic manager goes to STOPPED state for functions and its no longer working.
There is

[2017-06-19 09:01] sadgit commented on #335
I dropped an app and re-created with same name but different plan. Did it on Friday and am still getting this error after the weekend.

[2017-06-19 09:29] JawadS commented on #278
Hi @MarekLani  Thank you very much for this it worked fine, however when I run the trigger in visual studio it just settles at the message `Job host started` and doesn't display any output for the actual execution of the function? i.e when i run the function in Portal and keeps getting triggered by messages received at the EventHub however locally nothing is happening ? any idea what might be the

[2017-06-19 13:21] bmoregeo commented on #337
Hello I'm having the exact same issue.  I was able to "fix" this by changing "eventHubName" to "path" in the function.json after it was published.  It looks like something is broken on the publication process that it is not setting the function.json correctly.

According to this link https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-hubs the output should look like

[

[2017-06-19 15:29] julianatanasoae opened #344 "Can't pick custom language in New Function dialog"
Hi everyone,

When creating a new Azure Function from VS2017, it seems that you cannot choose a custom language, other than C#:

This is the New Function dialog in the VS2017 tooling:

![image](https://user-images.githubusercontent.com/3001526/27292747-10a16466-551d-11e7-9f60-c669766e37bd.png)

And this is the New Function dialog in older versions:

![image](https://user-images.githubusercontent.c

[2017-06-19 15:56] tjrobinson opened #345 "How can I configure an Azure Function triggered by Service Bus with a custom INameResolver?"
I want to be able to control the name of the Service Bus Queue or Subscription that my Azure Function reads from at run-time.

With WebJobs (which Azure Functions are based on) you could do this by implementing and configuring a custom `INameResolver`, see: https://stackoverflow.com/questions/33860550/how-to-have-a-configuration-based-queue-name-for-web-job-processing

However, with Azure function

[2017-06-19 17:19] makerofthings7 opened #346 "Should I use SignalR or Azure Service Bus to buffer high load websites and the function backend?"
I want my mobile apps and asp.net website to leverage the same Azure function backend.

When ASP.NET MVC or IIS do multithreading, there is a lot of overhead. What is the correct way to Async/await call an Azure function without negatively impacting IIS when under load?

SignalR seems to have solved this problem. Does that mean that a SignalR component should exist between an ASP.Net website and a

[2017-06-19 21:30] jvano commented on #275
Yes and thanks for letting us know!

I thought it will just work by using the site's config but I was wrong. I'm re-opening this issue and we will get this fixed for the next release.

[2017-06-19 21:53] ericleigh007 opened #347 "The clean and rebuild actions should allow overwrite of the function.json"
Currently, if I have a timer function with the entry point:
`        [FunctionName("FunctionTimerOrchestrator")]
        public static void Run([TimerTrigger("0 */5 * * * *")]TimerInfo myTimer, TraceWriter log)
`

and I change the CRON value to something like

 and rebuild, the function.json does not get updated, and therefore the timer continues to fire on that schedule.

I've found that if I del

[2017-06-19 22:34] brettsam commented on #345
I'm linking this to https://github.com/Azure/azure-webjobs-sdk-script/issues/1579 -- we can start treating that as our tracking issue for a 'Dependency Injection' solution.

[2017-06-19 23:10] ahmelsayed commented on #335
@dtriana it looks like you have an invalid Authentication\Authorization settings. In particular the OpenId Issuer setting. You have it set to `someName.onmicrosoft.com` while it should be `https://login.microsoftonline.com/someName.onmicrosoft.com` How did you end up with that setting? were you following some guide or what made you fill in that for a value there?

[2017-06-19 23:18] ahmelsayed commented on #335
@sadgit are you still seeing errors? It looks like the errors that happened in session `163eda5c290943c3ac938f4fbc6eef73` were due to your functions running out of set quota. Did you have a quota set for your functions? I don't see any set now and it seems that your app is up at the moment.

[2017-06-20 08:28] gjlumsden opened #348 "[Visual Studio] IQueryable<T> Table binding direction is "out" in function.json"
I have the following parameter in a function decorated with the `TableAttribute`:

` [Table("%ArchiveTableName%", Connection="ArchiveTableConnection")] IQueryable<ArchivedEntity> tableQueryable`

Which results in the following binding configuration in function.json:

[code]
with `"direction"` set to `"out"`. When the function runs, everything works as expected. Shouldn't the `"direction"` be set t

[2017-06-20 08:46] sadgit commented on #335
What is set quota
New sessions with same issues (3de47d9fd8744044b7aae368716ccc91, 179af3a64a4f4dd499d75aedd680c883) Dropped and re-created the app (again). Should be no quotas set. All functions are event hub/service bus and seem to run - but the UI won't permit tests or monitoring.

[2017-06-20 13:45] scionwest commented on #342
I'll give it a shot and report back thanks

[2017-06-20 17:49] ttrace1995 commented on #191
Azure functions is incredibly slow and unpredictable. I don't understand how they could screw something up this bad considering they seem to pride themselves on this feature.

[2017-06-20 18:03] panchagnula commented on #191
@ttrace1995 sorry that you are having a bad experience with functions, can you please comment if the slow behavior is specific to the Monitoring tab or are there other components that you are having problems with. Please let us know. Thank you!

[2017-06-20 18:39] ttrace1995 commented on #191
@panchagnula So my node.js function pulls data from a database and sends a chunk of that data to a service bus in json format. The function is doing what its supposed to, meaning that I am seeing the messages appear on the service bus. However in the monitor tab for my function, the logs show all yellow exclamation marks with no log messages. I am using context.done() to signify when the function

[2017-06-20 19:01] ttrace1995 commented on #191
ok everyone who may be having this same problem. FIRST, make sure you are using context.done() to exit out of your function when exceptions are thrown or if the function completes. SECONDLY, go to Function Apps -> YourFunction -> Platform Features -> Diagnostic Logs  to turn on logging for your function. Why in gods name you have to manually turn this on I have no idea. But this way you can at lea

[2017-06-20 20:59] lindydonna commented on #191
Btw, turning on logging is only required if you want logs when you're not in the portal. When not connected to the portal, logging is automatically turned off.

[2017-06-20 22:22] brettsam opened #349 "[Visual Studio] Adding a newer Azure Storage Nuget breaks app"
1. Create a fairly ordinary QueueTrigger that uses a `CloudQueueMessage` as a parameter:

       [FunctionName("QueueTriggerCSharp")]
       public static void Run([QueueTrigger("mover-items", Connection = "AzureWebJobsStorage")] CloudQueueMessage myQueueItem, TraceWriter log)
       {
          log.Info($"C# Queue trigger function processed: {myQueueItem}");
       }

2. Add the latest WindowsAzu

[2017-06-20 23:58] ahmelsayed commented on #348
belongs in https://github.com/Azure/azure-functions-vs-build-sdk

[2017-06-21 00:00] ahmelsayed commented on #347
which version of the build task do you have? You can find that from your csproj.

![2017-06-20_16-59-41](https://user-images.githubusercontent.com/645740/27361095-e1f6bb94-55d9-11e7-88bf-19d50eec29e2.gif)

[2017-06-21 00:07] ahmelsayed commented on #335
ah, the errors for these sessions are different. You are running into this issue https://github.com/Azure/azure-functions-ux/wiki/Manually-fixing-CryptographicException-when-trying-to-read-function-keys

I had a nicer error message for this issue, but it looks like the string I was looking for changed so it's no longer showing the right error message.

Can you try the steps in the wiki above?

[2017-06-21 01:30] madaz opened #350 "Service Bus Topic trigger goes to sleep"
I have a .Net 4.6 class library with 2 Service Bus Topic triggers for the same Service Bus, but different topics.

The Service Bus (Standard tier) and the Azure Functions (Consumption plan) are in the same Resource Group in 'Australia East'

When i visit the portal.azure.com site and navigate to the landing page for the specific Azure Function it all starts working.

Using Kudos DebugConsole i vis

[2017-06-21 02:01] lindydonna commented on #75
@hweaver225 If you're using an App Service Plan, you can run as long as you want, just make sure "Always On" is on.

On a Consumption plan, you can run for up to 10 minutes if you set a value for `functionTimeout` in host.json (see https://github.com/Azure/azure-webjobs-sdk-script/wiki/host.json).

The maximum timeout is documented here: https://docs.microsoft.com/en-us/azure/azure-functions/funct

[2017-06-21 03:38] ChRonX13 opened #351 "ServiceBus Trigger requires SharedAccessKey with Manage claim"
Unsure if this is intended or an issue with the tooling. Was hoping someone could shed some light on this.

We have previously setup our Azure Service Bus to have multiple shared access policies, namely one where we have a Send claim and one where we have a Listen claim. For our current use case, we were hoping to create a Function with a ServiceBus Topic Trigger to listen for events that we wishe

[2017-06-21 08:44] gjlumsden commented on #348
It does. Apologies. [The issue is already logged there](https://github.com/Azure/azure-functions-vs-build-sdk/issues/54).

[2017-06-21 09:23] sadgit commented on #335
Just deleting the files in session f8f25972d1a64012921a16c07589d73b @ 2017-06-21T09:18:19.448Z still gives the same error, although the keys are regenerated still seeing a 500 with "Cryptographic error. Unable to encrypt or decrypt keys."
{"id":"5274e39a-3db4-4d33-b6bf-4fbd6ee2412c","requestId":"40aec39e-18c2-47ab-a76b-167e5218b9f8","statusCode":500,"errorCode":1000,"messsage":"Cryptographic error

[2017-06-21 14:31] JasonBSteele commented on #128
I still cannot find any documentation that compares Functions to API Apps

[2017-06-21 21:13] lindydonna commented on #349
This issue was moved to Azure/azure-functions-vs-build-sdk#59

[2017-06-21 21:13] #349 closed

[2017-06-21 21:14] lindydonna commented on #348
@gjlumsden Thanks for following up. Closing this issue as a duplicate.

[2017-06-21 21:14] #348 closed

[2017-06-21 22:23] paulbatum opened #352 "Deployment documentation does not outline deploying code to prod"
The deployment section of the docs covers:
- continuous deployment
- ARM deployment of the function app resource

The section does not actually include instructions of how you would manage the deployment of your function app code to production. For example, using a release job in VSTS to do a msdeploy operation. Instructions for this step are going to be important once the customer wants to set up

[2017-06-21 22:26] ahelland opened #353 "Binding/trigger for Azure Data Lake Store"
Much like it's useful to process incoming blobs on their way into blob store it could be useful to process files landing in Azure Data Lake Store. Possibly something like a file for which there is no ADLA extractor where Azure Functions could process it, and create a metadata file more suitable for the purpose.

Anything in the pipeline for this?

[2017-06-22 02:57] jon8884 opened #354 "Long running Blob Triggered function successfully completes and then starts again for same blob"
If you have a function that runs for a long period of time, it will trigger the blob in an infinite loop.   The function will successfully complete and then kick off again for the same blob.   As in this example there is a 10 minute delay, I'm seeing using an app service plan not the consumption model.

Runs indefinitely in sequence:
 [FunctionName("My Function")]
  public static void Run([BlobTri

[2017-06-22 09:12] sergei3000 opened #355 "Feature request: Anaconda's libraries preinstalled for Python"
It would be great to have the most used Python packages pre-installed. Like those in the Anaconda distribution, for example.

[2017-06-22 14:49] samontgo commented on #334
You may be able to move forward if you change the version to `1.1.0`.

[code]

Perhaps it depends on the version that the Functions apps have built into them?

[2017-06-22 19:14] nhwilly commented on #293
How can I bind to an `ILogger<T>`?  I am trying to reuse code from my MVC package and in that system, And the `Microsoft.Extensions.Logging` requires a type parameter.

[2017-06-22 21:05] lindydonna commented on #354
@brettsam Could you take a look?

[2017-06-22 21:11] brettsam commented on #354
It's this bug: https://github.com/Azure/azure-webjobs-sdk-script/issues/1600.

This has been fixed and will be in our next release. I'll update all of these linked issues when it goes out to everyone.

[2017-06-22 21:11] lindydonna commented on #344
We do not plan to add a language picker to the Add Function dialog. We will add a new project template for F# however, and will add templates.

For other languages, we recommend using the Azure Functions Core Tools. See https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local

[2017-06-22 21:11] #344 closed

[2017-06-22 21:11] brettsam commented on #354
Closing this as a dupe of the other one.

[2017-06-22 21:11] #354 closed

[2017-06-22 21:12] lindydonna commented on #337
@bmoregeo and @cliffyq, have you tried updating your NuGet package Microsoft.NET.Sdk.Functions to alpha6?

[2017-06-22 21:14] lindydonna commented on #339
The connection string name should match what's in local.settings.json (appsettings.json is deprecated). See documentation here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local#local-settings-file

[2017-06-22 21:16] lindydonna commented on #338
Here's a working example (it binds to a POCO, but you can use HttpRequestMessage as well): https://github.com/lindydonna/CoderCardsV2/blob/master/CoderCards/CardGenerator.cs#L47

[2017-06-22 21:43] bmoregeo commented on #337
I thought I installed alpha6 in that package, but actually installed it in another package. It looks like upgrading did the trick.

[2017-06-22 21:44] lindydonna commented on #337
Awesome, I'll go ahead and close this issue. Please reopen or open a new issue if the problem returns.

[2017-06-22 21:44] #337 closed

[2017-06-23 06:51] rawlukMike opened #356 "Enable Proxies through ARM, Powershell, Azure CLI, REST."
Currently there is no way (or not documented?) to enable Proxies through any kind of script.
Azure Templetes, Azure Resources, REST call, Powershell, Azure CLI... I would take ANYTHING.
This is completely breaking automatic deployment of many projects.
Proxies are great even in preview. Please make them "DevOps compatible" ASAP.

Thanks for your hard work ;)

[2017-06-23 12:36] Nosmadas commented on #158
And as an extension to the previous question - will this behave the same in precompiled functions?

[2017-06-23 12:39] rawlukMike commented on #356
OK Microsoft support informed me that proxies are controlled by:
ROUTING_EXTENSION_VERSION in appSettings
To enable that it's required to set it to: "~0.2"

This probably should be documented as example somewhere.

# Can be closed #

[2017-06-23 12:39] #356 closed

[2017-06-23 15:14] sadgit commented on #335
Still getting this issue despite clearing the key file several times
Session: ec463356b03546c3944822de3138ad5d

[2017-06-23 16:05] fabiocav commented on #158
@Nosmadas yes, the behavior for pre-compiled functions will be *mostly* identical. One thing to keep in mind is that, in that model, if you have multiple functions defined in your assembly, you have the ability to share static state across functions as well (not just invocations of the same function).

To accomplish the same with the dynamic (CSX) model, you'd need to load a shared assembly.

[2017-06-23 18:39] tohling commented on #230
Bug is fixed and currently in production.

[2017-06-23 18:39] #230 closed

[2017-06-23 19:14] nhwilly commented on #293
Sorry, let me ask that more clearly.

I am sharing business logic methods (in a DLL) between my MVC app and my Azure functions.  MVC DI takes care of injecting an `ILogger<T>` when needed, but Azure Functions gives me an `ILogger`.

I know this is a completely noobish question, but I can't seem to create an `ILogger<T>` properly in Azure Functions so I can pass it along to my business logic method

[2017-06-23 19:15] lindydonna commented on #356
@rawlukMike Thanks for following up!

[2017-06-23 19:26] brettsam commented on #293
Good question. I haven't looked much at `ILogger<T>`. An `ILogger<T>` looks like it is an `ILogger` that stores the name of `T` as the category name. For Functions we don't use a Type to generate our category (the type names get pretty unwieldy), so we use the category "Functions" for all of our Loggers that we pass to customer functions. I can try to think through what this would mean to pass a f

[2017-06-23 19:33] nhwilly commented on #293
@brettsam Thanks for responding.  That was the first thing I tried.  But the dependency injection in MVC doesn't like trying to resolve an `ILogger` or I don't know what I'm doing.  Probably the latter.

I'm pretty sure I'm not the only one with libraries trying to be shared between MVC projects and AF.  It would be great if stuff just lined up.

As I understand it, there's no access to DI in AF,

[2017-06-23 19:44] ahmelsayed commented on #335
@sadgit which function app is having these issues? I see logs for few different apps, there is **01*** and **01**(slot), and **03**
the logs are referring to the 01 app as the one having issues, but that app doesn't exist any more so I can't look at it.

[2017-06-23 19:56] brettsam commented on #293
This was the example I remembered seeing: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging#how-to-create-logs.

Assuming that I'm looking at it correctly, the DI is passing an `ILogger<T>`, yet it is stored in the class as an `ILogger`. Then any business logic should be able to work off of `ILogger`. So you don't need to change your DI setup, but the business logic could change ev

[2017-06-23 20:14] sadgit commented on #335
I dropped the app and created #2 that is ok am going to wait for a few days
before rebuilding it under that name.

On 23 Jun 2017 20:44, "Ahmed ElSayed" <notifications@github.com> wrote:

[2017-06-23 20:36] nhwilly commented on #293
Exactly.  in the sample code from [here](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging) shown below shows it in the method signature with `<T>` and the local field is just `ILogger`.  That's how I set up my library.

But if I try to call that same method from my AF where there is no DI, iI can't pass in `ILogger<T>` since I don't have it, and it doesn't like `ILogger` at all.

[2017-06-23 20:41] brettsam commented on #293
Would you mind sharing the code for how you're trying to do this in Functions? If you don't want to post it publicly, you can send it to my email (listed in my Github profile). I want to see what we can do to get this working.

[2017-06-23 20:42] nhwilly commented on #293
Sure, one sec…

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Brett Samblanet<mailto:notifications@github.com>
Sent: Friday, June 23, 2017 4:41 PM
To: Azure/Azure-Functions<mailto:Azure-Functions@noreply.github.com>
Cc: nhwilly<mailto:billnoel@outlook.com>; Comment<mailto:comment@noreply.github.com>
Subject: Re: [Azure/Azure-Functions] Replace TraceWriter wit

[2017-06-23 20:49] ahmelsayed commented on #335
@sadgit let me know if you hit the same issue again. I'd like to look into it if there is a repro. Sorry about all the hassle

[2017-06-23 21:07] nhwilly commented on #293
Ok, it's in your email.  Thanks again.

[2017-06-23 21:30] brettsam commented on #293
That gives me a clearer picture, thanks. In my head I was envisioning the business logic all encapsulated in your own class -- let's call it `MyBusinessLogicHelper`. So I was imagining you register that with the DI, and then your classes constructed by MVC were constructed like:

[code]

Short of refactoring that, one option you could use right now is to write a wrapper class that implements `ILog

[2017-06-23 21:56] jchilde opened #357 "long running queue triggered function does not dequeue"
Not sure if this is a cli issue or a function issue. I am trying to upload large files to sharepoint from azure storage.

My function completes fine; however, it does not dequeue if it lasts a long time. I think the time is 5 minutes.

I am NOT using a consumption based app. For example, a 20mb file takes 1 minute and dequeues.  A 1.2gb file takes 20mins and doesn't dequeue.

Any ideas on how to t

[2017-06-23 22:11] nhwilly commented on #293
Wow, great.  I'll try to implement it right now.

Actually I have a generic `Service<T>` base class that is extended for the various types in the system and it indeed does hide the repository.  My API and MVC controllers just use the services to perform the same functions.  Controllers do almost nothing at this point.

I elected not to use the `Service<T>` classes in AF as they are heavier than ju

[2017-06-23 22:19] nhwilly commented on #293
Well, I got this...
`Microsoft.Azure.WebJobs.Host: Cannot bind parameter 'logger' to type ILogger. Make sure the parameter Type is supported by the binding. If you're using binding extensions (e.g. ServiceBus, Timers, etc.) make sure you've called the registration method for the extension(s) in your startup code (e.g. config.UseServiceBus(), config.UseTimers(), etc.).`

Also, in the same code, I p

[2017-06-23 22:57] apengwin opened #358 "Run a function asynchronously?"
Is there a way to programmatically trigger a function, and have it run in the background?

When I send a `POST` request to an HTTP trigger, I have to wait for the function to complete, but I'm looking for a way to get a response right away, and have the function run asynchronously.

[2017-06-23 23:57] lindydonna commented on #358
This is usually accomplished by creating a queue output binding and using that to trigger another function. Here's a C# class library example: https://github.com/lindydonna/CoderCardsV2/blob/master/CoderCards/CardGenerator.cs#L47

Here's a graphical representation of the bindings (use my visualizer site at http://functions-visualizer.azurewebsites.net)

![image](https://user-images.githubuserconte

[2017-06-23 23:57] #358 closed

[2017-06-24 00:04] nhwilly commented on #293
Update: Well I can see how this would work but I'm caught in some kind of version wormhole.

I can't get my MVC project to work unless I include `Microsoft.Extensions.Logging` v1.1.2 which apparently comes with `Microsoft.Extensions.Logging.Abstractions` as part of the deal (although I can't find it referenced anywhere in the NuGet dependencies).

If I just leave my function project with the defau

[2017-06-25 11:19] adiazcan opened #359 "Azure Function Runtime Preview can't start container"
I just try to running Runtime Preview on three virtual machine on Azure. Is it possible? I have the following errors trying to start the remote container.

[code]

[2017-06-25 23:20] ggailey777 opened #360 "Visual Studio tools how to topic"
We need a dedicated topic that explains how to use the Visual Studio tools. We can't do this in the VS quickstart topic.

[2017-06-26 07:20] thdotnet opened #361 "Implement a Lease on File that holds Azure Function Code"
I was doing some tests with a Azure Functions and I realized that it creates many things inside my Azure Storage Account. I've removed content from "Blobs", "File Shares", "Tables" and "Queues" and now I realized the code of my Azure Functions is gone.

For some important items there's a lease that blocks me to remove the content, but on the file that stored my code there wasn't. Here's my feedbac

[2017-06-26 07:24] thdotnet opened #362 "possbile portal bug"
Right now I can't remove my Azure Functions through the portal.
![bug](https://user-images.githubusercontent.com/1413082/27528548-0d9bfc58-5aa5-11e7-826b-d61633e7fa05.png)

[2017-06-26 15:44] brettsam commented on #293
We have a version conflict with the latest logging assemblies. We're tracking that elsewhere -- https://github.com/Azure/azure-webjobs-sdk-script/issues/1570. We will get the proper assembly redirects in place so that this doesn't happen.

[2017-06-26 15:45] nhwilly commented on #293
Wow, OK, great to know.  Thanks!

[2017-06-26 17:29] ggailey777 commented on #360
PR is here: https://github.com/Microsoft/azure-docs-pr/pull/15960
Staged [here](https://review.docs.microsoft.com/en-us/azure/azure-functions/functions-develop-vs?branch=pr-en-us-15960)

[2017-06-26 18:04] apengwin commented on #355
+1. Interested in this, since we're looking to port [PyWren](https://arxiv.org/abs/1702.04024) to Azure functions.

[2017-06-26 18:18] apengwin commented on #358
thanks for the quick response @lindydonna ! This looks like what i'm looking for. Is this any different from simply inserting a message into the queue from my client instead of the HTTP-triggered function?

[2017-06-26 18:29] lindydonna commented on #358
@apengwin It's no different, but it can be more convenient to use an HTTP trigger, since then the client doesn't need permissions to write to the queue.

[2017-06-26 18:43] lindydonna commented on #362
Yes, this is a bug that will be deployed today. Closing as duplicate. https://github.com/Azure/azure-functions-ux/issues/1469

[2017-06-26 18:43] #362 closed

[2017-06-26 18:45] lindydonna commented on #361
We previously added a storage account lock, but it was a very confusing experience for most customers. Instead we've documented how the storage account is used, and it's also in the tooltip when you create an account.

![image](https://user-images.githubusercontent.com/4260261/27554911-de3268d4-5a64-11e7-9555-72c95d5f2bc1.png)

Link goes here: https://docs.microsoft.com/en-us/azure/azure-functions

[2017-06-26 18:45] #361 closed

[2017-06-27 15:44] ttrace1995 opened #363 "Unpredictable Azure Function Timeout/Hang Ups (Node.js)"
Use this repo to file issues in documentation or the Functions Visual Studio tooling.

For technical help, please visit our forums: https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=AzureFunctions or use the azure-functions tag on Stack Overflow: http://stackoverflow.com/questions/tagged/azure-functions.

- For documentation issues, please provide exactly what is wrong/missing and wh

[2017-06-27 19:06] ahmelsayed commented on #359
/cc @jvano

[2017-06-27 20:02] apengwin opened #364 "Is there a limit to the deployment size?"
If I'm deploying a function over FTP, is there a limit to how large the function directory can be (including modules etc.)

[2017-06-27 20:33] jvano commented on #359
Hi

The error says:  **failure in a Windows system call: No hypervisor is present on this system**

The reason is that we are using Hyper-V container technology which is like running inside a virtual machine. If the machine running the "Azure Functions Runtime" is a virtual machine, then you need to be able to support nested virtualization.

To enable nested virtualization, you need to run the fol

[2017-06-27 20:33] #359 closed

[2017-06-27 21:43] apengwin opened #365 "Is there any way to deploy a function to run in a Linux container/environment?"

[2017-06-27 21:48] ahmelsayed commented on #365
Work is in progress https://github.com/Azure/Azure-Functions/issues/98#issuecomment-306361546

[2017-06-27 21:58] apengwin commented on #365
@ahmelsayed  Gotcha. Thanks!

[2017-06-28 03:38] VenkateshSrini commented on #98
Hi,
Any update on where we are on this. I would like to run Azure web on Azure Linux box and host my work load here. Also I will be happy if we can containerize the same and also deploy them on cloud foundry as now Microsoft is a Gold Member in Cloud Foundry. Also now since .NET core 2.0 with .NET standard 2.0 supports most of the API, the transition is going to be lot more easier.
Regards

[2017-06-28 07:20] #360 closed

[2017-06-28 07:21] ggailey777 commented on #360
Published https://docs.microsoft.com/en-us/azure/azure-functions/functions-develop-vs

[2017-06-28 11:12] tmartinholm opened #366 "ApiHubFileTrigger doesn't execute with consumption plan"
#### Investigative information
I'm using the apiHubFileTrigger with the onedrive connector (onedrive_ONEDRIVE).
The output of the job is against onedrive as well.
I'm running the consumption plan so the problem has nothing to do with "always on".
My function.json looks like:
[code]

It's working well when I monitoring the script inside the azure portal. But soon as I close the editor and wait for

[2017-06-28 12:16] Samwise001 commented on #338
I'm getting the same issue, but it started happening when I upgraded the System.Net.Http nuget package. Been at this for HOURS now and getting nowhere

[2017-06-28 12:18] Samwise001 commented on #338
I'm not using the attribute-based as per my post above and not using the Sdk.Functions stuff so unfortunately thats not relevant.

I've actually recreated this in another function app now by upgrading the System.Net.Http nuget to the latest version

[2017-06-28 19:51] lindydonna commented on #98
@VenkateshSrini This work is in progress. You can see the detailed status by watching the issues that @fabiocav listed above: https://github.com/Azure/Azure-Functions/issues/98#issuecomment-306361546

[2017-06-28 19:58] lindydonna commented on #338
@fabiocav Can you comment on why System.Net.Http doesn't seem to work if on the latest version?

At any rate, @Samwise001 I think you have a workaround, which is to downgrade to the version of System.Net.Http that is specified as the dependency of the NuGet package [Microsoft\.Azure\.WebJobs\.Extensions\.Http](https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.Http/1.0.0-beta1).

We

[2017-06-28 20:55] scottrudy opened #367 "Microsoft code flow authentication won't work due to "code" query string parameter"
When trying to do a code flow authentication (e.g. with [OneDrive, Step 2](https://dev.onedrive.com/auth/graph_oauth.htm#step-2-redeem-the-code-for-access-tokens)) there is a conflict in the query string parameter. Code flow requires a callback after authentication to a URL where it will pass back the authorization code using the query string parameter `code`. However, the function also requires t

[2017-06-28 23:20] paulbatum opened #368 "Add in documentation that Node.js global vars may be kept between deployments"
_From @yvele on February 24, 2017 20:20_

Specially usefull information when using Webpack to [drastically reduce Azure Function cold start](https://github.com/Azure/azure-webjobs-sdk-script/issues/298#issuecomment-281779696).

I understand the global vars sharing when I tried to use `babel-polyfill` and got this error:

[Babel polyfill](https://babeljs.io/docs/usage/polyfill/) is using global var

[2017-06-28 23:20] paulbatum commented on #368
_From @lindydonna on March 14, 2017 0:14_

@christopheranderson @yochay Shouldn't this be moved to the Functions repo, since it's about documentation?

[2017-06-28 23:20] paulbatum commented on #368
_From @christopheranderson on April 3, 2017 17:17_

@lindydonna - yes this should be moved

[2017-06-28 23:20] paulbatum commented on #368
_From @lindydonna on April 3, 2017 19:35_

@christopheranderson Could you file a new issue in the docs repo to track this?  You have more context on the doc requirement.

[2017-06-29 18:54] lindydonna opened #369 "Functions Core Tools article should mention that it's currently Windows only"
The article https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local should add a note that the Core Tools only works on Windows.

[2017-06-29 20:21] lindydonna commented on #364
@apengwin No, there's no limit. However, you'll be paying more Azure Storage costs, because the files are stored in Azure Files.

Note that on the consumption plan, triggers will not be synced to the scale controller if you use FTP. To work around, you should click the refresh button in the portal after your FTP upload. For more information, see https://github.com/Azure/Azure-Functions/issues/210

[2017-06-29 20:21] #364 closed

[2017-06-30 21:53] lindydonna commented on #336
@urig Good point. I'll track down the page owners and follow up.

[2017-07-02 16:41] vyjayanthiraja opened #370 "Function goes idle when running in Consumption Plan with Service Bus Queue trigger"
I have a function app containing two functions and the app is deployed in the Consumption Plan. Both functions are triggered by two different service bus queues, one for each function. However, I notice that the functions appear to be idle and don't process the service bus queue messages as soon as they come in. I need to browse to the function on the portal and it is only at that point that the f

[2017-07-02 17:21] tohling commented on #370
@vyjayanthiraja, is the Service Bus connection string for the Function in question assigned only Listen rights?  If yes, to mitigate, kindly use a connection string that has Manage rights.  There is a regression that is fixed but not yet rolled out to production.

We are tracking the fix [here](https://github.com/Azure/azure-webjobs-sdk-script/issues/1048#issuecomment-310538965).

[2017-07-02 17:27] vyjayanthiraja commented on #370
No it has Manage rights, in fact I just updated to use the RootManageSharedKeyAccess connection string but still seeing the idle behaviour.

[2017-07-02 17:52] tohling commented on #370
I will need the following information to investigate further:

1. When the Function executes as expected in the Portal, you should be able to see the "Function completed..." entry in your logs.  Could you provide something similar to the following?

 `2017-06-27T08:11:51.359 Function completed (Success, Id=abcdefg-69f8-4374-ad58-905645418a00, Duration=2770ms)
`

2. The region your Function App is

[2017-07-02 18:03] vyjayanthiraja commented on #370
@tohling thanks a lot for the quick responses! Here is the information:
1. Are these the logs you are talking about or something else?
![image](https://user-images.githubusercontent.com/6101620/27772372-af289486-5f15-11e7-9a17-963227e23cd1.png)
I can't find the specific line you referenced so I'm hoping this is equivalent. Here's the context id in that image : 184fb268-b395-49fb-bf00-1aeaee8ddeef

[2017-07-02 18:18] tohling commented on #370
In the Functions Portal, browse to your Function code, e.g. run.csx, or index.js file.  At the bottom on the UI, click on the "Logs" button to launch the log view.  If there are new events entering your Service Bus, your Function should trigger and execute your code.  The log view should show "Function started..." followed by a corresponding "Function completed..." entries.  If your Service Bus is

[2017-07-02 18:23] vyjayanthiraja commented on #370
Alright I triggered one of my functions and here is the log line
2017-07-02T18:22:08.479 Function completed (Success, Id=4fd1c5c1-597e-461c-a1d0-5e8ce692ae6e, Duration=11ms)
Let me know if you need anything else!

[2017-07-02 18:29] tohling commented on #370
Thanks!  I am not too familiar with the monitoring page snapshot that you posted earlier, but the context id would have worked as well.  I am investigating and will update this thread soon.

[2017-07-02 19:13] tohling commented on #370
Looking at the function.json configuration for both your ServiceBus Functions (A****Processor and N****Processor), I noticed that the entry for the connection string is set as

`"connection":"serviceBusConnection"`

In your Function App's app settings, I could find only the setting with the key `AzureWebJobsserviceBusConnection`.  Could you try **one** of the following?

1. Modify the key `AzureWe

[2017-07-03 01:17] vyjayanthiraja commented on #370
@tohling thanks a lot for the quick update, option 2 worked for me! I do have a couple of follow up questions though:
1. When I initially deployed the functions with just the key "serviceBusConnection", I received an error message stating that the "AzureWebJobsserviceBusConnection" was missing. So I renamed it to "AzureWebJobsserviceBusConnection". But, as you rightly pointed out, this causes my f

[2017-07-03 03:22] tohling commented on #370
@vyjayanthiraja, glad to hear that your Function is working as expected now.

**Answer 1.** It is possible that the pipeline that does not rely on the central listener accepts a connection string of the format `AzureWebJobs{connectionStrinKeyName}`.  I checked our [documentation](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus) and the only comment I could fin

[2017-07-03 13:10] brettsam opened #371 "Unable to delete function"
Spawned from: https://github.com/Azure/azure-webjobs-sdk-script/issues/1621#issuecomment-312445052

[2017-07-03 13:11] brettsam commented on #371
@spelltwister: Could you share your function app name -- either directly or indirectly? We can look at our logs to see what may be the problem.

[2017-07-03 13:29] sadgit commented on #335
@ahmelsayed - I had the same issue again today - I let the name I wanted lie idle for 10 days to let all caches drain.
Re-created the app under that name and after configuring the problem came back with a nicer message "can't decrypt keys".
So I dug around in the storage account ("AzureWebJobsSecretStorageType" = "Blob").
I found all sorts of old keys for apps and functions that no longer existed.

[2017-07-03 15:52] ahmelsayed commented on #335
/cc @krolson and @fabiocav who would know more than I do about this.

What are the encryption keys used when the secrets are hosted on blob? I'm trying to understand what is the flow that could cause this error to happen.

[2017-07-03 16:29] sadgit commented on #335
I'm not sure. However the blob store can be interrogated and you may well find a mass of old settings that don't relate to you current apps. On delete, make sure that the blob store is cleared out. On create ensure no conflict with previously stored keys.

[2017-07-04 04:44] vyjayanthiraja commented on #370
@tohling thanks so much for the detailed explanations, those are really helpful! I went ahead and deleted the AzureWebJobsserviceBusConnection string and it still works. I guess the error occurred back when I didn't have any app settings (including serviceBusConnection) specified. I will go ahead and close this issue now, thanks for the quick resolution!

[2017-07-04 04:45] #370 closed

[2017-07-04 15:52] ssatheeshkumar opened #372 "VNET Integration from App Service Plan"
Hello,

I am trying to establish a P2S connection between an Azure Function running in app service plan and a VM in a VNET. I have implemented a simple function to create / read a file in one of the shared folder of the VM but unable to do so. Using a tcpping from the kudu resulted in error "An attempt was made to access a socket in a way forbidden by its access permissions ". Not sure what i am m

[2017-07-04 18:58] spelltwister commented on #371
ghsprouts2

[2017-07-05 18:03] brettsam commented on #371
@spelltwister -- is your issue deleting the function itself or the entire app? Are you doing this via the portal?

[2017-07-05 21:18] lindydonna opened #373 "Error in code sample for blob binding"
The blob sample here shows an assignment from string to stream. Should change it to Stream.CopyToAsync, probably:

https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob#incsharp

[code]

[2017-07-05 22:00] apengwin opened #374 "Is there a way to read and write from blob storage without using an input binding?"
I'm wondering if there's a way to  could use the client libraries for blob storage in the function to access blob storage.

I tried running  `from azure.storage.blob import BlockBlobService`  in the portal, but I get a no such module import error.

[2017-07-06 00:20] lindydonna commented on #374
What language are you using?

[2017-07-06 01:29] apengwin commented on #374
python, but also looking into C#

[2017-07-06 20:00] apengwin commented on #374
@lindydonna  is this possible with python?

[2017-07-06 21:33] JORGEGO commented on #350
Any advance?

[2017-07-06 22:36] ahmelsayed commented on #350
This is by design. logs are not written to the file system unless the portal is pinging the app. This is an optimization because writing to the filesystem is slow and if you have a very high throughput function the file system will significantly reduce that. You should be logging into App Insights if you want high throughput logs.

though if you don't care about that and always want log files set

[2017-07-07 01:06] madaz commented on #350
@ahmelsayed Did you fix the problem with Service Bus Trigger going to sleep for class libraries?  My issue is not with the logging, but thanks for the tip.

[2017-07-07 01:36] ahmelsayed commented on #350
I should have read the whole issue and not just skim it :)
Can you share your app name either directly or [indirectly](https://github.com/projectkudu/kudu/wiki/Reporting-your-site-name-without-posting-it-publicly).

[2017-07-07 01:37] ahmelsayed commented on #374
you'd need to pip install the module you want to import. We don't have any python modules preinstalled on the VMs

[2017-07-07 02:16] madaz commented on #350
@ahmedelnably
```2017-07-07T02:15:17.927 Function started (Id=607e530a-38e5-4bdb-a9d8-63f4576926c9)```

[2017-07-07 05:15] JORGEGO commented on #350
I have the same issue.

I remember the same behaviour to the Azure Web Jobs, its going to sleep if not activity is doing, and to maintenance the running status you should change the configuration and plan.

[2017-07-07 14:14] DaveVoyles commented on #301
@andrewchungxam **Thank you!** I had the same issue and this resolved it.

[2017-07-07 14:40] leftler opened #375 "[Visual Studio] Is it currently possible to do CI with functions generated via the VS integration?"
I am trying to set up Continuous Integration of a Function App that is developed using the Azure Function Tools for Visual Studio 2017 and am running in to a bit of trouble.

When I try to do "Deployment Options" from the azure portal and point it to my VSTS repo of the code I get the following as the output of the compile operation.

 - Updating submodules.
 - Preparing deployment for commit id '

[2017-07-07 16:00] leftler commented on #375
I figured it out using VSTS,

Instead of using the default template with the MSBuild arguments of `/p:DeployOnBuild=true /p:WebPublishMethod=Package /p:PackageAsSingleFile=true /p:SkipInvalidConfigurations=true /p:PackageLocation="$(build.artifactstagingdirectory)\\"` I replaced that with `/p:DeployOnBuild=false`, removed the "Azure App Service Deploy" step, then added another Visual Studio build

[2017-07-07 16:00] #375 closed

[2017-07-07 18:43] tohling commented on #350
@JORGEGO, could you kindly provide the following?

1. In Portal, under the Log view, there should an entry that looks similar to the following,

`2017-07-07T02:15:17.927 Function started (Id={some id})`

2. The region your Function App was deployed in.

We will investigate promptly.  Thanks!

[2017-07-07 21:42] paulbatum opened #376 "Support for 64bit function development"
You can configure your function app to run in 64 bit mode when running in Azure, but the local experience in visual studio does not support running locally in 64 bit. If you try to switch your project over to target x64 you'll get the following error:

[code]

[2017-07-07 21:52] ahmelsayed commented on #376
ref: https://github.com/Azure/azure-functions-cli/issues/117

[2017-07-07 21:56] SyntaxC4 opened #377 "Document how to use Functions in an ILB ASE"
You should be able to just create a function app as you’d on azure. However to use the function UX (to be able to run and manage your functions from the portal) you need to be able to access https://yourApp.YourILBDomain.com and https://yourApp.scm.YourILBDomain.com from the machine you’re managing the function app from without ssl errors in the browser.
So the requirements are:

1)	Be in the same

[2017-07-07 22:51] madaz commented on #350
@ahmelsayed Region is Australia East.

[2017-07-08 00:11] ahmelsayed commented on #350
@madaz sorry for the delay. It appears that you have your service bus connection string with `accessRights: "listen"` we have a bug where we don't handle that correctly and incorrectly assume that there is no work to do. The fix is ready and will get deployed soon. a work around is to use a connection string with `manage` access rights. Would you mind giving that a try ?

[2017-07-08 00:24] madaz commented on #350
@ahmelsayed thanks, I will try on Monday Australia AEST  when I'm back at work. How can we track when the listen fix is published.

[2017-07-08 00:25] ahmelsayed commented on #350
I can update this issue once that's done if that works for you?

[2017-07-08 01:15] madaz commented on #350
Yes please. Thanks

On 8 Jul. 2017 10:25 am, "Ahmed ElSayed" <notifications@github.com> wrote:

[2017-07-08 01:46] spelltwister commented on #371
I just tried again and it deleted.  The function app with the above name would not delete the past weeks that I've tried.  Using the delete button in the portal with the function app blade open, it would appear in my alerts as "Deleting app ghsprouts..." and spin for few hours.  I tried this several times.  This time it promptly refreshed with the app deleted.

[2017-07-08 17:36] sebastianroesch opened #378 "[Visual Studio] function.json bindings not generated correctly for ServiceBus output"
Hi,

I downloaded the latest version of the Azure Function Tools extension for Visual Studio 2017 Preview.
I created a function in C# with a ServiceBus queue output like this:
[code]

When I publish from VS, the generated function.json has two errors and is not recognized by Azure. The JSON keys for `queue` and `access` are different compared to those the Azure portal generates when I add an integ

[2017-07-10 14:24] richardjharding opened #379 "Templated http trigger function when adding new function fails when name passed as form content"
VS 2017 preview 15.3
Azure functions ext 0.2

Not sure if this is correct repo to raise in...

When I add a new function http trigger the code that is scaffolded includes this

[code]

this works as expected when the name=foo is passed in the url

But I see an exception when the value is passed in the form body as implied by the code

[code]

This is caused by this line

[code]

I could get it to

[2017-07-10 15:08] tjrobinson opened #380 "Error when deploying with VSTS"
I can publish from Visual Studio 2017 Preview without problems but get this error when deploying using VSTS and a Hosted VS2017 host.

`C:\Users\buildguest\.nuget\packages\microsoft.net.sdk.functions\1.0.0-alpha3\build\netstandard1.0\Microsoft.NET.Sdk.Functions.targets(44,5): error : Could not load file or assembly 'Microsoft.Azure.WebJobs.Host, Version=2.1.0.0, Culture=neutral, PublicKeyToken=31b

[2017-07-10 16:29] leftler commented on #380
run the build with the `system.debug` variable set to `true` then re-create the error. After that on the failed build with the debug information click the "download all logs as Zip" button on the build and attach the logs as a reply to this issue..

[2017-07-10 16:34] mattridgway opened #381 "Binding error with SendGrid precompiled function using VS2017 preview tooling"
I've created a precompiled function which uses the VS2017 functions preview tooling, which has a Service Bus Queue input trigger and a SendGrid output trigger. However whenever it runs it has an error

[code]

This is the same whether I run it through the portal or run it locally. I've created an [example repo here](https://github.com/mattridgway/SendGridPrecompiledFunction) which will show the er

[2017-07-10 19:15] tjrobinson commented on #380
I am worried about posting potentially sensitive information to a public place. Is there somewhere private I can send the logs?

[2017-07-10 19:56] pavankvd commented on #353
Yes. Can we get a trigger for a files placed in Data Lake Store, similar to blob triggers for Azure Blob Storage

[2017-07-10 20:23] lindydonna opened #382 "[Visual Studio] Include a local version of the Core Tools in the Functions Tooling"
To avoid the additional download, we should include a version of the Core Tools in the Azure Functions Tooling package for VS 2017.

[2017-07-10 21:16] TheeJamesLee opened #383 "host.json seems to be compiled in the bin folder, not at root level."
Hi,

Using VS 2017 Preview 15.3 with Azure Functions Tooling.  Create a Functions App with a couple of Http trigger functions.  Apply a change to the host.json.

[code]

Followed the general build steps for building on Visual Studio Team Services and MSBuild arguments
[code]
 and deploying on a functions web app.  All good, except... **the host.json doesn't get packaged at the same level as the fo

[2017-07-11 11:46] TheeJamesLee opened #384 "Discovery of App Insight Version"
Hi,

Re https://github.com/Azure/Azure-Functions/wiki/App-Insights-(Preview)

Looks great so far. Just wondering what version of the App Insights package is actually being deployed  (On a Consumption Function Plan) ?

Can't seem to find a package reference in a Compiled function app (Vs Preview 15.3) or anywhere on the WebApp in Azure.  But magically providing the application insights key... it wo

[2017-07-11 12:22] TheeJamesLee commented on #384
I think I've already solved this, but if you could confirm I am correct that would be ace (and reference in the doc page :) )

- Azure functions pulls in the WebJobs sdk package because it is of course built upon it.
- Webjobs sdk has a logging extension with [Microsoft.Azure.WebJobs.Logging.ApplicationInsights](https://github.com/Azure/azure-webjobs-sdk/tree/5d55eb1614c9146625c0179de9cdad530ea3ca

[2017-07-11 14:32] leftler commented on #383
The only workaround I found for this (using the 1.0.0-alpha6 version of `Microsoft.NET.Sdk.Functions`) was to not create a packaged zip for deployment and let it use the publish in visual studio to upload the file using the command line,

In my VSTS build job I replaced the command you had with `/p:DeployOnBuild=false`, deleted the "Push to Azure Web App" step, let my unit tests run, then after th

[2017-07-11 14:46] TheeJamesLee commented on #383
@leftler okay, at least that's an option.  I'm actually building these out with ARM templates so completely avoiding the local publish profiles and as far as possible manual hacks - because then we need to remember to do them for every app...

This isn't blocking me currently, because the current process I have building and releasing works fine... I only found it because I needed to match an exist

[2017-07-11 15:27] iettv opened #385 "Azure functions does not pick up latest referenced dll added to bin folder"
Functions always run with older version of dll which are referred in bin folder.

New .net project dlls added to bin folders are not picked by the functions. have tried restarting the function apps, it didnt work.

But If i create a new azurefunction and refer new dlls. It will work.
Functions seems to be caching the dll.

[2017-07-11 17:15] leftler commented on #245
I want to voice my interest in this feature too. We are setting up a pipeline like system with azure functions and being able to correlate multiple requests together would be super useful.

[2017-07-11 19:14] lindydonna commented on #383
@TheeJamesLee I'm the program manager for the Visual Studio Functions integration (so please provide feedback to me!)

Make sure that you're using the alpha6 version of the NuGet package. That resolves the host.json issue.

[2017-07-11 19:51] brharr opened #386 "Update document for handling of local.settings.json"
Currently the documentation page which covers how to store and use values within the local.settings.json file is more than a year old and is not valid.

https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local

For example, there are references to using System.Environment and System.Configuration namespaces to retrieve values from the file and those are no longer valid namespaces

[2017-07-11 20:42] leftler commented on #383
@TheeJamesLee actually, thanks to your post showing how i was messing up my build arguments I have ARM deployments working now and don't need to do the work-around anymore.

[2017-07-11 20:54] TheeJamesLee commented on #383
@lindydonna spot on, was still on the alpha3 package on that solution where I needed the change. Thank you!

[2017-07-11 21:07] lindydonna commented on #383
@TheeJamesLee Thanks for following up!

[2017-07-11 21:07] #383 closed

[2017-07-12 00:24] lindydonna commented on #336
I followed up with the page owners, so we'll see if they fix it.

[2017-07-12 00:55] lindydonna commented on #386
@brharr The article is actually quite new, it looks like we didn't update the date. The new Azure Functions project type is based on .NET Core 2.0, and the functions actually run on .NET 4.6 full framework.

What issue are you running into?  Can you provide some code that you can't get working?

[2017-07-12 00:57] lindydonna commented on #383
@leftler Have you tried following the steps here? https://blogs.msdn.microsoft.com/appserviceteam/2017/06/01/deploying-visual-studio-2017-function-projects-with-vsts/

[2017-07-12 01:01] lindydonna commented on #301
@DaveVoyles and @andrewchungxam Thanks for the update!

[2017-07-12 01:05] lindydonna commented on #379
How are you calling the function?  Try sending it as just raw JSON.

[2017-07-12 01:07] lindydonna commented on #385
Are you using the new Visual Studio functions folder?  If you restart the function app, it will definitely pick up the newer version; there is no caching going on.

Are you possibly deploying different versions to the bin folder of a function?  In that case, it will load it as a assembly that is private to a function.

[2017-07-12 06:40] iettv commented on #385
Yes i am using visual studio 2015 to publish the changes to Azure functions. All the latest dll are in the bin folder private to Azure function.  Have restarted the app it still didnt pick up.

![image](https://user-images.githubusercontent.com/19573960/28104869-b5d5f53e-66fa-11e7-9c20-2ee01361a509.png)

VideoEncodingOutputQueueWatcher2 function works which is copy paste of VideoEncodingOutputQueu

[2017-07-12 07:17] richardjharding commented on #379
ahh got it yes that works - thanks

I wonder if it might be worth changing the help/error message returned - or comment in the code to make it clear thats what the ReadAsAsync<object>() call expects?

[2017-07-12 07:30] iettv commented on #385
Surprisingly, Today when I tried the old function it did pick up the dll changes.

I tried again by  adding a new property in a model and tried to set a value to the newly added property. again same error. azure function fails to get the new property.  May be new dlls will be picked up some time later.  You can see the log trace below

![image](https://user-images.githubusercontent.com/19573960/28

[2017-07-12 07:30] TheeJamesLee commented on #379
@richardjharding I don't think that the error message is unclear personally... the media type formatter is more around http content serialization/deserialization.  I haven't dug into the code, but I believe that it is likely that the HttpTriggerAttribute binding is only reading in the format application/json (if that is the formatter or a more manual way to reading the content, I don't know - it m

[2017-07-12 07:34] TheeJamesLee commented on #384
I believe I have convinced myself that it is 100% coming from the WebJobs Sdk package and is compiled within.

[2017-07-12 07:34] #384 closed

[2017-07-12 07:56] TheeJamesLee commented on #245
Just a quick query around this;

Is this proposing to change the function's operationId value... or that we want to be able to group these operations as 1 thing?  I think these are 2 very different points.

IMO, Application Insights is at a point where it can provide most of what I think @damienpontifex is after but it's about setting the ParentId - I'm just hunting to find the discussion that cle

[2017-07-12 08:01] damienpontifex commented on #245
Thanks @TheeJamesLee I wasn't aware of the `ParentId` property so will check that to see if it's sufficient.

[2017-07-12 08:24] TheeJamesLee commented on #245
@damienpontifex I have just found links to their official explanation of their data model.  The above was from the top of my head looking at a request in app insights with logical assumptions.

For reference, [this is the 'official' place for their correlation in application insights](https://docs.microsoft.com/en-us/azure/application-insights/application-insights-correlation).

[this is the place

[2017-07-12 10:22] richardjharding opened #387 "Error Microsoft.NET.Sdk.Functions.targets Could not load file or assembly Newtonsoft.Json, Version=9.0.0.0"
I'm trying to use the AlexaSkillsKit.net package [AlexaSkillsKit](https://github.com/AreYouFreeBusy/AlexaSkillsKit.NET)

With the latest tooling vs2017 preview, azure functions sdk

Adding a function compiles fine until I add the reference to the package above and attempt to use it in the function

Here is my csproj

[code]

and here is the error

[code]

Looking at the nuget packages for both the

[2017-07-12 15:08] leftler commented on #245
I wanted to provide a use case (which I am running in to right now and trying to figure out the best way to do it). Having a HttpTrigger function that writes out to a ServiceBus, then another function(s) with a ServiceBusTrigger pulling from that queue and processing items.

The ServiceBus system already has a `BrokeredMessage.CorrelationId` that could be used to flow the id from one function to t

[2017-07-12 18:25] cliffyq commented on #230
I have a event triggered function using non-default consumer group and consumption plan, it still goes idle every once a while and I have to restart the function to let it pick up new events, looks like this bug is not fixed

[2017-07-12 18:25] lindydonna commented on #379
Thanks for following up.

[2017-07-12 18:25] #379 closed

[2017-07-12 18:37] TheeJamesLee commented on #245
@damienpontifex, @leftler, @brettsam, please have a read over this, I've done a bit more digging around 'correlation', AI docs, some test calls to really get a feel what's going on.

The stuff I am working on currently is going to be heavily used in only a few months and I'm extremely keen to help get this correlation story sorted before then so we can see what's going on cleanly.

At the end I've

[2017-07-12 19:12] lindydonna commented on #385
If the function is still executing, you won't get the new DLLs until it stops running. That could explain the difference.

Also, if you're using the same DLLs in multiple functions, you're much better off putting them in a bin folder in the root, so they are shared. It's very easy to make mistakes with function-private assemblies, particularly when it comes to deploying different versions of the s

[2017-07-12 19:13] lindydonna commented on #385
Also, the VS 2015 tooling is no longer supported. We recommend that you use the VS 2017 preview tooling, which can install side-by-side with VS 2015. See https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-your-first-function-visual-studio

[2017-07-12 20:07] leftler commented on #383
@lindydonna  I had not seen that blog post, I was using the `Azure Web App` template instead of the `ASP.NET Core (.NET Framework)` template.

[2017-07-12 20:35] lindydonna commented on #383
@leftler Yes, definitely use the ASP.NET core one. Otherwise you'll have to customize the msbuild command line.

[2017-07-12 21:03] leftler commented on #383
@lindydonna one snag I am running in to. If I have more than one project in my solution I want to publish using that template only generates a single zip file for the whole solution. I would like a zip per publish target, but I can do that easily enough using multiple build steps and specifying specific projects instead of just letting it do all of them in a single build.

[2017-07-12 21:28] lindydonna commented on #383
@leftler I would ask the VSTS team, as this is not my area of expertise. Post on https://developercommunity.visualstudio.com/spaces/21/index.html.

[2017-07-12 23:14] paulbatum opened #388 "General Availability of App Insights integration"
This is a tracking issue for the App Insights support in Azure Functions to go into general availability.

@brettsam @christopheranderson please expand this with a list of major outstanding issues or links to appropriate work items. This should include both UX and backend.

[2017-07-13 01:21] cliffyq opened #389 "Azure Function running on consumption plan not triggered by event"
I have a event triggered function using non-default consumer group and consumption plan, it goes idle every once a while, probably because it has drained all events and there's no new event coming into the event hub for some time, and then there's no online server for the function and even if new events are coming to the eventhub, the function won't be triggered, I have to restart the function to

[2017-07-13 02:24] tohling commented on #389
@cliffyq, we will need some information about your Function to troubleshoot the issue.  Could you kindly repro a successful execution in the Azure Function Portal provide the following?

1. In Portal, under the Logs view, there should a log entry that looks similar to the following for an execution of your Function.

`2017-07-07T02:15:17.927 Function started (Id={some id})`

2. The region your Fun

[2017-07-13 09:16] TheeJamesLee opened #390 "[AI Custom Telemetry] Avoid requirement of BYO telemetry client (external logger) in function code"
VS Preview 15.3 Azure compiled functions

In the Wiki it discusses the ability to [send custom telemetry](https://github.com/Azure/Azure-Functions/wiki/App-Insights-(Preview)#custom-telemetry).  This requires a developer for every function to have to define base telemetry client data (ie, Context.Operation.Id, ParentId, etc) to manually 'sync' the output to AI - which needs to stay in sync with ch

[2017-07-13 18:54] leftler commented on #388
I know ILogger was introduced to provide better logging with App Insights. I reported a possible issue that may need to be fixed before GA.

Issue: https://github.com/Azure/azure-webjobs-sdk-script/issues/1675

[2017-07-13 19:26] fabiocav opened #391 "Warnings building new Azure Function project in VS 2017 due to bad nuget pkg references"
_From @bc3tech on July 12, 2017 20:53_

Visual Studio 2017 Preview 15.3
Azure Function tools v0.2

Create a new Azure Function project
F6 (Build Solution)

Observe warnings:
[code]

_Copied from original issue: Azure/azure-webjobs-sdk-script#1673_

[2017-07-13 19:30] cliffyq commented on #389
2017-07-13T19:28:53.170 Function started (Id=3cf1c0e3-2d9e-4e93-ab9d-38598eb73d00)
Region is West US
Thanks.

[2017-07-13 21:05] lindydonna commented on #391
@bc3tech This is a bug in the underlying SDK we use and is tracked here: [Build warning about Microsoft\.Build\.Utilities\.Core \#220](https://github.com/aspnet/websdk/issues/220)

You can safely ignore the warning.

[2017-07-13 21:05] #391 closed

[2017-07-13 21:42] tohling commented on #389
@cliffyq, could you clarify how you determined that your Function App was not being triggered?

I checked our internal logs for the past 2 days, and here are the findings:

1. Starting ~2017-07-12 00:00:00 UTC the Function App started scaling up instances and had a sustained execution of >1 worker instances up till  ~2017-07-12 10:00:00 UTC.  The number of actively executing workers were in a rang

[2017-07-13 22:36] cliffyq commented on #389
There is another function running on app service plan that's triggered by the same event hub(using a different consumer group), it received events in the "relative quiet period from ~2017-07-12 10:00:00 UTC to ~2017-07-12 18:00:00 UTC", and I've confirmed that those events were indeed sent in that period.
The "burst" you see at 2017-07-12 18:00:00 UTC is right after I restarted this idle function

[2017-07-13 23:19] tohling commented on #389
@cliffyq, thanks for the additional info.  I will need some time to investigate further and will update this thread with my findings.

[2017-07-14 08:05] gjlumsden commented on #381
Not sure that the type `SendGridMessage` is supported. The [docs](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-sendgrid) indicate that `Mail` is the supported type for SendGrid output bindings.

Might be worth trying the pre-release version of Microsoft.Azure.WebJobs.Extensions.SendGrid (2.1.0-beta1) if changing the type doesn't help. I had a similar message using 2.0.

[2017-07-17 00:21] duckwaffle commented on #387
This is probably going to be due to the fact that the AlexaSkillsKit library is an old style .net library using the old format .csproj.

The issue is that Binding Redirects aren't being generated automatically, if you add the following:
`<PropertyGroup>`
`  <AutoGenerateBindingRedirects>true</AutoGenerateBindingRedirects>`
`  <GenerateBindingRedirectsOutputType>true</GenerateBindingRedirectsOutput

[2017-07-17 01:01] duckwaffle opened #392 "WebDeploy does not remove function.json file for functions which no longer exist"
I'm using VSTS to deploy a function app that is being written using the preview Functions Tooling in vs2017, and I'm following the steps defined [here](https://www.joshcarlisle.io/blog/2017/5/17/visual-studio-2017-tools-for-azure-functions-and-continuous-integration-with-vsts).

When I started the project, I created a test HttpTrigger, named "HttpTriggerTest". I have since replaced that endpoint w

[2017-07-17 16:24] leftler commented on #380
@tjrobinson the closest I know of is on the [Application Insights wiki page](https://github.com/Azure/Azure-Functions/wiki/App-Insights-(Preview)#providing-feedback) Perhaps send a email there with the private details.

[2017-07-17 18:34] lindydonna opened #393 "Cannot debug Azure Function from Cloud Explorer"
_From @bc3tech on July 12, 2017 20:34_

Filing issue per direction [here](https://social.msdn.microsoft.com/Forums/expression/en-US/ead896df-75d0-4a4f-abec-6ff5892e9b9c/remote-debugging-azure-functions-with-vs2017-preview-3-and-latest-azure-function-tools?forum=AzureFunctions&prof=required) and despite instructions shown [here](https://blogs.msdn.microsoft.com/webdev/2016/12/01/visual-studio-tools

[2017-07-17 18:34] lindydonna commented on #393
_From @tohling on July 12, 2017 21:59_

@bc3tech , this is a currently a known issue.  It is being actively investigated and fixed by the VS team that owns Cloud Explorer.

To unblock yourself immediately, we suggest that you try to an older workflow that may involve a few extra steps but should work.  Here are the steps:

1.  From the Portal, under the **Overview** tab,
     a. Download the publi

[2017-07-17 18:35] lindydonna commented on #393
@bc3tech This should be fixed soon with an in-place update to Cloud Explorer. I'll update this thread when the fix is out. Thanks for your patience.

[2017-07-17 20:59] melzoghbi opened #394 "Auto generation for OpenAPI json file from function app in VS2017"
Hi,

I am developing Azure Functions in VS2017 5.13 (Preview) and I would like to generate project documentation from the swagger json file which i generated from azure portal. Since visual studio 2017 doesn’t generate the file, so I got the initial file from azure portal and copied over into my project under swagger folder. I want to re-generate this file when the code is updated automatically.

[2017-07-17 23:27] ggailey777 commented on #369
I added this note during my most recent update to the Core Tools topic: https://github.com/MicrosoftDocs/azure-docs-pr/pull/17263

[2017-07-17 23:29] ggailey777 commented on #369
This fix is now live: https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local
Closing as fixed.

[2017-07-17 23:29] #369 closed

[2017-07-17 23:31] ggailey777 opened #395 "Functions topic for PowerApps"
MBlythe and GlenGa are working on an integration topic that demonstrating using Azure Functions with Power Apps.

[2017-07-17 23:42] ggailey777 opened #396 "New a new function app topic"
We need a new topic that describes the function app, which I believe is also called out in the doc plan.
This need was reinforced by the CRF on the existing Application Settings topic.
The new topic serves 2 purposes: a) describe what a function app is and how it works, and b) a place to link to App Service topics. Here is one example below:
https://github.com/Azure/Azure-Functions/issues/41

[2017-07-18 00:49] ggailey777 commented on #101
We should cover this in the function app topic #396

[2017-07-18 01:22] duckwaffle opened #397 "Functions Tooling - Binding POST input as POCO in HttpTriggers?"
Reading through the documentation for .csx style functions, it looks like it's possible to bind the body of a POST request for a HttpTrigger to a POCO in the method signature, is this supported in the Function Tooling for VS? If there aren't any attributes that support this type of binding in the SDK yet, how would you go about creating the function.json file that corresponds to that function so w

[2017-07-18 01:51] erich-wang opened #398 "[App Insights]Is that possible to set AI request.resultCode within C# EventHubTrigger"
[App Insights(Preview)](https://github.com/Azure/Azure-Functions/wiki/App-Insights-(Preview)) provides a convenient way to enable App Insights within Azure Function which is great, I'm wondering whether we could explicitly set request.resultCode within Azure Function?

[2017-07-18 11:35] Loreno10 opened #399 "[Visual Studio] Can't create Functions project - no template could be found"
I just installed latest Preview of Visual Studio 2017 15.3 (Preview 4) and Azure Functions Tools form Marketplace.
When I try to create a new Functions project I get the following error: "No template could be found with the group identity 'Microsoft.Azure Functions.ProjectTemplates'".

It's a fresh installation, I only installed Functions Tools, nothing more.

My OS: Windows 7 x64

[2017-07-18 14:40] TheeJamesLee commented on #398
Hi, from what I've found, the request logging to AI is done within the webjob.sdk internally with no easy way to manually override the values.

A discussion around the larger correlation story and integration with AI is happening on #245 .

In code [Here](https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs.Logging.ApplicationInsights/ApplicationInsightsLogger.cs#L200) i

[2017-07-18 15:15] mattridgway commented on #381
Good suggestion on trying out the beta, I will have a go later this week.

With regards to not using SendGridMessage, the SendGrid attribute XML docs/intellisense says `Attribute used to bind a parameter to a SendGridMessage that will automatically be sent when the function completes.` so i'd have assumed SendGridMessage was OK, although I wonder if this is anything to do with their breaking chang

[2017-07-18 17:46] ericleigh007 commented on #75
Okay, I had mentioned a need for longer running functions, but since that I did a complete refactor of my workloads and came up with this.
Timer function sets the whole thing in motion
- Looks at a master job list (in this case a SharePoint List), which can have snippets of stuff that need to be done
- For each entry in the list that is enabled, queues out an entry on an Azure Queue, in this case

[2017-07-18 18:45] lindydonna commented on #399
@vijayrkn Could you take a look?

[2017-07-18 18:47] lindydonna commented on #397
It is supported. Here's an example: https://github.com/Azure-Samples/functions-dotnet-codercards/blob/master/CoderCards/CardGenerator.cs#L47. It's binding the request to CardInfoMessage, which is a POCO.

[2017-07-18 18:47] #397 closed

[2017-07-18 18:48] lindydonna commented on #394
@alexkarcher-msft Could you please comment?

[2017-07-18 18:50] lindydonna commented on #392
What version of the Functions SDK package are you using?  https://www.nuget.org/packages/Microsoft.NET.Sdk.Functions. Make sure you're on the latest, as there were some bugs having to do with cleaning the output. We still have a bug that clean doesn't delete function.json, so please delete your bin folder manually.

If you're on the latest, take a look at your output folder and see if that test fu

[2017-07-18 18:56] lindydonna commented on #387
The problem is actually that we don't support binding redirects (in either the CLI or the runtime in Azure). So, you need to use the exact version that we provide in the runtime. The easiest way to discover these versions is to look at the dependencies of the NuGet package https://www.nuget.org/packages/Microsoft.Azure.WebJobs/2.1.0-beta1. This package is automatically added when you create a new

[2017-07-18 18:56] #387 closed

[2017-07-18 19:09] vijayrkn commented on #399
@Loreno10
Can you try File -> New Project -> ASP.NET Core Web Application -> Empty -> Ok
& then try creating a new Functions project to see if it fixes the issue?

[2017-07-18 20:19] lindydonna opened #400 "Add EventHub trigger binding data to Event Hub article"
Event Hub triggers provided a number of metadata properties, which needs to be included in the Event Hub binding article. See https://github.com/Azure/azure-webjobs-sdk/wiki/Trigger-Binding-Data#eventhubtrigger.

[2017-07-18 20:36] lindydonna commented on #334
@brettsam Any reason why this issue is in this repo, rather than script or SDK?

[2017-07-18 20:37] #338 closed

[2017-07-18 20:37] #339 closed

[2017-07-18 20:38] lindydonna commented on #342
CC @fabiocav and @MikeStall

[2017-07-18 20:38] lindydonna commented on #343
CC @fabiocav and @MikeStall

[2017-07-18 20:39] lindydonna commented on #345
FYI that you can use IBinder instead. See https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-csharp#binding-at-runtime-via-imperative-bindings.

[2017-07-18 20:40] lindydonna commented on #347
This issue should be fixed in the alpha6 version of the SDK. If the problem persists after upgrading, please reopen the issue.

[2017-07-18 20:40] #347 closed

[2017-07-18 20:41] lindydonna commented on #351
CC @tohling

[2017-07-18 20:41] lindydonna commented on #357
CC @MikeStall

[2017-07-18 20:42] lindydonna commented on #363
The issue body is just the template. Please file a new issue with more information.

[2017-07-18 20:42] #363 closed

[2017-07-18 20:42] lindydonna commented on #365
Closing as a duplicate of #98

[2017-07-18 20:42] #365 closed

[2017-07-18 20:44] lindydonna commented on #367
@mathewc Is this the ClientID issue?

[2017-07-18 20:44] lindydonna commented on #371
Closing since the issue is now resolved.

[2017-07-18 20:44] #371 closed

[2017-07-18 20:45] lindydonna commented on #372
CC @MikeStall

[2017-07-18 20:45] #374 closed

[2017-07-18 20:46] lindydonna commented on #378
We had a bug in the initial version of the SDK that generates function.json. Please manually clean your project and upgrade your NuGet package to the latest: https://www.nuget.org/packages/Microsoft.NET.Sdk.Functions

[2017-07-18 20:46] tohling commented on #351
@ChRonX13, this is a known issue that has been fixed but has not been rolled out to production.  Kindly see https://github.com/Azure/azure-webjobs-sdk-script/issues/1048#issuecomment-314893017

[2017-07-18 20:47] lindydonna commented on #380
Please see https://blogs.msdn.microsoft.com/appserviceteam/2017/06/01/deploying-visual-studio-2017-function-projects-with-vsts/

For this kind of question, [MSDN forums](https://aka.ms/func-forum) or [StackOverflow](https://aka.ms/func-so)  will get you a much faster reply. Please include your configuration in your question. Tracking IDs are not sensitive information, so they can be safely posted.

[2017-07-18 20:49] lindydonna commented on #381
I'm not sure of the question here. Are you asking whether `SendGridMessage` works, or just the `Mail` type?

[2017-07-18 20:50] #386 closed

[2017-07-18 20:50] christopheranderson commented on #346
There is a couple of questions here and I generally think these kinds of questions would work better on Stack Overflow with some code samples.

With Azure Functions, always use async - while there is some overhead for a single call, it is way more efficient to use async/await.

SignalR is efficient because it is 1 persistent connection with many messages. This doesn't work in Functions because you

[2017-07-18 20:50] #346 closed

[2017-07-18 20:53] christopheranderson commented on #390
@brettsam - a lot of this stuff we've talked about doing via ILogger, right?

[2017-07-18 20:54] lindydonna commented on #335
It looks like the main issue was resolved, so I'm closing.

For this kind of question, [MSDN forums](https://aka.ms/func-forum) or [StackOverflow](https://aka.ms/func-so)  will get you a much faster reply. Please include your configuration in your question.

[2017-07-18 20:54] #335 closed

[2017-07-18 20:55] christopheranderson commented on #398
This is probably included in the scope of what you suggested, @TheeJamesLee. Would you be interested in making sure this is covered in your issue then we close this as a dupe?

[2017-07-18 20:56] christopheranderson commented on #302
@mamaso - I thought we did do this?

[2017-07-18 20:57] sebastianroesch commented on #378
Thanks, I updated the package, cleaned the project files and cleared the Nuget cache but then it worked!

[2017-07-18 20:57] #378 closed

[2017-07-18 21:01] lindydonna commented on #378
@sebastianroesch Thanks for following up!

[2017-07-18 21:20] alexkarcher-msft commented on #394
Right now your best bet is to use CI/CD to deploy your function. Then you can update the OpenAPI definition directly in  \site\wwwroot\.azurefunctions\swagger\swagger.json

The generator is portal only at the moment, so you'll need to go to the portal and generate a new file each time you change your API.

We'd like to add this functionality in the future, so I'll leave this issue open and pending

[2017-07-18 21:33] TheeJamesLee commented on #390
Consolidating comments from #398 .

[Here](https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs.Logging.ApplicationInsights/ApplicationInsightsLogger.cs#L200) in the WebJob.Sdk you're setting the application insight request to 0, with no further modification - unless it is a HttpTrigger when you apply the HttpResponseCode.

Suggestion is to set response code to 200 if th

[2017-07-18 21:39] TheeJamesLee commented on #398
@christopheranderson  I have consolidated 'my' comments into #390 .

@erich-wang , can you just feedback if you feel your issue has been covered?

[2017-07-18 23:04] duckwaffle commented on #392
I'm on the latest alpha6, the output folder definitely no longer has the old function folder/function.json, and the web deploy package no longer has it either. It's almost as if the webdeploy process isn't cleaning up and removing the old function.

I just ran another test deploying from Visual Studio and the same thing happens, even though the function.json is no longer in the obj\PubTemp folder

[2017-07-18 23:10] lindydonna opened #401 "Add POCO example with HTTP binding"
Most customers don't know you can bind to **both** an `HttpRequestMessage` and a POCO. We should add it to the docs.

Example of POCO: https://github.com/Azure-Samples/functions-dotnet-codercards/blob/master/CoderCards/CardGenerator.cs#L47

[2017-07-18 23:11] lindydonna commented on #397
It turns out that it's not actually documented (at least, not directly)!  Thanks for pointing it out. We've created an issue to track to the doc improvement: https://github.com/Azure/Azure-Functions/issues/401

[2017-07-18 23:15] lindydonna commented on #392
That is surprising, given that WebDeploy usually does a diff. I'll have to try to repro.

For now, check the box to "Remove additional files at destination"

[2017-07-18 23:37] mikezks commented on #75
@ericleigh007: have you already tried to use the new [Durable Functions Framework](https://blogs.msdn.microsoft.com/appserviceteam/2017/07/06/alpha-preview-for-durable-functions/)? Maybe this helps too.

[2017-07-19 02:21] duckwaffle commented on #401
In the example above, you're binding the HttpTrigger directly to a POCO, which is awesome, but is it possible to bind to **literally both** the HttpRequestMessage and a POCO at the same time?

For example:
`public static HttpResponseMessage Run([HttpTrigger(...)]HttpRequestMessage request, [HttpTrigger(...)]POCO deserializedRequestBody)`?

[2017-07-19 02:59] erich-wang commented on #398
Thank you for the quick response. The reason I raised the question is it would be great if we could define our own logic for result of request.success/resultCode. (Currently the only way to set request.success as false is to throw an exception, I thought exception is kind of heavy). Just FYI, is it possible to provide the third optional parameter context (dictionary?) in Azure Function for such ki

[2017-07-19 03:27] fabiocav commented on #98
The WebJobs SDK port has been completed and merged.

The basic extensions work has been done to enable work on the Script Runtime (Functions Runtime) to begin and that is currently in progress, tracked by Azure/azure-webjobs-sdk-script#1576

[2017-07-19 06:54] Loreno10 commented on #399
@vijayrkn I tried that, nothing changed.
Also, I noticed, that in project type window (when creating new project) AzureFunctions project doesn't display 'lightning' icon, like in the examples. It's a different icon:
![image](https://user-images.githubusercontent.com/10273406/28354366-e8e055cc-6c5f-11e7-8b6b-2cb702905782.png)

[2017-07-19 09:15] balupton opened #402 "Functions Tooling for Visual Studio for Mac, or Visual Studio Code for Mac"
I've recently become very excited with Azure Functions. I am currently a Visual Studio Code for Mac user.

I noticed that there is Functions Tooling for Visual Studio ([page](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-your-first-function-visual-studio), [video](https://www.youtube.com/watch?v=A8y7kffqQ48)). I anticipated this meant Visual Studio for Windows as well as

[2017-07-19 09:23] TheeJamesLee commented on #390
@erich-wang 's comments from #389 .

[2017-07-19 09:35] TheeJamesLee commented on #398
I think because the output is logging-esk that putting just properties into the generic context may not be the way to go (as a developer I now need to remember string keys... great :( more chances to make mistakes and harder adoption... ).  I will note those 2 points (setting success & resultCode) from your last message in the issue referenced above so that they stay captured.

**I still think the

[2017-07-19 10:49] atrauzzi commented on #98
Will this open up improved local development options at all?

[2017-07-19 11:28] ahelland commented on #402
It´s only in a preview version of Visual Studio for Windows as well, so as far as GA versions go they are on par (as in "no tooling") :)

As for Azure Functions specifically there have been some low-level bits and bytes that only work on Windows from the OS perspective regardless of Visual Studio. Not sure where things are with regards to that part.

[2017-07-19 14:13] martijns opened #403 "[Visual Studio] DisableAttribute overloads not working as expected"
The Azure Function Tools for Visual Studio 2017 appears to generate the function.json incorrectly when it comes to the DisableAttribute. Whenever the [Disable] attribute is placed on a class or method, the generated function.json always contains `"disabled": true`. This is as expected. However, when using the DisableAttribute overload, such as the `public DisableAttribute(string settingName)` over

[2017-07-19 18:22] balupton commented on #402
Okay thanks. I guess it is a wait and see situation then. Seems the community ecosystem is going good work with extensions for Visual Studio Code, so will experiment with that until there is an official/comprehensive offering for mac users.

[2017-07-19 18:34] lindydonna commented on #98
@atrauzzi Yes. That was the main motivation for doing this work. We'll port the Azure Functions Core Tools to .NET Core and test on Mac/Linux.

[2017-07-19 18:42] lindydonna commented on #401
You can do this, but you'd put the trigger attribute on just the POCO. So it would be:

```Run([HttpTrigger(...)] POCO myObj, HttpRequestMessage request)```

HttpRequestMessage would then be populated in a similar manner as special objects like TraceWriter.

[2017-07-19 19:34] lindydonna commented on #402
@balupton We do have preview tooling for VS for Mac, but it is not as full-featured as our Windows tooling. In particular, it has the following limitations:

* No file/item templates
* Functions that use Queues or EventHub don’t work
* No publishing support

We plan to update the tooling sometime this calendar year. CC @mhutch

[2017-07-19 19:37] lindydonna commented on #403
This issue was moved to Azure/azure-functions-vs-build-sdk#69

[2017-07-19 19:37] #403 closed

[2017-07-19 19:58] melzoghbi commented on #394
Thanks @alexkarcher-msft! i will keep you posted.

[2017-07-19 21:12] Vaishnavims opened #404 "func.exe host start failing with "No job functions found. Try making your job classes and methods public.""
I used the Visual studio 2017 preview tooling support to create a function App which  is having one "TimerTrigger" function.

[code]
The function runs fine when starting the function app using Visual studio in debug as well as non debug mode.

But when I am trying to start the same function app using the Azure function Cli it fails with the following error:
No job functions found. Try making your

[2017-07-19 23:02] duckwaffle commented on #401
Neat! Thanks for the info :)

[2017-07-20 03:48] VenkateshSrini commented on #98
Hi,
So please help me understand. If I were to take the current tool and make
it run on Pure .NET core. What all should I do

Thanks and regards
Venkatesh

On Thu, Jul 20, 2017 at 12:04 AM, Donna Malayeri <notifications@github.com>
wrote:

[2017-07-20 05:01] fabiocav commented on #98
@VenkateshSrini that is the work that is currently in progress.

[2017-07-20 10:24] atrauzzi commented on #98
@lindydonna - Oh boy! You mean I won't need an active Azure subscription to tinker with functions?!? :)

+1000

[2017-07-20 11:02] tjrobinson commented on #345
@lindydonna Thanks, I've added a comment to that article, perhaps you could have a look rather than me duplicating it here?

[2017-07-20 11:05] tjrobinson commented on #380
@lindydonna That seems to have worked, thank you! I used the blob post to get going. I think the main difference between that and what I had before is that I had been using `dotnet publish` rather than `Visual Studio Build`.

[2017-07-20 11:05] #380 closed

[2017-07-21 17:34] cliffyq commented on #389
Is there any update? This happened again yesterday.

[2017-07-21 18:08] tohling commented on #389
@cliffyq, I apologize for the delay.  We were hoping that it was a glitch had planned to dig in for a postmortem albeit as a priority 2.  Since this is happened again, we will bump up this investigation asap.  Thank you in advance for your patience.

[2017-07-21 18:19] cliffyq commented on #389
Thanks, it's the same function, it stopped yesterday and I restarted yesterday afternoon. Now it seems to have stopped again, can I restart it now to kick it off or should I leave it stopped for you to investigate? I can hold off for a couple more hours if needed. Let me know if you need any additional info.

[2017-07-21 18:34] tohling commented on #389
@cliffyq, could you hold off for a couple of hours?  Let us take a look right now and we will update this thread soon.

[2017-07-21 18:46] cliffyq commented on #389
No problem

[2017-07-21 21:09] tohling commented on #389
@cliffyq, here are our findings so far.

1. One or more Functions inside your Function App seems to be experiencing a latency issues to out-bound endpoints.  Our logs indicate that there is high latency in the calls made to the following endpoints:

[code]
2. Some of the calls are cross-regions as well, specifically on port 1433, which is a well-known (not definitive) port for Azure SQL DB.

3. Th

[2017-07-22 00:53] cliffyq opened #405 "Health check / restart unresponsive function app"
This is related to #389, a function app may be unresponsive for some reason and won't be triggered by new events unless we manually restart it in the portal, can we do regular health check on the function apps and try restart when they become unresponsive?

[2017-07-22 06:34] KaiWalter commented on #270
Has anyone a working sample how to deploy the container image together with Function scripts etc. in Service Fabric?

[2017-07-24 03:57] erich-wang commented on #398
Thank you for the detail explanation, I'm fine to close the issue.

[2017-07-24 03:57] #398 closed

[2017-07-24 10:15] mattridgway commented on #381
Hi @lindydonna, it was more a question of how should the SendGrid output binding be added using precompiled functions with the preview tooling? I've tried using the SendGridMessage, as the XML docs suggest, however raises the error above. The [documentation](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-class-library#sendgrid) is a little unclear. In the 9.5.0 version of

[2017-07-24 10:29] mattridgway commented on #381
Looks like upgrading both has worked fine, although from the error i assume it was the WebJobs.Extensions.SendGrid library that made the most difference. The code now looks like this:

[code]

I will put in a PR for the docs so they now have a code sample.

[2017-07-24 10:29] #381 closed

[2017-07-24 16:50] jsimmonsdavidccook commented on #179
How much space is available in HOME or D:\local ?
Is there a recommended solution for using System.IO based APIs? I want to create a zip file from multiple blobs, and send that in a response.

[2017-07-24 19:03] lindydonna commented on #345
@tjrobinson That's a good question, I don't know the answer. @brettsam could you reply?

[2017-07-24 21:46] lindydonna commented on #270
CC @jvano

[2017-07-24 21:52] lindydonna commented on #404
You need to run it from the output folder, which is how the VS tooling launches the CLI. Make sure you're in the `bin\Debug\net461` directory.

[2017-07-24 22:58] jvano commented on #270
Hi, the "Azure Functions Runtime" is yet another container orchestrator specialized for Azure Functions. The docker image used by "Azure Functions Runtime" contains the actual Azure Functions "runtime" but the image is not designed to work with Service Fabric.

[2017-07-25 12:54] LarsKemmann commented on #214
@lindydonna Can you comment on @rawlukMike's reported issue above? We're evaluating a geo-distributed Functions app as well.

[2017-07-25 15:16] ewilsonambient commented on #404
Likewise, I am having the opposite issue where I cannot debug my function app locally, but it does run on Azure.  I get the same error above in the console windows of the Azure function when running locally.  I have read that I need to call config.UserServiceBus() in the Main of my app, but function apps do not have a Main.  Everywhere I look, the code provided shows how to register but does not s

[2017-07-25 19:10] KaiWalter commented on #270
Ah I see ...thanks @lindydonna and @jvano ... now I get it.

[2017-07-25 19:15] briandunnington opened #406 "Add ability to enable CORS for Visual Studio debugging"
I am using the Azure Functions Visual Studio tooling with Visual Studio 2017 Preview 3. When I launch the debugger, the runtime host launches in a shell window and I can make requests (ex: via Postman) to debug my functions.

Sometimes though I need to debug calls from a browser. Since the browser has cross-domain restrictions, it issues a CORS OPTIONS request before making the actual request. How

[2017-07-25 20:52] sharpcoder28 opened #407 "(Request) Consumption Plan VPN"
Are you planning to allow Consumption Plan to be attached to a VPN?

[2017-07-26 11:47] v-limliu opened #408 "Azure functions can not support send a http request with Authorization header"
` HttpClient client = new HttpClient();
            client.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", "**********");
  var response =
 client.GetAsync("***************").Result.Content.ReadAsStringAsync().Result;
        `

these code run very well in local with azure-functions-core-tools, but not well in the production environment that in azure . Can you help me

[2017-07-26 18:27] lindydonna commented on #214
@rawlukMike This sounds like a limitation of external endpoints. My guess is that when the Function App goes idle, it ends up going offline in Traffic Manager. So, your function would need to be running continuously for this to work.

We'll investigate and update the blog post with additional information.

[2017-07-26 18:38] rawlukMike commented on #214
@lindydonna Sorry I shall update my answer above tomorrow.
I solved the issue by investigation step by step.
What's actually solving all problems with traffic manager is creating a PING function (the best is javascript since its fastest) that respond to functionName.azurewebsites.net/api/ping.
Only if you have custom function that respond on ping, external endpoint won't die after a while.
This is

[2017-07-26 18:38] lindydonna commented on #406
You can do this in Project Properties -> Debug:

![image](https://user-images.githubusercontent.com/4260261/28637584-ea2aef2c-71f6-11e7-8957-f6c097cf6653.png)

[2017-07-26 18:38] #406 closed

[2017-07-26 21:20] asifasghar opened #409 "Private Assembly being loaded multiple times."
My Function app is loading a Private Assembly 'Cqm.Models' Multiple times. I'm getting Invalid cast exception.
Here's List of assemblies loaded in current appdomain:
2017-07-26T20:28:06.907 mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089
2017-07-26T20:28:06.907 System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a
2017-07-26T20:28:06.907 System,

[2017-07-26 23:25] thdotnet opened #410 "feature to trigger old events"
I'm not sure if I should open this feature request in here, or if it belongs to another team, but here it goes...

Let's say that I have an application that uses queues to help me to decouple my services, and the initial development was not based on serverless approach. If I want to replace the part that consumes the messages in the queues with Azure Functions, only the new messages will be trigge

[2017-07-27 08:58] TheeJamesLee commented on #245
@brettsam @lindydonna

Hi, I'm now reaching a point using Azure Functions that I need a more solid correlation story - or have to make a decision to review our usage of Azure Functions.
 Azure Functions is great for what we need and our initial tests have proved it so - however without the correlation it is just going to be impossible to manage at scale - and I'm certain I am not alone in this pos

[2017-07-27 15:52] mhutch commented on #402
@balupton the version of Visual Studio for Mac in the alpha update channel has preview support for Azure Functions, with the limitations that @lindydonna mentioned.

[2017-07-28 21:33] apengwin commented on #211
Any updates on this?

[2017-07-29 00:02] johndowns opened #411 "Obey WEBJOBS_STOPPED or a similar environment variable"
I am making extensive use of the new (in preview) deployment slots feature for functions. My functions include both timer-triggered and queue-triggered functions. I want to ensure that only the production versions of my functions are executed. The staging slots are there only for deployment purposes, and occasionally for manually triggering functions when I need to check the logic before swapping

[2017-07-29 00:10] johndowns commented on #411
I should note that as a workaround, I have set slot-specific app settings for the `AzureWebJobsStorage` and `AzureWebJobsDashboard` to point to an invalid storage account. This prevents queue-triggered functions from running, but I get lots of exceptions logged - and it also doesn't help with timer-triggered functions.

[2017-07-29 00:20] lindydonna commented on #411
This issue was moved to Azure/azure-webjobs-sdk-script#1729

[2017-07-29 00:20] #411 closed

[2017-07-29 05:16] rmacfadyen opened #412 "Installing functions tooling for Visual Studio Pro 2017 (win 7) fails"
I tried to install the tooling from https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-your-first-function-visual-studio but it fails with the error "the extension cannot be installed to this product due to prerequisites that cannot be resolved".

I do have the web and azure workloads installed.

It would be helpful if there was some way of identify which prerequisite cannot b

[2017-07-30 11:04] mnns opened #413 "HTTP2 support"
As Functions supposed to be the new web API gateway of Azure, I can't really understand how MSFT decided to leave HTTP2 out, the new exploding standard of the internet.

[2017-07-30 11:06] mnns opened #414 "Get rid of <xml> surrounding our responses?"
Use this repo to file issues in documentation or the Functions Visual Studio tooling.

If you need technical help, you'll get the fastest response on the forums (https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=AzureFunctions) or Stack Overflow: http://stackoverflow.com/questions/tagged/azure-functions. The entire engineering team monitors those forums.

- For documentation issues,

[2017-07-30 11:13] mnns opened #415 "SQL Connection pool clarification (or overall shared static resources)"
How does it work? is connection pool feasible on Functions? How about memory sharing (other types of static resources)? It is not clear in the documentation. Thanks

[2017-07-31 08:58] martin-weber commented on #74
For my solution the mentioned samples are not working, because I get an array of messages via eventhub from stream analytics and need to send multiple messages with different tags. Could you please provide a sample? Thanks, Martin

[2017-07-31 18:13] dersia opened #416 "GetEnvironmentVariable with "temp" in key-name returns "D:\local\Temp""
I just realized that whenever ```System.Environment.GetEnvironmentVariable``` is used with a key that starts with "temp" it returns ```D:\local\Temp```

I don't thing this is the desired behavior.

[2017-07-31 23:09] benmccallum commented on #226
I'm getting this error message. I've got auto-deployment from GitHub setup, so I've potentially pushed something that caused it all to fall over so here's what I've been up to.

I've been trying to do is add in/out bindings to an existing function I created on local machine. Seems that a {functionname}/function.json folder was created in Azure so I pulled that down locally, adjusted the file with

[2017-07-31 23:45] paulbatum opened #417 "Document that TimerTrigger uses INameResolver"
_From @phatcher on June 1, 2017 16:16_

Should be some documentation that TimerTrigger can use a variable for the schedule definition which is passed to the INameResolver e.g.

       public async Task Schedule([TimerTrigger("%schedule1%")] TimerInfo timer)
        {
            await scheduler.Schedule();
        }

Was about to request the feature and found out it just works :-)

_Copied from or

[2017-08-01 01:23] lindydonna commented on #412
You have to use the Visual Studio 15.3 preview. See Prerequisites in the documentation: https://docs.microsoft.com/en-us/azure/azure-functions/functions-develop-vs#prerequisites

[2017-08-01 01:23] #412 closed

[2017-08-01 01:25] lindydonna commented on #71
This is now available. See https://github.com/Azure/Azure-Functions/issues/377 for configuration steps.

[2017-08-01 01:25] #71 closed

[2017-08-01 01:33] rmacfadyen commented on #412
Is there a plan/timeline to support tooling in the released VS2017?

[2017-08-01 01:39] lindydonna commented on #412
@rmacfadyen Yes, expect an update in the next month or so.

[2017-08-01 06:32] dnlmcv opened #418 "Function.json gets generated with invalid AccessRights property"
System: Windows 10, Visual Studio 2017 Preview

Description: I'm using Visual Studio for developing an Azure Functions project. I have some Azure Functions with the AccessRights set to Listen. When I publish the Function App to Azure, the function.json files are generated containing : "access": "listen" property, which is invalid. After each deploy I have to modify each azure function and set the

[2017-08-01 18:37] apengwin opened #419 "Is there any documentation on the limits/quotas for Azure Functions?"
I'm currently benchmarking an application and testing how many concurrent function invocations I can run at once. Once I try to run more than 20 concurrently, I get the following error.

[code]

What could this mean? Are there any published limits/quotas for Azure functions?

[2017-08-01 23:08] christopheranderson commented on #405
So to clarify, this is a feature request to be able to define some kind of custom health check and then take some action like restarting the Function App? Have you considered using something like Azure Automation to do that?

The other suggestion is to hook up App Insights and create an alert for when executions drop below a given threshold.

[2017-08-01 23:09] DaveVoyles commented on #150
I hate to re-open this, but I Think I have the same issue. I'll post my code below, as it's a throwaway app, I don't mind sharing the strings.

Running locally with the CLI, VS code, and node.

**appsettings.json (and local.appsettings.json is identical):**
[code]

**MyBlobTriggerJS/function.json**

[code]

**Index.js**

[code]

**ERROR (and this appears 3x)**
[code]

[2017-08-01 23:09] christopheranderson commented on #407
There is no current plans for this, unfortunately.

[2017-08-01 23:10] christopheranderson commented on #150
@ahmelsayed - can you look into this?

[2017-08-01 23:11] christopheranderson commented on #408
@ahmelsayed - Can you please attempt to repro this?

[2017-08-01 23:13] christopheranderson commented on #409
Can you please share the exact exception message and ideally an invocation id, timestamp, and region?

[2017-08-01 23:15] ahmelsayed commented on #150
@DaveVoyles you have `IsEncrypted` set to true, but you have an un-encrypted values in there for `AZURE_STORAGE_ACCOUNT` and `AZURE_STORAGE_CONNECTION_STRING`. What version of the CLI are you using? the current version should display a clear error message saying that decryption failed for these values.

[2017-08-01 23:16] christopheranderson commented on #410
I'm not sure this would work for anything other than potentially Event Hubs. When you "dequeue" a storage queue, for instance, the message goes away (otherwise you'd end up with a bunch of messages you're paying for...). We do have some other requests for fine grained control over Event Hubs reader's start point.

I'm not sure this is feasible for us to do, just based on the way that queue service

[2017-08-01 23:16] #410 closed

[2017-08-01 23:19] ahmelsayed commented on #408
@v-limliu what do you mean exactly by it doesn't work on azure? are you getting some kind of error? or does it never finish?

just looking at the code

[code]

is a wrong pattern that will almost certainly cause deadlocks for you.

change it to

[code]

[2017-08-01 23:20] christopheranderson commented on #413
This is definitely something we want to support, but are currently blocked by a larger infrastructure problem in our shared front ends. It's on our list to address, but we can't share any timelines on when this will be available.

[2017-08-01 23:21] christopheranderson commented on #414
Closing because not enough information

[2017-08-01 23:21] #414 closed

[2017-08-01 23:22] thdotnet commented on #410
What trigger the Azure Function is when a new message gets into the queue right? What I was recommending is a way to trigger existing messages from the queue. Let's say that initially I was dequeueing messages using Worker Role, and I've decided to change it for Azure Functions. During the transition from one approach to the other, messages will remain in the queue, and somehow I'll need to proces

[2017-08-01 23:22] christopheranderson commented on #415
If you create a connection pool singleton (either via a static variable or a factory model), then it can be shared by all invocations of that Function on a given machine. We'll scale out to potentially hundreds of machines. We don't special case SQL Connection pool - this is just generically how we treat static objects.

[2017-08-01 23:22] #415 closed

[2017-08-01 23:23] christopheranderson commented on #416
@davidebbo - can you confirm this is the behavior and what might be causing that behavior? That seems like a bug.

[2017-08-01 23:26] christopheranderson commented on #419
What are you trying to do here? Are you attempting to create processes or something? That seems like part of a stack trace.

You might be hitting a sandbox limit (which isn't the most obvious set of docs in the world - @SyntaxC4 might have some ideas to improve that). https://github.com/projectkudu/kudu/wiki/Azure-Web-App-sandbox#numerical-sandbox-limits

You can definitely run more than 20 Functi

[2017-08-01 23:33] christopheranderson commented on #410
What triggers a Function is the queue reader reading a message on the queue. If some other reader has dequeued a message, it is no longer readable, thus we can't reread it - it's no longer there.

Generically, though, wouldn't you just simply stop the worker role and start the Function? In what scenarios would you want to rerun a queue message (or Blob, etc.) just based on the hosting model?

Ther

[2017-08-01 23:35] thdotnet commented on #410
Got it. Thanks for the explanation.

[2017-08-02 00:16] apengwin commented on #419
@christopheranderson I found the full stacktrace later, and it does look like this is an error with forking too many processes in a sandbox.

Each function that I'm running is trying to fork a new process to run an executable. This works fine with small numbers of function invocations (~10-14), b I started getting problems with spawning processes at higher numbers.

[2017-08-02 00:21] davidebbo commented on #419
Is your Function using Python? Please note that the current Python support is experimental, and is known to have limitations. Specifically, every function execution launches an instance of python.exe, which is inefficient. It works well enough under light load, but when hit to heavily as is the case here, it results in just too many parallel process launches, and things start to break down.

We ar

[2017-08-02 00:22] christopheranderson commented on #419
Yeah. That's a sticky problem because of how we manage concurrent executions and if you're not consuming tons of resources, you'll end up on a single instance - we're not looking at process counts, though, which might be considered a miss. You can try setting the batch size for queues to something lower. Be sure you keep the python function blocking until the process is done otherwise it'll degene

[2017-08-02 00:28] apengwin commented on #419
@christopheranderson gotcha. Is the reasoning behind decreasing batch size to decrease the number of functions that are being processed, to avoid hitting limits?

[2017-08-02 00:31] christopheranderson commented on #419
Yep, less executions per instance.

The biggest improvement would be moving off of Python for this example, though. Python is definitely in a non-production use case state until it moves onto the new language model that is rolling out soon.

[2017-08-02 00:32] apengwin commented on #419
@christopheranderson  But if the limit I'm hitting _isn't_ the process limit, would I still be hitting similar resource limits with C# or node?

[2017-08-02 00:54] christopheranderson commented on #419
If it isn't the process limit, maybe, but by removing Python from the equation, it makes it easier for us to debug. Python is near broken in many case, I'm afraid to say. If you try from those languages and give us an invocation id/timestamp, we can do some really rich debugging. For Python, we're not making any investments until this new language platform that's in progress comes around and we'll

[2017-08-02 00:55] davidebbo commented on #416
I can't repro this. Here is my test code:

    log.Info("temp:" + System.Environment.GetEnvironmentVariable("temp"));
    log.Info("temp2:" + System.Environment.GetEnvironmentVariable("temp2"));

And the output is:

    2017-08-02T00:52:54.774 temp:D:\local\Temp
    2017-08-02T00:52:54.774 temp2:

@dersia if you have a repro, please provide some very specific code. Also, please test with my code t

[2017-08-02 01:07] davidebbo commented on #409
Also, please provide more details in how you are accessing the assembly.

And are you seeing this multiple loading as soon as you start the Function App (e.g. hit Restart in Portal), or does it happen over time?

[2017-08-02 08:24] dersia commented on #416
Well for me it was GetEnvironmentVariable(“tempBlobStorageConnectionStrin”); but I also tried GetEnvironmentVariable(“tempAhdndjr”); random string, but I never tested with a digit after temp, though.

I'll check tomorrow and provide a repro.

From: David Ebbo<mailto:notifications@github.com>
Sent: August 1, 2017 5:55 PM
To: Azure/Azure-Functions<mailto:Azure-Functions@noreply.github.com>
Cc: Siava

[2017-08-02 14:11] DaveVoyles commented on #150
I am currently using:

[code]

Oh OK, so I should change it to "encrypted" : "false" then, I suppose?

[2017-08-02 15:19] asifasghar commented on #409
Here' the exception I was getting in function App.
`The query results type is 'Cat1RootRef' but you expected to get results of type 'Cat1RootRef'. If you want to return a projection, you should use .ProjectFromIndexFieldsInto<Cat1RootRef>() (for Query) or .SelectFields<Cat1RootRef>() (for DocumentQuery) before calling to .ToList().System.InvalidCastException: [A]Cqm.Models.Qrda.Cat1RootRef cannot

[2017-08-02 15:21] asifasghar commented on #409
I placed the Assembly in bin folder and including it using #r. I do see multiple instances of assembly in AppDomain as soon as I Start the Function App.

[2017-08-02 15:49] ahmelsayed commented on #150
update your tools version. this is the current version

[code]

also, you would need to remove the 2 un-encrypted settings first, run `func settings decrypt` then add them back again.

[2017-08-02 16:59] davidebbo commented on #409
Can you share your function app name (that's the **app** name, not function name!), either directly or [indirectly](https://github.com/Azure/azure-webjobs-sdk-script/wiki/Sharing-Your-Function-App-name-privately)? This will help us investigate. Thanks!

[2017-08-02 17:21] melzoghbi opened #420 "where is function.json file in Visual Studio 2017"
Hi,

I am using Visual Studio 2017 Preview and latest Azure function tooling. I want to be able to work on function.json in Visual Studio as Azure Portal generates when creating bindings into my VS functions.

Is there away to copy these settings so i can customize it as needed in VS 2017 without the need to run it from the portal? Do i need to create it? or can i use local.settings.json file?

Le

[2017-08-02 17:21] asifasghar commented on #409
https://fa-dev-measureengine.azurewebsites.net/
2017-08-02T17:19:54.869 Function started (Id=f15b3208-a520-4c4e-9251-229eee1234f9)
Exception time : 2017-08-02T17:19:56.314

[2017-08-02 17:52] DaveVoyles commented on #150
Just updated. I realized why it wasn't at first. I was calling to update ```azure-functions-cli``` when I realized it was renamed to ```azure-functions-core-tools```.

Now running
[code]

A new warning appears immediately (helpful):
[code]

I ran ```func settings decrypt``` followed by ```func host start --debug vscode``` but have the same issueL

[code]

[2017-08-02 18:02] melzoghbi commented on #278
Hi @MarekLani  and @JawadS  I am facing the same issue. I am not able to run my function app that uses iot hub (same as event hub) trigger locally using VS2017.

were @MarekLani able to get it up and running to load configs from local.settings.json

[2017-08-02 19:33] TheeJamesLee opened #421 "[Question] Getting Azure Function Tooling Outdated popup warnings"
Visual Studio Preview 15.3  Using the installed Azure Tools via the external visx link method.  - currently tools version 0.2 shown in my installed extensions.

I've just started having pop ups saying that Azure Functions Tooling is outdated and I need to update.

Is that talking about the .visx package here https://blogs.msdn.microsoft.com/webdev/2017/05/10/azure-function-tools-for-visual-studio-

[2017-08-02 19:41] sjkp commented on #420
It gets generated on build and placed in the output folder. So I guess you can make a post build event that manipulates it if you need to.

[2017-08-02 19:48] aboersch opened #422 "QueueTrigger Function not respecting Singleton Attribute"
In a local Development environment using VS2017 Tooling and func CLI the QueueTrigger is not respecting the SingletonAttribute to prevent multiple queue items being processed in parallel.

Repo: https://github.com/aboersch/SingletonQueueFunctionApp

It also appears there is no lock file being created by the Consuming Function, only by the producer.

Windows 10.0.15063 Build 15063
Visual 2017 15.3.

[2017-08-03 00:44] lindydonna commented on #422
Yes, SingletonAttribute is not supported in Azure Functions. We should add a warning to explain this.

[2017-08-03 00:45] #422 closed

[2017-08-03 00:47] lindydonna commented on #420
You should use app settings via "%Setting%" and customize with App Settings in Azure. We do not recommend editing function.json after it's been generated. In the next version of the tooling, you will get a runtime error if you edit the file, because input and output bindings will be read directly from the assembly attributes.

[2017-08-03 00:47] #420 closed

[2017-08-03 00:48] lindydonna commented on #421
You can ignore the popup: it's is a bug which we've fixed. We've just pushed out a new VSIX that removes the spurious warning.

[2017-08-03 00:48] #421 closed

[2017-08-03 01:43] davidebbo commented on #409
I think the issue may related to the fact that you have a Cqm.Models.dll under each of the two function's bin folder. Can you try moving them to a shared folder and referencing them with `#r "..\shared\Cqm.Models.dll"`?

[2017-08-03 01:49] lindydonna commented on #278
@JawadS and @melzoghbi Please open new issues to track, as we don't monitor closed issues. Please include your function signature (including attributes) and the contents of local.settings.json (removing connection string values).

[2017-08-03 05:00] sjkp commented on #420
Why would you change that behavior @lindydonna? Now I can deploy the same code X times but change the function.json file for each instance to let it read from e.g. different queues. If you force me to use the code, I no longer have that option without doing more work, e..g a setting can only point to one queue. So I have to do the webjob queue name resolver if that is even supported in function. A

[2017-08-03 05:15] TheeJamesLee commented on #420
@sjkp I think you've read her reply wrong (or at least the intention).  (For ref I am only referring to the Azure Functions 'compiled app' tooling)

The %Setting% approach is reading the setting from a config file.  local.settings.config for local development.  When it is deployed onto a Web App it is reading from the Web App Config settings on Azure.  So rather than having a 'unique' function.jso

[2017-08-03 05:25] sjkp commented on #420
My use case is that I have a single function app, with many maintenance functions. All the maintenance functions are doing the same, but on different "resources", queues was just and example. Rather than making several functions apps (which I could) I have decided to collect it all in one, and do the configuration of each maintenance function in the function.json at its deploy location. If the fun

[2017-08-03 05:43] TheeJamesLee commented on #420
Interesting. I can see your dilemma.

I am guessing that the resources are 'identical', ie, only the location of them is different.. the schema, etc is identical and that are accessed the same way.

I would do the following (thinking about it I may need to do this at some point myself..).  I would move the 'resource list' out of the app (including function.json in the app, due to Compiled).  The r

[2017-08-03 06:16] kvaibhav2009 opened #423 "Unable to find certain names in Named Entity Recognition"
Hi ,

We found out that for certain queries,named entity module was n't picking up the person name.This varied as follows:

1. transfer $400 to mike -       'Mike ' is recognized as person name.

2. transfer $100 to mike -       Due to the modification in amount , 'Mike ' doesn't seem to get recognised as person name.

3. transfer $300 to rahul -       'Rahul' is recognized as person name.

4. tra

[2017-08-03 07:54] lindydonna commented on #420
To clarify, if you use WebJobs attributes, by default a setting will be added to the generated function.json to specify that the attributes take precedence. Also, only triggers will be generated. If you want to control the config, then you should not use attributes and instead use function.json directly.

The reason for this is that the process of generating function.json is error prone, and the f

[2017-08-03 13:20] galvesribeiro commented on #98
Hello @lindydonna!

Any ETA on at least a very alpha-early-preview release? I got a new big project here that I'm trying to convince the customer to use Azure Functions over AWS Lambda but his developer base want to run .net core and they all use Macbook Pros with VSCode.

Please tell me something that I can keep them motivated to stick with Azure. In case the tooling and SDK got OSS, how can we h

[2017-08-03 16:32] ahmelsayed commented on #150
Sorry I missed your comment. What do you get if you hit `http://localhost:7071` in the browser? also are you running in the root of your function app project? where `host.json` is ?

[2017-08-03 17:00] DaveVoyles commented on #150
Quite alright. I spun up a new node project with an HTTP trigger, taking the same blob code and it works flawlessly. That's why I'm genuinely curious about this one. I could probably just skip it for now, but think it may be a lower-level issue.

In my new project:

**index.js**
[code]

**New project, function.json**
[code]

**New project, local.settings.json**
[code]

Bu to answer your question,

[2017-08-03 17:42] ahmelsayed commented on #150
That's really odd. Exactly the same code works fine for me. Does the folder path contain unicode characters by any chance?

if you go to `\Users\<userName>\AppData\Local\Temp\LogFiles\Application\Functions\Host`, there should be a log file there, does it contain anything interesting?

![2017-08-03_10-40-37](https://user-images.githubusercontent.com/645740/28935108-4259e184-7838-11e7-9ea3-7f415be87

[2017-08-03 19:02] SharvariHDesai commented on #399
Is there any update on this?

[2017-08-03 20:33] vijayrkn commented on #399
Can you please try installing the latest version from here - https://marketplace.visualstudio.com/items?itemName=AndrewBHall-MSFT.AzureFunctionToolsforVisualStudio2017

Also please make sure you have the following

- Install Visual Studio 2017 (version 15.3) Preview (it will not work with any earlier versions of Visual Studio)
- Install either the ASP.NET and web development workload  or Azure dev

[2017-08-03 21:05] melzoghbi opened #424 "Can't run ServiceBusQueue function in VS2017"
Hi,

I am trying to run a function app that is triggered by a service bus queue binding. After creating the project in VS 2017 preview with latest function tooling. I get an error when i run the app:

![image](https://user-images.githubusercontent.com/11993393/28943560-3dca9bc4-786d-11e7-8d1a-f353ec81aea6.png)

So, When i try to run this command "func azure functionapp fetch-app-settings MYFUNAPPN

[2017-08-03 21:52] DivineOps commented on #377
The list is missing a step. In addition to having a certificate, you also must configure the DNS for the ILB domain.
The easiest way to configure DNS in a test environment is by adding a mapping in the hosts file on the VM you are browsing from. The line in the hosts file must specify each subdomain, not a wild card. On Windows, the hosts file is located at C:\Windows\System32\drivers\etc. The lin

[2017-08-03 22:44] DaveVoyles commented on #150
Woah. I've got my money's worth out of this thread just from this post alone.
1. I didn't know you could embed a .gif here
2. I didn't know I could use the Functions CLI **within** VS Code

The log is pretty large.  I tried posting it in Pastebin, but it is over the 512k limit. I tried attaching it (it is .txt) but for some reason GitHub doesn't accept it.

I suppose we can just close this for now

[2017-08-03 22:53] mattchenderson opened #425 "Add App Service Authentication / Authorization topics to documentation left nav"
We should also make this more visible in the HTTP trigger docs.

As seen in the App Service nav:
![image](https://user-images.githubusercontent.com/5815695/28947198-83e23504-7863-11e7-96a7-f2f8f427e1c2.png)

Links (in the App Service TOC format):
## [Secure](app-service-security-readme.md)
### [Authentication and authorization](app-service-authentication-overview.md)
### Authenticate with identity

[2017-08-03 23:19] ahmelsayed commented on #150
you can also delete the logs then run again and see if something shows up.

[2017-08-03 23:30] ggailey777 opened #426 "Document the parameter format for blob containers"
_From Matthew Charles:_
Here’s an example that pulls container/blob from an input:

	{
	  "bindings": [
		{
		  "type": "manualTrigger",
		  "direction": "in",
		  "name": "blobInfo"
		},
		{
		  "type": "blob",
		  "name": "inputBlob",
		  "path": "{containerName}/{blobName}",
		  "connection": "functionfun_STORAGE",
		  "direction": "in"
		}
	  ],
	  "disabled": false
	}

And here’s the code:

[2017-08-04 01:04] hmoen commented on #221
Hi @yochay, could you provide an update on the certification? Thank you.

[2017-08-04 01:56] davidebbo commented on #416
I couldn't repro with either of these two strings. Closing for now, but if you get a repro, please share the complete code.

[2017-08-04 16:09] rob3c commented on #221
It appears they're covered now, according to the above Trust Center link. This can probably be closed.

[2017-08-04 18:14] krishnasingh1818 commented on #399
am having same issue. solutions suggested didnt work. any one got it fixed ?

[2017-08-04 18:43] christopheranderson opened #427 "CFC: App Insights analytics queries for Functions"
# Call for content! - *Example queries*

We're looking to get a bunch of App Insights analytics queries put together for Functions. Leave a comment here with any samples/etc. you might have (either pasted directly or a link). I'll try to get them all in a wiki and we'll use some of them in our docs on docs.microsoft.com.

[2017-08-04 18:51] nzthiago commented on #427
If you are also after custom metrics we used one on the [Customer Reviews sample](https://github.com/Azure-Samples/functions-customer-reviews). It gets added to a custom dashboard on the Azure Portal via ARM template, here's the line with the query:
https://github.com/Azure-Samples/functions-customer-reviews/blob/master/Provision/assets/template.json#L169

[2017-08-04 18:54] christopheranderson commented on #427
## Percentiles on duration

### Code:
[code]

### Example:
![image](https://user-images.githubusercontent.com/2252976/28982672-8c89c2c8-790b-11e7-9737-882074c565cc.png)

[2017-08-04 19:00] christopheranderson commented on #427
@nzthiago - Does this formatting look right?

### Code:
[code]

[2017-08-04 19:12] twmurph commented on #427
Here are the links that I tweeted to you and the actual type query we are running to check if one of our on-prem services is still running.

http://www.geekswithblogs.net/tmurphy/archive/2017/02/16/logging-to-application-insights-in-azure-functions.aspx

http://www.geekswithblogs.net/tmurphy/archive/2017/08/04/query-application-insights-rest-api-to-create-custom-notifications.aspx

customEvents |