[2021-03-29 16:56] #1720 closed

[2021-03-29 22:51] cachai2 opened #1869 "Warning no Connection String when using managed identity - CLI"
For the new secretless triggers/bindings, they no longer use connection strings. However, our CLI will throw warnings when connection strings aren't used despite not being in a warning state. This is a potential preview blocker for Track 2 sdk triggers.

[2021-03-30 01:21] balag0 commented on #1148
Yes, Live stream of CPU and memory usage per instance is on the roadmap.

[2021-03-30 10:57] sijucm commented on #1609
I'm facing the same issue. It is now 1 year and there is no microsoft answers for this issue.

[2021-03-30 16:02] v-bbalaiagar commented on #1632
Hi @dhanush987,  Apologies for the delayed response, Let us know if you are still facing the issues, if yes could you please provide us the invocation id of the error and time stamp during the error to get the logs and check the cause.

[2021-03-30 16:07] v-bbalaiagar commented on #1652
Hi @akhil117, Closing this issue as there is no response, please feel free to reach back to us in case of any further queries related to this issue

[2021-03-30 16:07] #1652 closed

[2021-03-30 21:35] vijayrkn opened #1870 "Build hangs when building Azure Function project"
Creating the issue on behalf of the VS customer : https://developercommunity.visualstudio.com/t/Build-hangs-when-building-Azure-Function/1383274

[2021-03-31 11:56] 23min commented on #1527
Is there any news on this? This should be fairly easy to replicate.
This is causing us a lot of headaches and lost productivity.

[2021-03-31 20:11] ankitkumarr opened #1871 "[Kudu] Update synctriggers for Function app deployment"
Mirror issue for https://github.com/projectkudu/kudu/issues/3238
Created here for tracking into Sprint.

[2021-04-01 08:35] ChrWeinert opened #1872 "Azure Function v3: Route-Parameter overrides Request-Body"
When using Azure Function v3, I run into some strange behaviour.

I have a custom Request-Type:
[code]

My Azure Function likes something like:
[code]

I send a request to my function with "someapi/2cb0fce7-1588-42fc-9657-ad36f6be1f09" and the following body:
[code]
During debuggung i noticed that the id from the route (2cb0fce7-1588-42fc-9657-ad36f6be1f09) was written to the id-property of the My

[2021-04-01 08:40] VektorPixel commented on #1872
I just discovered the same behavior in my project and I wonder if the mapping of route parameters to request properties is by design?

[2021-04-01 15:04] SeanFeldman commented on #1343
cc @anthonychu

[2021-04-02 15:06] mrpmorris commented on #1729
I cannot downgrade because Microsoft.AspNetCore.Components requires >= 5.0.0

I am unable to migrate my app to .NET 5

[2021-04-06 10:20] v-bbalaiagar commented on #1740
Hi @josh-endries, Closing this issue as there is no response, please feel free to reach back to us in case of any further queries related to this issue.

[2021-04-06 10:20] #1740 closed

[2021-04-06 10:23] v-bbalaiagar commented on #1709
Hi @apdekock, Closing this issue as there is no response, please feel free to reach back to us in case of any further queries related to this issue

[2021-04-06 10:23] #1709 closed

[2021-04-06 14:43] GilShalit commented on #735
Hi, is this still the case and outlook in 2021?  Do Azure functions still not support Generics?  I was planning to implement a generic CRUD API I have  used on .Net Core very successfully with the advantage of adding and modifying the data model almost effortlessly.  This is a serious disadvantage of Azure Functions.

[2021-04-06 15:32] andrewCluey opened #1873 "[Premium] Unable to create vNET integration for existing Function App"
**Describe the bug**
Using the suggested method for adding vNET integration to a Function App (here - https://github.com/Azure/azure-quickstart-templates/blob/master/101-function-premium-vnet-integration/azuredeploy.json), results in a succesful template deployment, but no vNET integration.

**ARM resoruce**
[code]

**Expected behavior**
vNET integration to be configured for the Function.

**Scree

[2021-04-07 15:18] andybooth commented on #1741
I reproduced this issue with Functions Runtime 3.0.15417.0, with a case as per the sample code in the original report. When a POCO bound request object has a string property named Query the exception `Object must implement IConvertible` is returned. Renaming the root string property Query to MyPrefixQuery resolves the issue.

[2021-04-07 15:56] jimmytricks opened #1874 "Unable to use AppSetting % Binding For ServiceBusTriggerAttribute.Connection"
# Description

I have a boiler plate Service Bus Trigger function. I want to use an app setting binding with %. I have a local.settings.json with these values so that I can test locally by connecting to the service bus. The % bindings get swapped out for QueueName but not for ServiceBusName.

Service bus app:

[code]

local.settings.json:

[code]

## Actual Behavior
1. Error thrown:

_Warning: Can

[2021-04-07 16:10] v-bbalaiagar commented on #1706
Hi @jmorenobl,  Apologies for the delayed response, We would like to know if you are still facing the same issue

[2021-04-07 16:14] jmorenobl commented on #1706
I'm not using it anymore, sorry.

[2021-04-07 16:20] v-bbalaiagar commented on #1706
Hi @jmorenobl, Closing this issue, please feel free to reach back to us in case of any further queries related to this issue

[2021-04-07 16:20] #1706 closed

[2021-04-07 22:23] priyaananthasankar commented on #750
+1 for this issue. If we have to measure the non-HTTP trigger invocation for a load test and measure the time when there were zero executions and calculate the total time for non-HTTP triggers for a premium plan, then we need this metric. For eg: comparing an event grid trigger vs HTTP trigger in a premium plan - for such a notification service, we would need to know at what point (after rate matc

[2021-04-08 13:23] plamber opened #1875 "What is the proper way to enrich Application insights with custom dimensions?"
Hello,
I was looking for a way to enrich the Application Insights Telemetry information with custom dimensions.

- Scenario 1: To be more specific I would like to enrich the _request_ information with custom dimensions coming from the payload in the Azure Function.
- Scenario 2: As a second scenario I would like to ensure that all calls and _dependencies_ executed in the context of that Function a

[2021-04-09 07:51] bluuf opened #1876 "Incorrect Language under "Integration" items"
I've noticed that the interface language of the Azure Portal is ignored when you edit a trigger in Azure Functions.
Whenever I go to a function and choose for Integration all the items I select have localized property names.

For instance: If I choose to edit the triggers words like Route Template are shown in Dutch in my case. This happens on most of the settings.
I've double checked that my lang

[2021-04-09 14:09] DadvDadv opened #1877 "Any limitation on 302 temporary redirect?"
Hi, I'm facing a pb on Azure function using MS Graph Pdf Converter (https://docs.microsoft.com/fr-FR/graph/api/driveitem-get-content-format?view=graph-rest-1.0&tabs=http)

When i call this in Azure i've got this message :

This error is from the Function Process i think (none of my try/catch was call)

When the function is launch in local, all work fine, it's only when i publish it.

So is there a

[2021-04-09 14:33] richardhauer opened #1878 "URGENT: Something weird has happened recently with PUT requests"
I have APIs that have been in production for ages. Very recently - perhaps only the last few days - PUT requests with a path containing only 1 segment have started to fail.

__To reproduce:__
1) VS Enterprise 16.9.3 - totally up to date
2) Create an Azure Fn project, C#, HTTP Trigger
3) Add "put" method into the sample function, set auth to `Anonymous`, set `Route` = 'test'
4) Remove body of metho

[2021-04-09 15:06] LevV opened #1879 "IoTHubTrigger function stops being triggered after a while"
We have a C# function which processes telemetry messages at a rate of 120 messages per minute.
After a while - sometime after 15 minutes, sometimes after a couple of hours - the function stops being triggered, even though telemetry events continue hitting the hub.
Restarting the function app doesn't seem to help; the only way to get the function working again would be to add a new Consumer Group o

[2021-04-09 16:46] Jay-Madden commented on #1657
bump anyone else seen this?

[2021-04-10 22:31] anthonychu commented on #1878
@fabiocav Do you know if this is a known issue?

[2021-04-10 23:26] anthonychu commented on #1878
This issue is tracked here: https://github.com/Azure/azure-functions-host/issues/7260#issuecomment-813666977

[2021-04-11 00:32] richardhauer commented on #1878
Hi @anthonychu  yes I worked with the MS Critical Incident team yesterday after logging a SEV A on this. The workaround was to pin the runtime to version `3.0.15406` using the `FUNCTIONS_EXTENSION_VERSION` AppSetting, rather than the usual `~3`.

Thanks for following up on this.

[2021-04-11 00:32] #1878 closed

[2021-04-12 12:36] v-bbalaiagar commented on #1559
Hi @yeahsicy, Closing this issue as there is no response, please feel free to reach back to us in case of any further queries related to this issue

[2021-04-12 12:36] #1559 closed

[2021-04-12 15:28] Pranay8070 opened #1880 "System.Private.CoreLib: Exception while executing function: Function1. System.Data.SqlClient: Keyword not supported: 'authentication'."
Hi
I am getting the following error when I am trying to connect function apps to azure sql database(azure active directory login).

![image](https://user-images.githubusercontent.com/82394820/114420303-d5a89f00-9bd1-11eb-8071-bbb7222416f7.png)

[2021-04-12 18:28] v-bbalaiagar commented on #1874
Hi @jimmytricks, You should be able to accomplish this without a percent sign, because by default the connection property is a redirection to a different configuration source. But the difference here is that in the queue name you have to use the actual value provided as part of the configuration.
If you want this to be a redirection instead and look up that information from a configuration source

[2021-04-12 18:43] v-bbalaiagar commented on #1868
Hi @SavaNDragos, We would like to know which logs are missing from app insights so that we can investigate this further.

[2021-04-12 20:59] balag0 commented on #1877
This could be a result of timeouts. If you could share the app name we can investigate further
https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately

[2021-04-13 00:16] iamnicoj opened #1881 "Microsoft.Azure.Functions.Worker.Diagnostics.Exceptions.FunctionInputConverterException while processing a blob trigger in Azure Function .net 5"
I have an Az Function writte in C#, .Net 5, configure with a blob trigger like this:

[code]

and the trigger configured expecting a Stream

[code]

If I either deploy it or debug it locally I get the following exception soon as it triggers and detects a new blob stating it can't convert  to type 'System.IO.Stream' from type 'System.ReadOnlyMemory

[2021-04-13 08:29] DadvDadv commented on #1877
Thank's for your answer, my informations :

Region :

Log informations :

Error message in web client :

No error in log function console

[2021-04-13 08:36] DadvDadv commented on #1877
This function is for a test so her some of my code :

[code]
My catch is never call and the Status did'nt show on log...

I think the app have been "stop" because nothing is write in the console

[2021-04-13 14:05] v-bbalaiagar commented on #1701
Hi @siweletan, Closing this issue as resolved, please feel free to reach back to us in case of any further queries related to this issue

[2021-04-13 14:05] #1701 closed

[2021-04-13 14:17] v-bbalaiagar commented on #1593
Hi @jezzipin, Apologies for the delayed response, Were you able to find a solution. Let us know if you are still seeing these error.

[2021-04-13 14:32] v-bbalaiagar commented on #1552
Hi @VallabhL, Closing this issue as there is no response, please feel free to reach back to us in case of any further queries related to this issue

[2021-04-13 14:32] #1552 closed

[2021-04-13 16:53] v-bbalaiagar commented on #1660
Hi @mikanyg, Apologies for the delayed response. We don't have any document stating the rules for naming of parameters

[2021-04-13 16:59] v-bbalaiagar commented on #1879
Hi @LevV, Could you please provide us the invocation id to get the logs and check the cause.

[2021-04-14 07:44] ganesh-gawande commented on #334
I am facing same issue - here are more details -
I have Azure function and one class library.
Azure function has reference to Microsoft.Extensions.Logging.Abstraction 5.0.0 via - Microsoft.Azure.Functions.Extension package

Now I want to use logging in class library as well. So I have added nuget package Microsoft.Extensions.Logging.Abstraction 5.0.0 to my class library.

Now after this when I run

[2021-04-14 08:27] v-anvari commented on #1881
Hi @iamnicoj , Can we have the repro steps to reproduce this error, in order to understand the cause of the error.

[2021-04-14 08:47] v-anvari commented on #1880
Hi @Pranay8070 , Can we have more details about your project. If you are using .NET Core, Active Directory Integrated authentication is unavailable, to use Active Directory password authentication, we have to obtain access token which seems not ideal in EF configuration.

The workaround is to use Connection string for SQL authentication.

Can you check if the following thread can give you more ins

[2021-04-14 09:45] DadvDadv commented on #1877
I found that my pb was on the upload of the file, the stream was close to early and that was making the function to exit...

Sorry for the search and thx for all

[2021-04-14 09:45] #1877 closed

[2021-04-14 11:16] ThomasVandenbon opened #1882 "Azure Portal: Cannot access "Monitor" as "Monitoring Reader""
_My apologies if I'm filing this issue in the wrong repository, however I couldn't find a repository where I could post issues for Azure Functions in the Azure Portal._

I've been granted the following pre-made RBAC roles on a Function App:
| Role | Description | Scope |
| ----- | ------------ | ------- |
| Monitoring Reader | Can read all monitoring data | Resource group (Inherited) |
| Reader |

[2021-04-14 16:12] gomaa86 commented on #1729
I was using the <PackageReference Include=" Microsoft.Azure.Functions.Extensions" Version="1.1.0" /> and it references the
<PackageReference Include="Microsoft.Extensions.DependencyInjection"  />
<PackageReference Include="Microsoft.Extensions.Options.ConfigurationExtensions" />
and this issue starts to happen when I updated those references in a class library project. which made the Azure functio

[2021-04-14 20:48] fabiocav commented on #1869
@cachai2 just want to clarify, this is for Core Tools and not CLI, correct? I'll move to the appropriate repo for now.

[2021-04-14 21:10] madhusudan-reddy-kr commented on #1309
Any potential information on this ?

[2021-04-15 14:06] o-k-a-y opened #1883 "Azure Functions V3 won't run using .NET 5 on Visual Studio"
# Error message:
[code]

# Steps to reproduce:
1. Create .NET Azure Function using func cli or vscode extension
2. Run it in Visual Studio 2019
3. It will fail on host.run() saying it can't parse the URI

I tried running both with Azurite running on default ports, Azure Storage emulator, and not running either at all.

# Environment details:
Windows 10 newest release
Visual Studio 2019 Community n

[2021-04-15 14:43] v-bbalaiagar commented on #1882
Hi @ThomasVandenbon, More than a bug, its a role assignment issue and requires a support ticket for resolution. Please follow the below path to raise a support ticket- Portal > menu > help and support >New support request

[2021-04-15 15:47] kgflying opened #1884 "Cannot be installed on latest VS2019"
1. Install latest VS2019, 16.9.4
2. Download the plugin from https://marketplace.visualstudio.com/items?itemName=VisualStudioWebandAzureTools.AzureFunctionsandWebJobsTools.
3. Install it.

Observed:
![image](https://user-images.githubusercontent.com/12282281/114898449-f2f28e80-9dc6-11eb-98db-9d7881d0e431.png)

[2021-04-15 15:48] 9527KGG commented on #1884
Log
...
4/15/2021 08:48:12 - Searching for applicable products...
4/15/2021 08:48:12 - Found installed product - Global Location
4/15/2021 08:48:12 - Found installed product - Visual Studio Enterprise 2019
4/15/2021 08:48:12 - VSIXInstaller.NoApplicableSKUsException: This extension is not installable on any currently installed products.
   at VSIXInstaller.ExtensionService.GetInstallableDataImpl(I

[2021-04-15 19:36] LevV commented on #1879
Hello @v-bbalaiagar, thanks for your prompt response. Per your request, I started logging the invocation ids and ran the function again. As you can see, the behavior is the same. Here are the invocation ids for the last couple of calls that were made:
d28126ba-98e3-4d8a-9e28-833b8bbfe82c
4bbbf5cb-bfcb-4c47-92ad-be5f22186b08
482ab61d-f035-4746-b344-73d255fac2f5
a2aada94-ce68-4db8-b3d1-2f9f16bfb4d0

[2021-04-15 20:43] iamnicoj commented on #1881
1. Using vscode 1.55 for MacOS. and Azure Functions Extension v.1.3.0
2. Select the option to create and azure function
3. Select C#
4. Select .net 5 isolated
5. Select Blob trigger
6. Add local.settings.json
7. Select an existing v2 Storage account and define the container to subscribe to
8. Afer following this steps it creates this function:
`using System;
using System.IO;
using Microsoft.Azure.

[2021-04-15 22:20] o-k-a-y commented on #1884
Maybe that's why I can't get my function to run. I'm also unable to find the extension to install.

[2021-04-16 03:27] qcnguyen commented on #1842
I also encounter this problem as well, happen for windows plan EP1

[2021-04-16 08:19] gsosij commented on #1613
Any update on this would be really appreciated, we are also suffering with the same issue.

[2021-04-16 08:55] russpect commented on #1613
We are also experiencing the same issue. The rollback to Microsoft.EntityFrameworkCore.SqlServer version 3.1.3 resulted in the dependency tracking for SQL and Service Bus to log as before. It does mean however we are stuck on version 3.1.3 until the bug is fixed and it would be great to be able to upgrade soon. Are there any plans to fix the issue? Thanks

[2021-04-16 11:12] nicklasjepsen commented on #1613
We are not using EF in our functions and we have the same problem. We are using Microsoft.Data.SqlClient 2.1.2 and still don't see any SQL dependencies logged to AppInsights.
This is quite problematic and we currently do not have a work around for this.

Any know workarounds? Timeline for a fix?

[2021-04-16 13:59] v-anvari commented on #1881
Hi @iamnicoj , Thank you for the information, We will repro this scenario and update you with the findings

[2021-04-19 09:07] v-bbalaiagar commented on #1884
Hi @kgflying, Thank you for reaching out to us, checking internally on this issue

[2021-04-19 17:12] balag0 commented on #1309
Since the original issue seems really old, @madhusudan-reddy-kr could you provide more details on the most recent time this issue was observed. (app name, approx. time stamps, observed symptoms etc)
You can use https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately to share the name.

[2021-04-20 00:43] gzuber commented on #1566
Hi @miiitch -- really sorry for the delay here. This should be fixed with https://github.com/Azure/azure-cli/pull/17722, so I'm going to go ahead and close this. If you have any more trouble with this issue or the fix doesn't work as expected, please ping me directly and I'll see what we can do. Thanks!

[2021-04-20 00:43] #1566 closed

[2021-04-20 06:05] v-bbalaiagar commented on #1884
Hi @kgflying, If you look at the marketplace it targets visual studio 2017 only. You just need to ensure the options, the cloud workloads are selected when you install visual studio, so the extension comes with visual studio building. But there is no need to install the plugins separately, that only targets visual studio 2017 when the set of extensions pre-installed.

[2021-04-20 06:31] kgflying commented on #1884
I see. Thanks for letting me know

[2021-04-20 10:01] v-bbalaiagar commented on #1884
Hi @kgflying, Closing this issue as the required information is provided, please feel free to reach back to us in case of any further queries related to this issue

[2021-04-20 10:01] #1884 closed

[2021-04-20 10:21] v-bbalaiagar commented on #1879
Hi @LevV , We will be checking the backend logs to try and find any errors and update you with the findings shortly.

[2021-04-20 11:02] v-bbalaiagar commented on #1730
Hi @jaliyaudagedara, Apologies for the delayed response, We would like to know if you are still facing the same issue

[2021-04-20 11:08] v-bbalaiagar commented on #1697
Hi @aderderian, Closing this issue as there is no response, please feel free to reach back to us in case of any further queries related to this issue

[2021-04-20 11:08] #1697 closed

[2021-04-20 11:37] v-anvari commented on #1881
Hi @iamnicoj , Apologies for the delayed response, Streams aren't supported when using BlobTriggers in .Net 5.0.

[https://github.com/Azure/azure-functions-dotnet-worker/issues/378#issuecomment-820768693](https://github.com/Azure/azure-functions-dotnet-worker/issues/378#issuecomment-820768693)

Duplicate issue : [azure-functions-dotnet-worker/issues/398](https://github.com/Azure/azure-functions-do

[2021-04-20 11:37] #1881 closed

[2021-04-20 18:06] jaliyaudagedara commented on #1730
@v-bbalaiagar,

I am sorry, this was like 7 months back. I think we can close the issue

[2021-04-21 09:05] v-bbalaiagar commented on #1730
Hi @jaliyaudagedara, Closing this issue, Please feel free to reach back to us in case of any further queries related to this issue

[2021-04-21 09:05] #1730 closed

[2021-04-21 09:32] Planche95 commented on #1613
The same problem here, downgrade to 3.1.3 also works for me

[2021-04-21 13:01] kwaazaar commented on #1281
So I've just been troubleshooting this same issue, researching different kind of reasons. But not expecting the parameter name to be the issue! This really needs a fix or a compile (or runtime) error, guys! 😢

[2021-04-21 17:09] v-anvari commented on #1883
Hi @o-k-a-y , In the above scenario, you are using the local emulator for passing the queue message. If you are using the local emulator, then using "[AzureWebJobsStorage](https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings#azurewebjobsstorage)" as a connection is the way.

Missing value for AzureWebJobsStorage in local.settings.json. **This is required for all triggers o

[2021-04-22 09:19] v-bbalaiagar commented on #1670
Hi @stika1986, Apologies for the delayed response, We would like to know if you are still facing the same issue

[2021-04-22 09:35] v-bbalaiagar commented on #1876
Hi @bluuf, It requires a support ticket for resolution. Please follow the below path to raise a support ticket- Portal > menu > help and support >New support request

[2021-04-22 09:45] v-bbalaiagar commented on #1872
Hi @ChrWeinert, Closing this issue as duplicate, Here is a [tracking issue](https://github.com/Azure/azure-functions-host/issues/7277) which is being addressed and worked upon on a similar scenario, Please find the space for further updates.

[2021-04-22 09:45] #1872 closed

[2021-04-22 12:25] v-bbalaiagar commented on #1879
Hi @LevV , We see that you are running with the default setting of logging sampling enabled for Application Insights.
If you are noticing that data is missing from your monitor logs, you may just need to adjust the sampling settings to fit your particular monitoring scenario.
Go to App Service Editor to configure sampling. Please review [this guidance](https://docs.microsoft.com/en-us/azure/azure-

[2021-04-22 13:41] GuyHarwood commented on #464
Has anyone experienced their consumption based function app using an IP address that is not within the specified list of outbound IP addresses?

[2021-04-22 16:37] v-anvari commented on #1867
Hi @PrakashRajanSakthivel ,  5.0 package is not supported in this scenario. The .NET Worker is the supported approach to use those dependencies

[2021-04-23 21:59] o-k-a-y commented on #1883
I am currently running locally, but using "AzureWebJobsStorage" as the connection string also fails.

Can I ask what version of Visual Studio you're using and if you're using Azurite as the local storage emulator or something else?

[2021-04-24 15:19] claudiuchis commented on #1664
Downgrading Microsoft.Data.Sqlite nuget package from 5.0.0 to 3.1.14 fixed the problem for me.

[2021-04-24 15:53] PhakornKiong opened #1885 "Tutorial chain-azure-functions-data-using-bindings"
https://docs.microsoft.com/en-us/learn/modules/chain-azure-functions-data-using-bindings/5-read-data-with-input-bindings-portal-lab?pivots=javascript

In the above tutorial, the resulting `function.json` created would be
[code]

This setting would cause all query to cosmosDB  to return undefined.

By updating `function.json` to the following, everything works as it should be.
[code]

There are oth

[2021-04-25 18:12] rbonestell commented on #1883
I'm experiencing identical symptoms, only using `ServiceBusTrigger` instead of `QueueTrigger`.

I have tried many solutions, and ultimately ended up completely removing the connection string from my local.settings.json file only to run into the _same_ issue still, after expecting it to throw an exception that it couldn't find the connection string.

My Azure function Run method:
[code]

Regardless

[2021-04-25 19:13] rbonestell commented on #1883
Shortly after my posting I found a resolution to my problem, perhaps this will work for you too @o-k-a-y!

I hadn't noticed there were pending Nuget package updates, so I checked and updated `Microsoft.Azure.Functions.Worker` to version 1.2.0 and the issue disappeared!

[2021-04-26 07:19] v-anvari commented on #1883
Hi @o-k-a-y , I am using the visual studio version 19 and the cloud explorer as the local storage emulator. Can I know what are the packages you are using

[2021-04-26 07:40] v-anvari commented on #1885
Hi @Darkripper214 , Thank you for reporting this issue. We shall check this internally and make the appropriate changes.

[2021-04-26 07:45] v-anvari commented on #1880
Closing this issue as there is no activity. Please feel free to reach back to us or re-open this issue.

[2021-04-26 07:45] #1880 closed

[2021-04-26 07:50] v-anvari commented on #1855
cc @balag0

[2021-04-26 08:01] 23min commented on #1855
I've had contact with Azure support.

"Unfortunately, at this point the Stop/Start behavior not working is “by design” based on changes done on the Platform level."

"Stop Start was never defined behavior for refreshing versionless key vault references. We've recently rolled out our defined behavior for versionless“.

“If a version is not specified in the reference, then the app will use the lates

[2021-04-26 08:02] v-anvari commented on #1851
Closing this issue as there is no response. Please feel free to reach back to us or re-open this issue in case of any queries.

[2021-04-26 08:07] v-anvari commented on #1855
Thankyou, @23min for the updated information.

@balag0 , Can we add this as a feature request or close this issue for now as this is by-design

[2021-04-26 08:36] 23min commented on #1855
@balag0 @v-anvari
It would be helpful at least to have clear documentation about various start/stop behaviors (portal, API, platform events), cold start, warm start, and how scaling affects state and configuration. There is information spread around but it is far from intuitive that a Stop/Start does not bring the app up in a clean state.

[2021-04-26 11:03] drownintheloch commented on #1042
After many exchanges back and forth between me and the support team and the product team the solution was:

Which means that there's nothing we can do but to prohibit the usage of url-encoded `/` characters in our APIs or figure out a way to double encode the parameter.

We will go with the former and ask our customers to avoid encoding `/` characters in the URL for now.

[2021-04-26 11:47] miiitch commented on #1566
Thanks!

[2021-04-26 13:17] v-bbalaiagar commented on #1657
Hi @balag0, Could you please look into this issue

[2021-04-26 14:21] m3talstorm commented on #1851
The bug still stands

[2021-04-26 14:33] v-anvari commented on #1851
Hi @m3talstorm , We have tried to replicate this issue but unable to reproduce it. Can you let us know if you have submitted a support request earlier? If not, can you create one, so that the support team can check the issues with your account.
Do let us know if you find any trouble.

Azure Portal > Help and support ? New support request

Thank you.

[2021-04-26 15:46] m3talstorm commented on #1851
@v-anvari I have not created a support request, just this bug report.

Feel free to pass this on to the relevant team(s).

I highly doubt this would be an account-specific issue.

[2021-04-26 15:49] v-anvari commented on #1851
Hi @m3talstorm , The support ticket is to be created through your portal, so please go ahead and create one from your account. We wouldn't be able to tell the issue if it is account specific.

[2021-04-26 16:12] m3talstorm commented on #1851
@v-anvari I do not have permissions to create a support request within our client's subscription.

I have provided as much information as I can, I cannot take any further steps.

[2021-04-26 16:14] v-anvari commented on #1851
Thank you for the update.

@balag0 , Can you please suggest what could be done

[2021-04-26 16:50] v-bbalaiagar commented on #1676
Hi @andres-j, Closing this issue as there is no response, please feel free to reach back to us in case of any further queries related to this issue.

[2021-04-26 16:50] #1676 closed

[2021-04-26 17:18] balag0 commented on #1851
@v-anvari Was the app you tested with using Windows or Linux? If we haven't done it already, could we try with both to see if we can repro it?

[2021-04-26 20:11] ludflu commented on #1696
I just spent a couple hours trying to debug this. this is a serious bug and I can't believe its been open since August 2020.

[2021-04-26 20:11] balag0 commented on #1657
Could someone provide more details on the empty predefined function. Is the app using a valid zip file with host.json but no functions? Or is the app using WEBSITE_RUN_FROM_PACKAGE = 1 but with no content deployed?
The app name would also be very helpful. Thanks

[2021-04-27 00:05] madelinegordon opened #1886 "[Detector] Detector for EventHub availability/connectivity issues"
parent item: #1866

- Event Hub availability (connectivity issues) - surface and summarize errors/exceptions from Functions logs indicating connection issues to the Event Hub service (these would be logged by the Event Hub SDK which manages the connection and calls the WebJobs extension when there is an event(s) to process)

- Network access blocked - Should surface as errors logged by an underlyi

[2021-04-27 01:59] Segflow commented on #1696
you need to explicitly add this app settings:
`FUNCTIONS_WORKER_RUNTIME` and set its value to `python`

[2021-04-27 06:45] v-bbalaiagar commented on #1713
Hi @dieterdp, Apologies for the delayed response, Were you able to find a solution. If you still having this issue persisting, then let us know the repro steps for us to understand the error.

[2021-04-27 07:10] balag0 commented on #1855
@23min Good to know you were able to workaround this issue.

Regarding start/stop - We identified a race condition bug recently which can sometimes skip the step where currently running workers were not getting recycled correctly. I suspect that could have been the reason for the changes not getting picked up correctly.

In general, any write operations to the site will force a recycle of existing

[2021-04-27 10:29] wpitallo commented on #646
Please, please make this available on consumption plan!

[2021-04-27 14:28] jaslam94 commented on #309
This does not allow double slash. How would that be allowed?

[2021-04-27 14:28] jaslam94 commented on #309
This does not allow double slash. How would that be allowed?

[2021-04-27 16:59] o-k-a-y commented on #1883
I updated `Microsoft.Azure.Functions.Worker` to version 1.2.0 and `Microsoft.Azure.Functions.Worker.Sdk` to version 1.0.2 and now it's able to run

[2021-04-27 17:10] v-anvari commented on #1883
Closing issue as resolved.

[2021-04-27 17:10] #1883 closed

[2021-04-27 18:27] ludflu commented on #1696
yup, that's what I did. works fine now.

[2021-04-27 21:53] jamiros commented on #1062
+1 yes, please!

[2021-04-28 08:00] ThomasVandenbon commented on #1882
@v-bbalaiagar I was hopeful when you wrote that this is more than a bug.

We opened a support request and have since received some answers.

1. The first answer suggested that we had failed to correctly apply the Monitoring Reader / Reader roles and guided us on how to do this. This was however not the case and the roles were correctly set.

2. The second answer then confirmed the issue (after rep

[2021-04-28 08:16] codebrane commented on #1695
still an issue.

System.Private.CoreLib: Exception while executing function: DLQTest. Microsoft.Azure.WebJobs.Host:
One or more errors occurred. (Exception binding parameter 'message') (Exception binding parameter 'messageReceiver').
Exception binding parameter 'message'. Microsoft.Azure.ServiceBus: Operation is not valid due to the current state of the object.

works with string instead of Messag

[2021-04-28 12:00] v-anvari commented on #1851
Hi @balag0 , I am able to repro this only in linux applications. The App settings do not allow few of the special characters for linux Apps.

### **Windows:**

![image](https://user-images.githubusercontent.com/66122429/116398628-a5096c00-a845-11eb-9e60-e37f427beef0.png)

![image](https://user-images.githubusercontent.com/66122429/116399098-2c56df80-a846-11eb-824a-4bfaf8d5995b.png)

**App settings

[2021-04-28 17:34] v-bbalaiagar commented on #1669
Hi @bszewczyk, We apologize for the delayed response, were you able to find a solution to this problem. Do let us know if you want us to look at this issue further.

[2021-04-28 17:51] v-bbalaiagar commented on #1571
Hi @Srinivas-Potnuru, Since its an year old issue, can you confirm if this issue needs to be closed or requires a Triage.

[2021-04-28 18:00] v-bbalaiagar commented on #1522
Hi @vbondaryuk, Kindly let us know if this issue is still persisting, or are we good to close the issue.

[2021-04-28 20:19] ankitkumarr opened #1887 "[Detector] Deployment detector improvements"

[2021-04-28 20:21] ankitkumarr opened #1888 "[Kudu] Show a banner saying content is R/O when RunFromPackage"
Tracking issue for kudu

[2021-04-28 20:23] fabiocav commented on #1871
Closing this as done.

[2021-04-28 20:23] #1871 closed

[2021-04-29 09:25] baharedankoyuncu opened #1889 "How to start processing from a specific record using Cosmos DB trigger"
Hi,

The Azure Functions Cosmos DB trigger has a property `StartFromBeginning` which enables us to control whether the change feed should start from the beginning.

However, what is the recommendation for cases where you don't want to start from the beginning but a certain point in time or from a certain record and forward?

I couldn't find any issues being tracked but is this in the pipeline or a

[2021-04-29 16:44] v-anvari commented on #1885
@ggailey777 / @anthonychu  , Can you help us with the team who can update the Microsoft.Learn with the correct information. As the Id and partition key would require to be considered as bindings here.

[2021-04-29 16:44] james1293 commented on #309
I don't know, as I haven't worked with Azure Functions since my 2019 post :sweat_smile:

Hopefully someone else will have input.

[2021-04-29 16:49] jaslam94 commented on #309
Actually, I was encoding the URL parameter with Base64. In order to solve the above issue, I opted for URL safe Base64 encoding. This has removed the prohibited characters from the encoded string.

[2021-04-29 17:20] ggailey777 commented on #1885
@v-anvari I'll check with the current owner of that module. @Darkripper214 thanks for reporting this, we'll get it fixed 👍

[2021-04-29 17:22] v-anvari commented on #1885
Thank you @ggailey777

[2021-04-29 17:32] rmcmurray commented on #1885
Thanks for the feedback, @v-anvari. I'll look into this.

[2021-04-29 19:31] michaellperry commented on #1208
I had the same problem. Functions that I had deleted from my application still appeared in the Azure portal. I was able to delete those functions using the Azure Functions extension for VS Code. ms-azuretools.vscode-azurefunctions

[2021-04-30 03:26] nikrolls commented on #464
@GuyHarwood Yes, my consumption-based function app is using a completely unrelated IP which is making security configuration impossible.

[2021-04-30 08:07] GuyHarwood commented on #464
@nikrolls we have spoken to support about it, and it can change to any of the IP addresses published in [a JSON document](https://www.microsoft.com/en-us/download/details.aspx?id=56519) that is updated regularly.  If you want a dedicated IP you have to use a [dedicated app service plan](https://docs.microsoft.com/en-us/azure/azure-functions/dedicated-plan) (P1V2 etc).  I am still awaiting confirma

[2021-04-30 15:16] v-bbalaiagar commented on #1547
Hi @hansmbakker,  We apologize for the delayed response, were you able to find a solution to this problem. Do let us know if you want us to look at this issue further.

[2021-04-30 15:28] hansmbakker commented on #1547
Hi, I have not investigated further.

[2021-04-30 19:56] alrios-ms opened #1890 "[Premium] Azure Function v3 not picking up latest code after deployment"
Hi Team,

We are having an intermittent issue with our Azure Functions v3, we have several Azure Functions sharing common code,  after code deployments via YAML Azure Pipelines using this task AzureFunctionApp@1 set to runFromPackage, one of the functions is not picking up the latest code while the others got updated. We tried redeploying the code again which takes around 40 min but the result was

[2021-04-30 19:58] gzuber opened #1891 "[CLI] Remove support for Node 10"
Mirror Issue for: https://github.com/Azure/azure-cli/issues/17936

[2021-05-03 09:37] v-bbalaiagar commented on #1667
Hi @hermesramos, We apologize for the delayed response, were you able to find a solution to this problem. Do let us know if you want us to look at this issue further.

[2021-05-03 09:42] #1615 closed

[2021-05-03 09:55] v-bbalaiagar commented on #1590
Hi @emilbm, Apologies for the delayed response, We would like to know if you are still facing the same issue.

[2021-05-03 12:07] simenhagelid commented on #1527
Not sure if it is related, but I have been running timer triggered functions in consumption plan, both Windows and Linux. After a while, only the Linux functions continue to trigger.

[2021-05-03 16:52] v-anvari commented on #1875
@brettsam , Do we have any documentation related to this issue for guidance

[2021-05-03 16:53] v-anvari commented on #1890
Hi @alrios-ms , Can we have the function app details so that we can see what is the issue

[2021-05-03 16:56] v-anvari commented on #1889
Hi @baharedankoyuncu , There is no design as of now which can support this scenario, but flagging this to feature require for future support

[2021-05-03 17:10] ealsur commented on #1889
@baharedankoyuncu There is only support for a certain point in time, it was added in https://github.com/Azure/azure-webjobs-sdk-extensions/pull/691

There is no support (and it's not possible because it is not supported by the backend) to specify a record.

[2021-05-03 17:40] alrios-ms commented on #1890
Hi Anusri_Varier,

Resource group: gmm-compute-prodv2
SubscriptionId: 35a55dce-4df3-4970-82ed-e61d13b5193a
App Service Plan: gmm-compute-prodv2-premium (EP1: 1)
Function App: gmm-compute-prodv2-OneCatalog

Let me know if you need some other details.

Regards,
Alberto

From: Anusri_Varier ***@***.***>
Sent: Monday, May 3, 2021 9:54 AM
To: Azure/Azure-Functions ***@***.***>
Cc: Alberto Rios Leon ***

[2021-05-03 17:42] alrios-ms commented on #1890
Hi @v-anvari , is there a way to share privately that information?

[2021-05-03 17:44] v-anvari commented on #1890
Sharing   Your Function App name privately · Azure/azure-functions-host Wiki   (github.com)
--

[2021-05-03 17:58] baharedankoyuncu commented on #1889
Hi @v-anvari  & @ealsur,

Thank you, I hadn't noticed that was available, couldn't seem to find anything in the docs about it https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-cosmosdb-v2-trigger?tabs=csharp#configuration.

This is at least a good alternative to `StartFromBeginning`.

Appreciate your help.

[2021-05-03 18:00] alrios-ms commented on #1890
Hi @v-anvari,

Here you go.

2021-05-02 20:40:00.801
97ede1cd-68d5-42cf-a9fa-360301104135
West US 2

[2021-05-03 18:05] v-anvari commented on #1890
Thankyou

[2021-05-04 08:28] riccardobecker opened #1892 "TCP starvation when using ClientCertificate"
We have a function app running on the S1 plan. We are calling an external http endpoint which is protected with a client certificate. We experience increasing outbounds connections and it seems that the used HttpClientFactory does not clean up its resources thoroughly. Our setup:

- Azure Function
- Using named httpclient
- Taking certificate from keyvault (once and then cache it)

Startup.cs:
[co

[2021-05-04 09:26] v-bbalaiagar commented on #1738
Hi @rodrigopessoa1979, Kindly let us know if this issue is still persisting, or are we good to close the issue.

[2021-05-04 13:08] v-anvari commented on #1889
Thank you @ealsur for confirming the support

Closing this issue as it is by design

[2021-05-04 13:08] #1889 closed

[2021-05-04 13:11] v-anvari commented on #1885
@rmcmurray , Thank you for the update, could you please transfer this issue to the right repository, if applicable

[2021-05-05 00:28] sadiqkhoja commented on #1361
@erwelch did you find any work around `[IOException: The user name or password is incorrect.]`

[2021-05-06 09:44] v-bbalaiagar commented on #1522
Hi @vbondaryuk, Closing this issue as the required information is provided[ here](https://github.com/Azure/azure-functions-host/issues/5813), please feel free to reach back to us in case of any further queries related to this issue.

[2021-05-06 09:44] #1522 closed

[2021-05-06 15:18] allenhumphreys commented on #1805
My team has experienced this issue with Antarres version 93, I have opened a support ticket and they say I'm not the only one.

[2021-05-06 17:31] v-bbalaiagar commented on #1664
Hi @aderderian, Closing this issue as duplicate, Here is a [tracking issue](https://github.com/ericsink/SQLitePCL.raw/issues/343) which is being addressed and worked upon on a similar scenario, Please find the space for further updates.

[2021-05-06 17:31] #1664 closed

[2021-05-06 18:01] v-bbalaiagar commented on #1653
Hi @marcduiker, Apologies for the delayed response, Were you able to find a solution here. Kindly let us know if you could resolve it can we close this issue?

[2021-05-06 18:05] marcduiker commented on #1653
No worries, the latest SDK works fine for me. This can be closed.

[2021-05-06 19:51] smartpcr commented on #1725
I am having similar problem, below is func code,
![image](https://user-images.githubusercontent.com/9336638/117356958-33df3f80-ae69-11eb-9390-c989842b6f75.png)

Here is what I get from app insights, i am observing 4 concurent, interleaved instance running at the same time!
[code]

<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-m

[2021-05-06 22:13] btardif commented on #1777
FYI @ehamai can we get someone to take a look?

[2021-05-06 22:26] johnn82 commented on #1725
Hi @smartpcr,
to my end the problems was related to database locks.
In simple words, the logic I was running in the azure function was using EF to read/write some data from a table in a SQL Server database. It turned out that the Table was HUGE so execution of every call of my AZF was falling into a lock waiting for the previous call to finish.  The problem could be also related to the fact that u

[2021-05-06 22:26] #1725 closed

[2021-05-07 03:05] RizwanSharp commented on #1239
Hello Team, Our app started getting 503s followed by 404 (on valid URLs as someone reported above). There was a bug in the code which caused a sort of infinite loop and caused thousands of errors. Now that loops has been exited but we are in a state where we are getting 503. Can you please help us understand the cause and fix so we can avoid this situation without requiring a restart of the functi

[2021-05-07 03:48] RizwanSharp commented on #1239
We did notice, we were running too many apps on a couple of S1 servers and we have scaled those up to P1 (2).

[2021-05-07 09:13] v-bbalaiagar commented on #1653
Hi @marcduiker, Closing this issue as resolved, Please feel free to reach back to us in case of any further queries related to this issue.

[2021-05-07 09:13] #1653 closed

[2021-05-07 10:33] IanKemp commented on #1042
The only option here is to perform additional encoding on the URL before you call it, then perform the corresponding decoding on the receiving end. We used Base64 for this.

[2021-05-07 12:16] drownintheloch commented on #1042
Yes @IanKemp that is true, and the issue we have is that our APIs are consumed by our customers and we don't feel like communicating to them that "For all path variables please perform two encodings since our API platform does not support single encoded path parameters".

If the consumers of the APIs were internal, this would be fine. But ours are external.

[2021-05-07 13:56] IanKemp commented on #1042
@drownintheloch Yeah, I was just giving a possible solution for anyone who is fortunate enough to not be publishing an external API.

The fact this has been an issue since 2018 and never got any attention is just bizarre to me, but sadly par for the course for Azure Functions. Microsoft honestly doesn't seem to care, the result is that using AF as a web API has gone from "not recommended" in my bo

[2021-05-07 17:51] m-sterspace commented on #738
I'm relatively new to websockets, and was just looking to implement a multi-file upload via websockets for the first time, but am I correct in understanding from this thread that I can't user Azure Functions for that and have to use SignalR?

Also, am I correct in understanding that SignalR is only available in C#/.NET, not in Javascript?

[2021-05-07 18:15] Odonno commented on #738
@m-sterspace Well, there's some news about this recently (really). It seems there is now a serverless service called Azure Web PubSub which is built on top of websockets. I don't really know how it works but I suppose it is something you can start looking at: https://azure.microsoft.com/en-us/blog/easily-build-realtime-apps-with-websockets-and-azure-web-pubsub-now-in-preview/

About SignalR, you'r

[2021-05-07 21:46] alrios-ms commented on #1890
Commenting to prevent auto closing

[2021-05-07 22:14] varlen commented on #1343
Doing it, I was only able to run my function in Visual Studio with Azurite after creating a $logs container manually through the REST API with `curl -XPUT "http://localhost:10000/devstoreaccount1/%24logs?[SAS]` where `[SAS]` is the SAS string. Refer [this](https://github.com/Azure/Azurite/issues/602#issuecomment-717681456) comment on how to create it.

[2021-05-07 22:41] SeanFeldman commented on #1343
@varlen you can work around it but it's not a solution. I'm using Rider and don't have to worry about creating `$logs`  folder. That's not a solution though. Anyone using VS should be able to hit `F5` and run.

[2021-05-07 22:45] acrigney commented on #1343
Any comments on performance of this? Parallel processing etc?

On Thu, 28 Jan. 2021, 1:51 am HenrikSommer-eng, ***@***.***>
wrote:

[2021-05-07 23:11] balag0 commented on #1239
@RizwanSharp Took a quick look and found a few storage exceptions but looks like they might have been transient. If you see similar errors again, please open a new issue and we can investigate further.

[2021-05-09 10:13] ilayn commented on #1091
This decision might be OK from Azure side but it is impossible to find which is causing many many days of searching trials and errors. Just google "base64 azure queue" and you'll see the extent of this problem. There *must* be some reference to it somewhere pointing to this encoding section because it is just annoyingly cryptic. Also the error message can be extremely simplified pointing to this i

[2021-05-09 10:16] ilayn commented on #1091
Also look at this

![image](https://user-images.githubusercontent.com/1303842/117568405-51f2ad00-b0c0-11eb-926a-0b80ddbc9c2c.png)

[2021-05-09 20:02] RizwanSharp commented on #1239
Appreciate for taking a look, yes we did have some exceptions + running many apps on limited resources. Scaling up took care of the problem. Thanks again!

[2021-05-10 07:54] v-bbalaiagar commented on #1721
Hi @atsapura, We apologize for the delayed response, were you able to find a solution to this problem. Do let us know if you want us to look at this issue further.

[2021-05-10 08:00] v-bbalaiagar commented on #1685
Hi @asipras, Closing this issue as duplicate. For more updates please follow the space - https://github.com/Azure/azure-functions-host/issues/6500

[2021-05-10 08:00] #1685 closed

[2021-05-10 09:02] v-anvari commented on #1890
Thank you @alrios-ms , The team is looking this issue backend, will update you any information

[2021-05-10 11:36] v-bbalaiagar commented on #1779
Hi @lovettchris, Apologies for the delayed response, Were you able to find a solution here. Kindly let us know if you could resolve it can we close this issue?

[2021-05-10 11:50] v-bbalaiagar commented on #1696
Hi @Segflow, Apologies for the delayed response, Were you able to find a solution here. Kindly let us know if you could resolve it can we close this issue?

[2021-05-10 12:33] CristianDorinFlorea opened #1893 "Azure Application Insights Telemetry"
We have a function app with service bus triggers. We're using Application Insights to monitor our application.
This is how telemetry is configured in code:
`
public class Startup : FunctionsStartup
{
        public override void Configure(IFunctionsHostBuilder builder)
        {
           var instrumentationKey = Environment.GetEnvironmentVariable("APPINSIGHTS_INSTRUMENTATIONKEY", EnvironmentVari

[2021-05-10 12:40] #1893 closed

[2021-05-10 12:41] CristianDorinFlorea opened #1894 "Azure Application Insights Telemetry"
We have a function app with service bus triggers. We're using Application Insights to monitor our application.
This is how telemetry is configured in code:
[code]
In the Application Insights we are seeing the events like this:
![appinsights](https://user-images.githubusercontent.com/40396294/117657126-dec16780-b1a1-11eb-9f65-59f17b517796.png)

Currently we are referencing this nuget: Microsoft.Azu

[2021-05-10 16:33] lovettchris commented on #1779
Well I tried `https://msr-reconstruction-functions.azurewebsites.net/subscriptions/bb53d5b4-2c3b-4623-8b64-cd4d6564e71c/resourceGroups/msr-reconstruction-rg/providers/Microsoft.Web/sites/msr-reconstruction-rg/functions?api-version=2020-06-01` but I get HTTP 404 error: page not found.

So the best solution I've found so far, which is not great, is to store a "status" field in a cosmos database when

[2021-05-11 09:17] v-bbalaiagar commented on #1696
Hi @Segflow, Apologies for the confusion

@ggailey777, Tagging gailey, Since its a document related issue. Can we add this in our documents and if its a valid note, then can we transfer this issue to the docs repo.

[2021-05-11 09:37] v-bbalaiagar commented on #1770
Hi @ealsur, Please share your inputs here. Can this be added as a feature request?

[2021-05-11 10:08] v-bbalaiagar commented on #1894
Hi @CristianDorinFlorea, Thank you for reaching out to us, Checking internally on this issue

[2021-05-11 10:39] v-bbalaiagar commented on #1575
Hi @erYasar, Since its an year old issue, can you confirm if this issue needs to be closed or requires a Triage.

[2021-05-11 11:40] erYasar commented on #1575
@v-bbalaiagar require triage

[2021-05-11 13:39] jitendriyag2 opened #1895 "Azure Function Unable to Run pg_dump.exe after uploading exe file into Azure Function Shared Folder"
I Created a Azure Function using PowerShell as well as C# in Azure Portal then i tried to run some .exe file by uploading to corresponding folder but it is not executing such exe without failing with the error, if something happing also it should show corresponding error but it is not displaying.

Code to Repro:

#r "Newtonsoft.Json"

using System.Net;
using Microsoft.AspNetCore.Mvc;
using Microso

[2021-05-11 14:44] ealsur commented on #1770
@v-bbalaiagar - That is not something I can decide, you should reach out to Functions team because this requires support on the framework.

[2021-05-12 15:12] lecamarade commented on #1873
Same here. I get: "Regional VNET Integration network cannot be modified with this API call. Please use call /networkConfig/VirtualNetwork."

Have you found a work around?

The sample you mentioned is no longer available, btw. Wonder if it's related to this bug.

I was hoping it was ARM schema related. I get apiVersion 2018-11-01 when I export it in the UI.
This is what it looks like:

{
	"type": "

[2021-05-12 20:09] fabiocav commented on #1888
This is currently in draft. Leaving in sprint 101 as the work should be merged soon.

[2021-05-12 20:10] fabiocav commented on #1887
Moving this out of the sprint until we have concrete requirements.

[2021-05-12 20:11] fabiocav commented on #1886
Additional requirements have been gathered. @madelinegordon will update with details, but we should be able to start executing on this in sprint 102

[2021-05-14 01:57] daisukei777 commented on #1044
+1

[2021-05-14 02:45] stunney opened #1896 "GitHub Action - Add WebApp/FunctionApp restriction Allow Rule before build"
Our Static Web App (Preview) app is using Next.js.  During rendering of the static site the build calls several of our Azure Functions.

We are not a public site yet, so we do not want these functions public quite yet.  Also want to keep costs/risk down.

We are using the built-in GH Actions (code below)

Is there a way to call the Azure API to temporarily add the actions agent that is running our

[2021-05-14 07:51] 0xUnicorn commented on #646
Hi, I'm creating a startup making use of +10 function apps (consumption plan) for my microservice infrastructure and not being able to add them to same VNET's as their related services like StorageAccounts, keyvaults etc. really sucks.

Paying 152$ for each function app is not possible, and dumping all functions into the same function app isn't a proper solution.
A lot of my function apps are simp

[2021-05-14 09:43] v-bbalaiagar commented on #1770
Hi @ealsur, Thank you for the update.

[2021-05-14 09:57] v-bbalaiagar commented on #1575
Hi @erYasar, Thank you for the update, We are checking internally for any known issue

[2021-05-14 15:15] nzthiago commented on #646
Also agree that VNET integration in consumption would be great, but to clarify: you pay Premium for the app plan instance, and you can have up to 100 function apps in the same Premium Functions app plan. So you can still pay for one instance of the Premium plan and have your 10 function apps in the same plan.

[2021-05-14 17:10] v-bbalaiagar commented on #1770
Hi @fabiocav /@pragnagopa, Please share your inputs here. Can this be added as a feature request?

[2021-05-15 02:21] #1750 closed

[2021-05-15 21:41] wpitallo opened #1897 "Error: Failed to sync triggers for function"
Getting this error when deploying to a function:

Error: Failed to sync triggers for function app 'xxx function-name xxx'. Error: BadRequest - Encountered an error (InternalServerError) from host runtime. (CODE: 400)

This only happens tho when I create the function using:

az functionapp create --subscription ${subscription} --resource-group ${resourceGroup} --consumption-plan-location ${location

[2021-05-16 09:46] 0xUnicorn commented on #646
Oh Thanks so much @nzthiago , I didn't notice it is the App Plan you buy as Premium.

[2021-05-17 06:19] balag0 commented on #1897
Please share the app name using https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately

[2021-05-17 08:29] wpitallo commented on #1897
Hi @balag0 the app name is: avataaars-functions-test-eu-c1.azurewebsites.net

[2021-05-17 08:30] wpitallo commented on #1897
I am deploying from an Azure DevOps pipeline. When I get the error.

[2021-05-17 11:38] v-bbalaiagar commented on #1606
Hi @mviegas, Can you please confirm were you able to find a solution here. Do let us know if you have any further queries.

[2021-05-17 11:41] v-bbalaiagar commented on #1632
Hi @dhanush987, Closing this issue as there is no response, Please feel free to reach back to us in case of any further queries related to this issue.

[2021-05-17 11:41] #1632 closed

[2021-05-17 12:05] mviegas commented on #1606
Hi @v-bbalaiagar it's been so long that, honestly, I do not remember what I did to solve this.

I also have no further queries on this, so I'm closing this issue.

Thank you!

[2021-05-17 12:05] #1606 closed

[2021-05-17 18:15] v-anvari commented on #1890
Hi @alrios-ms , While the team is investigating, this looks like an issue related to your specific app. Did you have a chance to submit a support request. If not, can you submit a support request and check if the support team could find out something from their end specific to your app.

[2021-05-17 18:21] v-bbalaiagar commented on #1575
Hi @erYasar, Can you please go through this[ issue](https://github.com/NuGet/Home/issues/10118) which is being addressed and worked upon on a similar scenario. Let us know if that helps.

[2021-05-17 18:24] alrios-ms commented on #1890
Hi @v-anvari, I haven't submitted a support request yet, I will do that.

[2021-05-18 10:00] v-bbalaiagar commented on #1576
Hi @prawin2k, Closing this issue as there is no response, Please feel free to reach back to us in case of any further queries related to this issue.

[2021-05-18 10:00] #1576 closed

[2021-05-18 11:31] v-bbalaiagar commented on #1895
Hi @jitendriyag2, Thank you for reaching out to us, Shall try to reproduce this scenario and update you with findings.

[2021-05-18 11:33] v-bbalaiagar commented on #1894
Hi @CristianDorinFlorea, Here is a [tracking issue](https://github.com/Azure/azure-functions-host/issues/7358) which is being addressed and worked upon on a similar scenario, Please find the space for further updates.

[2021-05-18 11:33] #1894 closed

[2021-05-18 12:53] v-bbalaiagar commented on #1655
Hi @petro2050, We apologize for the delayed response, were you able to find a solution to this problem. Do let us know if you want us to look at this issue further.

[2021-05-18 12:56] dblood2 commented on #464
@GuyHarwood - any update on this?  I'm in the same boat as you and @nikrolls

[2021-05-18 13:01] #1575 closed

[2021-05-18 13:06] v-bbalaiagar commented on #1527
Hi @anthonychu, Can you kindly look into this.

[2021-05-18 13:22] GuyHarwood commented on #464
@dblood2 the support engineer confirmed that the only way to get a fixed IP is using a VNET with either the app service plan or premium plan.  In my experience, an app service plan always seems to retain the IP advertised on the portal blade, regardless of whether its sat under a function app or a website.  Maybe someone at MS can confirm this either way 🤷🏼‍♂️

[2021-05-18 13:57] dblood2 commented on #464
@GuyHarwood - Thanks for the update.  I had other consumption-plan functions that I was hosting on Linux App Service Plans, so when I created this new AF, I just went the same route.  With your info, I recreated the function and selected an existing S1 App Svc Plan where I have a bunch of .Net Core sites that already access my SQL VM.  Since I had previously whitelisted the S1 ASP Outbound IPs in

[2021-05-18 15:32] notaroobob opened #1898 "System.Text.Json Not working on Azure Functions v3"
System.Text.Json 5.0.2 brings with it an update to System.Text.Encodings.Web of 5.0.1.

The Dot net Runtimes for Azure Functions (linux in my case) is not allowing any executable to fire up. Specifically it's throwing an error that System.Text.Encodings.Web 5.0.0 is not found (which is true because it's now 5.0.1). Trying to force an update to 5.0.1 for Encodings.Web via nuget packages did not res

[2021-05-18 16:35] nikrolls commented on #464
Hmm, I've always used an app service plan and I wasn't getting the IPs advertised by it. Ultimately I reached out to the third party and they agreed to remove IP filtering in favour of key pair verification.

[2021-05-18 16:46] wpitallo commented on #1897
Hi @balag0 , any idea what is causing this.

[2021-05-18 17:24] vjppaz commented on #844
I am trying this step but i receive an invalid credential exception. what cred should i use? i tried my ms 365 account but it doesn't recognize it, i am the owner of the subscription.

[2021-05-18 18:38] dblood2 commented on #464
@nikrolls Weird, I've not found a situation yet where the Outbound IPs listed in the portal were not the ones being used except when I tried it from those Linux ASPs.  Hopefully I won't, but I appreciate your insight...and now I'm a little worried.

[2021-05-18 19:16] Ownmarc commented on #1805
got the exact same issue here using the python 3.7

so the fix is to restart our app every couple of days ?

[2021-05-18 19:19] nikrolls commented on #464
Oh I was using Linux. I didn't realise you meant only Windows ASPs worked. I wish the documentation was clear.

[2021-05-18 19:27] allenhumphreys commented on #1805
@Ownmarc (and whoever) You should open a support ticket if possible to make sure this issue gets resolved. But yes, restarting generally seems to fix it.

[2021-05-18 21:39] wangkanai opened #1899 "Azure IoT Hub Device Twins"
Please add direct support for Azure IoT Hub Device Twins (https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-csharp-csharp-twin-getstarted) triggers event in Azure Function. If it is already support, please add documentation and code sample. I really need this feature built into Azure Function.

Thank you very Azure Function Team 😄

[2021-05-19 00:43] balag0 commented on #1897
@wpitallo Sorry for the delay. Looks like the problem is due to
Microsoft.Azure.WebJobs.Script.Workers.Rpc.RpcException : Result: Failure Exception: Worker was unable to load function avataaars: 'TypeError: Assignment to constant variable.' Stack: TypeError: Assignment to constant variable.
main.server.js:12:17

Does that help?

[2021-05-19 04:32] star286 opened #1900 "Does the timeout attribute not work for a function?"
I know we can set the time out for an azure function app by [setting functionTimeout in host.json](https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#functiontimeout).

But now I want to set timeout per function in a function app. I see there is an attribute **timeout**(I found it in[ azure webjobs doc](https://docs.microsoft.com/en-us/azure/app-service/webjobs-sdk-how-to#t

[2021-05-19 07:29] erwinkramer commented on #1613
@ankitkumarr I see you provided a (possible?) fix. Can you update us on the status?

[2021-05-20 04:30] syedyakoobali opened #1901 "Azure Function times out in 5 minutes"
Greetings

I have deployed an Azure function with App Service Plan. It gets timedout in 5 minutes. Is there anyway he can set the timeout to unlimited.

[2021-05-20 06:35] jedjohan commented on #1901
Consumption plan ? then max execution time is 10 min. Set in host.json: { "functionTimeout": "00:10:00" }. If you need more you will need to leave consumption and go dedicated/premium. See more here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#functiontimeout

[2021-05-20 06:39] v-bbalaiagar commented on #1900
Hi @star286, Thank you for reaching out to us, checking internally on this issue.

[2021-05-20 06:54] ganesh-gawande opened #1902 "1 minute azure function is not working as expected"
I have time trigger azure function - `[TimerTrigger("0 * * * * *")]`
This is expected to run every 1 minute at 00 seconds. But sometimes its get executed at previous 59 second itself.

I have tried the expression as `[TimerTrigger("0 */1 * * * *")]`  - but still same behavior.

Please find attached screenshot of log prints.
<img width="352" alt="Timer Azure function error" src="https://user-images

[2021-05-20 07:48] ganesh-gawande commented on #1902
One more quick verification I have done - is creating a new function app, creating time trigger function using portal - without any additional logic - only print - and that has also same issue.

<img width="959" alt="Timer Azure function error 2" src="https://user-images.githubusercontent.com/12989060/118939952-dae5d000-b96d-11eb-985a-d459dbff1a2d.PNG">

[2021-05-20 09:42] #1867 closed

[2021-05-20 09:46] v-anvari commented on #1885
Hi @rmcmurray , I have reproduced this scenario recently and this is still the case. Do you have any updates here.

Thank you

[2021-05-20 10:18] v-anvari commented on #1864
Hi @narenkv , Thank you for the feedback, After having a look through some more related issues, I came across this [similar report](https://github.com/Azure/azure-sdk-for-net/issues/11400#issuecomment-620179175).

Which mentions you need to set Environment Variable AZURE_CLIENT_ID to be the User assigned MSI's client ID

If you want to do this through the Azure portal.
You can head over to your Az

[2021-05-20 10:20] v-anvari commented on #1864
Let us know if the solution helps, closing this issue as the required information is provided, please feel free to reach back to us in case of any further queries related to this issue

[2021-05-20 10:20] #1864 closed

[2021-05-20 14:34] Prinsn commented on #1547
@hansmbakker they stated "Do let us know if you want us to look at this issue further.", it might be prudent to specify that you do if you do.

[2021-05-20 17:12] wpitallo commented on #1897
Hi @balag0 So I redeployed and I get the same error, where can I view that error that you shared? Thanks so much for the help!

[2021-05-20 17:33] balag0 commented on #1897
It should be available in application insights(check the traces / exceptions table). Did you identify any issue with main.server.js that you had to update with the recent deployment?
I will also verify the logs from today to check if there are any other issues.

[2021-05-20 17:51] wpitallo commented on #1897
Thanks so much, I am busy updating some stuff now will keep you posted thanks so much for the help, its greatly apporeciated!

[2021-05-20 18:15] v-bbalaiagar commented on #1513
Hi @sergiosolorzano, Since its an year old issue, Can you confirm if this issue needs to be closed or requires a Triage.

[2021-05-20 23:39] mikebranstein opened #1903 "[Premium] Why is it recommended to disable Health Checks?"
**Question**
Can you expand on why it is recommended to disable Health Checks in Premium Function Apps, as noted in https://docs.microsoft.com/en-us/azure/app-service/monitor-instances-health-check#limitations?

It sounds like health checks *could* cause Premium Function Apps to scale unnecessarily, but it's not apparent by reading the docs site.

[2021-05-20 23:45] sfgadjo commented on #1903
I am interested in an answer to this as well.

[2021-05-21 07:32] sergiosolorzano commented on #1513
solved in the stackoverflow url above

[2021-05-21 07:32] #1513 closed

[2021-05-21 19:26] DataGobes commented on #1657
I am joining the club. So for me I get this error when I run an ARM template with a listkeys like @amansahni1 against a function app which does not have a zip deployed yet.

"[listKeys(concat(resourceId('Microsoft.Web/sites', variables('functionAppName')),'/host/default/'), '2019-08-01').functionKeys.default]"

I was running this ARM template a couple of times succesfully when I had a python ZIP d

[2021-05-24 02:21] gitrepo12345 commented on #1194
The issue still persists in South Central US.

[2021-05-24 09:52] razeenh commented on #1657
My arm template was working fine before, until last week when I discovered that the host keys for the function app was no longer being set despite the deployment succeeding.
It does seem to get created when creating manually via Azure Portal though, so have no idea why the arm template deployment is resulting in this issue.
Its created against an existing general purpose V2 storage account and S1

[2021-05-24 11:52] v-bbalaiagar commented on #1901
Hi @syedyakoobali, Let us know if the above information resolves your query, or if you have any further queries.

[2021-05-24 14:47] wpitallo commented on #1897
Hi @balag0

Thanks again for the help. So there does seem to be something wrong.

I did make some changes and I redeployed the code. The code I deployed to the app I created using the CLI failed in the deployment.

Here is a test link (failed function release):
https://avataaars-functions-test-eu-c1.azurewebsites.net/api/v1/documentation/publicGlobal/ping/ping.json

Then I created a function manua

[2021-05-24 15:41] v-anvari commented on #1890
Hi @alrios-ms , Have you received any solution from the support team

[2021-05-24 16:25] alrios-ms commented on #1890
Hi @v-anvari , yes I have, they suggested to disable dynamic cache by setting WEBSITE_DYNAMIC_CACHE = 2
https://github.com/projectkudu/kudu/wiki/Configurable-settings

I will test it and report back.
Thank you.

[2021-05-24 17:09] v-bbalaiagar commented on #1900
Hi @star286  , Thank you for your feedback, I was able to reproduce the scenario. Triaging this issue for further investigation.

//For the team for triage//

Function app name: fptimer1

Timestamp : 2021-05-24T12:11:29.646

Region : Central US

Expected result: It should timeout after 20s.

Actual result: But the function ignores timeout attribute, it can work beyond 20s.

**Repro steps:**

 1. I

[2021-05-24 17:40] v-bbalaiagar commented on #1903
Hi @mikebranstein, Thank you for your feedback! We will investigate and update as appropriate.

[2021-05-24 21:14] wpitallo commented on #1897
Hi @balag0, hope that you are keeping well.

So I am still getting a failed deployment returned now even thought the function seems to be working.

https://avataaars-functions-test-eu-c1.azurewebsites.net/api/v1/avataaars/ping/unsecure

I also do not see any exceptions generated when this fails. (Note this is only for the function created using az cli)

I deploy the same package to another functio

[2021-05-25 04:05] NicksCode commented on #1670
Yes as of 25th of May this issue still exists

[2021-05-25 04:35] star286 commented on #1900
@v-bbalaiagar thanks for your update. Looking forward to new updates for this issue.

[2021-05-25 14:34] v-bbalaiagar commented on #1903
Hi @mikebranstein, Health check will not cause Premium Function Apps to scale unnecessarily. The official document means that Premium Functions sites scale quickly, such as scaling more instances, using Health check will cause a lot of unnecessary traffic consumption.
In addition, Premium Functions has its own health check mechanism, so there is no need to enable Health check.
Let us know if you w

[2021-05-25 19:26] brettsam opened #1911 "Remove HttpClient as a registered service"
Proposal to fix https://github.com/Azure/azure-functions-host/issues/7236 by removing the [registration of `HttpClient` from DI](https://github.com/Azure/azure-functions-host/blob/8452121321434f10b3436e323da67fe1e3fc32fa/src/WebJobs.Script.WebHost/WebHostServiceCollectionExtensions.cs#L124) in the Functions Host.

Discussion link: https://github.com/Azure/Azure-Functions/discussions/1913

### Moti

[2021-05-26 09:32] ankitkumarr commented on #1888
Completed via https://github.com/projectkudu/kudu/commit/6c62ba710e42e18043eb3e5f3443d8cc22bd7af1

[2021-05-26 09:32] #1888 closed

[2021-05-26 11:33] sureshtadisetty opened #1914 "[Premium] HttpTrigger AzureFunction started failing with 503 Service Unavailable after 230 seconds"
**Describe the bug**
HttpTrigger AzureFunction failing with 503 Service Unavailable after 230 seconds.
This used to work till last week with out functionTimeout setting, take ~20mins to complete request. Request your help to identify what's changed.
It's failing now even with functionTimeout setting.

AzureFunction execution id:
2021-05-26T11:21:29.262 [Information] Executing 'OnInt***' (Reason='T

[2021-05-26 12:14] LotfiMEZIANI commented on #1240
There is some news about this feature?

[2021-05-26 15:54] msjonker commented on #1194
@jeffhollan Any updates on this? We are experiencing this in Central US.

[2021-05-26 16:49] anirudhgarg commented on #1194
msjonker - can you confirm if yours is a Windows or a Linux Premium app.

[2021-05-26 16:54] msjonker commented on #1194
I see that this issue is related to functions, but I'm experiencing it with a Linux App Service plan. Does the fix happen to fix Resource Group dependency on webspaces/stamps as a whole?

[2021-05-26 18:35] balag0 opened #1915 "Enforce default and max. dynamic sku function timeout for Linux consumption"
Discussion for this proposal can be found here: https://github.com/Azure/Azure-Functions/discussions/1919

Proposal to make function timeout consistent across Windows and Linux consumption skus.

There will be 2 changes
1) Currently Windows consumption uses a default function time out of 5 min. On Linux consumption the default timeout is 30 min.

https://github.com/Azure/azure-functions-host/blob/

[2021-05-26 19:37] wpitallo commented on #1897
Ok cool thanks, will give it a try. Also just to confirm it works perfectly if I deploy to a manually created function with everything exactly the same. Its only failing on the function created using the Azure cli. And also just to confirm even tho its failing from Azure devOps the function is working 100% correctly. But will try check the logs for that now. Thanks again for the help, really appre

[2021-05-26 19:58] wpitallo commented on #646
you can have up to 100 function apps in the same Premium Functions app plan :) :) :)

[2021-05-26 20:07] fabiocav commented on #1886
Moving this to sprint 103 as I believe the work is still in progress.

Adding @madelinegordon for an update if needed.

[2021-05-26 20:13] wpitallo commented on #1897
Hey @balag0,

So I did that and I could not find a kudu-mnt share but I did find the deploy logs with this error:

text="There is not enough space on the disk.

However in the entire storage account is only using 3.6 Gb is there something else I might be missing?

This may explain why the manual one works, it probably because I am using a different storage account.

Any idea where I can get more i

[2021-05-26 20:16] wpitallo commented on #1897
Quota for the file share says 5 TiB

[2021-05-26 22:56] wpitallo commented on #1897
Hey @balag0 just wanted to say thanks for the help. I still think something went wrong there that should not have. I should not have been anywhere close to maxing out the storage accounts. I did manage to fix it though by deleting the old storage account and function and then re-deploying. So its working but not sure where that There is not enough space on the disk. error is coming from?

Thanks a

[2021-05-26 22:56] #1897 closed

[2021-05-27 05:51] gzuber opened #1916 "[azure-cli] Aggregation of issues with config-zip deployment command"
This is meant to link together issues reported about the config-zip cli command so that we can organize and fix/improve the experience.

https://github.com/Azure/azure-cli/issues/18060
https://github.com/Azure/azure-cli/issues/18160

[2021-05-27 05:52] gzuber opened #1917 "[azure-cli] Aggregation of issues with slot create command"
This is meant to link together issues reported about the slot create command so that we can organize and fix/improve the experience.

https://github.com/Azure/azure-cli/issues/18072
https://github.com/Azure/azure-cli/issues/18080
https://github.com/Azure/azure-cli/issues/18095
https://github.com/Azure/azure-cli/issues/18124

[2021-05-27 06:19] anirudhgarg commented on #1194
@msjonker this issue was specifically for Functions. Thanks for confirming that this is not an issue with Functions. I will follow up about Web Apps.

[2021-05-27 06:19] anirudhgarg commented on #1194
@gitrepo12345  - can you confirm if this is for Function App and for a Windows App

[2021-05-27 09:56] vtermaat commented on #1657
Any insights? Facing the same issue.

[2021-05-27 16:29] v-bbalaiagar commented on #1670
Hi @NicksCode, Thank you for the update, Shall try to reproduce this scenario and update you with findings.

[2021-05-28 09:53] arkiaconsulting commented on #1898
As a side note, bumping `Microsoft.NET.Sdk.Functions` from 3.0.11 to 3.0.12 drops `System.Text.Encodings.Web.dll` from the publish folder.

[code]
=> System.Text.Encodings.Web.dll present

[code]
=> System.Text.Encodings.Web.dll not present

[2021-05-28 13:27] notaroobob commented on #1898
Already went down that path last week. It's either some in Azure App Config or System.Text.Json or the Functions Run time itself, but I've got stay focused on shipping workable code so i can't keep digging into which part of the system is still thinking they need System.Text.Encodings.Web 5.0.0 during Function Start Up. You'll see I think in my referenced issue where I found a December issue where

[2021-05-28 13:46] v-bbalaiagar commented on #1914
Hi @sureshtadisetty, Thank you for your feedback! We will investigate and update as appropriate.

[2021-05-28 15:05] v-bbalaiagar commented on #1657
Hi @balag0, Kindly can you look at this issue here

[2021-05-28 15:11] Jay-Madden commented on #1657
So we had the error with terraform deployments and we solved it like this
https://github.com/terraform-providers/terraform-provider-azurerm/issues/11266#issuecomment-818757226

I dont know how helpful this solution will be for ARM solutions but we had the same InternalServerError

[2021-05-29 08:06] DataGobes commented on #1657
Ah that is definitely worth a try, looks like te exact same issue. Thanks for mentioning this.

[2021-05-31 10:17] v-anvari commented on #1898
Hi @notaroobob , Thank you for your feedback! We will investigate this further and update you with the findings.

[2021-05-31 10:43] v-anvari commented on #1892
Hi @riccardobecker , Thank you for your feedback! We will investigate this further and update you with the findings.

[2021-05-31 11:15] v-anvari commented on #1859
Hi @klogan12 , please let us know if you are still finding a solution

[2021-05-31 11:19] v-anvari commented on #1834
Tagging @balag0 , for any inputs

[2021-05-31 11:27] v-anvari commented on #1814
Hi @claudiaqw, Apologies for the delayed response, let us know if you were able to find a solution.

If not, please let us know the repro steps to repro, also please try debugging your project in visual studio 19, because there are certain languages or packages which are supported only in visual studio 19

[2021-05-31 11:29] v-anvari commented on #1812
Hi @jbeeko, Closing this issue as there is no further activity, please feel free to reach back to us in case of any further queries related to this issue

[2021-05-31 11:30] #1812 closed

[2021-05-31 14:13] v-anvari commented on #1741
Hi @PaulWildReb , @andybooth , This issue is relating to an issue which is already being tracked - https://github.com/Azure/azure-functions-host/issues/5378. Here the name "Query "  is working like a reserved word, and the team is investigating on the issue to identify if it should be made as by-design.

Thank you for your patience, closing this issue as its tracked in the above mentioned issue.

[2021-05-31 14:13] #1741 closed

[2021-05-31 14:21] v-anvari commented on #1727
Closing this issue as there is no further activity, please feel free to reach back to us in case of any further queries related to this issue

[2021-05-31 14:21] #1727 closed

[2021-05-31 14:30] v-anvari commented on #1712
Confirming and closing this issue, as the new UX shows different deployment options in the deployment center
![image](https://user-images.githubusercontent.com/66122429/120207781-76b6ec00-c24a-11eb-90e6-d18f3756fe21.png)

[2021-05-31 14:31] v-anvari commented on #1711
Closing this issue as there is no further activity, please feel free to reach back to us in case of any further queries related to this issue

[2021-05-31 14:31] #1711 closed

[2021-05-31 16:36] v-anvari commented on #1708
Thank you for your feedback. Closing this issue as there is no further activity, please feel free to reach back to us in case of any further queries related to this issue

[2021-05-31 16:36] #1708 closed

[2021-05-31 16:42] v-anvari commented on #1692
Hi @jbeeko , This is a quick follow up, does this issue still exist. Is this good to be closed?

[2021-05-31 16:42] v-anvari commented on #1691
Hi @jbeeko , This is a quick follow up, does this issue still exist. Is this good to be closed?

[2021-05-31 16:51] v-anvari commented on #1690
Hi @extellior , Thank you for your feedback! Apologies for the delayed response, can you kindly confirm if you are still seeing this issue with the latest packages. I tried to reproduce this issue with a simple queue trigger, but it worked as expected.

[2021-06-01 06:31] v-bbalaiagar commented on #1550
Hi @vdex42, Closing this issue as there is no response, please feel free to reach back to us in case of any further queries related to this issue.

[2021-06-01 06:31] #1550 closed

[2021-06-01 06:36] v-bbalaiagar commented on #1571
Hi @Srinivas-Potnuru, Closing this issue as there is no response, please feel free to reach back to us in case of any further queries related to this issue.

[2021-06-01 06:36] #1571 closed

[2021-06-01 06:42] v-bbalaiagar commented on #1590
Hi @emilbm, Closing this issue as there is no response, please feel free to reach back to us in case of any further queries related to this issue.

[2021-06-01 06:42] #1590 closed

[2021-06-01 06:52] v-bbalaiagar commented on #1662
Hi @pheuter,  Closing this issue as duplicate. For more updates please follow the space - https://github.com/dotnet/aspnetcore/issues/24133

[2021-06-01 06:52] #1662 closed

[2021-06-01 13:13] konjp commented on #1291
@oliverwhk Have you resolved your [issue](https://developercommunity.visualstudio.com/t/azure-pipeline-managed-identity-unable-to-find-the/1187791)? I still have the same thing with `AzureWebJobsStorage ` put it in key vault, and fails when deployed using `AzureFunctionApp@1` with error "_Unable to find the storage account associated with the function app_". No firewall rules, no VNET configured.

[2021-06-01 20:25] oliverwhk commented on #1291
@konjp i haven't tried since then 😅

[2021-06-02 03:01] #1903 closed

[2021-06-02 06:05] konjp commented on #1291
I think problem in this case that you @oliverwhk  referenced, and I confirmed that still exists. is between Azure DevOps and Azure Cloud.  And "nobody's" problem is hard to resolve.

Only I can you do for now is not use key vault for _AzureWebJobsStorage_ property.

[2021-06-02 09:05] tomaustin700 opened #1920 "How to get Query Parameters from HttpRequestData"
Hi,
I'm looking at moving a .NET Core 3.1 HTTP Trigger function to .NET 5 and struggling slightly with the migration when it comes to getting query parameters. Previously Query Parameters could be read by doing the following:
[code]
However now that `HttpRequest` has been replaced by `HttpRequestData` this is no longer possible. I can't seem to find a way to read Query Parameters using `HttpReques

[2021-06-02 09:54] trailmax opened #1921 "Port 7071 is unavailable when debugging locally"
I had previous function execution crashing and burning and it probably did not have a chance to clean up. Unfortunatley can't repro this easily - last time this happened when I started .Net 5-based function to debug in Visual Studio, but aborted starting process before it managed to start.
And all consequential attempts to start functions failed with error:
[code]
I've checked ports in use and the

[2021-06-02 11:43] jedjohan commented on #1920
Hello, dont know if it is "correct", but I am getting the parameters with this:

`var name = executionContext.BindingContext.BindingData["name"];`

[2021-06-02 23:49] viclin-msft commented on #1585
I am also seeing this, for not only `FUNCTIONS_EXTENSION_VERSION` but also `ApplicationInsightsAgent_EXTENSION_VERSION`. I did some testing, and it seems like the issue is that these two settings are treated as "sticky" to the deployment slot (as if *Deployment slot setting* is marked).

So, a workaround is to initially set the right value on both staging and production slots, e.g.

[code]

[2021-06-03 07:32] tomkerkhove commented on #845
Any update on this?

[2021-06-03 15:18] brettsam opened #1923 "Remove support for AzureWebJobsDashboard"
Discussion: https://github.com/Azure/Azure-Functions/discussions/1925

Remove support for the WebJobs dashboard.

### Motivation
The dashboard has been in an "unsupported" mode for v3, but still works. We'd like to completely remove support to make it clear that this is not something we're maintaining.

### Impact
Not entirely sure -- this has been disabled during site creation for a while but is

[2021-06-03 16:29] ConnorMcMahon opened #1926 "Make HTTPS requests appear as HTTPS for HTTP triggers on Linux dedicated/premium/(consumption?)"
Discussion: https://github.com/Azure/Azure-Functions/discussions/1927

Web apps frontends terminate SSL requests on the frontend. On the Windows platform, we have an IIS module that looks for headers populated by the frontend to "rewrite" the request as HTTPS. We do not do that on the Linux dedicated/premium offerings, and I am unsure about consumption.

### Motivation
From the client perspective,

[2021-06-03 17:07] v-bbalaiagar commented on #1914
Hi @sureshtadisetty, This would require investigation. Can you open a support incident as this is impacting the production site.

[2021-06-03 17:41] v-bbalaiagar commented on #1895
Hi @jitendriyag2, We would like to know when you attempted to run this, Can you provide an execution id and timestamp so that we can look at the logs to understand whether you are running into a sandbox issue.

[2021-06-03 18:18] brettsam commented on #1926
https://github.com/Azure/azure-functions-host/issues/6602

[2021-06-04 02:01] SuperChenSSS commented on #1729
Hi I was encountering the same issue while importing a class library with .NET Core 3.1 on the latest v5.0.1 DI SDK. Once I downgraded the DI dependency to v3.1.10 the issue can be mitigated.
However I do want the fix deployed on the latest version, since I can see ~v6 is in preview but the issue has not been addressed.

[2021-06-04 15:40] v-bbalaiagar commented on #1921
Hi @trailmax, Thank you for your feedback! Checking this internally for any other workarounds.

[2021-06-04 15:50] v-bbalaiagar commented on #1920
Hi @tomaustin700, Let us know if the above information resolves your query, or if you have any further queries.

[2021-06-04 15:59] tomaustin700 commented on #1920
Hi @v-bbalaiagar, if getting it from `BindingData` is the recommended way of doing it then I think my question has been answered. Feel free to close this if that's the case. Thanks

[2021-06-04 16:32] v-bbalaiagar commented on #1920
Hi @tomaustin700, With the current implementation of HttpRequestData, your code to retrieve queries as a dictionary would be:

HttpUtility.ParseQueryString(req.Url.Query); // work with the dictionary
Or
context.BindingContext.BindingData["myquery"]; // direct access to the dictionary.

Closing this issue as `Binding Data` is the recommended way here. Please feel free to reach back to us in case of

[2021-06-04 16:32] #1920 closed

[2021-06-04 19:03] CarlosOnline opened #1928 "Many connection time out in Azure Function in a short amount of time and very little call stack information"
Many connection time out errors in a short burst within an Azure Function.  This has been happening pretty frequently over the last week.

There is almost no call stack.  And very little diagnostic information available.
I suspect the connection timeout is happening while trying to process a QueueTrigger function.

1. Can you please provide more diagnostic information.  For example can you specify

[2021-06-04 21:56] CarlosOnline opened #1929 "Application Insights TrackEvent only fires from constructor but not from methods"
In the following Azure function, **TrackEvent** only fires events from the constructor.  **TrackEvent** calls from `TestTelemetryFunc` **function are never fired**.

The `TestTelemetryFunc` function is using a cached telemetry client received in the constructor.

[code]

**Application Insights Results**

6/4/2021, 3:08:04 PM | IngestionApi.TestTelemetry.Constructor | customEvent | TestTelemetryFun

[2021-06-05 00:44] alanrenmsft commented on #717
so sad that after 3 years we still have the same problem. spent a couple hours trying to figure why am I not able to get the connection string after deploying to Azure. not sure how many developers were annoyed and turned away.

[2021-06-06 04:58] villerdex commented on #1396
+100

[2021-06-06 10:20] netcaf commented on #1272
Hello all, I have doubt about the 250G space.
In premium plan, what does it mean for the 250G space? Does it belong to the storage account and be charged separately?
Thank you.

[2021-06-07 05:42] lenisha opened #1930 "Azure Functions Proxy remove Header"
Add ability to remove header in Function Proxies. Especially need to remove "Authorization" header that is sent to proxy and set different credential to backend.

[2021-06-07 11:02] v-anvari commented on #1928
Hi @CarlosOnline , Can you  provide us with the repro steps and share your app name privately
[Sharing Your Function App name privately · Azure/azure-functions-host Wiki (github.com)](https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately)

[2021-06-07 14:52] v-bbalaiagar commented on #1670
Hi @NicksCode / @stika1986 . This is a known issue and is being tracked in #1885 which is yet to be updated , but, as per design the partition key and id only accepts inputs as binding parameters like mentioned here - https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-cosmosdb-v2-input?tabs=csharp#http-trigger-look-up-id-from-query-string.

The code needs to look something l

[2021-06-07 14:54] v-anvari commented on #1885
One more user has raised a similar concern with the same learning path in - https://github.com/Azure/Azure-Functions/issues/1670

cc - @rmcmurray

[2021-06-07 15:01] #1890 closed

[2021-06-07 15:59] mikecole commented on #1239
I'm having the same issues. It's a mix of 404, 503, and a few others. Very strange. It's sporadic.

I believe this is what you need, if not let me know:
`2021-06-07T15:57:43.315 [Information] Executed 'detail' (Succeeded, Id=e0e4fc12-9664-4a86-a084-4fbfbafd9763, Duration=28ms)`

[2021-06-07 17:14] v-anvari commented on #1930
Hi @lenisha , Currently this scenario is not supported by proxies. But, if the feature request is to use features beyond the supported features of proxies, then the recommendation here would be to use the serverless model of APIM.

[2021-06-07 17:14] #1930 closed

[2021-06-07 17:24] v-anvari commented on #1898
Hi @notaroobob , Apologies for the delayed response, I discussed this scenario with the team and they confirmed that the  5.x.x version of system.text,json will no longer be supported with the version 3 of azure functions, and it is recommended to use the worker model instead.

Let us know if any further queries

[2021-06-07 17:34] notaroobob commented on #1898
Well. that's certainly a bummer considering Durable Functions aren't supported on the worker model.

To be blunt, Microsoft has left developers in limbo until November 2021 (dot net 6, re-unifying the runtimes with developer expectations). Dependabot keeps telling me about all of these upgrades that I should be taking advantage of but I have to keep declining as most things aren't exactly FaaS or

[2021-06-07 18:15] v-anvari commented on #1892
Hi @riccardobecker , Apologies for the delayed response, I have discussed this internally and the team was interested to understand how the services manage the key vault internally. Also, this issue is dependent on your code and how the connections are made. It could be possible that the connection at the client is left open and is enabled when communicating with the key vault.

The recommendation

[2021-06-07 23:36] majorvin opened #1931 "Adding REGION_NAME as config breaks FA and return 503"
Following this guide here: https://docs.microsoft.com/en-us/azure/azure-monitor/app/availability-azure-functions

Adding REGION_NAME as "East US 2" or empty breaks FA and return 503.

[2021-06-08 03:32] CarlosOnline commented on #1928
Did option 2:

https://xxx-optimize-fa.azurewebsites.net/api/e620ba98-aca6-435f-adec-d9055ab9451c

UTC: 2021-06-08 03:30:42.484

On Mon, Jun 7, 2021 at 4:02 AM Anusri_Varier ***@***.***>
wrote:

[2021-06-08 07:56] v-bbalaiagar commented on #1931
Hi @majorvin, Thank you for reaching out to us, We shall try to reproduce this scenario and update you with findings.

[2021-06-08 08:04] v-bbalaiagar commented on #1929
Hi @CarlosOnline, Thank you for reaching out to us, checking internally on this issue.

[2021-06-08 09:32] v-bbalaiagar commented on #1710
Hi @lipalath-ms, Let us know if the above information resolves your query, or if you have any further queries.

[2021-06-08 10:06] v-anvari commented on #1928
Hi @CarlosOnline , Thank you for the information, can I have the region as well

[2021-06-08 13:12] CarlosOnline commented on #1928
Yes it's west Europe

[2021-06-08 13:39] CarlosOnline commented on #1929
Got it to work.

Turned out the host.json settings were affecting the telemetry. Removed the entries with values of Warning below.

 "logLevel": {
   "default": "Information",
   "Function": "Warning",
   "Host": "Warning",
   "Host.Results": "Warning",
   "Host.Aggregator": "Warning",
   "Host.Executor": "Warning",
   "Microsoft.EntityFrameworkCore": "Warning"
 }

[2021-06-08 13:39] #1929 closed

[2021-06-08 21:03] KimLClark commented on #1194
Still seeing this problem when trying to add premium plan for Linux Function Apps in USWest2.  Status please?

[2021-06-09 00:19] RDavis3000 commented on #1343
Its June 2021 and this is still not fixed

[2021-06-09 01:10] anthonychu commented on #1343
You can start Azurite on your own and prevent VS from trying to start the Storage Emulator by adding this to your csproj: `<StartDevelopmentStorage>false</StartDevelopmentStorage>`. There's work happening in the VS team to better integrate with Azurite.

[2021-06-09 04:25] mwwhited commented on #1343
Good to know he thousands of dollars I've spent on Visual Studio Professional gets me better tooling... :/ constantly various dev teams from Microsoft talk about how a particular feature doesn't get much utilization so it gets tossed out or deprioritized (see inteillitest, code contracts, service bus emulator, architecture modeling, azurite, .Net 5 azure functions) and yet if you made the tools pr

[2021-06-10 08:14] msft-noorjaber commented on #155
Hey @dominikfoldi , that's not working now (at least for me), the PUT operation will succeed, however if you do a GET, the SKU will be the old one.

[2021-06-10 17:08] v-bbalaiagar commented on #1921
Hi @trailmax, Please try the following steps:

![image](https://user-images.githubusercontent.com/74654421/121566589-48e85900-ca3b-11eb-8da3-32466dfd4df3.png)

Right click and select properties:

![image](https://user-images.githubusercontent.com/74654421/121566723-6ae1db80-ca3b-11eb-8d8c-f755df2b07cd.png)

Enter the following in the Application arguments box on the right side of debug:

`host sta

[2021-06-11 09:26] v-bbalaiagar commented on #1669
Hi @bszewczyk, Closing this issue as there is no response, Please feel free to reach back to us in case of any further queries related to this issue.

[2021-06-11 09:26] #1669 closed

[2021-06-11 09:30] v-bbalaiagar commented on #1713
Hi @dieterdp, Closing this issue as there is no response, Please feel free to reach back to us in case of any further queries related to this issue.

[2021-06-11 09:30] #1713 closed

[2021-06-11 09:49] v-bbalaiagar commented on #1670
Hi @stika1986, Closing this issue as the required information is provided, Please feel free to reach back to us in case of any further queries related to this issue.

[2021-06-11 09:49] #1670 closed

[2021-06-14 11:38] v-anvari commented on #1928
Hi @CarlosOnline , I have checked the backend logs and looks like there is a configuration mismatch, I can't confirm unless I can reproduce the situation. Can you share the repro steps.

Also, Can you share some more details about the project

[2021-06-14 11:42] v-anvari commented on #1928
Also, The since we see the exception - System.Net.Sockets.SocketException. Please check if the communication is proper and if any authentication is missing. A support request can help you for this case, as they will be able to help you identify these errors for your function App.

[2021-06-14 12:20] v-anvari commented on #1859
Closing this issue as there is no further activity, please feel free to reach back to us in case of any further queries related to this issue

[2021-06-14 12:20] #1859 closed

[2021-06-14 12:22] v-anvari commented on #1845
Closing this issue as there is no further response, please feel free to reach back to us in case of any further queries related to this issue

[2021-06-14 12:22] #1845 closed

[2021-06-14 12:23] v-anvari commented on #1855
Closing this issue as the required information is provided, please feel free to reach back to us in case of any further queries related to this issue

[2021-06-14 12:23] #1855 closed

[2021-06-14 15:26] v-anvari commented on #1841
Hi @maximivanov , I have tried to reproduce the scenario, and whenever I make any changes in the scale out configuration, there are two activity logs that get created.

**Operation name:**
'auditIfNotExists' Policy action.
Update web sites config

The details of the changes made are mentioned in the 'auditIfNotExists' Policy action, in the change history like the below:

![image](https://user-imag

[2021-06-14 15:26] #1841 closed

[2021-06-14 15:31] v-anvari commented on #1842
Hi @maximivanov , When I try to decrease the Max burst, I get the following warning, where I cannot reduce the Max burst

![image](https://user-images.githubusercontent.com/66122429/121918196-7262f680-cd53-11eb-924c-f979be95e5f1.png)

When I reduce the burst further and click refresh, the value of minimum instances change to 1.

![image](https://user-images.githubusercontent.com/66122429/121918420

[2021-06-14 15:31] #1842 closed

[2021-06-14 15:32] CarlosOnline commented on #1928
I stopped using QueueTrigger and rolled my own polling logic.  Problem went away.  What configuration do you mean?

[2021-06-14 15:34] iamsuresha commented on #1722
@brettsam I am still facing this issue and I couldn't able to run my Timer Triggered Azure Function. Please let me know what should i do to fix this issue.

[2021-06-14 15:37] v-anvari commented on #1928
Hi @CarlosOnline , Thank you for the feedback, by the errors and exceptions, it looked like a configuration was over-ridden, I can't confirm what configurations unless I can reproduce the issue. I couldn't reach your function's backend logs, it says it is not found.

We are glad to hear that you could find a solution. Do you want us to further look into this issue

[2021-06-14 15:38] v-anvari commented on #1789
Hi @toni-ar, Apologies for the delayed response. We were unable to reproduce the scenario, can you let us know if you are still facing this issue in premium plan

[2021-06-14 15:40] v-anvari commented on #1804
Thank you for reaching out to us. Closing this issue as there is no further activity, please feel free to reach back to us in case of any further queries related to this issue

[2021-06-14 15:40] #1804 closed

[2021-06-14 15:50] v-anvari commented on #1809
Hi @sudhirbabu1979 , Apologies for the delayed response. Thank you for reaching out to us. We are unable to reproduce the issue, since it is related to your specific subscription, we suggest you to open a support ticket. We are able to see the Create New button for storage account.

![image](https://user-images.githubusercontent.com/66122429/121920982-33827000-cd56-11eb-9126-38016fa731da.png)

Pat

[2021-06-14 15:50] #1809 closed

[2021-06-14 15:51] v-bbalaiagar commented on #1798
Hi @vijayrkn, Can you please confirm if this is yet to be worked, because we don't see any updates in the issue link.

[2021-06-14 16:04] fabiocav opened #1932 "test"
Use this repo to file issues in documentation or the Functions Visual Studio tooling.

If you need technical help, you'll get the fastest response on the forums (https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=AzureFunctions) or Stack Overflow: http://stackoverflow.com/questions/tagged/azure-functions. The entire engineering team monitors those forums.

- For documentation issues,

[2021-06-14 17:09] v-anvari commented on #1896
Tagging @anthonychu , for any further information or insights

[2021-06-14 18:01] v-bbalaiagar commented on #1663
Hi @waqzah, Closing this issue as there is no further activity, Please feel free to reach back to us in case of any further queries related to this issue.

[2021-06-14 18:01] #1663 closed

[2021-06-14 18:04] v-bbalaiagar commented on #1721
Hi @atsapura, Closing this issue as there is no further activity, Please feel free to reach back to us in case of any further queries related to this issue.

[2021-06-14 18:04] #1721 closed

[2021-06-15 09:49] v-bbalaiagar commented on #1931
Hi @majorvin, I reproduced this issue with adding REGION_NAME as East US 2 and it is working as expected. Can you please check and confirm.

![image](https://user-images.githubusercontent.com/74654421/122031381-4778b100-cdec-11eb-8238-c467bfa94c33.png)

![image](https://user-images.githubusercontent.com/74654421/122031652-86a70200-cdec-11eb-9737-41e06fe8cac1.png)

[2021-06-15 12:15] v-bbalaiagar commented on #1593
Hi @jezzipin, Closing this issue as there is no response, Please feel free to reach back to us in case of any further queries related to this issue.

[2021-06-15 12:15] #1593 closed

[2021-06-15 12:41] v-anvari commented on #1873
Hi @andrewCluey , Apologies for the delayed response, does this example help in your scenario https://github.com/ScottHolden/ARMExamples/blob/master/AppService-VnetNew-Storage/deploy.json

@lecamarade , Can we have the repro steps that you are trying in your project

[2021-06-15 12:56] v-anvari commented on #1782
Hi @abinashkd , Apologies for the delayed response, Can we know if you are still facing this issue.

[2021-06-15 13:10] v-anvari commented on #1778
Hi @miqm , I tried to reproduce the scenario with an existing ASP P1V3, and deploying a new function App with EP1 plan. I could deploy it without any error. Can you check if you are selecting the existing ASP by any chance. Also, Let us know if you are still facing any issue

[2021-06-15 13:35] v-anvari commented on #1777
Hi @madushans , I have tried to reproduce this issue in Azure portal and Visual studio.

While trying in Azure portal, My function ran successfully when an argument `"TimerInfo _"` is passed as a binding parameter and returned a  `202 accepted` output.

While, trying to pass argument as binding parameter in visual studio, it throws me the following warning : _`_The 'Function2' function is in error

[2021-06-15 13:35] #1777 closed

[2021-06-15 13:36] #1773 closed

[2021-06-15 13:37] v-anvari commented on #1771
Closing this issue as there is no further activity, please feel free to reach back to us in case of any further queries related to this issue

[2021-06-15 13:37] #1771 closed

[2021-06-15 13:37] mikemassa84 opened #1933 "Swagger Mixed Content Issue - http vs https"
The Swagger UI is not able to render when the Azure function is hosted on a dedicated Linux app service plan. Attempting to load the UI renders this error message:

![image](https://user-images.githubusercontent.com/14846033/122061752-6bb89b80-cdb4-11eb-9347-833a2c62135e.png)

You can also see this error here:
https://openapitestl.azurewebsites.net/api/swagger/ui

I've used the following library t

[2021-06-15 13:44] v-anvari commented on #1747
Hi @seanmbills , Apologies for the delayed response, can we know if you were able to find a solution.

[2021-06-15 13:45] v-anvari commented on #1761
Hi @shimedh , Its a quick follow up to understand if this is yet to be implemented or require validation.

[2021-06-15 13:50] v-anvari commented on #1731
Hi @mhschel , Apologies for the delayed response, can we know if you are still seeing this issue

[2021-06-15 13:50] v-anvari commented on #1733
Closing this issue as there is no further activity, please feel free to reach back to us in case of any further queries related to this issue

[2021-06-15 13:50] #1733 closed

[2021-06-15 13:51] v-bbalaiagar commented on #1738
Hi @rodrigopessoa1979, Closing this issue as there is no further activity, please feel free to reach back to us in case of any further queries related to this issue.
Also the updates will be provided in the above mentioned issues.

[2021-06-15 13:51] #1738 closed

[2021-06-15 13:57] v-anvari commented on #1703
Hi @eliteapps / @tim-at-software-forge-co-uk , The upload option in your Function will let you upload files to your function in the new interface.

![image](https://user-images.githubusercontent.com/66122429/122065392-8835f180-ce0f-11eb-85c7-d7de9583f3ff.png)

Closing this issue as the functionality is present, please feel free to reach back to us in case of any issues.

[2021-06-15 13:57] #1703 closed

[2021-06-15 14:03] v-bbalaiagar commented on #1667
Hi @hermesramos, Closing this issue as there is no further activity, please feel free to reach back to us in case of any further queries related to this issue.

[2021-06-15 14:03] #1667 closed

[2021-06-15 15:11] v-anvari commented on #1933
Hi @mikemassa84 , Thank you for your feedback, checking internally for the supportability. I shall update the information as appropriate

[2021-06-15 17:25] majorvin commented on #1931
@v-bbalaiagar  whats your REGION_NAME value?

[2021-06-15 19:17] lecamarade commented on #1873
I had to use the format below to make it work. Vnet was added succesfully.
[code]

[2021-06-15 22:04] miqm commented on #1778
@v-anvari I'm unable to reproduce it now, as all App Service Plans that I try to create are assigned to scale units that are capable of scaling up from P1V2 to P1V3.

Problem existed only when in a RG was assigned to a scale unit which didn't provide capability to scale from P1V2 to P1V3.
From what I've observed, when I reported this bug, creating a EP1 plan as a first plan in an RG was assigning

[2021-06-16 03:08] MhAllan commented on #1771
Hi, sorry I missed the question to me. That will help in two ways. First, I was getting my functions failing to trigger and I spent long time to realise the attribute is a must. So if we drop the attribute we avoid that. Second, there is no need to such attribute, we can use the method name itself if the attribute is missing.

[2021-06-16 11:03] eaquiler commented on #1239
Hi @balag0, we are also experiencing a similar issue, the function was working fine until Jun 14th (or at least that's what we can find in the AI). There are no error messages when the function is run from the Azure site but only HTTP 503, when called from outside Azure it gets 502 (because the internal 503). There are several log messages in the function none of them are shown.

2021-06-16T10:42:

[2021-06-16 11:29] v-anvari commented on #1851
Hi @m3talstorm , This issue has been identified and is being investigated for fix. For now, this issue is by design for Linux and is being discussed on the fix.

**Investigation incident** - https://portal.microsofticm.com/imp/v3/incidents/details/242098161/home

Closing this issue as further updates will be provided in the tracking incident, please feel free to reach back to us in case of any fur

[2021-06-16 11:29] #1851 closed

[2021-06-16 11:53] mithom commented on #1261
this issue still Exists up to this day!

[2021-06-16 12:14] Sti2nd commented on #1618
Created a post on UserVoice. https://feedback.azure.com/forums/355860-azure-functions/suggestions/43644627-allow-to-use-newtonsoft-for-all-model-binding

I assume UserVoice is the correct channel since you closed the feature request here, @v-anvari ?

[2021-06-16 12:37] v-anvari commented on #1618
Hi @Sti2nd , Yes, That would be the right channel to raise a feedback or feature.

[2021-06-16 16:37] balag0 commented on #1239
@eaquiler Looks like the errors were due to an issue with the recent functions runtime update  (3.0.15960)
That update has now been rolled back and I can see this app is now running on 3.0.15733, so there shouldn't be any more failures.

[2021-06-16 17:55] fabiocav commented on #1729
@rupeshtech support for .NET 5.0 and 5.x packages has been added to our out-of-proc worker model.

Information on how to use the new model and 5.0 is available here: https://techcommunity.microsoft.com/t5/apps-on-azure/net-on-azure-functions-roadmap/ba-p/2197916

Closing this as answered, but please let. us know if you have any additional questions.

[2021-06-16 17:55] #1729 closed

[2021-06-16 17:57] eaquiler commented on #1239
@balag0 thanks for your answer! I just confirmed the runtime is 3.0.15773 and I ran a test, however, the behavior is still the same. It seems that the worker is restarting on the middle of the request, I got this:
[code]

[2021-06-16 18:02] eaquiler commented on #1239
@balag0 sorry it seems that I accidentally deleted my previous message. I said I verified that it is running on 3.0.15733 but the issue still there, I see that the process seems to be restarting on the middle of the request as shown below
[code]

Thanks in advance for any guide or help!

[2021-06-16 18:07] chtourou-youssef opened #1934 "content destroyed after WEBSITES_ENABLE_APP_SERVICE_STORAGE = true"
I have a docker container with a php app inside (custom image)

The app is up and running without problems - with WEBSITES_ENABLE_APP_SERVICE_STORAGE==false.

If i change this setting to true then the content of /home/site/wwwroot is completly deleted

Any idea ?

WITHOUT mount or WEBSITES_ENABLE_APP_SERVICE_STORAGE everything is working....

any help/idea is welcome

regards

[2021-06-16 18:20] balag0 commented on #1934
The content is not deleted, it is just hidden. Removing the app setting should make the content visible again
More details
https://docs.microsoft.com/en-us/azure/app-service/faq-app-service-linux#custom-containers

When using custom images, that setting should be false. Any reason you are setting it to true?

[2021-06-16 18:32] balag0 commented on #1239
Looks like this was due to an attempt to create a new function named '****Search'
That operation failed with below exception which led to the restart

System.UnauthorizedAccessException : Access to the path 'C:\home\site\wwwroot\****Search\function.json' is denied.

In general write operations will always lead to workers recycling.

[2021-06-17 07:32] johanclassoncab commented on #1361
The suggestion to not define `WEBSITE_CONTENTAZUREFILECONNECTIONSTRING` or `WEBSITE_CONTENTSHARE` setting did not work for me. Zip deploying worked, but the functions never could start up.

What finally worked was setting `WEBSITE_RUN_FROM_PACKAGE` to an URL to a blob with SAS token. This also worked with blobs stored in a storage account only accepting traffic from VNET, where `WEBSITE_CONTENTAZU

[2021-06-17 08:17] balag0 commented on #1934
Instructions are for webapps but I think it should work for functionapps as well. Haven't personally used it with custom images but you can give it a try
https://docs.microsoft.com/en-us/azure/app-service/configure-connect-to-azure-storage?pivots=container-linux

[2021-06-17 08:21] chtourou-youssef commented on #1934
this options shouldn't work without adding mounted volume ?

[2021-06-17 10:20] v-bbalaiagar commented on #1931
Hi @majorvin, Yes, It is East US 2. Can you please check and confirm.

![image](https://user-images.githubusercontent.com/74654421/122378347-84c37700-cf83-11eb-9e2f-2d973455f113.png)

[2021-06-17 10:47] rahul230691 opened #1935 "Azure Function : Stopping the listener 'Microsoft.Azure.WebJobs.Extensions.CosmosDB.CosmosDBTriggerListener' for function"
I've created a CosmosDBTrigger Azure function, which is hosted on Azure cloud stops automatically and never re-triggered again for 2 days even inserting new data into cosmos container. After 2 days when I went to check function in Azure portal whether it has not been stopped. As soon as I opened function window in portal, function triggered automatically. Not sure what happened. I have checked log

[2021-06-17 11:57] chtourou-youssef commented on #1934
thanks .

[2021-06-17 16:55] v-bbalaiagar commented on #1698
Hi @tvse-central-da, Apologies for the delayed response. We would like to know if you were able to find a solution to this issue. Kindly let us know so that we can look into this further.

[2021-06-17 17:46] v-bbalaiagar commented on #1935
Hi @rahul230691, Thank you for reaching out to us, checking internally on this issue.

[2021-06-17 17:58] v-bbalaiagar commented on #1582
Hi @kuromukira, Apologies for the delayed response, can we know if you are still seeing this issue.

[2021-06-17 19:03] majorvin commented on #1931
@v-bbalaiagar  i just added REGION_NAME = "" (empty) and my site returns 503. See screenshots

<img width="1688" alt="site" src="https://user-images.githubusercontent.com/1380446/122457906-301cfd80-cf7d-11eb-8130-0edcd29d6777.png">
<img width="1141" alt="site-kudu" src="https://user-images.githubusercontent.com/1380446/122457910-30b59400-cf7d-11eb-97d9-8e8c7bbb4019.png">

[2021-06-17 23:19] kuromukira commented on #1582
@v-bbalaiagar Thanks for replying. But I got it working now.

[2021-06-17 23:19] #1582 closed

[2021-06-18 17:55] #1751 closed

[2021-06-19 16:16] StingyJack commented on #1747
@v-anvari  you took 238 days to respond to the author. Your bot needs to wait at least as long for the author to respond before closing this issue.

That's what would be fair.

[2021-06-19 16:23] StingyJack opened #1936 "Msftbot better than stale bot, but still needs to be taught about fairness"
The msftbot needs to give the author an equal time to respond as it took for a contributor or member to respond to them.

So if it took 238 days for a member to respond, the bot should wait 238 days for the author to respond before considering the issue abandoned and closing it.

That is a real example, and is a long time to respond. Making the max wait as 90 days and the minimum 7 would be more r

[2021-06-19 17:23] abinashkd commented on #1782
@v-anvari Yes last I checked the issue was still present. Though I don't have access to the function runtime anymore, but faced observed the CPU spike on numerous occasions on a host spin up.

[2021-06-20 00:56] anthonychu commented on #1896
Thanks @v-anvari. Will transfer to Static Web Apps repo for further discussion.

[2021-06-20 04:28] miqm commented on #1778
I did wrote a message 4 days ago.

[2021-06-21 09:37] v-anvari commented on #1782
Hi @abinashkd , Apologies, but, we would require some details to look into the logs, even a  support request can be helpful in such cases where the issue is specific to your function App.

[2021-06-21 09:41] v-anvari commented on #1747
We apologize for the delay, the issue was somehow lost in the trace, we are happy to help you. Can you provide a repro for the error

[2021-06-21 09:47] v-anvari commented on #1778
Hi @miqm , Thank you for the feedback, you are right, we are unable to see this issue now, which should mean that it is already fixed. Please feel free to submit a new issue incase you see an error anytime in future.

[2021-06-21 09:48] v-anvari commented on #1778
Apologies for attending the issue late, closing this issue as the error is not reproducible anymore.

[2021-06-21 09:48] #1778 closed

[2021-06-21 10:47] abinashkd commented on #1782
@v-anvari I don't have access to the resource any more, let's close the issue. Thank you for your guidance.

[2021-06-21 10:47] #1782 closed

[2021-06-21 14:49] mrpullen opened #1937 "Python Blob Trigger issue on Az Function serverless in Azure US Government region"
**Built a python function with a blob trigger.**

- Works fine on storage emulator
- Works fine using an azure storage connection string to either commerical or government and running locally
- Works fine when published to a Plan Type of "App Service Plan" in Azure Government
- Works fine when published to Azure Cloud (Commercial) to "serverless" plan

But breaks / doesn't work - logs show 0 trigg

[2021-06-21 14:52] mrpullen commented on #1937
... Nevermind - after I posted this I checked logs - seems to be running properly this morning. Maybe a service issue?

[2021-06-21 14:52] #1937 closed

[2021-06-21 18:01] #1789 closed

[2021-06-21 19:32] CarlosOnline commented on #1928
For other users this issue was not fixed.  The solution was to not use QueueTrigger since the code will shutdown the Azure Function if it can't connect to the storage account.  Writing my own queue polling code work.   It seems there is no interest in fixing the QueueTrigger so I recommend not using it.

[2021-06-22 07:21] v-bbalaiagar commented on #1931
Hi @majorvin, Apologies for the delayed response, I shall try to reproduce this scenario with adding REGION_NAME = "" (empty) and update you with findings.

[2021-06-22 07:25] v-bbalaiagar commented on #1934
Hi @chtourou-youssef, Let us know if the above information resolves your query, or if you have any further queries.

[2021-06-22 08:59] Anmol007 commented on #1272
@alexkarcher-msft any update on this? We are facing similar issue with low disk space available to be used - only ~14-16GB space available in home folder for Linux Function App on EP3 Plan in contrast to the Microsoft doc stating 250 GB available for EP3. https://docs.microsoft.com/en-us/azure/azure-functions/functions-premium-plan?tabs=portal#available-instance-skus
![image](https://user-images.g

[2021-06-22 09:58] v-anvari commented on #1928
Hi @CarlosOnline , Thank you for the feedback, we will be happy to help you. Can you provide the repro steps to reproduce the error, with the source code that you are using. This will help us understand the cause of the error.

[2021-06-22 11:09] v-anvari commented on #1936
Hi @StingyJack , Please consider our apologies, we are working on the bot response. As the older issues were some how lost, We have a new team members to look into older issues and resolve them. Though we understand all the issues are important, Some older issues are stale because of newer versions and fixes that were made this year. The user is always welcome to re-open an issue if the query is n

[2021-06-22 11:09] #1936 closed

[2021-06-22 11:11] v-anvari commented on #1933
Hi @mikemassa84 , I have checked internally on this issue, and the team wants to understand the issue further in details. Can you give is the template that you have used in visual studio, also, please provide the repro steps for us to reproduce this issue.

[2021-06-22 11:16] v-anvari commented on #1885
Transferring this issue to Azure-docs , as this still requires correction

[2021-06-22 11:29] v-anvari commented on #1817
Hi @HassanBadir , Please let us know if this is yet to be triaged, so that I can route this issue to concerned team.

[2021-06-22 11:30] v-anvari commented on #1814
Closing this issue as there is no further activity, please feel free to reach back to us in case of any further queries related to this issue

[2021-06-22 11:30] #1814 closed

[2021-06-22 11:37] v-bbalaiagar commented on #1695
Hi @fleming-barry / @codebrane , Could you please provide us the repro steps to clone the issue and get the error.

[2021-06-22 11:40] v-anvari commented on #1776
Hi @lovettchris , Apologies for the delayed response. There were few changes made to the timeout attribute the recent past, Can you tell us if you still this exception. If yes, then we would require to further investigate this issue

[2021-06-22 11:47] BadirHassan commented on #1817
was fixed thanks.

[2021-06-22 11:47] v-anvari commented on #1735
Hi @riktimmondal , Apologies for the delayed response, the issue was lost in the trace, could you tell us if you are still seeing this pattern. If yes, we can further investigate the backend logs to understand the error.

[2021-06-22 11:51] v-anvari commented on #1707
Hi @erwelch , Apologies for the delayed response, the issue was somehow lost in the trace. Can you tell us if you are still facing this issue, if yes , can you provide us with the repro steps

[2021-06-22 12:00] v-bbalaiagar commented on #1876
Hi @bluuf, Closing this issue as the required information is provided, Please feel free to reach back to us in case of any further queries related to this issue.

[2021-06-22 12:00] #1876 closed

[2021-06-22 12:42] v-bbalaiagar commented on #1694
Hi @wilberolive, Apologies for the delayed response, can we know if you are still seeing this issue.

[2021-06-22 12:54] v-bbalaiagar commented on #1630
Hi @truptijogi7 , Apologies for the delayed response, Were you able to find a solution. If you still having this issue persisting, then let us know the repro steps for us to understand the error.

[2021-06-22 12:58] v-anvari commented on #1817
Thank you for the confirmation. Closing this issue as resolved

[2021-06-22 12:58] #1817 closed

[2021-06-22 13:15] eaquiler commented on #1239
We opened a case because we couldn't find the reason for the Access denied error and we discover that the node version we were using in the settings are deprecated and not available anymore in the server (very hard to find it out from an Access denied message). After updating the node version to the current newest (~14) it start to work again. So, if someone get this error in the future just check

[2021-06-22 13:56] v-bbalaiagar commented on #1600
Hi @cdeil, Apologies for the delayed response, can we know if you are still seeing this issue.

[2021-06-22 14:32] v-bbalaiagar commented on #1931
Hi @majorvin, Can you please show how are you defining the REGION_NAME in the code or portal.

[2021-06-22 15:02] v-bbalaiagar commented on #1622
Hi @wrkgm, Apologies for the delayed response, checking this internally for the possibilities. We will update you with any information found.

[2021-06-22 15:50] lovettchris commented on #1776
I moved to P3V2 and things are working fine with longer timeouts.

[2021-06-22 15:54] v-bbalaiagar commented on #1594
Hi @mkarczewski85 , Apologies for the delayed response, can we know if you are still seeing this issue.

[2021-06-22 15:55] v-anvari commented on #1776
Thank you for the confirmation, closing this issue as the error doesn't exist anymore

[2021-06-22 15:55] #1776 closed

[2021-06-22 16:06] cdeil commented on #1600
@v-bbalaiagar - what's your current issue template for Azure functions?

[2021-06-22 17:15] majorvin commented on #1931
In function app config:

<img width="1458" alt="Screen Shot 2021-06-22 at 1 15 19 PM" src="https://user-images.githubusercontent.com/1380446/122970419-e6a52780-d35b-11eb-90e7-992a0f1de85f.png">

[2021-06-22 18:01] #1731 closed

[2021-06-22 22:01] imsam67 opened #1938 "Adding and removing a section in local.settings.json seems to break Azure Functions app targeting .NET 5"
This is the first time I'm creating an Azure Functions app targeting .NET 5. All my Azure Functions apps target Core 3.1 and never had this issue which is a very strange one and want to see if anyone else can replicate the issue.

I start a brand new Azure Functions app targeting .NET 5. Mine is a timer function but I don't think it matters what type of function it is.

I then add a value in my `l

[2021-06-22 22:37] timomta commented on #1873
I had this same problem. I did get the [specific sample](https://github.com/ScottHolden/ARMExamples/blob/master/AppService-VnetNew-Storage/deploy.json) pointed to above to work. This really is a confusing issue because if you set this up from the portal, the exported template will fail and there isn't any doc (that I found) that shows you how to do vnet integration via ARM.
Now that I know the Sco

[2021-06-23 11:28] v-bbalaiagar commented on #1600
Hi @cdeil, Can you please confirm were you asking about template issues, If yes for template issues, use https://github.com/azure/azure-functions-templates.

[2021-06-23 15:08] cdeil commented on #1600
It's been over a year, and unfortunately I don't remember from which MS docs azure function page I was redirected to the wrong issue tracker. Could be fixed in the meantime, and if there's still some issue I guess active users will just re-raise it. Closing.

[2021-06-23 15:08] #1600 closed

[2021-06-23 16:08] chughesvf opened #1939 "No Record of unhandled failure in AZ function Monitor UI"
After an un-handled exception there is no record of the invocation of the function inside its monitoring UI:

![image](https://user-images.githubusercontent.com/32402463/123131081-5af2d000-d41b-11eb-905c-457158040e17.png)

This was the report provided from a support case related to this:

I reviewed the logs that you provided for an invocation that didn’t complete due to the exception causing the

[2021-06-24 05:41] rahul230691 commented on #1935
@v-bbalaiagar any update on this plz?

[2021-06-24 07:59] rmcmurray commented on #1885
FYI - All three exercises in this module needed updating, and I've been working on a rewrite for the past few days. I should have this in review later today.

[2021-06-24 09:16] Sti2nd opened #1940 "Support binding query parameters"
The HttpTrigger already supports binding route parameters to variables [1] and it would be nice if it supported binding query parameters as well.

Related info: ASP.NET Core supports binding query parameters using the FromQuery attribute [2]

[1] https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook-trigger?tabs=csharp#using-route-parameters
[2] https://docs.micros

[2021-06-24 13:32] v-anvari commented on #1885
Thank you for the update @rmcmurray

Closing this issue here. For further queries regarding MS learn, please report issue below the tutorial

![image](https://user-images.githubusercontent.com/66122429/123271654-af32a880-d51e-11eb-84ad-9b699b7f8e04.png)

[2021-06-24 13:32] #1885 closed

[2021-06-24 15:13] StingyJack commented on #1936
@v-anvari  its not the response, its the timing. Someone waiting 200 days for an answer should be getting more than a week to respond.

Dont fall into GitHub's "Outdated" trap/pattern. That is a bad feature that leads to code quality issues.

[2021-06-24 15:43] ankitkumarr commented on #1887
Work completed to make deployment detector public.

[2021-06-24 15:43] #1887 closed

[2021-06-24 16:40] v-anvari commented on #1898
Hi @notaroobob , Apologies for the delay, I was internally checking with the team with all the possibilities here. If you want to use durable functions, then you will have to downgrade the system.text.json to 3.x.x. From 5.x.x, you will have to use the worker model which do not support the durable functions.

[2021-06-24 16:42] v-anvari commented on #1898
Closing this issue as this is by-design, Please feel free to open a feature request here - https://feedback.azure.com/forums/355860-azure-functions

[2021-06-24 16:42] #1898 closed

[2021-06-24 17:33] v-bbalaiagar commented on #1935
Hi @rahul230691, Could you please give us the function app details privately by following the below link -  https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately

[2021-06-24 17:47] v-bbalaiagar commented on #1722
Hi @iamsuresha, Could you please give us the function app details privately by following the below link - https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately

Also, Can you please share the code where you are seeing that exception take place.

[2021-06-24 20:26] fabiocav commented on #1886
@madelinegordon is working on gathering additional information on this, will update the milestone assignment once we have those details.

[2021-06-25 13:14] gfrankel97 commented on #1474
Would also like to know if this is supported now. We cannot have network-separated app environments without making an ASP per environment.

[2021-06-25 13:44] Alessar opened #1941 "Azure Functions reverts settings after several seconds after their changes"
We have a script to make some deployments related to the `Azure Functions`.
In some cases, the script should change settings and update it on the Azure portal like this:
[code]
**Expected**:
Application settings should be changed on Azure Functions according to the latest provided values.
**Actual**:
Application settings were not changes on Azure Functions.
**Details**:
It is strange but according

[2021-06-25 17:43] collinstevens commented on #1268
I'm having the same issue. I've disabled Source Link and source server support and I've also enabled Just My Code. The Microsoft.Azure.WebJobs.Host.dll, Microsoft.Azure.WebJobs.Host.Storage.dll, and Microsoft.Azure.WebJobs.dll assemblies are loading as User Code and not Optimized.

It looks like this was supposed to be resolved in https://github.com/Azure/azure-webjobs-sdk/issues/2261, but given t

[2021-06-26 00:00] #1873 closed

[2021-06-27 12:41] shailahirji commented on #1549
Hitting the same issue. Were you able to find a solution?

[2021-06-28 09:33] v-bbalaiagar commented on #1931
Hi @majorvin, Thank you for the information, checking internally on this issue.

[2021-06-28 15:01] #1747 closed

[2021-06-28 18:08] davidmrdavid opened #1942 "Escape Hyphens in Function Names for AppSettings"
Discussion: https://github.com/Azure/Azure-Functions/discussions/1944

We should modify the Functions runtime to parse an escaped hyphen in a Linux App Setting as just a hyphen.

### Motivation
To disable a Function, we create a corresponding App Setting as follows: <FunctionName>.Disabled = 1. For example, if our Function Name is "Foo-Bar", its corresponding App Setting will be Foo-Bar.Disabled =

[2021-06-28 22:31] balag0 commented on #1941
Please share the app name using https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately#option-2
and the timestamp when the Set-AzureRMWebAppSlot command failed.

[2021-06-29 06:00] v-bbalaiagar commented on #1561
Hi @masaab, Closing this issue as there is no response, please feel free to reach back to us in case of any further queries related to this issue.

[2021-06-29 06:00] #1561 closed

[2021-06-29 08:32] razdavidovich commented on #1595
I have the same issue with latest VS2019

[2021-06-29 09:41] v-bbalaiagar commented on #1617
Hi @GitMarJansen , Apologies for the delayed response, can we know if you are still seeing this issue

[2021-06-29 09:53] v-bbalaiagar commented on #1564
Hi @karim007, Closing this issue as duplicate. For more updates please follow the space - https://github.com/Azure/azure-functions-host/issues/5898

[2021-06-29 09:53] #1564 closed

[2021-06-29 14:04] mikemassa84 commented on #1933
@v-anvari

1. Create a new Function App in Azure
    1. Publish as Code
    2. Runtime stack .NET
    3. Version 3.1
    4. Region North Central US
    5. OS - Linux
    6. Plan - App Service Plan, P1v2
2. Create a new Azure Functions Project in Visual Studio 2019
    1. Create a new Function class using the Http trigger with OpenAPI option
    2.
![image](https://user-images.githubusercontent.com

[2021-06-29 14:35] v-anvari commented on #1933
Hi @mikemassa84 , Thank you for the details, we shall reproduce this issue and update the findings

[2021-06-29 16:09] stephenwilson11 commented on #925
I do not understand why this is closed.

Currently as I understand it, my only option is to manually configure this on each environments production slot (which is a red flag for me). Why is it by design to not allow this configuration to flow through slots along with the release like everything else?

Please can someone explain?  @ruslany @ColbyTresness

[2021-06-29 17:01] GitMarJansen commented on #1617
I'm not seeing this issue anymore. Looks like the update I mentioned fixed it. Still unknown what caused it at that moment

[2021-06-29 17:01] #1617 closed

[2021-06-29 17:18] sureshtadisetty opened #1945 "Azure FunctionApp became inactive, there was no change/deployment"
**Describe the bug**
We've an Azure FunctionApp with a bunch of HttTrigger, TimerTrigger and ServiceBusQueueTrigger functions.
On Fri (06/25) FunctionApp went to inactive state (functions were not executing).
FunctionApp restart fixed the problem.
I unable to find any useful logs to understand this issue. Need help to understand what went wrong here.

AzureFunction execution id:
2021-06-29T17:16:4

[2021-06-29 17:20] sureshtadisetty commented on #1945
Graph is for "Function Execution Count" Sum

[2021-06-29 18:01] #1928 closed

[2021-06-29 18:01] #1892 closed

[2021-06-29 18:01] #1761 closed

[2021-06-29 18:01] #1735 closed

[2021-06-29 18:21] denalisk commented on #1882
Bumping this because I'm confused about what the necessary role is to access "Monitor" for azure functions. I'm an owner at the subscription level, and yet the "monitor" blade is greyed out for me in the Azure functions project, with the prompt "this feature requires write permission to your app".

I had access to the Monitor blade as recently as a month ago, and to my knowledge no role changes ha

[2021-06-30 11:21] tnlthanzeel opened #1946 "Sendgrid issue"
hi, i created a fresh azure function to send email using sendgrid and iim getting this error

![image](https://user-images.githubusercontent.com/18216790/123952155-3e2e3d80-d9c3-11eb-973e-122e868e5109.png)

i took the sample from here https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/azure-functions/functions-bindings-sendgrid.md#asynchronous

[2021-06-30 11:42] Palpie opened #1947 "Azure Keyvault secret reference not working in App Service with system assigned identity in Azure AD Group with role-based access control"
Setup:

* Key vault using role-based access control
* App Service
  * System assigned identity
  * Configuration setting using reference to key vault secret
* Function App
  * System assigned identity
  * Configuration setting using reference to key vault secret
* Azure AD Group with app service's and function app's identities as members
  * Assigned with role "Key Vault Secrets User" to key vault

[2021-06-30 11:44] Palpie commented on #1947
Sorry, wrong window and repo...

[2021-06-30 11:44] #1947 closed

[2021-06-30 19:21] Alessar commented on #1941
For detecting function in `WEST US` region:
2021-06-30T17:51:39.078 [Information] Executing 'Functions.***' (Id=958938fc-ea9f-4348-9541-8a38201e0b99)
2021-06-30T17:51:45.764 [Information] Succeeded, Id=958938fc-ea9f-4348-9541-8a38201e0b99, Duration=6692ms

Timestamps when settings were changed / settings were reverted back:
`21.06.2021, 17:40:18 GMT+3` / `21.06.2021, 17:40:21 GMT+3`
`23.06.2021, 1

[2021-07-01 18:18] mm-gmbd commented on #1655
bump

[2021-07-01 22:02] TsuyoshiUshio commented on #750
+1 for this issue. In my case Linux Dedicated. It is not zero execution It report different count.
###  Actual Function Execution
![image](https://user-images.githubusercontent.com/1390976/124194298-2b783f00-da7d-11eb-8399-c7c12bd40558.png)
###  Function Execution Count
![image](https://user-images.githubusercontent.com/1390976/124194340-4185ff80-da7d-11eb-88f8-8559481c1ea5.png)

[2021-07-02 09:46] andyb70 opened #1948 "Method not found on HtmlContentBuilder.WriteTo since VS update to 16.10.3"
We are using dependency Microsoft.NETCore.App version 3.1.0 and since updating our Visual Studio environments to 16.10.3 the following method call is failing within a HTTP triggered function: -

[code]

Whilst debugging the code in question the CreateDetail method as shown below does not get call, the above error is raised immediately.

[code]
I tested the code in a console application and it work

[2021-07-05 09:02] v-anvari commented on #1945
Hi @sureshtadisetty , Thank you for the details, we shall check the backend logs and update as appropriate

[2021-07-05 10:05] v-anvari commented on #1933
Hi @mikemassa84 , I was unable to reproduce the issue exactly, below are the findings.

Azure Functions OpenAPI Extension- 1.0.0

When I debug the App, I get  RenderSwaggerUI: [GET] http://localhost:7071/api/swagger/ui , I try to load this URl and the execution is successful

[2021-07-05T09:46:30.138Z] Executing 'Functions.RenderSwaggerDocument' (Reason='This function was programmatically called v

[2021-07-05 10:34] v-anvari commented on #1945
Hi @sureshtadisetty , We have checked the backend logs, we see that at the below time stamp app_offline.htm file was created by the host. During a Function app deployment, Functions Host may create an app_offline.htm file to shutdown the Host. This is done to ensure that no assembly files are in use while a deployment is ongoing. Once the deployment completes, the Functions Host removes this app_o

[2021-07-05 12:31] v-anvari commented on #1939
Hi @chughesvf , Thank you for your feedback! We will investigate this further and update you with the findings.

[2021-07-05 12:33] v-anvari commented on #1938
Hi @imsam67 , Thank you for your feedback! We will try to reproduce this further and update you with the findings.

[2021-07-05 12:38] v-anvari commented on #1769
Hi @MhAllan , As this would require changes in the design. You can submit a feature/ idea request here, this would increase the visibility https://feedback.azure.com/forums/355860-azure-functions

[2021-07-05 12:38] #1769 closed

[2021-07-05 12:41] v-anvari commented on #1707
Closing this issue as there is no further activity, please feel free to reach back to us or reopen this issue in case of any further queries related to this issue

[2021-07-05 12:41] #1707 closed

[2021-07-05 12:43] #1692 closed

[2021-07-05 12:44] v-anvari commented on #1691
Closing this issue as there is no further activity, please feel free to reach back to us in case of any further queries related to this issue

[2021-07-05 12:44] #1691 closed

[2021-07-05 12:45] v-anvari commented on #1690
Closing this issue as there is no further activity, please feel free to reach back to us or re-open this request in case of any further queries related to this issue

[2021-07-05 12:45] #1690 closed

[2021-07-05 17:18] v-bbalaiagar commented on #1946
Hi @tnlthanzeel, Thank you for your feedback! We will try to reproduce this issue and update as appropriate.

[2021-07-05 17:54] v-bbalaiagar commented on #1874
Hi @jimmytricks, Closing this issue as the required information is provided, please feel free to reach back to us in case of any further queries related to this issue.

[2021-07-05 17:54] #1874 closed

[2021-07-05 18:07] v-bbalaiagar commented on #1577
Hi @TonyHenrique , Apologies for the delayed response, can we know if you are still seeing this issue.

[2021-07-06 08:47] sureshtadisetty commented on #1945
Ah great! this is very useful info.
Thank you for investigating @v-anvari! Appreciate it!

This variables are not modified by us. Looks like there is some conflict in deployment method.
Some process tried to set RunFromPackage and another process tried to reset it to EnableSyncUpdate method in about 1 min time gap.
We deploy using EV2 task through ADO release pipeline. I'll checkout where is the c

[2021-07-06 08:51] sureshtadisetty commented on #1945
@v-anvari couple of more questions:
1 - why would this not happen with every deployment?
2 - is there a place or logs I can see this action sequence myself?
I'll try to fix deployment method conflict, and wondering how can I check if its fixed.

[2021-07-06 09:06] v-anvari commented on #1945
Hi @sureshtadisetty ,
1. These events depends on the traffic, if there is traffic, then sometimes it fails to start the host.
2. You can track these events in activity logs

[2021-07-06 09:54] azbpa opened #1949 "Contributor can delete Function App but documentation is stating this capability only for Owner"
As the documentation states here https://docs.microsoft.com/en-us/azure/azure-functions/security-concepts#user-management-permissions only the Owner role should be able to delete a Function App.

However, in my tests I granted an identity the Contributor role at Function App scope but could still delete it (which is at the end not intended for my use case).

So, is this a bug in the service or doc

[2021-07-06 11:54] v-anvari commented on #1949
Hi @azbpa , Thank you for reaching out to us, a contributor should be able to delete the Function App, I am able to delete it with the contributor access.

![image](https://user-images.githubusercontent.com/66122429/124595640-e4c08580-de7e-11eb-9c0c-ed9c0ca207b0.png)

Transferring this issue to docs repository for further corrections if required.

[2021-07-06 11:58] v-bbalaiagar commented on #1921
Hi @trailmax , Closing this issue as the required information is provided, please feel free to reach back to us in case of any further queries related to this issue.

[2021-07-06 11:58] #1921 closed

[2021-07-06 12:01] v-anvari commented on #1949
Tracking issue : https://github.com/MicrosoftDocs/azure-docs/issues/77943

[2021-07-06 12:06] v-bbalaiagar commented on #1901
Hi @syedyakoobali, Closing this issue as the required information is provided, please feel free to reach back to us in case of any further queries related to this issue.

[2021-07-06 12:06] #1901 closed

[2021-07-06 12:07] v-anvari commented on #1948
Hi @andyb70 , Can we have a complete repro to this issue, it will help us understand and analyze the issue better

[2021-07-06 12:13] andyb70 commented on #1948
I eventually traced it back to some form of dependency version incompatibility which was caused by several different components `Microsoft.AspNetCore.Authentication.JwtBearer` being one. I eventually removed all references to this component and then finally traced an incompatibility to `Serilog.Sinks.AzureBlobStorage` v3.0.1 simply downgrading this to v3.0.0 then rectified the problem.

[2021-07-06 12:13] #1948 closed

[2021-07-06 12:22] v-anvari commented on #1818
Hi @petro2050 , Closing this issue as there is no further activity, please feel free to reach back to us or re-open this issue in case of any further queries related to this issue

[2021-07-06 12:22] #1818 closed

[2021-07-06 12:53] v-bbalaiagar commented on #1882
Hi @denalisk, Thank you for your feedback! Checking internally on this issue and update you with the findings.

[2021-07-06 13:28] mikemassa84 commented on #1933
Hi @v-anvari, in your example, if you hit the following URL in the browser, you will see the problem:

https://functionapp120210705144152.azurewebsites.net/api/swagger/ui

[2021-07-06 13:36] denalisk commented on #1882
@v-bbalaiagar it does look like my issue was likely connected to the AD issues at the time, I have since been able to access the monitor blade in my function resource

[2021-07-06 13:50] v-bbalaiagar commented on #1879
Hi @LevV , Closing this issue as the required information is provided, please feel free to re-open the issue with the latest invocation id, if at all you come across the issue in future.

[2021-07-06 13:50] #1879 closed

[2021-07-06 13:56] v-bbalaiagar commented on #1868
Hi @SavaNDragos, Closing this issue as there is no further activity, please feel free to reach back to us in case of any further queries related to this issue.

[2021-07-06 13:56] #1868 closed

[2021-07-06 14:09] v-anvari commented on #1933
Hi @mikemassa84 , Thank you for the details, Checking internally if we can hit the URL directly.

[2021-07-06 14:25] v-anvari commented on #1939
I was unable to reproduce this issue, can you give me the repro steps and can you share the function App name privately - https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately. This will help us go through the logs

[2021-07-06 15:05] v-bbalaiagar commented on #1568
Hi @klogan12, Apologies for the delayed response, Let us know if you were able to find a solution.

[2021-07-07 05:42] makokui opened #1950 "Failed to create default: Encountered an error (InternalServerError) from host runtime."
Hi, I have created new Azure Function from Azure portal. When I click 'renew key value' of 'default', the 'Failed to create default: Encountered an error (InternalServerError) from host runtime.' can be seen and failed to update the default 'App key'.

Issue:
Cannot update App key.

Repro steps:
1. Create Azure Function following the instructions (use service endpoints) - https://docs.microsoft.co

[2021-07-07 07:06] v-anvari commented on #1949
The document https://github.com/MicrosoftDocs/azure-docs/issues/77943 has been updated and merged. Closing this issue as resolved

[2021-07-07 07:06] #1949 closed

[2021-07-07 11:00] v-anvari commented on #1950
Hi @makokui , I tried to re-produce the issue, but my key value was renewed without any issue.

Here are my repro steps:

- Create a Vnet and subnet
- Create a NSG and add the security rule
- Integrate the vnet with the Function App.
- Renew the key value for Default app key

All resources created within the same location, also I'm using a Premium plan for my Function App. Can you tell me if I am

[2021-07-07 11:03] v-anvari commented on #1950
Also, you can find more information regarding Network groups in the below links

- [Tutorial: Control Azure Functions outbound IP with an Azure virtual network NAT gateway](https://docs.microsoft.com/en-us/azure/azure-functions/functions-how-to-use-nat-gateway)

- [Azure Functions networking options](https://docs.microsoft.com/en-us/azure/azure-functions/functions-networking-options)

[2021-07-07 11:39] makokui commented on #1950
Hi @v-anvari , Thank you for the comment. I found some differentiation. The correct steps is as follows.

1. Create a Vnet and subnet.
2. Allow Service endpoint of 'Microsoft.Storage' on the subnet.
3. Create a NSG and add the security rule, 'Deny all outbound internet from NSG',
4. Create new Function App on App Service Plan and new Storage account.
5. Integrate the Vnet (Regional Vnet Integratio

[2021-07-07 11:43] v-anvari commented on #1950
Thank you for the details, I shall try to reproduce the above steps and update the findings

[2021-07-07 16:32] lecharcutier commented on #1194
hey, having the same bug in a RG containing west europe consumption plan.
i have the error where trying ot deploy a premium plan "pricing tier is not available ...."
But, i can create the service plan when changing the location to west US for example

Any news on a fix or a workaround ?

[2021-07-07 17:27] KimLClark commented on #1194
Hi. Here is the workaround that has worked well for us. First, the reason for the error is that your resource group "stamp" (hardware configuration) is a version that does not support the hardware required for the Premium plan. This will not change. The simple workaround, that we are happy with, is to create a new resource group just for holding premium app service plans.  Then point your function

[2021-07-07 17:34] v-anvari commented on #1950
Hi @makokui , I followed the above steps and I was able to reproduce the error, while I created a new NSG rule. Also, the host keys were missing because of the reason mentioned here - https://docs.microsoft.com/en-us/azure/azure-functions/functions-recover-storage-account#storage-account-is-inaccessible.

I kept the app settings as it is as mentioned here https://docs.microsoft.com/en-us/azure/azu

[2021-07-07 20:44] askpatrickw opened #1951 "HTTP 404 on first call"
When an azure function has not been used for a while, you get a 404 on the first call.

**Expected**
Always available API.

**Observed**
Confusing behavior which wrongly indicates a service outage.

[2021-07-07 21:42] onionhammer opened #1952 "'LinuxDynamicWorkersNotAllowedInResourceGroup' error occurs when trying to have an app service and a linux function app in same resource group"
This seems like a relatively common need for an unsupported scenario;

You want a web app (on linux), and you want a function app (on linux).

However, if you have a linux app service for webapps, you cannot create a dynamic linux app service in the  same resource group:

[code]

https://github.com/Azure/Azure-Functions/wiki/Creating-Function-Apps-in-an-existing-Resource-Group

Are there plans to

[2021-07-07 21:56] balag0 commented on #1952
Yes, There is work in progress to remove this limitation. But no ETA yet.

[2021-07-08 00:58] makokui commented on #1950
Hi @v-anvari , Thank you for the confirmation repro.

In my thought, Azure Storage restriction settings are appropriate because the issue only occurs when I add the NSG settings, 'Denly all outbound traffic to the internet'.
The flow is here:
![image](https://user-images.githubusercontent.com/19471946/124845533-e484cf00-dfd1-11eb-9cd7-58955c4f2fbd.png)

If NSG settings remove, the request will be

[2021-07-08 17:34] brettsam opened #1954 "Remove feature flag for EnableEnhancedScopes"
The feature flag `EnableEnhancedScopes` changes how dependency injection scopes are resolved from within the JobHost. This was added to prevent any major breaking change, but it has fixed a number of dependency scoping problems for users without any known issues.

Without this flag, scopes are passed via an AsyncLocal which can be problematic in some scenarios (most notably when using HttpClient).

[2021-07-08 17:56] brettsam opened #1955 "Remove FeatureFlag for DisableDevModeInDebug"
When in Debug mode, the host used to set the Environment name to "Development ". This meant that files like appsettings.development .json would get picked up when using environment-based JSON config loading. But going into Debug mode seemed arbitrary to a lot of customers -- simply visiting the portal and causing a restart (like disabling a function) would set you in Debug mode, causing the incorr

[2021-07-08 18:13] v-bbalaiagar commented on #1622
Hi @wrkgm, This is not really a function specific issue, so we don't have detailed guidance on how to send it. The one good place to ask this question would be stack overflow or forums.

Closing this issue as this is not a function specific issue.

[2021-07-08 18:13] #1622 closed

[2021-07-09 03:49] MhAllan commented on #1769
Thanks @v-anvari

for voting: https://feedback.azure.com/forums/355860-azure-functions/suggestions/43769364-orchestrator-that-is-not-durable

[2021-07-09 14:47] GleamStar opened #1958 "Azure functions .net 5.0 isolated ( extentions.json do not generated)"
I did everything as in doc https://docs.microsoft.com/en-us/azure/azure-functions/dotnet-isolated-process-developer-howtos?tabs=browser&pivots=development-environment-vs
When I try to run it does not generate  extentions.json and does not run.
![image](https://user-images.githubusercontent.com/10872587/125095929-55fd7400-e0dd-11eb-8a46-ea08f479fa79.png)
Or it runs but does not see any functions
![

[2021-07-09 17:49] v-bbalaiagar commented on #1951
Hi @askpatrickw, Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-07-09 17:51] v-bbalaiagar commented on #1958
Hi @GleamStar, Thank you for the feedback, we will reproduce this issue and update as appropriate

[2021-07-09 19:14] chughesvf commented on #1939
Hey Ansuri,

I worked for weeks with a Microsoft rep on this issue. They sent me here. This relates to the following Azure case: 2105190040002734 to which they were fully reproducing this issue.

[2021-07-10 01:39] ketaanhshah commented on #1349
I am facing same issue  here with my STORAGE account in the SAME subnet as my Function App but still the same error and it seems @jeffhollan and other Microsoft folks have gone total sleep mode on this issue with no response for such a basic feature where the documentation lacks basic step by step guidance. Folks we are in field trying to use the product as designed and it is not working it would

[2021-07-10 15:19] ketaanhshah commented on #1349
@blueelvis I am facing the same issue and I am not sure if your support ticket got any resolution? Can you please share if there was any resolution. I am facing exactly same issue as you are having and its now July 2021 and I have ensured the configuration have all those App settings as well. @jeffhollan any help on this please?

![image](https://user-images.githubusercontent.com/12475114/12516788

[2021-07-10 20:16] ketaanhshah commented on #1349
Resolved:  it seems that adding the "WEBSITE_RUN_FROM_PACKAGE" = 1 app settings to the Function App settings gets rid of that error.

[2021-07-11 06:32] BoPengGit commented on #1579
Any update here @anirudhgarg?

How do I setup a ML inference pipeline with Azure functions that can connect to a GPU and handle auto-scaling?

Thank you,

[2021-07-12 12:18] v-bbalaiagar commented on #1958
Hi @GleamStar,  I have tried to reproduce the mentioned scenario exactly. Below are the repro steps:

 1. Created function project with HTTP trigger function and set the Authorization level to Anonymous.

![image](https://user-images.githubusercontent.com/74654421/125280846-28aa0380-e333-11eb-9aa3-0a18ce51ff38.png)

When I debug the app, The function get executed successfully as below.

![image](h

[2021-07-12 12:19] GleamStar commented on #1958
Hi  . After a lot of tries, I solved the problem. I've cleaned up the .nuget folder at my computer and it helps.

[2021-07-12 12:31] v-bbalaiagar commented on #1958
Hi @GleamStar, Closing this issue as resolved, please feel free to reach back to us in case of any further queries related to this issue.

[2021-07-12 12:31] #1958 closed

[2021-07-12 14:08] dnaren commented on #1695
Steps to reproduce:
1. Create a brand new Azure Functions project (netcoreapp3.1 & v3 runtime)
2. Add nuget - Microsoft.Azure.WebJobs.Extensions.ServiceBus v4.3
3. Add a ServiceBusTrigger function that binds Message parameter, like below
[FunctionName("SayHello")]
public async Task Run([ServiceBusTrigger("topicName", "subscription", Connection = "ConnectionName")] **Message queueItem**)
4. Run the

[2021-07-13 01:14] brunotw opened #1959 "Durable Functions - History Table logging tuples"
Hi all, I've been playing around with Durable Functions for some weeks, today I noticed how tuple are logged into the history table. Even though my Activity Function returns a named tuple, the table history shows item1 and item 2.

![image](https://user-images.githubusercontent.com/21198314/125374453-f32b0780-e37e-11eb-8079-d4041123f2af.png)

History Table
![image](https://user-images.githubuserco

[2021-07-13 03:16] vanhuynhnguyen2001140321 commented on #139
Hi , i have a problem with Host, i tried some ways, but the problem is not solved. I was created a sample project on Visual 2019 and run it, but there is a problem about Host as shown in the picture below. Please any one help me resolved this problem? Thanks.
![image](https://user-images.githubusercontent.com/38435142/125384612-622a4f80-e3c3-11eb-8fdf-ccc83024083d.png)
![image](https://user-images

[2021-07-13 04:29] vanhuynhnguyen2001140321 opened #1960 "Error: A ScriptHost error has occurred when run azure function"
I have a problem with Host, i tried some ways, but the problem is not solved.
I was created a sample project on Visual 2019 and run it, but there is a problem about Host as shown in the picture below. Please any one help me resolved this problem?
![11](https://user-images.githubusercontent.com/38435142/125390714-8559fc80-e3cd-11eb-85f5-114da71318be.png)
![22](https://user-images.githubusercontent.

[2021-07-13 12:07] v-bbalaiagar commented on #1951
Hi @askpatrickw, Could you please provide us the invocation id of the error and time stamp to get the logs and check the cause.

[2021-07-13 12:11] #1895 closed

[2021-07-13 12:21] v-bbalaiagar commented on #1695
Hi @dnaren, Thank you for the repro steps, we will reproduce this issue and update as appropriate.

[2021-07-13 12:45] v-bbalaiagar commented on #1660
Hi @mikanyg, Closing this issue as we don't have any document, please feel free to reach back to us in case of any further queries related to this issue.

[2021-07-13 12:45] #1660 closed

[2021-07-13 12:55] v-bbalaiagar commented on #1960
Hi @vanhuynhnguyen2001140321, Thank you for the feedback, we will reproduce this issue and update as appropriate.

[2021-07-13 13:09] v-bbalaiagar commented on #1825
Hi @DrEight, Can you please provide the above requested details.

[2021-07-13 13:30] v-anvari commented on #1950
Hi @makokui , Apologies for the delay, yes, you are right, even I had the error only while blocking internet. I was checking this internally with the function team, but this question is more related to the networking team. In my thoughts, this scenario is blocking the traffic at the gateway level, but, we are not sure about the possibilities here. We suggest you to submit a support request, it wil

[2021-07-13 13:31] v-bbalaiagar commented on #1619
Hi @anilpras , Apologies for the delayed response, let us know if you were able to find a solution.

[2021-07-13 13:35] v-bbalaiagar commented on #1612
Hi @CodeFisher-02, Apologies for the delayed response, the issue was somehow lost in the trace. Can you tell us if you are still facing this issue.

[2021-07-13 13:54] v-bbalaiagar commented on #1595
Hi @razdavidovich, Apologies for the delayed response, the issue was somehow lost in the trace. We will check for the possibilities internally and update you with the findings.

[2021-07-13 14:57] JamesDuggan opened #1961 "Questions on Access Restrictions and NSG rules for VNet integrated Function App"
I have two questions on Function App (premium) VNET integration.

When securing the the Function App via Access Restrictions are there service tags that must be configured in order that the function app remains healthy? For example, there is plenty of documentation suggesting the ```AppServiceManagement``` service tag should be allowed, but it remains unclear that it is actually required for a Fun

[2021-07-13 16:59] anilpras commented on #1619
@v-bbalaiagar - Essentially the command should not allow the VNET integration for the function app running in a consumption plan. The idea was to report a bug.

[2021-07-13 20:59] Hazhzeng opened #1962 "Remove thread count limitation on workers"
### Motivation
What is the motivation for the change?
This will increase the throughput of I/O intensive Python and PowerShell function apps.

### Impact
How many customers (roughly) would be impacted by this break? If not known, how can we figure it out? This may require host changes to gather metrics.
This is possible to break customer's with memory intensive Python function apps. May increase t

[2021-07-13 22:04] TehWardy opened #1968 "Migration of functions from netcore 3.1 to .Net 5.0"
Please describe the documentation request or issue.  Be as specific as possible.
I've found documentation in piles but none of it tells me what I need to know.

The simple fact is I have an existing simple Azure function that is pretty self contained and I can't figure out how to get it running with Visual Studio locally as .Net 5 changes everything.

I have followed all the guidance notes and blo

[2021-07-13 22:24] Hazhzeng commented on #1962
Discussion: https://github.com/Azure/Azure-Functions/discussions/1967

[2021-07-13 22:49] Hazhzeng opened #1969 "Enable dependency isolation for Python function apps"
Discussion: https://github.com/Azure/Azure-Functions/discussions/1976

### Motivation
What is the motivation for the change?
Python customer's has function app that are using the incompatible libraries that will override our worker's dependencies (e.g. protobuf). This feature will mitigate these issues and ensure the customer's code always load from their own .python_packages after worker initiali

[2021-07-14 08:50] DrEight commented on #1825
Sorry if I did not provide additional details. I solved the problem by not using the Linux image.
You can close the ticket.

[2021-07-14 08:57] v-bbalaiagar commented on #1825
Hi @DrEight, Thank you for the confirmation, Closing this issue as resolved, please feel free to reach back to us in case of any further queries related to this issue.

[2021-07-14 08:57] #1825 closed

[2021-07-14 09:51] vanhuynhnguyen2001140321 commented on #1960
Yes, thanks for the team.

[2021-07-14 10:38] ashgit24 opened #1970 "Azure Function to read large file in chunks through http trigger request"
Hi
I have an API in Azure function that uses Http trigger to receive data and send that across to the on-prem application. We have the UI front-end where user can upload large file size (no limit) and that would send data in chunks to the API.

I am aware that the limitation of the function App is 100MB and I also see the recommendation for handling large file size is to use Blob Storage. However

[2021-07-14 13:33] ponnmohan opened #1971 "Missing Application Insight Logs"
**Describe the bug**

I have created an Azure Function App that uses ServiceBus Queue triggered which is hosted in Elastic Premium Plan. I have used **Managed Identity** to authenticate the function app with the service bus. In that function, I'm logging service bus queue messages. The number of messages which I sent to the service bus queue has differed from the number of Function App insight log

[2021-07-14 13:56] TehWardy commented on #1968
Ok I managed to solve this ...
Of all the guides I read through none of them suggested dropping the obj and bin folders from the project and rebuilding the nuget cache whilst VS was unloaded then loading the solution after making all these changes.

Apparently there's some odd caching / temp data not being cleaned up properly during the upgrade process.

[2021-07-14 16:01] JamesDuggan commented on #1961
Appreciate this is potentially a wide question, but really what it boils down to is guidance on the impact of implementing inbound traffic via Access Restrictions and outbound traffic via NSG outbound rules on the the ability (or need) of the underlying VMs to update, and the overall health of the Function App. For a multi-tenant Function App on Premium, the docs are not clear. Thanks

[2021-07-14 18:35] MaximRouiller opened #1972 "Error: Cannot find module `durable-functions`"
Using the latest version of vscode and the extensions.

* Create a brand new Azure Functions JavaScript project.
* Create a Durable HTTP Starter function
* Create a Durable Orchestrator Function
* Create a Durable Activity Function called `Hello` (to match the orchestrator Function)
* Press F5 to debug.

**Expected result:** Azure Function running and waiting for an HTTP request
**Actual Result:**

[2021-07-14 18:42] MaximRouiller commented on #1972
Wrong repository.

[2021-07-14 18:42] #1972 closed

[2021-07-14 18:49] jedjohan commented on #1971
Hi, have you tried adjusting the logging in host.json ? Could this be some case of sampling kicking in ?("logging":"applicationInsights": "samplingSettings": )
https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#sample-hostjson-file

[2021-07-14 20:17] fabiocav commented on #1886
Updating milestone as this work is in progress.

[2021-07-14 22:01] sidkri commented on #1866
@madelinegordon could you link the child items to this issue?

[2021-07-15 00:05] Hazhzeng opened #1973 "Enable shared memory transfer for Python functions"
Discussion: https://github.com/Azure/Azure-Functions/discussions/1977

### Motivation
What is the motivation for the change?
This will increase the throughput of Blob trigger binary data transfer between host and Python worker.

### Impact
How many customers (roughly) would be impacted by this break? If not known, how can we figure it out? This may require host changes to gather metrics.
Customers

[2021-07-15 01:42] fabiocav opened #1974 "Removal of legacy precompiled model"
Discussion for this proposal: #1975

Removal of legacy precompiled model.

### Motivation
The Functions Host currently supports two different precompiled models, the default model, which is indexed by the WebJobs SDK and is what we support in tooling, documentation and templates, and a legacy model,
that exposes a different programming model and loads a .NET assembly that is directly indexed and e

[2021-07-15 06:57] #1950 closed

[2021-07-15 07:42] TehWardy commented on #1968
As a result of this I don't think there's an issue with Functions here, I think it's a VS issue.

[2021-07-15 07:42] #1968 closed

[2021-07-15 10:43] ponnmohan commented on #1971
This works well. Thanks @jedjohan

[2021-07-15 10:48] ponnmohan commented on #1971
Closing this issue, since provided comment works well.

[2021-07-15 10:48] #1971 closed

[2021-07-15 11:28] v-bbalaiagar commented on #1970
Hi @ashgit24, Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-07-15 13:30] v-bbalaiagar commented on #1655
Hi @mm-gmbd, Here is a [tracking issue](https://github.com/Azure/Azure-Functions/issues/862) which is being addressed and worked upon on a similar scenario, Please find the space for further updates.

[2021-07-15 13:30] #1655 closed

[2021-07-15 17:33] vijayrkn commented on #1595
The reason you are seeing this error is because VS does the following 2 things as part of the publish process:
1. Push the required deployment artifacts to the target destination (Azure in this case). This does not need the user id to be logged into VS since the publishing creds are all we need to push the artifacts.
2. Set the required app settings correctly on the Azure functions instance. This

[2021-07-16 04:18] asifaziz30 commented on #502
Hi,

Can you reopen this issue for Azure.Messaging.ServiceBuss version 7.2.0 is also not trigger on local IIS to receive messages or I have to post new issue?

[2021-07-16 06:24] ayushjain1035 commented on #1053
Try using Orchestration trigger for such problems. It is designed for long running processes

[2021-07-16 11:29] Alessar commented on #1941
@balag0 is there any news?
The additional attempt was tested today one more time. The issue still exists.
Settings were changed: `16.07.2021 12:47:20 GMT+3` / Settings were reverted back: `16.07.2021 12:47:22 GMT+3`

[2021-07-16 15:46] JamesDuggan commented on #1961
I have bottomed out the behaviour for default ```AllowVNetOutbound```.

Really would appreciate your input on the impact of implementing aggressive inbound traffic restrictions via Access Restrictions such as only allow AzureDevOps, and outbound traffic restrictions via NSG outbound rules that restrict the default ```AllowInternetOutbound``` on the the ability (or need) of the underlying VMs to up

[2021-07-17 07:49] balag0 commented on #1941
Thanks. Investigated the repro on 16.07.2021 12:47:20 GMT+3

Looks like there were 2 calls to update settings
2021-07-16 09:47:20.9777603 PUT /appsettings
2021-07-16 09:47:23.4624558 PATCH /config/web

There were no errors with either of the calls. The logs do not contain the values being updates just the fields. So it is difficult to be sure but my theory is the 1st calls update was overwritten b

[2021-07-18 02:03] A30006565 commented on #1286
For those of you still having this issue, e.g. `host.json` configs being overwritten by default values, and also having the need to load custom configs refer to this answer:

https://github.com/Azure/azure-functions-servicebus-extension/issues/34#issuecomment-596781972

[2021-07-19 12:06] Alessar commented on #1941
@balag0  We have no "second" call. We have only one call of `Set-AzureRMWebAppSlot` function.
The verbose output of that function shows a lot of internal invokes (17 items), but we have no capabilities to change that function.
It is provided by the library which we use. So how we can suppress the "second" call if it exists in the library.

[2021-07-19 20:15] mogupta-ecfmg commented on #1240
upvote.. this feature is very much needed when working with multiple functions inside the same project.. its very difficult to manage the code otherwise.. I believe AWS already provides this feature !

[2021-07-20 09:36] Sti2nd opened #1978 "Route param is bound to custom payload type"
I am seeing some undocumented behaviour. I am doing a request `PUT /api/users/+4444444444` with payload

[code]

I have a User class that looks like this

[code]

and somehow, the route parameter finds its way into the User object 🤔
![image](https://user-images.githubusercontent.com/6373430/126297966-6db01834-b65f-4701-b156-5bc4b3287832.png)

I swear I am not sending in the `userId` from Postman:

[2021-07-20 13:50] martonx opened #1979 "How can we use .Net 5 isolated with linux custom image"
I found this example.
https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-function-linux-custom-image?tabs=bash%2Cportal&pivots=programming-language-csharp
It is working fine with .Net Core 3.1
I also found dotnet-isolated images for creating custom .Net 5 based image for Azure Function.
But docker build not working, because of dotnet version mismatch.

Steps for repro:

func i

[2021-07-20 13:51] v-bbalaiagar commented on #1960
Hi @vanhuynhnguyen2001140321, I have tried to reproduce the mentioned scenario exactly. Below are the repro steps:

1.Created function project with Timer trigger function.

![image](https://user-images.githubusercontent.com/74654421/126334646-dffb6b35-ed5d-4811-bf8d-ac18b117b007.png)

![image](https://user-images.githubusercontent.com/74654421/126334999-e32b5dfb-8d81-46cc-8abd-f419db619111.png)

W

[2021-07-20 14:00] v-bbalaiagar commented on #1946
Hi @tnlthanzeel, Apologies for the delayed response. Can we know what you are giving in the local.settings.json to check further.

[2021-07-20 15:58] v-anvari commented on #1978
Hi @Sti2nd , Thank you for your feedback! We will investigate this further and update you with the findings.

[2021-07-20 15:59] v-anvari commented on #1945
Closing this issue as the required information is provided, please feel free to reach back to us or re-open this issue in case of any queries.

[2021-07-20 15:59] #1945 closed

[2021-07-20 16:44] v-anvari commented on #1959
Hi @brunotw , Can you explain us the scenario in detail. What are you trying to achieve here. Which language are you using. Can we get the repro steps as well. Do you have any document that you are following. I shall also check with the team regarding this behavior

If you are using python, When the activity function gets called, the argument that arrives is not a Location but an array containing

[2021-07-20 17:25] wggley commented on #1644
+1

[2021-07-21 00:40] askpatrickw commented on #1951
No, I cannot sorry.

[2021-07-21 00:40] #1951 closed

[2021-07-21 01:54] balag0 commented on #1941
Just to rule out any issues with the Cmdlet, could you try the same operation using Azure CLI or some other client and share the timestamp here.

[2021-07-21 05:53] JagadishLakhini opened #1980 "Proxies Json Backend Uri Forwarding Infinite Loop/Not found"
I am Trying to Add Security Headers using Proxies JSON and need to forward the URL to the same func app, when I don't pass the backend uri, the page that I access from forwarding shows an empty page and when I try to pass the backend uri same as the func app, It says infinite loop.

Tried to add settings like below and With these settings, the main URL stops working and headers added to /api

"mat

[2021-07-21 09:02] dmathijs opened #1981 "Behaviour when maximum number of functions used"
Hi,

I tried finding information about what happens if the maximum amount of concurrent functions is called.
Does Azure respond with a specific status code?
Is this documented somewhere? Can I add it?

Thank you!

[2021-07-21 10:44] markdore opened #1982 "SCALE_CONTROLLER_LOGGING_ENABLED not showing scale trigger to indicate reason for scale"
### Background
We have a number of function apps sitting within one premium elastic app service plan.  The app service plan is hosted on an EP2 instance.  We originally had performance issues and ascertained this was down to 2 things:

1) We were originally on an EP1 instance
2) We were not setting the 'pre-warmed instances'

I wanted to understand what caused the scaling of the machines in the ba

[2021-07-21 19:06] mthalman opened #1983 "Microsoft.NET.Sdk.Functions.Generator app cannot run in .NET 5.0 environment"
Attempting to build an Azure Functions project in an environment that only has .NET 5 installed results in the following build error:

[code]

This happens because the Microsoft.NET.Sdk.Functions.Generator targets .NET Core 3.1 but the 3.1 runtime is not installed in the environment.  The proper way to handle this is compile the Microsoft.NET.Sdk.Functions.Generator project with the roll forward o

[2021-07-22 00:37] tnlthanzeel commented on #1946
hi  @v-bbalaiagar , i have pasted it below

`{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet",
    "AzureWebJobsServiceBus": [redacted]
  }
}`

[2021-07-22 13:01] codebrane commented on #1695
Using `Message message` instead of `string message` locally results in the following error with the above input:

`Exception binding parameter 'message'. Microsoft.Azure.ServiceBus: Operation is not valid due to the current state of the object.`

[2021-07-22 17:43] paulbatum opened #1987 "Functions V4 - Require a minimum version for supported extensions"
This issue proposes that functions V4 should require a minimum version for each of the supported functions extensions (storage, eventhubs, servicebus, etc).

### Motivation
We often fix bugs in our extensions, or update our extensions to use newer Azure SDKs that have relevant bug fixes. Unfortunately, we are not able to guarantee that our customer receive those fixes. As a result, often the first

[2021-07-22 17:48] Alessar commented on #1941
The assumption is that the issue is related to Cmdlet. Attempts to change settings via the Azure portal works well.

[2021-07-22 17:50] v-bbalaiagar commented on #1981
Hi @dmathijs, Thank you for the feedback, checking this internally and update you with the findings.

[2021-07-23 10:23] christle opened #1989 "Restart loop for Azure Functions on a AKS virtual node."
Hello,

We use Azure functions with KEDA inside a AKS Cluster with http, queue and eventhub trigger for nearly 80 azure functions. now i want to use a virtual node to get rid of vm startup times in scaling scenarios. But currently i run in a for me unsolvable situation:

all azure functions stuck in a restart loop. we run exactly into this issue: Azure/AKS#1040.

Like the first reply, we use the a

[2021-07-23 13:09] nilavghosh commented on #1805
My platform version is 94.*  but still seeing this issue. One behaviour that i have seen is when the functions app scales up (As per a defined rule) in a premium plan then some of the requests see the error - **Could not find a suitable TLS CA certificate bundle**
Attached a screenshot of the platform version.
![image](https://user-images.githubusercontent.com/657155/126786247-d9bf7842-6243-4bf5-b

[2021-07-25 03:34] sgalles commented on #866
I found out about this issue totally by chance working on performances issues and timeouts on Java functions. On one hand I technically understand why killing the whole JVM is necessary after a timeout (threads can't be killed), on the other hand this is a very important behavior that should be documented because as a user of Azure Functions I certainly won't chose timeout values the same way when

[2021-07-26 10:12] v-anvari commented on #1978
Hi @Sti2nd , I tried to reproduce it normally by passing the userID in the route parameter. But, I am unable to reproduce your scenario exactly. Can you give me the repro steps and the code that you are using.

[2021-07-26 10:25] v-anvari commented on #1982
Hi @markdore , Thank you for your feedback, Kindly share us the Function App details privately, so that we can check the backend logs for you Application.
[Sharing-Your-Function-App-name-privately](https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately)

[2021-07-26 10:30] v-anvari commented on #1982
Meanwhile, I shall try to reproduce this scenario on a test Function App.

[2021-07-26 11:20] v-anvari commented on #1983
Hi @mthalman , Thank you for your feedback! We will investigate this further and update as appropriate

[2021-07-26 11:38] v-anvari commented on #1961
Hi @JamesDuggan , This question is more for the networking team, as this requires
 change in the Networking behavior. The Networking forum covers all aspects of Networking in Azure, including endpoints, load-balancing, network security, DNS, Traffic Manager, virtual networks, and external connectivity. https://feedback.azure.com/forums/217313-networking?category_id=77469.

As you have mentioned, t

[2021-07-26 11:48] v-anvari commented on #1952
Closing this issue as the required information is provided, please find any further updates in  the App Service Announcements issues page: https://github.com/Azure/app-service-announcements/issues

[2021-07-26 11:48] #1952 closed

[2021-07-26 11:58] v-anvari commented on #1939
Hi @chughesvf , I am unable to retrieve the data from the support case. Can you give me the repro steps and can you share the function App name privately - https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately. This will help us breakdown the logs

[2021-07-26 16:43] v-anvari commented on #1933
Hi @justinyoo, Could you please check this issue with the OpenAPI

[2021-07-26 16:50] v-anvari commented on #1938
Hi @imsam67, This errors could be due to the configuration or the connection string used could be invalid. We would like to understand the startup file and the function details and do you have a timer trigger setup to run on startup. Are you debugging the startup code. Also, for .Net 5, if you have any break point setup in the startup code, then likely you may see these errors. If it is an out-of-

[2021-07-26 17:06] v-anvari commented on #1983
Hi @mthalman , This scenario is work in progress and is being tracked in azure-functions-dotnet-worker repository. Closing this issue here

[2021-07-26 17:06] #1983 closed

[2021-07-26 17:12] mthalman commented on #1983
@v-anvari - Can you post a link to the related work?

[2021-07-26 17:41] v-anvari commented on #1983
I don't have it handy, but I shall share it as soon as I get it.

[2021-07-26 18:19] v-bbalaiagar commented on #1981
Hi @dmathijs, We would like to know which trigger are you using because the concurrent invocations we have a slightly different behavior depending on the trigger type.

[2021-07-26 18:22] v-bbalaiagar commented on #1813
Hi @anthonychu, Could you please look at this issue.

[2021-07-26 21:54] cgillum commented on #1370
If anyone runs into this while using the functions CLI to install extensions (`func extensions install`) that depend on Microsoft.Data.SqlClient, I was able to work around this by updating my **extensions.csproj** file to look like the following:

[code]

This workaround specifically applies to C# scripting and non-.NET languages which aren't using extension bundles.

[2021-07-27 11:54] v-bbalaiagar commented on #1980
Hi @JagadishLakhini, Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-07-27 11:58] v-bbalaiagar commented on #1568
Hi @klogan12, Closing this issue as there is no further activity, please feel free to reach back to us in case of any further queries related to this issue.

[2021-07-27 11:58] #1568 closed

[2021-07-27 12:04] v-bbalaiagar commented on #1594
Hi @mkarczewski85, Closing this issue as there is no further activity, Please feel free to reach back to us in case of any further queries related to this issue.

[2021-07-27 12:04] #1594 closed

[2021-07-27 12:10] v-bbalaiagar commented on #1612
Hi @CodeFisher-02, Closing this issue as resolved[ here](https://github.com/MicrosoftDocs/azure-docs/issues/56246), Please feel free to reach back to us in case of any further queries related to this issue.

[2021-07-27 12:10] #1612 closed

[2021-07-27 12:12] v-bbalaiagar commented on #1694
Hi @wilberolive, Closing this issue as there is no further activity, please feel free to reach back to us in case of any further queries related to this issue.

[2021-07-27 12:12] #1694 closed

[2021-07-27 12:39] v-bbalaiagar commented on #1698
Hi @tvse-central-da, Closing this issue as there is no further activity, please feel free to reach back to us in case of any further queries related to this issue.

[2021-07-27 12:39] #1698 closed

[2021-07-27 13:22] v-bbalaiagar commented on #1946
Hi @tnlthanzeel, Thank you for your feedback! We will investigate this further and update you with the findings.

[2021-07-27 13:39] v-bbalaiagar commented on #1630
Hi @truptijogi7, Closing this issue as there is no further activity, please feel free to reach back to us in case of any further queries related to this issue.

[2021-07-27 13:39] #1630 closed

[2021-07-27 13:45] v-bbalaiagar commented on #1595
Hi @razdavidovich / @lpperras , Let us know if the above information resolves your query, or if you have any further queries.

[2021-07-27 13:58] v-bbalaiagar commented on #1970
Hi @ashgit24, Apologies for the delayed response, Can you please go through here which addresses similar scenario - https://docs.microsoft.com/en-us/answers/questions/471693/azure-function-to-read-large-file-in-chunks-throug.html

Please check and let us know if this helps.

[2021-07-27 16:36] Gamecock commented on #155
This is still broken from the command line:
PowerShell    Set-AzureRmWebApp    returns a 'NotFound" for my function app.  I retyped many times, tied both quotes and unquoted.
Bash:  az resource update returns:  Property 'serverFarmId' not found on root. Send it as an additional property .
@dominikfoldi  answer for ResourceExplorer worked,I did not update "sku:" and it updated itself to PremiumV2.

[2021-07-27 20:20] Sti2nd commented on #1978
Hi @v-anvari ,
Here is a minimal code example in which I can reproduce: https://github.com/Sti2nd/Reproduce1978

[code]

The code simply takes in a User object and returns the same object. And even if one don't send in `userId` in the user object, `userId` magically appears in the returned object 😄

When I send the following request:
![image](https://user-images.githubusercontent.com/6373430/12722

[2021-07-27 22:25] chughesvf commented on #1939
I can do you one better @v-anvari  and provide you some code. The first error occurs on line 19 and is caught. The second error occurs on line 13 ( attempting to assign the error object to a hashtable and convert it to json ). This second error will hang the function and eventually timeout after the default load balancer timeout.

This function's execution will never be recorded as failed in the f

[2021-07-28 09:51] kmadof commented on #1795
I will just leave a note that this is possible now and required is this [step](https://docs.microsoft.com/en-us/azure/app-service/app-service-key-vault-references#access-vaults-with-a-user-assigned-identity). You need to set `keyVaultReferenceIdentity` as app configuration to indicate that user managed identity will be used to resolve key vault references.

[2021-07-28 12:51] v-anvari commented on #1939
Hi @chughesvf , Can I have the Timestamp during the error and region in which you are running the App. This will help us go through the logs. Are you facing this behavior even now?

[2021-07-28 13:07] chughesvf commented on #1939
@v-anvari  the logs in Azure insights are present. The logs in the monitoring pane of the function do not show failures when there is an uncaught exception like the one the script above will generate. This is misleading from a troubleshooting point of view. This was also reproduced by the MSFT engineer assigned to the Azure case and the product group suggested I create this as a feature request.

[2021-07-28 15:38] v-anvari commented on #1939
Thank you for your feedback! We will investigate this further and update as appropriate

[2021-07-28 18:09] dcadlereii opened #1990 "How do I add code that was previously in Startup.cs -->Configure method when using Azure Functions v3 in .NET 5 isolated process"
I am working with a new C# Function App using the .NET 5 dotnet-isolated where the examples only show the Program.cs and there is no Startup.cs class. I have an issue where I need to register a SyncFusion license, which I typically do in the Startup.cs -->Configure Method by using this line;

    `Syncfusion.Licensing.SyncfusionLicenseProvider.RegisterLicense("...");`

But I do not know where to a

[2021-07-28 20:16] paulbatum opened #2222 "az functionapp deployment fails when deploying to an app with identity based connection for storage"

[2021-07-28 21:36] Oceanswave commented on #1933
Running into this exact issue as well

[2021-07-29 00:39] amamounelsayed opened #1991 "Java 8 stop supporting loading the worker jars"
Currently the default for the java worker is loading the java worker jars first then loading the customer jars. This was the solution to not make any break change after shading the java worker jars (note the gson jar is the only one that is not shaded).
The jars is uploaded at https://github.com/Azure/azure-functions-java-worker/tree/dev/lib_worker_1.6.2
There is around 32 jars in the folder.

To

[2021-07-29 01:53] amamounelsayed opened #1997 "Java 11 use single class loader"
Currently for each function we created in a specific class loader. The impact Static variable appears to be difference for each function even though it's in the same class
https://github.com/Azure/azure-functions-java-worker/issues/412

### Motivation
What is the motivation for the change?
We will need to fix the issue and have the same behavior like java 8

### Impact
We do have a way to know how

[2021-07-29 08:56] v-bbalaiagar commented on #1990
Hi @dcadlereii, Thank you for your feedback! Here is a [SO](https://stackoverflow.com/questions/68565359/how-do-i-add-code-that-was-previously-in-startup-cs-configure-method-when-usi?answertab=active#tab-top) which addresses similar scenario and solutions to resolve it.
Please check and let us know if this helps.

[2021-07-29 13:20] v-anvari commented on #1933
Thankyou for the information @Oceanswave .

@mikemassa84 , Could you please try the above method

[2021-07-29 14:11] mikemassa84 commented on #1933
@Oceanswave Thanks for the tip! I didn't want to implement the entire IOpenApiConfigurationOptions, but was able to accomplish the same thing by setting an App Configuration setting named `OpenApi__HostNames` to `https://openapitestl.azurewebsites.net/api`.

![image](https://user-images.githubusercontent.com/14846033/127506860-5f10451c-da82-44d0-b791-ba63f57f6f4b.png)

@v-anvari This work around d

[2021-07-29 14:14] dcadlereii commented on #1990
@v-bbalaiagar I was the person who submitted that question to Stack Overflow and the recommendation by Kzrystof seems to work. Thanks

[2021-07-29 14:24] v-bbalaiagar commented on #1990
Hi @dcadlereii, Thank you for the update, Closing this issue as resolved, Please feel free to reach back to us in case of any further queries related to this issue.

[2021-07-29 14:24] #1990 closed

[2021-07-29 14:46] jsquire opened #1998 "[BUG] and maybe [Enhancement] Complex objects in local.settings.json Values cause issues and unrelated logs"
@MhAllan commented on [Thu Jul 29 2021](https://github.com/Azure/azure-sdk-for-net/issues/22948)

I want to access configurations in AF the same way I do in Asp.Net Core, by that I mean I want to code it like this

[code]

And I don't want this
[code]

The reason is that I want to have the code ready to transform to Asp.Net Core server instead of Http Functions if I change my mind about cost or pe

[2021-07-29 16:41] v-bbalaiagar commented on #1980
Hi @JagadishLakhini, Can you provide us with the repro steps so that we can repro it from our end.

[2021-07-29 16:50] v-bbalaiagar commented on #1882
Hi @ThomasVandenbon, Closing this issue as this issue hasn't re-occurred. Please feel free to reach back to us in case of any further queries related to this issue.

[2021-07-29 17:35] ThomasVandenbon commented on #1882
@v-bbalaiagar, I don't understand what you mean by not re-occuring?

As far as I know, nothing has changed.
Which means that a user with the "Monitoring reader" and/or "Reader" role cannot use the "Monitor" feature of Azure Functions.

[2021-07-30 05:58] wilberolive commented on #1694
Sorry, I just noticed your reply. I never managed to solve this, so I gave up on using Azure Functions. I can set up a test project and check it out if you think this has been resolved now.

[2021-07-30 11:48] gyankov commented on #1138
I am still facing the same issue with Azure Function v3. Did someone come up with a way to make runtime compiled views work?

[2021-07-30 16:49] v-bbalaiagar commented on #1882
Hi @ThomasVandenbon, Apologies for the confusion, I shall discuss this internally and get back to you with the findings.

[2021-07-30 20:33] Alessar commented on #1941
@balag0 looks like the issue can be closed.
The issue was in the `Az.Websites 2.4.0` library.
So updating to `Az.Websites 2.8.0` helps to fix the issue.

[2021-07-30 22:15] balag0 commented on #1941
Great. Thanks for the update.

[2021-07-30 22:15] #1941 closed

[2021-08-02 06:26] AnatoliB opened #1999 "Drop old language versions support in Functions v4"
In Functions v4, drop support for the following language versions:
- **Node.js**
	- Version **10**
		- Community EOL: April 30, 2021
	- Version **12**
		- Community EOL: April 30, 2022
- **PowerShell**
	- Version **6**
		- Community EOL: September 4, 2020
- **Python**
	- Version **3.6**
		- Community EOL: December 23, 2021

All these versions are currently supported by Functions v3, and they must

[2021-08-02 20:25] Robertj1983 opened #2002 "Update Azure Function resource group restrictions"
This [wiki article](https://github.com/Azure/Azure-Functions/wiki/Creating-Function-Apps-in-an-existing-Resource-Group) lists the restrictions for creating Azure Functions in the same resource group.

Based on the answer to the question [here](https://docs.microsoft.com/en-us/answers/questions/491371/azure-function-resource-group-restrictions.html), the documentation could be updated to reflect th

[2021-08-02 20:58] apawast commented on #1862
@cachai2 can you check if this has been resolved?

[2021-08-02 20:59] apawast commented on #1857
@cachai2 can you check if this is resolved?

[2021-08-02 21:13] dcadlereii opened #2003 "How do I create strongly typed configuration properties in Azure Functions v3"
I am using .NET 5 for my web APIs and FunctionApps deployed in Azure.
I am using Azure Functions v3 with dotnet-isolated.
I am using Azure App Configuration Service for all of my setting values.

In my .NET Core web APIs, I have the ability to strongly type my settings values so I don't have to be concerned with magic string in my code's methods.

For example, in my Startup.cs-->ConfigureServices

[2021-08-02 21:21] AnatoliB commented on #1999
Discussion: https://github.com/Azure/Azure-Functions/discussions/2004

[2021-08-03 08:31] chandsalam1108 commented on #1883
I'm getting following error. Please help.

**System.InvalidOperationException: 'The gRPC channel URI 'http://:0' could not be parsed.'**

Program.cs

`public static void Main()
        {
            var host = new HostBuilder()
                .ConfigureFunctionsWorkerDefaults()
                .ConfigureServices(s =>
                {
                    s.AddPooledDbContextFactory<HealthCenterCo

[2021-08-03 09:59] chandsalam1108 opened #2005 "Azure Functions V3 not running using .NET 5 on Visual Studio 2019 16.10.4"
**Environment details:**

VS 2019 Enterprise 16.10.4
.Net Version: 5.0.302
OS: Windows 10 64 bit

**Error message:**

[code]
**Code used:**

**Program.cs**
[code]

Project File:

[code]

Stack Trace:

[code]

[2021-08-03 10:18] v-bbalaiagar commented on #2002
Hi @Robertj1983, Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-08-03 10:28] v-bbalaiagar commented on #1710
Hi @lipalath-ms, Closing this issue as there is no further activity, please feel free to reach back to us in case of any further queries related to this issue.

[2021-08-03 10:28] #1710 closed

[2021-08-03 10:31] v-anvari commented on #1883
Hi @chandsalam1108 , Please submit a new issue with all the required details in the form so that one of our engineering team could take up and work on it.

[2021-08-03 10:35] chandsalam1108 commented on #1883
Hi Anvari, Submitted a new issue # 2005. Thank you.

[2021-08-03 10:36] v-bbalaiagar commented on #1914
Hi @sureshtadisetty, Closing this issue as there is no further activity, please feel free to reach back to us in case of any further queries related to this issue.

[2021-08-03 10:36] #1914 closed

[2021-08-03 10:38] chandsalam1108 opened #2006 "Unable to see Azure Functions template on VS 2019 16.10.4"
I'm unable to see Azure Functions template on VS 2019 Enterprise after updating from 16.9.3 to 16.10.4.

[2021-08-03 10:53] v-bbalaiagar commented on #1616
Hi @a-vishar, Apologies for the delayed response, the issue was somehow lost in the trace. Please let us know if you are still seeing this issue, so that we will further look into the backend logs.

[2021-08-03 11:30] v-bbalaiagar commented on #1609
Apologies for the delayed response, the issue was somehow lost in the trace. We will check for the possibilities internally and update you with the findings.

[2021-08-03 11:39] v-bbalaiagar commented on #1602
Hi @vkd1290 , Apologies for the delayed response, the issue was somehow lost in the trace. Can you tell us if you are still facing this issue, so that we will investigate this further.

[2021-08-03 12:06] v-anvari commented on #2006
Hi @chandsalam1108 , I am able to add the Azure function template

![image](https://user-images.githubusercontent.com/66122429/128012414-71bfc7dc-0067-4122-a299-c5e0c6b35aec.png)

![image](https://user-images.githubusercontent.com/66122429/128011999-bf939a25-4aa8-4b37-bca2-492b9197f3db.png)

Can you try once after you restart you system or update once again, since there could be any breaks in betw

[2021-08-03 12:06] #2006 closed

[2021-08-03 13:14] v-anvari commented on #1978
Hi @Sti2nd , Apologies for the delayed response. I was able to reproduce the issue and I think the issue is here.

Since you are mentioning userId in the user class.

namespace Reproduce1978
{
    public class User
    {
        public string UserName { get; set; }
        public string UserId { get; set; }
    }
}

And when you return the User from the class like the below. The output is userName

[2021-08-03 13:24] v-bbalaiagar commented on #1585
Hi @blueelvis, Apologies for the delayed response. Were you able find a solution? do let us know if a follow up is required.

[2021-08-03 13:26] v-bbalaiagar commented on #2005
Hi @chandsalam1108, Thank you for reaching out to us, checking this internally for the possibilities. We will update you with any information found.

[2021-08-03 13:29] v-bbalaiagar commented on #1934
Hi @chtourou-youssef, Closing this issue as there is no further activity, please feel free to reach back to us in case of any further queries related to this issue.

[2021-08-03 13:29] #1934 closed

[2021-08-03 13:44] v-bbalaiagar commented on #1607
Hi @snerting, Apologies for the delayed response, the issue was somehow lost in the trace. Can you tell us if you are still facing this issue.

[2021-08-03 14:48] Sti2nd commented on #1978
Glad that you could reproduce @v-anvari . That which you could reproduce should **not** be happening!
This bug should preferably be fixed, or less preferably call it a feature and document it.

Either way, **something** needs to be done on your side.
Removing the properties that clash with the route parameters (in this case `UserId`) is not a solution. It can be a [workaround](https://en.wikipedia

[2021-08-04 06:26] AnatoliB opened #2007 "Fix output data serialization format in Node.js functions"
Fix output data serialization format in Node.js functions:
- Fix the following bug: [Binding Data for integers is inconsistent. · Issue #377 · Azure/azure-functions-nodejs-worker (github.com)](https://github.com/Azure/azure-functions-nodejs-worker/issues/377)
- Potentially accept the proposed change: [Handle `null` and `undefined` values of `result` and `result.return` in invocationRequest by davi

[2021-08-04 09:45] brunotw commented on #1959
Hi @v-anvari , thanks for the reply.

The scenario is pretty simple, I am not trying to achieve anything special, all I am doing is calling the Activity Function above from a orchestrator, everything works perfectly, my concern is only the way the returned value is logged into the history table.

I am using C# language, and following [microsoft docs documentation](https://docs.microsoft.com/en-us/

[2021-08-04 20:50] fabiocav commented on #1955
Assigning this to sprint 107

[2021-08-04 21:59] viclin-msft commented on #1585
@v-bbalaiagar see my theory and workaround above - I do believe this is a bug and should be fixed.

[2021-08-05 07:49] v-bbalaiagar commented on #1585
Thank you for the update @viclin-msft

@balag0 , Can you kindly look into this issue.

[2021-08-05 12:10] v-bbalaiagar commented on #2005
Hi @chandsalam1108, I am trying to reproduce the scenario, Can we know what are the packages you are using.

[2021-08-05 12:28] v-bbalaiagar commented on #2002
Hi @Robertj1983, Closing this issue as document issue is opened, Please find the space for further updates - https://github.com/MicrosoftDocs/azure-docs/issues/79332

[2021-08-05 12:28] #2002 closed

[2021-08-05 12:52] chandsalam1108 commented on #2005
Tried to uninstall and reinstall VS 2019 latest (16.10.4) and it's working fine now.

[2021-08-05 12:52] #2005 closed

[2021-08-05 16:10] pragnagopa commented on #1609
Tagging @sidkri @pgombar @balag0

[2021-08-05 16:44] markdore commented on #1982
Thank you for your prompt response and apologies for the delay in getting back to you, I have been on annual leave.  Here are the details you require:

2021-08-05T16:42:23.824 [Information]
Executing 'method'
(Reason='This function was programmatically called via the host APIs.',
Id=aedd10b2-a2c3-46e2-ac43-f159729844ed)

This is just one of the function apps that are deployed against our elastic s

[2021-08-05 18:16] balag0 commented on #1609
@pascalnaber  @mivano @sijucm
This is on Linux or Windows?

[2021-08-05 18:42] pragnagopa commented on #1609
Please see https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-vnet#lock-down-your-storage-account and verify if your setup.

[2021-08-06 23:27] AnatoliB commented on #2007
Discussion: https://github.com/Azure/Azure-Functions/discussions/2008