[2018-11-14 02:04] ColbyTresness commented on #1029
It could be, but 6 mins is really short - we keep things alive for much longer. So I'd have to look in more detail at your Function app to figure out what's happening. I'll do some digging and get back to you.

[2018-11-14 10:12] stridsbr opened #1036 "Question: TelematryClient disable sampling"
I use application insights for my tracelogging in .net framework. But the logs are sampled.
This is how I create the client:

[code]
How can I modify this code so it dont get sampled?
Or that Trace and exception logs won't get sampled?

I use TelematryClient from a common logging library. I prefere to use that class so I don't have to rewrite all the code that referense that library.

[2018-11-14 10:32] mayoatbm commented on #1028
@brettsam

I think i spoke to soon. I'm analyzing results from the latest load test and there are tons of instances where things don't match up at all.

Here's an example where traces are correlated together and to exceptions, but not to requests or dependencies: OperationIds: RgOF7vFBdd8=, g+qr6zFATzk= (all South Central US)

[2018-11-14 12:00] will-beta commented on #1008
Replacing the ICollector with IAsyncCollector solves the problem!

[2018-11-14 12:03] will-beta commented on #1008
@brettsam All I got from JMeter test run was a bunch of Timeout.

[2018-11-14 12:08] mayoatbm commented on #1028
@brettsam  One more question.

Does the automatic cross component correlation (via http headers) feature mentioned in the [app insights docs](https://docs.microsoft.com/en-us/azure/application-insights/application-insights-correlation#correlation-headers) work on Azure Functions? The telemetry (e.g. http calls) between multiple function apps isn't correlated at all for us right now (we get the dep

[2018-11-14 14:29] brettsam commented on #1008
That's an interesting finding; I'm glad you're moving in the right direction.

@mathewc -- although we'd almost always recommend using an `IAsyncCollector`, I don't quite understand why using an `ICollector` would seem to lock up here.

I did a quick JMeter run against this same set up last week and things seemed to run okay for me, but I may have been running with drastically different settings t

[2018-11-14 14:32] brettsam commented on #1028
@mayoatbm -- I'm not able to see your App Insights logs. Would you be able to share some snippets here (or even email me directly; my email is in my profile)?

We don't have the cross-component correlation working yet -- but it's coming.

[2018-11-14 14:49] adamsk34 commented on #1035
Hello, the status of the latest commit is "Success (Active)"
The pics are from the Deployment Center, the 2nd pic is of the logs from the latest commit.
![dep center](https://user-images.githubusercontent.com/23266447/48489968-f21a3480-e7e9-11e8-9ba8-2afb48c33122.PNG)
![dep logs](https://user-images.githubusercontent.com/23266447/48489969-f21a3480-e7e9-11e8-924b-33f7cb09363c.PNG)

[2018-11-14 15:09] crac2003 commented on #1014
@nimakms thanks for your message. No, I still have a problem with it - I'm using VS 15.8.9 and Function ext 15.10.2046.0.

Probably you are right that it may be a problem with .json but:
1. it works when I run locally (which means that local file is parsed correctly and passing values to the function)
2. there is no validation issue regarding structure and configuration values (using an online too

[2018-11-14 15:13] ravicini opened #1037 "[Visual Studio] Running v2 function from visual studio fails, running directly from command line works."
I created a small simple function with HTTP trigger and storage binding.

[code]

When I execute the function in Visual Studio, I get the following exceptions:

[code]
#### Used Tooling
VS: 15.8.9
Azure Functions and Web Jobs Tools: 15.9.02046.0
AzureFunctionTools CLI: 2.11.1
Azure Functions Core Tools (2.2.32 Commit hash: c5476ae629a0a438d6850e58eae1f5203c896cd6)
Function Runtime Version: 2.0.121

[2018-11-14 16:10] mayoatbm commented on #1028
@brettsam

I emailed you some screenshots. This didn't happen on every request by the way ( i see some that are correctly correlated). It's just painful when it does because you have no context for the traces and exception.

Some more random questions / followup, forgive me if they're incoherent, been a long day.

- Thanks for the info re: cross-component correlation. Are there any quick DIY patte

[2018-11-14 17:42] alexkarcher-msft commented on #128
At this point it would be a general comparison doc describing when to use App Service as opposed to Functions. I'd be weary of writing something like this, as there are so many different angles to take into consideration. Having a good overview available for each service should be sufficient.

[2018-11-14 18:25] mathewc commented on #1008
Not sure. @mhoeger made fixes https://github.com/Azure/azure-webjobs-sdk/pull/1658 for an issue similar to this. I wonder if this scenario is hitting codepaths not addressed by those fixes?

[2018-11-14 19:13] nimakms commented on #1014
@crac2003 please feel free to email me (address on my profile) your .json, so I can follow up with the team with a reproducible bug.

[2018-11-14 19:46] mhoeger commented on #1035
@adamsk34 - I'm not able to reproduce your issue. I've created an app starting with one function and have added more functions. On deploying, I have to refresh the portal page but otherwise correctly see my app updated. The expected files are also in place in Kudu.

What I also don't understand is that your deployment logs also say "Syncing 3 triggers", which indicates that that deployment had 3 f

[2018-11-14 19:57] mhoeger commented on #431
Tracking template updates in https://github.com/Azure/azure-functions-templates/issues/771

Updated docs here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-node#bindings

[2018-11-14 19:59] #431 closed

[2018-11-14 20:15] crac2003 commented on #1014
@nimakms I've sent an email. Please let me know if you need anything else.

[2018-11-14 20:20] mhoeger commented on #1035
@adamsk34 - So did you create the function app, create a function in the portal, as a .csx (c# script) and then hook it up to continuous deployment? I think this isn't compatible and maybe we should do more to prevent this scenario, but it would be great to know exactly what steps you have taken with this function app. (cc: @hartra344)

[2018-11-14 21:30] asavaritayal opened #1038 "Available Stacks API"
We need a refreshed "Available Stacks API" specifically for Azure Functions. Currently, we're extending the App Service API which doesn't give us all the features we need for the portal and tooling.

[Exact details **TBD**]

/cc @btardif @fiveisprime

[2018-11-14 21:55] ColbyTresness commented on #1029
Yes, it could help a bit, but given that you're using C# I wouldn't expect this to take so long.

I have time now to investigate what's happening - can you tell me the azure region you're using and approximate time when you ran the test?

[2018-11-14 21:58] ColbyTresness commented on #982
Assigning @mhoeger to help out with the latter ask, creating a better experience for DevOps for JS Functions. Will leave this as the tracking issue for the integration.

[2018-11-14 22:21] peterhe2000 commented on #1029
azure region: Australia Southeast
Time was: 2018-11-14T01:32:27.264
Log was in prev post:
2018-11-14T01:27:22 No new trace in the past 1 min(s).
2018-11-14T01:28:22 No new trace in the past 2 min(s).
2018-11-14T01:29:22 No new trace in the past 3 min(s).
2018-11-14T01:30:22 No new trace in the past 4 min(s).
2018-11-14T01:31:22 No new trace in the past 5 min(s).
2018-11-14T01:32:22 No new trace in

[2018-11-14 22:38] ConnorMcMahon commented on #1037
I am getting similar issues, but the exception is different because mine are triggers, not bindings:

Code:

[code]

Exceptions:

[code]

Used Tooling:
VS: 15.9.0
Azure Functions and Web Jobs Tools: 15.9.02046.0
AzureFunctionTools CLI: 2.11.1
Azure Functions Core Tools (2.2.32 Commit hash: c5476ae629a0a438d6850e58eae1f5203c896cd6)
Function Runtime Version: 2.0.12165.0
Microsoft.NET.Sdk.Functions:

[2018-11-14 22:49] adamsk34 commented on #1035
What you described is almost what I did. [There is a section in the Continuous Deployment docs which refers to hooking up a Function you made in the portal to continuous deployment](https://docs.microsoft.com/en-us/azure/azure-functions/functions-continuous-deployment#move-existing-functions-to-continuous-deployment) so I am surprised to hear you say that.

## The Full Process I Went Through:
I cr

[2018-11-15 00:21] ColbyTresness commented on #1029
What timezone is the above in? Can't find anything at that time in your app

[2018-11-15 00:53] ConnorMcMahon commented on #1037
My issue might be separate from this, as the runtime also fails when I publish and when running directly from the CLI.

[2018-11-15 02:32] #1016 closed

[2018-11-15 07:11] will-beta commented on #1008
@brettsam  Here is my JMeter test setup file:
[azure functionapp.zip](https://github.com/Azure/Azure-Functions/files/2584015/azure.functionapp.zip)

The function app behaves differently on the Azure vs on my local computer.
So to reproduce this, it's better to deploy the app onto the Azure.

[2018-11-15 09:32] ravicini commented on #1037
As I'm using paket it seems this one is related to this bug: https://github.com/fsprojects/Paket/issues/3345

[2018-11-15 09:50] ravicini commented on #1037
Some more information:
It seems the difference when working or not working is a generated extensions.json
in the bin/netstandard2.0/bin directory.

As soon the file exists and contains:
[code]

The function works.

I'm in a solution with mixed environment.
2 function apps with net471 and Microsoft.NET.Sdk.Functions(1.0.14)
1 function app with netstandard2.0 and Microsoft.NET.Sdk.Functions(1.0.24)

[2018-11-15 14:38] DavidJFowler commented on #972
This workaround no longer works with Microsoft.NET.Sdk.Functions 1.0.24 and netcoreapp2.1 function apps.

[2018-11-15 16:26] cpiock commented on #1013
I run into the same problem. AzureFunctionsVersion is v2 and FUNCTIONS_EXTENSION_VERSION is ~2. How did you resolved?

[2018-11-15 16:58] mayoatbm commented on #1011
@fabiocav

Repro below. I'm sorry it took so long to get it up here.

https://github.com/mayoatbm/azfunc-hcf-repro

[2018-11-15 18:51] ConnorMcMahon commented on #1037
@ravicini, I am not using paket (at least to the best of my knowledge I am not), and I am also lacking the extensions.json file (along with the other files generated with it. How were you able to generate that extensions.json file? I tried using the functions CLI to install the extensions as well, and that didn't generate the file either.

[2018-11-16 04:34] psibernetic commented on #1016
@fabiocav Can we re-open this issue to track this being resolved, or is there another issue?

[2018-11-16 08:33] stridsbr commented on #1036
The TelemetryClient I create shuld send all the telemetry to application insights but when I look in the trace I'm missing a lot. And some of the traces have itemCount > 1.

I don't have the applicationinsights setting in host.json so it probobly defaults to:
[code]
But does this effect the TelemetryClient I create myself and not just the TraceWriter and ILogger that is injected to the function?

[2018-11-16 10:51] brettsam commented on #1028
I'm looking into your issue in our other email thread -- I'll get back here when we have a solution.

- **Re: Cross-component correlation.** What components do you need to track? Http requests across different functions? The mechanism is different for each of these (HTTP headers, custom properties on Service Bus messages, etc). So there may be something you can do, but having a specific scenario w

[2018-11-16 12:42] ravicini commented on #1037
@ConnorMcMahon
It seems the source of my problems were the 2 different Microsoft.NET.Sdk.Functions references.
The generation of the extensions.json was not deterministic and sometimes it was generated.

I decided to move the new v2 runtime function app to a separate solution without paket.
Now it works as intended.

Try to build the function app with `dotnet build` then the extensions.json file w

[2018-11-16 17:49] mayoatbm commented on #1028
Sounds good.

-  **Re: Cross-component correlation.** Primarily HTTP requests to other function apps.  I saw something about using correlation headers to set the operation_ParentId value on the target, but i don't know how that would work since we don't have access to the request telemetry.
- **Re: Exceptions.** Sure thing.
- **Re: filtering.** This is pretty interesting. The traces from our custo

[2018-11-16 19:12] mayoatte opened #1039 "Azure Functions + App Insights: Exception Tracking"
The Azure Functions + App Insights integration is super helpful for us (thanks, folks). One quirk of this integration we're struggling with a bit is exceptions tracking.

**Duplicate Exceptions**

When dealing with dependencies (e.g. cosmosdb or other azure functions via http) in our Azure Functions we tend to wrap/augment any exceptions received from the dependency (e.g. thrown by the cosmos sdk)

[2018-11-16 23:15] paulbatum commented on #1036
@brettsam @lmolkova Any ideas on this one? I would have guessed that our sampling settings would NOT impact any telemetry client created by a user, but that seems to be what is happening here.

[2018-11-16 23:16] ColbyTresness commented on #717
@mattchenderson is this resolved now? Or still open?

[2018-11-16 23:17] ColbyTresness commented on #764
@nimakms I think this is in the pipeline, but adding you here in case

[2018-11-16 23:18] ColbyTresness commented on #761
@asavaritayal for docs improvements. This fits in well with another theme I've been seeing - better documentation around our platform limits in general

[2018-11-16 23:19] ColbyTresness commented on #760
@nimakms for monitoring

[2018-11-16 23:19] ColbyTresness commented on #759
@mattchenderson for portal

[2018-11-16 23:20] ColbyTresness commented on #754
@nimakms for VS

[2018-11-16 23:21] ColbyTresness commented on #753
@nimakms for VS

[2018-11-16 23:22] ColbyTresness commented on #741
@nimakms for VS

[2018-11-17 00:03] lmolkova commented on #1036
@stridsbr do you have functions v1 or v2?
In any case, you should not have sampling by default on the telemetry client you created yourself. Do you see that some telemetry is lost? Do you see any telemetry from the client you've created at all?

[2018-11-17 11:16] stridsbr commented on #1036
We are running v1, I get a lot of telemetry but as I understand it, the property itemCount describes how many 'writes' each row is in an sample.

![image](https://user-images.githubusercontent.com/2290125/48660402-29464b00-ea61-11e8-96bc-05170f9114b0.png)

And when I look at the logging for some runs I have to get 2 loggs in the execution path but one is missing.

To be honest, I'm using seriloger

[2018-11-17 19:45] enti333 opened #1040 "Azure Function - Javascript POST Call return 403"
Hello. I am new in azure functions but I found one little big problem which I am not able to solve. I search the internet but I didn't find any example how to do this...
My scenario is simple:
1. One azure function which has enabled App Service Authentication
2. Login with AAD.
3. My JS method which is called from SharePoint Online content webpart
[code]

When I change the POST to GET everything w

[2018-11-18 14:11] vinayakmali84 commented on #478
It worked. Still this issue is not fixed in visual studio 17

[2018-11-19 17:15] AshleyGrant opened #1041 "Support 64 bit NodeJS executable"
Switching to the 64 bit runtime does not switch to a 64 bit version of Node. Unfortunately, this causes issues as there are some NPM packages that only support running on 64 bit Node. One in particular is "sharp." This is an image manipulation library that is orders of magnitude faster than alternatives, but only supports running on 64 bit Node due to it calling to DLLs that are compiled to run on

[2018-11-19 17:59] mhoeger commented on #478
@vinayakmali84 - The fix should have been released in the tooling for Visual Studio a while ago but your tools may be out of date. Can you try making sure that your Azure Functions and Web Jobs Tools is updated?

[2018-11-19 19:14] brandonh-msft commented on #717
IMO still open.

[This area ](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local#local-settings-file) talks about using `"ConnectionStrings"` in local.settings.json while [this area](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-class-library#environment-variables) provides no guidance on how to get those back out as @nzthiago alluded to.

[2018-11-19 20:55] myusrn commented on #68
@smlu , @lukapercic , @lukapercic - any pointers to the secret steps to get a current generation vs17 "It Just Works]" / ijw c++ dll build with /clr settings outlined below to successfully load in an .net core/framework process space?

I ask because when i reference and try and consume my ijw c++ /clr dll output from .net core/framework, ensuring i am matching dll platform type [win32/x64] with c#

[2018-11-20 01:49] russgove commented on #309
I am having the same issue! was this fixed?

[2018-11-20 11:06] WayneMcRae commented on #478
I'm running the latest release of Azure Functions and an up to date version of VS2017 Pro.  Still have this problem when I publish my functions to Azure.  I have to manually add "direction": "in" to function.json when I publish.

[2018-11-20 16:36] russgove opened #1042 "Routing fails if parameters contains slash"
Hi,
I see this was reported a while back and resolved, but i cannot find the resolution.

I need to be able to pass slashes in the final segment of my route:

i.e for a department called 'A/P'for  i want to be able

https://somefunction/api/departments/A%2FP

I set up my route like this:
Route = "departments/{dept}"

it works fine if there are no slashes (encoded as %2F) in the department, but if

[2018-11-20 17:11] Programmer-david opened #1043 "pyodbc module not found. Even when in requirements.txt and others working fine."
I'm using a Linux consumption plan.

I get the following error;
`Exception: ModuleNotFoundError: No module named 'pyodbc' `

I have added `pyodbc` in the `requirements.txt` file and other modules in this file such as `azure-storage` are working fine.

Has anyone seen this issue or can confirm this is a known bug. I can't see any way to manually install this.

[2018-11-20 18:13] vinayakmali84 commented on #478
I am using latest version on Visual Studio 2017 V: 15.9.1
I am using latest version of Azure Function, when I published app first time, it asked me to update it.  Still issue is not resolved. I need to do manual modification of "direction" in json

[2018-11-20 19:15] cgillum commented on #785
FYI @ggailey777 I could use this information right now. :)

[2018-11-21 12:37] gilmishal commented on #581
Any update?

[2018-11-21 14:16] #1036 closed

[2018-11-21 17:00] gaikovoi commented on #972
https://github.com/Azure/azure-functions-host/issues/3386#issuecomment-440736419

[2018-11-22 08:20] TimNilimaa opened #1044 "Support OData queries"
Would love to see support for OData queries to functions, so that one could build an odata compliant service using Functions rather than an app service. OData supports .net core now, so the way to support this should be too far away. Today one might use parsers of the querystring but it doesn't work 100% of the time.

[2018-11-22 09:57] soninaren commented on #1040
Can you share the contents of the function.json file?

[2018-11-22 09:59] soninaren commented on #1040
Also being discussed here https://social.msdn.microsoft.com/Forums/en-US/7e720f81-4159-4c63-b518-54b8608fba39/azure-function-post-always-return-403?forum=AzureFunctions

[2018-11-23 07:13] Lakshminarayana537 commented on #892
Thank you. This worked.

[2018-11-23 07:13] #892 closed

[2018-11-23 07:14] #951 closed

[2018-11-23 07:24] SainiAshish opened #1045 "Azure function even function is in use still experiencing cold start"
We have a azure function which we are keeping warm using a time trigger function every 1 min. But still we are experiencing cold start. Static members are re-initializing after some time.

Doesn't a time trigger function keeps the whole function app warm?
Or do we have to keep pinging all the all the functions within function to keep them warm.

[2018-11-23 08:36] stridsbr opened #1046 "Question: usage of Microsoft.Extensions.Logging 2.1.1 in Azure function V1"
I'm trying to use switch to ILogger for structured logging to application insights instead of TraceWriter. I have a dependency on Microsoft.Extensions.Logging 2.1.1 in a nuget package.

Is there any plan to update the dependency on microsoft.extension.logging so that I can use Microsoft.Extensions.Logging v2.1.1 in Azure Functions v1?

Steps to reproduce:
Create a new Azure Function V1 with Micros

[2018-11-23 14:38] andrew-vandenbrink commented on #1024
I still see this happening, because it is preview, I can't really open azure support ticket ?

[2018-11-25 11:00] Dalmirog opened #1047 "Cannot create or debug function projects in VS2017- "One ore more errors ocurred""
Hi there,

This issue started happening 2 days ago. I'm usually up to date with my tooling, so Its not like I did a big update leap around those days.

**Repro Steps A**
1) Start debugging any existing function project. Project compiles just fine but it shows this error.

![image](https://user-images.githubusercontent.com/6180562/48978255-8a84a480-f087-11e8-8ba2-5d50c7c88a04.png)

**Repro Steps B*

[2018-11-25 23:46] tdwright commented on #932
@megel Judging by the response to this thread, I think this has been quietly dropped by MS. It _is_ possible to make R work on Azure Functions, but it requires a bit of messing around in Kudu and manually copying files around. Unless you're wedded to Functions, I'd probably recommend just going with AWS.

[2018-11-26 09:13] nils-a commented on #958
Hi,
It's been two Months.. Not even a comment? :-(

[2018-11-26 14:18] gdodd1977 commented on #1021
Hi Jeff. Any word from the team on this?

[2018-11-26 14:35] #1035 closed

[2018-11-26 14:41] thdotnet opened #1048 "Portal Bug / Azure App Service Static IP Restrictions"
I was performing a test by setting a rule on Azure App Service Static IP Restrictions. The test was to only allow calls from a particular IP Address.

I've add a new HttpTrigger and the portal started to display an error message:

"the function runtime is unable to start". It gave me the idea that the platform was offline but it was actually the ip restriction even tough I haven't invoked the "Run

[2018-11-26 15:49] jeffhollan commented on #1021
https://channel9.msdn.com/Shows/On-NET/Writing-Tests-for-Azure-Functions

[2018-11-26 15:50] jeffhollan commented on #1021
Thanks for the reminder. Never heard back so just re-pingd that team

[2018-11-26 17:46] mhoeger commented on #1035
Hi @adamsk34, thanks so much for the detailed feedback.

@btardif - it looks like the deployment docs are out of date and that the GitHub scenario for "Move existing functions to continuous deployment" is not completely fleshed out. Are you the right person to take a look at this? I can open an issue on the docs repo too if you'd like.

[2018-11-26 21:11] praveen7733 opened #1049 "RunOnstartup = true is working fine but not when it is false"
I am converting HTML to pdf using NReco in azure functions. It used to work properly but when I deployed in another slot I am getting below error.

--Assembly reference changes detected. Restarting host... --Environment shutdown has been triggered. Stopping host and signaling shutdown. -- completed successfully -- Function completed (Success, Id=d5042f25-18d9-489a-81fe-05ae07607012, Duration=10921

[2018-11-26 23:17] MicahMcKittrick-MSFT commented on #958
@ggailey777, @mike-urnun-msft do either of you have any function contacts that could assist on this?

[2018-11-26 23:39] btardif commented on #1035
@cephalin owns the docs.

[2018-11-26 23:41] kalyanaj commented on #1021
Sorry about the delay in getting back. I tried to repro this now by creating a new EventGrid trigger based function and added the following code, and the JSON serialization worked fine. I also then changed it to use JsonConvert.SerializeObject(eventGridEvent) (instead of  JsonConvert.SerializeObject(newEventGridEvent)) and that also went through fine.  The expected Newtonsoft dependency (per https

[2018-11-27 10:19] cephalin commented on #1035
Actually @ggailey777 owns Functions docs.

[2018-11-27 15:09] gdodd1977 commented on #1021
So for reference, I'm not doing any of this code in my EventGridTrigger function. The function basically just receives an EventGrid Event and pushes it to a Service Bus queue.  The code I'm testing is just in a standard class library with a reference to Microsoft.Azure.EventGrid.Models. The code I pasted in an earlier response in this thread is in a Unit Test class. I'm essentially emulating what

[2018-11-27 16:19] mandarsj opened #1050 "Azure function with .net core nuget throwing startup issues"
Hello,
I have a working azure function which is recently updated to .net framework 4.7 however i am running it with .net standard sdk as it cannot yet go fully core. however on startup i continue to get this error.

Could not load file or assembly 'Microsoft.Extensions.DependencyInjection.Abstractions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60' or one of its dependencies. T

[2018-11-27 22:05] kalyanaj commented on #1021
Thanks for the info. I created a standalone Console application where I am using 12.0.0.0 of Newtonsoft.Json along with the same sample code above that uses EventGrid Client SDK, and I wasn't able to repro this error and JsonConvert succeeds fine. Can you please check your app.config to see if there's any incorrect bindingRedirect for Newtonsoft.Json that could be causing this issue, if not it mig

[2018-11-27 23:06] mike-urnun-msft commented on #958
Hello @nils-a My apologies that I didn't see your last comment on #11744, and that you've had to raise your question across multiple channels. After reviewing your feedback, here's what i'd like to propose that we do:

1. On Documentation side: re-open #11744 so that @ggailey777 and i can review [your feedback](https://github.com/MicrosoftDocs/azure-docs/issues/11744#issuecomment-413151488) as to

[2018-11-28 09:17] sprabhus commented on #719
I am too running into same issue with new the azure function app where I tried all the observations posted above.

Error:
Internal Server Error - https://oneprofilesyncappdev.azurewebsites.net/admin/host/systemkeys/_master
Session Id: a76915240e404f67b58729ae68be9c6a

Timestamp: 2018-11-28T09:12:45.049Z

[2018-11-28 10:29] marzoukali opened #1051 "Is It a way for remote debugging Azure Function V2"
For Azure Function V1 it's easy to attach debugger and remote debug your csx function, but till now i can't find an answer for if it's easy to remote debug Azure Function V2 or no?

[2018-11-29 00:09] zhangruiskyline commented on #353
Hi, Want to follow up on this thread, do we have Azure function integrated with ADL? or we still need to handle via event grid?

[2018-11-29 02:34] paulbatum commented on #353
@zhangruiskyline There has been some progress, courtesy of @joescars, see [here](https://github.com/Azure/azure-functions-datalake-extension). Note that there are no official releases of this yet (you would need to clone and build yourself, and there is no ETA for this to change).

[2018-11-29 02:58] paulbatum commented on #719
@sprabhus I looked at your case, I see an error I have not seen before:

[code]

@alrod any ideas about what might cause this?

[2018-11-29 07:08] JohnReeson commented on #807
Closed as [solved](https://github.com/Azure/azure-functions-host/issues/3759)

[2018-11-29 07:08] #807 closed

[2018-11-29 13:05] raxitr commented on #416
I also ran into this issue where my variable name was "TemplateWorkspaceId". This was working fine till yesterday and started returning D:\local\Temp all of a sudden.

I had to change the name to "SourceWorkspaceId" to get it working.

[2018-11-29 17:13] intui commented on #932
I really hope this feature will be back soon, as I'm currently exploring serverless R scenarios.
Pretty please - prio up.
Cheers, Wido

[2018-11-29 19:07] alrod commented on #719
@sprabhus can you please check "AzureWebJobsStorage" app setting. Can you connect to the storage using "Azure Storage Explorer"?

[2018-11-29 20:10] jryu01 commented on #483
Any updates?

[2018-11-29 22:11] KepanoEgg commented on #638
Bump for this. Any updates? Closing in on a year since this was first posted.
Also, to fellow Dev's what is your current practice for local development on this?
Need to access a connection string to a DB in local storage emulator, and obviously Auth Key is going to be different for each developer.

[2018-11-30 18:14] seannybgoode commented on #393
Same here. VS 2017, can't attach the debugger either via cloud explorer, nor manually attaching to process

[2018-11-30 19:14] gdodd1977 commented on #1021
So I added this to the proj file:

  <PropertyGroup>
    <AutoGenerateBindingRedirects>true</AutoGenerateBindingRedirects>
    <GenerateBindingRedirectsOutputType>true</GenerateBindingRedirectsOutputType>
  </PropertyGroup>

And all seems good now. Thanks for your time.

[2018-11-30 19:14] #1021 closed

[2018-12-01 02:33] sprabhus commented on #719
Yes AzureWebJobsStorage has the  connection string to the storage account name-opSyncAppStorageDEV and i am able to connect to the storage account using storage explorer using the connection string in the AzureWebJobsStorage app setting. Please let me know if you need any further details.

[2018-12-02 20:15] tiny-dancer commented on #644
@pragnagopa can you execute azure cli within Azure Functions?

[2018-12-02 21:12] pmadusud opened #1053 "Azure Functions Timeout more than 10 Minutes doesn't work in App Service Plan"
I have a scenario in which one of the functions which I am trying to consume might not return the result for more 10 minutes (depending on the response data). As I am not able to use the Consumption plan due to this, I tried using the App Service Plan with Basic tier (both B1 & B2). However, the function still errors out due to Timeout issue.

500 - The request timed out

Any pointers to solve thi

[2018-12-03 11:01] MysticWolf commented on #719
Hello,
I got the same issue with an azure function created from Visual Code. My function was using a trigger from azure services bus. Integration part was badly created by the function. The connection string was missing related to the queue and in the "Integrate" tab the connection was empty (but not topic and subscription...). After, adding again the creation again the connection from "integrate"

[2018-12-04 02:14] alrod commented on #1053
Did you have specify `functionTimeout` in host.json?

[2018-12-04 08:40] pmadusud commented on #1053
Host.json is specified as below...

{
    "version": "2.0",
    "functionTimeout": "00:30:00"
}

Also, I have ensured that the Always On is turned on as well. However, as mentioned, these values doesn't seem to have any effect with the App Service plan as the function timeout after around 4 minutes.

[2018-12-04 14:30] andreatosato opened #1054 "Custom trigger binding"
Hi everyone,
I'm having the need to use a custom trigger binding but I've seen that they are not fully supported yet.
I would like to understand if it will be possible in the near future to implement custom triggers, especially on a consumption plan.
Is there a schedule in the roadmap?

[2018-12-04 18:37] ColbyTresness commented on #791
Closing as the problem was resolved.

[2018-12-04 18:37] #791 closed

[2018-12-04 18:39] ColbyTresness commented on #769
Closing as this is resolved IMO

[2018-12-04 18:39] #769 closed

[2018-12-04 18:41] ColbyTresness commented on #768
Sorry for the lack of response here - I'm fairly sure it wasn't responded to because things like this are best asked via stack overflow or MSDN forums. The above isn't really a bug, likely something caused by your code, so I'd ask for advice elsewhere.

[2018-12-04 18:41] #768 closed

[2018-12-04 18:42] ColbyTresness commented on #762
Another reminder ping since this has been open for a while @paulbatum

[2018-12-04 18:43] ColbyTresness commented on #755
Is this still an issue?

[2018-12-04 18:43] ColbyTresness commented on #752
I believe this has been fixed per the referenced PR

[2018-12-04 18:43] #752 closed

[2018-12-04 18:44] ColbyTresness commented on #750
@nimakms for monitoring

@paulbatum is this still relevant?

[2018-12-04 18:45] ColbyTresness commented on #749
Was this resolved through Azure support? Are you still experiencing this issue? Sorry for the delay in responding to this.

[2018-12-04 18:46] ColbyTresness commented on #748
Closing unless there are any objections.

[2018-12-04 18:46] #748 closed

[2018-12-04 18:46] ColbyTresness commented on #742
Closing due to lack of customer response (can reopen if necessary)

[2018-12-04 18:46] #742 closed

[2018-12-04 18:47] ColbyTresness commented on #737
@alexkarcher-msft for networking

[2018-12-04 18:48] ColbyTresness commented on #730
Closed as customer resolved issue

[2018-12-04 18:48] #730 closed

[2018-12-04 18:49] ColbyTresness commented on #727
Is this still relevant? Lots of changes have happened to v2 since this was posted (apologies for the delay)

[2018-12-04 18:50] ColbyTresness commented on #726
@nimakms for monitoring
@paulbatum is this still relevant?

[2018-12-04 18:51] ColbyTresness commented on #723
Can you still repro this? Sorry for the delay

[2018-12-04 18:54] ColbyTresness commented on #712
@ggailey777 this shouldn't be too hard to fix, can you take a look?

[2018-12-04 18:56] ColbyTresness commented on #790
@paulbatum are there any outstanding work items being tracked here?

[2018-12-04 18:57] ColbyTresness commented on #788
Can you still repro this? Sorry for the delay in responding.

[2018-12-04 18:59] jfelner commented on #749
Azure Support was able to provide enough information to us to help us figure out the issue and resolve it.

[2018-12-04 18:59] #749 closed

[2018-12-04 18:59] ColbyTresness commented on #782
@fabiocav for DI (I assume you have another issue tracking this work)

[2018-12-04 18:59] ColbyTresness commented on #781
@ggailey777 for docs investigation

[2018-12-04 19:00] ColbyTresness commented on #779
@nimakms for VS integration

[2018-12-04 19:00] ColbyTresness commented on #777
@nimakms for VS integration

[2018-12-04 19:12] paulbatum commented on #790
@ColbyTresness not at this time. Either we can leave this open simply for the purposes of making it easier to find for users that want to submit additional feedback on the topic, or just close it.

[2018-12-04 19:13] paulbatum commented on #726
@ColbyTresness Yes its relevant. Not sure why you put this in the active questions milestone. It describes a known platform gap.

[2018-12-04 19:16] paulbatum commented on #750
@ColbyTresness yes.

[2018-12-04 19:20] ixevix commented on #788
Can still repro

[2018-12-04 21:04] ColbyTresness commented on #726
Will move to backlog.

[2018-12-04 21:05] ColbyTresness commented on #788
@mhoeger can you look into this?

[2018-12-04 21:06] ColbyTresness commented on #790
Up to you - just wanted to triage. I'll leave it in active questions for now.

[2018-12-04 23:13] matthewhancock opened #1055 "Compatibility with EntityFramework Core 2.2"
If I have reference to Microsoft.EntityFrameworkCore Nuget package 2.2.0, the binding fails on loading functions. This impacts ILogger in the scenario below, also has impacted HttpRequest binding in my actual code (cannot create instance of abstract class).

### Steps to reproduce:
Create Azure Function App w/ HttpTrigger (anonymous auth)
Run and verify GET request works

Add Nuget package
Run and

[2018-12-05 02:15] paulbatum commented on #726
Actually, I just realized that functions V2 is completely missing performance counters (I just filed https://github.com/Azure/azure-functions-host/issues/3852 to track). So I have marked this as blocked. We'd need to resolve that first.

[2018-12-05 06:49] peterhe2000 commented on #1029
@fabiocav @ColbyTresness Are there any updates for this? I still can't suggest to stakeholder the Azure function solution because of this issue.

For those who is stuck in the same issue:
I have now added a walk around to set up a schedule job running every 4 mins to call all the api in the system to keep it warm.
Reference: https://www.sharepointnutsandbolts.com/2018/09/Azure-Function-Warmup-Cold

[2018-12-05 07:59] Mike-EEE commented on #789
I was wondering the same thing the other day, @ColbyTresness. 😅  Unfortunately, I have not been around Visual Studio much these days due to Real Life projects but should get into it in the next month or so after holidays are over.

I am OK with closing this for now and then revisiting it once I get the opportunity to try it again. 👍

[2018-12-05 08:01] Mike-EEE commented on #727
I cannot speak for others but I have not had the opportunity to try this out lately.  I am OK with waiting for feedback from others and if no one else chimes in we can close it until I get the opportunity.

[2018-12-05 19:50] mhoeger commented on #788
[`--nodeDebugPort`](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local#start) is a setting that's been deprecated for V2 (only available on V1). If you have issue with the deprecation of this command, could you file an issue [here](https://github.com/Azure/azure-functions-core-tools/issues) about it? Thanks!

[2018-12-05 19:50] #788 closed

[2018-12-05 23:06] zmarty commented on #972
@fabiocav Feel free to reach out to me by internal Microsoft chat and I can show you how it fails live. And we are not using anything fragile, just straight Azure Functions.

[2018-12-06 02:17] myusrn opened #1061 "include c/c++ unmanaged code dll, consumed using dllimport, in azure functions publish process"
Missing support for including a c/c++ unmanaged code dll, consumed using v2 .net core compatible DllImportAttribute statements, in azure functions publish process?

I've confirmed it works in cloud deployment by manually copying, via azure storage explorer, to &lt; azure functions app storage account &gt; | file shares | &lt;azure function app folder&gt; | site/wwwroot/bin folder.

Issue is now I

[2018-12-06 09:25] a-patel opened #1062 "Feature: Trigger Azure Function From Azure File Storage"
I'm having the need to use an Azure file storage trigger binding but I have seen that they have not fully supported yet. I am referring to this [link](https://docs.microsoft.com/en-us/azure/azure-functions/functions-triggers-bindings).

I would like to know if it will be possible in the near future to implement file storage triggers.

Is there a schedule in the roadmap?

[2018-12-06 11:48] eyalellenbogen commented on #727
Sorry, but I haven't touched that project in a long time. I have no idea if it's still an issue.

[2018-12-06 14:02] gabrielbaptista opened #1063 "Azure Timer Trigger Function fails when you have multiple Functions in the same instance"
I have an Azure Function solution using Azure App Service Plan with about 20 functions inside. These functions run continuously and the Time Triggers are different for each one. The point is, after a while, some of them just stop working.

I have already done the following things:

- Set ALWAYS ON
- Configure WEBSITE_USE_PLACEHOLDER to 0
- Define functions as Async

The deployment method that I us

[2018-12-06 14:58] WillEastbury commented on #334
I've seen this today too with this package Microsoft.AspNetCore.Authentication.JwtBearer (2.2.0) on Functions V2 (host 2.0.12175.0), and rolling that package back as it has a dependency on the abstractions lib seems to have fixed my issue.

**For anyone currently still struggling with this :-**

1. Add this to your function app's csproj file.

      <PackageReference Include="Microsoft.Extensions.

[2018-12-06 18:12] fabiocav commented on #972
Thank you for all the feedback here. The issue is well understood, but unfortunately, due to higher priority items (including design and implementation work on the official extensibility and DI model for Functions), it hasn't been addressed yet. We'll keep updating this as progress is made and will have this assigned to a sprint milestone when the work is assigned.

[2018-12-07 03:57] myusrn commented on #1061
closing it appears there is currently a way to accomplish this outlined in https://stackoverflow.com/questions/53643543/include-c-c-unmanaged-code-dll-consumed-using-dllimport-in-azure-functions-p/53643896

[2018-12-07 03:57] #1061 closed

[2018-12-07 21:48] mhoeger commented on #1041
This issue was moved to Azure/azure-functions-nodejs-worker#158

[2018-12-07 21:48] #1041 closed

[2018-12-08 00:13] asavaritayal commented on #1034
Agreed, I'm removing the label Python but leaving Linux since the Kudu capability simply does not exist in Linux consumption today, which is a functionality gap for our users.

[2018-12-08 13:37] ericbeaudry commented on #128
I don’t want to be rude here guys, but this question has been asked 11 months ago. Isn’t this something you have established internally in the first place when the idea of Azure Function came on the table? I’m sure someone asked the same question before allowing development of that technology stack.
Why would anyone want/need to use Azure Function over a Web API running in an App Service?
A year l

[2018-12-08 13:53] oribarilan commented on #128
@ericbeaudry -  I think this is a general question about whether or not you should go "Serverless".

I am not the authority to answer here, but due to lack of an official answer, I had to do some research of my own. Hopefully, this might help you as well. Please consider that this research was done about 14 months ago.

I guess the easy answer is to reduce costs if you fit the classical use-case o

[2018-12-08 14:02] ericbeaudry commented on #128
@oribarilan We sure feel the same about Azure Functions. That feeling may well be the main reason it's taking so long to provide a comparison. Thanks!

[2018-12-08 19:59] TimNilimaa commented on #638
This is a blocker for us, so we are not using functions nor key vault and are starting to look for alternatives (aws, gpc) where we might get better attention than from Microsoft as they don’t really respond here.

Hämta Outlook för iOS<https://aka.ms/o0ukef>

________________________________
Från: KepanoEgg <notifications@github.com>
Skickat: torsdag, november 29, 2018 11:12 em
Till: Azure/Azure-

[2018-12-10 03:47] michaelkira opened #1064 "Azure Function gets null when Sourcing Application Settings from Key Vault when using consumption plan"
Azure Function gets null when Sourcing Application Settings from Key Vault

I’m trying to use feature
Sourcing Application Settings from Key Vault
Motioned here
https://azure.microsoft.com/en-us/blog/simplifying-security-for-serverless-and-web-apps-with-azure-functions-and-app-service/

But I keep getting null exception when I replace the value with key vault reference in the application settings.

[2018-12-10 17:22] rtaylor72 commented on #719
I am also having this error and I have "AzureWebJobsStorage" specified.
[code]

[2018-12-10 18:40] jeffhollan commented on #638
I would check out this [walkthrough here](https://medium.com/statuscode/getting-key-vault-secrets-in-azure-functions-37620fd20a0b). With the new key vault integration with functions you should be able to use `local.settings.json` for a large set of key vault stuff *locally*, but have that fetched from key vault / MSI when published without having to manage two code-paths.

@mattchenderson as well

[2018-12-10 18:40] ErniepDev commented on #1047
Experiencing the same issue. I tried updating both Visual Studio 2017 (version 15.9.3 after update) and the Azure Functions and Web Job Tools are on version 15.10.2046.0

[2018-12-10 22:09] chopeen commented on #928
+1

My functions https://github.com/chopeen/last-fm-not-mine-alert-func stopped running locally.

[2018-12-10 22:14] alrod commented on #719
@rtaylor72
I saw storage related errors in logs around 2018-12-1017:30:00 GMT
*System.InvalidOperationException : Secret initialization from Blob storage failed due to a missing Azure Storage connection string. If you intend to use files for secrets, add an App Setting key * 'AzureWebJobsSecretStorageType' with value 'Files'
Microsoft.WindowsAzure.Storage.StorageException : This request is not aut

[2018-12-10 22:20] alrod commented on #719
@sprabhus
I saw an error in the logs:
System.ArgumentException : Value for the connection string parameter name [Guid] was not found.
Parameter name: connectionString

I looks like you fixed this issue. Latest error is Timeout value of 00:30:00 was exceeded by function: Re..nc
Can you confirm that?

[2018-12-11 01:37] ColbyTresness commented on #128
Hey there! Sorry that you feel this way - I'd like to clarify and help out:

1. The reason we haven't published this document isn't due to lack of clarity internally over when to use either solution. Functions can be used for significantly more than implementing APIs, so it's a bit of a false equivalency, and publishing a document about it doesn't really make sense. I'm not excusing the lack of re

[2018-12-11 06:38] asavaritayal opened #1065 "Unable to use Key Vault references"
_From @zmurphy-ms on December 6, 2018 2:4_

#### Investigative information

I'm trying to enable a KeyVault reference, but it's failing with KEY_ERROR both locally, and when deployed.

#### Repro steps

I followed the steps in https://docs.microsoft.com/en-us/azure/app-service/app-service-key-vault-references to create a KeyVault reference and added it to my App Settings.

#### Expected behavior

[2018-12-11 06:38] asavaritayal commented on #1065
KeyVault references use MSI behind the scenes to authenticate, which is not available on the Linux consumption preview offering today. Adding it to the backlog for prioritization and tracking. @mattchenderson @dariagrigoriu

[2018-12-11 06:41] asavaritayal opened #1066 "MSI support for linux consumption"
_From @tjhgit on November 5, 2018 20:17_

I can set an identity (az functionapp identity assign) for my function app and register this identity with keyvault.

However when using MSIAuthentification() in the function app I get the error message:
* Getting error “MSI_ENDPOINT not in environment” when running the function app (method: MSIAuthentification())

What am I doing wrong?

_Copied from orig

[2018-12-11 06:41] asavaritayal commented on #1066
MSI is currently not support by Linux consumption, which Python support is built on. Renaming the issue for tracking.

/cc @mattchenderson @cgillum

[2018-12-11 06:41] asavaritayal commented on #1066
_From @tjhgit on November 6, 2018 22:13_

@asavaritayal : Is MSI also not supported for dedicated linux (docker) app plan? What is your suggestion on to how to access keyvault secrets from a linux app, then?

[2018-12-11 06:41] asavaritayal commented on #1066
_From @mattchenderson on November 7, 2018 17:10_

@tjhgit We're hoping to have it supported for dedicated Linux very soon. Certainly by end of year.

[2018-12-11 08:30] JDSRAO commented on #394
@alexkarcher-msft Could you give us any update on this feature request?
Thanks!

[2018-12-11 11:46] ericbeaudry commented on #128
Hi @ColbyTresness and thanks for the precisions.
I would probably have to write an essay to answer #5 and that would be beyond the scope of this simple thread. But let's be honest here for a minute and simply say that MS is doing a great job on many fronts. But, documentation and product 'finishness' are really a pain to deal with.

For a couple years now, I've been struggling to find proper docum

[2018-12-11 17:01] ColbyTresness commented on #128
That makes sense, thanks for providing clarification. We definitely hear the feedback that the product could use more "fit and finish" and hope to address your concerns going forward.

As an aside, I think we've safely determined that this ask in particular isn't something we'll do, so I'm going to close this issue. Please don't hesitate to open another if another ask other than the generic "impro

[2018-12-11 17:01] #128 closed

[2018-12-11 19:47] fabiocav commented on #483
+ @mhoeger

Marie has been working on the type definitions and they will be up on NPM under @azure/functions soon.

The types definitions are maintained in the Node worker repository [here](https://github.com/Azure/azure-functions-nodejs-worker/tree/dev/types/public)

[2018-12-11 20:35] janaagaard75 commented on #483
Great to hear that we are getting official support. 👍  I will remove my pull request to DefinitelyTyped.

[2018-12-11 22:58] mhoeger commented on #483
@janaagaard75 thanks for the community submissions! The initial release will be coming soon, everyone please feel free to open issues on nodejs-worker for suggestions on the [typings we expose](https://github.com/Azure/azure-functions-nodejs-worker/tree/dev/types/public)

[2018-12-12 09:44] sprabhus commented on #719
Yes, you are right. I figure out that connection string for one of the function was missing and updated that last week.

Inspite of that I am still receiving the same error,

**Error:

Internal Server Error - https://oneprofilesyncappdev.azurewebsites.net/admin/host/systemkeys/_master
Session Id: 79ae11f203a444898151cd3a88ecf319

Timestamp: 2018-12-12T09:42:50.502Z**

[2018-12-12 10:04] sprabhus opened #1067 "System.Net.Sockets.SocketException in Function App 2.0"
I have function app 2.0 with set of functions with service bus and http trigger.

After deploying to our Azure production environment, we started to see below exception logged in the app insight from our function app.

Exception Type : System.Net.Sockets.SocketException
Exception Message:
**_The SSL connection could not be established, see inner exception. Unable to read data from the transport co

[2018-12-12 13:41] CANUSA commented on #790
Is there an update on this being supported down the road? At the very least is there any guidance other than using v1 for this requirement? What happens down the road when we are forced to upgrade and we have full framework dependencies?

[2018-12-12 15:35] MikeAtETI commented on #1055
I can reproduce this, and the downgrade to 2.1.4 resolves the issue for me as well - not sure if it is a function binding issue (or assembly resolve issue) or something in the EntityFramework bits.

[2018-12-12 16:47] nhuurnink commented on #1055
Same problem here.

[2018-12-12 16:48] Specials commented on #933
If I use the workaround described [here](https://github.com/Azure/Azure-Functions/issues/933#issue-356734621), for step 2, it does not delete the Web API project again when publishing the Azure Functions, even though `SkipExtraFilesOnServer` is set to false.

Any news or comments on this issue?

[2018-12-12 18:20] pdemro commented on #245
@alexkarcher-msft @ColbyTresness Can you please elaborate?  The available documentation seems to be a stub (https://docs.microsoft.com/en-us/azure/application-insights/application-insights-correlation).  I can't find any documentation on "EnableW3CHeadersExtraction"

[2018-12-12 22:25] ashfondu opened #1068 "Steps to install Azure Functions for Python locally using WSL/Ubuntu"
**Not an Issue** but wanted to post these steps for usefulness of others...
These are the steps to get Azure Functions with Python to work locally using either an Ubuntu image via MSFT store or WSL using ConEmu or via Visual Studio Code WSL.

**1-Install .NET CORE SDK on Linux**
 https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-04/sdk-current

**2-Install Azure CLI with apt**
h

[2018-12-12 22:39] ryancole opened #1069 "Where should third party libraries be uploaded to?"
Where, on the Azure Functions service, should I upload third party libraries that my Function applications might depend on? These are not compile-time dependencies and are not part of the Functions project itself. These are things I should be able to upload once and let them sit out there.

I tried seeing what `%AppData%` brought up, but on the Azure Functions platform it references a secured path

[2018-12-12 22:52] ColbyTresness commented on #790
There's no guidance right now other than "use v1". We're evaluating plans for supporting this down the road and will try to update this issue when we start building something.

[2018-12-12 23:03] ryancole commented on #1069
I'm currently just uploading things to D:\home - is this acceptable?

[2018-12-13 06:56] raasmasood commented on #401
i really need to be able to

`public static async Task Run([HttpTrigger(...)] POCO myObj, HttpRequestMessage req)`

because i am using durable f unction and i also gave to return

  `          return  starter.CreateCheckStatusResponse(req, orchestrationId);`

[2018-12-13 07:42] caill26 commented on #933
@Specials What do you mean by "it does not delete the Web API project **again** when publishing the Azure Functions" ? I can see that there's always the WebConfig from my WebApi project under "\home\site\wwwroot>" and some other folders but it's not used by Azure Functions. Does it not work for you ?

[2018-12-13 10:57] ThangaPradeep opened #1070 "Azure Function app stops automatically with Orange exclamatory mark"
I have created a Azure function app with two queue triggers. The app runs fine for first 1 hour or so and it stops. Am logging the application error in Azure table. There is no error logged even after it stopped!.

So I checked the monitor option in queue trigger in portal, whenever it stops there will be orange exclamatory mark present instead of tick. Today along with exclamatory mark I saw anot

[2018-12-13 18:07] #1068 closed

[2018-12-13 18:07] ashfondu commented on #1068
re-posted in Python Worker Github which is prob more appropriate location

[2018-12-14 01:14] dwhanger opened #1072 "Simple Azure Functions 2.0 function: HTTPRequest querying CosmosDB collection via sql results in http status of 500 internal server error"
Azure Function 2.0, app service plan previously, now trying out Azure Functions Premium plan.....it simply does not work.  A simple deploy of about a dozen Azure Functions to the premium plan results in success when deploying from VS2017, no errors or issues, but when I try to run the http trigger function backed with a query of the cosmosdb collection, it does not work, complains of a Internal Se

[2018-12-14 08:44] jjindrich opened #1073 "Functions with CosmosDB binding and Preferred Location configuration"
We recommend you add feature requests to [UserVoice](https://feedback.azure.com/forums/355860-azure-functions).  This enables centralized feature requests and users the ability to vote.

[2018-12-14 08:45] jjindrich commented on #1073
If you configure binding with CosmosDB, you cannot configure Preferred location to optimize traffic to respect regions

[2018-12-14 19:22] balag0 opened #1074 "CORS support for linux consumption"
CORS handler is similar to the EasyAuth handler and not available on linux consumption workers currently.

[2018-12-14 21:43] ColbyTresness commented on #810
Closing due to lack of customer response. Please repoen if necessary.

[2018-12-14 21:43] #810 closed

[2018-12-14 21:44] ColbyTresness commented on #809
Closing as I believe this has been resolved, please reopen if necessary

[2018-12-14 21:44] #809 closed

[2018-12-14 21:48] ColbyTresness commented on #808
This class of problems has been resolved in Azure Functions 2.x, so I'm closing this. Please reopen if you're still having issues.

[2018-12-14 21:48] #808 closed

[2018-12-14 21:49] ColbyTresness commented on #802
@fabiocav to take a look and triage

[2018-12-14 21:49] ColbyTresness commented on #801
This class of problems is resolved in Azure Functions 2.x. Please reopen if you're still experiencing issues.

[2018-12-14 21:49] #801 closed

[2018-12-14 21:52] ColbyTresness commented on #800
Sorry for the lack of response. I think the answer is that anything not possible in the EventHub trigger isn't possible in the IoTHub trigger, since they're essentially the same. So I'll leave this open to track improvements to the IoT Hub trigger.

[2018-12-14 21:53] ColbyTresness commented on #798
The referenced issue doesn't exist anymore, so I'm assuming this was resolved. Please reopen if you can still repro.

[2018-12-14 21:53] #798 closed

[2018-12-14 21:54] ColbyTresness commented on #795
Please read the following blog post which describes a solution to this problem:

https://medium.com/@jeffhollan/in-order-event-processing-with-azure-functions-bb661eb55428

[2018-12-14 21:54] #795 closed

[2018-12-14 21:54] ColbyTresness commented on #794
@nimakms this might be resolved by the fact that we're no longer in preview, but please investigate.

[2018-12-14 21:57] ColbyTresness commented on #706
Are you still experiencing this issue? Sorry for the long delay.

[2018-12-14 21:58] ColbyTresness commented on #704
I think this was resolved on the linked SO post, but also, this category of problems has been resolved with Azure Functions 2.x. Please reopen if you're still experiencing issues.

[2018-12-14 21:58] #704 closed

[2018-12-14 21:59] ColbyTresness commented on #701
Closing this due to lack of customer response

[2018-12-14 21:59] #701 closed

[2018-12-14 21:59] ColbyTresness commented on #700
Closing as it appears this has been resolved. Please reopen if not.

[2018-12-14 21:59] #700 closed

[2018-12-14 22:00] ColbyTresness commented on #699
Closing due to lack of customer response. please reopen if you're still experiencing issues.

[2018-12-14 22:00] #699 closed

[2018-12-14 22:01] ColbyTresness commented on #698
Sorry that this has gone unanswered for so long. Are you still experiencing issues?

[2018-12-14 22:01] ColbyTresness commented on #696
Unfortunately it's probably too late now to look more into this issue. Did you manage to figure it out in the end?

[2018-12-14 22:02] ColbyTresness commented on #695
@nimakms to answer above

[2018-12-14 22:03] ColbyTresness commented on #691
@nimakms for monitoring

[2018-12-14 22:03] ColbyTresness commented on #690
Sorry for the long delay on this, are you still experiencing the above issue?

[2018-12-14 22:05] ColbyTresness commented on #689
Closing as I don't believe this is actionable/it's from a while ago. Please reopen if you're still experiencing issues.

[2018-12-14 22:05] #689 closed

[2018-12-14 22:05] ColbyTresness commented on #680
@nimakms

[2018-12-14 22:06] ColbyTresness commented on #679
This category of problems is resolved with Azure Functions 2.x. Please reopen if you're still having issues.

[2018-12-14 22:06] #679 closed

[2018-12-15 09:43] jrgcubano commented on #1053
Same problem here. App service plan (premium v2) with azure function v1.

[2018-12-15 10:50] smil2k commented on #696
Microsoft started to offer free support for the paas solutions. They fugured out, that the problem was caused by the fact that the app service was running on 32 bit mode. Sometimes the process took more than 4gb memory and crashed.

[2018-12-16 12:06] onlyutkarsh commented on #1007
@ColbyTresness I am having a similar issue when I am trying to create a webhook subscription via ARM template.

Azure Function Runtime version: `2.0.12246.0 (~2)`
Function binding from function.json:
[code]
ARM template to add the webook:

[code]
When I trigger the deployment I get the error
![image](https://user-images.githubusercontent.com/2685029/50053314-f4deb100-012a-11e9-85ce-acad7f08a075.pn

[2018-12-16 17:52] gs-optimus commented on #393
I'm having the same issue, is there any resolution on this? Am trying to remote debug NodeJs Azure Function

[2018-12-17 20:36] ColbyTresness commented on #1007
@ahmelsayed can you help me triage this? Who's the best person to look into this?

[2018-12-17 21:53] ahmelsayed commented on #1007
I think the problem is that the key used in calling `/runtime/webhooks/EventGrid`. The API call is getting 401 back, and from the ARM template above. I think the issue is that it's using the `listsecrets` API which doesn't work for v2 applications.

[2018-12-17 22:08] onlyutkarsh commented on #1007
Thank you @ColbyTresness and @ahmelsayed - What options do we have? Cannot go back to v1 unfortunately and need a way to automate deployments.

[2018-12-17 22:39] ahmelsayed commented on #1007
I was looking for a workaround. Try setting `AzureWebJobsSecretStorageType=files` in your app settings and deploy again. This will invalidate all your keys though, so keep that in mind.

[2018-12-17 23:02] onlyutkarsh commented on #1007
Had that key already to during my previous tries. Deployed the function app again now, still the same error :(

[2018-12-17 23:31] premaarya commented on #999
resolved : I was using the Microsoft.NET.Sdk.Functions 1.0.19 which use Microsoft.Azure.WebJobs, Version=3.0.0.0 Beta.
Upgrading the Microsoft.NET.Sdk.Functions 1.0.24 resolved the issue.

[2018-12-18 02:57] adrianknight89 commented on #903
@mhoeger

My Cosmos DB trigger won't work either despite the fact that I followed the documentation (unless I'm missing something obvious...)

[code]

I was able to deploy it successfully, but it never gets hit. My functions are zip deployed. Would this cause the problem? I really don't know where to go from here...

[2018-12-18 10:36] Specials commented on #933
@caill26 I meant that, as you wrote in step 2:

when I published, it did not remove the Web API project again, it even deployed and started the webjobs referenced by the API too.

I figured out why, though! I had chosen the ZIP package deploy for the function (as they recommend, and you mentioned not to use), so I had to go back to the web deploy. I still need to make a new publish profile in the

[2018-12-18 11:07] caill26 commented on #933
@Specials You can't... :( but I use a trick, which I'm not sure it will help, that I found somewhere here, I dont remember the sources and I can't find it anymore sorry... I modify it a little to go search for specific dll in the publish folder of the functions. I was having problems deserializing data from a custom library and it solve it, maybe it will allow you to load the right version if the

[2018-12-18 11:17] Specials commented on #933
@caill26 I'm having trouble deserializing models from Cosmos DB due to some issues with default constructors and dictionaries, that are handled in the newer libraries.

I'll give your suggestion a try. Thanks a lot! :pray:

[2018-12-18 18:39] adrianknight89 opened #1075 "Ability to turn off default logging framework"
I implemented my own logging framework that saves everything to a Cosmos collection. I'd rather not go through the built-in logging infrastructure which seems to be saving data to an Azure Table. I'm also confused by the multiple ways logs seem to be presented (Kudu, Monitor tab, etc.). Is there a way to turn off the default logging so that nothing gets saved to a Table? If not, is this something

[2018-12-18 19:11] adrianknight89 commented on #1075
Looks like deleting AzureWebJobsDashboard setting is the way to go (which I haven’t tried yet).

[2018-12-18 19:11] #1075 closed

[2018-12-18 21:18] asavaritayal opened #1076 "Support run-from-package on linux dedicated"
_From @asavaritayal on October 3, 2018 1:47_

Currently, deployment time on Linux is huge due to the extended file system latency on Kudu. This especially affects Python due to the large number of files in the virtual environment. To reduce the deployment time, we need to support zip-deploy or run from zip for Functions on Linux Dedicated.

_Copied from original issue: Azure/azure-functions-python

[2018-12-18 21:18] asavaritayal opened #1077 "Support run-from-package on linux dedicated"
_From @asavaritayal on October 3, 2018 1:47_

Currently, deployment time on Linux is huge due to the extended file system latency on Kudu. This especially affects Python due to the large number of files in the virtual environment. To reduce the deployment time, we need to support zip-deploy or run from zip for Functions on Linux Dedicated.

_Copied from original issue: Azure/azure-functions-python

[2018-12-18 21:18] asavaritayal commented on #1077
This issue was moved to Azure/Azure-Functions#1076

[2018-12-18 21:18] #1077 closed

[2018-12-18 21:25] asavaritayal opened #1078 "Support bring your own storage for Linux functions"
_From @priyaananthasankar on October 1, 2018 20:55_

Inferencing from a Keras model seems impossible with this issue:

Keras has an api called load_model which loads a pre-trained model from disk. It does not support loading this from a blob or file storage. It can load this from a mounted disk.

Azure functions on Python must provide a facility to be able to load model files from mounted storage.

[2018-12-19 00:30] alrod commented on #719
@sprabhus, can you please open "Blob Containers" node in Azure Storage Explorer in your storage account. Do you see any containers?

[2018-12-19 02:09] adrianknight89 opened #1079 "Hard dependency on Newtonsoft.Json 11.0.2"
I just upgraded Newtonsoft to the latest version (12.0.1), but it looks like Functions SDK does not like this.

`warning NU1608: Detected package version outside of dependency constraint: Microsoft.NET.Sdk.Functions 1.0.24 requires Newtonsoft.Json (= 11.0.2) but version Newtonsoft.Json 12.0.1 was resolved.`

Nuget snippet:

![capture](https://user-images.githubusercontent.com/16855542/50194431-789

[2018-12-19 02:11] adrianknight89 commented on #1079
Looks like this was reported here: https://github.com/Azure/azure-functions-vs-build-sdk/issues/270

[2018-12-19 02:11] #1079 closed

[2018-12-19 03:31] markgossa commented on #585
+1

[2018-12-19 15:16] Dalmirog commented on #1047
This is still happening to me after 24days. I literally cannot develop functions with this road block.

[2018-12-19 20:51] ahmelsayed commented on #1007
@ColbyTresness we might need to follow up with @fabiocav once he's back. Looking at the [code](https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script.WebHost/Controllers/HostController.cs#L222), I think `/runtime/webhooks/EventGrid` should accept the function key, but I'm not 100% sure. The error I see coming back is 401 when making that API call. from the template it's being ma

[2018-12-19 22:11] onlyutkarsh commented on #1007
@ahmelsayed When I click `Add Event Grid Subscription` link on the function (in portal) and then go to `Advanced Editor` I see a JSON (screenshot below - similar to what we use in ARM template to add the subscription).

Couple of questions:

1. the code displayed here is function key or a different key for `/runtime/webhooks/EventGrid` endpoint? because the function key on the portal (UI) and this

[2018-12-20 03:48] myusrn opened #1080 "arm template deployed function app has no host keys and throws errors"
I've been using a resource group, where i have a freshly minted function app | automation script | download to acquire the bash/powershell script story for recreating the environment in another resource group or azure subscription.

What i'm experiencing with these azure resource manager [arm] template driven deployments of function app end up without function app settings | host keys (all functio

[2018-12-20 03:52] myusrn commented on #879
@Gowiem did you ever arrive at a solution to this issue with the current azure function app v2 release now out?   I ask because I have what I think is same or similar issue #1080 I just opened based on use of automated deployment generated arm template.json for the current release environment.

[2018-12-20 07:31] DreamsOnCloud commented on #618
@ConnorMcMahon i have the issue that my azure Function terminates after 30 mins.It is a Http Trigger .I t doent receive requests after 30 mins and starts to work when i refresh the page of azure function.Name of App is  "TestCommd".I dont see "always on" option as well.Please help me

[2018-12-21 12:40] sprabhus commented on #719
@alrod  Yes, I am able to connect to the storage account and i don't see any blob container in that account. Please find the screen shot for the same.

![storagecontainer](https://user-images.githubusercontent.com/13001718/50343014-71b6c400-054b-11e9-8359-21f000259c8f.png)

[2018-12-21 17:21] mcollier opened #1081 "Tools Version Number Mismatch in Visual Studio"
The Azure Functions and Web Jobs Tools version is different depending on where you look.  If you look in the Visual Studio Help dialog, the version shows as an older version than what is shown in the 'Extensions and Updates' dialog.  I see the following:

- About: 15.9.02046.0
- Tools > Extensions and Updates: 15.10.2046.0

I'm running Visual Studio 2017 version 15.9.4.

[2018-12-24 04:53] sprabhus commented on #727
Hi, I have developed the function app v2 with Service bus trigger - https://oneprofilesyncappeus.azurewebsites.net and deployed to the production three weeks back and seeing this issue being logged from 22nd Dec in the App insight. As per the error message and stack trace I see this error happening in the Azure function module well before message is received in my programming module.

**Error Mess

[2018-12-26 11:37] kochevRisto opened #1082 "Cannot disconnect azure functions from bitbucket"
When I press on the disconnect button, the disconnect window is blank.

[2018-12-26 19:21] ErickWendel opened #1083 "API Management + Azure Functions: Custom Authorizers"
Hi, guys are you fine?

I'm thinking to create an interceptor function but I didn't find this feature at azure functions/API Management.

at the AWS they have a native implementation called Custom Authorizers: "Custom Authorizers allow you to run an AWS Lambda Function before your targeted AWS Lambda Function. This is useful for Microservice Architectures or when you simply want to do some Authori

[2018-12-27 04:12] iizotov commented on #210
Please add some clarity around the `WEBSITE_RUN_FROM_PACKAGE` method.

Looks like the Event Hub trigger doesn't get registered upon a successful deployment via `WEBSITE_RUN_FROM_PACKAGE` either. What's weird is that pinging the Function (via its URI or the Portal) kicks the trigger off but the Function a) never scales beyond 1 instance and b) eventually falls asleep. Only the Restart operation see

[2018-12-27 06:09] jordanchang opened #1084 "IHttpClientFactory issues with function startup"
I would like to use the new IHttpClientFactory interface to create HttpClients as described in this MS doc:

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-requests?view=aspnetcore-2.2

However, when I add the nuget package Microsoft.Extensions.Http to my project, the functions fail to load correctly and results in a runtime error (Http 500 - Internal Server Error)

Steps to repro:

[2018-12-27 16:32] manuel-guilbault commented on #334
I've debugged using SourceLink, and the issue seems to be that the `ILogger` type used by my Azure function assembly isn't the same `ILogger` type instance used by the Azure functions host, as [this equality](https://github.com/Azure/azure-webjobs-sdk/blob/1bfb2c34be6f5d87fa9e65797f5d6d4fe2bda8b8/src/Microsoft.Azure.WebJobs.Host/Bindings/ILogger/ILoggerBindingProvider.cs#L31) evaluates to `true`.

[2018-12-27 20:31] ahmelsayed commented on #1084
I think this is related https://github.com/Azure/azure-functions-host/issues/3611

[2018-12-27 20:54] ahmelsayed commented on #1082
cc @ehamai / @hartra344

[2018-12-29 05:06] JohnReeson commented on #1053
There's a 230-second timeout setting for requests that are not sending any data back, check [this thread](https://stackoverflow.com/a/38676086/9191057).  We could put the longtime job in a queue trigger function or have a try at [Durable Function](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-overview).

[2018-12-29 10:45] DreamingDevs opened #1085 "Configure Authentication Keys (for example Twitter Keys) from Azure Key Vault."
I have already configured my Twitter API Key and Secret in Azure Key Vault instance. Is there a way to use the same Key Vault configuration in Authentication/Authorization (under platform features) to configure Twitter Authentication Provider? Is there any other alternate way to configure the same authentication through code?

I am using
- VS 2017 Community 15.8.2
- Azure Functions V2 (netstandard

[2018-12-29 11:21] pmadusud commented on #1053
@JohnReeson Thanks. However, as per the documents Azure functions timeout can be extended more than 10 mins using the App Service plan (Consumption plan has a limit of max 10 mins timeout). Please check the [docs ](https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale) here...

The issue is the App Service plan timeout doesn't work as mentioned in the docs, not sure what I am miss

[2018-12-29 15:22] itzikorfa opened #1086 "Azure AD getting authorization code"
Hi
I'm have developed a new rest API using Azure Function.
I want it to be secure.
I have set up the App registration using this document:
https://docs.microsoft.com/en-us/azure/app-service/configure-authentication-provider-aad

And when I try to authenticate  a rest request using this document
https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-protocols-oauth-code

Instead of gett

[2018-12-30 05:50] TechnologyAnimal commented on #719
Same problem for me...  I, too, have "AzureWebJobsStorage" defined.

Error:

Internal Server Error - https://prod-des-healthcheck.azurewebsites.net/admin/host/keys
Session Id: 70dc211828e2463197daf4b5f70a74a4

Timestamp: 2018-12-30T05:43:34.760Z

[2018-12-31 06:03] JohnReeson commented on #764
See `Connection string setting` right now.

![capture](https://user-images.githubusercontent.com/35160013/50555253-99085080-0d04-11e9-9365-29b285a9f807.JPG)

[2018-12-31 06:06] JohnReeson commented on #741
No repro in VS2017 15.9.4, Azure Functions and Web Jobs Tools 15.10.2046.

[2018-12-31 06:07] JohnReeson commented on #753
No repro in VS2017 15.9.4, Azure Functions and Web Jobs Tools 15.10.2046.

[2019-01-02 17:20] Andrew-MSFT commented on #764
Do you think "setting" is as clear as "name" or "key"?

[2019-01-03 02:33] JohnReeson commented on #764
@Andrew-MSFT Hmm, I am just an Azure Function leaner but IMO it's fine, which indicates it's a setting in local.settings.json or app settings on Azure.  When I get started with Azure Function, I would go for the document first, where I could understand the setting. If I don't know anything about Azure Function, I would wonder why a Connection string needs a name or key.

[2019-01-03 21:23] raahmed opened #1087 ".Net SDK Installation Requirement Not in Getting Started Steps"
Severity: Mildly Confusing.

Reproduction Steps:
0) Notice that dot net installation is not a direct pre-requisite mentioned on the main page. This could be confusing to Python developers.
https://github.com/Azure/azure-functions-python-worker/wiki/Create-your-first-Python-function
![image](https://user-images.githubusercontent.com/25991359/50662134-3e683200-0f5a-11e9-8114-e34c4f5b4776.png)
One ha

[2019-01-03 21:26] raahmed opened #1088 "".NET Object Error" surfaced instead of "Port Already In Use""
Context: Running Python on Functions in Linux (Preview) on VS Code.

Severity: Blocking
Reproduction Steps:
1.	Run ‘func host start’ and start the application.
2.	Stop the application using Ctrl + Z.
3.	Restart by executing 'func host start'.
4.	This .NET error is surfaced:

![image](https://user-images.githubusercontent.com/25991359/50662389-0c0b0480-0f5b-11e9-8611-5cd760bfca99.png)

Note: Lots o

[2019-01-03 21:29] raahmed opened #1089 "CLI Error Messages are Inaccurate with regards to flags usage"
Context: Running Python on Functions in Linux (Preview) on VS Code.

Severity: Potentially Serious (Potentially Blocking)

Reproduction Steps:
1.	CLI error messages are inaccurate and confusing - notice how the --name flag is present in the command.

![image](https://user-images.githubusercontent.com/25991359/50662506-7fad1180-0f5b-11e9-856a-5b7c6a583baf.png)

Mitigation Method:
1.	Have accurate e

[2019-01-03 21:35] raahmed opened #1090 "Noisy Error Messages Make It Difficult To Find True Error"
Context: Running Python on Functions in Linux (Preview)
Severity:
Medium( Time Confusing - causes Developer Frustration)

Reproduction Steps:
0.  Add an 'import azure.storage' to your code - without installing azure.storage locally.
1. Execute 'func host start'.
2. Notice that Functions error messages are quite noisy - which makes it difficult to find relevant information. On occasion, multiple pa

[2019-01-03 21:37] raahmed opened #1091 "Clarify and Provide Guidance on Base64 Queue Encodings"
Context: Running Python on Functions in Linux (Preview)

Severity: Serious (Blocking)

Steps:
1.	Azure Function's incoming queue bindings expect the data to be base64 encoded. This is not the default of the queue storage SDK - and leads to a tremendous amount of confusion across languages.
2.	Communicating this in the documentation and providing a link to code for encoding correctly in Python woul

[2019-01-03 21:41] raahmed opened #1092 "Improve documentation to make it easier find information for trigger type"
Severity: Serious (Time Consuming)
Issue/Resolution Steps:
1) Over 50 steps/click-through links were needed to find all the relevant information for binding Blobs to Functions successfully. Please contact me for the internal power point that show-cases this journey.
2) Tutorials should be designed so that they are a one-stop document. Users should not need to click through layers to be successful.

[2019-01-03 21:44] raahmed opened #1093 "Set Up Logging By Default"
Context: Running Python on Functions in Linux (Preview)

Severity:
Potentially Serious

Steps:
1.	For Functions, one must set up logging manually.
![image](https://user-images.githubusercontent.com/25991359/50663136-863c8880-0f5d-11e9-910c-4668bf50c979.png)
2. The logging [set up document](https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring) itself is very long:
![image](ht

[2019-01-03 21:52] raahmed opened #1094 "Online Editor"
We recommend you add feature requests to [UserVoice](https://feedback.azure.com/forums/355860-azure-functions).  This enables centralized feature requests and users the ability to vote.

[2019-01-03 22:01] raahmed opened #1095 "Unable to Create Function in Region of Choice."
Context: Running Python on Functions in Linux (Preview)

Severity:
Potentially Serious (Potentially Blocking)

Steps:
1) Notice this piece of documentation indicates a feature limitation: https://github.com/Azure/Azure-Functions/wiki/Creating-Function-Apps-in-an-existing-Resource-Group
![image](https://user-images.githubusercontent.com/25991359/50663867-f815d180-0f5f-11e9-98be-23ca5a7db165.png)

M

[2019-01-03 22:34] mdddev opened #1096 "[Premium] additional regions to deploy premium sku function app in"
**Describe the bug**
Not a bug. It's clearly stated that there's only one supported region as of now (South Central US). And we should open an issue here if additional regions are required. So here it is. In my particular case and due to internal policies at my company, I'm only allowed to deploy any Azure resources into the WEST EUROPE region. To do conceptual testing the existing region would su

[2019-01-03 22:50] asavaritayal commented on #1092
/cc @ggailey777

[2019-01-03 22:52] asavaritayal commented on #1090
/cc @fabiocav @maiqbal11

[2019-01-03 22:53] asavaritayal commented on #1089
This issue was moved to Azure/azure-functions-core-tools#955

[2019-01-03 22:53] #1089 closed

[2019-01-03 22:53] asavaritayal commented on #1090
This issue was moved to Azure/azure-functions-python-worker#273

[2019-01-03 22:53] #1090 closed

[2019-01-03 22:55] asavaritayal commented on #1088
This issue was moved to Azure/azure-functions-core-tools#956

[2019-01-03 22:55] #1088 closed

[2019-01-04 01:48] yasin-uohyd opened #1099 "Are we going to plan azure signalr service trigger/bindings?"
Hi,

Are we going to see Azure SignalR Service to trigger a function.?

[2019-01-04 02:59] dennis-yemelyanov commented on #516
Any updates on this? As several people mentioned in this thread already, not being able to retrieve the host key from ARM template blocks the scenario where a new function app is created in the template and another resource needs to reference this function's webhook url. Using the function trigger_url secret doesn't work, since the function is not deployed yet and will only be deployed after the A

[2019-01-04 03:46] tdwright commented on #932
Can't believe that four months on we'd still be waiting for a response. What's going on?

[2019-01-04 03:53] JohnReeson commented on #932
See whether [this SO post](https://stackoverflow.com/a/53544639/9191057) mitigates.

[2019-01-04 06:44] markgossa opened #1097 "[Premium] Cannot create Azure Function Premium Plan with Azure CLI"
**Describe the bug**
Unable to create an Azure Function Premium Plan

**To Reproduce**
Steps to reproduce the behavior:
1. Log into Azure Cloud Shell
2. az group create -l southcentralus -n functions-premium
3. az functionapp plan create -g functions-premium -n functions-premium-7984792 -l southcentralus --number-of-workers 2 --sku EP3 --debug

You can also reproduce the issue by creating the RG a

[2019-01-04 17:59] aluong commented on #210
It would be helpful to document it in the [developer section of the public docs](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference),  because it is not intuitive that this call is necessary is certain deployment situations.

[2019-01-04 19:31] thomas-schreiter commented on #719
Same problem here. I use Azure Functions v2 with slot swapping (i.e. deploy to staging slot then swap the slots.)

_Internal Server Error - https://expsummarysandbox-func-dev-wus.azurewebsites.net/admin/host/keys
Session Id: 486410cb3fa54f1d969e6a86234833f6_

_Timestamp: 2019-01-04T19:23:01.216Z_

More specifically, I just upgraded the Functions version from v1 to v2 when this issue started occurr

[2019-01-04 19:43] paulbatum commented on #719
@thomas-schreiter this information is really useful, thank you. Just to confirm, in your case does each deployment consist of deploying to staging and then doing a swap?

Yes you can hard delete keys and force them to be regenerated. By default they are in a blob container called 'azure-webjobs-secrets' in the storage account used by your function app. If you are sharing that storage account acros

[2019-01-04 19:58] thomas-schreiter commented on #719
Thanks for the quick response, @paulbatum. I deleted the host.json. It got recreated after startup, but the errors still occurs.

About your question: Our build pipeline first deploys to staging and then swaps the slot. Now, for debugging this issue, I tried deploying to production directly (i.e. without slot swapping), but it didn't resolve the issue.

[2019-01-04 21:09] kashimiz commented on #889
@bartdk-be You can set the name of your function using the `FunctionName` attribute in precompiled functions, like so:

[code]

By default, functions will have the name of their method, but you can override that using the `FunctionName` attribute. So in the example above, the function name will be `MyFunction` instead of `Run`.

The build process for precompiled functions [generates `function.json

[2019-01-04 22:02] thomas-schreiter commented on #719
@paulbatum : I looked further, but didn't find too much. Maybe this bit helps you to find the root cause: I store secrets in a Key Vault and set app settings with a string like "@Microsoft.KeyVault(SecretUri=https://secret_uri_with_version". In Kudu Environment, these strings don't get resolved in the broken production slot. In the staging slot, they do get resolved. Furthermore, the production sl

[2019-01-05 01:59] paulbatum commented on #719
I have set up a repro environment, but I am getting some other type of error when I do a swap (not the same as what you're getting). I'm trying to figure out if I've screwed something up myself or if its a different bug. Probably won't get to the bottom of this until next week.

[2019-01-05 17:58] myusrn commented on #155
@jeffhollan where are things now on the function app portal UI support for migrating from consumption app service plan to a pay-as-you-go [payg] app service plan and preferably the ability to go back the other way also.

Initially i'd be fine with azure-cli functionapp and powershell Set-AzureRmWebApp cmdlet, that @DeV1L shared earlier, command line options for going to payg and back from payg to

[2019-01-07 04:53] IshamMohamed commented on #889
I did not change any thing and all of the sudden I have noticed that it started to work. Did you try reducing the length of the name?

[2019-01-07 14:38] thomas-schreiter commented on #719
I tried another thing without success: Deploy the old Azure Functions v1 again and then deploy v2. Same error. I noticed after deploying v1, that the secrets still don't get resolved. @paulbatum, let me know if you want to look further into this today. Otherwise I'm going to delete the app and start from scratch to unblock myself.

[2019-01-07 16:24] kgoderis commented on #416
+1. Issue still present

[2019-01-07 18:18] paulbatum commented on #719
Go ahead and unblock yourself. I have the logs from the errors that your app was encountering and I'm still trying to get a repro.

[2019-01-08 07:19] murdockcrc opened #1100 "Functions Application Insights client does not pick up Request-Id HTTP Header"
**Issue Description**
I am trying to pass in a client-generated OperationId to Azure Function execution calls on HTTP triggers. However, the value of this HTTP header is not passed through to the AI telemetry information as `OperationId`. I have tried passing in the following headers with custom values, but none of them seem to propagate the OperationId that is generated by the caller:

- `Request

[2019-01-08 18:50] thomas-schreiter commented on #719
I deleted the app and the underlying storage account and then recreated them both. At first, the error occurred again. Then I realized that the Key Vault needs to authorize to the new app, because it got a new app id (same name, but different id). Everything works now. Looks like everything is working now.

I have a feature request: If the secrets in the app settings can't be resolved, then return

[2019-01-08 19:08] ggailey777 commented on #1087
We are tracking this internally as ([#1390056](https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1390056)). I can clarify that the Core Tools (currently) requires .NET Core SDK.

@asavaritayal can you confirm that the .NET Core SDK is what is required (not the .NET Core runtime). Also, the error message part of this issue isn't technically a doc issue.

[2019-01-08 19:24] ggailey777 commented on #396
We are tracking this in the internal system: [#1093694](https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1093694)

[2019-01-08 19:24] #396 closed

[2019-01-08 20:17] raahmed opened #1101 ".NET SDK Installation Error Message Does Not Provide Installation Details"
Context: Running Python on Functions in Linux (Preview)
Severity: Moderately Confusing.
Reproduction Steps:
0) Execute 'func host start' without fulfilling the .NET SDK pre-requisite.
1) Notice this error message:
![image](https://user-images.githubusercontent.com/25991359/50856265-148a8300-133f-11e9-9ca7-0072c1e5840f.png)
2) Notice that the error message does not contain details of which of the o

[2019-01-08 20:18] raahmed commented on #1087
Thanks, @ggailey777 . @asavaritayal  I went ahead and created a separate item for the error message (https://github.com/Azure/Azure-Functions/issues/1101) in case it needs to be handled by a different owner.

[2019-01-08 20:21] thomas-schreiter commented on #719
I looked a little bit more. I believe it originally broke when I tried to swap slots that were on different versions. Production was on v1, Staging was on v2, and swapping them somehow messed things up. What does seem to work is first updating both slots individually to v2 -- then it's possible to swap again.

[2019-01-08 21:06] paulbatum commented on #719
Ahh, thats interesting. I assume when you set this up, you made sure that FUNCTIONS_EXTENSION_VERSION wasnt a sticky setting, and therefore its value swapped as part of the swap operation? Because as long as that is done correctly, I feel like this scenario should work (and perhaps there is a bug that we need to find and fix to make it so that it does work).

[2019-01-08 22:43] ggailey777 commented on #1091
@craigshoemaker I have assigned [this work item](https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1422829) to you for tracking this is a Queue binding ref issue.

[2019-01-09 01:06] asavaritayal commented on #1101
This issue was moved to Azure/azure-functions-core-tools#964

[2019-01-09 01:06] #1101 closed

[2019-01-09 14:23] thomas-schreiter commented on #719
That's right. The app settings including FUNCTIONS_EXTENSION_VERSION are set in the CD pipeline via a Powershell script. All except for one setting are non-sticky -- and the sticky one is not related to the Functions framework.

[2019-01-09 14:36] Escoto commented on #516
In my case, my client built their own api gateway. In their implementation, when somebody tries to query my functions, the call goes to their api gateway and it is wired to 'My FA Host'+'what ever function requested by client'. They don't care about specific endpoints, basically because each feature has its own host and 1 to many functions.

We have many features and MANY environments, my problem

[2019-01-09 18:49] jeffhollan opened #1102 "v2 schema incorrect for event hubs"
references same schema structure as v1, but for v2 many of the options are nested in an `eventProcessorOptions`.

[code]

[2019-01-09 18:49] jeffhollan commented on #1102
@brettsam fyi - but I'm gonna try to open up a PR right now to fix.  not sure what is required to merge with the published schema

[2019-01-09 19:42] jeffhollan commented on #1097
Thanks for filling. Looking into this

[2019-01-09 19:43] jeffhollan commented on #1096
Thanks! West Europe planned to roll out in next week or so

[2019-01-09 21:20] paulbatum commented on #719
So I figured out what was wrong with my attempt to repro. I was hitting a different issue due to a config mistake I made. I am able to successfully do swaps between two slots for a function app that is using app setting references to key vault and is using MSI to authenticate with the key vault, without any errors.

This backs up the theory we were discussing above, that its related to mixed versi

[2019-01-10 09:39] mayoatbm commented on #1039
Hey @brettsam.

Do you happen to have any updates on this?

Thanks!

[2019-01-10 10:59] SashaPshenychniy commented on #1047
Same for me in 2019. Just updated VS and Azure Functions Tools to the latest version.
Did anyone find a workaround?

[2019-01-10 11:01] ADringer opened #1105 "Visual Studio new project wizard still shows preview"
I'm using Visual Studio 2017 and have the latest version of Functions tooling installed:

![image](https://user-images.githubusercontent.com/19554490/50964320-e20b9200-14c6-11e9-82a8-276d9d1fa9b5.png)

However when I go to create a new Function project it still says V2 is in preview:

![image](https://user-images.githubusercontent.com/19554490/50964359-fe0f3380-14c6-11e9-8723-ee00585c8743.png)

Is

[2019-01-10 12:01] juliekoubova commented on #947
*bump* can anyone respond please? Is this something that's on your roadmap? @alrod @alexkarcher-msft @brettsam Thank you!

[2019-01-10 14:13] SashaPshenychniy commented on #1047
If anyone interested - I found a fix: you need to **Unload-Reload VS project.**
After this run project again and VS can identify you are running Azure Function for the first time now and it will download and install Azure Functions CLI. Actually it seems it was CLI missing causing the problem...

[2019-01-10 15:10] JohnReeson commented on #1105
Have a look at the [wiki](https://github.com/Azure/azure-functions-tooling-feed/wiki/Fixing-Azure-Function-Core-Tools-download-issues-for-Visual-Studio) about downloading cli and templates in VS.

[2019-01-10 15:53] ADringer commented on #1105
Thanks, that worked for me (the automated script). I think the issue is related to corporate proxy as I had to amend the powershell script to use the proxy for the `BitsTransfer`.

Thanks

[2019-01-10 19:38] balag0 commented on #1095
@raahmed the limitations don't prevent creating the app in the region of choice. the restrictions only apply at resource group level.

please reopen if i misunderstood the issue and provide more details on what you are trying to do.

[2019-01-10 19:38] #1095 closed

[2019-01-10 19:40] #955 closed

[2019-01-10 20:03] raahmed commented on #1095
@balag0  - Thanks for responding. When I read the message 'This resource group already contains regular Web Apps in the same region that you're trying to create the Functions App', I read it as 'choosing a different region in the same resource group will mitigate the issue'. In fact, when I chose a different region in the same resource group, everything started working. Should this not have happen

[2019-01-10 20:51] StefH opened #1106 "How to deploy multiple functions to same Azure Function App using Azure Pipelines?"
I have a solution in Visual Studio defining two functions : **Function1** and **Function2**.

I use the Azure DevOps `pipelines.yml` file to build a publish these two Azure Functions. So the artifact contains two zip files : **Function1.zip** and **Function2.zip**

In the release pipeline I use two tasks (both a `Azure App Service Deploy (Preview) v4`).

The first task deploys **Function1**:
![ima

[2019-01-10 20:56] raahmed commented on #1095
@balag0  - I understand that this is due to a limitation that scale units do not support hosting multiple app types. Generally, a given developer using Functions as part of a web workload will likely want to have their functions code executing in the same geo-location in the same resource group as their standard web app. This issue, then, would translate to eliminating that limitation. Are there a

[2019-01-10 22:13] balag0 commented on #1095
No. There are no plans currently to support different function app types in the same resource group + region.

[2019-01-10 22:25] akalcik commented on #1055
Well, happy if someone can downgrade, but when you want use new [Spatial Data](https://docs.microsoft.com/en-us/ef/core/modeling/spatial)  in .NET Core 2.2, downgrade isn't option.

[2019-01-11 02:20] JohnReeson commented on #1106
Is there any reason that you deploy those two functions separately?  We could put two functions in the same project and deploy together.

Check the [wiki](https://github.com/Azure/Azure-Functions/wiki/Deploying-Function-Apps-vs-individual-Functions).

[2019-01-11 07:34] StefH commented on #1106
I wanted to structure the project in a more logical way. I did solve my issue by implementing the following structure:

[code]

What I noticed is if I did define the real function:
[code]
inside the **Function1.Library** project, it was `not` found by the main project (AzureFunctions)?

So now I ended up with adding the real functions in the main project (AzureFunctions).

@JohnReeson Do you have

[2019-01-11 08:08] JohnReeson commented on #1106
`function.json` (containing trigger definition) are not copied to the main project, it's by design that how Function SDK build the code. Check [this issue](https://github.com/Azure/azure-functions-host/issues/2836) for more details.

[2019-01-11 08:35] StefH commented on #1106
I see.
And actually `function.json` is generated by the SDK, so no way to manually update this.

[2019-01-11 08:42] JohnReeson commented on #1106
Yeah, there's an [issue](https://github.com/Azure/azure-functions-vs-build-sdk/issues/202) tracking this requirement to build SDK, so you may close this one?

[2019-01-11 09:40] StefH commented on #1106
yes. Thanks for your support.

[2019-01-11 09:40] #1106 closed

[2019-01-11 13:44] nkma1989 commented on #1043
I have this same issue! have you solved it?

[2019-01-11 17:44] MartyIce commented on #872
I was still seeing this issue with a .Net Core Azure Function project, and nothing in this thread was working for me.  Finally stumbled across this:

http://dontcodetired.com/blog/post/Remote-Debugging-Azure-Functions-V2-The-breakpoint-will-not-currently-be-hit-No-symbols-have-been-loaded-for-this-document

It boils down to manually attaching to the process in Azure, rather than relying on the Clo

[2019-01-11 18:34] mhoeger commented on #483
Please check out our published typings :)
https://www.npmjs.com/package/@azure/functions

Thanks for your patience all

[2019-01-11 18:34] #483 closed

[2019-01-11 19:07] spontoreau commented on #483
@mhoeger thanks!

[2019-01-11 20:12] jagan085 opened #1107 "Azure Functions Host Activation Service not starting on Win10"
I installed Azure function Runtime based on instructions in below link on Win 10 PC.
https://docs.microsoft.com/en-us/azure/azure-functions/functions-runtime-install

After configuring and trying to start Azure Functions Host Activation Service, I get below error.

![image](https://user-images.githubusercontent.com/14854985/51057241-43298780-15e5-11e9-8960-20d72ce2f2bf.png)

See below error in Eve

[2019-01-11 23:07] Programmer-david commented on #1043
I ended up moving to Docker functions for now. However it was raised as an issue and marked as resolved here https://github.com/Azure/azure-functions-python-worker/issues/249

[2019-01-12 13:03] nielsbrinch2 commented on #155
As Azure Functions work differently on Consumption Plan and a an App Service Plan, I don't think investing in a migration makes sense. Some times it doesn't work and then what? Will support have to say that's by design, because they are different. No one will understand that.

As long as they are different, I would fully understand the migration doesn't work and won't get prioritized. Instead thes

[2019-01-14 08:13] kamil-mrzyglod opened #1108 "Cannot publish Azure Functions V2"
Hi All,

I'm struggling with publishing my Function App directly from Visual Studio. Steps to reproduce:

1. Create a new Azure Functions V2 project
2. Create a function
3. Try to publish it

Symptoms:
During Web Deploy I'm getting the following error:
[code]

During Zip Deploy I'm getting:
[code]

Things to note:
- I have created a new Function App using Visual Studio
- I was able to publish my p

[2019-01-14 08:47] #1105 closed

[2019-01-14 10:36] Remiiik commented on #947
Same problem here!

[2019-01-14 16:31] brettsam commented on #1100
This is currently not supported, but is on our feature list. The broad list of features around distributed tracing is here, and Request-Id is on that list: https://github.com/Azure/azure-webjobs-sdk/issues/1731.

Going to close this as we're tracking it elsewhere already.

@lmolkova FYI.

[2019-01-14 18:45] alexkarcher-msft commented on #1100
The workaround, for the time being is to log that data as a custom event in your application code. Then you will be able to write a custom query to aggregate the data in App Insights log analytics.
https://docs.microsoft.com/en-us/azure/azure-monitor/app/api-custom-events-metrics

[2019-01-14 21:19] Elonon commented on #673
I know this issue is old, but I just hit this same problem. It seems to work if you pipe the task computation expression into ``ignore``, but I'm not sure if this is good/safe.
E.g.
[code]

Has anyone found a better way?

[2019-01-14 21:41] forki commented on #673
I don't think it's a valid workaround. You need to await the task or
otherwise the runtime may just throw it away

Am Mo., 14. Jan. 2019, 22:19 hat Elonon <notifications@github.com>
geschrieben:

[2019-01-14 21:42] Elonon commented on #673
Sorry, I updated my original comment. You're right that piping to ignore isn't a good idea. But upcasting to Task should be fine.

[2019-01-14 21:43] forki commented on #673
Yes a cast will probably do work.

Am Mo., 14. Jan. 2019, 22:42 hat Elonon <notifications@github.com>
geschrieben:

[2019-01-15 00:38] jstallm commented on #299
I still dont see a simple strait forward way to inject services, configuration, etc. ASP.NET Core DI is very simple to setup. How can we see how exactly Microsoft team is going to handle this need?

[2019-01-15 03:31] PureKrome commented on #299
@jstallm I was under the impression that it will be using the same DI that comes with .NET Core / ASP.NET Core. The Azure Functions team posted a video in December talking about various stuff - including this epic issue/thread and I think they said it was coming start of 2019 ... so it's on their radar and _my assumption_ was that it would be the same DI which we're used to using in the rest of .N

[2019-01-15 10:28] thdotnet opened #1109 "deploying event grid function"
I am trying to publish an Azure Function with Event Grid binding through VS. I've created a function.json as described in the official docs:

When publishing it to Azure, it seems that it's being overwrited to:

what is the proper way to define event grid subscription when developing with Visual Studio?

[2019-01-15 12:00] VladimirSorokoumov commented on #1096
Great to have this in Azure West Europe in next week(s). Will that be also only private preview? When can we expect GA of this in West Europe?

[2019-01-15 13:18] nkma1989 commented on #1062
This feature would be really nice. I have an upcoming project where this exact scenario is applicable.

[2019-01-15 19:45] jeffhollan commented on #1109
The generated function.json is still valid.  It's just adding some additional info as you are running via pre-compiled bits so it's pointing to the script and entrypoint.  The main distinction here is the Event Grid *subscription* is an actual Azure Resource you'll need to create seperate from the publish step.  The easiest way today is opening the function in the portal and clicking the "add new

[2019-01-15 19:52] craigshoemaker commented on #426
@ggailey777 - yep. It looks like it's [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob#input---c-script-example)

[2019-01-15 20:13] craigshoemaker commented on #785
The Event Hubs ref is now updated with this info.

[2019-01-15 20:22] thdotnet commented on #1109
Got it. So, by using precompiled functions, I'll need to run a "post script" to subscribe my function to the event grid subscription, is that correct? Shouldn't this be handled by VS when using precompiled functions? Can't we define a reserved key on function.json that would automate this?

[2019-01-15 20:35] jochenvanwylick opened #1110 "'[error] Node.js version is too low.' - but my version too high"
While running ( `func start` ) my function - I get the following error message:

[code]

As you can see - I'm running 11.6.0 at the moment, the error states the version is too low, whereas - in fact - mine is too high.

So the error is a bit off of course, but also, I really would prefer not having to downgrade my version of Node. So is the version check code wrong and is this an error, but the co

[2019-01-15 20:36] jeffhollan commented on #1109
Correct.  And the only way to create a subscription is through the Azure Resource Management layer - so no keys or connection strings you can use to do it like our other triggers.  It has to be done with an AAD token or service principal.  Definitely worth communicating to Event Grid team though and letting them know you want the ability to create a subscription in VS.  FWIW I have a meeting with

[2019-01-15 20:58] thdotnet commented on #1109
Awesome! Should I send an email mvp list about it just to reforce this is a "problem"?

[2019-01-15 21:02] thdotnet commented on #1109
Thanks Jeff, I appreciate that.

[2019-01-15 21:14] SamirFarhat commented on #1065
Hi, if we request the msi endpoint via rest api, will we receive a token?

[2019-01-16 01:07] ErniepDev commented on #1047
Unfortunately didn't work for me. Unloaded, reloaded, and installed the new azure functions CLI. Still getting the same error.

Also, tried to reinstall VS2017 as well as the function extension, but no luck.

[2019-01-16 01:34] paulbatum commented on #1099
@yasin-uohyd This is best asked of the maintainers of the signalr extension. I'd suggest you post the question here:
https://github.com/Azure/azure-functions-signalrservice-extension/issues

[2019-01-16 01:34] GobiSankarv commented on #847
I am getting this error. Failed to load type 'AuditLogFunction.ExceptionLog' from 'D:\home\site\wwwroot\bin\AuditLogFunction.dll'.  I just created a function app in VS2017 and deployed thru release pipe line. Function app has only one function and it works fine in the local.

Restarting app did not resolve the issue.

[2019-01-16 01:55] paulbatum opened #1111 "Scale infrastructure does not detect function enablement changes"
The scale controller and kudu work together to make sure that the platform is able to monitor the appropriate trigger sources for a given function app. Kudu tells the system what functions exist when code is deployed, and then the scale controller uses that information to figure out what sources to monitor.

There is an issue however, if a user deploys a function that is initially disabled, and th

[2019-01-16 18:38] ConnorMcMahon commented on #1110
Sorry, to miss the actual part of your question: to the best of my knowledge, the version does need to be that specific major version when running locally (i.e. you need to have node version 8 or version 10 on your machine). This is best practice anyways, so that when you test locally, it is running the same major version as in your production environment.

You can install multiple versions of Nod

[2019-01-16 20:16] lukasvosyka opened #1112 "Servicebustrigger throws SocketExceptions"
Hi,

we today started seeing problems with triggering functions in FunctionsV1.

An example function trigger has been logged as:

Function started (Id=dc5fa11f-3dcf-4094-ba00-ecf038403d5f)

Attached is a stack trace from AI:

MessageReceiver error (Action=UserCallback) : Microsoft.Azure.WebJobs.Host.FunctionInvocationException: Exception while executing function: LocationUpdated ---> System.Aggreg

[2019-01-16 21:54] tohling commented on #1112
Yes, I checked and at peak, your Function App was using an average of 1839 active connections. Disposal of the clients may still cause issues because the recently released ports stay in a TIME_WAIT state of 2-4 minutes to support a graceful shutdown. We recommend creating a static client if possible. Kindly see some recommendations on how to do this [here](https://docs.microsoft.com/en-us/azure/az

[2019-01-16 21:54] #1112 closed

[2019-01-16 23:20] jochenvanwylick commented on #1110
Got it - thanks !

[2019-01-17 01:37] paulbatum commented on #1004
We're making some progress on enabling this, using key vault as the mechanism of key storage. We have most of the pieces in [PR](https://github.com/Azure/azure-functions-host/pull/3791) and we're doing some end to end testing. @mattchenderson is going to post an example here once he has an ARM template using this that works.

[2019-01-17 05:12] asingh270 commented on #1094
@asavaritayal  Is there a timeline to address this feature? I desperately need it.

[2019-01-17 05:19] abhinavbom commented on #1094
@asavaritayal Is there a timeline to address this feature? I desperately need it.

[2019-01-17 07:49] ffMathy commented on #98
There is still no NET core template in VS.

[2019-01-17 07:53] Oleexo commented on #98
There are .net core template in vs 2017.
Try to update Azure Functions extensions.

[2019-01-17 07:53] JohnReeson commented on #98
@ffMathy NetCore Templates have been available for several months. Check this [wiki](https://github.com/Azure/azure-functions-tooling-feed/wiki/Fixing-Azure-Function-Core-Tools-download-issues-for-Visual-Studio#force-visual-studio-to-download-on-start-up) to update CLI and template in VS.

[2019-01-17 12:52] AndrewNikolin commented on #416
Can confirm, still an issue and affects our application hosted on Web Apps
@davidebbo @christopheranderson can you guys update us on the issue status from your internal tracking? This exists almost for 2 years already

[2019-01-17 16:04] davidebbo commented on #416
@AndrewNikolin I'm no longer working on this, so I will let others comment. But note that this issue is general to App Service, and not specific to Functions, so this may not be the best place to track it.

[2019-01-17 19:47] AndrewNikolin commented on #416
@davidebbo Yea, I understand that this isn't the best place, but at least I can get some feedback here :) Personally, I've noticed this bug on the regular WebApp

[2019-01-17 23:40] balag0 opened #1113 "Support creating "empty" linux consumption function app"
During app creation WEBSITE_CONTENTAZUREFILECONNECTIONSTRING , WEBSITE_CONTENTSHARE are always required currently.
In scenarios where client uses Run-From-Package these app settings are never used. Provide a way to create apps without WEBSITE_CONTENT.. appsettings if we know they will never get used.

[2019-01-17 23:49] balag0 commented on #1113
We needed WEBSITE_CONTENTAZUREFILECONNECTIONSTRING , WEBSITE_CONTENTSHARE earlier to support in portal creation and editing of functions. But we don't need them anymore.

[2019-01-18 12:45] mdekrey commented on #823
For a while, that worked, yes, but it changed again (since my comments in May.) Ultimately, I've had to move away from Azure Functions for a variety of reasons. (My architecture was too heavy for Functions, and I couldn't keep the functions running due to changes. I don't know if it still is, but the .Net Standard support was still only on the Beta track when I stopped using Functions.)

[2019-01-18 16:19] mirko-horvacki commented on #1108
Hi All,

"Symptoms: During Web Deploy I'm getting the following error:
Publish Started
  ServicePlatform.BuildPublisher -> C:\DTC\ServicePlatform\ServicePlatform.Deployment\ServicePlatform.BuildPublisher\ServicePlatform.BuildPublisher\bin\Release\netcoreapp2.1\bin\ServicePlatform.BuildPublisher.dll
  ServicePlatform.BuildPublisher -> C:\DTC\ServicePlatform\ServicePlatform.Deployment\ServicePlatfor

[2019-01-18 17:37] kamil-mrzyglod commented on #1108
@mirko-horvacki Recreating a Function App makes Web Deploy work in my case. However, still, it is just a workaround.

[2019-01-18 19:21] us-dev commented on #408
Is this still an active issue? I am also having similar problem,

I have an HTTP Client where I am setting the Autorization.

When I run it locally, I can see the Authorization Header and the other API that accepts the HTTP call from Function works well.

When I run everything in Azure, I can see that the Azure Function has the Header in the httprequest object but the Azure WebApp throws 401 since

[2019-01-18 19:50] ColbyTresness commented on #690
Closing due to lack of response. Please reopen if still relevant.

[2019-01-18 19:50] #690 closed

[2019-01-18 19:51] ColbyTresness commented on #698
Closing due to lack of response. Please reopen if still experiencing issue.

[2019-01-18 19:51] #698 closed

[2019-01-18 19:51] ColbyTresness commented on #706
Closing due to lack of response. Please reopen if still experiencing issue.

[2019-01-18 19:51] #706 closed

[2019-01-18 19:52] ColbyTresness commented on #723
Closing due to lack of response. Please reopen if still experiencing issue.

[2019-01-18 19:52] #723 closed

[2019-01-18 19:52] ColbyTresness commented on #727
@fabiocav Can you help me triage this?

[2019-01-18 19:53] ColbyTresness commented on #736
ping @ggailey777

[2019-01-18 19:54] ColbyTresness commented on #755
Closing due to lack of response. Please reopen if still experiencing issues.

[2019-01-18 19:54] #755 closed

[2019-01-18 19:56] ColbyTresness commented on #1007
@fabiocav Can you help us look into this?

[2019-01-18 19:57] ColbyTresness commented on #1010
@mathewc is this a bug or by design? Either way looks like we need to improve error mesaging

[2019-01-18 19:58] ColbyTresness commented on #1029
Hey again - sorry for the long delay on this, looks like it got lost in the holidays. Can you provide us with a more recent run of the app for us to investigate? needs to be within 1 month for it to show up in our detailed logs.

[2019-01-18 20:05] burf2000 commented on #826
Did this work for you as I have dropped the firewall, enabled TCP-IP and still it wont talk to Azure installer

[2019-01-18 22:09] mathewc commented on #1010
In the portal, I see the same validation happening for both WebApps and FunctionApps:

![image](https://user-images.githubusercontent.com/1056548/51415388-82e2f880-1b2a-11e9-89d3-60e60b272446.png)

![image](https://user-images.githubusercontent.com/1056548/51415366-72328280-1b2a-11e9-85f0-9ebcfb788259.png)

What UI aren't you seeing validation in? Definitely the UI shouldn't be letting any invalid

[2019-01-19 00:40] peterhe2000 commented on #1029
Sry. I have changed job since last conversation. Understand it's a open source but it is disappoint it took so long for you guys to investigate an issue. As i said, i have implemented walk around which does the trick.

[2019-01-19 01:05] ColbyTresness commented on #1029
Again sorry about that. Closing since this is no longer actionable. Please reopen if necessary.

[2019-01-19 01:05] #1029 closed

[2019-01-19 01:35] balag0 commented on #1095
@raahmed do you have any other questions on this issue? if not we can close this next week.

[2019-01-19 02:40] DoubleCouponDay commented on #627
For informational purposes, what is the point of fetching ["a short lived token that can be exchanged for a master key."](https://docs.microsoft.com/mt-mt/dotnet/api/microsoft.azure.management.websites.webappsoperationsextensions.getfunctionsadmintoken?view=azure-dotnet) if we are not permitted to programmatically access the master key?

[2019-01-19 05:48] eliashdezr commented on #1108
I'm not able to publish too. Using the profile doesn't give any details, just this:

![image](https://user-images.githubusercontent.com/6153607/51422820-3e337d80-1b7b-11e9-8dc4-2b8351faadc1.png)

And on the output window it just displays this;
`  Publish Started`

I'm using `v1.0.24` with Visual Studio 2019 Preview 1.

[2019-01-19 19:30] imkheong commented on #826
@apwestgarth worked for me!

[2019-01-21 06:54] itorian commented on #665
I had same issue, but removing "Any CPU" white space didn't work (VS 15.8.9).
I noticed, "Password Required" on publish page (in VS), just re downloaded publish profile and used that to resolve the issue.

![image](https://user-images.githubusercontent.com/3646552/51457409-47893980-1d77-11e9-9a26-3e4549772aec.png)

[2019-01-21 08:21] kumaranvellaisamy opened #1114 "Hosting asp.net core web api inside Functions throwing error"
Hi,

I tried to host aspnet core web api app inside azure functions. Followed the below article.
https://blog.wille-zone.de/post/serverless-webapi-hosting-aspnetcore-webapi-in-azure-functions/

**Web API as Azure Function Url**
https://aspnetcoreproxytest.azurewebsites.net/api/values/test

**Error**

    InvalidOperationException: Application is running inside IIS process but is not configured to

[2019-01-21 20:04] nhart12 commented on #1010
Yeah, maybe the UI has since been fixed

[2019-01-22 07:17] mirko-horvacki commented on #1108
Hi All,

in our case publish did not worked because WEBSITE_RUN_FROM_PACKAGE setting was set to 1, after changing setting to 0 publish from VS started working.

Mirko

[2019-01-22 08:19] klesouza commented on #928
@brettsam Do you guys have any news on this one?

[2019-01-22 08:58] mikaelsand opened #1115 "@KeyVault settings not being processed"
I would like to use the feature of combining KeyVault and managed identities to secure certain settings.

I am using AF 2, have deployed using VS 2017 (15.9.5)  Azure Functions and WebTools 15.9.02046.0 and have deployed to West Europe.

I am trying to use the functionality from this article https://azure.microsoft.com/en-us/blog/simplifying-security-for-serverless-and-web-apps-with-azure-function

[2019-01-22 14:22] dejanberic commented on #1017
I have the same problem.
I even tried to copy on post-build event to the PubTmp\Out but that folder is emptied after I copy the files I need, So that is a no go.
Is the a pre-publish event of some sorts?

[2019-01-22 22:18] tohling commented on #1115
@mikaelsand, it looks like we may not be able to resolve the KeyVault connection. Could you kindly share your Function App name [directly or indirectly](https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately)? I'll investigate this. Thanks!

[2019-01-23 04:02] iwaldman commented on #974
The workaround did not work for me.  I am using Azure Durable Functions.

[2019-01-23 11:36] Lybecker commented on #1065
I ran into this issue today too

[2019-01-23 18:17] gdodd1977 commented on #299
Is there any new news on out of the box DI functionality for Functions v2?

[2019-01-23 20:45] balag0 opened #1116 "Error handling for Linux consumption apps without required Content / Run-From-Package appsettings"
Linux consumption apps need either CONTENT appsettings or Run-From-Package appsetting to fetch app contents.

When they both are absent this results in 503. Instead display a message to the user / app inisights so they can self diagnose.

[2019-01-23 22:00] raahmed commented on #1095
Hi @balag0  - the team will re-evaluate the feasibility and cost for redesigning this particular piece and circle back. Please do not close this issue.

[2019-01-24 12:46] pijemcolu commented on #541
In my case, restarting the function app in the azure portal solved the issue.

[2019-01-24 12:56] dejanberic commented on #622
I am using a nuget library which uses CLI/C++ dll which could not load in Azure Functions but loads correctly on my machine. This dll which needs to be loaded is used to load native dll and run some processes.
Will this kind of thing ever be supported?
If not, what do you suggest I use instead of Azure Functions?
Currently I am using Classic Cloud Services which starts full blown Windows 10 VM.

[2019-01-24 15:16] #1010 closed

[2019-01-24 18:15] balag0 commented on #853
fixed

[2019-01-24 18:15] #853 closed

[2019-01-25 12:50] markheath commented on #1007
I'm running into the same error message (`The attempt to validate the provided endpoint https://myfuncapp.azurewebsites.net/runtime/webhooks/EventGrid failed.`) trying to register an Azure Function with the Azure Functions CLI using the `az eventgrid event-subscription create` command.

I know that the endpoint URL I'm providing is correct, as I've been able to use Postman to send it a validation

[2019-01-25 16:15] naveedmcp commented on #557
Try adding
#r "Microsoft.ApplicationInsights"
in your run.csx file.

[2019-01-25 17:27] markheath commented on #1007
I finally got to the bottom of my issue - the endpoint URL had got corrupted because it contained a `&` character, so it needed to be escaped in my PowerShell script with `^^^&`. May not be the same issue that other people on this thread ran into, but hope this information helps someone.

[2019-01-25 18:30] epseattle commented on #1063
Hi!
I am facing similar issue.
Have you found the solution to this yet?

[2019-01-26 03:18] jeffhollan commented on #1097
Circling back on this - we upped the limit to 10 plans per subscription.  That limit may increase as we progress in the preview but for now at least you should be able to get by with having more plans.  If that's not enough feel free to let me know.

[2019-01-26 03:18] #1097 closed

[2019-01-26 20:22] burf2000 opened #1117 "Deploy Java Functions to Azure Functions Runtime"
I can find no way to deploy a Java Azure Function to Azure Function Runtime 2?

I have raised a StackOverFlow in case I am missing something.  I did read that the Runtime does support Java
https://stackoverflow.com/questions/54382159/deploying-a-java-azure-function-to-azure-functions-runtime-on-premises

[2019-01-28 08:19] knikol opened #1118 "Host Key does not work for v2: Unauthorized"
**Azure Function v2**
HttpTrigger function with Admin authentication type. Host Key does not work for this function: it returns "Unauthorized" (master key does work). Function was created and published with VS 2017.

Http call:
`(https://function-name.azurewebsites.net/api/v1/test?code=KEY)`
or pass code via http-header: x-functions-key

Standard App Service plan, Platform: x64

**Application Sett

[2019-01-28 09:51] marcoscheel commented on #693
My Azure Function V2 (c#) is currently running with the 1.0.24 SDK and I'm getting dependencies for HTTP and SQL (check this out [link](https://github.com/Microsoft/ApplicationInsights-dotnet-server/blob/386470e973698327e0873ba8b58f35878f6f0bc1/Src/DependencyCollector/Shared/Implementation/RemoteDependencyConstants.cs)).

Now that we have dependency infos in AppInsights the question is how to cont

[2019-01-28 17:55] lmolkova commented on #693
@marcoscheel

There is a couple of ways depending on your scenario
1. Configure sampling - https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring#configure-sampling. It will consistently sample in some transactions

2. Configure logging filters. You can check logging categories of your dependencies (likely these are bindings or user code) and set priority for these categories

[2019-01-29 01:36] kashimiz commented on #1117
Your best bet to run Azure Functions on-premise would be to use the [container images of Azure Functions we provide on Docker Hub.](https://hub.docker.com/r/microsoft/azure-functions/) Unfortunately at this time we do not yet have a Java Docker image. I've filed issue Azure/azure-functions-docker#70 to track this gap.

One potential workaround would be to publish the [build artifacts we provide wi

[2019-01-29 07:01] dhmorrison commented on #399
I'm a bit late to this game.  I have all the latest installed, yet no "function" template to be found.  Is there an update on this issue?
Thanks,
David

[2019-01-29 23:04] kashimiz commented on #1118
Where/how are you getting your host and master keys from, @knikol?

[2019-01-30 03:34] blu3bl00d commented on #1047
Also encountered this issue and came across this https://developercommunity.visualstudio.com/solutions/366797/view.html
Hope it helps

[2019-01-30 11:19] franperic commented on #932
Facing the same problem. @Stighebbelstrup, did you try using docker? If yes, can you recommend the work around?

[2019-01-30 17:56] knikol commented on #1118
From Azure Portal UI.
1. Select function app -> function name -> get function Url -> choose Default (Host Key)
Or
2. Select function app -> function name -> Manage -> Host Keys (All functions) -> default
Or
3. Select function app -> function app settings -> Host Keys (All functions) -> default

[2019-01-31 17:42] suwatch commented on #416
FYI: we tracked this issue down and made a fix.   The fix will go live in March'19.   Apology for the delay.

[2019-01-31 18:49] paulbatum commented on #1095
Indeed, this issue should stay open and track this limitation, even if there is no ETA for when it will be resolved.

[2019-01-31 20:05] gokhalesujit commented on #826
@apwestgarth and @burf2000 - thank you for the inputs. Apologies for delayed response. We ended up not pursuing preview version of Azure Functions Runtime. We are now using Azure Functions version 2 with VS.NET 2017 for development and so far it is all working great.

[2019-01-31 23:14] dagda1 commented on #636
@pambardekar do you have an example of how you got this to work?

[2019-02-01 05:55] alrod commented on #1118
@kihol, you should use `"authLevel": "function"` in `funciton.json` when using host key
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook#trigger---configuration

[2019-02-01 11:57] pambardekar commented on #636
@dagda1 Please take a look at https://stackoverflow.com/questions/50526133/how-to-upload-a-file-using-node-js-function-in-azure.

I got this to work but soon realized that Azure functions are not optimized for use cases like file upload. Its not efficient and there are file size limitations depending on the language runtime you use. I have switched to using blob storage upload directly from the cl

[2019-02-01 12:31] dagda1 commented on #636
@pambardekar i was coming to that conclusion so i’m going to take this good advise.  do you use [this](https://github.com/azure/azure-storage-js) if so how do you handle sas tokens.  i was thinking of an azure function to return one.

[2019-02-01 12:40] pambardekar commented on #636
@dagda1 I use https://www.npmjs.com/package/azure-storage. But yes, I have an azure function that returns SAS token for required container.

[2019-02-01 12:56] altmnt opened #1119 "Linux function app runtime creates wrong host-id for blob receipts when using blob trigger"
I am using azure functions for Linux with the blob trigger on Consumtion plan and with the runtime 2.x. After `func functionapp publish` host id is being changed. Also host id changes after some time passes. All blob receipts become invalid and all the blobs are queued again. That makes blob trigger unusable.

Some additional info can be found in my [stackoverflow](https://stackoverflow.com/questi

[2019-02-01 17:32] asavaritayal commented on #1094
@abhinavbom we don't have a timeline to address this feature. Please use the CLI tooling or the Azure Functions VS Code extension.

Keeping the issue open to gauge future traction.

[2019-02-01 18:22] brendan-mcmahon commented on #974
I am also using durable functions and the workaround did not work for me.

[2019-02-02 01:12] mathewc commented on #1119
Closing this as a dupe of https://github.com/Azure/azure-functions-core-tools/issues/1012. Let's just track this in one place :)

[2019-02-02 01:12] #1119 closed

[2019-02-02 06:48] knikol commented on #1118
@alrod, thank you. My bad. Indeed, it works.

[2019-02-02 06:48] #1118 closed

[2019-02-03 12:33] jeevaeastpoint commented on #564
Not there is a bug in the build task but found a work around. Switch to the version 4 of the task and in the deployment option select zip deploy. Then switch to version 3 of the task which then exposed those addition deployment options to clean the existing files before deployment. Hope it helps others.

[2019-02-03 21:19] #960 closed

[2019-02-04 08:44] vinguan opened #1120 "See the next occurrences for TimeTrigger in Azure"
The Azure Functions CLI has this cool feature that shows the next schedule occurrences for a function with a Time Trigger :
![image](https://user-images.githubusercontent.com/6222878/52197950-70660000-2848-11e9-9218-2a0877944cb3.png)
Is there a way to see this on Azure portal or through some other place? If not this would be a cool feature to add.

[2019-02-04 12:48] PKaur1 commented on #230
I am still facing this issue with my function which is using non-default consumer group and is running on consumption plan. Is there any update?

[2019-02-04 17:45] dantheman999301 commented on #719
I've got this problem, but I do not have any slots or keys.

App name is ukwest-bill-proc-7e56185c9cd1.

Session id is 4232786c13c6463d982c35f1032b5423

It's a durable function any also have a Service Bus Trigger like the one above.

I've tried completely recreating all resources from scratch (storage, plan and function app) thinking something had got messed up along the way but no dice there.

Ha

[2019-02-04 18:21] ishepherd opened #1121 "Regression - clientAffinityEnabled"
Our function apps are returning an `ARRAffinity` response header. Per discussion by @paulbatum https://github.com/Azure/app-service-announcements/issues/74, this is unnecessary and unhelpful for function apps.

Quoting the announcement

This bug seems to have come unfixed.

## Repro

Create a function app with an ARM template that does not mention `clientAffinityEnabled`
* Function app has `client

[2019-02-04 18:22] paulbatum commented on #1121
Confirmed. I tested this myself. This is a regression. I'm following up to find the right owner.

[2019-02-05 04:11] salqadri commented on #1094
+1 to this feature request

[2019-02-05 15:19] amang2205 commented on #872
We came across the same scenario.
Portable application written for .NET Core, Azure Functions runtime 2.0, consumption plan.
No solution to remote debug as of right now.

[2019-02-05 19:03] safihamid commented on #872
This should be working fine with workarounds mentioned above, if it's still not working, we will need more info. Is this failing when running locally or when running from Azure? Do you have the latest updates of VS and .Net Core installed? Did you try adding the above app setting to make sure your app runs on a single VM and does not scale when debugging? Did you select 'Managed (CoreCLR)' as the

[2019-02-05 20:44] amang2205 commented on #872
Yes, to all of the above. In fact, I even created a brand new application from scratch with a Timer Trigger, pushed it to a brand new resource with the magic App Setting set and Remote Debugger enabled (published Debug) and still, the debugger finds the process but never gets attached (symbols aren't loaded).

[2019-02-05 20:50] lmolkova commented on #693
@marcoscheel

thanks again for the repro app.

So it seems that adaptive sampling does not work for you because you want to have 100% for everything that you write and only want to filter out certain dependency calls.

Category-based filtering is also not a good option because dependency auto-collectors always have Informational severity. Even if we assigned different severity for 2xx vs other res

[2019-02-05 20:54] safihamid commented on #872
@amang2205 I assume you are using functions V2, Does this work with http trigger? Maybe timer trigger doesn't fire? would you please email me your code and all your settings along with your function app name and I will invetsigate... hamids  (at) microsoft (dot) com. thanks

[2019-02-06 09:59] whitehair30 commented on #404
I had a similar problem, and it was fixed when I ran visual studio in administrator mode

[2019-02-06 18:52] safihamid commented on #872
If the debugger is attached but breakpoints aren't hit, it means for some reason symbols weren't loaded for the function app. make sure the .pdb file is available in the .\bin folder then you will need to go to the 'Modules' tab in VS and right click on the function app's dll and manually load the symbols.

[2019-02-07 13:59] mrtristan commented on #646
as someone that's fully on AWS yet starting to look around at leveraging other tools like azure's functions, it seems that this missing capability is barring me from being able to work securely with my existing infrastructure.

[2019-02-07 14:44] amang2205 commented on #872
The debugger is attached and the breakpoints aren't hit despite the pdbs being correct (for same binaries) and available at the right location.
As mentioned over the private e-mail as well, it seems that the list of modules isn't retrieved correctly for the published Function. This means that even though the .pdbs are accessible, they will never be loaded because the module isn't returned as a dep

[2019-02-08 05:22] balag0 opened #1122 "Force update containers on image update"
transition all running containers to new image. Dont let containers running continously get stuck on old image versions.

[2019-02-08 07:03] S-Gurpreet commented on #863
+1
Any updates on this?

[2019-02-08 07:23] amang2205 commented on #872
After working on the matter with @safihamid, it turns out that the issue I had was that I heavily relied on Cloud Explorer which is bugged to a point where Remote Debugger won't work with runtime v2 because it incorrectly loads the symbols for .NET FX rather than .NET Core - hence, it's mandatory at this point to use the Attach to Process procedure to attach your debugger remotely and whilst you d

[2019-02-08 10:16] sherkhan911 opened #1123 "when C# Parallel.ForEach is called with a size 64 list, the Azure Function returns a 502 bad gateway"
here is the code:
Parallel.ForEach(items, async (item) =>{
//make 1 http call for each item
}

when items.Count = 64 the function is throwing a "502 bad gateway" response

[2019-02-08 13:22] craigshoemaker commented on #1091
We decided not to include Queue encoding guidance in the binding ref as it was outside the scope of the binding doc. However, there is now an [Encoding](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-queue#encoding) section in the binding ref to help surface the `base64` requirement by the binding.

#please-close

[2019-02-08 16:48] ggailey777 commented on #1091
Thanks @craigshoemaker!

[2019-02-09 13:14] josephxsxn commented on #210
This is still a massive issue without any straight forward answer. The fact that in some cases you can only have 1 consumption plan trigger function seems like a mistake too as many people will be mislead by lack of docs. It took 8 hours of searching to find one blog post that mentions this problem exists.. Even after following it our function is still not triggering on EventHubs.

https://blogs.m

[2019-02-10 05:40] ranouf commented on #299
Interested to know too.

[2019-02-11 14:28] swt2c opened #1124 "Linux timer-triggered function stopped firing"
I have a Linux (Python) function that is timer triggered to fire once an hour on the :15 mark:
`"schedule": "0 15 * * * *"`

This was working fine until 2019-02-09 00:15:00.217, but the timer has not fired since.  Is this a known issue?

[2019-02-11 20:31] maiqbal11 commented on #1124
This issue was moved to Azure/azure-functions-python-worker#320

[2019-02-11 20:31] #1124 closed

[2019-02-12 04:58] MariusVolkhart commented on #870
This is documented now. https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-maven-intellij#debug-the-function-in-intellij and https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-maven-eclipse#run-functions-locally-in-the-ide

[2019-02-12 17:38] JimPaine opened #1125 "When setting FUNCTIONS_WORKER_RUNTIME unable to use https"
## How to reproduce

local.settings.json

[code]
[code]

## Expected outcome
Function starts running on https

## Actual outcome
Function fails to start with the following error:
[code]

## Work around
Remove "FUNCTIONS_WORKER_RUNTIME": "dotnet" from local.settings.json

[code]

OR

don't use https

[code]

## Environment

Azure Functions Core Tools (2.4.317 Commit hash: 63e1996b6c281079427e7c9b8a

[2019-02-12 19:05] JimPaine commented on #1125
Closing and opening under tooling repo

https://github.com/Azure/azure-functions-core-tools/issues/1039

[2019-02-12 19:05] #1125 closed

[2019-02-12 19:34] brandonh-msft commented on #1078
This feature should be available to Azure Functions in all tiers (Consumption, Premium, ISE, and App Service plans) for all languages and hosting options (Linux/Windows) at a production quality level. Not providing this feature turns customers away from Azure Functions for projects relating to Machine Learning.

[2019-02-12 19:36] brandonh-msft opened #1126 "Ability to access a remote file share via Azure Functions"
The customer is interested in using Azure Functions (Windows) to load an ML model to process insurance quotes.  The customer is using a 3rd party component which utilizes the model to process the quote.  They do not have the ability to modify the code for the 3rd party library.  The library assumes the ability to load the model from a file system.  The customer's existing process is to periodicall

[2019-02-13 19:40] zmarty opened #1127 "The system lacked sufficient buffer space or because a queue was full"
Summary: **All of the Azure Functions under a shared App Service plan suddenly started failing in production with error: "An operation on a socket could not be performed because the system lacked sufficient buffer space or because a queue was full"**

@tohling - opening a bug similar to #1112 . We are a team inside Microsoft facing issues **in production**, so any timely help on this would be most

[2019-02-13 20:07] zmarty commented on #1127
Just a shot in the dark here, but would changing the code to play with the values below make any difference to this situation? We use the lines below in an unrelated project before to speed up writes to Azure Storage.

**Note we currently do not use the code below, this is just a question.**

[code]

[2019-02-14 07:31] ashi20007 commented on #845
Hi, Could you please please provide us with any timeline as to when this feature will released.

[2019-02-14 17:11] DavidJFowler commented on #155
This can occur if the webspaces don't match:

https://social.msdn.microsoft.com/Forums/office/en-US/c498dd15-fb67-4ab3-8e3f-46b9a594dc87/unable-to-transfer-app-services-between-existing-service-plan-same-region-and-same-resource-group?forum=windowsazurewebsitespreview

[2019-02-14 18:34] zmarty commented on #1127
Steps we have taken so far:
- Reviewed the entire code base to make sure we use static clients. We found that we use 4 different kinds of clients (HTTP, Azure Storage, CosmosDB, EventGrid). For 3 of them we already used static clients **per function**.
- We moved to using one singleton per client, **across all of them functions** (not per function!). So we now only have 4 instances basically - one

[2019-02-14 18:36] zmarty commented on #1127
Useful articles on this subject:
https://docs.microsoft.com/en-us/azure/architecture/antipatterns/improper-instantiation/
https://docs.microsoft.com/en-us/azure/azure-functions/manage-connections

[2019-02-14 18:43] zmarty commented on #1127
How to monitor the number of connections made by each app service in your app plan, using Azure portal:

Monitor > Metrics > Select a resource > Select subscription, resource group, then under Resource type make sure you only select App Services > Select your App service > Then in the graph under Metric select Connections

[2019-02-14 19:28] thdotnet opened #1128 "Function inside App Service Environment not being triggered"
I've started a small thread on twitter about this problem. I have an App Service Environment and a Function App inside of it. The type of the Load Balancer is Internal, I believe this is a important detail.

Using a VM in the same vnet, I can navigate to kudu and using cmd console perform tcpping to external endpoints and they are all working properly.

My function is using a Blob Trigger and on t

[2019-02-14 20:04] chisqrd opened #1129 "Cannot import email.mime with Python (v3.6) Azure Function v2"
I cannot seem to email from an python azure function on linux consumption plan. I created a function with Visual Studio Code and it does locally run fine.

`requirements.txt` has the following

`azure-functions==1.0.0b3 `
`azure-functions-worker==1.0.0b3  `
`grpcio==1.14.2  `
`grpcio-tools==1.14.2  `
`protobuf==3.6.1  `
`six==1.12.0  `
`psycopg2==2.7.6.1  `
`azure-keyvault  `
`azure-common  `

Whe

[2019-02-15 00:19] eamonoreilly commented on #124
We are currently working on supporting PowerShell using the v2 runtime. As part of this work, we are also making it easier to include and managed modules.

[2019-02-15 00:20] mattchenderson commented on #400
Closing old issue that was resolved

[2019-02-15 00:20] #400 closed

[2019-02-15 00:22] asavaritayal commented on #499
Closing due to inactivity. Please feel free to re-open if you're still seeing the error.

[2019-02-15 00:22] #499 closed

[2019-02-15 00:23] mattchenderson commented on #402
Closing old issue - VS for Mac can publish, as per prior comment.

[2019-02-15 00:23] #402 closed

[2019-02-15 00:28] asavaritayal commented on #500
This is expected since the version supported in the portal is C# script while Visual Studio supports .Net class library.

[2019-02-15 00:28] #500 closed

[2019-02-15 00:29] mattchenderson commented on #408
@us-dev can you please share a reliable repro? We don't have one on our end.

[2019-02-15 00:29] asavaritayal commented on #501
Closing due to inactivity. Please feel free to re-open if you're still seeing the error.

[2019-02-15 00:29] #501 closed

[2019-02-15 00:30] asavaritayal commented on #503
Closing due to inactivity. Please feel free to re-open if you're still seeing the error.

[2019-02-15 00:30] #503 closed

[2019-02-15 00:30] mattchenderson commented on #409
Closing for inactivity. Please reopen if this is still an issue.

[2019-02-15 00:30] #409 closed

[2019-02-15 00:32] ColbyTresness commented on #158
Closing this since reusing statics is a documented best practice.

[2019-02-15 00:32] #158 closed

[2019-02-15 00:32] mattchenderson commented on #417
Closing, as this is present in the docs now.

[2019-02-15 00:32] #417 closed

[2019-02-15 00:34] dariagrigoriu commented on #543
Closing since this should have been addressed in 2018, please reactivate if issue still occurs.

[2019-02-15 00:34] #543 closed

[2019-02-15 00:34] mattchenderson commented on #418
Is this still an issue using latest Functions tooling?

[2019-02-15 00:35] mattchenderson commented on #419
Closing old issue for which an answer has been provided.

[2019-02-15 00:35] #419 closed

[2019-02-15 00:35] #425 closed

[2019-02-15 00:35] #426 closed

[2019-02-15 00:36] #427 closed

[2019-02-15 00:39] mattchenderson commented on #428
@sebastianzolg still an issue?

[2019-02-15 00:41] mattchenderson commented on #429
Closing as answered - thanks @anthonychu!

[2019-02-15 00:41] #429 closed

[2019-02-15 00:42] ColbyTresness commented on #210
I kind of disagree with this issue - shouldn't trigger sync be an implementation detail @paulbatum? Happy to include in things like our wiki, but from my perspective, this should be something that we fix, not document better.

[2019-02-15 00:43] ColbyTresness commented on #205
Is this still relevant @mathewc ?

[2019-02-15 00:45] mattchenderson commented on #430
Closing due to inactivity. Please reopen if still an issue.

[2019-02-15 00:45] #430 closed

[2019-02-15 00:47] ColbyTresness commented on #302
@mhoeger thoughts?

[2019-02-15 00:47] mattchenderson commented on #440
@ahmelsayed can you confirm this behavior for recent versions? Any action still needed here?

[2019-02-15 00:48] ColbyTresness commented on #311
Closing (completed). Please reopen if any issues.

[2019-02-15 00:48] #311 closed

[2019-02-15 00:48] dariagrigoriu commented on #548
Closing based on lack of recent activity, please revisit if issue is still relevant.

[2019-02-15 00:48] #548 closed

[2019-02-15 00:48] #313 closed

[2019-02-15 00:49] ColbyTresness commented on #328
@jeffhollan isn't this tracked elsewhere?

[2019-02-15 00:51] ColbyTresness commented on #333
We won't be doing this. If there's a hard requirement for this, then the advice would be use multiple function apps.

[2019-02-15 00:51] #333 closed

[2019-02-15 00:51] mattchenderson commented on #449
@ahmelsayed I think this is still valid. Let's discuss with @fabiocav

[2019-02-15 00:51] ColbyTresness commented on #334
@brettsam is this still relevant?

[2019-02-15 00:52] ColbyTresness commented on #342
Closing due to inactivity/this type of problem should go away with V2. Please reopen if still relevant.

[2019-02-15 00:52] #342 closed

[2019-02-15 00:53] dariagrigoriu commented on #630
Closing this due to lack of recent activity, please revisit if the issue is still relevant.

[2019-02-15 00:53] #630 closed

[2019-02-15 00:54] ColbyTresness commented on #343
Closing for inactivity/likelihood that this isn't relevant with new runtime version. Please reopen if necessary.

[2019-02-15 00:54] #343 closed

[2019-02-15 00:55] ColbyTresness commented on #355
@asavaritayal FYI. This is probably tracked in the python worker repo, but I'll leave it to you to close if necessary.

[2019-02-15 00:57] dariagrigoriu commented on #613
@brettsam is this still relevant?

[2019-02-15 00:59] ColbyTresness commented on #357
@mathewc to look into this

[2019-02-15 00:59] ColbyTresness commented on #367
@mattchenderson for auth

[2019-02-15 01:00] dariagrigoriu commented on #563
Please revisit this experience with the latest Functions 2.0 GA version and reopen if the Python issues are still relevant.

[2019-02-15 01:00] #563 closed

[2019-02-15 01:00] ColbyTresness commented on #368
@mhoeger thoughts here?

[2019-02-15 01:01] ColbyTresness commented on #372
@alexkarcher-msft for VNET

[2019-02-15 01:01] mattchenderson commented on #638
For anything regarding a Key Vault emulator or an emulator for any other service, creating a request in the appropriate area on https://feedback.azure.com will make sure that the appropriate team sees it. In general, our recommendation for most local development is to execute against a live service in Azure when possible. For Key Vault, make sure it's a separate vault and that the development iden

[2019-02-15 01:02] mattchenderson commented on #433
Closed as done.

[2019-02-15 01:02] #433 closed

[2019-02-15 01:04] ColbyTresness commented on #389
Closing this due to inactivity. Please reopen if necessary.

[2019-02-15 01:04] #389 closed

[2019-02-15 01:06] mattchenderson commented on #418
Actually, closing as dupe of https://github.com/Azure/Azure-Functions/issues/446

[2019-02-15 01:06] #418 closed

[2019-02-15 01:07] mattchenderson commented on #446
Closing, as the referenced Azure/azure-functions-vs-build-sdk issue is resolved.

[2019-02-15 01:07] #446 closed

[2019-02-15 01:13] mattchenderson commented on #442
Closing as old / believed dupe of https://github.com/Azure/Azure-Functions/issues/446.

If this still is presenting an issue, please reopen.

[2019-02-15 01:13] #442 closed

[2019-02-15 01:18] mattchenderson commented on #439
Believed to be a dupe of https://github.com/Azure/Azure-Functions/issues/446. Please reopen if there is still an issue.

[2019-02-15 01:18] #439 closed

[2019-02-15 01:44] mattchenderson commented on #434
Covered here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-triggers-bindings#handling-binding-errors

[2019-02-15 01:44] #434 closed

[2019-02-15 02:07] mattchenderson commented on #438
Closing as the mechanisms have changed here, and this is an old issue with no activity. If there is still a problem, please reopen.

[2019-02-15 02:07] #438 closed

[2019-02-15 02:19] mhoeger commented on #302
`req.url` is populated as expected, closing issue

[2019-02-15 02:19] #302 closed

[2019-02-15 02:31] mhoeger commented on #368
I'm a bit confused, I'm suspicious that this is a functions issue? https://github.com/babel/babel-loader/issues/401

I think it would be good though to add that global state is global for the _function app_ (not per function), but there are no guarantees about preserved state of a global var (alluded to [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-node#using-en

[2019-02-15 03:17] jonmill commented on #638
@mattchenderson The `local.settings.json` may work for Web App based development, but that doesn't work for other services. I'm curious what your recommendation would be for development in offline or low-bandwidth or metered connection scenarios...how does running against a live key vault work there? Or larger teams? Does each engineer need their own development key vault?

[2019-02-15 12:30] michelpf commented on #630
After the tests, I was able to install additional files of NLTK in current function folder:

`nltk.download('stopwords', download_dir='')`

Then, at the begining of my function (`__init__.py`):

[code]

Anyway, thanks all for supporting me.

[2019-02-15 16:12] mack0196 commented on #863
+1

[2019-02-15 18:14] nzthiago commented on #427
@mattchenderson was there a new doc created with all the queries examples?

[2019-02-15 19:00] ColbyTresness commented on #368
I'm comfortable closing then. Please repoen if the doc Marie referenced is insufficient.

[2019-02-15 19:00] #368 closed

[2019-02-15 19:07] paulbatum commented on #210
@ColbyTresness Unfortunately we do not have a timeline for when it becomes a pure implementation detail. Couple of examples:

- user deploys code using FTP - sync triggers is not run automatically and we have no plan to address that other than telling people "please don't deploy using FTP".
- user is using run from package with a blob SAS, and they update that blob in place. Our system does not kn

[2019-02-15 19:28] schwaizi commented on #585
Hi @asavaritayal , do you have any ETA for preview in Azure?

[2019-02-15 19:42] maiqbal11 commented on #1128
@ccompy, would you be able to triage since this appears to be an ASE issue?

[2019-02-15 19:43] maiqbal11 commented on #1129
This issue was moved to Azure/azure-functions-python-worker#328

[2019-02-15 19:43] #1129 closed

[2019-02-15 19:48] panchagnula commented on #451
@mattchenderson , i am guessing you have assigned to me, for the UX part of the host.json fix, i believe we have a separate fix for the host.json message, that was being worked by the re-work of the slots UI. Adding @btardif & @ehamai to help with this.

[2019-02-15 20:36] bergmeister commented on #585
@schwaizi In one of the last community calls, @joeyaiello mentioned that he can be contacted for private previews of it.

[2019-02-15 20:51] btardif commented on #451
@andimarc can you take a look?

[2019-02-15 21:27] mathewc commented on #357
This issue has been fixed last summer. See https://github.com/Azure/azure-webjobs-sdk/issues/1809.

[2019-02-15 21:27] #357 closed

[2019-02-15 21:32] mathewc commented on #205
No longer relevant. We've made portal updates to disable unsupported logging features.

[2019-02-15 21:32] #205 closed

[2019-02-15 23:03] ColbyTresness commented on #210
Fair enough, I think its worth investigating the public docs around deployments. But I don't think we should explicitly mention SyncTriggers or how it works.

[2019-02-16 01:33] alexkarcher-msft commented on #394
Hello. No updates to provide on this feature. We currently recommend using APIM to front your API if you'd like to generate an OpenAPI definition using a GA tool in Azure.

We also have some limited guidance on deploying your OpenAPI definition using CI/CD https://docs.microsoft.com/en-us/azure/azure-functions/functions-api-definition#CICD

[2019-02-16 01:38] alexkarcher-msft commented on #377
This is documented here: https://docs.microsoft.com/en-us/azure/app-service/environment/network-info#functions-and-web-jobs

[2019-02-16 01:38] #377 closed

[2019-02-16 01:42] alexkarcher-msft commented on #372
By "read a file in one of the shared folder of the VM" do you mean using Windows file sharing? This is explicitly blocked by P2S gateways. You will need to use FTP or some other file server. Our new preview direct VNET integration currently supports windows file sharing.

https://docs.microsoft.com/en-us/azure/app-service/web-sites-integrate-with-vnet

[2019-02-16 01:42] #372 closed

[2019-02-16 01:43] alexkarcher-msft commented on #453
This has been resolved with the integrated App Insights SDK that now ships with Functions.

[2019-02-16 01:43] #453 closed

[2019-02-16 12:14] JasonBSteele commented on #394
@alexkarcher-msft , I took a look at https://azure.microsoft.com/en-us/blog/announcing-the-preview-of-openapi-specification-v3-support-in-azure-api-management/ which has some details on how to import and export a definition, but unless I have missed something that doesn't support generating one?

As far as I know there is currently no way of generating a full OpenAPI definition (i.e. one that incl

[2019-02-16 12:23] wobba commented on #394
Take a look at the post https://devkimchi.com/2019/02/02/introducing-swagger-ui-on-azure-functions/ and the code for it at https://github.com/aliencube/AzureFunctions.Extensions

[2019-02-16 12:29] JasonBSteele commented on #394
Thanks @wobba ! We're currently using your solution and were contemplating extending it with Attributes - so this will save us a load of work!

[2019-02-19 18:13] brettsam commented on #613
No, I should have closed this a long time ago. Docs are up at https://docs.microsoft.com/en-us/azure/azure-functions/manage-connections

[2019-02-19 18:13] #613 closed

[2019-02-19 23:35] eamonoreilly commented on #585
We are actively working on supporting PowerShell in the v2 functions environment. We don't have a date for a public announcement yet, but will update this thread once available. The specific language worker effort can be tracked on https://github.com/Azure/azure-functions-powershell-worker
Thanks,
Eamon

[2019-02-20 04:55] kudlatiger opened #1130 "Microsoft.Azure.WebJobs.Host: Cannot bind parameter 'myContext' to type DataContext. error in Azure Function v2"
Requirement: Create Azure Function which can inject Entity Framework context to Run method using dependency injection.

Here is my Startup class

     `[assembly: WebJobsStartup(typeof(Startup))]
     namespace MessagesToSqlDbFuncApp
     {
       internal class Startup : IWebJobsStartup
       {
        public void Configure(IWebJobsBuilder builder) =>
        builder.AddDependencyInjection<Servi

[2019-02-20 12:51] StefanSchoof commented on #299
I can up with a poor man´s IoC Solution:
[code]

In my Unit Test I can call the constructor with the mocked object and test the imported code in the `Main` method.

[2019-02-20 15:31] adammodlin commented on #950
Hello @paulbatum, I'm still having an issue here.

[code]

Here's my .csproj:
[code]

[2019-02-20 21:43] paulbatum commented on #950
@adammodlin your csproj looks fine. I will note that it should be basically the same as the csproj that VS generates for you if you make a new function app project, with the exception that VS now makes a .NET core class library instead of a .NET standard class library (but either should work).

I think there must be something else going on here. If you create a brand new function app in VS and sel

[2019-02-20 22:40] breddynet commented on #974
Still No resolution for this ?

[2019-02-20 23:13] alexkarcher-msft commented on #452
This has been solved by the out-of-proc model in v2

[2019-02-20 23:13] #452 closed

[2019-02-20 23:16] pragnagopa commented on #557
@tecsined closing this as solution provided @brettsam should work. Please reopen if this still an issue.

[2019-02-20 23:16] #557 closed

[2019-02-20 23:16] #558 closed

[2019-02-20 23:16] #456 closed

[2019-02-20 23:17] fabiocav commented on #884
@pragnagopa is this still an issue?

[2019-02-20 23:19] eamonoreilly commented on #943
Hi - I know this is a little old but I'm wondering if you have more information about this issue or could provide a sample that we could look at that reproduces the issue.
Thanks,
Eamon

[2019-02-20 23:20] ColbyTresness commented on #937
Closing as this is complete

[2019-02-20 23:20] #937 closed

[2019-02-20 23:21] fabiocav commented on #874
Closing this as this was on a pre-release version of the core tools. Please retry and open a new issue if you're still running into problems.

[2019-02-20 23:21] #874 closed

[2019-02-20 23:22] alexkarcher-msft commented on #464
Hello everyone, at the moment you can enable this by deploying your Function App into an App Service Environment, which will give you one static outbound IP. We are working on an offering to enable this in a serverless plan before the end of the year.

[2019-02-20 23:24] alexkarcher-msft commented on #465
this has been fixed in Azure Functions v2, as per https://github.com/Azure/azure-functions-host/issues/992

[2019-02-20 23:24] #465 closed

[2019-02-20 23:24] mathewc commented on #636
@mhoeger Isn't there a host repo issue for this that you were/are involved with?

[2019-02-20 23:24] #467 closed

[2019-02-20 23:24] ColbyTresness commented on #890
This isn't currently planned. It would be great if you could add an item to our UserVoice though, since that's where we more frequently track long term feature area requests. https://feedback.azure.com/forums/355860-azure-functions

[2019-02-20 23:24] fabiocav commented on #875
@hiraldesai looks like this issue happened on a beta version of the runtime. Can you please re-open if you run into any problems with the current service?

[2019-02-20 23:24] #875 closed

[2019-02-20 23:24] ColbyTresness commented on #893
@alexkarcher-msft do we have a tutorial for this kind of thing?

[2019-02-20 23:25] #476 closed

[2019-02-20 23:27] ColbyTresness commented on #896
@fabiocav

[2019-02-20 23:27] fabiocav commented on #887
@alexkarcher-msft can you take a look at this and properly route?

[2019-02-20 23:28] pragnagopa commented on #556
Tracked here: https://github.com/Azure/azure-functions-host/issues/2279

[2019-02-20 23:28] #556 closed

[2019-02-20 23:28] #477 closed

[2019-02-20 23:29] #554 closed

[2019-02-20 23:29] ColbyTresness commented on #897
Closing due to inactivity. Please reopen if necessary.

[2019-02-20 23:29] #897 closed

[2019-02-20 23:30] fabiocav commented on #872
Closing this issue as resolved/answered.

[2019-02-20 23:30] #872 closed

[2019-02-20 23:32] #870 closed

[2019-02-20 23:33] fabiocav commented on #848
@brettsam has updated this. Closing as resolved.

[2019-02-20 23:33] #848 closed

[2019-02-20 23:34] alexkarcher-msft commented on #480
This has been resolved by a VS update. Please make sure you are on the most up to date version of VS and the Azure functions extension.

[2019-02-20 23:34] #480 closed

[2019-02-20 23:35] ColbyTresness commented on #903
Assuming this is done.

[2019-02-20 23:35] #903 closed

[2019-02-20 23:35] fabiocav commented on #826
@SujitGokhale based on the comments/answers above, I'm closing this as answered. Please let us know if you need additional information.

[2019-02-20 23:35] #826 closed

[2019-02-20 23:36] mathewc commented on #645
I believe these issues have all been addressed since this issue was opened a year ago. If you're still having problems let us know.

[2019-02-20 23:36] #645 closed

[2019-02-20 23:36] ColbyTresness commented on #904
The referred issue has been closed and fixed, so I'm closing this. Please reopen if necessary.

[2019-02-20 23:36] #904 closed

[2019-02-20 23:36] pragnagopa commented on #553
If you are using functions v2, please use extensions.csproj https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-csharp#using-nuget-packages. If this is still an issue with functions v1, please reopen.

[2019-02-20 23:36] #553 closed

[2019-02-20 23:36] ColbyTresness commented on #909
@paulbatum is this still relevant?

[2019-02-20 23:37] ColbyTresness commented on #912
@kashimiz @cgillum can you investigate this?

[2019-02-20 23:37] #913 closed

[2019-02-20 23:37] alexkarcher-msft commented on #481
Our powershell support is still in an experimental support phase, and will be replaced by a ground up rework of our powershell worker soon.

If you would like GA powershell support you can use Azure Automation.

[2019-02-20 23:37] #481 closed

[2019-02-20 23:38] alexkarcher-msft commented on #479
This is being addressed by @mathewc in his ARM work

[2019-02-20 23:38] ColbyTresness commented on #915
@MaximRouiller @fabiocav can this be closed since it looks like individual issues are tracked elsewhere?

[2019-02-20 23:39] paulbatum commented on #909
Looks I forgot to close this. If you look at https://www.nuget.org/packages/Microsoft.Azure.WebJobs you'll see its now appropriately tagged.

[2019-02-20 23:39] #909 closed

[2019-02-20 23:40] ColbyTresness commented on #914
Closing - several issues in this area have been addressed since the preview. Please let us know if you continue having issues with the release version.

[2019-02-20 23:40] #914 closed

[2019-02-20 23:40] ColbyTresness commented on #918
@mathewc

[2019-02-20 23:41] pragnagopa commented on #549
closing this as Dup of #155

[2019-02-20 23:41] #549 closed

[2019-02-20 23:42] fabiocav commented on #817
Several improvements have been made in this area. I'm transferring to the host repo for validation.

[2019-02-20 23:42] ColbyTresness commented on #920
@mhoeger @btardif @fabiocav  I think this is something that we've seen before and fixed, can you confirm?

[2019-02-20 23:44] #938 closed

[2019-02-20 23:44] cgillum commented on #912
Hi @DarthStem, looks like you asked this question quite a while ago. Is it still an issue for you?  If so, can you provide more details on how you're making your outbound HTTP requests (from an activity function)?  Also, is this while running in Azure, or locally using the CLI (you mentioned CIL which is maybe a typo)?

[2019-02-20 23:45] alexkarcher-msft commented on #646
We are working on adding this functionality to a serverless SKU. I'll have more info in the coming months :)

[2019-02-20 23:45] mathewc commented on #650
Azure Functions v2 no longer has an Edge.js dependency so this issue doesn't repro there. For v1 we won't be making any changes for this - recommend following workarounds suggested in the linked issue.

[2019-02-20 23:45] #650 closed

[2019-02-20 23:46] #651 closed

[2019-02-20 23:47] #497 closed

[2019-02-20 23:47] fabiocav commented on #940
@isaac2004 apologies for the significant delay on this. Some of the issues in this repo were unfortunately missed.

I'm assuming (and hoping) you have found the answer to this by now. While this is supported today, we're working on a better model for service injection in Functions and close to having that released. I'll close this, but please let us know if you still have unanswered questions.

[2019-02-20 23:47] #940 closed

[2019-02-20 23:48] #660 closed

[2019-02-20 23:48] ColbyTresness commented on #921
Closing as fixed by more recent version

[2019-02-20 23:48] #921 closed

[2019-02-20 23:48] alexkarcher-msft commented on #496
Hi @mamaso !

This has been fixed with application insights. Hopefully you'll use that for all your future Functions projects

[2019-02-20 23:48] #496 closed

[2019-02-20 23:49] ColbyTresness commented on #925
Closing as per above this is by design and not an issue anymore. Please reopen if necessary

[2019-02-20 23:49] #925 closed

[2019-02-20 23:49] pragnagopa commented on #535
@ankitkumarr - Can you take a quick look at the documentation and check if it is up to date?

[2019-02-20 23:50] fabiocav commented on #957
Closing this as there were several updates to the generator in this area.

Still leaving #4057 open, but please let us know if you're still running into the original issue.

[2019-02-20 23:50] #957 closed

[2019-02-20 23:52] pragnagopa commented on #534
@ColbyTresness - Can you take a look?

[2019-02-20 23:53] pragnagopa commented on #532
Fixed!

[2019-02-20 23:53] #532 closed

[2019-02-20 23:54] mathewc commented on #606
Closing this. All future investments will be made in [APIM Consumption Tier](https://azure.microsoft.com/en-us/updates/api-management-consumption-tier-is-in-preview/).

[2019-02-20 23:54] #606 closed

[2019-02-20 23:54] pragnagopa commented on #531
@dariagrigoriu - is this addressed? if not can you please open an issue in the doc repo

[2019-02-20 23:54] ColbyTresness commented on #926
Closing as this is the same problem as #928

[2019-02-20 23:54] #926 closed

[2019-02-20 23:54] ColbyTresness commented on #928
@brettsam any update here?

[2019-02-20 23:54] fabiocav commented on #1130
This is using an external binding/extension, so can't provide much information about its behavior. About the startup question, have you tried updating to the latest version of the extension metadata generator (https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator/)? There were fixes in that version to address that issue.

[2019-02-20 23:56] ColbyTresness commented on #931
@mathewc can you take a look at this?

[2019-02-20 23:56] mathewc commented on #607
@asavaritayal - there haven't been any updates on this in over a year. Any work remaining here? If so, please reopen.

[2019-02-20 23:56] #607 closed

[2019-02-20 23:58] alexkarcher-msft commented on #495
Can you please post any additional errors your Function is logging?
There will be additional runtime logs generated when you deploy your app that should be the most helpful.

[2019-02-20 23:58] mathewc commented on #618
Closing since the original issue was resolved.

[2019-02-20 23:58] #618 closed

[2019-02-20 23:58] fabiocav commented on #423
Closing this as there hasn't been activity and we're missing some context. Please let us know if you're still having problems and need assistance.

[2019-02-20 23:58] #423 closed

[2019-02-20 23:59] alexkarcher-msft commented on #493
The docs and portal UI have both been updated :)

[2019-02-20 23:59] #493 closed

[2019-02-21 00:01] fabiocav commented on #463
Closing this as the original question was answered, there have been enhancements in this area and this issue is stale.

@stevetayloruk please let us know if you have additional questions/issues.

[2019-02-21 00:01] #463 closed

[2019-02-21 00:03] fabiocav commented on #609
Update on open issue. A lot of the DI features have been added to Azure Functions 2.0, with function level support for service injection being tracked by https://github.com/Azure/azure-functions-host/issues/3736

[2019-02-21 00:03] #609 closed

[2019-02-21 00:03] alexkarcher-msft commented on #492
You're totally correct, in that the name should be both the class, and the function within. In VS you have full control over the name of the class in the previous screen in your example.

[2019-02-21 00:03] #492 closed

[2019-02-21 00:04] ColbyTresness commented on #932
Sorry for letting this sit for so long, this should have been responded to ages ago. Delay was unintentional, and we'll try to do better in the future.

Azure Functions doesn't support R, and we don't have any current plans to change that. So, I'm closing this since it's not something we officially support anyways. There's an open UserVoice item on adding R support, so if you'd like this, comment/

[2019-02-21 00:04] #932 closed

[2019-02-21 00:04] fabiocav commented on #722
@NNara apologies for the delayed response; some of the issues here have been missed. Are you still running into problems?

[2019-02-21 00:04] ColbyTresness commented on #933
Closing as it seems like this has been resolved. Please reopen if necessary.

[2019-02-21 00:04] #933 closed

[2019-02-21 00:05] ColbyTresness commented on #934
Sorry for the lack of response here - is this still an issue for you?

[2019-02-21 00:06] ColbyTresness commented on #936
Closing, please see linked announcement.

[2019-02-21 00:06] #936 closed

[2019-02-21 00:09] fabiocav commented on #966
Closing issue as there has been no response. Please let us know if you still have problems.

[2019-02-21 00:09] #966 closed

[2019-02-21 00:11] fabiocav commented on #983
Closing issue as there has been no response. Please let us know if you still have problems.

[2019-02-21 00:11] #983 closed

[2019-02-21 00:12] alexkarcher-msft commented on #491
This has been fixed in a VS update

[2019-02-21 00:12] #491 closed

[2019-02-21 00:12] #626 closed

[2019-02-21 00:12] #490 closed

[2019-02-21 00:13] fabiocav commented on #1020
@jeffhollan any follow up required on this?

[2019-02-21 00:13] #667 closed

[2019-02-21 00:13] btardif commented on #920
this is tricky, under this condition, we can't really clean up after the user since file are considers user content and nuking them could be consider data loss.

Also there is no API that we can call that just does this, we would need to crawl file-system and erase individual files/folder.

[2019-02-21 00:14] alexkarcher-msft commented on #484
This has been fixed in an update to our extension

[2019-02-21 00:14] #484 closed

[2019-02-21 00:15] alexkarcher-msft commented on #482
Fixed with the GA of Functions v2. Please upgrade to that newer runtime to fix this issue.

[2019-02-21 00:15] #482 closed

[2019-02-21 00:15] fabiocav commented on #1031
@asavaritayal any action required here? Can this be closed?

[2019-02-21 00:16] mathewc commented on #811
This issue will be addressed by the work for https://github.com/Azure/azure-functions-host/issues/3994. Closing this in favor of that issue.

[2019-02-21 00:16] #811 closed

[2019-02-21 00:16] fabiocav commented on #211
@alexkarcher-msft @asavaritayal any comments on this?

[2019-02-21 00:17] #816 closed

[2019-02-21 00:17] fabiocav commented on #218
@asavaritayal @ggailey777 any comments here? Can we add a note on the best practices document?

[2019-02-21 00:17] paulbatum commented on #651
For further questions about x64 in local development scenarios, see https://github.com/Azure/Azure-Functions/issues/376

[2019-02-21 00:19] #818 closed

[2019-02-21 00:19] #838 closed

[2019-02-21 00:21] fabiocav commented on #1121
@paulbatum just following up on this. Do we have an owner we can assign this to?

[2019-02-21 00:24] jeffhollan commented on #155
Ok let me at least give an update as this has gone a little stale and I've learned a lot / we've done some work:

1. You can change the plan type by modifying the "serverFarmId" property of the Azure Functions Microsoft.Web/sites resource (via something like the `az resource` CLI command or [https://resources.azure.com](https://resources.azure.com)).
1. Note that *by default* apps created in an Ap

[2019-02-21 00:25] jeffhollan commented on #947
Being tracked here

https://github.com/Azure/azure-webjobs-sdk/issues/1597

[2019-02-21 00:25] #947 closed

[2019-02-21 00:25] #844 closed

[2019-02-21 00:26] fabiocav commented on #1115
@tohling do you have any information on this? is there an issue we should be tracking?

[2019-02-21 00:27] alexkarcher-msft commented on #211
We have a doc on github, but should really add it to the official documentation. https://github.com/projectkudu/kudu/wiki/Azure-Web-App-sandbox#numerical-sandbox-limits

Probably this doc: https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale

[2019-02-21 00:27] alexkarcher-msft commented on #211
Bringing @ggailey777 into the loop 🌞🌞

[2019-02-21 00:28] #668 closed

[2019-02-21 00:29] #669 closed

[2019-02-21 00:30] #671 closed

[2019-02-21 00:31] mathewc commented on #673
Fixed via https://github.com/Azure/azure-functions-host/issues/3171

[2019-02-21 00:31] #673 closed

[2019-02-21 00:36] alexkarcher-msft commented on #893
We have a tutorial for enabling this feature in App Service. The same set of instructions will be applicable to a Function App running in an app service plan. https://docs.microsoft.com/en-us/azure/app-service/app-service-hybrid-connections#add-and-create-hybrid-connections-in-your-app

[2019-02-21 00:41] eamonoreilly commented on #946
Continuing discussion on the forum.

[2019-02-21 00:41] alexkarcher-msft commented on #887
The document has been updated! Thanks for the advanced heads up!

[2019-02-21 00:41] #887 closed

[2019-02-21 00:41] mathewc commented on #677
Are you still having issues here on the latest tools version?

[2019-02-21 00:42] #857 closed

[2019-02-21 00:42] ColbyTresness commented on #1107
@eamonoreilly

[2019-02-21 00:44] ColbyTresness commented on #1109
Closing this as it seems to be resolved. Please reopen if necessary.

[2019-02-21 00:44] #1109 closed

[2019-02-21 00:45] mhoeger commented on #636
Yeah, this is a dupe and the solution is here: https://github.com/Azure/azure-functions-host/issues/2009

This is fixed in V2 but not in V1. In V1, this would have been a breaking change so we will not be going back and fixing that behavior: https://github.com/Azure/azure-functions-host/issues/2385

[2019-02-21 00:45] #636 closed

[2019-02-21 00:46] alexkarcher-msft commented on #1045
Your app will periodically be moved between workers in the consumption plan, and will experience cold start. We have a SKU planned to address this issue, but for the time being the only real mitigation is to run in an app service plan

[2019-02-21 00:47] jeffhollan commented on #1020
I was able to repro this behavior and I think I have the answer.  Apologies for the loooong delay.

The right solution here assuming you don't want to do CORS yourself in code, enable the app service / function CORS settings.  However the request will only be routed automatically back with the right pre-flight stuff if you include the correct headers.  So if I just make an OPTIONS request I get a

[2019-02-21 00:47] #1020 closed

[2019-02-21 00:49] ColbyTresness commented on #1117
Closing, please track on referenced issue [Azure/azure-functions-docker#70](https://github.com/Azure/azure-functions-docker/issues/70)

[2019-02-21 00:49] #1117 closed

[2019-02-21 00:49] fabiocav commented on #1114
@kumaranvellaisamy the message above states the issue. When hosted, Azure Functions runs in-process in IIS, and needs to be properly configured, without the IIS/IIS Integration configuration.

[2019-02-21 00:51] ColbyTresness commented on #1120
Closing, please track via the referenced issue in the function portal repo.

[2019-02-21 00:51] #1120 closed

[2019-02-21 00:54] ColbyTresness commented on #1127
@alexkarcher-msft can you look into this?

[2019-02-21 01:07] ColbyTresness commented on #1123
@alexkarcher-msft can you look into this? Connection limits maybe?

[2019-02-21 01:37] alexkarcher-msft commented on #1123
Hello @sherkhan911, can you provide the exact code you're running and any errors that are generated by your running your Function? There is not enough info in this issue to figure out much of anything.

Is your code sample running inside your Function App, is this code you use to call a Function App? What is that Function app doing?

Thanks!

[2019-02-21 01:44] paulbatum commented on #1121
@jocawtho is taking care of it

[2019-02-21 01:45] paulbatum commented on #1121
ETA is around end of March. In the meantime, any user can resolve for their own app using the instructions in the [announcement](https://github.com/Azure/app-service-announcements/issues/74).

[2019-02-21 01:46] zmarty commented on #1127
Update: It has been about 7 days since we took the steps in the post above "Steps we have taken so far". So far after making those changes we have not seen any spikes.

**I am however still worried** because we did not find any explanation for the fact that one of the instance servers had CPU pegged at 100% constantly before making the changes while the others were not doing much. It sounds like b

[2019-02-21 01:47] mathewc commented on #863
This error logging is in Functions v1 only. The log statement comes from [here](https://github.com/Azure/azure-functions-host/blob/2a73a53260b55e8abc61c34da39be04244e5a957/src/WebJobs.Script.WebHost/Handlers/ExceptionProcessingHandler.cs#L96). This entire ApiErrorModel is serialized to logs at Error level. The ID is a new ID generated for the specific error (code [here](https://github.com/Azure/az

[2019-02-21 01:54] mathewc commented on #479
Yes: https://github.com/Azure/azure-functions-host/issues/3756

[2019-02-21 06:17] rprimora commented on #893
Thats just a tutorial on setting up hybrid connections. It doesn't help because I've already set it up.

[2019-02-21 07:03] forki commented on #671
@mathewc closed without comment?

[2019-02-21 08:26] ThomasArdal commented on #847
@davidebbo I think this is still a problem. I'm having the exact same issue as described in the initial bug report. After an Azure DevOps deployment, I see the new dll in the site/wwwroot/bin directoy (i decompiled it to see if the new code was there). But when running my function, it is the old code running. In my case, I don't see any exceptions, since the old code ran without problems as well.

[2019-02-21 08:36] jeffhollan commented on #847
Can you confirm you are using the recommended “run from package” feature

https://docs.microsoft.com/en-us/azure/azure-functions/run-functions-from-deployment-package

[2019-02-21 08:41] ThomasArdal commented on #847
@jeffhollan I'm not using the "run from package" feature. I'm using the "Deploy Azure App Service" task in Azure DevOps, which uses msdeploy and writes the following in the log:

[code]

[2019-02-21 08:45] jeffhollan commented on #847
The latest version of that actions (4.* I believe?) should have an option to RunFromZip or run from package. That should deploy the way that helps prevent this. There’s also some additional improvements to devops actions rolling out imminently as well to make this even easier

[2019-02-21 08:47] JamesRandall commented on #934
I believe its been resolved in one of the updates - I've not seen it for some time.

[2019-02-21 08:51] rasmuschristensen commented on #847
@jeffhollan Is this documented somewhere else besides in this thread?

[2019-02-21 09:24] ThomasArdal commented on #847
@jeffhollan I just switched my release definition and it works! Maybe this should be the default in Azure DevOps going forward? Under all circumstances, thank you very much for your help.

For anyone else visiting this issue from Google, here is what I changed:

![image](https://user-images.githubusercontent.com/563206/53157843-aa623080-35c2-11e9-843b-99aef431f379.png)

I also had to change the wa

[2019-02-21 09:26] jeffhollan commented on #847
🎉
@dariagrigoriu as an FYI but I believe this is the plan:

[2019-02-21 14:26] MaximRouiller commented on #915
@ColbyTresness Not only has this been tracked in other repos but it has also been fixed.

Older packages won't see a release just for that but from what @fabiocav mentioned, the commit to fix the issue is there.

So I'm closing this issue.

[2019-02-21 14:26] #915 closed

[2019-02-21 15:29] breddynet commented on #974
Workaround for this is add this to build target
<Copy SourceFiles="$(USERPROFILE)\.nuget\packages\system.private.servicemodel\4.5.3\runtimes\win\lib\netstandard2.0\System.Private.ServiceModel.dll" DestinationFolder="$(OutputPath)\bin" />

[2019-02-21 15:30] breddynet commented on #974
Workaround is `<Copy SourceFiles="$(USERPROFILE)\.nuget\packages\system.private.servicemodel\4.5.3\runtimes\win\lib\netstandard2.0\System.Private.ServiceModel.dll" DestinationFolder="$(OutputPath)\bin" />`

[2019-02-21 16:38] brettsam commented on #928
I'm pretty sure we've solved all of the original issues (moving ExtensionsMetadataGenerator forward). Since this is a really generic error, it can happen for a number of reasons. Can anyone still seeing this please let us know your symptoms, specifically:
- Do you have a `bin\extensions.json` file being built and correctly populated? i.e -- does it have any entries? You can check this locally (and

[2019-02-21 17:32] #934 closed

[2019-02-21 17:39] davidkassa commented on #928
Specifically, I'm seeing an empty extensions.json file next to the host.json file, not in the bin.

I'm using a clean project from template v2 with BlobTrigger with updated references.

[code]

If I add the workaround provided by @TomBonnerAtTFL https://github.com/Azure/azure-functions-host/pull/4059 then I get the correct output.

[2019-02-21 18:09] marshallford commented on #1066
An update for those interested: I spoke with a Microsoft PFE connected to the company I work for. He said:

[2019-02-21 18:16] mathewc commented on #671
I closed this because the linked issue points to problems in https://github.com/mikhailshilkov/tictactoe which doesn't seem Functions related at all. Perhaps I misunderstood? What is the actual Azure Functions issue?

[2019-02-21 18:16] #1128 closed

[2019-02-21 18:32] forki commented on #671
Things like ObjectResult and ContentResult are the proposed ways to return data. But they live in MVC. Which is a very heavy dependency which we only need to reference for this little thing. Those return types should be put into smaller lib and mvc should depend on that as well.

[2019-02-21 18:38] mathewc commented on #671
So this issue is about proposed changes to MVC then? That doesn't concern this repo - not sure what action you want us to take here :)

[2019-02-21 18:42] forki commented on #671
No this is something you would need to push. As a user this kind of azure functions relying on MVC is hurting. I don't want to change mvc. I want you to provide a lighter version. If that requires to change mvc then ok. Other solutions would be fine as well.

[2019-02-22 09:03] crac2003 opened #1131 "HttpTrigger - Route parameters missing"
**Description**: Url parameters passed through route template are not parsed and they are missing from req.Query dictionary

`
 [FunctionName("Function1")]
        public static async Task<IActionResult> Run(
            [HttpTrigger(AuthorizationLevel.Anonymous, "get", "post", Route = "local/{name}")] HttpRequest req,
            ILogger log)
        {
            log.LogInformation("C# HTTP trig

[2019-02-22 18:56] StingyJack commented on #844
This worked last week and does not work today. I get the same message in the output window -> Diagnostics Hub from both Server explorer and Cloud explorer.  @mathewc - can this be reopened?

[2019-02-24 22:11] ggailey777 commented on #736
Is this the article that was needed?
[How to disable functions in Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/disable-function)

[2019-02-24 23:29] ivana61 commented on #719
I am getting this error:
Error:
Not Found - https://xxxx.azurewebsites.net/admin/host/keys

I am creating the resource through an ARM template with a release pipeline. The host keys cannot be found. Any idea how can I solve this?
I can provide more info if needed.

[2019-02-25 01:17] pragnagopa commented on #736
Yes @ggailey777  thanks. Will close this issue.

[2019-02-25 01:17] #736 closed

[2019-02-25 05:51] MarcelMeurer commented on #719
Hi.

Take a look here: https://github.com/Azure/Azure-Functions/issues/1118

Marcel

Outlook für Android<https://aka.ms/ghei36> herunterladen

________________________________
From: ivana61 <notifications@github.com>
Sent: Monday, February 25, 2019 12:29:05 AM
To: Azure/Azure-Functions
Cc: Marcel Meurer; Manual
Subject: Re: [Azure/Azure-Functions] Internal Server Error - https://<app_name>.azurewe

[2019-02-25 09:34] ivana61 commented on #719
Didn't help, I miss the host keys when it is deployed with ARM through Azure DevOps release pipeline with the task Azure Deployment: Create or Update Resource Group.

![image](https://user-images.githubusercontent.com/37874763/53327799-d514f780-38e8-11e9-8370-5dc1d7ee1fa4.png)

Any suggestions where it goes wrong?

[2019-02-25 10:41] audipen commented on #719
I get a similar error -
**Internal Server Error - https://btcamhsettingsfunceudly.azurewebsites.net/admin/functions/SettingGet/keys**

Since my functions are HTTP triggered and I want to have only the required app settings, I do not have the 'AzureWebJobsStorage' app setting. [This link](https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings#azurewebjobsstorage) specifically

[2019-02-25 17:58] ltouro commented on #736
Main documentation is still wrong at https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook.

This will be source of confusion for Func V2 users trying to disable a function using obsolete "disable" property.

At least, a disclaimer should be added somewhere, pointing to the new article regarding disabling functions.

[2019-02-25 20:15] isaac2004 commented on #940
@fabiocav I appreciate the response, if you know of a solid workaround I would appreciate it. The ones that I have tried involve coding changes to deploy different apps

[2019-02-25 21:03] alrod commented on #719
@audipen
**Keys for calling HTTP endpoints are always stored encrypted in Azure Blob storage.** In version 1.x, keys were stored in Azure File storage be default. When upgrading an app from version 1.x to version 2.x, existing secrets that are in file storage are reset.
https://docs.microsoft.com/en-us/azure/azure-functions/functions-versions#changes-in-features-and-functionality

So you need 'Azu

[2019-02-25 21:04] alrod commented on #719
@ivana61, can you please check if a storage pointed in 'AzureWebJobsStorage' exists

[2019-02-25 21:07] ivana61 commented on #719
@alrod, yes it exists but it's empty. And when I create a function app through the portal the host keys are also created and stored in the blob storage.

[2019-02-25 22:20] alrod commented on #719
@ivana61, what do you see when you go to app root ?
https://yourappname.azurewebsites.net

can you share your function app name privatlly?
https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately

[2019-02-25 23:07] ivana61 commented on #719
@alrod, when I go to the app root I get "Forbidden You don't have permission to access / on this server."

Session Id: 4cb5e284d6304ea78863fcb6885e8950
Timestamp: 2019-02-25T23:04:02.300Z
West Europe

[2019-02-26 00:02] ColbyTresness commented on #385
Closing this due to inactivity/this is likely fixed, if necessary please reopen.

[2019-02-26 00:02] #385 closed

[2019-02-26 00:03] ColbyTresness commented on #432
@mhoeger do we document this?

[2019-02-26 02:19] alrod commented on #719
@ivana61, is "Session Id: 4cb5e284d6304ea78863fcb6885e8950" from "portal red bubble"?

If you can't get the id from the function logs you can share the app privately using:
https://github.com/projectkudu/kudu/wiki/Reporting-your-site-name-without-posting-it-publicly
Both "Sharing partial information" or "Sharing via a dummy site" work

[2019-02-26 07:53] ivana61 commented on #719
@alrod, Yes that was from the red error bubble. here is my partial information, subscription: 0494........d60a3, function name: nmb.....tion and there is a text file in \home\logFiles\temp.txt.

[2019-02-26 12:53] martinhocosta88 opened #1132 "RSA FromXMLString Error 500"
I've writen an AzFunction in C# to create a Hash  from a string coming from Dynamics NAV.
The code is working and generates correctly the hash but if I try to initialize the privateKey String using the following I get error 500:

privKey="string privKey = "<RSAKeyValue><Modulus>privatekeydata.... close tags";
RSACryptoServiceProvider rsaPrivate = new RSACryptoServiceProvider();
rsaPrivate.FromXmlS

[2019-02-26 20:59] paulbatum opened #1133 "Document that local zip performs better than external zip"
Regarding this document:
https://docs.microsoft.com/en-us/azure/azure-functions/run-functions-from-deployment-package

Current data indicates that "local zip" (i.e. `WEBSITE_RUN_FROM_PACKAGE=1`) provides better cold start performance than "external zip" (i.e. `WEBSITE_RUN_FROM_PACKAGE=https://...`). This document should explain this so that users can make an informed decision.

[2019-02-27 04:06] jeffhollan commented on #328
This is slightly different.  What we are tracking is an ask to let you limit the amount of instances your app will scale out to.  We also are tracking plan models to allow you to pay per instance instead of pay per execution so you can control cost with a combination of both of those.

However the specific ask is around almost a trigger on bill.  So I'm keeping it open in case that's the ask.  Lik

[2019-02-27 04:13] jeffhollan commented on #986
I think this is still a valid ask. Going to assign to @ggailey777 and @asavaritayal for now to chat about how this should show up.  It is a very popular trigger that has no docs - even if the docs reference that it's powered by Event Hubs and what properties to expect.  Feel free to ping this issue once a DevOps item is created in docs board as that's likely best place for this ask to live.

[2019-02-27 04:16] jeffhollan commented on #1008
Is this issue resolved? Wondering if we can close or given the mitigation if we should continue to track

[2019-02-27 04:16] jeffhollan commented on #1019
[Here's the blog post on the new feature](https://medium.com/statuscode/getting-key-vault-secrets-in-azure-functions-37620fd20a0b)

[2019-02-27 04:16] #1019 closed

[2019-02-27 05:39] jeffhollan commented on #210
@ColbyTresness are you going to track this?  Per other thread on how if you are using `WEBSITE_RUN_FROM_PACKAGE={externalURL}` you need to manually sync triggers to get it to work at all. So in order to document that deployment gesture we'll need to reference some doc that explains what call they need to make and what it does.  I'm not a huge fan either FWIW but it is what it is.

Let me know - ex

[2019-02-27 07:28] jeffhollan commented on #299
Adding a link to where this work is being tracked.  I don't want to close this issue just because so much good history, but work is being tracked here:

https://github.com/azure/azure-functions-host/issues/3736

[2019-02-27 07:36] jeffhollan commented on #478
A few releases have gone out since this issue was created.  Does this still occur?

[2019-02-27 07:42] jeffhollan commented on #972
We're working on this now and work is being tracked here. I'm going to close this issue just so we don't have too many duplicate issues across repos.  Progress is being made though (was on a few emails about progress today 😄)

https://github.com/azure/azure-functions-host/issues/3736

[2019-02-27 07:42] #972 closed

[2019-02-27 09:14] WayneMcRae commented on #478
It is still happening for me.  Azure Functions and Web Jobs Tools (15.10.2046.0; 17/10/2018) and Visual Studio 2017 (Version 15.9.7; VisualStudio.15.Release/15.9.7+28307.423; Microsoft .NET Framework; Version 4.7.03190)  My project is targeting .NET Core 2.2.  The project originally published the correct function.json.  None of the updates have fixed the issue.  I haven't tried it with VS 2019 yet

[2019-02-27 10:05] brandonh-msft commented on #890
done! [created here](https://feedback.azure.com/forums/355860-azure-functions/suggestions/36968170-geo-availability-integration-a-la-cosmosdb-for-con)

[2019-02-27 10:05] #890 closed

[2019-02-27 17:36] brettsam commented on #1008
@will-beta found a workaround (using IAsyncCollector), but this is still an open question. I"m not sure why a Queue ICollector was creating so many threads while an IAsyncCollector was not.

We should look into it, but b/c there's a workaround the priority went down a bit...

[2019-02-27 18:57] ColbyTresness commented on #210
I'll do it.

[2019-02-27 19:26] ankitkumarr commented on #535
@pragnagopa, I think we are missing documentation for TypeScript stuff that just got announced. I can work with @ColbyTresness to have that updated.

We are missing `--no-bundler` documentation there for Python publishing flow, but @asavaritayal has specific documentation for that [here](https://aka.ms/func-python-publish).

On a quick look, the commands that are there there look updated to me. Al

[2019-02-27 19:32] ggailey777 commented on #986
[This work item](https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1361771) is currently assigned to @ColbyTresness

[2019-02-27 19:52] pragnagopa commented on #535
Thanks @ankitkumarr . Can you please create individual issues in core tools repo for  `--no-bundler` and durable and close this issue?

[2019-02-27 20:03] ColbyTresness commented on #986
Per the thread I started offline I don't think this should be assigned to me. Lets figure it out plans there and come back to this.

[2019-02-27 20:57] zmarty commented on #1127
Yet another update: Whenever we **manually** queue refreshing more items using Azure Functions, we consistently still hit this port limit. The machines are otherwise fine, CPU usage and RAM is low.

**It seems we are hitting some artificial and small limit for the number of outgoing connection. How can we adjust this limit?**

@alexkarcher-msft @tohling

[2019-02-27 21:42] ColbyTresness commented on #986
@craigshoemaker

[2019-02-27 21:48] zmarty opened #1134 "Cannot find zip dpeloyments from Visual Studio in App Service plan Activity Log"
**Azure Functions 2.0**

We deploy our code using the Publish functionality in Visual Studio. We always perform **zip** deployments.

**Expected**: Clicking on Activity Log in App Service plan or under Activity Log of specific app lists information about **zip** deployments such as deployment time.
**What happens**: Deployments are not listed.

[2019-02-27 22:01] zmarty commented on #1127
The graph below shows the maximum number of connections. Each line is one of our apps, all apps are in the same App Service Plan. As you can see, it all goes sideways when we hit 4K max connections. I assume this is a hard limit that you could increase with the directions in the link I provided above?

![Max Connections graph](https://i.imgur.com/xQn2qRW.png)

[2019-02-27 22:22] zmarty commented on #1127
More interesting findings. In the graph below, **each** line is the max number of connections **for a server instance**. All the data in the graph is for a single app in the app service.

The graph seems to suggest that when we receive a bunch of events from Event Grid, for some reason only a single machine receives and processes most of the event traffic. Is this expected? If the traffic would be

[2019-02-27 22:28] mhoeger commented on #478
@WayneMcRae - can you check the version of `Microsoft.NET.Sdk.Functions` in installed nuget packages? It should be >= [1.0.8](https://www.nuget.org/packages/Microsoft.NET.Sdk.Functions/1.0.8).

![image](https://user-images.githubusercontent.com/8888531/53527445-d3d7fc00-3a9b-11e9-9b1a-62f173fa2517.png)

[2019-02-27 23:20] alexkarcher-msft commented on #1127
These limits all line up with the [published connection limits of the platform.](https://blogs.msdn.microsoft.com/appserviceteam/2018/03/01/deep-dive-into-tcp-connections-in-app-service-diagnostics/)

The maximum connection limits are the following:
* 1,920 connections per B1/S1/P1 instance
* 3,968 connections per B2/S2/P2 instance
* 8,064 connections per B3/S3/P3 instance

This limit cannot be ra

[2019-02-27 23:35] zmarty commented on #1127
Thanks @alexkarcher-msft.

1) If I understand correctly, even though we picked the App Service plans and even though we therefore use "dedicated" VMs, we are still limited by the load balancers which sit outside our App Service plan and feed traffic to our machines? If yes, that is problematic since even when we have a large number of incoming connections, our machines are pretty idle. So we canno

[2019-02-28 00:22] zmarty commented on #1127
It seems the Event Grid load balancing affinity is for some reason done per function name. If I have two functions that receive Event Grid events, it seems that all the calls for one of the functions have affinity to a machine, then all of the calls for the second function have affinity to another machine in our pool. This is still obviously not good, but maybe it helps in debugging the issue.

[2019-02-28 08:15] jeffhollan commented on #1133
docs merged in

[2019-02-28 08:15] #1133 closed

[2019-02-28 09:03] WayneMcRae commented on #478
Ah, that worked.  I was still using 1.0.7.  After upgrading to 1.0.25 it is working fine.  Thank you, Marie.  I really appreciate your help.

[2019-02-28 14:45] Dan-cws opened #1135 "Azure Function extention update fails"
**Issue**
Manual update of Azure Function and Web Jobs Tools extention fails with error "This extension is already installed to all applicable products".

**Software versions**
OS: Windows 10 Pro.
Visual Studio: Professional 15.9.7
Extention version before update: 15.0.30923.0

*Workaround*
Delete these directories as explained here: https://stackoverflow.com/questions/54243585/azure-functions-and

[2019-02-28 15:47] james1293 commented on #309
Can you put a star in the route variable, like this?

[code]

[2019-02-28 21:36] badcop666 commented on #889
I have this problem currently. I have resorted to deleting the function app service and recreating it.
This is poor - zero indication of what the problem is.
If this is caused by some sort of naming conflict between previously deployed functions and renamed or added functions - then I am unimpressed - since this is something that happens every single day during development.
I would like to see a M

[2019-02-28 23:47] mhoeger commented on #478
No problem @WayneMcRae :) Glad your issue is resolved!!

Closing this issue - if anyone is still experiencing it, please check the version of `Microsoft.NET.Sdk.Functions` in installed nuget packages. It should be >= [1.0.8](https://www.nuget.org/packages/Microsoft.NET.Sdk.Functions/1.0.8).

![image](https://user-images.githubusercontent.com/8888531/53527445-d3d7fc00-3a9b-11e9-9b1a-62f173fa2517.pn

[2019-03-01 21:21] mhoeger opened #1137 "Support tilda targeting of latest major version for WEBSITE_NODE_DEFAULT_VERSION"
Fix:
 - Kudu: https://github.com/projectkudu/kudu/issues/2933
 - DWAS: marie/suwat have context

[2019-03-02 00:25] #529 closed

[2019-03-02 00:31] #536 closed

[2019-03-02 00:31] #209 closed

[2019-03-02 10:50] rasmuschristensen commented on #847
A small note to the steps you make in the build pipeline. If you forget to uncheck the **Prepend root folder name to archive paths** The Run from package deployment will work fine, and the zip package also gets deployed to the SitePackages location. But your functions will never be able to run as there now is this extra folder level before the functions files are located. Maybe a note at the deplo

[2019-03-02 16:17] jeffhollan commented on #847
Thanks - that's something @dariagrigoriu can likely help track as we look to how we can simplify / document / template build and release actions for functions.

[2019-03-03 10:37] ionutafloarei commented on #1114
It is properly configured. The hosted asp.net core works ok on local host IIS. I even set .UseIISIntegration() for azure function app. but the result was the same. Looks like a bug in asp.net core.

[2019-03-03 10:46] lurumad opened #1138 "Can't use Razor as a template engine in Azure Functions"
Hi folks,

I've uploaded two samples: a .NET Core 2.2 Console App and Azure Functions v2 (.NET Core). Both examples using Razor as a template engine. Console applications works fine:

![image](https://user-images.githubusercontent.com/1729519/53694073-b3fd4c80-3da9-11e9-8a68-e1fb908da569.png)

Azure Functions v2 doesn't work:

![image](https://user-images.githubusercontent.com/1729519/53694076-c71

[2019-03-04 07:48] ivana61 commented on #719
@alrod, any updates on how this can be fixed?

[2019-03-04 16:47] dejanberic commented on #679
What if I am forced to use Azure Functions 1.x? I still have this problem.
I am using some nuget packages which are not working on .net standard 2.0, only on .net 4.6.1

[2019-03-04 19:16] ColbyTresness commented on #679
Unfortunately this class of issue won't be fixed in 1.x, since it required a pretty big rearchitecture to resolve, which happened in 2.x. In the future, we're looking into a way to support .net 4.6.1 in 2.x, but as of right now this isn't supported.

[2019-03-05 05:58] #204 closed

[2019-03-05 18:49] m-mertz commented on #210
Can you post the necessary ARM API call here in the meantime until the official doc gets updated? Powershell is not an option for our scenario unfortunately.

[2019-03-05 20:41] mariusagur commented on #619
Same issue. Restarting VS does not help, creating new functions does not help, creating new solutions or projects does not help.
![image](https://user-images.githubusercontent.com/25456745/53836112-71956480-3f8f-11e9-809d-23aefd6c496f.png)

[2019-03-06 10:50] KieranDaviesV opened #1139 "Azure service bus output bindings Message Properties"
Hello,

I've currently being working with service bus output binding. It seems you can't add message properties and there are workarounds with using libraries but i think it would be quite ideal to avoid using some of these libraries.

Would it be possible to add extra message properties to an output binding?