[2022-09-24 18:08] vyzvam commented on #2165
as for the deprecation on December.
it is mentioned that "Extended support for .NET Core 3.1 in Azure Functions is retiring on December 3rd 2022"
Will i still be able to provision function apps using runtime version 2. My existing apps are still using proxies and expecting to use the same code for new provisioning.

[2022-09-27 03:35] madushans commented on #1777
This is usually due to a bad cron expression and not due to the parameter name.

Azure portal should consider handling this and showing a better error message.

see this answer https://stackoverflow.com/a/72514924/975887

[2022-09-27 04:46] REslim30 commented on #1696
Ok so the solution for this was to set the `node_version` in `application_stack` in `site_config` instead of `FUNCTIONS_WORKER_RUNTIME`. This allows you to set node 16 (which runs on runtime version 4.x).

[2022-09-27 20:35] drma-dev opened #2275 "static web app + azure function + cosmos db = always booting"
Well, I'm having a dilemma. as i use static web app i believe it automatically install the serveless version of azure functions.
here comes the problem. I'm accessing cosmos db and I'm having problems with performance. and just now, I noticed what the problem is: as azure functions is always initializing on each call, it makes my connection to cosmos take almost two seconds to respond, because the

[2022-09-28 12:30] ramya894 commented on #2274
@rahul-adpushup We will check this issue internally and update you with more insights.

[2022-09-28 13:17] #2275 closed

[2022-09-28 16:23] sherlynnw-fac opened #2276 "[Premium] Azure Functions Consumption and Elastic Premium plan not available in UK South"
**Describe the bug**
When trying to deploy Azure Functions Consumption and Elastic Premium Plan with UK South, creation fails.

{"code":"InvalidTemplateDeployment","details":[{"code":"ValidationForResourceFailed","message":"Validation failed for a resource. Check 'Error.Details[0]' for more information.","details":[{"code":"LinuxDynamicWorkersNotAllowedInResourceGroup","message":"Linux dynamic wor

[2022-09-29 12:34] PauloSRH opened #2277 "Deserialization of ServiceBusReceivedMessage fails when sending as input of orchestrator function"
# Description

When sending as a input to the Orchestrator function an ServiceBusReceivedMessage object the deserialization fails with the following code:

[code]
[code]

## Actual Behavior
The received object in the RunOrchestration method appears like this:
![image](https://user-images.githubusercontent.com/43373506/190631754-ba16f08e-f9e0-4f14-acef-287338714010.png)

Instead of the expected beh

[2022-09-29 13:44] ramya894 commented on #2273
@mmyers299 We will check this our next level team and update you.

[2022-09-29 14:52] Ved2806 commented on #2189
Hi @TechWatching, Does this answered your question? Can we close it as resolved?

[2022-09-29 18:02] #2254 closed

[2022-09-29 19:28] vigouredelaruse commented on #646
what is your source for this pertinent information?

[2022-09-29 19:42] Trubador commented on #646
@ishepherd mentioned this. I have no facts on this information, but I think it is probable.

[2022-09-29 19:57] metu commented on #2201
Hi @mattchenderson sorry for taking so long to respond myself.

I unfortunately don't have a support ticket (long story but happy to explain it to you in private).

So the issue just occurred today again. This time it was logged that an azure infrastructure upgrade happened at 1pm UTC, and a few minutes after the upgrade started our App Service started throwing connection string errors i.e. unable

[2022-09-29 20:29] DCPDamon commented on #1882
I've had a case open for a month, and I've lost count of the emails back and forth with support. I'm told they're escalating my case to so I can talk to a tech lead about it next week.  I did a ton of trial and error and dialed in what I believe is the current minimum required permissions.  You need Reader on the Function App and Application Insights, and you need Microsoft.Web/sites/Write on the

[2022-09-30 04:20] ishepherd commented on #646
@vigouredelaruse sorry I have no source on this. Just conversations with people in Azure 2-3 years ago.

[2022-09-30 05:50] ramya894 commented on #2273
@fabiocav can you have a look into the above issue give your answer.

[2022-09-30 15:02] warleyc2009 commented on #2248
I had this same problem.

I reseted configurations in Key Vault removing and adding again [Get, List] permissions at [Access Policies] options.

After this, its started to work.

[2022-10-01 06:10] rahul-adpushup opened #2278 "[Premium] How multiple message processed by single azure function instance in storage queue triggered function"
**Describe the bug**
I am using a premium plan for the azure function. As in the premium plan, if scale-out is needed, it'll launch a new VM.  All the dependencies of functions will be installed upon that VM.

As mentioned in this doc -> https://learn.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-queue?tabs=in-process%2Cextensionv5%2Cextensionv3&pivots=programming-language-j

[2022-10-03 08:20] #2276 closed

[2022-10-03 08:22] sherlynnw-fac opened #2279 "[Premium] Azure Functions Consumption and Premium Plans not available in UK South"
**Describe the bug**
When trying to deploy Azure Functions Consumption and Elastic Premium Plan with UK South, creation fails.

{"code":"InvalidTemplateDeployment","details":[{"code":"ValidationForResourceFailed","message":"Validation failed for a resource. Check 'Error.Details[0]' for more information.","details":[{"code":"LinuxDynamicWorkersNotAllowedInResourceGroup","message":"Linux dynamic wor

[2022-10-04 13:11] Ved2806 commented on #2247
Hi @Francisco-Gamino Could you please help with this issue?

[2022-10-04 13:29] Ved2806 commented on #2198
Hi @Francisco-Gamino, could you please help with this issue?

[2022-10-04 17:16] Francisco-Gamino commented on #2198
Tagging @AnatoliB @michaelpeng36 and @MadhuraBharadwaj-MSFT

[2022-10-04 17:22] Francisco-Gamino commented on #2198
Hello @antonGritsenko -- Could you please describe the scenario you are trying to enable? Thank you.

[2022-10-05 13:32] fardarter commented on #2222
So this is doable if you use `WEBSITE_RUN_FROM_PACKAGE` from a storage upload.

[2022-10-05 13:44] Quixotical commented on #2222
@fardarter
I saw that option but [this azure doc](https://learn.microsoft.com/en-us/azure/azure-functions/run-functions-from-deployment-package#considerations-for-deploying-from-a-url) made me hesitant to use the URL option. It seems like there's a lot of drawbacks to it. Have you noticed anything w/ cold starts, or having to handle manually syncing triggers?

[2022-10-05 13:50] marnixcox opened #2280 "Moving from Functions Proxies to API Management"
We are already using API Management in combination with Functions.

From the API Management policies the Function is called by using the configured Functions Proxies rules. The Functions component is linked to Hybrid Connections to establish cloud on-premises connectivity. Proxies/routing rules work very well in combination with Hybrid Connections functionality.

As API Management does not provide

[2022-10-05 20:03] antonGritsenko commented on #2198
@Francisco-Gamino I thought it quite clear :) I want to use Exchange PowerShell module in Azure Functions. Exch cmdlets can be used only via remoting.

[2022-10-05 21:07] Francisco-Gamino commented on #2198
@antonGritsenko -- To retrieve the token from Exchange, have you consider about using a PowerShell function? For example, you could create an http trigger to return the token from Exchange. Alternatively, if need to implement you solution in .Net, then I will tag someone from the PowerShell team to provide you further guidance.

[2022-10-06 08:05] ramya894 commented on #2277
@PauloSRH Please find the links below for the above issue.
https://stackoverflow.com/questions/28637054/error-while-deserializing-azure-servicebus-queue-message-sent-from-node-js-azur
https://abhishekrlal.com/2012/03/30/formatting-the-content-for-service-bus-messages/

If you still need any help, please provide us the function app name, invocation Id and time stamp details so that we can investiga

[2022-10-06 08:17] ramya894 commented on #2278
@rahul-adpushup Function app will be scaled out only when the single instance is fully utilized, please go through the below link for more information.
https://learn.microsoft.com/en-us/azure/azure-functions/functions-premium-plan?tabs=portal

[2022-10-06 08:57] ramya894 commented on #2279
@sherlynnw-fac We are able to create the function app(linux) without any error in UK south region, please reopen the issue if you still need help.
https://ms.portal.azure.com/?feature.canmodifystamps=true&WebsitesExtension=canary&feature.fastmanifest=false&nocdn=force&websitesextension_functionsnext=true&WebsitesExtension_useReactFrameBlade=true&websitesextension_newchangeasp=true&feature.fullscre

[2022-10-06 09:02] ramya894 commented on #2280
@marnixcox We will discuss this internally and update you

[2022-10-06 12:30] ajcvickers opened #2281 "When EF7 RC is referenced from a Function App, the app throws a runtime error on startup"
Moved from https://github.com/dotnet/efcore/issues/29123 since we failed to get any input there.

---

A minimal reproduceable repo is here: https://github.com/elninoisback/ef7rc-fnapp-issue

The following error is thrown in the console when the function app startsup. It goes away when you remove the ef core dependancy,

`The 'Function1' function is in error: Could not load file or assembly 'Micro

[2022-10-06 12:31] ajcvickers commented on #2281
/cc @elninoisback

[2022-10-07 04:55] SeaDude commented on #1987
I'm getting this error for some reason too...

[code]

**Opened a ticket [here too](https://github.com/Azure/azure-functions-extension-bundles/issues/206)

- Besides adding `[2.8.4, 3.0.0)` to `host.json` `extensionBundle` and updating `Azure Function Core Tools`, **how do I troubleshoot this?**

![image](https://user-images.githubusercontent.com/8636973/194470621-9927fdbe-f787-4570-83e0-c1b570cbe

[2022-10-07 16:09] RockyMM commented on #2248
@warleyc2009 thanks for the hint. Basically I had the same problem.

[2022-10-07 19:32] jhnguyy opened #2282 "Azure SDK 4.1.3 uses vulnerable .dlls Microsoft.AspNetCore.Http.dll@2.2.2"
We've migrated to .NET 6.0 on Azure Functions, but our service scanning tools have flagged our build as vulnerable. It looks like this is because we have a reference to Microsoft.AspNetCore.Http.dll and Microsoft.AspNetCore.Http.Routing.dll through the Azure Functions SDK. Could we have help getting this updated? For reference, this is a vulnerability analysis on the library from 2020. I understan

[2022-10-10 20:56] kashifkhan opened #2283 "partition_key not showing up in azure.functions.ServiceBusMessage"
Originally posted by @dobizz over [here](https://github.com/Azure/azure-sdk-for-python/issues/26715)

- **Package Name**: azure.functions.ServiceBusMessage
- **Package Version**:
[code]
- **Operating System**: Windows 10 Pro (Build 19044.2006)
- **Python Version**:  3.9.0

**Describe the bug**
When sending messages to a partitioned service bus queue and using a service bus trigger, the `partition_

[2022-10-11 15:34] ramya894 commented on #2280
@kulkarnisonia16 Could you please have look into this issue.

[2022-10-12 07:07] ramya894 commented on #2282
# Dependency on ASP.NET 2.2 #799

[2022-10-12 07:11] ramya894 commented on #2282
@jhnguyy the issue Dehttps://github.com/Azure/azure-webjobs-sdk-extensions/issues/799 has not closed, there will be an update on this soon, this has been added as a new project on azure function-host.

[2022-10-12 10:33] PeterAndrewGilbert commented on #2229
Hi @Ved2806 and @vrdmr, I can confirm seeing the same thing, using Python 3.8 runtime in Azure Functions Premium.

Any updates on a fix?
Thanks

[2022-10-13 15:02] #2198 closed

[2022-10-13 16:39] mkp-bartsch opened #2284 "Event Hub Trigger does not receive events after second login after restarting a function"
Hello,
to detect new files on an Azure FileShare, we send events to Event Hubs using Azure Monitor and process them using Azure Functions.

So:
Az Monitor -> Azure Event Hub -> Azure Functions.

To execute the Azure Function, an EventHub trigger is used. In the function.json, a Consumer Group is specified to be used by the Azure Function. So $Default is not used. When the Function is started, then

[2022-10-16 15:02] #2282 closed

[2022-10-16 19:25] frbar commented on #2248
Same issue here. Switching to Windows, still on Consumption, "solves" the problem.

No luck with reseting configuration, removing/add permissions, identities, etc...

[2022-10-17 01:02] sengiv commented on #1595
@vijayrkn nice & simple solution
This has been tested working in VS 17.4.0 Preview 3.0

[2022-10-17 13:50] ajcvickers commented on #2281
@ramya894 Note that I transferred this issue on behalf of a customer.

@elninoisback Please see the response from @ramya894 above.

[2022-10-17 22:02] sofiaxtdev commented on #2183
I got frustrated a today because can't execute the "dotnet ef dbcontext scaffold Name=ConnectionStrings:xyz" command.
The exception thrown was "A named connection string was used, but the name 'ConnectionStrings:xyz' was not found in the application's configuration. Note that named connection strings are only supported when using 'IConfiguration' and a service provider, such as in a typical ASP.NE

[2022-10-18 08:19] cr3wdayt5p opened #2285 "EasyAuth broken – Cannot add "loginParameters" (except for provider "aad")"
The current implementation of EasyAuth on Azure Functions is broken. It is not possible to add `loginParameters` to the configuration for identity providers (except for Microsoft / "azureActiveDirectory").

Controlling the additional query parameters for the OAuth authentication flows is extremely important when creating great user experiences. In our case we need to add `prompt=select_account` su

[2022-10-19 09:00] ramya894 commented on #2285
@cr3wdayt5p we will check this issue with our next level team and update you.

[2022-10-19 21:06] swasun99 opened #2286 "Setting .net version as v6.0 doesnt work from template"
New V4 app or existing V3 app migrated to V4: Migrated to V4

Declared a new param with default value as v6.0 as below

    "netFrameworkVersion": {
      "type": "string",
      "defaultValue": "v6.0",
      "metadata": {
        "description": "The .net framework version"
      }
    },

Set the value in the properties of the azure fn app **(in bold)** as below

{
      "type": "Microsoft.Web/si

[2022-10-20 17:30] swasun99 commented on #2286
Looks like moving it inside siteconfig worked instead of having it in properties.

[2022-10-20 17:30] #2286 closed

[2022-10-20 18:00] BijanSafai opened #2287 "Using byte[] input binding type for azure function service bus trigger in batch de-queue mode"
My team and I have been developing an azure functions based service leveraging the service bus trigger extension.

The messages we are dequeuing from the service bus have been compressed so we deque them as byte[] (as specified in the docs here: https://learn.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus-trigger?tabs=isolated-process%2Cextensionv5&pivots=programming-lang

[2022-10-20 18:14] Slukad commented on #646
I can't believe that, after years of this issue being open, there's not a single answer if this feature is going to be included or not in the roadmap. This only shows lack of transparency on a very attractive service in theory but really useless in reality for production workloads since VNET integration is a must

[2022-10-21 10:35] ramya894 commented on #2287
@BijanSafai We will check this issue with our next level team and update you.

[2022-10-21 17:52] BijanSafai commented on #2287
Thanks so much!

[2022-10-21 17:52] BijanSafai commented on #2287
Thanks so much!

[2022-10-21 17:52] BijanSafai commented on #2287
Thanks so much!

[2022-10-21 17:52] BijanSafai commented on #2287
Thanks so much!

[2022-10-22 15:07] elninoisback commented on #2281
I don't think the mentioned SO addresses my issue. Infact, my issue is pretty basic, you create a new fnapp, refer the new ef core and it doesn't run (locally). I don't have any hosted ones to let you check the logs, this all happens locally.

[2022-10-22 18:30] bzbetty commented on #2281
For me it worked by switching to dotnet-isolated (https://github.com/Azure/azure-functions-dotnet-worker/tree/main/samples/FunctionApp) fair amount of work but likely needed until functions upgrades some of its core dependencies

[2022-10-24 03:33] elninoisback commented on #2281
Yeah, that's exactly what I've been doing till this point. It's too much work though. (I mentioned it here: https://github.com/dotnet/efcore/issues/29123#issuecomment-1250317693)

[2022-10-24 10:31] gt-adam opened #2289 "Azure Function V4 Http Trigger - 503 Service Unavailable Intermittent Issue"
One of our Azure Functions (Http Trigger) is returning 503 service unavailable to us intermittently when being called by our service bug trigger function and we are unable to diagnose the exact root cause of this issue. Would it be possible for you to examine why this response is being returned to us?

The most recent 503 errors occurred at:

- Oct 23, 2022 @ 18:05:12.218 UTC
- Oct 22, 2022 @ 08:0

[2022-10-24 13:02] Dav-id-V commented on #1777
I can confirm. Since we changed the code to ([TimerTrigger("0 0 */6 * * *", RunOnStartup = false)] TimerInfo _) instead of ([TimerTrigger("0 0 */6 * * *", RunOnStartup = false)] TimerInfo myTimer) the trigger stopped working and our function was no longer called. Once we changed back to "TimerInfo myTimer" the trigger function started working again.

[2022-10-25 06:15] RJJ95 opened #2290 "Deployment keep failing"
Hi there,

I've created a Linux Function App in a Consumption plan. I'm currently deploying using a connection to Github. For some reason every time I'm trying to deploy it fails with the following message:

Generating summary of Oryx build
Deployment Log file does not exist in /tmp/oryx-build.log
The logfile at /tmp/oryx-build.log is empty. Unable to fetch the summary of build
Deployment Failed.

[2022-10-25 07:11] ramya894 commented on #2290
@RJJ95 Please use the below sample SO link for more information.
https://stackoverflow.com/questions/72554813/unable-to-deploy-basic-example-httprequest1-to-azure-function-using-vscode-pytho
If you still face the issue, please comment with the error msg you receive,

[2022-10-25 07:40] RJJ95 commented on #2290
@ramya894 , thanks for your reply. Unfortunately I already tried the mentioned options. I see the following message in the deployment logs:

Successfully parsed SCM credential from publish-profile format.
Using SCM credential for authentication, GitHub Action will not perform resource validation.
Successfully acquired app settings from function app (with SCM credential)!
Will archive . into /home/

[2022-10-25 14:08] RJJ95 commented on #2290
When I use a Windows OS it works, but I need the Linux one unfortunately.

[2022-10-25 15:35] ramya894 commented on #2285
@Hamster-Huey Could you please have look and help on the above issue for solution.

[2022-10-25 16:18] RJJ95 commented on #2290
I found it has to do with adding the option scm-do-build-during-deployment: true. I do need this to be true, so I added a couple of other options. This is my semi-auto generated build yaml for using Github actions:

[code]

Now when I run this it also fails for some reason. I saw some other thread saying something about the Azure/functions-action@v1 still switching scm-do-build-during-deployment:

[2022-10-25 17:51] RJJ95 commented on #2290
One more thing, I also added the following app settings to my function app:
- ENABLE_ORYX_BUILD: true
- SCM_DO_BUILD_DURING_DEPLOYMENT: true
- WEBSITE_RUN_FROM_PACKAGE: 0

What should I try?

[2022-10-25 21:28] MindForks commented on #1254
The same issue still exists one year later. Is anyone found a fix expect workaround with the time trigger ?

[2022-10-25 21:42] jwisener commented on #1254
did you trying naming your servicebus connection string: **AzureWebJobsServiceBus**

[2022-10-25 23:06] xsurfer commented on #2166
is there any update on this issue? I am facing the same issue while using net6 and function app v4. Thanks

[2022-10-25 23:19] cachai2 commented on #646
Hi everyone, thank you for the continued feedback. Agreed with a lot of the overall pain points folks have expressed on this thread. We're evaluating this from the product side.

[2022-10-26 00:20] jwisener commented on #1254
That looks right to me.

On Tue, Oct 25, 2022 at 4:59 PM Mike ***@***.***> wrote:

[2022-10-26 02:22] jwisener commented on #1254
I think we also ran into an issue where we had multiple app instances
(azure function apps) they all had the same ‘blob storage location’. If I
remember correctly (was so long ago), when one instance would spin up, we
would lose the functions in the other function app instance (aka stop
working, functions seem to disappear). It was hard to trouble shoot because
we would stop and start the instance

[2022-10-26 09:07] tiagozap commented on #385
I have run into this problem today:
- My AF is on done in VS2019 (one single DLL with the code) and pushed to Bitbucket
- In Deployment Center (Function App), I have set the repo and the branch
- Deployment Center acts when a new commit is detected, based on the log - have committed 3 fixes
- But Azure Function is still using the initial DLL

[2022-10-26 20:05] MindForks commented on #1254
My Function App has 2 funcs, both of which use Service Bus Triger. The single storage account used for this function app

[2022-10-26 23:39] jwisener commented on #1254
Sounds like you got it all setup correctly, should be working.

On Wed, Oct 26, 2022 at 3:05 PM Mike ***@***.***> wrote:

[2022-10-27 14:15] SaveliyKolesnikov commented on #2166
This occurs with [ServiceBusTrigger] after upgrading from .NET Core 3.1 / AF 3 to .NET 6 / AF 4.

[2022-10-28 13:08] thanos1983 commented on #2248
Same for me. For the moment we have switched to Windows but I was hopping that this ticket will be resolved at some point.

[2022-10-28 17:09] dinakar10m commented on #1657
Any updates on this issue?
I am using terraform, works fine for a couple of iterations then I start seeing this error.
I am using azurerm_function_app_host_keys data source to retrieve the keys but the underlying error is coming from azurerm provider.  I've tried everything suggested on GitHub - removed WEBSITE_RUN_FROM_PACKAGE, added container name containing the keys explicitly in the app settin

[2022-10-30 20:50] MacMcDell commented on #2165
We really need some support on this issue. I have read rumours that proxy support is returning to V4. We need to understand when proxy support is returning. Not being able to test functions/route paths locally is at least for me a show stopper. Can this thread please by updated.

[2022-10-31 09:02] #2281 closed

[2022-11-01 07:56] ramya894 commented on #2273
@fabiocav Can you check the above request.

[2022-11-01 13:44] Maciejszuchta commented on #2108
Same issue here VS2022, net48

[2022-11-01 14:20] ramya894 commented on #2290
@patelchandni Could you please look into the above issue. Thanks.

[2022-11-01 16:14] Ved2806 commented on #2248
Hi @mattchenderson Could you please check with this?

[2022-11-01 16:43] mattchenderson commented on #2248
Apologies I missed this before- just to confirm, is it purely an issue with status information? Are values resolving at runtime as expected? I see a few folks mentioning failed resolution, but the core error presented in the original statement seems related to status reporting.

If anyone can help me with a correlation ID, we'll dig in a bit further. https://github.com/Azure/azure-functions-host/w

[2022-11-01 16:44] patelchandni commented on #2290
@ramya894 You already have build step in your pipeline so no need for remote build. So please make these changes and redeploy:
1. Set function app settings to:
        ENABLE_ORYX_BUILD: false
        SCM_DO_BUILD_DURING_DEPLOYMENT: false
        WEBSITE_RUN_FROM_PACKAGE: 0
2. In the .yaml pipeline for functions-action set:
        scm-do-build-during-deployment: false
        enable-oryx-build: f

[2022-11-01 20:48] frbar commented on #2248
Hi @mattchenderson - Unfortunately it is not only a status information issue: values are not resolved at runtime as expected.

See here: https://github.com/frbar/azure-repro-2248

This only deploys the infrastructure, not code for the function, but is enough to reproduce the issue.

![image](https://user-images.githubusercontent.com/16399900/199337881-dde41448-47ae-4358-aaa6-9e272ee9053e.png)

[2022-11-02 02:39] bpampuch commented on #2231
Why is this even happening? I have a python based function app running in the same region/AZ as my Storage Account. There are enormous egress values and transaction counts. Quite opposite to what Consumption plan pretends to be. After a couple of http triggers for test purpose I have almost 17 GB of egress and 13k transactions. If you guys are aware of these problems (or misconfigurations, however

[2022-11-02 06:56] ramya894 commented on #2290
@RJJ95 Please make changes to your code as mentioned above and try redeploying.

[2022-11-02 07:01] ramya894 commented on #2264
@kmadof do you have inputs here.

[2022-11-02 20:29] mattchenderson commented on #2248
Quick version:
- We believe the issue to be scoped to status; Linux Consumption apps are still able to resolve secrets.
- We have a fix for the status issue checked in and pending deployment. It will unfortunately not come super quickly.
- We will continue looking into other solutions that can come faster than that deployment.

### Status information
We are still confirming, but we believe we have

[2022-11-02 21:16] #1997 closed

[2022-11-03 09:45] Ben-Ruben commented on #1277
Was looking for a solution for setting the 'Access-Control-Max-Age' in my function, this still doesn't seem possible when using the CORS settings from the portal, is this correct and if so, is there any timeline on when this will be available?

[2022-11-03 09:57] cr3wdayt5p commented on #1277
@Ben-Ruben I tried a fews weeks ago and it was not possible then. To avoid the excessive OPTIONS request I disabled CORS in the portal and I now handle the OPTION requests and CORS headers manually in my function.

It is a bit crazy that is not possible to control the 'access-control-max-age' header. It is the only thing missing from the CORS feature to make it useful in production.

[2022-11-03 15:59] Ben-Ruben commented on #1277
@cr3wdayt5p Yes, I'm trying that now as well and that route seems to work. However not sure whether I cover all that's needed for a proper CORS implementation now. Therefore I rather rely on the features provided (through the portal), but these are incomplete.

[2022-11-03 20:56] btardif commented on #1777
@fabiocav I think this needs to be routed to the runtime if we think it's still a valid issue, the 404 is not being thrown from UX layer

[2022-11-06 23:29] updateaman commented on #2197
Hi @v-bbalaiagar any updates on this?

We just recently upgraded a dotnet core 3.1 azure function to dotnet 6 and started seeing this error in the logs.

[2022-11-08 04:11] Ved2806 commented on #2134
Hi @RohitRanjanMS Could you please look into this?

[2022-11-08 21:16] thanos1983 commented on #2248
Do not close.

[2022-11-09 09:01] #2290 closed

[2022-11-09 09:01] #2264 closed

[2022-11-09 18:13] jkumar1110 opened #2294 "[Premium] The listener for function 'FuntionName' was unable to start."
I have below funtions running,
_**activityTrigger
orchestrationTrigger
activityTrigger
timerTrigger
Httptrigger**_

i feel when i added timer trigger i started getting the below issue.

_**The listener for function 'Activity' was unable to start.
The listener for function 'Activity' was unable to start. DurableTask.AzureStorage: The response ended prematurely, with at least 91 additional bytes exp

[2022-11-10 08:17] tnlthanzeel opened #2295 "cannot run function app locally after updating to dot net 7"
hi all. i have updated my function app to dotnet 7 and when i try to run the function app locally in debug mode i get the bellow error. but when i change the dotnet version to 6 it works.

Could not load file or assembly 'Microsoft.Extensions.Configuration.Abstractions, Version=7.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'. The system cannot find the file specified.'

error details be

[2022-11-10 12:13] railooforsea commented on #2295
Similar problem when using .NET  7, i get this when running locally :

Executed 'Function1' (Failed, Id=41ae3a98-8172-4d06-8203-29d9de33d42f, Duration=231ms)
[2022-11-10T12:05:09.510Z] System.Private.CoreLib: Exception while executing function: Function1. FunctionApp1: Could not load file or assembly 'System.Linq.Expressions, Version=7.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'. The

[2022-11-10 17:58] Gevil commented on #2281
Having the same problem with trying to upgrade an existing .NET6 Functions V4 app also in process hosted and updated the EF Core packages to V7 today and cant even start them anymore in debugger.

[2022-11-10 23:47] RedArrowITUK commented on #2295
I get the System.Linq.Expressions issue as well.  I'm upgrading from .NET 3.1 and had to pick .NET 6 to get it working.

I've had various issues like this in the past and had to set _FunctionsSkipCleanOutput to true in the csproj.  Has something changed in this area?

[2022-11-11 10:42] Maximum50 commented on #2023
@JV-HCA , I'm also getting the exact same error, and was trying to figure out how did this go wrong.
Even when we have configured all vnet integration and key-vault references correctly.

Feels so sad. But your post is really helpful. I'll try out your solution and post here if I manage to fix temporarily.

[2022-11-11 11:29] Maximum50 commented on #2023
ROFL,  I tried the work-around fix, and it did not work for me straight away..

So I removed and added the managed identity again, then restarted function app few times etc.
Removed the IP and added it again etc.
I have no idea what azure is doing, but suddenly started working

Logic just went out the window !

![image](https://user-images.githubusercontent.com/22293047/201331480-47c07214-82f7-426

[2022-11-11 11:54] ramya894 commented on #2294
@jkumar1110 : We will investigate the issue further and let you know the solution. Thanks.

[2022-11-11 19:20] avisra commented on #2295
I'm seeing this error when it is deployed as well

[2022-11-11 19:26] johnnyreilly commented on #2071
I've needed to refer back to @basilfx's workaround so often that I've turned it into a blog post here: https://johnnyreilly.com/debugging-azure-functions-vs-code-mac-os (credit attributed to @basilfx)

[2022-11-12 12:04] mprattinger commented on #2295
I get a similar error, no whether i run .net 6 or .net 7:
Could not load file or assembly 'Microsoft.Azure.WebJobs.Script, Version=4.12.0.0.

i tried to repair visual studio, updated the azure function tools via visual studio, updatet azure function core tools, then completely delete the core tools. But the error is still the same.

[2022-11-12 15:11] hariharan228 commented on #1595
I faced the same issue while using VS2022. None of the above solutions worked for me. Later I found out that my azure account has been logged out while creating a new publish profile. After reentering the credentials that error text was gone.

[2022-11-12 20:35] avisra commented on #2295
I had to roll back to .NET 6 for this to function properly. Seems to be related to when I have the custom FunctionsStartup (vs just main in Program.cs) using microsoft.azure.functions.extensions.

[2022-11-13 16:01] lrsperanza commented on #1458
Azure Container Apps are a new and very good answer to the needs involved in requiring Azure Functions with containers.

[2022-11-14 02:50] kshyju commented on #2295
.NET 7 support was announced only for isolated model, not for in-proc model.

https://devblogs.microsoft.com/dotnet/dotnet-7-comes-to-azure-functions/#whats-new-in-net-7-with-azure-functions

Hope this helps. If you are having trouble to switch to .net 7 in isolated model app, please open an issue in the [dotnet isolated worker repo](https://github.com/Azure/azure-functions-dotnet-worker).

[2022-11-14 16:01] onionhammer opened #2296 "Azure function reports 'AzureWebJobsStorage' as missing when configured for RBAC"
The portal reports webjobsstorage as missing even when it is configured properly with RBAC; `AzureWebJobsStorage__accountName`, etc.

![image](https://user-images.githubusercontent.com/969938/201706791-fded5ebf-450e-409a-9e52-1faa2b5075d0.png)

Related to https://github.com/Azure/Azure-Functions/issues/2244

[2022-11-14 19:05] yprabhak commented on #1657
Trying to update secret in keyvault using bicep/arm template I am getting the same error : {
  "code": "DeploymentFailed",
  "message": "At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/DeployOperations for usage details.",
  "details": [
    {
      "message": "**Encountered an error (InternalServerError) from host runtime

[2022-11-15 11:38] euangordon commented on #1530
Have they now removed this functionality? Been using it for years and suddenly can't now manually run a timer triggered function......

![image](https://user-images.githubusercontent.com/32622054/201910480-97f41611-fba3-4daa-9912-c3d42b1b2642.png)

[2022-11-15 11:42] euangordon opened #2297 "Can no longer manually run a Timer Triggered Function"
I have no idea why you have now decided to prevent us from running Azure Timer Functions manually, but it is a real step backwards....

"test is only supported for http trigger functions"

![image](https://user-images.githubusercontent.com/32622054/201910736-a8907f50-9537-4f8f-bf2f-5a1c5ca5376b.png)

Here is my use case.
1. Function runs on a timer once per week to connect to client API to fetch c

[2022-11-15 19:40] kazman71 commented on #1044
Bumping the thread.  This is a very nice feature that is BROKEN.  Evidently it used to work.  Are new features > broken old features?

[2022-11-16 14:24] challamzinniagroup commented on #1044
To my knowledge, this has never been implemented. Therefore it is not technically broken.

There was a community-produced solution for one of the legacy Function versions - but I do not believe that is functional on the new versions.

[2022-11-18 07:22] oekstrand opened #2298 "The gRPC channel URI 'http://:<port>' could not be parsed."
In VS2022, adding the nuget package **Microsoft.Azure.Functions.Worker.Extensions.ServiceBus** to a newly created Azure Function project breaks the debugging experience and I get an error 'The gRPC channel URI 'http://:7124' could not be parsed.'.

**Steps to reproduce**
1. Create a new Azure Function project in VS2022 using .net 7.0 Isolated Process
2. Select timer triggered function
3. Create
4.

[2022-11-18 07:35] ramya894 commented on #2285
@Hamster-Huey do you have inputs here.

[2022-11-18 08:50] #2298 closed

[2022-11-19 21:14] swagozaurus commented on #2116
Here's what helped me:

I moved my project to another computer where I had a newer .NET Framework 4.8.1 and I got this error.
I installed .NET Framework 4.6.2 (originally I was using 4.6.1) and it ran with no errors.

[2022-11-21 10:28] ramya894 commented on #2297
@euangordon We have verified the Test/Run option is available on azure portal, if you still face the issue please comment on the below.

[2022-11-21 12:10] ramya894 commented on #2295
closing as resolved

[2022-11-21 13:45] Kellswork opened #2301 "Migrating FUNCTIONS_EXTENSION_VERSION from V3 to V4 returns a Microsoft.Azure.webJobs.Extension.CosmosDB error"
Function App name: C#
Tools used:
New V4 app or existing V3 app migrated to V4: V3 App migrating to V4

Migrating a function app from v3 to v4 on azure cloud environment returns a cosmodb upgrade error.
I am migrating Microsoft .net core app from 3.1 to 6.0 and v3 to v4. I updated the following Nuget package for the function and it's dependencies.

`<TargetFramework>net6.0</TargetFramework>`
 `<Az

[2022-11-21 13:51] paulsmithkc opened #2302 "Cannot create Linux Consumption Plan in resource group"
1. When we attempt to create a new function app, using a Linux Consumption Plan, we are seeing the following error:
`{"code":"InvalidTemplateDeployment","details":[{"code":"ValidationForResourceFailed","message":"Validation failed for a resource. Check 'Error.Details[0]' for more information.","details":[{"code":"LinuxDynamicWorkersNotAllowedInResourceGroup","message":"Linux dynamic workers are no

[2022-11-21 14:37] Ved2806 commented on #2223
Hi @Spirch This issue has been resolved in the latest version

[2022-11-21 14:37] #2223 closed

[2022-11-22 09:23] RohitRanjanMS commented on #2134
It is always going to be a challenge due to different version of Nuget packages. Microsoft.EntityFrameworkCore.Tools  3.1.17 works well with Functions v4 but the moment you upgrade to latest version (7.0.0) it fails with the following error.
[2022-11-22T09:14:33.989Z] The 'Finish' function is in error: Could not load file or assembly 'Microsoft.Extensions.Logging.Abstractions, Version=7.0.0.0, Cul

[2022-11-23 05:17] shambhu-svyc commented on #2165
As per latest update, proxy can be re-enable using`AzureWebJobsFeatureFlags = EnableProxies ` see: https://learn.microsoft.com/en-us/azure/azure-functions/legacy-proxies

[2022-11-23 12:51] ramya894 commented on #2301
@Kellswork Please find the below blog for more information, in case the issue is not resolved please contact us again.
https://techcommunity.microsoft.com/t5/apps-on-azure-blog/issues-you-may-meet-when-upgrading-azure-function-app-to-v4/ba-p/3288983
https://github.com/Azure/Azure-Functions/issues/1987

[2022-11-23 14:55] jlocans commented on #2165
Added `"AzureWebJobsFeatureFlags": "EnableProxies"` to `local.settings.json`, but now the application won't start.

This is the log I get.
[code]

And it goes in an endless cycle trying to start.
I'm also not sure how to target the latest Function Runtime Version. I've specified `"FUNCTIONS_EXTENSION_VERSION": "4.15.0"` in local settings, but as you can see, it is still using `4.13.0.19486`

Can't

[2022-11-23 15:38] ramya894 commented on #2302
@paulsmithkc We are able to create a linux based python function app using Consumption plan in azure portal, please try to create again.
If you still face the issue kindly revert back.

[2022-11-24 09:16] jlocans opened #2303 "Can't launch project after re-enabling proxies.json"
Hello. We are rewriting v1 function app to v4 isolated process app.
Followed steps in https://learn.microsoft.com/en-us/azure/azure-functions/legacy-proxies on how to re-enable proxies.json by adding `"AzureWebJobsFeatureFlags": "EnableProxies"` to app settings, but by doing so the project won't launch anymore.

This is the log I get:
[code]

And it goes in an endless cycle trying to start.

Funct

[2022-11-24 19:23] ursaciuc-adrian commented on #646
Any updates on this?

[2022-11-25 12:08] euangordon commented on #2297
@ramya894 I can confirm that the Test / Run button has now returned back. Thank you.

But you can see from my earlier screenshot that it wasn't available on the 15th of November. Was there a reason it was not available? Please don't remove this feature!

[2022-11-25 21:51] jbeeko commented on #1530
I hope not! I did just check my portal and the functionality is still there.

[2022-11-26 04:50] alexferrari88 commented on #646
what a bummer that Azure serverless doesn't have sensible security practices in place. I'm looking into migrating to AWS after discovering this 😔

[2022-11-26 11:48] jdaloia1 commented on #2174
Any update on this thread?

I had to upgrade my functions to dotnet 6 and update the sdk functions because of build agent issues. Now my functions return 404 not found.

Thanks

[2022-11-26 22:01] cboynton-ms opened #2304 ""/admin" is an undocumented reserved word for function proxies"
I know that the Azure Function App proxies function is deprecated in v4 function apps. However, for v3 apps, if you create a function app proxy with the path of "/admin", it will not proxy the request and return a 404 error without any additional information. If you change the proxy to something other than "/admin", it will work as expected. As far as I can tell, this behavior is undocumented.

[c

[2022-11-28 03:57] lwyj123 commented on #1595
### Solution
After "re-enter your credentials" in Visual Studio account setting. I solve the problem.

[2022-11-28 14:43] ramya894 commented on #2303
@jlocans We will discuss this issue with our next level team and update you soon.

[2022-11-28 15:04] jlocans commented on #2303
Thank you. I looked more into it myself and my guess is that the problem is only because I'm not on the latest 4.15.0 version.
The logs mention `System.Reactive.Core` dll missing. I can see this dll in the 4.15.0 release, but not on 4.13.0, which is the version I'm on right now. I don't understand what I have to do to get the 4.15.0 version.

[2022-11-29 13:26] ramya894 commented on #2297
@euangordon This feature will not be removed, the issue might be the portal was unable to load the button due to traffic/network issue.

[2022-11-29 13:26] #2297 closed

[2022-11-29 15:01] #2134 closed

[2022-11-29 15:58] furier commented on #1755
Could we not be able to set custom cloud_rolename through an application setting or something and then the portal could pick up on that?

[2022-11-30 06:02] fowl2 commented on #2108
possibly related to https://github.com/Azure/azure-functions-host/issues/8401

[2022-11-30 15:02] #2301 closed

[2022-11-30 18:03] #2302 closed

[2022-11-30 18:58] zeisi commented on #2047
Proxies have been re-added in v4 but need a AzureWebJobsFeatureFlags to re-enable it

https://learn.microsoft.com/en-us/azure/azure-functions/legacy-proxies#re-enable-proxies-in-functions-v4x