[2016-10-05 15:12] mathewc opened #2 "Improve Doc for Binder and other advanced scenarios"
Original issue created by @seanfeldman here: https://github.com/Azure/azure-webjobs-sdk-script/issues/739

See http://stackoverflow.com/questions/39855409/how-do-i-use-binder-to-perform-dynamic-bindings-in-my-c-sharp-function for details, including the blob post Sean wrote :)

[2016-10-05 16:50] SeanFeldman commented on #2
Only wrote it to compensate for the missing doco :)
Thank you @mathewc so much for patiently answering my questions.

[2016-10-05 21:27] SyntaxC4 opened #3 "Ensure we mention Microservices at least once in the documentation"
As per our discussion, we should ensure that customers are aware that Microservices can be built on Azure Functions.

[2016-10-05 21:30] SyntaxC4 opened #4 "Example of Mobile Apps table with both authentication and API key"

[2016-10-05 21:31] SyntaxC4 commented on #4
[Blocked]

[2016-10-05 21:49] SyntaxC4 opened #5 "Update get started videos"

[2016-10-05 21:50] SyntaxC4 opened #6 "Add a link to the "Known Issues" page on the Wiki"

[2016-10-05 21:52] SyntaxC4 opened #7 "Quickstart/Get started UI updates"
New Photos of recent Portal updates

[2016-10-05 21:53] SyntaxC4 opened #8 "Deploy Azure Functions with ARM"
I have a sample of this here: https://github.com/SyntaxC4-MSFT/CoderCards

[2016-10-05 21:54] SyntaxC4 opened #9 "Text version of Create Azure Connected function"
This is making a "transcript" of the video version

[2016-10-05 21:54] SyntaxC4 opened #10 "Add a brief overview of how bindings work in Bindings and Triggers ref topic"
From Mathew Charles:
I’m answering questions often (like this one this morning http://stackoverflow.com/questions/38006649/configuring-notification-tag-for-azure-function) on parameter binding. I’m wondering if we have overview doc anywhere on how binding works in general. Another possibility would be for us to indicate in the templates/bindings somehow that binding parameters are supported for va

[2016-10-05 21:54] SyntaxC4 opened #11 "Add guidance on how to use App Settings"

[2016-10-05 21:55] SyntaxC4 opened #12 "Update Timer Trigger to mention TimeZones"
See this GitHub thread for more background info: https://github.com/projectkudu/AzureFunctionsPortal/issues/420#issuecomment-228893075

[2016-10-05 21:55] SyntaxC4 opened #13 "Azure Functions compute updates when DCR goes into effect"

[2016-10-05 21:56] SyntaxC4 opened #14 "Document the new $return output binding"

[2016-10-05 21:57] SyntaxC4 opened #15 "Azure Functions CLI - Local Dev Updates"
Replace the existing article: https://azure.microsoft.com/en-us/documentation/articles/functions-run-local

See CLI readme here: https://github.com/Azure/azure-functions-cli/blob/master/README.md

[2016-10-05 21:57] SyntaxC4 opened #16 "Update existing documentation pages which are missing Node.js Code Samples"

[2016-10-05 21:58] SyntaxC4 opened #17 "SaaS File/Table bindings docs"

[2016-10-05 21:58] SyntaxC4 commented on #17
Hamid is the source of truth for these. They mostly work like Blob and Table do, but there are a few things, like how the Connectors themselves work that are very different.

Also these are going to be renamed: **External File Trigger**

[2016-10-06 00:18] lindydonna opened #18 "Document NuGet restore behavior"
In the Functions runtime, NuGet restore works by comparing project.json and project.lock.json. If they match, NuGet restore is NOT performed, and the packages won't exist. So, project.lock.json should never be deployed and should be in .gitignore.

Update this article: https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-csharp#package-management

[2016-10-06 20:08] SyntaxC4 opened #19 "Create a learning path for Azure Functions"
Example: https://azure.microsoft.com/en-us/documentation/learning-paths/virtual-machines/

[2016-10-06 20:08] SyntaxC4 opened #20 "Document the functions Timeout in the Runtime Concepts document"

[2016-10-06 20:09] SyntaxC4 opened #21 "Azure Functions Monitoring Documentation"

[2016-10-06 20:09] SyntaxC4 commented on #21
This isn't specific to monitoring a Function, but does talk about monitoring a Web App with a Function: https://github.com/Azure-Samples/functions-dotnet-azure-insights-trigger

[2016-10-06 20:10] SyntaxC4 opened #22 "Update C# POCO Binding Docs"
https://github.com/Azure/azure-webjobs-sdk-script/blob/dev/sample/HttpTrigger-CSharp-Poco/function.json

[2016-10-06 20:16] SyntaxC4 opened #23 "How to use Azure Functions in Production"
There is an email thread that just started on this... I will update this thread with that conversation

Added by @lindydonna:
Examples of content to include:
- Functions should be stateless
- Use queues between functions
- Functions within an app share resources. If you're using something a Function App in production, don't add test functions to it.

[2016-10-06 20:17] SyntaxC4 commented on #16
Also - Updating the documentation to make sure everything is consistent.

[2016-10-06 20:25] SyntaxC4 opened #24 "Update Azure Functions CI/CD Article"
Article: https://azure.microsoft.com/en-us/documentation/articles/functions-continuous-deployment

[2016-10-06 20:27] SyntaxC4 commented on #10
There is a new syntax for adding random Guids, we need to add this to this doc.

[2016-10-06 20:27] SyntaxC4 opened #25 "Guidance on package management"
Update: https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-node#node-version--package-management

[2016-10-06 20:27] SyntaxC4 commented on #25
Node should have a package.json at the root of the Function App so Functions can shared cached packages. You can add a package.json at a Function level if there are version conflicts, but it should be avoided for performance reasons.

.NET does project.json at the per Function level, never at the Function App level. We do cache a package with the same version between Functions, so we don't downloa

[2016-10-06 20:28] SyntaxC4 opened #26 "Incorporate peer-review feedback on the Runtime Concepts topic"
We had other writers in Erik's org read and provide some useful feedback on the [Runtime Concepts topic](https://azure.microsoft.com/en-us/documentation/articles/functions-reference/), which was the beginning of the dev reference.

[2016-10-06 20:29] SyntaxC4 opened #27 "Event Hubs Trigger Docs"
This is published here...

https://azure.microsoft.com/en-us/documentation/articles/functions-bindings-event-hubs/

However, I need to add a couple more code examples to the reference. Should have that completed before the end of the week.

[2016-10-06 20:30] SyntaxC4 opened #28 "Nir: Update Hubs output binding example"
I was building a C# web hook that sends a notification out. The doc (https://azure.microsoft.com/en-us/documentation/articles/functions-triggers-bindings/#azure-notification-hub-output-binding) sample in C# uses an out parameter, however, when creating a web hook template we use async methods (which are the recommended way we want folks to write functions in C#) so the sample doesn’t compile. I su

[2016-10-06 20:30] SyntaxC4 opened #29 "Azure Functions compute white paper"

[2016-10-06 20:32] SyntaxC4 opened #30 "Third-Party Integration with Twilio"
* SendGrid
* Twilio

[2016-10-06 20:32] SyntaxC4 opened #31 "Azure Functions as Notification Hubs backend"

[2016-10-06 21:44] SyntaxC4 opened #32 "Comparison of Consumption vs. App Service plan features"
We've noticed that there is some confusion on the different Plan models:

![image](https://cloud.githubusercontent.com/assets/441607/19171977/6f34fce4-8bd4-11e6-9957-d3301f3b8b40.png)

Hopefully this can be clarified by Calvin or @dariagrigoriu

[2016-10-06 22:27] lindydonna commented on #32
Note that classic will be renamed to "App Service Hosting Plan". See https://github.com/projectkudu/AzureFunctionsPortal/issues/586

[2016-10-06 23:05] SyntaxC4 commented on #24
See also for CLI: https://azure.microsoft.com/en-us/documentation/samples/functions-dotnet-azure-insights-trigger

[2016-10-06 23:07] SyntaxC4 commented on #20
@christopheranderson Do we have any information on this in the Wiki?

[2016-10-06 23:11] SyntaxC4 commented on #18
See Also #25

[2016-10-06 23:11] SyntaxC4 commented on #18
Related to #24

[2016-10-06 23:18] SyntaxC4 commented on #13
@christopheranderson I'm assuming this will land for GA, in which case this will need to be a P0. Let's re-evaluate at the next sync meeting.

[2016-10-07 20:20] lindydonna opened #33 "C#: document behavior of static classes that are loaded from a shared assembly"
It's possible to have static classes in a shared assembly, where multiple function invocations share this same loaded class.

@fabiocav Can you confirm the behavior that should be documented?

[2016-10-07 20:50] fabiocav commented on #33
Although that is possible and it indeed works like that, I would discourage recommending this behavior to customers as this shared context is not guaranteed to be available (or the same) for every execution instance (due to scaling, restarts, **planned** future changes, etc.).

The recommendation should always be to have strive to have stateless functions and, when state is required, rely on an ex

[2016-10-07 21:20] lindydonna commented on #33
Thanks @fabiocav! In that case, what should we say about this in the documentation, if anything?  Other than the stateless function recommendation, that is.

[2016-10-07 21:34] fabiocav commented on #33
I would avoid any information about sharing static context. The scenario is important, so we should have documentation on how to do this properly using Redis or Storage.

[2016-10-07 21:37] lindydonna commented on #33
Closing this issue, thanks for the info!

[2016-10-07 21:37] #33 closed

[2016-10-07 22:22] lindydonna commented on #8
FYI we have 2 deployment templates in the ARM templates repo already, but needs the following changes:
- The Dedicated one needs to add AlwaysOn (as in your sample https://github.com/SyntaxC4-MSFT/CoderCards/blob/master/azuredeploy.json#L77)
- Need to use the version of Functions at RC, which will be **~1.0**

Then the doc can point to these:
- https://github.com/Azure/azure-quickstart-templates/t

[2016-10-07 22:23] lindydonna commented on #30
@wesmc7777 OneDrive personal does not work and will be removed from the list in the product.

[2016-10-07 22:24] lindydonna commented on #15
Will include Visual Studio tooling. I'll author the content and will just ask others for review.

[2016-10-07 23:22] lindydonna opened #34 "Functions best practices topic"
Examples of content to include:
- Functions should be stateless
- Use queues between functions
- Functions within an app share resources. If you're using something a Function App in production, don't add test functions to it.

[2016-10-10 18:49] wesmc7777 commented on #30
@lindydonna  We still need to cover OneDrive Business right?

[2016-10-10 18:57] lindydonna commented on #30
Yes, OneDrive Business should be included.

[2016-10-10 19:09] wesmc7777 commented on #34
@lindydonna send any other best practices you have that we want customers to keep in mind

[2016-10-10 19:12] wesmc7777 commented on #23
@SyntaxC4  @lindydonna should this be part of Functions Best Practice doc?

[2016-10-10 19:43] lindydonna commented on #23
@wesmc7777 Yes, I didn't realize we had this issue. We should merge them into one article.

[2016-10-10 19:45] lindydonna commented on #34
Duplicate of https://github.com/Azure/Azure-Functions/issues/23

[2016-10-10 19:46] #34 closed

[2016-10-10 22:46] christopheranderson commented on #7
If this needs to be split up because there is a lot of stuff, let's split up the work.

[2016-10-10 22:50] lindydonna commented on #5
Possibly an item for Glenn if he has cycles

[2016-10-12 15:56] AnteDante opened #35 "Method not found on runtime from .dll"
Hi,

I have a .dll I'm working on and using on the Azure Functions. The methods from .dll worker fine untill I added some new methods to it.
When I upload the new .dll to the bin folder I created on the Azure functions and try to use the new methods I added I get

2016-10-12T15:25:02.920 Function started (Id=xxxxxxxxxxx)
2016-10-12T15:25:03.045 Function completed (Failure, Id=xxxxxxxxxxxx)
2016-10

[2016-10-12 17:46] christopheranderson commented on #35
This is likely a host issue, if it is a bug. @fabiocav - can you confirm and then create the appropriate issue in azure/azure-webjobs-sdk-script (if there isn't one already)?

[2016-10-12 23:17] christopheranderson opened #37 "Dynamic plans Function Apps can't change their Dynamic Plans"
As the title says, Dynamic plan Function Apps can't change their Dynamic Plans. We should document this.

[2016-10-13 19:41] wesmc7777 commented on #23
@SyntaxC4  Cory can you forward me that email thread you mentioned regarding this.  It should help me scope this topic

[2016-10-17 17:46] christopheranderson opened #38 "We don't support Blob Only Storage Accounts"
We need to document in the Storage Account bindings section that we don't support Blob Only Storage Accounts.

Related:
https://github.com/Azure/azure-webjobs-sdk/issues/797

[2016-10-17 18:36] wesmc7777 commented on #27
The code examples are in the topic. Freshened the topic to include the optional consumer group trigger binding property.

https://github.com/Azure/azure-content-pr/pull/32250

[2016-10-17 18:37] #27 closed

[2016-10-18 10:08] AnteDante commented on #35
Any updates? Only solution I found was deleting the whole function app and creating it again.

[2016-10-18 18:39] fabiocav commented on #35
@AnteDante if the assembly is properly versioned (i.e. the assembly identity changes as you change the types), this should work as expected and the new version will be resolved. Otherwise; you'll need to restart the function app to resolve the assembly. Deleting the function app is not required.

[2016-10-18 21:45] lindydonna opened #39 "Explain the Azure Files dependency on the Consumption plan"
Customers may be confused when they delete a function app but keep the storage account, and their files are still there. Similarly, if they delete their storage account, they will delete all of their code. This should go in the Dynamic Compute article (https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale).

Use the text from this issue: https://github.com/Azure/Azure-Functions/is

[2016-10-18 21:57] SyntaxC4 commented on #23
@wesmc7777 I forwarded the thread internally. I think it will provide a good outline for the doc.

[2016-10-19 17:13] SyntaxC4 opened #40 "Document the Supported Locales"
We should make sure that we document what locales are available for the Azure Functions Portal if they differ from the standard Azure Portal listing of available locales

[2016-10-19 23:28] lindydonna commented on #30
Removed the OneDrive and DropBox bindings from the list, they are not P0.

[2016-10-20 00:49] lindydonna opened #41 "Ensure cross-linking to App Service articles"
There are various App Service features that work similarly in Azure Functions, should make a resources page and link out to them.

[2016-10-20 11:16] wesmc7777 commented on #28
Fixed.  I also added doc coverage for native notification support which has been added. Async code examples for APNS, GCM, and WNS native notifications along with async template examples.

 I'll add these later. Not sure which Node package we want to use.

https://github.com/Azure/azure-content-pr/pull/32436

[2016-10-20 11:17] #28 closed

[2016-10-20 12:35] aL3891 opened #42 "Plain exe or dll as a function"
Hello!

I'm fairly new to azure functions but as far as I understand it's not possible to upload a exe file and run that as a function, is that something that is planned? I really do prefer not to publish plain source code and would prefer to have deployment go though a more traditional build > package > test > deploy cycle.

I've previously used webjobs for this however they don't really feel lik

[2016-10-20 17:28] wesmc7777 commented on #30
Twilio binding doc support added here:

https://github.com/Azure/azure-content-pr/pull/32446

[2016-10-20 18:56] sandervandevelde opened #43 "Azure Functions as Notification Hubs Monitoring backend"
And with monitoring I mean support for the Event Hub compatible name/enpoint (as described in https://azure.microsoft.com/nl-nl/documentation/articles/iot-hub-operations-monitoring/)

This takes away the effort of putting StreamAnalytics/Eventhub between IoTHub and Azure Functions.

(note: This is not the same as issue: https://github.com/Azure/Azure-Functions/issues/31)

[2016-10-20 19:58] wesmc7777 commented on #23
Thanks I expect to have a draft of this one done next week to discuss by our meeting on the 27th

[2016-10-20 19:58] wesmc7777 commented on #21
I plan to have a draft of this one done next week to discuss by our meeting on the 27th

[2016-10-20 20:00] wesmc7777 commented on #22
I expect to have a draft of this one by the end of next week

[2016-10-20 20:27] SyntaxC4 commented on #22
Here is the doc that it needs to go in: https://azure.microsoft.com/en-us/documentation/articles/functions-reference-csharp/

[2016-10-20 20:28] SyntaxC4 commented on #22
This is probably a good example to show off #load if there isn't already a doc that covers this

[2016-10-20 20:30] lindydonna commented on #21
@wesmc7777 Add a big red or yellow note that explains that the monitoring tile in the main resource blade will always be empty for Dynamic Plan function. See screenshot below.

![image](https://cloud.githubusercontent.com/assets/4260261/19576794/47907f56-96c9-11e6-8003-e8dfabfcf975.png)

[2016-10-20 20:35] wesmc7777 opened #44 "Third-Party Integration with SendGrid"
Add doc support for SendGrid bindings

[2016-10-20 20:35] wesmc7777 commented on #44
@SyntaxC4  Cory I added the issue to track doc support for SendGrid

[2016-10-20 20:38] wesmc7777 commented on #44
According Mathew Charles updates to support SendGrid v3 APIs are still in progress.  We have a sample here (https://github.com/Azure/azure-webjobs-sdk-script/tree/dev/sample/SendGrid) but I can't test and document it unless I can get access to a test environment that supports it.  I'll check on doing that.

[2016-10-20 21:54] lindydonna opened #45 "Deployment slots with Functions"
Article explaining how to use it with Azure Functions

[2016-10-21 22:05] lindydonna opened #46 "Add VSTS info to CI article or link out to App Service CI article"
https://azure.microsoft.com/en-us/documentation/articles/functions-continuous-deployment/

[2016-10-24 18:10] SyntaxC4 opened #47 "Update existing documentation pages which are missing F# Code Samples"
Adding code samples for F# to existing documentation.

[2016-10-24 18:13] SyntaxC4 commented on #47
@cephalin Here is the topic for F#. We should be able to hand off some of this work to the F# team. If you could document any of the issues you were having on this it would be great!

[2016-10-25 02:03] lindydonna commented on #23
Additional things to add:

  - For .NET, if you're referencing a shared binary, put it in a common shared folder and do `#r "..\Shared\MyAssembly.dll"`.

[2016-10-25 16:49] vance opened #48 "Function app Huge I/O ~1 Million requests per day"
I noticed my bill was about $20 fatter last month... upon investigation, it was from a storage account tied to a dynamic plan Function app. This app is not used in prod. However, it had a timed function that ran every five minutes or so as an experiment to help Azure resolve another issue. https://github.com/Azure/azure-webjobs-sdk-script/issues/298#issuecomment-244992601

I'm wondering if there i

[2016-10-25 21:54] wesmc7777 commented on #10
Additional material to reference for this from Donna : https://github.com/Azure/azure-webjobs-sdk-script/releases
In particular: https://github.com/Azure/azure-webjobs-sdk-script/releases/tag/v1.0.0-beta1-10307

[2016-10-25 22:54] lindydonna commented on #47
@dsyme @sylvanc Some of our doc pages are missing F# code samples. @cephalin will add the items as he finds them to this issue.

[2016-10-25 23:15] lindydonna commented on #48
Can you share your function app name, either directly or [indirectly](https://github.com/projectkudu/kudu/wiki/Reporting-your-site-name-without-posting-it-publicly)?

[2016-10-25 23:24] lindydonna commented on #23
Another one from a bunch of bugs we saw: using .Result is generally very dangerous and can cause deadlocks. See https://github.com/Azure/azure-webjobs-sdk-script/issues/774

[2016-10-26 02:41] vance commented on #48
I filed an actual support ticket, will update.

[2016-10-26 15:46] cephalin commented on #47
Mobile Apps binding, both input and output:
https://github.com/cephalin/azure-content-pr/blob/bindings/articles/azure-functions/functions-bindings-mobile-apps.md

From: Donna Malayeri [mailto:notifications@github.com]
Sent: October 26, 2016 12:55 AM
To: Azure/Azure-Functions <Azure-Functions@noreply.github.com>
Cc: Cephas Lin <Cephas.Lin@microsoft.com>; Mention <mention@noreply.github.com>
Subject

[2016-10-26 23:32] lindydonna commented on #10
@wesmc7777 Please document these advanced binding options as well: https://github.com/Azure/azure-webjobs-sdk-script/wiki/Http-Functions and https://github.com/Azure/azure-webjobs-sdk-script/wiki/host.json

[2016-10-27 08:54] wesmc7777 commented on #10
@lindydonna  @mathewc   Is support for the route property new and deployed publicly?  I'm seeing two problems while testing this.

1.) Using the nullable integer type as Mathew stated fails to compile in the portal with the following exception:

2016-10-27T08:47:04.640 Microsoft.Azure.WebJobs.Host: Error indexing method 'Functions.HttpRouteTriggerCSharp'. mscorlib: GenericArguments[0], 'System.Nul

[2016-10-27 11:08] wesmc7777 commented on #10
@lindydonna  @mathewc   Nevermind, its working correctly after making sure my runtime was ~0.7

[2016-10-27 12:25] wesmc7777 commented on #10
Everything exception host.json configs included with this PR:

https://github.com/Azure/azure-content-pr/pull/32800

For the host.json configurations, I'm wondering if we should put those in the [Runtime Concepts topic](https://azure.microsoft.com/en-us/documentation/articles/functions-reference/) instead of Bindings and Triggers Reference

[2016-10-27 12:25] wesmc7777 commented on #14
https://github.com/Azure/azure-content-pr/pull/32800

[2016-10-27 15:16] rachelappel commented on #9
First draft is up
https://acom-sandbox.azurewebsites.net/en-us/documentation/articles/functions-create-an-azure-connected-function/?rnd=1

[2016-10-27 15:26] rachelappel commented on #19
Text and links are complete, but I am waiting on where to get the tool to create the tree structure found in learning path docs.

[2016-10-27 20:06] #30 closed

[2016-10-27 20:07] lindydonna commented on #10
@wesmc7777 Agreed!

[2016-10-27 20:21] lindydonna commented on #17
Changing to P1 since this will be in preview

[2016-10-28 02:06] brettsam commented on #23
Some other things that have come up recently when talking with customers. These really apply to any cloud computing in general:

- Write functions to be idempotent. Notably, timers. For example, if you have something that absolutely must run once a day, write it so it can run every minute with the same end results. Make it so that it no-ops if that day's work is done or that if the previous run cr

[2016-10-31 16:47] cephalin commented on #16
Updated docs are now staged at:
- http://acom-sandbox.azurewebsites.net/en-us/documentation/articles/functions-bindings-documentdb/
- http://acom-sandbox.azurewebsites.net/en-us/documentation/articles/functions-bindings-event-hubs/
- http://acom-sandbox.azurewebsites.net/en-us/documentation/articles/functions-bindings-http-webhook/
- http://acom-sandbox.azurewebsites.net/en-us/documentation/articl

[2016-10-31 17:42] SyntaxC4 commented on #9
In "Step 3" of the Queue Trigger, could you replace the quotes around the Cron expression, and instead use an inline code block? This will make it much easier to be copied and also make it stand out to the reader

[2016-10-31 17:49] SyntaxC4 commented on #9
There is one formatting issue, where the ordered list breaks back to 1. instead of  5. If we could get that addressed to avoid confusion, that would be great as well.

[2016-10-31 17:54] SyntaxC4 commented on #11
Hi Rachel - Do you have a staging link for this one?

[2016-10-31 17:57] SyntaxC4 commented on #10
@lindydonna - Are you able to review this article and place in done when edits, if needed are complete?

[2016-10-31 18:18] SyntaxC4 commented on #21
The App Service CLI has the Log Tailing capabilities which work for Functions: (in ASM)

```azure site log tail -v <site-name>```

[2016-10-31 18:21] SyntaxC4 commented on #7
We have an issue here as 0.7 changed a bunch of things that we have a lot of customer feedback about. There is a meeting this after to figure out what we need to address GA.

[2016-10-31 18:22] SyntaxC4 commented on #19
There is a series of guidelines from ACOM on how to create this in the fancy hierarchical drawing that the other items use.

[2016-10-31 18:22] SyntaxC4 commented on #18
Just started this article recently.

[2016-10-31 18:24] SyntaxC4 commented on #25
@fabiocav - Can you confirm that we are running NPM on save now too like we do with NuGet?

[2016-10-31 18:40] fabiocav commented on #25
Currently, we do not automatically install Node packages on save.

[2016-10-31 18:51] SyntaxC4 commented on #38
Here it is, they are called "Blob storage accounts" which provide block only support in blob storage (instead of both block and page)

https://azure.microsoft.com/en-us/documentation/articles/storage-create-storage-account/#blob-storage-accounts

[2016-10-31 22:58] lindydonna commented on #25
@SyntaxC4 For Node, we should link to a sample deploy.cmd that does NPM restore manually.

[2016-11-01 03:20] SyntaxC4 commented on #40
There was a bug in the portal that has now been fixed. https://github.com/projectkudu/AzureFunctionsPortal/issues/421

[2016-11-01 03:21] #40 closed

[2016-11-01 03:50] lindydonna commented on #48
Support is the right avenue for this, but let us know if there are opportunities for improving the billing experience. CC @dariagrigoriu

[2016-11-01 15:03] zeroskyx opened #49 ".NET Core support for Azure Functions"
Greetings,

are there any plans to support .NET Core in addition to .NET 4.6 in the future?

Thanks and best regards
-Simon

[2016-11-01 20:08] lindydonna commented on #38
They also don't have queues, which are required for the primary storage account.

[2016-11-02 00:21] lindydonna commented on #7
What does this work item include? Is it just screenshots or is a video?

[2016-11-02 00:25] wesmc7777 commented on #7
@lindydonna  To my knowledge, just screen shots and maybe some related instructions that may change along with the UI.

[2016-11-02 04:01] SyntaxC4 opened #50 "Code Sections aren't rendering properly in Queue Binding topic"
https://azure.microsoft.com/en-us/documentation/articles/functions-bindings-storage-queue/

There are two sections which aren't rendering properly:

* Trigger sample in Node.js
* Output sample in C#

[2016-11-02 17:05] #38 closed

[2016-11-02 18:16] lindydonna commented on #32
Customer suggestion is to add a comparison table of what is and isn't supported in Dynamic vs. Classic. See https://github.com/Azure/azure-webjobs-sdk-script/issues/538.

[2016-11-02 19:15] #14 closed

[2016-11-02 20:00] wesmc7777 commented on #38
https://github.com/Azure/azure-content-pr/pull/33110

[2016-11-02 20:01] wesmc7777 commented on #10
Feedback added including Mathew's Advanced binding support with IBinder

https://github.com/Azure/azure-content-pr/pull/33110

[2016-11-02 20:01] #10 closed

[2016-11-02 20:42] SyntaxC4 opened #51 "StorageQueue Topic only covers string example"
We should ensure that we have an example which covers the CloudQueueMessage implementation as well, or at least provide a link to some relevant content.

[2016-11-02 22:17] ctolkien commented on #32
Am not sure if this being addressed in GA, but creating a `Dynamic` plan wasn't available for Australia East, which was.. confusing.

[2016-11-02 23:43] davidebbo commented on #32
It should already be available for Australia East. When did you last try?

[2016-11-03 00:12] ctolkien commented on #32
@davidebbo - was a while back. Seems to have the dynamic options now!

[2016-11-03 02:21] lindydonna commented on #10
@SyntaxC4 Mathew already reviewed, so this is good. Thanks @wesmc7777!

[2016-11-03 20:04] #9 closed

[2016-11-03 20:12] SyntaxC4 commented on #16
Add in a link to the CloudQueueMessage Documentation in the Storage Queue Docs.

[2016-11-03 20:12] SyntaxC4 commented on #16
@christopheranderson - Can you take a look at this for a review

[2016-11-03 20:24] SyntaxC4 commented on #22
@christopheranderson Should this be more of a serialization topic? I feel as though there are 1000 different articles online which would give great examples on how to serialize C# to XML or JSON

[2016-11-03 20:29] SyntaxC4 commented on #21
@lindydonna Can you clarify as to why we won't ever see monitoring data in this part for the Dynamic hosting plan?

[2016-11-04 00:17] christopheranderson commented on #24
Should link to this from the Azure Functions product landing page, instead of the App Service one since this is more relevant.

[2016-11-04 00:21] christopheranderson commented on #22
I mean, it touches serialization. I think the idea was to show how to use POCO to strongly type your expected data coming in. I also like your #load idea to hint towards sharing common data models.

[2016-11-04 00:48] christopheranderson commented on #16
Notes:

- For the output types in C# and F#, we should mention the ICollector and IAsyncCollector
- For the Event Hub trigger, we should mention that you should use batching for optimum throughput.
      - Essentially, if you set a type as `T[]` (where T is string, POCO, etc.), we'll send a batch of messages to you.
      - For Node.js, you have to set "cardinality" to "many". I'm working on a por

[2016-11-04 17:13] lindydonna commented on #21
@wesmc7777 Please work with @dariagrigoriu on this topic, as this touches on features such as Dynamic compute and the spending cap.

[2016-11-04 21:58] lindydonna commented on #24
@christopheranderson You should follow up with Jeremy on that, he's managing the changes to the product page.

[2016-11-05 11:48] AdrianLThomas opened #52 "azure-functions-cli doesn't support spaces in path"
First, apologies if this doesn't belong here. It is regarding the tooling here:
https://www.npmjs.com/package/azure-functions-cli

If there is a space in your path, then you cannot run the function. ("func run MyAzureFunction") For example if your local user account has a space in it, or the project you are working on itself. I couldn't find a workaround apart from creating a new local account wit

[2016-11-05 22:32] lindydonna commented on #52
Thanks for reporting, looks related to https://github.com/Azure/azure-webjobs-sdk-script/issues/837

[2016-11-05 22:38] AdrianLThomas commented on #52
Hi, yes that looks exactly the same (apart from being in German ;-) )

Would you like me to close this?

Thanks,
Adrian

[2016-11-05 22:40] lindydonna commented on #52
Sure, you can just watch the other issue to track the fix. Thanks for reporting!

[2016-11-05 22:40] AdrianLThomas commented on #52
I will, thanks!

[2016-11-05 22:40] #52 closed

[2016-11-08 00:41] lindydonna commented on #8
Remove AZUREJOBS_EXTENSION_VERSION

[2016-11-08 03:58] wesmc7777 commented on #44
Customer feedback for Sendgrid binding from Donna...

Wes,

It looks like a customer ran into an issue related to the SendGrid binding; this might be a good thing to document. The GitHub issue is here: https://github.com/Azure/azure-webjobs-sdk-script/issues/883

[2016-11-08 14:57] cephalin commented on #2
Improved documentation can be previewed at https://review.docs.microsoft.com/en-us/azure/azure-functions/functions-triggers-bindings?branch=pr-en-us-216#advanced-binding-at-runtime-imperative-binding.

[2016-11-08 15:04] cephalin commented on #16
@christopheranderson do ICollector and IAsyncCollector apply to all output bindings? Some docs have it and some docs don't.
Setting cardinality to many is in JSON?

[2016-11-08 16:41] SeanFeldman commented on #2
@cephalin is preview intended for all? Can't access it.

[2016-11-08 18:50] ariel1974 opened #53 "A command that prompts the user failed"
When I'm trying to delete a file from a File storage account I'm getting this:

Exception while executing function: Functions.TimerTriggerPowerShell1. Microsoft.Azure.WebJobs.Script: PowerShell script error. System.Management.Automation: A command that prompts the user failed because the host program or the command type does not support user interaction. The host was attempting to request confirma

[2016-11-08 21:32] cephalin commented on #2
Only for MS employees.

From: Sean Feldman [mailto:notifications@github.com]
Sent: November 8, 2016 5:42 PM
To: Azure/Azure-Functions <Azure-Functions@noreply.github.com>
Cc: Cephas Lin <Cephas.Lin@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/Azure-Functions] Improve Doc for Binder and other advanced scenarios (#2)

@cephalin<https://na01.safelinks.protection.outlook.co

[2016-11-08 21:39] SeanFeldman commented on #2
😞

[2016-11-08 22:55] wesmc7777 commented on #23
Email (11/8/2016 5:45 PM) from Donna concerning long running functions and Node functions with many (implicit or explicit) dependancies. Can cause timeouts....

Essentially, our platform has a hard time with a Node require that has a lot of dependencies, and cold start can take longer than a timeout from a third part that expects a timeout. This is a current limitation of the platform that will be

[2016-11-09 11:18] wesmc7777 commented on #23
https://github.com/Microsoft/azure-docs-pr/pull/404

[2016-11-09 20:59] tohling opened #54 "Typo on "Try If For Free" page"
On page https://azure.microsoft.com/en-us/services/functions/

Azure Functions is a serverless **event-driven** ....

[2016-11-09 21:14] tohling opened #55 "Typos on Azure Functions Github wiki"
On page https://github.com/Azure/Azure-Functions

1. First paragraph: .... **3rd-party** ....

2. Under Questions & Help:

    i.  For questions **which** fit the Stack Overflow format: - Restrictive clause.  Replace "which" with "that"
    ii.  You **may** also

[2016-11-09 21:21] SyntaxC4 commented on #53
@christopheranderson @paulbatum @davidebbo Can you review this Issue?

[2016-11-09 21:35] tohling opened #56 "Comments for Azure Functions Overview Page"
On page https://azure.microsoft.com/en-us/documentation/articles/functions-overview/

Under "What can I do with Functions?"

1. _... long-running tasks that you want to run in a background thread..._ : We need to rephrase this as there is still the issue with the 5 minute timeout, correct?

2.  Under ServiceBusQueueTrigger and ServiceBusTopicTrigger : **on-premises**  to be grammatically correct,

[2016-11-09 21:48] tohling opened #57 "Feedback for Create your first Azure Function page"
On page https://azure.microsoft.com/en-us/documentation/articles/functions-create-first-azure-function/

1. Under Watch the video:  The following video **shows** ....
2. Under Create a function from the quickstart:  Item #2: **auto-**generated
3. Under Test the function: **"Hello ...."** response

[2016-11-09 21:52] mattchenderson opened #58 "Move HTTP routing section to HttpTrigger doc"
The section on route support is currently located as part of the general binding documentation:
https://review.docs.microsoft.com/en-us/azure/azure-functions/functions-triggers-bindings#route-support

This should be part of the HttpTrigger article:
https://review.docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook

It likely merges with/replaces the "URL to trigger the f

[2016-11-09 21:54] paulbatum commented on #53
Looks like a powershell related question, moving to script repo.

[2016-11-09 21:54] #53 closed

[2016-11-09 21:58] mamaso opened #59 "Nodejs reference updates"
A few suggestions for the [node docs](https://review.docs.microsoft.com/en-us/azure/azure-functions/functions-reference-node):

- I'd suggest removing some of the discussion of the arguments object, a bit of unnecessary complexity imo.  Nothing about it seems functions specific to me.
- Mention that we support promises / include a [sample](https://github.com/Azure/azure-webjobs-sdk-script/blob/dev

[2016-11-09 22:06] tohling opened #60 "Comments for azure-webjobs-sdk-script GitHub wiki page"
On page https://github.com/azure/azure-webjobs-sdk-script/wiki

1.  If you're familiar with JobHost and **its** use in a continuous WebJob console app, the hosting model for ScriptHost will **be** very familiar.

2.  if the function is a Node module, **include** companion files that it loads

3.  all the things required to run all the **end-to-end** tests

4.  to be committing**,** code you'll nee

[2016-11-09 22:11] lindydonna opened #61 ".NET reference topic added is incorrect"
The link added in this commit is wrong: https://github.com/Microsoft/azure-docs-pr/commit/964167931b31ff528325475204b4995f80c79851

[2016-11-09 22:16] mattchenderson opened #62 "Route template conclusion duplication"
Within: https://review.docs.microsoft.com/en-us/azure/azure-functions/functions-triggers-bindings?branch=release-connect-16#route-support
(Note that this is to be moved by #58)

"By adding this configuration, the function is now addressable with the following route" and the code block that follows it are used twice. The first instance is at the end of the introduction, after the first example. The

[2016-11-10 00:02] tohling opened #63 "Typo in NPM documentation"
On page https://www.npmjs.com/package/azure-functions-cli

[2016-11-10 00:14] fabiocav opened #64 "Remove memory section and update screenshot in overview"
For documentation issues, please provide exactly what is wrong/missing and constructive feedback on why it's important. We triage issues 1-2 times most weeks.

In azure-functions/functions-how-to-use-azure-function-app-settings, remove the section related to memory size management and update the screenshot in overview.

[2016-11-10 00:17] fabiocav opened #65 "Remove "Reference" option"
The "Reference > .NET API" option on the tree links to the Mobile Apps Reference document and should be removed.

[2016-11-10 00:19] lindydonna commented on #54
This is changing soon and we have copy writers editing it.

[2016-11-10 00:19] #54 closed

[2016-11-10 00:20] lindydonna commented on #63
CLI issue

[2016-11-10 00:21] lindydonna commented on #64
@christopheranderson is already tracking this

[2016-11-10 00:58] lindydonna commented on #23
@wesmc7777 I reviewed the topic and it's a good draft. @christopheranderson Could you review as well and see if there's anything important that should be captured?

[2016-11-10 19:25] lindydonna opened #66 "Fix key management section of the Http trigger doc"
It currently documents the old way of doing things. Source material: https://github.com/Azure/azure-webjobs-sdk-script/wiki/Http-Functions#api-keys

[2016-11-12 00:18] #58 closed

[2016-11-12 00:19] #62 closed

[2016-11-12 00:19] mattchenderson commented on #66
@lindydonna - you should be able to close this now that the PR is merged.

[2016-11-12 00:33] #66 closed

[2016-11-12 02:09] paulbatum opened #67 "Use small VMs when running node.js functions on dedicated plan"
See https://github.com/Azure/azure-webjobs-sdk-script/issues/917 for context. Until this is resolved, our documentation should make it clear that customers are better off provisioning their node.js based functions on small VMs when using dedicated compute.

[2016-11-14 00:51] wesmc7777 commented on #23
https://github.com/Microsoft/azure-docs-pr/pull/987

[2016-11-14 13:06] wesmc7777 commented on #21
@dariagrigoriu  @lindydonna Is this also true for free tier?

[2016-11-14 14:06] wesmc7777 commented on #21
https://review.docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring?branch=pr-en-us-987

[2016-11-14 19:17] christopheranderson commented on #23
@wesmc7777 - what you have is all correct. Nothing springs to mind that we need to add in any desperate way. Feel free to ship and close this, and we can track additions in other issues.

[2016-11-14 19:18] christopheranderson commented on #23
:shipit:

[2016-11-14 19:20] christopheranderson commented on #16
ICollector/IAsyncCollector works for following output:

- Queue Storage
- Service Bus Queue
- Service Bus Topic
- Doc DB
- Table Storage
- Blob Storage
- Event Hub

[2016-11-14 19:20] SyntaxC4 commented on #19
These aren't being shipped in docs... We'll have to review to see if these are something that will eventually come over to docs.

[2016-11-14 19:21] christopheranderson commented on #16
Ignore cardinality for now. We're still smoothening experience from product side. There are open issues/questions with Event Hubs Node implementation.

[2016-11-14 23:52] lindydonna commented on #21
@wesmc7777 Customers should not use a free app service plan, as they will already get a generous free grant on the Consumption plan. However, that tile will still show data on a Free App service plan. It's very confusing.

[2016-11-15 13:06] lukap3rcic opened #68 "Add the ability to load native c++ libraries (dll)"
Add  the ability to load native c++ libraries (dll). Or even better; also add c++ language support with that.

I understand that this feature exceeds the scope of azure functions (for now), but there is a lot of c/c++ only libraries in crypto and other fields that could benefit from event driven and executed in self-regulating numbers of instances.

There is no other (fully managed "server-less")

[2016-11-15 13:23] lindydonna commented on #68
This should already work, but you'll have to use C# to reference the assemblies and use assembly import statements. Does this not work for you?

If not, please paste the code you've tried and we can help troubleshoot.

[2016-11-15 21:15] wesmc7777 commented on #22
Placed an example using #load with a shared POCO object here...

https://review.docs.microsoft.com/en-us/azure/azure-functions/functions-reference-csharp?branch=pr-en-us-1204#reusing-csx-code

[2016-11-15 23:16] cephalin commented on #24
https://review.docs.microsoft.com/en-us/azure/azure-functions/functions-continuous-deployment?branch=pr-en-us-1232

[2016-11-16 01:05] #23 closed

[2016-11-16 02:19] wesmc7777 commented on #37
@christopheranderson   I assume this should go here:

https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale

Is it possible to change to Dynamic/Consumption from an App Service Tier Function App?  I don't see that documented either.

[2016-11-16 06:28] wesmc7777 commented on #12
https://github.com/Microsoft/azure-docs-pr/pull/1294

[2016-11-16 20:53] wesmc7777 opened #69 "t branch"

[2016-11-16 21:32] tohling opened #70 "Remove mention of Java from Azure Functions Overview"
On page https://docs.microsoft.com/en-us/azure/azure-functions/functions-overview

There is mention of Java being the supported language.  Customers on Twitter are asking now asking how they can setup a Java Function and have also started adding the #Java hashtag with their Azure Functions tweet.  We should remove the mention of Java from our docs.

[2016-11-16 22:09] wesmc7777 commented on #12
The WEBSITE_TIME_ZONE app setting may be breaking calculations shown for function duration times on the Monitor tab

[2016-11-16 22:50] lindydonna opened #71 "Support Functions Portal running on an ILB ASE"
The Azure Functions portal experience doesn't currently don't work on an ILB ASE. This issue is to track the feature request.

[2016-11-17 19:16] wesmc7777 commented on #7
Glenn already refreshed the following:

https://github.com/Microsoft/azure-docs-pr/commit/20009ee8866e2b2858eb0bf1f289e70dc1f29c83#diff-3d7b7e1f75c1aa028493ec657ad1b11c

[2016-11-17 21:09] #12 closed

[2016-11-17 21:13] SyntaxC4 commented on #61
@lindydonna Did you report this back to the Docs team? I think I saw an email on it.

[2016-11-17 23:50] lindydonna commented on #61
Yes, and it's fixed in the live docs. Closing this. (FYI these are the kinds of issues we are supposed to file in the docs VSTS repo.)

[2016-11-17 23:50] #61 closed

[2016-11-17 23:50] lindydonna commented on #70
Fixed now

[2016-11-17 23:50] #70 closed

[2016-11-17 23:51] lindydonna commented on #69
@wesmc7777 Looks like you have a typo in your issue :)

[2016-11-17 23:51] lindydonna commented on #65
Fixed in live docs

[2016-11-17 23:51] #65 closed

[2016-11-17 23:51] lindydonna commented on #63
Fixed in latest

[2016-11-17 23:51] #63 closed

[2016-11-18 00:14] wesmc7777 commented on #69
Lol this was a multimonitor accident..lol

[2016-11-18 00:14] #69 closed

[2016-11-18 19:24] lindydonna opened #72 "Rename Dynamic to Consumption (the new name)"
Lots of the docs need to change to the new name, following the conventions  on the pricing page here: https://azure.microsoft.com/en-us/pricing/details/functions/

[2016-11-18 19:28] lindydonna opened #73 "Add section in C# developer reference on remote debugging with VS cloud explorer"
Best place is probably this document: https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-csharp

[2016-11-18 22:19] wesmc7777 commented on #37
https://github.com/Microsoft/azure-docs-pr/pull/1608

[2016-11-18 23:52] wesmc7777 opened #74 "Doc tags as dynamic for NH bindings"
Some customers seem to think the tags used for notification hub bindings are static.  Document tagExpression as dynamic and provide dynamic tagExpression example

[2016-11-18 23:55] pragnagopa commented on #74
Related question and sample: **[here](http://stackoverflow.com/questions/40165148/azure-notification-hub-registration-from-android/40224435#40224435)**

[2016-11-21 14:38] smlu commented on #68
Is C++/CLI dll wrapping supported?
I've tried to run test cli dll on azure functions but it fails with an exception:
_` Exception while executing function: Functions.HttpTriggerCSharp1. mscorlib: Exception has been thrown by the target of an invocation. HttpTriggerCSharp1: Could not load file or assembly 'CS_CppAzureFunc, Version=1.0.6169.27417, Culture=neutral, PublicKeyToken=null' or one of its

[2016-11-21 17:12] lindydonna commented on #68
That could be an issue specific to the CLI having to do with path resolution. Does the same thing happen when running it in Azure?

[2016-11-21 17:34] lindydonna commented on #48
Closing this issue since you opened a support ticket.

[2016-11-21 17:34] #48 closed

[2016-11-21 18:45] lindydonna opened #75 "Allow running a Function for more than 5 minutes on a Consumption plan"
Copied from: https://github.com/Azure/azure-webjobs-sdk-script/issues/18

The underlying compute platform for Consumption plan Functions does not allow running for more than 5 minutes, so the Functions host enforces this limit. There's customer feedback that it would be useful to increase this timeout.

This issue tracks work that will have to be done across the compute platform, the Functions hos

[2016-11-21 19:28] christopheranderson opened #76 "Provide safe clock skew assumptions for Azure Functions"
Certain distibuted applications use timestamp, with some assumption of clock skew, to help manage things. Given that users can't know what machines they are running on ahead of time to monitor/manage their own clock skew, we should consider providing an estimate.

Originated from Stack Overflow: http://stackoverflow.com/questions/40724637/are-there-any-reasonable-clock-skew-assumptions-when-using-

[2016-11-22 12:54] smlu commented on #68
This test was run directly in Azure, not locally. The Dll was compiled as CLR Class Library project in VS2015 then uploaded to azure and stored in bin folder of test function app.
Note : C# port of this test dll runs with no problem in azure

Function code:

[code]

DLL code:
[code]

[code]

[2016-11-22 18:20] christopheranderson opened #77 "Document NodeJS HTTP Trigger req.params object"
Today we only document that the route binding items are only available on the `context.bindingData` object, but they are also available on the `req.params` object.

[2016-11-23 01:12] gregjhogan commented on #71
@lindydonna what do you mean it currently doesn't work?  We deployed a simple function app to an ILB ASE and it works just fine.  Are there specific features that don't work?  Thanks!

[2016-11-23 01:18] lindydonna commented on #71
What we found was that the ILB was having problems accessing the functions editor, but perhaps that was a problem with the environment we were testing in (perhaps the browser didn't have the right permissions). Thanks for the info, I'll follow up.

[2016-11-23 18:33] lindydonna opened #78 "Add a doc section about Always On (and update fwlink)"
We need to migrate this wiki content (https://github.com/Azure/Azure-Functions/wiki/Enable-Always-On-when-running-on-dedicated-App-Service-Plan) to an article in Functions docs. Still need to decide the right location for this.

Need to also explain that Always On is not applicable in Free/Shared, and those cases, you should probably use a Consumption plan.

Will handle https://github.com/projectk

[2016-11-23 22:00] gregjhogan commented on #71
@lindydonna so that is a UI issue?  Are there non-UI issues?  The title seemed much more broad than what you mentioned (e.g. you can't run functions at all on an ILB ASE).  I haven't run into any issues yet running functions on an ILB ASE, but I haven't used the UI (since we limit people to the RBAC reader role).

[2016-11-26 00:52] lorenzoaiello opened #79 "JSON Top-Level Arrays Treated as Plaintext"
Hello,

I've encountered a bug in the Azure Functions HTTP Trigger Responses. When returning a JSON array, the middleware layer (Functions) converts it to plaintext before displaying, however if I make the JSON array an indexed object, it works fine.

Thanks

[2016-11-27 18:32] mamaso commented on #75
Leaving this relevant customer post here: http://stackoverflow.com/questions/40800933/azure-functions-pricing-and-timeout

[2016-11-27 23:52] mikezks commented on #75
I agree with the initial SO post: Serverless means for me, that I do not have to take care about instances, sizing up resp. down and have a clear pricing model to calculate the costs for running a job - no matter if it needs 10 sec or 5 days.

It would be good to have the choice of setting a timeout, be informed about the costs per email periodically after each definable interval, etc.

But using

[2016-11-28 08:46] yochay commented on #75
@mikezks in theory, you are right. However,it is not really practical to expect anything to run for 5 days in the cloud without any 'issues'. Where issue can be VM recycle, any underline dependency of the host recycles, causes the host to hiccup and/ or your code. Regardless, even eventhing works prefect for 2.5 days, and then your code fails, you need to run again for 5 days? If you can break you

[2016-11-28 10:39] cephalin commented on #16
Hi Chris, sorry I'm back to working on this. Does the ICollector/IAsyncCollector pattern for Node.js (param.push()...) work for all the output bindings above?

[2016-11-28 12:33] cephalin commented on #2
@mathewc Can you please take a quick look at the content and give your feedback so we can close this item? It's live now [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-triggers-bindings#advanced-binding-at-runtime-imperative-binding).

[2016-11-28 18:32] ggailey777 opened #80 "Solve the duplicate reference issue"
As @cephalin pointed out previously, having embedded reference produces a sync issue with reference on docs.Microsoft.com. We need to try to get this to a single source for the reference, as we don't have the resources to keep the two sources in sync. I've attached the entire email thread for reference:

[2016-11-28 19:23] iamthemovie commented on #46
Is there a way of setting up deployment from VSTS in VSTS rather than manually setting it up through the Azure Portal?

We're looking for a way of deploying Functions via ARM templates then deploying the code to it through our CI/CD pipelines which are running through VSTS.

Can we deploy Azure Functions through Web Deploy?

[2016-11-28 20:26] wesmc7777 commented on #7
@ggailey777  Glenn do you want to take this?

[2016-11-28 20:52] ggailey777 commented on #50
It looks like this issue has been resolved: https://github.com/Microsoft/azure-docs/commits/master/articles/azure-functions/functions-bindings-storage-queue.md

[2016-11-29 00:13] mathewc opened #81 "Document which properties support binding expressions"
See SO post here: http://stackoverflow.com/questions/40855278/how-do-you-apply-a-filter-at-runtime-with-a-node-js-azure-function-hitting-table

Most of our binding properties support binding expressions, but I'm not sure we make that clear anywhere. We should have (if we don't already) a general binding doc section that provides details on the binding pipeline, parameters, etc. Then we can link to

[2016-11-29 00:43] christopheranderson opened #82 "[Docs][WebJobs] Broken links on Getting Started page"
These two links are broken:
•	[How to use WebHooks with the WebJobs SDK, with examples for GitHub, IFTTT, and HTTP](https://github.com/Azure/azure-webjobs-sdk-extensions/wiki/WebHooks-Walkthrough)
•	[Azure WebJobs SDK Quick Reference (PDF download)](http://go.microsoft.com/fwlink/?LinkID=524028&clcid=0x409)

Quick reference needs to be fixed. The WebHooks needs to be removed.

[2016-11-29 20:53] #50 closed

[2016-11-29 21:19] lindydonna opened #83 "Node.js: document "isRaw" flag for responses"
See https://github.com/Azure/azure-webjobs-sdk-script/issues/942#issuecomment-263358417

[2016-11-29 22:13] lindydonna opened #84 "Document that additional references are needed when using netstandard assemblies"
Since netstandard broke up system libraries into various NuGet packages, customers need to manually reference more things, which leads to confusion. See e.g. https://github.com/Azure/azure-webjobs-sdk-script/issues/980.

@fabiocav can provide scenarios that need to be documented. Samples might be the best option for this.

[2016-11-30 23:58] SyntaxC4 commented on #11
@rachelappel - Can you update the screenshots to the ~1 UX?

[2016-12-01 18:28] ggailey777 opened #85 "GA updates to the Get started Azure connected topic"
The Azure connected services Get started topic is way out of date and very hard to use. We need to update it for GA, and also to use the storage explorer from the Documentation section

[2016-12-01 18:50] wesmc7777 commented on #74
I should have this one checked in by the end of this week

[2016-12-01 19:37] justinyoo opened #86 "[Visual Studio] Toolings for Azure Functions not get along with .NET Core projects"
Hi, Team.

I really appreciate for your hard working efforts about the preview release of Visual Studio Toolings for Azure Functioins today.

However, I found a critical issue when I dealt with .NET Core projects in Visual Studio 2015 U3. Before installing this, it was totally OK. I've been working on .NET Core projects everyday. Suddenly after installing this preview, every single .NET Core proje

[2016-12-01 20:49] lindydonna commented on #86
My college on the Visual Studio team said the following: "This is usually MEF cache corruption. Running devenv /setup at the developer command prompt (running as administrator) should fix it."

@justinyoo can you give that a try? I'll try to repro myself shortly.

[2016-12-01 22:06] peder opened #87 "[Visual Studio] "HTTP could not register URL http://+:7010/. Your process does not have access rights to this namespace""
Sorry for the crummy screenshot, I had to use the Screen2Gif recorder to capture this error since it appears/disappears too quickly to catch. Looks like debugging an Azure Function fails immediately after prompting for admin privileges with `"HTTP could not register URL http://+:7010/. Your process does not have access rights to this namespace"`

![image](https://cloud.githubusercontent.com/assets

[2016-12-01 22:13] lindydonna commented on #87
It looks like a problem listening on that port. Can you try installing the Azure Functions CLI and seeing if you get the same error?  There are instructions here: https://blogs.msdn.microsoft.com/appserviceteam/2016/12/01/running-azure-functions-locally-with-the-cli/

If you run `func host start` and get the same error, try passing a different port, via `func host start -p 7072`

[2016-12-01 22:13] peder commented on #87
Is that configurable from Studio in any way?

[2016-12-01 22:14] ctolkien commented on #86
@madskristensen wrote a VS extension to clear the MEF cache, as it seems to choke all the time:
https://github.com/madskristensen/ClearComponentCache/

And marketplace link:
https://marketplace.visualstudio.com/items?itemName=MadsKristensen.ClearMEFComponentCache

Much less intrusive than `devenv /setup`

[2016-12-01 22:20] peder commented on #87
`func host start` works just fine, with whatever port, so long as my shell was run as an **administrator**. Even though a non-admin shell will prompt to elevate privileges, that apparently doesn't help--the shell needs to be run as an admin.

On that same note, Visual Studio will work with Azure Functions so long as it's opened as an admin.

[2016-12-01 22:37] lindydonna commented on #87
@peder No, you can't currently configure the port, but this is a good feature for the final version.

What version of Windows are you running on?  We haven't seen this admin prompt in our environment--what I do see the first time is a firewall warning.

[2016-12-01 22:38] lindydonna opened #88 "[Visual Studio] Should allow customizing the command line for running the Functions CLI"
This would allow changing the port and potentially other settings. For instance, the Functions CLI listens on port 7071 by default. This is configurable on the command line but not via Visual Studio.

[2016-12-01 22:38] lindydonna commented on #87
@peder I filed https://github.com/Azure/Azure-Functions/issues/88 for the port configuration feature request.

[2016-12-01 22:39] peder commented on #87
Thanks for filing the feature request. I'm on Windows 10 Enterprise, without the Anniversary Update. I don't know if we have any group policies around UAC, anti-virus, etc. type of conflicts that might be the real issue here.

[2016-12-01 23:51] justinyoo commented on #86
@lindydonna I've run devenv /setup at the developer command prompt console as admin and got this error

![image](https://cloud.githubusercontent.com/assets/1538528/20817616/8da9afd6-b874-11e6-9611-55cf6864b6e6.png)

I also intalled the VS extension that @ctolkien suggested, but still no luck. If MEF cache is corrupted, any solution files can't be loaded, I suspect, but only .NET Core related solut

[2016-12-02 00:14] lindydonna commented on #86
@justinyoo Could you try deleting "AppData\Local\Microsoft\VisualStudio\14.0\ComponentModelCache and MEFCacheBackup" then restarting VS?

Sorry you're running into so many issues! :-/

[2016-12-02 00:39] justinyoo commented on #86
@lindydonna Oops! I ran the developer command prompt console as a **real** admin mode lol. Now the error message came upon the screen disappeared! &ndash; OK!

I've now deleted both `ComponentModelCache` and `MEFCacheBackup` folders from the `AppData\Local\Microsoft\VisualStudio\14.0\` directory.

Still have the same issue.

![image](https://cloud.githubusercontent.com/assets/1538528/20818722/2d98

[2016-12-02 02:07] lindydonna commented on #86
We can repro as well, investigating. Thanks for your patience!

[2016-12-02 15:36] gibwar commented on #86
I would like to point out that uninstalling still leaves .Net Core projects in a broken state (at least web ones). After removing the Functions preview I still get the above errors and now get the following error on attempting to run the project:

[code]

[2016-12-02 18:33] fabiocav opened #89 "Missing DocumentDB binding documentation"
We used to have documentation covering the DocumentDB binding and that is no longer available on the new docs site. We need to restore those documents.

[2016-12-03 03:14] SimonLuckenuik opened #90 "[Visual Studio] No way to add references to the funproj projects"
Hi,
In order to be able to unit test my functions and leverage compilation, I keep the code found inside the csx to a minimum, and the actual implementation of the function is in an external assembly (csproj in same solution).

Currently, there is no way to add those references to funproj project:
1) the external assemblies are not getting published along with my Functions
2) when starting debuggi

[2016-12-03 14:12] SimonLuckenuik opened #91 "[Visual Studio] Suggestion: Function project should leverage the CLI at compile time in order to validate the scripts and project structure"
Hi,
Currently, it seems nothing happens when building the funproj projects from Visual Studio. I would recommend having some kind of validation of the structure of the Function App in order to be Continuous Integration friendly. Having to publish on the portal or starting debugging locally and check visually in order to validate if the content of the function make sense and is valid is not optimal

[2016-12-03 20:17] vhe1 commented on #75
My scenario for a longer running function:
**Stream upload**
So, customers upload 50MB and the user experience is to offer this as a continuous stream upload, with the chunking (1MB chunks, then stored in block blobs) done in azure by a function.
Such an upload my take 20min or more.

[2016-12-05 05:49] AaronFriel opened #92 "Code Sharing in Node.js Functions"
I'm curious about what the best method of implementing shared library code for Azure Functions is. Here's my thought process, and hopefully someone from the team can help me understand a better way to do this.

I have an Azure Bot Service and Azure Functions app [the UNIFI Bot Service](https://github.com/unifreethought/unifi-bot-service) and it deploys, right now, three functions:

1. `everyMinute

[2016-12-05 17:22] lindydonna opened #93 "Document FUNCTIONS_EXTENSION_VERSION and versioning strategy"
There currently isn't any documentation on the app setting FUNCTIONS_EXTENSION_VERSION. We need to document the syntax and what values can be used.

CC @christopheranderson

[2016-12-05 21:40] lindydonna commented on #86
Update: we've found the source of the problem (a conflict with the GUID used for the project type). On the announcement blog post, customers said that they were able to unload and reload .NET core projects and that solved the problem: https://blogs.msdn.microsoft.com/webdev/2016/12/01/visual-studio-tools-for-azure-functions/

[2016-12-05 22:49] AaronFriel commented on #92
This was a relatively easy experiment, I'm pleased to say. I implemented code sharing here:

https://github.com/unifreethought/unifi-bot-service/tree/codesharing

It looks like the deployment runs fine if you use relative paths in the functions, so here is my `messages/package.json`:

[code]

And here is the index.js:

[code]

Then from the root of the repository, `./.shared/svc` contains the unif

[2016-12-05 22:58] mikezks commented on #75
@yochay: I agree with you that the program code needs to handle unexpected termination of the Function App, but nevertheless it should be possible to define a Function to run longer than 5 min. Then it is up to the developer to repeat certain steps after a termination.

Of course several long running Functions may be avoided by using cloud patters.

I think it is a good idea to collect the differe

[2016-12-06 10:23] IntelligentLabs opened #94 "VISUAL STUDIO - After adding a new function the code editor does not act as expected"
After creating a new function I am unable to use return or delete, ctl-v within the code editor. I can enter plain text characters. If I close visual studio I then get a warning message. After reopening it works as expected. I am only using C# HttpTrigger functions, but this happens every time.

Steps carried out:
Open a Azure Functions solution in visual studio
Right click solution and select Add

[2016-12-06 18:36] ggailey777 commented on #85
https://github.com/Microsoft/azure-docs-pr/pull/2039

[2016-12-06 18:42] ggailey777 commented on #7
I have refreshed UI on the 4 get started topics. I think we need a work item for video updates as those are a significant investment.

[2016-12-06 18:52] ggailey777 commented on #80
I am investigating putting copies of the ref docs into azure-docs-pr in the includes folder, then including these into the existing How To topics (with some modification). This would enable us to hook-up automation between repos when the sources are updated in the product repo.

[2016-12-06 21:33] HWouters commented on #75
I have the following scenario: A few times per year, I have to do many (1000+) computations. Each computation takes a few minutes. To me Functions seemded the perfect solution for this problem, Unfortunately, it didn't work out as expected, because of this maximum time limit of 5 min. Most of the time a single task finishes within the limit, but as soon as I run multiple tasks (I'm using queue tri

[2016-12-07 09:14] ggailey777 commented on #5
We probably need to look at all of the videos, since there were pre-GA. This is non-trivial work item and we should triage the existing videos, as maybe some are still "close enough."

[2016-12-07 17:28] rndthoughts opened #95 "Unable to publish Function - "GatherAllFilesToPublish does not exist in the project""
Upon attempting to publish my function to Azure or locally, the publish procedure terminates with the error message: The target "GatherAllFilesToPublish" does not exist in the project" referencing Functions.funproj.

[2016-12-07 19:49] gibwar commented on #86
I've installed the latest release and most of the problems are fixed. However, in a solution with 1 .Net Core Web Application and 5 .Net Core libraries, the Add -> New Item dialog is still broken (shows no templates, can only be cancelled), meaning we still have to use the Add New File extension mentioned in the blog post.

[2016-12-08 16:54] mathewc opened #96 "Improve DocDB input binding document"
See SO post here: http://stackoverflow.com/questions/41039785/how-do-i-use-a-documentdb-database-input-binding-with-a-service-bus-trigger-bind. The guy was trying to follow our documentation and was lead completely into the weeds. If he's reading our documentation, it should lead him to success. See my answer on his post.

The "id supports bindings similar to {queueTrigger}, which uses the string

[2016-12-08 21:32] #72 closed

[2016-12-09 04:52] sjwaight opened #97 "Function execuation failure: Roslyn PromiseNotToEnqueue"
I have a shared Functions App environment with about 5 lightly utilised Function Apps. Today I received the following error during the execution of one of the Apps. The run.csx compiles fine with no errors. There are 10 instances of this error for the same execution.

2016-12-09T04:41:02.691 Function started (Id=2646f24f-2c28-48fa-bc6d-f20059419264)
2016-12-09T04:41:03.967 Function completed (Fail

[2016-12-09 19:33] cephalin commented on #16
@christopheranderson  I've added text about ICollector/IAsyncCollector to the bindings you listed now.

[2016-12-09 19:34] cephalin commented on #2
@mathewc  PING

[2016-12-09 19:35] cephalin commented on #24
IF there are no comments here i'm gonna move over to "Done"

[2016-12-09 19:47] SeanFeldman commented on #2
@cephalin 👍

[2016-12-09 20:05] asw commented on #42
This is possible if we use an HttpTrigger with Batch or C#, but neither option is very performant at the moment (and I'd love to get some feedback around this):

batch:

    echo OFF
    example.exe > %res%

C#:

    public static async Task<HttpResponseMessage> Run(HttpRequestMessage req, TraceWriter log)
    {
        Process process = new Process();
        process.StartInfo.FileName = @"D:\hom

[2016-12-09 20:08] ggailey777 commented on #41
+1 on cross-linking. Due to other asks,  we probably also need an App Service platform topic for Functions. We also have [this issue](https://github.com/Microsoft/azure-docs/pull/212) that should go in that topic rather than in the main Overview topic (as suggested by Matt)

[2016-12-09 20:09] ggailey777 commented on #41
Here's the info that @MattTatoczenko wanted included in the Overview topic:

[2016-12-09 21:00] fabiocav commented on #97
@sjwaight, thank you for reporting this!

We have an issue tracking this problem in the runtime repository [here ](https://github.com/Azure/azure-webjobs-sdk-script/issues/999) and have been working with the Roslyn team to address it.

I'll close this as a duplicate, but please feel free to comment on the issue above if you encounter this again.

Thank you!

[2016-12-09 21:00] #97 closed

[2016-12-09 21:52] fabiocav opened #98 "Port runtime to .NET Core"
This issue will track the .NET Core port activities for porting the **runtime** to .NET core. Note that netstandard 1.3 assemblies can be used on Azure Functions and this is fully supported.

We'll continue to update this list and details as we move along.

Have opened the following issues to track migration:
**WebJobs SDK** - https://github.com/Azure/azure-webjobs-sdk/issues/1177
**WebJobs SDK Ex

[2016-12-10 00:49] ggailey777 commented on #82
@christopheranderson can you provide a link to exactly which page has the broken links? Thanks.

[2016-12-11 10:13] garrardkitchen opened #99 "Cannot run / debug C# sample AF - Visual Studio tooling"
Hi,

I have followed the steps in https://blogs.msdn.microsoft.com/webdev/2016/12/01/visual-studio-tools-for-azure-functions/ but up to and not including the **Publishing to Azure** section.

I am unable to debug / run successfully a default c# queue trigger function.  I select and do not modify the QueueTriggerCSharp sample.  I enter in the Storage account name when prompted to and I then enter i

[2016-12-12 19:19] pragnagopa opened #100 "Add documention for using NotificationHubClient"
Update [NotificationHub binding docs](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-notification-hubs) to include sample for using NotificationHubClient directly.
Sample:

[code]

[2016-12-12 19:19] lindydonna commented on #49
Closing as a duplicate of #98

[2016-12-12 19:19] #49 closed

[2016-12-12 23:06] paulbatum commented on #75
@HWouters Try using the queues.batchSize setting to reduce how many queue messages a given instance of your function app will process concurrently. You can set the setting via host.json, see here for info:
https://github.com/Azure/azure-webjobs-sdk-script/wiki/host.json

[2016-12-13 19:16] SyntaxC4 opened #101 "Documentation of Networking Options (Open Ports) for Functions"
Basically we need a link to this document which describes the App Service Sandbox:

https://github.com/projectkudu/kudu/wiki/Azure-Web-App-sandbox

We can reference that available ports are under the **Network Restrictions** section

[2016-12-13 19:24] SyntaxC4 commented on #101
Apparently someone has already suggested this topic via PR: https://github.com/Microsoft/azure-docs/pull/212/files

[2016-12-13 19:25] SyntaxC4 commented on #101
@ggailey777 When the topic above is moved to a more appropriate location and the content is merged, we can close this issue.

[2016-12-14 09:58] lucabol opened #102 "[Visual Studio] "ScriptHost error" Error running Azure Function in VS"
Not sure how to even start to debug this. I'm happy to do a skype call or give more info if needed. This is a port of a Function that used to work in the Function portal.

The repo is here: https://github.com/lucabol/GuruBackend

Full error below:
Starting Host (HostId=lucabol-yoga1-gurubackend, Version=1.0.0.0, ProcessId=13112, Debug=True)
A ScriptHost error has occurred
Microsoft.Azure.WebJobs.H

[2016-12-14 22:58] mathewc opened #103 "Fix and review the Functions topic in Logic Apps"
On the doc page https://docs.microsoft.com/en-us/azure/app-service-logic/app-service-logic-azure-functions there is a javascript snippet that claims to be a function:

[code]

However this isn't a valid Azure Function. Might be good to review the rest of the doc as well for correctness.

Also, I answered a SO question http://stackoverflow.com/questions/41098486/how-to-access-azure-function-json-re

[2016-12-15 00:12] yochay opened #104 "Function Binding docs shows partial list and/or shows experimental bindings"
https://docs.microsoft.com/en-us/azure/azure-functions/functions-triggers-bindings#advanced-binding-at-runtime-imperative-binding) includes only Twilio. But we got additional binding like SandGrid which are not documented.

We currently do not mark binding experimental (there is a different Azure Functions Portal [issues ](https://github.com/projectkudu/AzureFunctionsPortal/issues/847) for it). Bu

[2016-12-15 00:42] lindydonna commented on #102
I'm pretty sure this is due to the poor error message we have when you don't have a value for AzureWebJobsStorage. Can you see if your symptoms match this bug report? https://github.com/Azure/azure-webjobs-sdk-script/issues/972

[2016-12-15 00:45] lindydonna commented on #99
Did you set a value for AzureWebJobsStorage?  We have a bug to fix that error message: https://github.com/Azure/azure-webjobs-sdk-script/issues/972

[2016-12-15 00:46] lindydonna commented on #94
Thanks for the bug report, we're investigating.

[2016-12-15 00:48] lindydonna commented on #92
@christopheranderson Can you comment on best practices for Node.js functions?

[2016-12-15 00:53] lindydonna commented on #89
The link for DocDB is now in the left nav

[2016-12-15 00:53] #89 closed

[2016-12-15 00:57] lindydonna commented on #86
@gibwar This is probably because the initial version of the Functions tooling was using the same internal GUID for the project type as netcore projects, so Add New File on a netcore project still thinks it's a Functions project.

To fix, do one of the following:

1. In an **administrator** command prompt, run `devenv /setup`

2. Use the "ClearComponentCache" extension (NOTE: I have not tried this

[2016-12-15 00:58] lindydonna commented on #86
I'm closing this issue as we have fixed the .NET core project issues. If you still see weird problems with .NET core projects even with the latest version of the package, try the workaround steps above to clear the MEF cache.

[2016-12-15 00:58] #86 closed

[2016-12-15 01:02] lindydonna commented on #43
@sandervandevelde sorry for the late reponse. Can you elaborate more on the feature request?  Do you want a built-in support for IoT Hub triggers?

[2016-12-15 01:02] lindydonna commented on #42
Good news, this work is already in progress! Assigning to @fabiocav

[2016-12-15 01:03] lindydonna commented on #35
@AnteDante are you still experiencing this issue?  If so, please reopen.

[2016-12-15 01:03] #35 closed

[2016-12-15 01:11] mathewc commented on #79
Can you please provide some repro code, thanks.

[2016-12-15 01:13] lindydonna commented on #96
To summarize the feedback:

On the DocDB doc page (https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-documentdb), we have the following non-descriptive info:

**id supports bindings similar to {queueTrigger}, which uses the string value of the queue message as the document Id.**

@mathewc suggests that all binding documentation be reviewed as this same issue likely appears

[2016-12-15 01:17] lindydonna commented on #95
@rndthoughts Can you provide a project that has the weird behavior?  I assume you're using Web Deploy (right-click publish)?

[2016-12-15 01:42] lindydonna commented on #95
@rndthoughts Also, are you trying to do local publish by doing **File System** as the publish method?  If so, that is not supported (as mentioned in the blog post here: https://blogs.msdn.microsoft.com/webdev/2016/12/01/visual-studio-tools-for-azure-functions/).

For the Web Deploy workflow, can you provide the exact steps you followed?

[2016-12-15 02:05] SyntaxC4 commented on #11
Hi @rachelappel - We have recently updated the portal. Can you update the screenshots for this topic?

[2016-12-15 02:05] #16 closed

[2016-12-15 02:06] #22 closed

[2016-12-15 02:07] #37 closed

[2016-12-15 02:10] #7 closed

[2016-12-15 02:11] #85 closed

[2016-12-15 09:32] bragma opened #105 "VS Tools Fx solution directory structure not compatible with continuous integration"
Hi,
I am trying to work on a Functions (Fx from now) solution created in VS with the new tools (C#), sync it on a git repo on VSTS and deploy to an Fx App on the portal using Continuous Integration feature.
This setup fails because the directory structure of the solution created by VS (and preserved on git repo) is not compatible with the structure of the repository expected by Fx portal for CI.

[2016-12-15 10:53] lucabol commented on #102
Thanks Donna. That was it. Fixed.

[2016-12-15 10:53] #102 closed

[2016-12-15 13:17] lucabol opened #106 "[Visual Studio] Timer triggered functions don't run at the specified time"
I don't think you need a repro, as you probably know it's not implemented. Just logged to keep track of it. For timer and manual projects you might consider exposing a Http function so that they can be triggered on demand for the sake of testing their behavior. Cheers.

[2016-12-15 13:27] brbarnett commented on #90
+1

[2016-12-15 14:29] #106 closed

[2016-12-15 14:30] lucabol commented on #106
And my apologies. Disabled was 'true'.

[2016-12-15 14:43] garrardkitchen commented on #99
Hi @lindydonna, yes, I can confirm that this is set in the `appsettings.json` file in the root of the project.

appsettings.json:

[code]

Warmest regards,

Garrard.

[2016-12-15 15:50] rndthoughts commented on #95
@lindydonna - you're quite right, I was attempting to publish locally,  my bad.  But I can't find where that's mentioned in the blog post?

[2016-12-15 15:59] tobylo opened #107 "Using dot-character in project name"
Tried out the new VS tooling and created a FunctionApp (host) called 'Test.Functions' and created a new function within. Hit F5 and a command window appeared and disappeared in a flash. No output, no reason for the crash what so ever.

Tried your command line cli with the default naming, and it worked.

After a bit more trial and error it appears the one can't have a dot in the path, this breaks t

[2016-12-15 17:57] asw commented on #42
Excellent! I am looking forward to testing this as it is a very valuable workflow for us.

[2016-12-15 17:59] lindydonna commented on #99
Can you provide the contents of function.json?

[2016-12-15 20:15] #21 closed

[2016-12-15 20:15] #24 closed

[2016-12-15 20:16] #2 closed

[2016-12-15 20:22] SyntaxC4 commented on #104
This is partially due to Issue #44. There was some updating going on for the SendGrid Extension so we dropped the topic into the Blocked column. I will check with @mathewc to see if the SendGrid extension is back up to date.

[2016-12-15 20:24] SyntaxC4 commented on #6
I think that we should add this to the left nav. It would make sure that people find the known issues quicker than if we bury it in a topic somewhere.

[2016-12-15 20:25] SyntaxC4 commented on #17
@lindydonna @christopheranderson  - Is this ready to be unblocked now and added to the ready column?

[2016-12-15 20:31] SyntaxC4 commented on #93
There isn't really a precedent for this across all of the App Service content. We need to figure out a good place to put stuff like this.

I think it would be wise to have it in the Developer Reference topic under a heading of **Versioning**.

[2016-12-15 20:50] ggailey777 commented on #96
Things like this will be less of an issue when we start leveraging the portal reference in Docs topics, as prototyped in #80.

[2016-12-16 00:16] lindydonna commented on #95
@rndthoughts You're right, it's not in the list of known issues in the blog post. Good catch--I'll ask that it be updated.

Are you having any problems with publishing to Azure when you use the regular Web Deploy (not a web deploy package)?

[2016-12-16 00:21] lindydonna commented on #105
@bragma Thanks for the details! You're right that the directory structure is one level off. We should fix the default, but think for now you can uncheck the box "Create directory for solution" when you create a new Function project (see screen shot).

![image](https://cloud.githubusercontent.com/assets/4260261/21247185/6a84ade4-c2e2-11e6-8a31-b885b8d18d73.png)

[2016-12-16 00:33] lindydonna commented on #107
Yes, this is a bug in the Azure Functions CLI, which is launched by the VS tooling. The bug is tracked here, so I'm closing this issue as a duplicate: https://github.com/Azure/azure-webjobs-sdk-script/issues/1006.

Thank you for reporting--we're going to update the blog post to call this out explicitly.

[2016-12-16 00:33] #107 closed

[2016-12-16 00:35] lindydonna commented on #87
@peder If you run the CLI and use a different port, do you get the same error?  I think the problem is likely something having to do with the Windows config, but @ahmelsayed will know for sure. I'll follow up soon.

[2016-12-16 01:56] lindydonna opened #108 "Document settings required for CLI"
The CLI requires various local settings that are similar to those required for building and running the -script project (see https://github.com/Azure/azure-webjobs-sdk-script/wiki). These need to be documented.

I'll start with a wiki page which should later be migrated to real product documentation.

[2016-12-16 10:02] rndthoughts commented on #95
@lindydonna No, that's all working fine :)  Thanks for all the help, if only I could get the Azure B2C team to respond in the same way :(

[2016-12-16 14:40] peder commented on #87
I thought I had replied to this two weeks back, sorry for the late reply. Yes! Using the CLI and changing the port worked great, running as an admin and using the default port in Visual Studio also worked just fine.

[2016-12-16 14:54] wesselkranenborg commented on #90
+1

[2016-12-16 17:47] SyntaxC4 commented on #44
Here is the changeset from the latest update of the extension.. https://github.com/Azure/azure-webjobs-sdk-extensions/pull/152

[2016-12-16 20:19] lindydonna opened #109 "[Visual Studio] Should not deploy project.lock.json on Web Deploy"

[2016-12-16 21:48] #95 closed

[2016-12-17 05:33] iamsunny opened #110 "Not able to debug Azure Fuctions in Visual Studio"
----------------------------------------------------------------

VS Version: Visual Studio Enterprise 2015
			14.0.25431.01 Update 3

OS Version: Windows 8.1 Enterprise / 6.3.9600 Build 9600

----------------------------------------------------------------

Steps to Reproduce the issue:
---------------------------------
Download Microsoft Azure App Service Tools for Visual Studio from the link be

[2016-12-18 12:31] aL3891 commented on #42
Awesome! would love to see this, we have tons of webjobs that are clunky to manage compared to functions

[2016-12-19 19:03] brentstineman opened #111 "Blob Function Trigger supported types"
In this document: https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage#a-idstorageblobtriggera-azure-storage-blob-trigger

I think the section on "Blob trigger supported types", it could be taken as a bit misleading. The section starts off with "The blob can be deserialized to any of the following types" and the example shows using a string object. I think the section

[2016-12-19 19:18] lindydonna opened #112 "Document trigger behavior when running locally"
Moved from https://github.com/Azure/azure-webjobs-sdk-script/issues/1052

Comments from Brett:

Technically they all operate like separate hosts in this case, but blobs are a little different from some of the other triggers because they don't delete the blob once they process it. That allows other hosts to process it on their own. Some examples of what would happen if you ran the same app in two m

[2016-12-19 21:38] lindydonna opened #113 "Clarify private and shared assemblies (C#, F#)"
Need to update the documentation here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-csharp#referencing-external-assemblies to describe the distinction between **shared** and **private** assemblies.

- Shared assemblies are shared across all functions within a function app
- Private assemblies are part of a given function's context
   - Supports side loading of differe

[2016-12-19 21:40] lindydonna commented on #110
Did you successfully install the Azure Functions CLI tools?  You can check by going to the folder %USERPROFILE%\AppData\Local\Azure.Functions.Cli

If not, restart VS and do F5 again. You should get a prompt to install the tools.

[2016-12-19 22:12] brentstineman opened #114 "blob trigger with VS C# SDK: dataAccount cannot be null"
I'm attempting to create a blob trigger using the VS SDK. When i attempt to run the function, I get the following error:
A ScriptHost error has occurred
Microsoft.Azure.WebJobs.Host: Error indexing method 'Functions.BlobTriggerCSharp'. Microsoft.Azure.WebJobs.Host: Value cannot be null.
Parameter name: dataAccount.
Error indexing method 'Functions.BlobTriggerCSharp'

appsettings.json file appears

[2016-12-19 22:36] brentstineman commented on #114
I found my root issue. I have a connection string on both and the function.json should instead be the name of an appsetting parameter. In this cause, the error is simply a little misleading. :)

[2016-12-19 22:46] soninaren commented on #114
There is a PR out to fix the error message.
https://github.com/Azure/azure-webjobs-sdk/pull/946

[2016-12-19 22:46] #114 closed

[2016-12-20 00:38] lindydonna opened #115 "[Visual Studio] Tooltip for storage account connection is incorrect"
![image](https://cloud.githubusercontent.com/assets/4260261/21334087/6a9967aa-c609-11e6-9bdb-ca50175c2422.png)

Should instead read: `A key for your storage account connection string. Specify the value in appsettings.json`

[2016-12-20 01:17] lindydonna commented on #105
@bragma I forgot there's another workaround: you can use a .deployment file in your repo root, or alternatively the PROJECT app setting.

See: https://github.com/projectkudu/kudu/wiki/Customizing-deployments#deploying-a-specific-folder-for-a-node-php-or-aspnet-site.

Here’s an example:
•	https://github.com/lindydonna/TestFunctionsPublish
•	https://github.com/lindydonna/TestFunctionsPublish/blob/ma

[2016-12-20 16:01] iamsunny commented on #110
I tried it several times. The prompt comes up every time I restart VS. It runs for a minute long and then the error message shows up.
I also tried reinstalling Azure-Function-CLI multiple times. With and Without Admin privilege both. It is  working properly on command prompt.

[2016-12-21 00:50] lindydonna opened #116 "Document binding limitations for each supported binding"
Bindings generally expose a subset of the functionality compared with using the underlying classes directly. For instance, you can only set blob properties if you bind to CloudBlockBlob. And, if you need something more advanced than what the binding supports, you need to forego input/output bindings and just directly use various SDKs.

For each binding, we should be clear about what is supported a

[2016-12-21 03:27] ariesmun opened #117 "Azure Functions live event stream not working"
Hi,

I have deployed a new Azure Functions based on the template - HttpTrigger-CSharp. It works fine whenever i invoke it from the webUI or from Postman.

However, the live event stream is not working as expected. I don't see any statistics being populated in the live event stream - everything is zero. I have also tried to close the tab/browser and reload the page a few times. It is still not work

[2016-12-21 08:43] ariesmun commented on #117
I have created a totally new function app collection, and the live event stream works wonderfully.
I still don't know why it did not work with the old function app collection.

Thanks.

[2016-12-21 08:43] #117 closed

[2016-12-21 10:00] jsiegmund commented on #99
I'm seeing kind of the same thing. Cannot run functions from either visual studio or CLI with the error that port 7071 is already in use. Running as administrator does not make a difference. When I run "func host start -p 7073" for instance, the CLI works fine. I have no clue what would be running on port 7071 otherwise, I tried http://localhost:7071 but that doesn't return anything. Is there a wa

[2016-12-21 10:02] jsiegmund commented on #87
I'm seeing kind of the same thing. Cannot run functions from either visual studio or CLI with the error that port 7071 is already in use. Running as administrator does not make a difference. When I run "func host start -p 7073" for instance, the CLI works fine. I have no clue what would be running on port 7071 otherwise, I tried http://localhost:7071 but that doesn't return anything. Is there a wa

[2016-12-21 15:21] garrardkitchen commented on #99
Hi @lindydonna,

Here you are:

[code]

Warmest regards,

Garrard.

[2016-12-21 16:17] NicolasHumann commented on #99
Hi @garrardkitchen
I had the same issue. In the function.json, you should have

`{
  "disabled": false,
  "bindings": [
    {
      "name": "myQueueItem",
      "type": "queueTrigger",
      "direction": "in",
      "queueName": "samples-fsharp",
      "connection": "AzureWebJobsStorage"
    }
  ]
}`

"AzureWebJobsStorage" is the name of the connection string in appsettings.json

[2016-12-21 16:56] gdgudmundson commented on #90
+1

[2016-12-21 20:56] lindydonna commented on #99
This looks like a situation with a poor error message and the tooling not getting you on the right path. The value of "connection" in function.json MUST be an app setting that you specify in appsettings.json. This is how it works in the portal, where it automatically sets things up for you the right way. The Visual Studio tooling doesn't yet have any support for the equivalent of the "Integrate" t

[2016-12-21 20:58] lindydonna commented on #87
@jsiegmund and @peder Thanks for the update--I'm pretty sure it's the root cause is this bug I just opened: https://github.com/Azure/azure-webjobs-sdk-script/issues/1067

I'm going to close this issue in favor of the other one.

[2016-12-21 20:58] #87 closed

[2016-12-22 00:51] SyntaxC4 opened #118 "Provide a Reference to each bindings Errors pages"
For the Functions Binding topic, it would be helpful to have an Error Codes section that would cross-link to the wrapped services error codes page.

Something along the lines of:

## Bindings Error Codes

Azure Function provides a wrapper to comment services within Azure. Often times while developing your Functions, you may have errors bubble up from the underlying Azure Services SDKs. The table b

[2016-12-22 00:56] SyntaxC4 commented on #118
Service Bus Messaging: https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-messaging-exceptions

[2016-12-22 01:10] SyntaxC4 commented on #118
## DocumentDB

* [DocumentDB Error Codes](https://docs.microsoft.com/en-us/rest/api/documentdb/http-status-codes-for-documentdb)

[2016-12-22 01:11] SyntaxC4 commented on #118
## Notification Hubs

* [Operations Guide](https://docs.microsoft.com/en-us/rest/api/notificationhubs/)

[2016-12-22 14:10] markanewman commented on #90
+1

[2016-12-22 21:02] rossedman commented on #102
@lindydonna @lucabol Hey, I have tried tracing this thread and have gotten lost in the repo hopping. What is the conclusion to this? I have tried updating DotNet, dotnetcore, nodejs, yeoman and everything else in between. I am still getting this error.

I can open a new thread as well if needed. Thanks.

---
This happens on an infinite loop.

[code]

[2016-12-23 10:00] mnbf9rca opened #119 "default template ServiceBusTopicTrigger - C# doesnt work"
I created a new functions app in VS2015 using the instructions here:

https://blogs.msdn.microsoft.com/webdev/2016/12/01/visual-studio-tools-for-azure-functions/

I selected "ServiceBusTopicTrigger - C#" as the template, and populated it with the relevant details (topic name, subscription name, SB connection string). I selected a meaningful name for the function. I haven't changed anything else. W

[2016-12-23 12:42] garrardkitchen commented on #99
Hi @lindydonna & @NicolasHumann, thank you, I am now able to debug locally!

Warmest regards,

Garrard.

[2016-12-23 12:42] #99 closed

[2016-12-24 18:33] DarkNoir commented on #90
+1000000000000000

[2016-12-25 21:57] atrauzzi opened #120 "How do I publish a .net Core app to Azure App Service for use in a Function?"
I've also posted this as a Stack Overflow question here: http://stackoverflow.com/questions/41323818/how-do-i-publish-a-net-core-app-to-azure-app-service-for-use-in-a-function

The basic gist of things is that I'm not 100% clear on how I might deploy my built executables and functions from anywhere they're being built.

I only use git for source control, not for deployment.  So some pointers on al

[2016-12-26 04:44] kapopken commented on #105
I'll check this week if this fixes my issue and report back. I had the same problem. Unfortunately the fix is not very obvious for someone to find. Can't wait till this gets farther along!

[2016-12-26 04:46] kapopken commented on #105
If you uncheck the create directory fur the solution you can't debug I found. Once you put it the solution back in its own folder debugging works again.

[2016-12-26 13:10] BaskarGovindaswamy commented on #110
Hi,
i also face the same issue, Could you please give me the solution, Even i tried this through node.js command prompt --->  "npm i -g azure-functions-cli". But still didnt work for me,

[2016-12-27 17:50] TPoise commented on #120
.NET Core is not yet supported for Azure Functions, see Issue #98

Only .NET Framework v4.6 (full desktop) is supported at this time.  Reference the [https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference#a-idfileupdatea-how-to-update-function-app-files](guide on how to update function app files).  It will also show you how to upload your files via FTP or thru Kudu.

[2016-12-29 09:05] iamsunny commented on #110
@lindydonna hi Donna. Any update on this bug?

[2016-12-29 09:30] BaskarGovindaswamy commented on #110
Hi Team,
it works now, it was network issue - In my organization internally they are blocking. when i reached home and tried with my Airtel dongle network connection and it was installed and i am able to debug the azure function.

But, the error message is not  a valid one. Please provide a valid message.

Thanks
Baskar.G

[2017-01-01 22:40] michaeldaw opened #121 "[Visual Studio] What is the function of the "data" and "secrets" folders?"
When using a Functions project in Visual Studio, the project automatically adds a "data" and "secrets" folder. They don't seem to do anything. Can future versions of the tooling leave this out?

[2017-01-03 06:59] navilwayne opened #122 "Azure Function Not Triggering by Event Hub in Consumption plan"
Hi Folks

- I have a Event Hub Trigger function app with consumption plan. It was working, when I open the portal in UI & continue to run for 3-4 hours , after that it automatically sleeps, when no request coming to event hub.
- Next day when request come again , it is not triggering, until I open portal.  I am facing the same issue for last 2 weeks
- In last,  I have to swap @from Consumption Pla

[2017-01-03 18:05] petmat opened #123 "Add Item in Visual Studio 2015 loses templates for .NET Core class library projects"
After I installed the Visual Studio Tools for Azure Functions from this address: https://aka.ms/azfunctiontools I noticed that in a .NET Core class library project when I added a new item (or new class) only templates visible were powershell and webpack config templates. The reason those were visible is probably because they came from extensions. Only .NET Core class libraries were missing the tem

[2017-01-03 20:04] lindydonna commented on #102
@rossedman Please do open a new issue in this repo, since it sounds like a different issue. Please include the contents of function.json and appsettings.json (but remove actual connection strings).

[2017-01-03 20:07] lindydonna commented on #121
This is a duplicate of these bugs: https://github.com/Azure/azure-webjobs-sdk-script/issues/945 and https://github.com/Azure/azure-webjobs-sdk-script/issues/946

We haven't yet done a release with the fix, but you'll see the fix in version 0.10 of the CLI.

[2017-01-03 20:07] #121 closed

[2017-01-03 20:08] michaeldaw commented on #121
Thanks for clarifying.

[2017-01-03 21:25] paulbatum commented on #122
@navilwayne Does your connection string have an EntityPath? If so can you try removing it? We have a bug in our scale infrastructure that prevents us from reading the state of the event hub if there is an entity path present.

[2017-01-03 22:41] SyntaxC4 opened #124 "Provide Guidance on how customers can upgrade Azure PowerShell Commandlets"
There was a [thread](https://twitter.com/i/web/status/811940509295976449) on twitter in which a customer was running into an issue where the version of the Azure PowerShell commandlets on their local machine was a different version than what was in Azure Functions. We should provide some guidance on how customers can update the version of the Azure PowerShell Tools which is available in Azure Func

[2017-01-04 02:50] lindydonna commented on #105
@kapopken Does your project happen to have periods in the name?  We had a bug where that caused the CLI to fail. Otherwise, I can't produce the situation you're describing, can you outline the exact steps you followed?

[2017-01-04 03:19] kapopken commented on #105
Sorry I haven't had a chance to get back to this.  My project does not have periods in it.  You are putting the solution folder in a separate folder than the project folder?  So it should be 3 levels deep.  Solution Folder => Project Folder=> {NameOfFunctionFolder}

[2017-01-04 10:33] lucabol opened #125 "Occasional 'The decryption operation failed, see inner exception. ' with timer based function running every hour"
I am not doing anything related to cryptography in my function, hence I think it's not my code failing. Log and full code below. It fails once every 4 or 5 invocations.

LOG
[code]
CODE

[code]

FUNCTION.JSON
[code]

[2017-01-04 16:31] christopheranderson opened #126 "Typo and missing link in storage queue doc"
In this doc: https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-queue

The link at the end is empty and the word selects highlighted above should be ‘select’.

[2017-01-04 17:06] navilwayne commented on #122
Hi @paulbatum
Yes, I have EntityPath in my connection string(EntityPath contains name of Event Hub)
Sample Endpoint=sb://xxxxxxxxx.servicebus.windows.net/;SharedAccessKeyName=xxxxxxx;SharedAccessKey=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx=;EntityPath=xxxxxxxxxxxx

**I am getting below  error if I removed entity path from connection string**  as suggested by you.
Microsoft.ServiceBus: The messaging entity

[2017-01-04 17:16] paulbatum commented on #122
@navilwayne Did you enter the correct name of your event hub in the integrate section of the UI?

![image](https://cloud.githubusercontent.com/assets/10663/21651614/2c1011f8-d25e-11e6-91f9-177c38d2c271.png)

Alternatively if you are working from within VS or using the "advanced editor" the input binding in your  function.json should have the correct "path" property that corresponds to your event h

[2017-01-04 17:41] travis5555 commented on #70
does this mean Java support is not on the roadmap for Functions?

[2017-01-04 18:29] tohling commented on #70
@travis5555, no, it just means that Java is **currently** not supported and should not be in the documentation.

[2017-01-04 18:38] travis5555 commented on #70
cool, thank you! I have been anxiously awaiting Java support within Functions so I'll stay tuned for any updates around when it might be available.

[2017-01-04 19:58] christopheranderson opened #128 "Guidance on Azure Functions vs API Apps"
When should customers use Azure Functions vs API Apps?

Similar to this article on Flow vs Logic Apps vs WebJobs vs Logic Apps - https://docs.microsoft.com/en-us/azure/azure-functions/functions-compare-logic-apps-ms-flow-webjobs

[2017-01-05 04:31] lindydonna commented on #119
You can't use a service bus connection string directly in function.json. You need to add a connection string name, and set the value in AppSettings.json.

[2017-01-05 07:32] mnbf9rca commented on #119
Yeah, I discovered that. When you create the same function using the same template directly in the function app on the website, it automatically creates application.json and creates the reference for you - however when using the template within visual studio there is no application.json by default, and it doesn't automatically create the reference.

[2017-01-05 07:52] vitoc opened #129 "Recommending bot-sample addition to Samples page on Wiki"
Will like to recommend the following:

 - [bot-sample w/ Azure Functions](https://github.com/vjrantal/bot-sample) [by Ville Rantala](https://github.com/vjrantal)

for this page:

https://github.com/Azure/Azure-Functions/wiki/Samples

Thanks!

[2017-01-05 15:32] erwinkramer opened #130 "Unable to build VS2015 Function project with VSTS build definition"
Im trying to get my source control (VSTS) going with a new Functions project added to my VS solution. I'm using VS2015 with the latest App Service Tools 2.9.6 (Functons Preview).

So local building goes fine and publishing to Azure too, however when i let the build definition fire on VSTS it produces the following error:
`PROJECTNAME\PROJECTNAME.funproj(7,3): Error MSB4019: The imported project "C

[2017-01-05 16:02] probertdaniel commented on #130
Hi Erwin, this question was asked on the Functions Advisor forums, and the Product Group replied that this is a known issue: the hosted build agent (hosted in VSTS) doesn't have the functions SDK installed.
VSTS support is still in preview afaik as it's an extension of the VS support.

Function projects don't need to be built in VSTS as there is no compilation target (i.e. no need for a DLL) at th

[2017-01-05 16:09] erwinkramer commented on #130
@probertdaniel  Thanks for the quick reply and suggestions. The solution of using local agents sounds interesting, thanks for mentioning that. However i guess i'll stick to disabling building for this project for now...

[2017-01-05 21:24] #11 closed

[2017-01-05 21:30] ggailey777 commented on #80
@ggailey777 needs to meet with @SyntaxC4 to discuss how to best share content between two repos, especially when we have little control over the azure-docs-pr repo.

[2017-01-05 21:50] dendle commented on #75
I have a scenario which I thought functions (Consumption Plan) was perfect for.

We generate zip files of data to send to third parties every evening via FTP.

I wanted to use a storage queue to instruct an azure function to upload a specified zip file to a specified FTP host.  The 5 minute rule stops this, as FTP upload could take longer.  It's not really suitable to split this job into smaller c

[2017-01-06 02:08] damienpontifex commented on #42
Reading the wiki on [Precompiled functions](https://github.com/Azure/azure-webjobs-sdk-script/wiki/Precompiled-functions) is this now available?

[2017-01-06 02:36] fabiocav commented on #42
Yes, it is :)

I'll close this issue as completed to make sure others are aware.

[2017-01-06 02:36] #42 closed

[2017-01-06 15:52] asw commented on #42
@fabiocav Great work on this! Does this provide a solution for the binary .exe use case I'd mentioned? I'd want to be able to compile an executable in any language (I am thinking of golang in particular) and invoke it efficiently using Functions.

[2017-01-06 18:19] fabiocav commented on #42
@asw this works for .NET assemblies. For arbitrary executables, you'd need to invoke that from within your function at the moment.

[2017-01-07 03:42] maxpower720 commented on #123
I'm seeing the same issue on my machine. Thankfully, I found this issue as I just reinstalled and was unsure what the root cause was. I'm unaware of a workaround though I checked out the ASP.NET Core projects and those still have their templates in tact. Console and class libraries no longer have any templates (except for PowerShell)

[2017-01-07 17:15] mathewc commented on #44
Another customer asking questions: https://stackoverflow.com/questions/41521465/azurefunctions-binding-to-sendgrid

[2017-01-07 17:41] aL3891 commented on #42
Looks great! thanks a lot for this :)

[2017-01-07 23:17] justinyoo opened #131 "Cold Start and Warm Start on Consumption Plan"
Hi, Team.

When I looked into the doco, [https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale](https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale), it doesn't mention the starting time (or warm-up time) but 5 mins time limit in the comment block. I know a Function app doesn't take more than 5 mins long on Consumption Plan.

Here are my questions on Consumption

[2017-01-09 06:00] navilwayne commented on #122
@paulbatum Yes It is working now. But this is finalised now that always we have to remove the entity path from connection string in event hub scenario or it is temporary fix.

In what another scenario's we have to do modification in connection string. For example in Blob or etc.

[2017-01-09 06:10] ggailey777 commented on #6
@SyntaxC4 is this the correct [Known Issues page](https://github.com/Azure/Azure-Functions/wiki/Known-Issues)? I only see one issue documented right now. Are there other GitHub links that need to be in the docs TOC?

[2017-01-09 11:04] JasonBSteele opened #132 "Cannot create precompiled functions using VS tooling"
Having created a Function project and added a Function to it I want to add a class (.cs file) to replace the Run.csx file.

The Add New Item dialog does not show anything in it for me to select a Class so I am unable to add a Class to the project.

[2017-01-09 11:24] skorunka commented on #90
+1

[2017-01-09 12:30] skorunka opened #133 "Can not host local functions anymore: A scripHost error has occured"
1. Create a new AzureFunction project and add a new TimeTrigger function
![image](https://cloud.githubusercontent.com/assets/218913/21766564/2a47a784-d667-11e6-846f-966b58fad86b.png)

2. Press F5
![image](https://cloud.githubusercontent.com/assets/218913/21766510/e1711900-d666-11e6-8684-cc95e8b33168.png)

Does not work with 1.0.0-beta.8 nor with 1.0.0-beta.9

What's wrong?

[2017-01-09 19:07] SyntaxC4 commented on #128
@christopheranderson - Can you pull a bit more meat into the comments here so we can attempt to provide a comprehensive overview for our customers?

[2017-01-09 19:09] christopheranderson commented on #126
Link that it's supposed to use: https://docs.microsoft.com/en-us/azure/azure-functions/functions-how-to-use-azure-function-app-settings

[2017-01-09 19:11] SyntaxC4 commented on #116
@lindydonna Can you split this into separate topics and provide more context so that these are more actionable by our writers?

[2017-01-09 19:15] SyntaxC4 commented on #113
Currently we only have information on the `bin` folder. We should specify more information on how assemblies can be loaded. Current doc reads as follows:

Let's ensure that we cover a number of scenarios instead of a bin directory local to a single function (as described above)

[2017-01-09 19:21] SyntaxC4 commented on #111
Can we provide a few examples around into [this](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob#input-usage) doc:

* String based content
* Json based content
* Binary based content

[2017-01-09 19:24] ggailey777 opened #134 "Remove the duplicate Storage binding topic"
After the storage binding parts were split out, the original topic should have been deleted.

[2017-01-09 19:25] ggailey777 commented on #134
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage

[2017-01-09 19:25] SyntaxC4 commented on #108
@lindydonna  - Can you provide a little bit more information on how to get the appsettings.json using the CLI?

[2017-01-09 19:30] SyntaxC4 commented on #96
Similar to #111. However this is more general to how the templates are used. Can we be sure to review all binding topics to ensure that we provide a consistent level of detail across all bindings.. If you find another issue similar to this, but not DocDB, please create a new issue.

[2017-01-09 19:34] christopheranderson commented on #82
https://docs.microsoft.com/en-us/azure/app-service-web/websites-webjobs-resources

[2017-01-10 00:08] lindydonna commented on #133
We have a poor error message here, for timer triggers, you need to have a value for AzureWebJobsStorage in your appsettings.json file.

[2017-01-10 00:09] lindydonna commented on #132
To use a precompiled function, you need to create a separate class library project and add a build output step to reference from your Functions project. It's a bit involved, and we plan to have a blog post on this soon.

[2017-01-10 00:13] lindydonna commented on #108
I meant to assign this to myself. I'll write a wiki article with all the details, that then we can migrate to documentation along with other CLI docs.

[2017-01-10 00:14] lindydonna commented on #116
I assigned this to myself, since it'll be more expedient for me to write the content.

[2017-01-10 01:49] SyntaxC4 commented on #118
Available: https://github.com/Microsoft/azure-docs-pr/pull/3812

[2017-01-10 01:50] SyntaxC4 commented on #8
It's blocked due to updating the TOC with the article, however, it's available here: https://github.com/Microsoft/azure-docs-pr/pull/3799

[2017-01-10 12:09] JasonBSteele commented on #132
Thanks lindydonna, however that doesn't appear to be what is being done in the example in the Wiki https://github.com/Azure/azure-webjobs-sdk-script/wiki/Precompiled-functions.

There is only one project here with a .cs class file, and it works fine, no need to setup a build output step.

[2017-01-10 14:55] svdoever commented on #91
While the functions editor in the portal DOES compilation! I totally agree!

[2017-01-10 14:57] svdoever commented on #110
I'm having the same issue, on two different machines.

[2017-01-10 21:10] mathewc opened #135 "Document new context.log methods"
In this PR https://github.com/Azure/azure-webjobs-sdk-script/pull/1058 @mamaso added context.log.verbose, context.log.error, context.log.warn methods to compliment the existing info method. We need the documentation updated.

[2017-01-10 23:55] lindydonna commented on #110
@svdoever It sounds like the download of the CLI tools didn't complete. Do you see them installed in `%USERPROFILE%\AppData\Local\Azure.Functions.Cli`?

[2017-01-11 01:50] lindydonna commented on #90
Just wanted everyone to know we're listening and totally agree this is an important feature, particularly with the precompiled function support (https://github.com/Azure/azure-webjobs-sdk-script/wiki/Precompiled-functions).

This is certainly the top feature request for the VS tooling and we'll try to make sure the next update to the tooling has this in place.

[2017-01-11 01:51] lindydonna commented on #133
@skorunka Could you try that and report back?

[2017-01-11 02:08] lindydonna commented on #132
@JasonBSteele Ah interesting, I didn't notice that in the sample. The problem is that that is a class library project, so you'd have to deploy manually (there's no publish in Visual Studio for a class library).

So, I think the real feature you want is project references: https://github.com/Azure/Azure-Functions/issues/90

[2017-01-11 03:36] atrauzzi opened #136 "Offer a streamlined article outlining Azure Functions deployment"
Following up from my discussion with @lindydonna on [Twitter](https://twitter.com/lindydonna/status/819015036588806144).

_Also, I'm reserving the right to edit/update this description. I did a lot of reading about functions over the holidays, any important examples will take time to dig up again. So what I'm putting here is just a general brain-dump summary.  I don't mind refining/correcting any

[2017-01-11 08:36] ariesmun opened #137 "Visual Studio - Remote Debugging - "The breakpoint is currently won't be hit. No symbols has been loaded for this document""
Hi,

I have successfully create and build Functions in VS, and deploy it to the Azure Cloud.  Everything works fine.
Everything seems to be working fine when i do "attach debugger" except the it won't stop at any breakpoints.
The message is : "The breakpoint is currently won't be hit. No symbols has been loaded for this document".

I have tried to load all the symbols, but still no luck with the b

[2017-01-11 10:19] skorunka commented on #133
@lindydonna I have added it and this is how my appsettings.json file looks like:

{
	"IsEncrypted": false,
	"Values": {
		"AzureWebJobsServiceBus": "Endpoint=...",
		"AzureWebJobsDashboard": "",
		"AzureWebJobsStorage": ""
	}
}

Problem still occures. Any idea? Thank you.

[2017-01-11 10:31] skorunka commented on #133
Ok, I had to full in an AzureWebJobsStorage value. It can be found on Azure portal under a Storage the Functions are using: Storage/AccessKeys/"click ..." and "View Connection String"

![image](https://cloud.githubusercontent.com/assets/218913/21845065/03a96c60-d7e9-11e6-8b5e-1045fcdfe7dd.png)

What is the AzureWebJobsDashboard for and what value shout be in there?

[2017-01-11 22:28] lindydonna commented on #133
It should be the connection string for any Azure Storage account. Azure Functions uses a lot of queue storage internally, so in your remote function, the value for AzureWebJobsStorage is always set. When running locally, you need to specify it. We need to make the tooling more streamlined so you don't have to set it up manually like this!

Please check out this video for a walkthrough of how to ge

[2017-01-11 22:31] lindydonna commented on #133
Closing as a duplicate of https://github.com/Azure/azure-functions-cli/issues/6

[2017-01-11 22:31] #133 closed

[2017-01-11 22:37] lindydonna commented on #120
@TPoise This isn't totally correct--Azure Functions runs on the .NET full framework, but will run any netstandard 1.3 assembly.

[2017-01-11 22:44] lindydonna commented on #136
I'll let other folks on the team comment on deployment and the consumption compute plan. A few comments:

- We do support .NET Core as we support netstandard class libraries. However, the Functions runtime currently runs on the full .NET framework and we are porting the runtime to .NET Core. Our development is done in the open, and you can track the progress here: https://github.com/Azure/Azure-Fu

[2017-01-11 22:48] lindydonna commented on #125
Note that you can use three backticks to format code in markdown

```like so```

[2017-01-11 23:21] lindydonna commented on #90
@SimonLuckenuik Here's a workaround for getting your assembly to build when you run the function project: right click on the function project, and go to Build Dependencies -> Project Dependencies.

![image](https://cloud.githubusercontent.com/assets/4260261/21870492/80d073f0-d811-11e6-9e8d-791c48e1a45e.png)

[2017-01-11 23:35] fabiocav commented on #125
@lucabol looking at the logs for this, looks like the failure occurs when trying to communicate with the SEC endpoint used in the function (the decryption error is due to a failure to read the SSL stream) as a result of calling FetchLastQuarterDate (which in turn calls FetchRssDataAsync, where the failure occurs)

Do those 4-5 invocations happen to be close together? Are you hitting some limits on

[2017-01-12 00:13] lindydonna commented on #110
@iamsunny It sounds like the tools didn't download. Do you see anything in %USERPROFILE%\AppData\Local\Azure.Functions.Cli?

[2017-01-12 00:26] SyntaxC4 opened #138 "Provide Guidance on Command-Line deployment options in Azure Functions"
There are a number of command-line deployment options for Functions from piggy-backing on the App Service Platform.

Here is the article which we can reference in App Service: https://docs.microsoft.com/en-us/azure/app-service-web/app-service-deploy-command-line

[2017-01-12 00:28] SyntaxC4 commented on #136
I will reserve the same right to update this post to provide additional context over-time to avoid a very long thread.

### On Deployment

We provide documentation on the CI/CD model which is integrated into our platform for a good reason, we are intimately familiar with the design, code and implementation of these features. They do reflect a great deal of industry standard and developer friendly

[2017-01-12 01:35] atrauzzi commented on #136
@SyntaxC4 - Thanks for jumping in.  A few things in your first two paragraphs I want to address and then move on to the more interesting last two.

 - Regarding VSTS, my sentiment towards it is exactly the same as Azure CI/CD. This particular issue seems to be a cultural one internally at Azure as I keep getting funnelled towards these products.
    Proprietary hosted CI/CD is just not acceptable

[2017-01-12 02:00] lindydonna commented on #136
@atrauzzi You can use FTP for deployment, that's probably as simple as it gets. :)  Most of our customers are asking for a turnkey and integrated solution, which is why we have articles about VSTS and integration with that platform.

For deploying an Azure Function, you just need to match the directory structure here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference#folde

[2017-01-12 02:08] lindydonna commented on #110
If you have problems downloading the tools through Visual Studio, you can unzip manually, just put it in the folder `%USERPROFILE%\AppData\Local\Azure.Functions.Cli\1.0.0-beta.9`.

You can download the beta 9 CLI drop from here: https://functionsbay.blob.core.windows.net/public/1.0.0.beta.9/Azure.Functions.Cli.zip

[2017-01-12 02:33] atrauzzi commented on #136
I'd say your audience is split now and any customers who are asking for tools are doing so after years of being conditioned to depend on them.
It's not that there isn't such a thing as turn-key solutions coming from the other direction.  But it tends to be that they're less obtrusive to the project.  VSTS is just not a level of detached I want to be from my deliverables.

I'd say using the Azure C

[2017-01-12 10:06] lucabol commented on #125
@fabiocav thx. How did you get the logs? so that I don't bother you next time.

Also, I don't think I'm hitting a limit on their side as I query them once an hour. More likely the site is temporarily down at those times. In any case, not your fault, so I'll close this.

[2017-01-12 11:09] davidgouge opened #139 ""A ScriptHost error has occurred" error on empty TimerTrigger Function"
Hi,

Visual Studio 2015 Update 3, Windows 10, CLI tools up to date.
Steps to reproduce:
New Azure Functions Project
Add New Azure Function
Select TimerTrigger
Click Create
Right click project, Debug, Start New Instance.

This is the result I get every time:

Other triggers such as HTTP and ServiceBus are working fine.

[2017-01-12 11:15] skorunka opened #140 "{"Entry point was not found.":""} when referencing own assembly"
Hi,
I have a .Net Core project which is targeting net46:
	"dependencies": {
		"StyleCop.Analyzers": {
			"version": "1.0.0",
			"type": "build"
		},
		"WindowsAzure.ServiceBus": "3.4.4",
		"WindowsAzure.Storage": "8.0.1"
	},
	"frameworks": {
		"net46": {}
	}

The dll is then copied to a Function project bin fulder and referenced like:

#r "bin\myass.dll"

in a Run method, I can create a Instance o

[2017-01-12 18:03] fabiocav commented on #125
I found that information inspecting system logs and would expect that to be available in storage as well, although (and I'm suspecting that is the case here), I believe we have some length limitations and the stack might have been truncated (the file logs would still contain all the details, though). @MikeStall can confirm if that is still an issue.

@lindydonna brought up a good point about the p

[2017-01-12 18:20] paulbatum commented on #122
@navilwayne glad to hear its working. Removing the entity path from the connection string is a temporary workaround until we fix a bug on our side. You shouldn't need to do this any other scenarios (that I'm aware of).

[2017-01-12 19:21] ggailey777 commented on #134
Now the link above resolves straight to the Blob binding topic.

[2017-01-12 19:21] #134 closed

[2017-01-12 19:28] ggailey777 commented on #32
@christopheranderson or @davidebbo do we have this info available?  If so, it's easy to add a table in [this topic](https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale). Maybe that should then get linked to from the [Pricing page](https://azure.microsoft.com/en-us/pricing/details/functions/)?

[2017-01-12 19:34] davidebbo commented on #32
The list is growing pretty quickly so doc would get out of date. I think the best way to test the list of regions that have Consumption is to look at the drop down when trying to create one.

[2017-01-12 19:37] lindydonna commented on #32
@davidebbo @ggailey777 I think we're talking about different things. The proposal was to have a table to show the difference between feature sets in Dynamic and Consumption.

Daria and I can provide this information, but we need to compile it and it will take some time.

[2017-01-12 19:41] davidebbo commented on #32
Yep, sorry, I thought it was able listing regions...

[2017-01-12 20:33] lucabol commented on #125
I will run it from VS all night. Let's see if I see any error in the morning.

[2017-01-12 20:43] christopheranderson opened #141 "Azure Blob cold start times"
We should document the cold start for Blob storage being slow for now:
-	When things are warms: blobs processed quickly
-	When cold: up to 10 minute delay

[2017-01-12 21:05] ggailey777 commented on #6
Won't fix per @christopheranderson

[2017-01-12 21:06] #6 closed

[2017-01-12 21:07] ggailey777 opened #142 "Add link to Function repo in left-nav"

[2017-01-12 21:18] ggailey777 commented on #32
@lindydonna thanks. I will add you to this issue to help track this.

[2017-01-12 22:20] JasonBSteele commented on #132
Hi @lindydonna,
It's a shame the precompiled Function scenario wasn't included in the VS tooling.
I have created a feedback post for this so other readers can vote for it if they also believe this is important: https://feedback.azure.com/forums/355860-azure-functions/suggestions/17709979-visual-studio-tooling-for-precompiled-functions

[2017-01-12 22:50] fabiocav opened #143 "Clarify authentication requirement for WebHooks"
`authLevel` does not apply to WebHooks and the authentication is based on the receiver type selected. It would be good to make this clearer in the documentation to avoid confusion.
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook#keys

[2017-01-12 22:57] lindydonna commented on #132
Thanks for the creating the feedback item!

[2017-01-12 22:57] lindydonna commented on #90
FYI you can also upvote this UserVoice request: https://feedback.azure.com/forums/355860-azure-functions/suggestions/17709979-visual-studio-tooling-for-precompiled-functions

[2017-01-13 03:25] ciwchris commented on #143
Perhaps using the same text for the genericJson webHookType as the other types would be helpful.

[2017-01-13 09:04] rhwilburn commented on #75
I really just need 10-15 mins so that I can download a zip file from an FTP and do about 3 mins of processing on it. Currently it takes 3-8 mins to download that file. The FTP server is not my own, so I can't control their slow speeds. The file is ~30mb.

[2017-01-13 10:16] skalinets commented on #139
I am getting the same issue in command line with empty timer-trigger function

[2017-01-13 11:02] iamsunny commented on #110
@lindydonna thanks for replying. I tried extracting latest beta in mentioned folder and it worked this time.
Thumbs Up!

[2017-01-13 11:03] iamsunny commented on #110
@svdoever & @BaskarGovindaswamy : Please try the latest beta if still not resolved.

[2017-01-13 11:26] lucabol commented on #125
@fabiocav @lindydonna I am afraid you were right. It is likely an App Service issue. It run fine all night long from my machine, but failed a few times running in App Service. Below the proof that it worked fine from my machine.

'
Job host started
Executing 'Functions.CheckGurusUpToDate' (Reason='Timer fired at 2017-01-12T22:00:00.0167753+01:00', Id=038565c9-5813-4bf5-a5ad-4e3a38406149)
Function

[2017-01-13 13:10] davidgouge opened #144 "Error when using a precompile function with extra methods."
Hi,

I have created a very simple Precompiled function (copied code from tool generated):

[code]

The dll this resides in is copied to the Function's folder and is linked up in function.json like this:

[code]

This all works fine.

What I then wanted to do was add a private method to be called from the Run method, so (baby steps) I added this to the Foo class:

[code]

This results in these erro

[2017-01-13 14:56] skorunka commented on #140
Ok, this took me few days to figure out: Azure Functions(as of now) do not wupport NetCore libraries.
So ALL of the DLL libraries you reference(by r#) must be classic cspro Class Libraries, not xproj.

[2017-01-13 14:56] #140 closed

[2017-01-14 02:25] 1N50MN14 opened #145 ""connect EACCES" Error when using Azure Storage SDK & Documentation"
The client (node.js / table storage) is unable to establish a connection when running within an Azure Function, it throws the error `EACCES 52.226.8.138:443` (error code 500).

The only way I'm able to reach Table Storage is through `table` bindings. If this is supposed to be the case, then the only documentation / reference I could find was to `context.bindings.outputTable.push()` all other APIs

[2017-01-14 02:44] 1N50MN14 commented on #145
The issue seemed to have been "magically" resolved on its own after few runs (I'm using timer trigger), it would still be good to know what causes this error. I'm relying on `Promise.map` to make concurrent calls, is it possible Azure Functions have some sort of firewall setting that limits the number of outgoing connections?

[2017-01-14 11:32] thdotnet opened #146 "azure functions challenge"
Hi, I was wondering if the Azure Functions Challenge is still valid.

It seems that it forces a '/api/' in the url to invoke the function, however after creating and deploying mine through VS, it does not uses the '/api' in the URL. Is that right?

[2017-01-14 11:36] #146 closed

[2017-01-15 16:17] atrauzzi commented on #136
@lindydonna & @SyntaxC4

Finally got some time to do a bit of reading and am booting up a clean Functions project again.  I've got a couple of questions ready, hopefully you can help me out :)

My intention - and you can set me straight if this isn't in line with the project templates design - is to have the functions project invoke separate .net Core projects.  The first structural snag I have th

[2017-01-15 22:04] atrauzzi commented on #136
Just to experiment, I've tried making an empty Functions project with one `csx` function.  Ended up with this error trying to run it:

[code]

Considering all I did was accept defaults - this is very strange.

[2017-01-15 22:16] atrauzzi commented on #136
Here is a blog post from someone else raising fairly similar if not identical concerns to my own: http://blog.stephencleary.com/2016/11/azure-functions.html

[2017-01-17 13:37] slideep commented on #139
Ditto, running locally getting the same (CLI tools 1.0.0-beta.9) and on Azure function is running and triggering happily.

[2017-01-17 20:08] fabiocav commented on #144
This issue was moved to Azure/azure-webjobs-sdk-script#1125

[2017-01-17 20:08] #144 closed

[2017-01-17 22:26] ggailey777 opened #147 "Update the Logic Apps binding topic to show binding to response fields"
This issue created to track the binding output portion of #103 opened @mathewc

[2017-01-17 23:29] lindydonna commented on #136
@atrauzzi  The Azure Functions CLI is still in beta, and we need better error messages. The bug you saw about FunctionEnvelope[] is tracked here: https://github.com/Azure/azure-functions-cli/issues/6

You can reference an external library using #r. It should be a NetStandard 1.3 project if you're using .NET Core. See https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-csharp

[2017-01-18 00:26] lindydonna commented on #139
It looks like an issue with a bad error message (and documentation that needs to be improved). For all triggers except for HTTP, you need to set a value for AzureWebJobsStorage in appsettings.json.

We'll make this more streamlined and less error-prone in the future. Here's a video demo that shows some of the manual steps: https://channel9.msdn.com/Shows/Tuesdays-With-Corey/Tuesdays-with-Corey-Coo

[2017-01-18 00:27] lindydonna commented on #139
Possible duplicate of https://github.com/Azure/azure-functions-cli/issues/6

[2017-01-18 00:27] lindydonna commented on #137
What kind of function are you trying to debug?  Remote debugging only works for C# functions.

[2017-01-18 00:56] lindydonna opened #148 "Improvements to Visual Studio tooling"
This issue is tracking the top features for the Functions Visual Studio tooling to be release quality. I'll create individual issues for bigger items. Folks can suggest items in comments below, and I'll add them to this categorized list.

Note: this list is **not a promise** that these features will actually be implemented, but just tracks the relative priority. :)

## P1 - Visual Studio tooling
-

[2017-01-18 01:04] ggailey777 commented on #142
PR for this update: https://github.com/Microsoft/azure-docs-pr/pull/4528

[2017-01-18 03:53] SimonLuckenuik commented on #88
Modifying to include `--cors` option would be interesting to see, I guess that with the complete customizing this will be supported.

[2017-01-18 06:44] jimt4593 opened #149 "Update System.Configuration.ConfigurationManager.Appsettings property to read appsettings.json"
Right now, the only way to read appsettings, stored is apsettings.json, is from the environment.  My Azure Function uses assemblies that user ConfigurationManager.AppSettings to read app setting values.  These assemblies are also used by Azure web apps and web apps that still run on web servers running on premise.

I do not want to have to update these assemblies to  access app settings in 2 ways.

[2017-01-18 10:41] thdotnet opened #150 "servicebusqueuetrigger"
I`m trying to use ServiceBusQueueTrigger. After pasting the right connection string and setting the queue name, when I try to run it gives me the following error:

Microsoft.Azure.WebJobs.Host: Error indexing method 'Functions.ServiceBusQueueTriggerCSharp'. Microsoft.Azure.WebJobs.ServiceBus: Microsoft Azure WebJobs SDK ServiceBus connection string 'AzureWebJobsEndpoint=sb://[edited].servicebus.wi

[2017-01-18 10:48] thdotnet commented on #150
It seems that this VS template is wrong. It creates the property on function.json, however, Azure Function Try to read from appsettings.json.

After I move the connection string to appsettings.json and just set the name of the property on function.json, it works.

function.json
[code]
{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "AzureWebJobsDashboard": "",
    "conne

[2017-01-18 11:50] slideep commented on #139
That did the trick: for local development I added the key-value pairs for 'AzureWebJobsDashboard' & 'AzureWebJobsStorage' props and CLI host is running locally again like a charm.

[2017-01-18 12:08] waqar-haider-confiz commented on #110
I am facing the same issue and have tried above solution.
In my case, I can't see folder 'Azure.Functions.Cli' under '%USERPROFILE%\AppData\Local\' path.
I downloaded the zip and put at the path. But problem still persists.

I have [Azure 2.9.6 .NET SDK](https://go.microsoft.com/fwlink/?LinkId=518003&clcid=0x409)  and [Visual Studio Tools for Azure Functions](https://aka.ms/azfunctiontools) instal

[2017-01-18 13:08] garrardkitchen commented on #148
Hi @lindydonna, debug for F# functions would be my top request. I don't know whether this is already in the works.  Next it would be better IntelliSense for FSX files. I would also appreciate a greater list of default F# templates to choose from.

Warmest regards,

Garrard.

[2017-01-18 13:08] justinyoo commented on #148
@lindydonna In addition to #88 , It would be also good to support to run the debugging on local HTTPS. Here's an issue: https://github.com/Azure/azure-functions-cli/issues/20

[2017-01-18 13:32] iamsunny commented on #110
@waqar-haider-confiz did you try the latest beta:
https://functionsbay.blob.core.windows.net/public/1.0.0.beta.9/Azure.Functions.Cli.zip

You can try creating a folder there in case you don't find it.

[2017-01-18 14:08] waqar-haider-confiz commented on #110
I have tried it but not working for me.

[2017-01-18 14:37] skorunka opened #151 "How to run Time Binding functions synchronously?"
Can I configure Timer functions to run synchronously? So, another "tick" does not occur unless the previous one was finished.

[2017-01-18 17:08] christopheranderson opened #152 "Document Script experience"
For the various languages which use the scripting experience, which are still in preview, we should document how they work.

This should include some language specific info as well, such as:
1. Which version do I have and can I change it? (ie. Python/PowerShell version)
2. Package/dependency management

[2017-01-18 17:50] ggailey777 commented on #103
The Logic App folks are in the process of moving their topics to a different folder location. This work is blocked until that migration is complete.

[2017-01-18 18:10] fabiocav commented on #150
This is the correct behavior. Secrets and all other sensitive information should be kept/managed as App Settings when running on Azure and are read from `appsettings.json` when running locally (CLI or VS).

Your `function.json` file will simply contain references to app settings names and load what is setup in the environment you're running on.

[2017-01-18 18:27] lindydonna commented on #110
@waqar-haider-confiz Can you be more specific about your scenario and the workaround you tried?

[2017-01-18 18:30] lindydonna commented on #139
Closing as a duplicate of https://github.com/Azure/azure-functions-cli/issues/6

[2017-01-18 18:30] #139 closed

[2017-01-18 18:32] christopheranderson opened #153 "How to Migrate from Consumption Plan to App Service Plan (and vice versa)"
See main issue: https://github.com/Azure/azure-webjobs-sdk-script/issues/1010

[2017-01-18 19:42] thdotnet commented on #150
@fabiocav Maybe you got it wrong. I'm using Azure Functions template from Azure .NET sdk 2.9.6. After I select the ServiceBusQueueTrigger template and set the right connection string / queue name through the window, what I was expecting was just press f5, and it should receive new messages. However, VS is not setting the connection string in the right place as I said. It's creating in the function

[2017-01-18 20:01] atrauzzi commented on #136
How would I use `#r` to reference a library I've included via `package.json`?

If I can make a library and call it from a `csx` file, that would give me a vector to insulate my business logic from Functions.

 - Would there be any issues with transitive dependency issues?
 - Is there any way during local development to have Visual Studio substitute that library with the local version if it's sidel

[2017-01-18 20:57] christopheranderson opened #154 "Explain the finer points of input bindings"
Some points on bindings:
•	Every Function has a trigger.
•	A Trigger is implicitly an input.
•	A Function can have 1 or many non-trigger input bindings.
•	A non-trigger input can use information from the trigger event to fetch its contents.
•	Message type bindings (queues, topics, event hubs) are not, generally, non-trigger inputs.

What this means is that I can have a trigger for something like a

[2017-01-18 21:08] christopheranderson commented on #150
+ @lindydonna

Donna can explain more about the current behavior. We can probably capture that specific feedback in another issue.

[2017-01-18 21:15] fabiocav commented on #150
Yes, makes sense. Sorry, this wasn't clear to me at first.

@lindydonna reopening this for triage. The flow here is using the VS tooling, but the immediate action to ensure things are clearer may need to be against the Functions Templates (so we'd need an issue there) since that's where the resources come from. This is a more generalized issue, impacting the portal and other bindings as well, and

[2017-01-18 21:31] thdotnet commented on #150
sorry @fabiocav  I should had explain with more details. Do you need print screens / videos to help reproduce that? Also, I have another feedback about it. Rather than just paste the connection string, and assuming that I have my VS connected with my Azure Subscription, why not let VS get the connection string directly to users?

[2017-01-18 21:35] christopheranderson commented on #150
I think we understand the issue now, @thdotnet, thanks for following up.

The issue is essentially that the VS tooling help you define your App Setting which will hold your secrets. It doesn't have an experience for setting those secrets for those App Settings. It should at least make that clearer, and potentially go a step further and make that experience easy from VS. @lindydonna should have som

[2017-01-18 21:52] thdotnet commented on #150
Cool! Just ping in here if you guys need something else.

Cheers

[2017-01-19 00:10] lindydonna commented on #150
@thdotnet Yes, this is a limitation of the current VS tooling in that entering connection strings is extremely manual. I have not captured this as its own issue, but rather in a larger feature list for getting the VS tooling to release quality (rather than preview). Here's the issue where I've listed this: https://github.com/Azure/Azure-Functions/issues/148

If you have other feature requests, ple

[2017-01-19 00:10] #150 closed

[2017-01-19 00:12] lindydonna commented on #115
The same issue exists for other strings, such as service bus.

[2017-01-19 00:13] lindydonna commented on #150
Here's the issue to track the misleading label: https://github.com/Azure/Azure-Functions/issues/115

[2017-01-19 06:13] ggailey777 commented on #142
Update is live: https://docs.microsoft.com/en-us/azure/azure-functions/

[2017-01-19 06:13] #142 closed

[2017-01-19 06:16] waqar-haider-confiz commented on #110
Hey @lindydonna,

I am using Windows 10.
I want to start development of Azure Functions at local on my Visual Studio Enterprise 2015. For setup/installation, I followed this [link ](https://blogs.msdn.microsoft.com/webdev/2016/12/01/visual-studio-tools-for-azure-functions/).
As mentioned in above tutorial link, I have **Azure 2.9.6 .NET SDK** and **Visual Studio Tools for Azure Functions** install

[2017-01-19 06:45] svdoever commented on #110
I did exactly the same steps, on two machines, exact same behaviour... why is the manually installed click not picked up?

Verzonden vanaf mijn Samsung Galaxy-smartphone.

-------- Oorspronkelijk bericht --------
Van: Waqar Haider <notifications@github.com>
Datum: 19-01-17 07:16 (GMT+01:00)
Aan: Azure/Azure-Functions <Azure-Functions@noreply.github.com>
Cc: Serge van den Oever <Serge.van.den.Oever

[2017-01-19 18:22] lindydonna commented on #110
Reopening the issue.

@svdoever and @waqar-haider-confiz: can you provide the exact directory structure in your %USERPROFILE% folder?  I wonder if the problem is that you're off-by-one the layout.

[2017-01-19 18:23] ggailey777 commented on #126
There are also customer-reported bugs in this topic, which I am fixing.

[2017-01-19 20:59] ggailey777 commented on #126
Updates are staged here: https://review.docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-queue?branch=pr-en-us-4862

[2017-01-19 21:04] #8 closed

[2017-01-19 21:27] lindydonna commented on #149
This issue was moved to Azure/azure-functions-cli#33

[2017-01-19 21:27] #149 closed

[2017-01-19 21:29] lindydonna commented on #136
@atrauzzi You don't need to use #r if you've added the library via package.json. If you want to use a different library locally, you'd have to use conditional compilation or a separate project.

[2017-01-19 21:30] lindydonna opened #155 "How to Migrate from Consumption Plan to App Service Plan (and vice versa)"
_From @stephlocke on November 30, 2016 12:4_

Is the migration path:
1. Make sure you have all your keys
2. Delete existing Function App
3. Delete Service Plan
3. Wait for DNS to flush
4. Create new Function App on Consumption Plan with same name and same storage account
5. Configure CI, app settings etc

Will this work with all the history so blob's don't get reprocessed etc?

_Copied from origin

[2017-01-19 21:30] lindydonna commented on #155
@stephlocke This is better asked on the MSDN forums or StackOverflow (you'll have more folks seeing and answering questions there, as opposed to GitHub isuses).

Are you using blob or queue triggers?  Those behave differently in terms of how multiple hosts will process.

@christopheranderson Do you know the answer to this question?

[2017-01-19 21:30] lindydonna commented on #155
_From @stephlocke on December 2, 2016 20:51_

IMO, this should be a docs thing as people will need to do this for maybe
the next year?

[2017-01-19 21:30] lindydonna commented on #155
_From @stephlocke on December 5, 2016 11:44_

I'm using blob triggers, and also eventhub triggers elsewhere that would need migrating also

[2017-01-19 21:31] lindydonna commented on #153
I moved the original issue to this repo, closing as a duplicate of #155

[2017-01-19 21:31] #153 closed

[2017-01-20 07:04] jsiegmund commented on #148
IntelliSence is a P1 for me, it's THE thing a VS developer just expects to work. First thing I noticed as being absent. Furthermore it would be nice to have Reference support for things like NuGet, NPM along with external projects or DLLs. In general, developer productivity should be high on the list imho :)

[2017-01-20 10:32] atrauzzi commented on #136
@lindydonna - I think it might just be better to show the issues I've been having as it's very difficult to explain one by one the ways Functions throws up barriers.  More so because it seems like any time I raise an issue, there's always some document to be referenced that doesn't actually serve to address any real issues.

I've made a repository just to act as a testbed and also somewhere to col

[2017-01-20 12:15] SteveALee opened #156 "Document req and res objects in JavaScript"
The current documentation is really good but does seem more 'tutoral' or example biased.

For example for [Javascript HTTP triggers](https://docs.microsoft.com/en-gb/azure/azure-functions/functions-bindings-http-webhook) we need the full specification of the req and res objects. Only a couple of fields are given.

For res  we can use the code but req is harder to work out as it appears to be dynam

[2017-01-21 00:56] lindydonna commented on #148
@jsiegmund If you have regular class libraries and .cs files and full IntelliSense, is CSX IntelliSense still a P1?

[2017-01-21 02:32] lindydonna commented on #140
@skorunka FYI, they can be netstandard libraries, but you're right that they need to be csproj based.

[2017-01-21 03:59] lindydonna commented on #88
@SimonLuckenuik We fixed the --cors option in the CLI in 0.9 btw.

[2017-01-21 08:29] ggailey777 commented on #100
@lindydonna I would suggest that usage of the NH binding is probably also low because there's no template for it and it's not exposed in the portal UI. While this specific work item might be a P2, having some better guidance around using Functions + Hubs should probably be a P1 (trigger notifications to your app using HTTP requests...or some scenario like that).

[2017-01-21 10:53] SimonLuckenuik commented on #88
@lindydonna, yes for the CLI, but it seems that visual studio tooling doesn't enable it by default, which forces to start the CLI manually rather than using F5 to use HTTP functions locally with an SPA web app. Unless, there is an updated visual studio tooling preview update that I missed.

[2017-01-23 04:39] waqar-haider-confiz commented on #110
Yeah sure, when I navigate to %USERPROFILE%, I see following files/directories.
-  AppData
- Contacts
- Desktop
- Documents
- Downloads
- Favorites
- Links
- Music
- cont.

Inside AppData directory, following files/directories are there
- Local
- LocalLow
- Roaming

[2017-01-23 09:07] tomasmcguinness opened #157 "Show a meaningful error if specificed ServiceBus queue does not exist or cannot be found"
I'm using a set of functions to process data in a short pipeline. One Function reads from an input ServiceBus queue and writes to an output ServiceBus queue. When I start the host, I would get this message; "A Scripthost error has occurred"

<img width="211" alt="error" src="https://cloud.githubusercontent.com/assets/302741/22197692/0fcf5b42-e14b-11e6-9f21-a8c79405383f.PNG">

The underlying cause

[2017-01-23 17:02] christopheranderson opened #158 "Document how to use static properties in C# to reuse objects between calls"
You can use static properties to reuse C# objects between calls. This can lead to performance gains for complex objects or caching of objects from external stores. It is worth noting that you can't use this to store session information without a backing external store since a user might be on a different instance on each request.

Example: https://github.com/christopheranderson/azure-functions-app

[2017-01-23 18:10] TPoise commented on #120
@lindydonna Any plans on going to .NET Standard 1.6 or 2.0 when it comes out?

[2017-01-23 19:44] lindydonna commented on #110
@waqar-haider-confiz I should have been more specific. This is where my func.exe lives: `C:\Users\donnam\AppData\Local\Azure.Functions.Cli\1.0.0-beta.9\Func.exe`. Does your folder structure match that?

[2017-01-23 20:03] lindydonna opened #159 "Update Functions Overview article to remove mention of "long-running tasks""
This article: https://docs.microsoft.com/en-us/azure/azure-functions/functions-overview#what-can-i-do-with-functions has the following text:

We need to remove the phrase "long-running" from the text, so it is just "...file maintenance, tasks that you want to run in a background thread..."

[2017-01-23 20:04] lindydonna commented on #159
@ggailey777 Can I assign to you since it's an easy change?  My repo is out of date so it will take me a while to submit the fix.

[2017-01-23 20:06] lindydonna commented on #120
@TPoise yes, we will move to .NET Standard 2.0 when it comes out.

[2017-01-23 20:06] lindydonna commented on #120
Closing this issue as it was answered on StackOverflow.

[2017-01-23 20:06] #120 closed

[2017-01-23 23:41] rndthoughts opened #160 "Strange nuget restore behaviour"
I am having trouble getting the CLI tools to restore nuget packages.  If i delete the lock file and fire up local debugging I can see it download the packages but it puts them in C:\Users\<UserName>\.nuget\packages.  I can confirm this as if i delete them from this location and run again they are redownloaded but shouldn't they be in my local bin folder or at least a local packages folder?

Obviou

[2017-01-23 23:45] fabiocav commented on #160
Downloading them to the NuGet cache is the correct behavior.

Just to clarify, do you run into missing references with when you delete them, or after a restore is performed?

[2017-01-23 23:48] rndthoughts commented on #160
The restore is performed, the packages end up in the nuget cache.

[code]

[2017-01-23 23:52] fabiocav commented on #160
The references will be added based on the what is in your `project.lock.json` file, based on how they are resolved and installed when a restore is performed.

Can you share your `run.csx` content?

[2017-01-23 23:54] fabiocav commented on #160
Oh, also just noticed you're using the `net461` TFM. Can you change that to `net46`, as it is what is supported by Azure Functions?

[2017-01-23 23:55] rndthoughts commented on #160
Oh sorry, yes I thought I had that wrong - i'll change iit back.

My run.csx starts:

[code]

[2017-01-23 23:59] rndthoughts commented on #160
OK some of this fun is being caused by the fact that I have three functions and the compilation output in the console window doesnt clearly point out which function is being compiled at what point.  I simply get "Function compilation error" between each one.

[2017-01-24 00:04] fabiocav commented on #160
Do you continue to see issues when targeting the `net46` TFM?

[2017-01-24 00:05] rndthoughts commented on #160
Yes I'm afraid so.

[2017-01-24 00:10] fabiocav commented on #160
Can you either share the files or point me to a small repo with repro code?

I'm using the information you've provided (with the correct TFM and without your private assemblies, of course) and I'm unable to repro the issue:

project.json:
[code]

run.csx:
[code]

Can you also share your lock file?

[2017-01-24 00:13] rndthoughts commented on #160
If it's any extra help, i tried publishing the functions to Azure.  They all appeared in the portal and I can see a package restore taking place but then I get the same bunch of errors - missing dependencies, etc in the log on one of them.  On the other two I get no log entries but two errors appearing:

![image](https://cloud.githubusercontent.com/assets/4190823/22228563/eab81392-e1c9-11e6-984a-6

[2017-01-24 00:15] rndthoughts commented on #160
Is there a way I can get a copy of the project to you directly without sharing it on here?

[2017-01-24 00:24] fabiocav commented on #160
If you have this same code on your function app and could share the app name directly or [indirectly](https://github.com/projectkudu/kudu/wiki/Reporting-your-site-name-without-posting-it-publicly), I can try to inspect it the logs and information there.

If you can strip out any business specific logic and have a small repro, that would be ideal as we'd be able to keep this public and others could

[2017-01-24 02:00] ariesmun commented on #137
Just tried it again, it works. Yes, the code is in C#

[2017-01-24 02:00] #137 closed

[2017-01-24 02:10] lindydonna commented on #157
This issue was moved to Azure/azure-functions-cli#37

[2017-01-24 02:10] #157 closed

[2017-01-24 02:21] lindydonna commented on #137
Glad to hear the issue is resolved! Remote debugging can be a bit flaky, and sometimes it requires restarting the site or Visual Studio.

[2017-01-24 10:18] rndthoughts commented on #160
OK - this turned out to be a classic late night coding issue!  Because I had three functions in my project and all the error messages are in red, I couldn't clearly see which error message referred to which run.csx!

Would it be possible for the error output to be better formatted to indicate which function the error list corresponds to instead of just inserting "Function compilation error" each t

[2017-01-24 10:18] #160 closed

[2017-01-24 10:25] rndthoughts commented on #160
https://github.com/projectkudu/AzureFunctionsPortal/issues/887

[2017-01-24 18:47] fabiocav commented on #160
Glad to hear this is working. I agree, it's hard to identify the source, so thanks for opening the issue!

[2017-01-24 19:15] lindydonna commented on #136
@atrauzzi I see the GitHub issues you filed, thanks for the level of detail. (Btw, next time please add a new comment with links to them, since GitHub doesn't notify on issue references, just comments.)

The Visual Studio Functions tooling is in preview, and as such has a lot of gaps. Your issue essentially boil down to 2 problems that we're already planning to address.

- The .funproj project typ

[2017-01-24 21:28] brettsam opened #161 "DocumentDB 'id' documentation needs better description"
The DocumentDB docs (https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-documentdb#documentdb-input-binding) are misleading here:

In reality, the id property supports parameter binding: https://docs.microsoft.com/en-us/azure/azure-functions/functions-triggers-bindings#parameter-binding. We should update that line to point to the param binding doc.

[2017-01-24 21:31] brettsam opened #162 "Blob documentation lists unsupported output types ICollector and IAsyncCollector"
You can't actually use `ICollector` or `IAsyncCollector` with the blob binding -- yet the doc lists them: https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob#output-usage. We need to remove those two bullets.

[2017-01-24 21:38] lindydonna commented on #160
@rndthoughts Thanks for opening the issue. I'm going to move it to the CLI repo since it's about the console output.

[2017-01-24 21:51] lindydonna opened #163 "Update Functions CI article to mention the Project app setting"
I've seen a few questions from customers about how to set the right directory for deployment.

I suggest we updated this article: https://docs.microsoft.com/en-us/azure/azure-functions/functions-continuous-deployment with the following:
- Link to https://github.com/projectkudu/kudu/wiki/Customizing-deployments
- Show a sample .deployment file such as the following:
   `[config]
project = MyFunctio

[2017-01-24 23:14] ahmelsayed commented on #88
Here is a hacky workaround that I personally usually use for situations like this :)
It utilizes a [Windows feature for debugging](https://msdn.microsoft.com/en-us/library/a329t4ed(VS.71).aspx)

Steps:
1. Create this powershell script somewhere on your machine (or really you can rewrite the same logic in your favorite language)

[code]

2. Open `HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\cur

[2017-01-25 05:35] waqar-haider-confiz commented on #110
@lindydonna ,
The directory '1.0.0-beta.9' does not exist under '\AppData\Local\Azure.Functions.Cli\' path.

I downloaded from the link you shared, it also does not contain the directory "1.0.0-beta.9". Pasting down the link from where I downloaded and put under my "Local" folder "https://functionsbay.blob.core.windows.net/public/1.0.0.beta.9/Azure.Functions.Cli.zip"

[2017-01-25 18:54] lindydonna opened #164 "Document use of Azure Storage lock when creating a Function App and storage account together"
When creating a Function App, you can create a new storage account at the same time. Since it ends up with a random auto-generated name, we had instances of customers deleting the storage account. So, we added a lock at the ARM level that prevents the storage account from being deleted unless the customer takes an extra step.

People who have only contributor access to a subscription cannot create

[2017-01-25 20:45] brettsam opened #165 "Use of ICloudBlob/CloudBlockBlob/CloudAppendBlob/CloudPageBlob requires "inout" binding type"
The list of blob output types here lists ICloudBlob/CloudBlockBlob/CloudPageBlob: https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob#output-usage

First, we should include CloudAppendBlob there.
Second, you actually need to use "inout" as your binding direction when using these.

[code]

[2017-01-26 16:32] martijns opened #166 "[Visual Studio] PublishTemp directory is not cleaned before publish"
When publishing a function project from Visual Studio to a function app service using web deploy, the obj\PublishTemp directory is not cleaned. Using a feature like "Remove additional files at destination" behaves unexpected because of this.

Reproduction steps:
1) Create a function
2) Publish to a function app
3) Rename the function directory
4) Publish using "Remove additional files at destinati

[2017-01-26 18:54] yochay opened #167 "Need to document the max number of Functions in a given Functions-App"
We are not documenting the max number of Functions in a given Function-App. It is not clear even if we have such a limit.

[2017-01-26 21:28] ranjan545486 commented on #70
@tohling, when do you think the Java support will be there within Functions? We are explicitly looking for this support. I know there is a hack ( https://github.com/Azure/azure-webjobs-sdk-script/wiki/Creating-a-Java-Azure-Function ) to do that but we need a native support.

[2017-01-26 21:33] lindydonna commented on #70
@ranjan545486 We don't have any dates to share, other than the fact that we're working on it. When we have a public preview beyond the manual workaround, we'll announce on the App Service Team blog. https://blogs.msdn.microsoft.com/appserviceteam/

[2017-01-27 16:11] Richard004 commented on #158
Great question and I would extend it with my concern.
The first thing I have tried when playing with functions was if a "static int counter" got persisted between two invocations. It did and kept being there for several minutes.
I liked that. Because as you correctly suggest, I can't wait to take advantage of that in caching of some "relatively expensive" shared readonly resources.
But, my questio

[2017-01-27 16:13] Richard004 commented on #158
Oh I see. Sorry Christopher, your comment was not a question, but rather an answer. :-)

[2017-01-27 23:27] lindydonna commented on #110
@waqar-haider-confiz Yes, you need to manually create the folder `1.0.0-beta.9` and **unzip** the contents of Azure.Functions.Cli.zip as I mentioned in my earlier comment: https://github.com/Azure/Azure-Functions/issues/110#issuecomment-272055787

[2017-01-27 23:42] SyntaxC4 opened #168 "Add "Try Functions" to pages which reference the "Free Trial""
Can we review the documentation pages for areas where we reference the "Free Trial" and include a link to [Try Azure](https://functions.azure.com/try) so that we can encourage customers to try Functions without having to sign up for an account.

[2017-01-28 13:20] zigzag95 commented on #123
Same here,
I tried uninstalling Microsoft Azure App Service Tools 2.9.6 but the templates ars still missing.

[2017-01-28 20:49] itaysk commented on #124
Just spend a good 5 hours banging my head against the wall on this...
You suggested to upload the module to the function folder, can you be more specific? I tried copying all the files from  `C:\Program Files\WindowsPowerShell\Modules\AzureRM.Resources\3.5.0` to the function's folder (not the function app). It didn't work. At lest I think it didn't because my script still doesn't work. I can verif

[2017-01-28 21:14] tohling commented on #124
@itaysk, here is a link to the instructions on SO for bringing your custom modules.

http://stackoverflow.com/questions/37724769/how-to-install-a-powershell-module-in-an-azure-function

I have not tested the experience with regards to bringing your own updated Azure PowerShell modules.  Hopefully it would just work for you as well.

By the way, we have plans to upgrade both PowerShell and Azure Po

[2017-01-28 21:50] itaysk commented on #124
Thanks! it works. for future readers, I also had to copy `AzureRm.Profile`  which is a dependency of `AzureRm.Resources`

[2017-01-29 13:34] itaysk opened #169 "Allow scheduled delivery of queue messages"
I'd like to suggest adding an option to schedule delivery for messages in queue output.
This is supported by both Azure Queue and Service Bus Queue, but the run time has to pass the delay parameter.

[2017-01-30 19:11] SyntaxC4 commented on #104
I believe the intent of this issue is that we are inconsistent in how we communicate the support for the bindings. Let's make sure all GA quality items are listed and if any experimental items are available in the list let's mark them as such.

[2017-01-30 21:48] markrey commented on #161
Need proper example as well. It took me almost an hour to understand and it is still not working!

[2017-01-31 11:43] cmatskas commented on #148
@lindydonna @jsiegmund if people are still heavily invested in .csx based functions, then I would like to see Intellisense in there as well as a P1. Do you guys have any telemetry on what's more popular right now maybe with a small insight into the future projections to help make a decision?

Things I would really like to see are:
- HTTPS support in the CLI
- Merge the Azure Functions CLI and the

[2017-01-31 13:00] mgolois opened #170 "can you use Http Trigger with Azure Table as output?"
can you use Http Trigger with Azure Table as output? Or is my only option to get the storage account and access the table manually?

Thanks

[2017-01-31 14:01] slideep commented on #169
I assume you are referring for a way to do this in `serviceBus` -binding at function-level in `function.json`?
Now I guess the support for custom input/output bindings is out of reach at the moment so that option
doesn't fly yet - doing your very own custom binding or extending `ServiceBusAttribute`.

At least with C# & Node.js (and why not in F#) the Service Bus queue output already supports this

[2017-01-31 15:39] skorunka opened #171 "How to monitor Azure Functions outside the portal?"
Is there an API for monitoring functions? Lets say I would like to build my own portal in our Admin area where I could see if the functions are up and ranning(ie when was the last function execution and the result). Thank you.

[2017-01-31 16:46] #170 closed

[2017-01-31 16:50] mgolois commented on #170
Thank you!

[2017-01-31 16:52] mathewc commented on #169
Yeah, while you can control the schedule time on the SB message, the same knob isn't present on CloudQueueMessage for Azure Queues. If you're writing a C# function, you can change your function parameter to bind to a CloudQueue and we'll had your function the queue. You can then call the Add method yourself passing in your invisibility timeout.

I realize that you're asking for a way to make this

[2017-01-31 17:32] brettsam commented on #161
Direct query support is not supported (yet). It's close -- we're tracking it here: https://github.com/Azure/azure-webjobs-sdk-script/issues/289.

You can, however, use a DocumentClient object as a parameter and issue queries directly from within your functions. Your signature would be a little different since you want HTTP, but it would look something like:

Code:
[code]
Binding:
[code]

[2017-02-01 00:21] markrey commented on #161
Thanks a lot @brettsam . I will start tracking that as well.

[2017-02-01 03:24] atrauzzi commented on #148
Everything we've talked about so far. I'll gladly re-summarize here if needed.

[2017-02-01 03:26] atrauzzi commented on #148
- Linux support for the CLI

[2017-02-01 07:12] slideep commented on #171
It's not documented yet (or I couldn't find it) at Kudu's wiki but the API's are surely there since the functions dashboard uses them:
https://your-functions-app.scm.azurewebsites.net/azurejobs/#/functions

and by using basic auth (or bearer token) you can make actual requests:

https://your-functions-app.scm.azurewebsites.net/azurejobs/api/functions/invocations/recent?limit=11
https://your-functi

[2017-02-01 11:25] skorunka commented on #171
Very helpfull! Thank you, that's what I wal looking for.

[2017-02-01 11:25] #171 closed

[2017-02-01 11:26] skorunka commented on #151
Is this possible?

[2017-02-01 12:44] skorunka opened #172 "What is the best way to configure deployed Azure Functions?"
Should we use .json files and:

	var builder = new ConfigurationBuilder()
		.SetBasePath(Directory.GetCurrentDirectory())
		.AddJsonFile("appsettings.json", false)
		.AddEnvironmentVariables();
	var config = builder.Build();
	var test = config.GetValue<string>("test");

Or use "App Service\Application settings" of underlaying WebApp host?
![image](https://cloud.githubusercontent.com/assets/218913/

[2017-02-01 13:10] itaysk commented on #169
@mathewc @slideep
I am using Azure Queues not SB, and PowerShell.
I am not asking for a "nicer" way, just anything that'll work. It is possible with PS?

[2017-02-01 16:48] #126 closed

[2017-02-01 20:26] itaysk commented on #124
@tohling This worked for a couple of functions now, However trying to use `Get-AzureRmLog` after loading `AzureRm.Resources`, `AzureRm.Profile`, and `AzureRm.Insights` still doesn't work, getting `Get-AzureRmLog : Run Login-AzureRmAccount to login.`. Any ideas?

[2017-02-01 22:18] sergsalo commented on #122
I have the same problem - as soon as I close portal blade for function app, it stops receiving events. My connection string does not contain EntityPath. I have two Azure Functions in two different resource groups. One works and the other does not. Frustrating.

[2017-02-01 23:38] lindydonna commented on #172
The recommended approach is to use an ARM template with values for the appsettings. Here's a sample for a consumption plan function app: https://github.com/Azure/azure-quickstart-templates/tree/master/101-function-app-create-dynamic

[2017-02-01 23:38] #172 closed

[2017-02-01 23:40] lindydonna commented on #151
You'll probably get a faster answer on StackOverflow or the MSDN forums, but I'll see if an expert can answer here.

[2017-02-01 23:49] mathewc commented on #151
Let me understand what you're trying to accomplish. You want to ensure that your timer function only ever runs a single instance at a time? That's how it already works. Are you seeing differently?

[2017-02-01 23:53] lindydonna commented on #123
Try running `devenv /setup` from an **administrator** developer command prompt

[2017-02-02 00:06] davidebbo commented on #122
@sergsalo Can you share your function app name (that's the **app** name, not function name!), either directly or [indirectly](https://github.com/projectkudu/kudu/wiki/Reporting-your-site-name-without-posting-it-publicly)? This will help us investigate. Thanks!

[2017-02-02 00:21] sergsalo commented on #122
@davidebbo let me recreate it, because I started to use app service plan instead of consumption plan.

[2017-02-02 00:23] davidebbo commented on #122
Thanks. If it's a test site, then you may as well share the App Name directly, which is a bit easier.

[2017-02-02 01:09] sergsalo commented on #122
it seems like it is working after redeployment.

[2017-02-02 01:12] davidebbo commented on #122
Odd. Oh well, if you or anyone else run into this again, please give us the Function app name and we'll dig into it from our end. But as far as we know, the issue is now fixed.

[2017-02-02 02:40] lindydonna opened #173 "Document exact requirements on Azure Storage"
This article (https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-azure-function-azure-portal) should explain the requirement on Storage.

Related to https://github.com/Azure/Azure-Functions/issues/39

[2017-02-02 07:58] ggailey777 opened #174 "Address focus group feedback on documentation"
We had five topics tested with customers for usability. There was good feedback from this exercise that we should incorporate into those topics.

[2017-02-02 08:03] ggailey777 commented on #174
+Article 1: [Creating your first Azure Function](https://azure.microsoft.com/en-us/documentation/articles/functions-create-first-azure-function/)
+ Article 2: [Create a Webhook or API Azure Function](https://azure.microsoft.com/en-us/documentation/articles/functions-create-a-web-hook-or-api-function/)
+ Article 3: [Create an Azure Function which binds to an Azure service](https://azure.microsoft.c

[2017-02-02 17:01] ggailey777 commented on #174
Opened new [Portal issue](https://github.com/projectkudu/AzureFunctionsPortal/issues/902) based on feedback from users.

[2017-02-02 18:26] miantosca commented on #45
Are deployment slots planned for azure functions? Is the alternative for now to setup a function app service for each slot - dev, test, prod for instance and deploy to those?

[2017-02-02 18:37] lindydonna commented on #45
They are planned, yes, but we don't have a timeline to share. A separate Function App for each slot is a good solution in the meantime.

[2017-02-02 22:25] lindydonna opened #175 "[Visual Studio] project.lock.json is published, which breaks NuGet restore on the server"
The Publish dialog in the Functions Visual Studio tooling publishes `project.lock.json` even if it is excluded from the list. This causes NuGet package restore to **not** be performed on Azure Functions in Azure, since it sees that there is an up-to-date `project.lock.json` file.

**Workaround \# 1**, suggested by @mattdrewitt below:

Add following to `.funproj`:
[code]

**Workaround \# 2**

Add a

[2017-02-03 09:16] skorunka commented on #151
@mathewc Lets say you set timer trigger to execute function every 5 seconds. If the function takes 7 seconds to finish, will be another instance fired after 5 seconds of execution of the 1st one? If I put a debugger in a function a can see a multiple instances are executed, maybe this only happens on local host and debug. Do you know what I mean?

[2017-02-04 06:38] tohling commented on #124
@itaysk, I saw something that may be related to the error you are experiencing.  These folks mentioned that the error went away after using the MSI version instead.  For the modules that you uploaded, how were they installed?  Did you use MSI or just Install-Module?

Here's the link to the issue on Azure PowerShell's GitHub repo:
https://github.com/Azure/azure-powershell/issues/2688

[2017-02-04 08:37] itaysk commented on #124
Is it possible that 2 functions in same function app can affect each other? It's hard to say but a function that used to work, no longer works. Code is unchanged, only thing that changed was module folders inside the functions.

[2017-02-06 03:04] worldspawn opened #176 "How to control the max concurrent calls (for a servicebus trigger)?"
Hello,

I was wondering how one can control the maximum number of concurrent calls a service bug trigger will run. In my case the code is hitting a sql server so theres only so much concurrency I want going on.

Webjobs api allows you to do this when configuring the service bus however it doesn't allow control over specific triggers (just all service bus triggers) which causes you to deploy more w

[2017-02-06 19:06] SyntaxC4 commented on #4
Talk to @brettsam about the mobile binding, we should try to get this on the books soon to help boost Mobile usage.

[2017-02-06 19:08] SyntaxC4 commented on #5
@lindydonna - Can you let us know when it would be good to move forward on this. I'm assuming there will be some changes coming in the UI which will require us to redo all of the videos.

[2017-02-06 19:09] SyntaxC4 commented on #31
@ysxu - Do you want to own this scenario?

[2017-02-06 19:10] SyntaxC4 commented on #15
@lindydonna - When do you think we'll have updates for the CLI so we can work on this item?

[2017-02-06 19:11] SyntaxC4 commented on #47
F# is going to GA, so we should really make sure that we get some samples in here shortly.

[2017-02-06 19:12] SyntaxC4 commented on #51
POCO is also an option for binding to, we need to document these more advanced scenarios as it will help our customers be successful with real-world implementations.

[2017-02-06 19:14] fabiocav commented on #51
Yes, it would be good to document POCOs as well as more detailed documentation on using Storage SDK types for binding.

[2017-02-06 19:15] SyntaxC4 commented on #57
@ggailey777 I know you've updated this topic, can you just check to see if this has been reflected?

[2017-02-06 19:19] #64 closed

[2017-02-06 19:25] SyntaxC4 commented on #77
If we could get these done with #67 and #59 that would be awesome!

[2017-02-06 19:26] SyntaxC4 commented on #59
Please make sure #67 and #77 are done as part of this update.

[2017-02-06 19:26] SyntaxC4 commented on #67
Please complete with #77 and #59

[2017-02-06 19:29] SyntaxC4 commented on #83
We need to point out that XML is handled differently in the docs. This should probably also be investigated for C# functions, although, I doubt that it will have the same issue.

[2017-02-06 19:31] lindydonna commented on #15
Other work is currently displacing this, will be at least 2 weeks before I have something to share.

[2017-02-06 19:32] fabiocav commented on #83
@SyntaxC4 can you expand on what you mean about XML? Also, when using raw responses, our content negotiation logic is completely bypassed, so all formats would behave the same way.

[2017-02-06 19:32] SyntaxC4 commented on #84
This should be included on here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-csharp

[2017-02-06 21:25] johndeu opened #177 "Add a link to Media Services Functions samples"
Hey guys,
Please add a link to the Media Services Functions sample repo under the Samples readme file.

https://github.com/Azure-Samples/media-services-dotnet-functions-integration

[2017-02-06 22:36] akanieski commented on #59
Are there plans to add `npm install` on deployment updates? It make little sense to recommend package.json and not support npm install. We should at least be able to add some sort of post deployment hook to call npm install. Not sure Kudu supports this.

[2017-02-06 23:29] tohling commented on #124
After some investigation, it seems that the issue raised by @itaysk is due to **2. Mismatched module versions**.  To mitigate this, we can by-pass the auto-loading feature of the **modules** folder.  Here are the steps:

1. Remove the **modules** folder from the Function
2. Using the Kudu console, create a new randomly named folder, e.g. **azmodules** either inside your Function folder or move it

[2017-02-07 00:44] ggailey777 commented on #174
Staged: https://github.com/Microsoft/azure-docs-pr/pull/5636

[2017-02-07 00:44] #174 closed

[2017-02-07 00:45] ggailey777 opened #178 "Correct behavior of context.res in JS reference"

[2017-02-07 20:55] andresnava commented on #148
When adding a connection to a Service Bus queue, I believe it has to be a connection to the Service Bus and then we specify which queue to listen on.

I would feel more comfortable having the connection to the queue, instead of to the Service Bus so we can limit what the connection has access to.

[2017-02-07 22:16] lindydonna commented on #148
@andresnava That would actually be a feature request for the underlying Functions Host, rather than the tooling for it. Could you file a feature request here (https://github.com/Azure/azure-webjobs-sdk-script) and provide the exact functionality that you are looking for?

[2017-02-07 22:18] lindydonna commented on #148
@atrauzzi Linux/Mac support for the CLI is already in progress. It's not strictly related to this item, since this is about Visual Studio on Windows.

[2017-02-07 22:20] lindydonna commented on #108
Should document connection strings and app settings behavior of the CLI, see comment here: https://github.com/Azure/azure-functions-cli/issues/33#issuecomment-278122857

[2017-02-07 22:39] lindydonna commented on #141
FYI @SyntaxC4 @christopheranderson  I'm bumping the priority of this up to P0, as I'm seeing lots of customer questions around this.

@ggailey777 or @rachelappel If you have cycles, this is good low-hanging fruit. The documentation should go in both the Consumption plan article and also the blob trigger one.

[2017-02-07 22:44] ericleigh007 commented on #75
I'm running a consumption function (loved the idea of not having to pay for a separate app service plan, would love if everything could eventually be consumption, or at least have that option).

The function is a on-prem to Office 365 data mover.  it moves the contents of controlled queries from an Azure SQL database to sharepoint lists, used for various purposes.

Using the 5 minutes limit, the f

[2017-02-07 23:01] ericleigh007 commented on #75
https://github.com/Azure/azure-webjobs-sdk-script/issues/18 seems to mention are very good idea, although probably not as easy to implement.   That of letting the function request more time.

This gets rid of the problem with arbitrary timeouts by putting the user and programming in charge, and lets the timeout occur by default if nothing happens.

[2017-02-07 23:09] rachelappel commented on #141
@lindydonna @ggailey777 I'll grab it.

[2017-02-07 23:17] lindydonna commented on #141
@rachelappel Awesome!  Please get me or Chris to review.

[2017-02-08 03:49] lindydonna commented on #4
It doesn't seem like a high priority to boost usage of this binding, as we have other topics that we know customers are interested in but don't have enough documentation (storage, event hub, service bus).

[2017-02-08 11:48] sylvanc commented on #47
Hi @SyntaxC4 , is there a list of pages that need code samples available?

[2017-02-09 01:54] SyntaxC4 opened #179 "Does Azure Functions have non-persistent (or persistent) disk space?"
This question was raised over twitter. Let's see if we can get a topic that addresses this in the general developer topics.

[2017-02-09 01:56] SyntaxC4 commented on #179
Technically, the user has access to non-persistent disk space in `d:\local`, however, because we move Functions around to different machines for scale, the disk space would only be available for the life-time of a single execution.

[2017-02-09 08:25] ggailey777 commented on #178
There is currently a bug for output bindings named "res." #1184

[2017-02-09 16:05] cgravill commented on #75
We use Azure Functions with some scientific analysis code, where the majority of the execution time is spent inside a native library (https://github.com/Z3Prover/z3). It would be useful to support running on a consumption with >5 minutes termination even if that increases the probability of something going wrong.

While we may be able to checkpoint progress for possible resumption that might gener

[2017-02-09 18:24] ggailey777 commented on #57
https://github.com/Microsoft/azure-docs-pr/pull/6098

[2017-02-09 22:18] lorenpaulsen commented on #130
I have used a combination of these two approaches:

1. http://www.clemensreijnen.nl/post/2017/01/02/CICD-Pipeline-for-Serverless-release-Azure-Functions-with-VSTS
2. http://case.schollaart.net/2016/10/20/deploy-your-azure-fuctions-using-visual-studio-team-services.html

The first link shows how to handle the Function Project, while the second link avoids the problem by not using a Function Project

[2017-02-09 22:22] lorenpaulsen commented on #46
Yes, the App Service Deploy step can be used to deploy the Function. As for configuring it through ARM, this is possible as well. Please see: http://case.schollaart.net/2016/10/20/deploy-your-azure-fuctions-using-visual-studio-team-services.html

[2017-02-09 23:27] rachelappel commented on #141
@lindydonna @christopheranderson these articles?
https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale
and
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob

[2017-02-09 23:31] lindydonna commented on #141
Yes, and for the blob one you'd want to put it in the trigger section (https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob#storage-blob-trigger)

[2017-02-11 17:31] mathewc opened #180 "Incorrect guidance in blob output docs"
See SO post here: http://stackoverflow.com/questions/42172044/how-to-output-multiple-blobs-from-an-azure-function. Blob binding doesn't support ICollector/IAsyncCollector - only singleton outputs.

Errors are on doc page: https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob

[2017-02-12 02:07] mathewc commented on #180
We should also remove the section that talks about using ICloudBlobStreamBinder for binding to POCOs. That is a core SDK mechanism, and not really usable in Functions. Proper POCO support for blobs is tracked [here](https://github.com/Azure/azure-webjobs-sdk/issues/995).

[2017-02-13 12:59] CharlesToniolo commented on #123
Hi,

@lindydonna the command didn't solve the issue.

[2017-02-13 14:17] brettsam commented on #165
And, we should add "inout" to the list of possible binding directions here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference

[2017-02-13 14:19] brettsam commented on #180
Related to #162.

[2017-02-13 19:13] SyntaxC4 commented on #138
Can we add this as a note on this [article](https://docs.microsoft.com/en-us/azure/azure-functions/functions-continuous-deployment), so people know that they do have command-line options for deployment that aren't GitHub or VSTS

[2017-02-13 19:15] SyntaxC4 commented on #143
Add a note which mentions that the AuthLevel does not apply to WebHooks.

[2017-02-13 19:18] SyntaxC4 commented on #147
This is Logic App specific topic, we should move this to @jeffhollan and team

[2017-02-13 19:23] SyntaxC4 commented on #152
For the current versions, let's have a matrix, like the one below.

| Language | Version |
|---|---|
| Python | 2.7, 3.4|
| PowerShell | |
| Node.js | 10.0 |

As for the "How do I change it", we should include a list of properties which need to be changed for the Function Host to pick it up. These are typically set in App Settings.

[2017-02-13 19:28] SyntaxC4 commented on #154
This is a conceptual topic which for now would make sense to go under **How-to** > **Plan & Design**

[2017-02-13 19:30] lindydonna commented on #155
This will become a real feature soon, so don't need to document.

[2017-02-13 19:44] SyntaxC4 commented on #163
I have documented some of this as part of the ARM Template document: https://docs.microsoft.com/en-us/azure/azure-functions/functions-infrastructure-as-code

[2017-02-13 20:32] lindydonna commented on #123
@CharlesToniolo Thanks for providing the workaround!

[2017-02-13 20:40] jeffhollan commented on #147
Thanks - Updated the stack overflow thread but we now have a new action called "Parse JSON" where you can define the response and parse the JSON from the function in the designer so you can access the properties in a run.

[2017-02-14 04:22] gregjhogan commented on #71
How is this different than projectkudu/AzureFunctionsPortal#793?

[2017-02-14 08:27] TomGroeneboer commented on #123
Uhm @CharlesToniolo @lindydonna this breaks all the existing Azure tooling (publish, cloud explorer etc.).

I have found the following files that needs to be removed; This is in the "C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\Extensions\Microsoft\Web Tools Azure" folder.

- AzureFunctionsImages.imagemanifest
- Microsoft.VisualStudio.Web.WindowsAzure.AzureFunctions.dll
- Micros

[2017-02-14 16:22] DamianFlynn commented on #110
I have also the same issues as reported in this thread - in AppData there is no folder for Azure.Functions.Cli, despite multiple times VS attempting to download and install. My guess is a timeout, as downloading the 26Mb package takes about 10 minutes on my internet connection. (No Joking - 6Mb pipe)

I have used NPM to get the current verision of the CLI, which has a lot of important fixes -
**Az

[2017-02-14 17:53] CharlesToniolo commented on #123
@TomGroeneboer Great! I had to remove everything because I was in a hurry.

[2017-02-14 19:02] lindydonna commented on #123
@TomGroeneboer excellent point, thanks for providing your workaround.

[2017-02-14 19:06] TomGroeneboer commented on #123
@lindydonna I did run the uninstall for the Azure Functions and that didn't remove the files. So I would classify this as a bug in the uninstaller...

[2017-02-14 19:13] lindydonna opened #181 "Uninstall of Azure Functions Visual Studio Tools leaves files behind"
Per @TomGroeneboer, the uninstaller for the Azure Functions Tools doesn't delete everything it installed.

To completely install, delete the following files in `C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\Extensions\Microsoft\Web Tools Azure`:

- AzureFunctionsImages.imagemanifest
- Microsoft.VisualStudio.Web.WindowsAzure.AzureFunctions.dll
- Microsoft.VisualStudio.Web.WindowsA

[2017-02-14 19:14] lindydonna commented on #123
@TomGroeneboer Agreed, I created https://github.com/Azure/Azure-Functions/issues/181, which will also document your workaround.

[2017-02-14 19:17] lindydonna commented on #110
@DamianFlynn I wonder if we need to mirror the package on a CDN--right now it's in blob storage in West US. If you don't mind sharing, where are you located geographically?

[2017-02-14 22:41] gabomgp commented on #110
@lindydonna I'm in the same problem. When i'm trying to debug my Azure Funtion, a dialog with the message "Downloading version 1.0.0-beta.91 of the Azure CLI tools." and don't install anything. The numer 91 in version "1.0.0-beta.91" is extrange, is it ok?

[2017-02-14 22:47] lindydonna commented on #110
@gabomgp That is correct, we went from .9 to .91 because Visual Studio uses SemVer 1.0, which does a string comparison of everything after "beta". You can download the file from here: https://functionsbay.blob.core.windows.net/public/1.0.0.beta.91/Azure.Functions.Cli.zip

[2017-02-14 23:08] lindydonna commented on #110
@gabomgp @DamianFlynn @waqar-haider-confiz @svdoever: we've just switched over the URL that Visual Studio downloads from to use a download that is hosted on an Azure CDN. This will automatically geo-replicate, so folks should see much improved download performance.

[2017-02-15 00:40] lindydonna commented on #147
@jeffhollan Thanks!  Can we pass on the actual documentation updates to your team as well?

[2017-02-15 20:12] lindydonna commented on #71
@gregjhogan The RBAC reader role issue is separate from ILB ASE.

The Functions runtime should work fine on an ILB ASE. For the portal, did you set up an SSL cert with SCM in SAN, and then access the portal from within the ILB VNET?

[2017-02-15 23:50] gregjhogan commented on #71
@lindydonna we automate deployments using the kudu API.  But now I understand what you are talking about.  Thanks!

[2017-02-16 13:10] jeanpaulsmit commented on #123
I suppose it is a bug in the installer too?
As only the Powershell templates are left after installing the Azure Functions tools?

[2017-02-17 09:21] xelossan commented on #122
Hi @davidebbo, I've got similar problem, but on App Service Plan (Standard S1). We've got function with Event Hub trigger, Always On is turned on in Application Settings. Everything worked fine for a couple of days, and then it stopped processing any event hub messages. After opening Function editor in portal and manually triggering the Function using Run button, it processed events and started wo

[2017-02-17 16:01] davidebbo commented on #122
@xelossan the issue discussed here was very specific the the Consumption plan (I just clarified the title). Closing this one since we believe it is fully fixed.

Please open a separate one if you see thing in a Standard plan. Make sure to include the details we need for investigation, as discussed above (site name, function name, timeframe of incident, ...).

[2017-02-17 16:01] #122 closed

[2017-02-17 16:35] xelossan opened #182 "Azure Function Event Hub trigger stops working (App Service plan)"
I've got a problem with Azure Function with Event Hub trigger, running on App Service Plan (Standard S1). Everything worked fine for a couple of days, and then it stopped processing any event hub messages.

After opening Function editor in portal and manually triggering the Function using Run button, it processed events and started working again (I've checked that **everything was fine on February

[2017-02-17 23:49] lindydonna opened #183 "Support debugging F# Functions in Visual Studio"
_From @davidtme on February 16, 2017 13:11_

I have a blank c# function which works:

[code]

Which runs and I can debug:

![image](https://cloud.githubusercontent.com/assets/1804141/23022484/fe96b490-f448-11e6-9922-e70b0d50ed0c.png)

If I change it to an F# file:

[code]

it runs but I get an error meaning I can't debug:

![image](https://cloud.githubusercontent.com/assets/1804141/23022530/39f16d

[2017-02-17 23:50] lindydonna commented on #183
@davidtme I've moved to this repo since it's a Visual Studio feature request.

[2017-02-18 02:55] mathewc opened #184 "Need to clarify IBinder documentation"
Here: https://docs.microsoft.com/en-us/azure/app-service-web/websites-dotnet-webjobs-sdk-storage-queues-how-to.

First, we should update documentation that references IBinder to instead use Binder which is a type that implements IBinder and adds additional capabilities important to Azure Functions, like support for pointing to different storage accounts. See my post [here](https://stackoverflow.co

[2017-02-18 02:56] #184 closed

[2017-02-18 02:57] mathewc commented on #184
Oops - realized the user was reading WebJobs SDK documentation, not Functions documentation.

[2017-02-20 02:02] brianharwell opened #185 "Visual Studio Package Restore Doesn't Work"
I am trying to reference a nuget package and the restore in Visual Studio 2015 does not work. If I debug the function locally the packages are restored within the runtime environment but that doesn't help me at design time.

Here is my project.json...

`{
  "frameworks": {
    "net46":{
        "dependencies": {
            "WindowsAzure.Storage": "8.1.0"
        }
    }
  }
}
`

[2017-02-20 08:15] Noradrex commented on #131
Any updates on this?
I'm experiencing 7 seconds delays in Functions (HTTP triggered) bettween the request to actually start processing something. Looks like after less than 30 minutes (I have no more data right now, could be 5 min or more) the functions goes into idle mode.
It makes the service not recommended for some scenarios without additional work (warmup systems) but there is no info about t

[2017-02-20 19:46] brunof-cit commented on #128
Subscribing, as it's not clear for me when using Functions over API Apps. Related: https://github.com/Azure/azure-webjobs-sdk-script/issues/292

[2017-02-20 22:41] newportsolutionsgroup commented on #99
@garrardkitchen Thank you! It's two months later and your answer is still solving this problem. I spent a couple hours poking around the azure function documentation for this answer.
Confirmed this solution by: Azure Portal > Create Function App > Create Function > View Files > Choose Function.json

[2017-02-21 09:11] donquijotedelamancha commented on #75
I also would need Azure Functions under Consumption plan to run longer than 5 minutes to be able to complete calculation intensive data analytics.
In my case, switching to webjobs is not an alternative because Azure Functions allow to parallelize runs of the same function whereas this parallelization doesn't seem possible with webjobs.

[2017-02-21 09:28] MatthewSteeples commented on #75
This isn't meant to come across as preachy, but Azure Batch sounds like a better fit for a lot of these cases. For some reason it doesn't get all the attention that Functions and WebJobs receive...! We've just finished evaluating the options and differences between the two.  In summary, it supports running multiple versions of an app, automatically scaling up and down (including down to 0 where it

[2017-02-21 14:04] ericleigh007 commented on #75
I think the fact that batch doesn't get the attention is because of both marketing and the documentation.  The documentation for functions makes them look "lightweight" (easy to implement and use, for more simplified capabilities), while the docs for batch seems as if the jobs should be multi-threaded, cored, etc.  The documentation says something like "CPU intensive" tasks.

Toward batch being se

[2017-02-21 19:15] HWouters commented on #75
I think we could have used Azure Batch in our project, but it my opinion it isn't as nice and easy to use as functions. For instance it doesn't have the automatic triggering etc. In the project I mentioned before we moved from functions to webjobs, because of this 5 minutes limitation. Too many tasks were timing out, even if batchsize is set to 1. It's unfortunate, because I love the consumption p

[2017-02-22 08:33] #57 closed

[2017-02-22 12:22] davidtme commented on #75
I’m planning a supervisor / worker etl scenario.  The supervisor will responded to triggers & queues and store it’s state in azure blob/table(?) but my workers can run for an unknown amount of time depending on the work requested so the 5 minute cut off may stop me in my tracks.

[2017-02-23 00:02] mikezks opened #186 "Link to Azure Functions Proxies repository"
Could you please add the link to the Azure Functions Proxies repository if it is already available as OSS?
Thanks!

[2017-02-23 18:21] lindydonna opened #187 "Document file logging behavior"
Per https://github.com/Azure/azure-webjobs-sdk-script/issues/1222#issuecomment-282072378

Should document: File logs are only for driving the portal debugging scenario when you're in the portal. If the portal has not connected in 15 minutes, the logs will disable themselves. This is for performance reasons. You can force file logs to stay on, but for high throughput scenarios that can of course ha

[2017-02-23 18:25] yochay opened #188 "Document RE: Azure Functions 5 minute execution time limit"
Azure Functions under Consumption Plan limits the execution time to a maximum of 5 minutes. The documentation does NOT mention this! It's only mentioned in comments on a couple Github issues...

this issue https://github.com/Azure/Azure-Functions/issues/75
https://github.com/Azure/azure-webjobs-sdk-script/issues/18#issuecomment-254603536

Both of these Github issues and comments are a bit dated. I

[2017-02-23 20:03] lindydonna commented on #185
This is by design, unfortunately. C# IntelliSense for scripting is limited at the moment. We are working on a feature that supports precompiled assemblies, which will solve this problem. I'm closing this issue as it's a duplicate of this feature request which is already in progress: https://feedback.azure.com/forums/355860-azure-functions/suggestions/17709979-visual-studio-tooling-for-precompiled-

[2017-02-23 20:03] #185 closed

[2017-02-23 20:04] lindydonna commented on #188
It is a limitation on Consumption. This needs to be documented here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale

[2017-02-24 17:51] jamessdixon opened #189 "Guidance for Versioning Functions"
Is there any guidance for versioning my functions?  For HTTP triggers, I assume we could use a header variable.  However, for Timers and other Triggers, do I use a naming convention?  Seems clunky...

Thanks

[2017-02-24 17:55] jamessdixon opened #190 "Support for UPDATE and DELETE to Azure Storage"
Currently, AF supports GETS and POSTS to Azure Storage.  For Update and delete scenarios, I have to write to the Azure Storage API directly.  Can this support be implement OOB with Azure Functions?  Where can the community submit that code?

[2017-02-24 17:56] yochay commented on #186
@mikezks  the proxies run-time are internal implementation of Azure App Service (the engine for Azure Functions) and therefore no available as a public repo.

[2017-02-25 00:20] mikezks commented on #186
@yochay I see, thanks for clarification.
The issue can be closed.

[2017-02-25 00:20] #186 closed

[2017-02-27 08:30] ghost opened #191 "Monitoring tab shows orange exclamation marks but no explanations"
The monitoring tab shows orange exclamation marks as status for some function invocations but there is no explanation given on what went wrong. I can't discern a pattern there.

<img width="1105" alt="screen shot 2017-02-27 at 09 17 30" src="https://cloud.githubusercontent.com/assets/20243858/23353957/4fad31cc-fccf-11e6-9d6d-36efa8b934fe.png">

[2017-02-27 10:06] justinyoo commented on #188
I actually created an issue #131 that is related to this, a while ago. Could you also clarify this, please?

[2017-02-27 22:04] rachelappel commented on #104
I've reviewed the bindings documents and they are now consistent.
Twilio and Sendgrid are no longer experimental.

[2017-02-27 22:04] #104 closed

[2017-02-28 00:41] thdotnet opened #192 "Azure Function Proxy - not routing when blob name has extension"
I know that the team is already working in the fix for the problem of using Azure Function Proxy when needs to route to Blob Storage when the blob name has an extension. I'm opening this issue just to receive a notification when the fix will be released to production.

[2017-02-28 02:19] rachelappel commented on #141
Both articles have been updated.

[2017-02-28 02:19] #141 closed

[2017-02-28 18:32] #56 closed

[2017-02-28 23:45] lindydonna commented on #179
Customers should use their storage account for disk usage.

[2017-02-28 23:46] lindydonna commented on #39
@rachelappel Would this be a topic you could take?

[2017-03-01 00:03] lindydonna commented on #173
@rachelappel Do you have cycles to make this change?  This content should be in its own section, because we will have a fwlink from the portal. Currently we don't filter storage accounts, but we're about to add the filter.

[2017-03-01 00:17] lindydonna commented on #173
Once this article is written, I will update this fwlink: go.microsoft.com/fwlink/?linkid=843013.

[2017-03-01 07:16] johnnliu opened #193 "Guidance on Azure Functions - PowerShell vs Azure Automation"
- For documentation issues, please provide exactly what is wrong/missing and why it's important.

I had a chat with @paulbatum about Azure Functions PowerShell vs. Azure Automation (which has PowerShell runbooks) at MSAUIgnite

I made this table of notes after attending some Automation sessions.

![image](https://cloud.githubusercontent.com/assets/1279372/23449422/91767a78-feaa-11e6-8749-723f879d6

[2017-03-01 07:33] johnnliu commented on #124
Import-Module "D:\home\site\wwwroot\azuremodules\AzureRM.Profile.psd1" -Global;
Import-Module "D:\home\site\wwwroot\azuremodules\AzureRM.Resources.psd1" -Global;
Import-Module "D:\home\site\wwwroot\azuremodules\AzureRM.Tags.psd1" -Global;

What is this sorcery.

[2017-03-01 07:49] tohling commented on #124
@johnnliu , this approach is used to mitigate the situation where there are multiple versions of the same modules in the system.  In the above example, there is a default set of Azure PowerShell modules installed on the system, and the one the customer uploaded to "D:\home\site\wwwroot\azuremodules".

The -Global flag is used to tell the runspace for the Function execution, that the AzureRM.*.psd1

[2017-03-01 12:58] rachelappel commented on #39
@lindydonna  Yep

[2017-03-01 14:55] SimonLuckenuik commented on #45
@lindydonna, is the limitation applicable to both Dedicated and Consumption Plans, or only Consumption Plan?

[2017-03-01 15:01] SimonLuckenuik commented on #45
With the newly released Functions Proxies, using the Application Settings to customize the URL could be a good temporary alternative to the deployment slots:  https://%CURRENT_FUNCTION_DOMAIN%/api/orders

Ref: https://docs.microsoft.com/en-us/azure/azure-functions/functions-proxies#a-namemodify-requestsamodifying-backend-requests

[2017-03-01 21:03] lindydonna commented on #39
@rachelappel Thanks Rachel!  Can you also take https://github.com/Azure/Azure-Functions/issues/173?

[2017-03-01 22:57] thdotnet commented on #192
I'm closing this issue since the Azure App Service team already fixed the problem. Just upgrade the Proxy runtime to the version latest (~0.1) and the ROUTING_EXTENSION_VERSION from 0.0.5 to the latest version (currently 0.0.6)

[2017-03-01 22:57] #192 closed

[2017-03-02 16:21] mathewc opened #194 "Document http $return / output binding"
I was answering http://stackoverflow.com/questions/42548199/azure-function-not-returning-response-through-context-res and I wanted to point to doc explaining this. However https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-node doesn't cover any of this, nor does it mention $return.

[2017-03-02 16:44] rachelappel commented on #39
@lindydonna yep

[2017-03-02 20:01] #44 closed

[2017-03-03 15:42] rachelappel commented on #173
@lindydonna  complete https://github.com/Microsoft/azure-docs-pr/pull/7585

[2017-03-03 15:42] #173 closed

[2017-03-03 15:44] rachelappel commented on #39
https://github.com/Microsoft/azure-docs-pr/pull/7607