[2022-01-13 22:50] ranouf opened #2143 "INameResolver for Queue Trigger in Azure Function V4"
Hi,

I would like to use the INameResolver for queue trigger like it's available in Azure WebJob. I know it was not available in the past, but is it plan to add for Azure Function V4? Is there a workaround to be able to use it?

here is the code used for Azure WebJob:

[code]

Thanks for your help

[2022-01-14 04:23] yutao-huang commented on #1609
@pragnagopa - could you verify this would actually solve the problem? It seems once a subnet is used for the private endpoint, it cannot be integrated to the function app anymore (showing "subnet must be empty and not already delegated" when trying to add a function app to it).

So my steps are:

- Added a private endpoint connection based off subnet `default` of my vent for the storage account bl

[2022-01-14 17:00] Tyler-V opened #2144 "Unable to limit the maximum number of concurrent service bus messages processed at a time"
I am using Azure Functions 3.0.13 and referring to the [documentation provided](https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json)

I have one TimerTrigger that runs daily that puts 0...N messages on the service bus that is then processed by a function with a ServiceBusTrigger that consumes said messages.

Using the host.json input provided, however, I can see that all mes

[2022-01-15 02:42] balag0 commented on #1882
@ehamai Just to clarify your earlier comment,

Is this referring to the functions runtime? Are these appsettings read via arm? Or is there some api that exposed by functions runtime?

[2022-01-16 09:32] bittebak opened #2145 "Python - azure.functions.WsgiMiddleware does not support multiple Set-Cookie response headers"
# Bug
When a HttpResponse has multiple headers with the same name, only one header is returned.
Django uses multiple response cookies  (e.g. 'csrf' and 'messages').
Multiple Set-Cookie headers can be returned. Set-Cookie is the name (the key) of the Http Response Header.

# Context
A Django app running in an Azure Function

## package
[code]

## Version
Azure function runtime version = ~4

## Repr

[2022-01-17 00:25] sanzgiri commented on #2130
Thanks, @v-bbalaiagar! Confirmed this is working.

[2022-01-17 00:25] #2130 closed

[2022-01-17 09:07] Beelzenef commented on #1882
We tried to create a custom role, [following the documentation](https://docs.microsoft.com/en-us/azure/azure-monitor/roles-permissions-security#monitoring-permissions-and-azure-custom-roles)... and we have no progress on this issue

![image](https://user-images.githubusercontent.com/6389665/149739917-476e9e0b-b98b-42d4-8fe3-c2751a3732ea.png)

[2022-01-17 16:30] v-bbalaiagar commented on #2143
Hi @pragnagopa , Can we consider this issue as a feature request

[2022-01-17 16:33] v-bbalaiagar commented on #2142
Hi @mo-soliman , Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2022-01-18 10:31] v-bbalaiagar commented on #2066
Closing this issue as there is no further activity, please feel free to reach back to us in case of any further queries related to this issue.

[2022-01-18 10:31] #2066 closed

[2022-01-18 10:38] v-bbalaiagar commented on #2116
Hi @fgheysels , Let us know if the above information resolves your query, or if you have any further queries.

[2022-01-18 10:42] v-bbalaiagar commented on #2122
Hi @MhAllan , I checked this internally. Host does not emit any logs that will be used to create billing meters on the platform but worker instance continues to live if retries are in progress. So we will not be charging Cx for retries.

cc @fabiocav

[2022-01-18 13:00] Ved2806 commented on #2141
Thank you for the feedback! We will check for the possibilities internally and update you with the findings.

[2022-01-18 13:04] v-bbalaiagar commented on #2144
Hi @Tyler-V , Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2022-01-18 13:12] v-bbalaiagar commented on #2145
Hi @pragnagopa / @fabiocav, Can you please suggest how to proceed here

[2022-01-18 13:23] v-bbalaiagar commented on #1805
Apologies for the delayed response, the issue was somehow lost in the trace. We will investigate this further and update you with the findings.

[2022-01-18 22:51] pragnagopa commented on #2143
Tagging @fabiocav for triage.

[2022-01-18 22:58] pragnagopa commented on #2145
@v-bbalaiagar - please move this issue to https://github.com/Azure/azure-functions-python-worker/issues
cc @vrdmr

[2022-01-19 03:30] MhAllan commented on #2122
@v-bbalaiagar thanks for the reply, but sorry I didn't get the answer to my question, I am asking if the time between retries is added to the execution time billing. I am not asking about the count of retries, but the time or retries.

[2022-01-19 08:44] v-bbalaiagar commented on #2145
Transferring this issue to python worker repo for further investigation.

[2022-01-19 10:32] sanjeebSubedi opened #2146 "Cannot write user generated logs only"
I am getting auto generated logs as well when only specifying user level logs in host.json file. I am specifying user generated logs like follows:
![image](https://user-images.githubusercontent.com/51266822/150114567-dcd27cd6-1a7c-48a3-b801-0925a2f9a68b.png)

[2022-01-19 14:54] kendaleiv commented on #2118
Confirmed the issue via an ARM based deployment (which is ultimately what we need to work). With `WEBSITE_OVERRIDE_STICKY_EXTENSION_VERSIONS=1` set in both the production and staging slots the swap failed:

[code]

[2022-01-19 17:27] jackbatzner commented on #2118
@fabiocav - Is this a valid workflow for upgrading an app from V3 to V4 function runtimes?

[2022-01-19 17:46] #2138 closed

[2022-01-19 22:16] NicoleMyM commented on #1657
Try this, because in my case I can after many tries

{
                        "name": "FUNCTIONS_WORKER_RUNTIME",
                        "value": "dotnet"
                      },
                      {
                        "name": "WEBSITE_ENABLE_SYNC_UPDATE_SITE",
                        "value": "true"
                      },
                      {
                        "name": "WEBSI

[2022-01-20 05:43] yutao-huang commented on #1609
I also tried the below, but the function is still not working:
- Use firewall rules instead of NSG
- Add the blob URL host to the firewall FQDN rule allow list
- Add `WEBSITE_DNS_SERVER=168.63.129.16` to the function app configuration

It seems the package is loaded because the `Functions` page can correctly list the function included in the package and I am able to see the function code in the fu

[2022-01-20 15:17] pragnagopa commented on #1609
@divyagandhisethi  - please take a look. If docs need to be updated - please work with @cachai2

[2022-01-21 01:49] alandraper commented on #1003
I have the same problem regularly.  I already have the EnableMSDeployAppOffline set. Publish usually works on the 2nd attempt.

[2022-01-21 11:18] #2146 closed

[2022-01-21 15:18] holtalanm commented on #771
are there any updates on this?  Or are we still waiting on App Service support for gRPC?

[2022-01-21 15:25] JoeTomkinson opened #2147 "local.settings.json not injected/included into environment variables when using a FunctionsStartup class."
Azure Function V4 - Can be easily replicated using the template solution in visual studio 2019/2022.

When you create an Azure function and you update the `local.settings.json` Values array with properties you want to access via `Environment.GetEnvironmentVariables()` they are pulled through successfully with no issues.

If you however want to use DI and you add in a `FunctionsStartup `class `loca

[2022-01-21 21:08] brad-lucas opened #2148 "Immutable versioned Azure Functions?"
Hi there,

I'm looking into expanding a project's serverless backend from only running on AWS Lambdas to also running on Azure Functions; however, in my scenario, a core requirement for doing so is the immutability of the deployed code.

From the AWS docs...
- [Lambda concepts](https://docs.aws.amazon.com/lambda/latest/dg/gettingstarted-concepts.html)

- [Lambda function versions](https://docs.aws

[2022-01-22 23:20] EnenDaveyBoy opened #2149 "Response Headers ignored, and cors issue"
I am currently using Azure Functions V3 .net 5 Isolation vs code c#

I have done some testing using a none browser client to test the function and wanted to move to test again a react app, both running locally.

however when the browser make a request to the azure function it fails due to cors warning "Access-Control-Allow-Origin",

I have tried all the suggested cors setup I can find, setting cor

[2022-01-23 00:38] EnenDaveyBoy commented on #2149
sorry didn't understant the redirect messing cors up

[2022-01-23 00:38] #2149 closed

[2022-01-24 10:27] guudan commented on #2119
I am having same issue. Did not found any good way of changing transport type of the trigger to Amqp Web Socket to make it working in my corporate environment.

[2022-01-24 10:46] guudan commented on #2119
After digging deeper I was able to solve my issue by adding following startup class to my Azure Functions project.

[code]

[2022-01-25 11:37] abirstolov commented on #1882
Any updates?

[2022-01-25 11:58] tripheo0412 opened #2150 "Is there differences in .NET runtime between Azure Function and App Service?"
Function App name: vahterus-cpq-azure-function
My project is a .NET 6 API backend. It also using an external DLL (sizing.dll) written in Visual Basic .NET, right now, we are hosting it in App Service Windows container, using `mcr.microsoft.com/dotnet/aspnet:6.0.1-windowsservercore-ltsc2019` (we use it because 1 dependencies exproting excel needs gdiplus.dll which only available in windows server c

[2022-01-25 14:12] Ved2806 commented on #2150
Thank you for the feedback! We will check for the possibilities internally and update you with the findings.

[2022-01-25 16:36] JoeTomkinson commented on #2147
After doing a bit of investigating; my working theory is that creating a startup function overrides some of the boilerplate start-up logic for an Azure function.

I think that's likely intended in hindsight; but this could definately do with an update to the [documentation for the `FunctionStartup `implementation.](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-

[2022-01-26 00:17] tripheo0412 commented on #2150
Figured that my external DLL is targeting .NET framework 4.8.
Switch to Azure Function v1 and it runs fine.
Any idea why it can run on App Service using .NET core 3.1 or 6.0 without hiccup?

[2022-01-26 15:02] ben-002 opened #2151 "Slow/Incomplete Function Monitor Logs live Stream"
I recently migrated a function from .net core 3.1 (with Azure function v3) to .net 6 (with Azure function v4).
Before migrating, I was able to see the logs live in the function Monitor -> Logs section. Even now, if I select Filesystem Logs,  they are live. however, if I switch to App Insights Logs things move really slow. The logs are either partial or missing. On very rare occasions the a log is

[2022-01-26 20:41] alexbenitez commented on #2119
Thanks, @guudan ! It works flawlessly. My Azure Function uses `Startup : FunctionsStartup` . Id did not occur to me to create a second setup class to configure WebJobs (e.g. `IWebJobsStartup`) in order to configure the service bus. Now able to debug service bus trigger.

Thanks again!

[2022-01-26 20:41] #2119 closed

[2022-01-26 21:56] soninaren commented on #2109
ping: @fabiocav

[2022-01-26 22:22] vijayrkn opened #2152 "ServiceBus Topic/Subscription Triggered Function only works if the Connection String Setting name is set to "AzureWebJobsServiceBus""
Creating the bug on behalf of the VS customer: https://developercommunity.visualstudio.com/t/ServiceBus-TopicSubscription-Triggered-/1645874

[2022-01-26 22:49] mizrael commented on #2135
@v-bbalaiagar / @pragnagopa / @fabiocav  any update on this?

[2022-01-27 11:14] Beelzenef commented on #1882
any news, @v-bbalaiagar @ehamai?

[2022-01-27 11:38] sportsfixtures commented on #1694
@wilberolive did you even attempt this again and get it working? its something that I've been trying to get working (and failing) for some time now.

[2022-01-27 14:46] danielmarbach commented on #715
BTW I have contributed a fix https://github.com/Azure/azure-sdk-for-net/pull/25127 for the SDK.

[2022-01-27 15:00] TroyWitthoeft commented on #1882
*sigh* I guess I'll pile on.  Any updates?

[2022-01-28 14:49] v-bbalaiagar commented on #1805
Hi @pragnagopa / @vrdmr , Could you please look into this issue.

[2022-01-28 22:27] valdisiljuconoks commented on #1127
We had a similar error case. But turned out - some instance field (connection to service bus) slipped through our hands... More info: https://blog.tech-fellow.net/2022/01/28/how-to-easily-exhaust-snat-sockets-in-your-application/

[2022-01-31 04:30] AdamCoulterOz commented on #2071
any updates on this @nturinski ? ☺️

[2022-01-31 11:22] ptjuanramos commented on #2135
@mizrael This only happens with v4?

[2022-01-31 15:07] Tyler-V commented on #2144
Any updates on this @v-bbalaiagar ?

[2022-01-31 16:33] v-bbalaiagar commented on #2122
Tagging @AnatoliB  for further insights

[2022-01-31 17:01] laurentbel commented on #1042
Same issue here. Locally everything works fine, but when deploying (over a linux container), I'm getting the bug and need to double encode :-(

[2022-01-31 19:19] cachai2 commented on #1862
Pragna's team has it as planned work.

[2022-01-31 19:19] cachai2 commented on #1857
Pragna's team has it as planned work.

[2022-01-31 21:52] AnatoliB commented on #2122
The time _between_ retries is _not_ added to the execution time billing.
cc @eamonoreilly for documentation update, if necessary.

[2022-02-01 02:09] petro2050 opened #2153 "[Premium] Reduce Linux machine costs in the premium plan"
I just went through the premium plan creation wizard on the portal. It looks like EP1/EP2/EP3 instances cost the same regardless of whether the operating system is Windows or Linux. For App Service Plan instances, Linux machines cost nearly half the price of Windows machines. Since premium functions are hosted in an ASP, why are we paying the same amount for Linux?

[2022-02-01 02:10] petro2050 opened #2154 "[Premium] Offer reserved instance discounts in the premium plan"
I'd like to see 1 year and 3 year reserved instance discounts in the premium plan similar to an App Service Plan. Please also update your pricing calculator on the Azure portal.

[2022-02-01 02:26] petro2050 commented on #1445
Premium instances are too expensive, IMO. The performance and reliability of consumption instances is subpar, so we're forced to shell out for the privilege of running a dedicated function instance.

[2022-02-01 04:15] gadusumi commented on #1044
+1. Please officially add this to the product pipeline. Thank you!!

[2022-02-01 09:00] v-bbalaiagar commented on #1805
Similar scenarios were fixed/ tracked earlier as mentioned [here](https://github.com/Azure/azure-functions-durable-python/issues/194). Let us know if the mentioned issue resolves your issue.
If not, could you share the app name using https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately to check the cause.

[2022-02-01 11:37] v-bbalaiagar commented on #2144
Hi @Tyler-V , I checked this internally. We would like to know a hosting plan for your app.
Here is the document to check the scaling behaviors of the various hosting plans - https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale#scale

[2022-02-01 12:23] v-bbalaiagar commented on #2151
Hi @ben-002 , Thank you for your feedback!  Can we know how you are configuring host.json file.
Meanwhile, Can you check the configuration as mentioned here - https://github.com/MicrosoftDocs/azure-docs/issues/25912#issuecomment-469145500

[2022-02-01 14:13] Ved2806 commented on #2152
https://github.com/Azure/Azure-Functions/issues/2150

[2022-02-01 14:19] Ved2806 commented on #2152
Thank you for the feedback! We will check for the possibilities internally and update you with the findings.

[2022-02-02 00:19] mizrael commented on #2135
@ptjuanramos just tried with a v3 non-isolated funcapp, works fine there.

[2022-02-02 14:06] jsquire opened #2156 "[BUG] Type registration intermittent failures during function app startup."
# Issue Transfer

This issue has been transferred from the Azure SDK for .NET repository, [#26736](https://github.com/Azure/azure-sdk-for-net/issues/26736).

### Please be aware that @Prinsn is the author of the original issue and include them for any questions or replies.

## Details

### Describe the bug

This hadn't been seen for a few days and then it started happening again
[code]

[code]

Th

[2022-02-02 14:22] Prinsn commented on #2156
Supplementing with comment added on original item:

Clean rebuild _seems to_ have fixed this for the time being, so I don't know if there's just some big goof with function console app local startup and teardowns that leave some build artifacts that lead to issues?

[2022-02-02 19:25] Prinsn commented on #2156
The cleaning methodology does not appear to work consistently

[2022-02-03 09:01] ben-002 commented on #2151
Hey @v-bbalaiagar ,
This is my host.json file:
[code]

[2022-02-03 12:36] Arash-Sabet commented on #2071
This issue is happening for dotnet-isolated functions in macOS Monterey 12.2 with M1 Pro chip. [This workaround ](https://github.com/OmniSharp/omnisharp-vscode/issues/4903#issuecomment-993015843)never worked. Any updates on a fix or workaround @nturinski ?

[2022-02-03 15:38] fgheysels commented on #2116
Hi, the `_FunctionsSkipCleanOutput` fixes the issue, but imho this is merely a workaround and not a clean solution ?

[2022-02-03 22:37] nturinski commented on #2071
Hi @Arash-Sabet

For any M1 issues, the Core tools team has a roll-up issue tracking it here: https://github.com/Azure/azure-functions-core-tools/issues/2834.  Unfortunately, I'm not sure if there's anything we can do on the tooling side to fix this as we just core tools and attach.

If you're not using an M1, I think that the [workaround cited above](https://github.com/OmniSharp/omnisharp-vscode/

[2022-02-04 05:56] TLKG opened #2157 "Execution continues after `context.res` and `return`"
Steps to reproduce:

Step 1. VSC, F1 to create an auto-gen Azure Function (AF).
Step 2. **index.js**, replace it with below following [MS AF Js developer guide](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-node?tabs=v2#use-async-and-await)
[code]
Step 3. create **db.pgTest({})**, a standard Promise. Can be any db calls I'm using `pg-promise`:
[code]

Environment:
[cod

[2022-02-04 08:02] MhAllan commented on #2122
@AnatoliB , thanks for your reply

[2022-02-04 17:19] hholst80 opened #2158 "Support for blob binding output content-type"
There is (at least) one feature missing here to parameterize the blob write. Please add an option to set a content-type on the blob.

[code]

[2022-02-04 20:59] pchevallier commented on #1987
Our Azure function (javascript node 14) was running fine until few minutes ago. I don't know if this has to do with this push, but it stopped running complaining about this Microsoft.Azure.Webjobs.Evenhub package version (4.2) that should be brought up to 4.3.

It's all good, but now how do I update this particular package directly from the Azure portal ? (via the Azure console maybe?)
or  is that

[2022-02-04 21:10] paulbatum commented on #1987
@pchevallier since this is a JavaScript app you are most likely using an extension bundle. You can update the bundle by modifying your host.json - the changes are discussed in this [comment](https://github.com/Azure/Azure-Functions/issues/1987#issuecomment-952420935).

Whether you can do it directly via the portal depends on how you have setup your function app in terms of deployment method. You m

[2022-02-04 21:15] pchevallier commented on #1987
@paulbatum sorry, actually I did indeed come across that comment, and checked my host.json file and should have mentioned that my host.json was already at that level.
[Screenshot 2022-02-04 161244](https://user-images.githubusercontent.com/20049529/152603902-142bf482-6bf8-4ada-8764-b869684abbee.png)

[2022-02-04 21:19] paulbatum commented on #1987
@pchevallier OK that is very odd. Can you file a new issue using this template? In particular I need the info about your app in the template so I can look at our logs.
https://github.com/Azure/azure-functions-host/issues/new?assignees=&labels=&template=Bug_report.md

Please share a link for the new issue here so I can find it and do some more digging.

[2022-02-04 22:34] pchevallier commented on #1987
@paulbatum turs out it's pretty consistent. I tried to re-create a brand new Node.JS Azure function on the portal from scratch hoping that would fix my pb, but came across the exact same issue.
Here's the function app ID:
Microsoft.Web-FunctionApp-Portal-d85cb797-b3da
Don't know if that's enough information to dig into it,  but I can still file a new issue with as much info as needed.

[2022-02-04 22:54] paulbatum commented on #1987
@pchevallier I ran though a JavaScript node 14 deployment for both windows and linux but couldn't hit your error in either case, so I think I need more details to keep going. Also I can't use the ID you shared because thats actually the ID of the deployment action, not the app itself, and I don't have an easy way to map the two. If you can go to the new app you created from scratch and share the a

[2022-02-04 23:02] pchevallier commented on #1987
![Screenshot 2022-02-04 180126](https://user-images.githubusercontent.com/20049529/152614499-53ba4fc5-8d87-43af-ae09-a79a86ff0fc9.png)

[2022-02-05 00:43] paulbatum commented on #1987
@pchevallier Thanks, this was enough for me to find the problem - I filed this issue and am pinging the appropriate teams to get a fix. In the meantime.. can you try the workaround I suggested in that issue? Basically try this for host.json:

[code]

[2022-02-05 10:58] ptjuanramos commented on #2135
@mizrael Thanks! For isolated host, I saw one time a problem related with this

[2022-02-07 03:02] AdamCoulterOz commented on #2071
@nturinski - it looks like https://github.com/OmniSharp/omnisharp-vscode/issues/4903 is actually a duplicate of this issue. I'm at least not using M1.

[2022-02-07 13:03] faarbaek commented on #1644
Any plans for implementing this? We have a bunch of functions that need to use a certificate in order to authenticate to external dependencies - and this issue is keeping us from hosting our functions in Linux

[2022-02-07 16:36] v-bbalaiagar commented on #2158
Hi @hholst80 , Thank you for your feedback!
Hi @AnatoliB , Can we consider this as a feature request.

[2022-02-07 16:38] v-bbalaiagar commented on #2118
Hi @suwatch /  @ruslany , Could you please take a look at this issue.

[2022-02-07 16:46] v-bbalaiagar commented on #2135
This issue is relating to an issue which is already being tracked and the updates will be given there - https://github.com/Azure/azure-functions-dotnet-worker/issues/180

Closing this issue here. Please find the space for further updates.

[2022-02-07 16:46] #2135 closed

[2022-02-07 16:47] v-bbalaiagar commented on #2142
Hi @pragnagopa , Could you please take a look at this issue.

[2022-02-07 19:30] balag0 commented on #1644
Thanks for bringing this up. Yes, this is in the backlog but no definite timelines yet. Will update here as soon as we have one.

[2022-02-08 10:28] dpomt opened #2159 "![Screenshot 2022-02-04 180126](https://user-images.githubusercontent.com/20049529/152614499-53ba4fc5-8d87-43af-ae09-a79a86ff0fc9.png)"
Hi,
have exact same issue here. Function stopped working.
Any ideas? Where can I found the host.json to try the workaround?

![Screenshot 2022-02-04 180126](https://user-images.githubusercontent.com/20049529/152614499-53ba4fc5-8d87-43af-ae09-a79a86ff0fc9.png)

_Originally posted by @pchevallier in https://github.com/Azure/Azure-Functions/issues/1987#issuecomment-1030416179_

[2022-02-08 10:40] pchevallier commented on #2159
@dpomt unless you are using Visual Studio to develop and deploy your function in which case, you can access those files using this new portal (still in preview but pretty handy):
![image](https://user-images.githubusercontent.com/20049529/152970304-02b58de2-1e2c-42bb-8046-e3a3905fac14.png)
It gives you access to all your development files:
![image](https://user-images.githubusercontent.com/2004952

[2022-02-08 10:51] dpomt commented on #2159
@pchevallier Thanks. I changed host.json to  "version": "[2.8.4, 3.0.0)" but still have same issue with

[2022-02-08 12:06] dpomt commented on #2159
I had restarted the  function app and error was still present.
However, I have just re-opened Azure function app page and there is no issue any more.

Thanks a lot for your support - this helped me a lot.

[2022-02-08 14:52] Ved2806 commented on #2148
Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2022-02-08 14:59] dpomt commented on #2159
Hi @v-bbalaiagar,
manually changing the host.json file as described above and restarting the function app  solved the problem for me.
Thanks!

[2022-02-08 15:00] pragnagopa commented on #2142
@mo-soliman - Do let us know which Sku your app is using - Linux Premium / Consumption / Dedicated

Tagging @pgombar as FYI

[2022-02-08 15:52] v-bbalaiagar commented on #2157
Hi @TLKG , Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2022-02-08 15:57] v-bbalaiagar commented on #1462
Closing this issue as there is no further activity, please feel free to reach back to us in case of any further queries related to this issue.

[2022-02-08 15:58] #1462 closed

[2022-02-08 16:28] Ved2806 commented on #2150
we are investigating this further and will update you soon with the findings

[2022-02-09 22:43] chiangvincent commented on #1862
Talked with Kar and tested on a consumption production app -- was able to verify that the service bus extension starts up correctly when defined in the Connection Strings blade in portal. The idling + failure to restart is likely a separate and unrelated issue. Taking time to look into this.

[2022-02-10 09:27] hkusulja commented on #631
@patricklee2 can you please update status on this?

[2022-02-11 02:08] TLKG commented on #2157
My question of `return` is about **index.js**, block `ce => { ... return; }`. I overlooked this block indeed is a **function**.

Not a bug.

[2022-02-11 02:08] #2157 closed

[2022-02-11 11:30] LarsCelie opened #2160 "Add environment variables with section prefix on azure function v4 no longer works with section seperator ':'"
Reproduction steps:

        public class Startup : FunctionsStartup
        {
            public override void ConfigureAppConfiguration(IFunctionsConfigurationBuilder builder)
            {
                Environment.SetEnvironmentVariable("prefix__section1__key", "value");
                var config = builder.ConfigurationBuilder.AddEnvironmentVariables("prefix:section1:").Build();

[2022-02-11 19:44] zydio commented on #2048
@liliankasem I'm sorry to revive a closed issue, but there is actually a documentation page that describes those setting and is currently out of date: https://docs.microsoft.com/en-us/azure/azure-functions/security-concepts#secret-repositories

The page is still referring to **AzureWebJobsSecretStorageKeyVaultName** instead of **AzureWebJobsSecretStorageKeyVaultUri**

[2022-02-11 20:52] liliankasem commented on #2048
@mattchenderson looks like we still need more documentation updates for this breaking change, do you know who can help with that?

[2022-02-14 06:02] johnstaveley commented on #1337
Any update on this?

[2022-02-14 16:22] Ved2806 commented on #2150
Hi @fabiocav @brettsam Could you please look into this?

[2022-02-14 16:27] v-bbalaiagar commented on #2160
Hi @LarsCelie , Thank you for your feedback! We will investigate this further and update you with the findings.

[2022-02-14 17:01] kshyju commented on #2150
@tripheo0412 What specific error are you getting when deploying the function app to azure? Based on the information you provided, I tried a repro and it worked fine for me when deployed to azure. Here is what I did.

1.  Created a VB class library with .NET Framework 4.8 as target framework. The class library exposes a simple public method.
2.  Built the class library in release mode, thus produci

[2022-02-15 13:01] v-bbalaiagar commented on #2159
Closing this issue as resolved, please feel free to reach back to us in case of any further queries related to this issue.

[2022-02-15 13:01] #2159 closed

[2022-02-15 13:14] v-bbalaiagar commented on #2139
Closing this issue as there is no further activity, please feel free to reach back to us in case of any further queries related to this issue.

[2022-02-15 13:14] #2139 closed

[2022-02-15 13:26] v-bbalaiagar commented on #2125
Hi @andrew-twigg , Apologies for the delayed response, We would like to know if you are still facing the same issue so that I can route this issue to concerned team.

[2022-02-15 13:56] andrew-twigg commented on #2125
Hi, yes still experiencing the issue.

Thanks

[2022-02-15 17:25] thdotnet opened #2161 "TelemetryClient / Distributed Tracing not working"
I do have a simple Azure Function built with .net core 3.1 and I've setup a Statup.cs as following:

[code]

In my functions, I do have the following code to set correlation ids:

[code]

I can't see any issue on Output window when running it locally. Even if I publish to Azure, I can't see anything on Live Metrics / Logs from LogAnlytics. Do I need to 'flush' the operations or is there some missi

[2022-02-15 17:47] araxis opened #2162 "Custom ModelBinder doesn't work with HttpTrigger."
I tried using a custom model binder with HttpTrigger.
based on this article
https://docs.microsoft.com/en-us/aspnet/core/mvc/advanced/custom-model-binding?view=aspnetcore-6.0
but every time I get this exception:
 System.Private.CoreLib: Invalid cast from 'System.String' to 'IndustrialElectricityUnits.Power'
IndustrialElectricityUnits.Power is my target parameter type.
[code]

[2022-02-15 19:33] theo-albers commented on #2143
Yes please, because it doesn't seem to be available. I would like to use IConfiguration with Azure App Service to inject configuration in a more flexible manner.

[2022-02-16 16:47] j2jensen commented on #2063
Any word on this? .NET 6 is in GA on Azure Functions 4.0, right?

I've filed [this separate issue](https://github.com/Azure/azure-functions-host/issues/8146) regarding Azure Functions C# Scripts (.csx), which appears to still not support anything above .NET Standard 2.0 as far as I can tell.

[2022-02-17 08:25] VasuBhog opened #2163 "Azure Functions: Create Function Error Message for SDKs"
Use this repo to file issues in documentation or the Functions Visual Studio tooling.

If you need technical help, you'll get the fastest response on the forums (https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=AzureFunctions) or Stack Overflow: http://stackoverflow.com/questions/tagged/azure-functions. The entire engineering team monitors those forums.

- For documentation issues,

[2022-02-17 20:06] andersson09 opened #2164 "storage account add function-releases container as default"
Hey,

Not really a bug but can we add an empty function-releases container when a function app is created? It makes it easier for CI jobs to check for previous deployments without worrying about errors / checking if the container exists or not.

Thanks!

[2022-02-18 14:54] jackbatzner commented on #2118
Are there any updates or help I can provide @v-bbalaiagar  / @suwatch  / @ruslany ?

[2022-02-19 22:41] JasonKleban opened #2165 "proxies.json to "Azure API Management" in v4 migration guide? Local execution?"
So far, I only found [this hint that Azure Functions v4 doesn't support proxies.json](https://github.com/Azure/azure-functions-core-tools/issues/2727).  Is there an explanation for this change?  Is it temporary?  Is there a migration guide to Azure API Management?  Is there a way to run the Azure API Management locally for apps that require the proxy behavior to operate correctly?

[2022-02-19 23:30] mo-soliman commented on #2142
@pragnagopa Consumption

[2022-02-20 14:30] Rashair commented on #2015
@phil-w solution worked for me - for anyone wondering, for update / install you need to run:
[code]
for the version - it's not mentioned anywhere in the Readme yet.

[2022-02-21 07:59] tymtam2 opened #2166 ""409 The specified container already exists.""
In my Azure Function which doesn't have any storage account code I'm getting the following warning in Application Insights.

[code]

I think it's reasonable to assume this something to do with the storage account that the Azure Functions use to record their state etc.

SDK version	azurefunctions: 4.1.3.17473

Is there a way to debug and/or resolve the issue?

[2022-02-21 09:36] RockyMM commented on #1608
Hi all. I also propose that HttpResponseMessage supports generics.

[2022-02-21 22:31] alphonso77 commented on #1042
Has anyone observed this same behavior with a NodeJS app hosted in Azure App Services?

[2022-02-22 09:05] v-bbalaiagar commented on #2156
Hi @Prinsn , Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2022-02-22 09:10] v-bbalaiagar commented on #2163
Transferring this issue to core tools for further investigation.

[2022-02-22 10:24] v-bbalaiagar commented on #2140
Hi @pragnagopa , Could you please look into this issue.

[2022-02-22 10:25] v-bbalaiagar commented on #2164
Hi @andersson09 , Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2022-02-22 14:27] Ved2806 commented on #2162
Thank you for the feedback, We will discuss this internally and let you know about the findings

[2022-02-22 14:28] Ved2806 commented on #2152
we are investigating this further and will update you soon with the findings.

[2022-02-22 19:59] alphonso77 commented on #1042
As a follow up - I ran across this same issue in an Azure-hosted NodeJS container. We had some routes that had parameters with encoded slashes (like: `http://our-api.com/first-param/second-param/some%2Fname`). The route worked fine running locally on a NodeJS Windows 11 x64 architecture. But it 404'd in the target Azure environment. I changed the last parameter to an encoded Query String parameter

[2022-02-23 01:21] kathleenwest opened #2167 "Azure Cosmos Db Trigger not working with Azure Cosmos DB API for MongoDB account Mongo API Database Collection"
_Azure Cosmos Db Trigger not working with Azure Cosmos DB API for MongoDB account Mongo API Database Collection_

**Where**

Azure Portal

**What**

1. Azure Function App with Function Azure Cosmos Db Trigger
2. Azure Cosmos DB API for MongoDB account (Mongo API Database + Collection)

**How**

Upon trigger of update, create, modify, or change of the Mongo API Database collection, the Azure functi

[2022-02-23 09:32] domasd commented on #2166
We are experiencing the same issue on some of our v4 functions.

From what we investigated it appears that this warning (or similar one `404 The specified container does not exist.`) are being spit by function sdk, but in the same time, by default, they are supressed and if you have default `host.json` in place, you shouldn't see them.

Our assumption is that we are seeing these warnings because w

[2022-02-23 10:48] hakam00ra commented on #1987
I am getting this while trying to update:
![image](https://user-images.githubusercontent.com/50047346/155304683-c95e7cae-9991-404e-9aa4-9ddf15b34a4f.png)
thanks

[2022-02-23 14:33] Ved2806 commented on #2162
@araxis Could you please highlight, for which line you are getting this error?

[2022-02-23 16:48] araxis commented on #2162
[code]
@Ved2806  if need more info, just let me know.

[2022-02-23 17:43] paulbatum commented on #1987
@hakam00ra You didn't include much detail, my assumption is that you're trying to do this for a class library based function app. I generally manage packages via the NuGet UI in Visual Studio or by editing my csproj, so I could be wrong here, but to be able to use the Install-Package command to update your csproj, I think you need to run it from the **package manager console** within Visual Studio

[2022-02-23 22:18] #1862 closed

[2022-02-23 22:19] cachai2 commented on #1857
Vincent investigated. Related issue: https://github.com/Azure/Azure-Functions/issues/1862

[2022-02-23 22:19] #1857 closed

[2022-02-24 07:27] tymtam2 opened #2168 ""No job functions found." reported when jobs are there + Functions tab empty"
This is functions 4.1.3.17473

Sometimes:

1. Application Insights reports the following Warning: `No job functions found. Try making your job classes and methods public. If you're using binding extensions (e.g. Azure Storage, ServiceBus, Timers, etc.) make sure you've called the registration method for the extension(s) in your startup code (e.g. builder.AddAzureStorage(), builder.AddServiceBus(),

[2022-02-24 07:29] tymtam2 commented on #2166
I'm not sure if this is relevant but all my v4 function apps complain that "Storage is not configured correctly", but they all work.

![image](https://user-images.githubusercontent.com/1097613/155478164-ae45c291-42a3-4137-b19e-d37ac20d7c02.png)

[2022-02-24 07:33] tymtam2 opened #2169 ""Storage is not configured correctly" reported and function works"
Runtime version: 4.1.3.17473

All my v4 function apps complain that "Storage is not configured correctly", and they all work.

![image](https://user-images.githubusercontent.com/1097613/155478164-ae45c291-42a3-4137-b19e-d37ac20d7c02.png)

I have followed https://docs.microsoft.com/en-us/azure/azure-functions/functions-recover-storage-account and confirmed that the storage account is accessible via

[2022-02-24 08:54] hakam00ra commented on #1987
Yeah sorry about that.
I am doing everything through the portal. The function (which is generated automatically by the portal) just shows the data uploaded to my IoT hub. It used to work fine but now I am getting this error and it no longer works.

I think the data uploaded should be visible with no effort at all in the IoT Hub because some clients like to see them immediately at first and then of

[2022-02-24 09:31] v-bbalaiagar commented on #2166
Hi @pragnagopa , Could you please look into this issue

[2022-02-24 10:22] v-bbalaiagar commented on #2168
Hi @tymtam2 , Thank you for your feedback! If you are using Azure Functions in .NET 5 with the out-of-process execution model you need to replace your FunctionName with Function, otherwise the function will not be detected.

Before:

[FunctionName("CreateData")]
After:

[Function("CreateData")]

Here is the official document - https://docs.microsoft.com/en-us/azure/azure-functions/dotnet-isolated-

[2022-02-24 12:42] v-bbalaiagar commented on #2169
Hi @tymtam2 , Thank you for your feedback! Here are the steps how you can resolve the azure function app error "storage is not configured" - https://www.connected-pawns.com/2020/06/14/azure-function-apps-storage-is-not-configured/

Please check and let us know if this helps.

[2022-02-24 13:13] Manthazar commented on #1920
I am not understanding the recommendation:
- HttpUtility doesnt return a dictionary, but a NameValueCollection -which in particular doesn't have a try get value, nor can be converted to a dictionary via Linq. Most importantly you cannot determine whether a parameter is missing or having null value -except you iterate over 'Keys' -which then defeats the purpose of a dictionary.
- BindingContext.Bin

[2022-02-24 13:42] tomaustin700 commented on #1920
@Manthazar if you're using .NET 6 you can just go back to using

`req.Query["parameter"];`

[2022-02-24 15:37] wilcoblom commented on #1361
@jeffhollan _**bump**_

[2022-02-24 18:03] paulbatum commented on #1987
You didn't include the error message that your function app is giving so I'm just guessing here, but you might be hitting this:
https://github.com/Azure/azure-functions-host/issues/8119

See the workaround steps for the changes to make to host.json. You can use the app files section in the left to do this:
![image](https://user-images.githubusercontent.com/10663/155581548-6fb97beb-8cd9-43b4-b2a5-6

[2022-02-24 20:24] pragnagopa commented on #2166
Tagging @AnatoliB @gzuber for triage

[2022-02-24 20:40] Tyler-V commented on #2144
@v-bbalaiagar we are using a premium function app as we have some longer running processes and need to have the flexibility to increase the `"functionTimeout"` property

[2022-02-25 00:41] tymtam2 commented on #2168
@v-bbalaiagar Thanks for you comment.

Here's some more info

1. I'm using .NET 6
2. I cannot see FunctionAttribute so I canot use `[Function("CreateData")]`
3. Why or how would it work intermittently? I have the same code deployed in another resource group and it works.

[2022-02-25 01:31] tymtam2 commented on #2169
@v-bbalaiagar Thank you very much for you reply. I will add the settings to my resource creation script.

It's worth pointing out that [App settings reference for Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings#website_contentshare) states:

When you follow the link the template actually contains WEBSITE_CONTENTSHARE but then a note below says:

I fin

[2022-02-25 01:46] tymtam2 commented on #2169
After auditing my functions it seem that the this problem affects only the functions created using bicep templates.

All functions deployed using Azure CLI have WEBSITE_CONTENTAZUREFILECONNECTIONSTRING and WEBSITE_CONTENTSHARE set without me explicitly setting it.

Example CLI:
[code]

[2022-02-25 02:14] tymtam2 commented on #2168
According to
https://stackoverflow.com/questions/55802391/settings-website-contentshare-and-website-contentazurefileconnectionstring-i

missing WEBSITE_CONTENTAZUREFILECONNECTIONSTRING and WEBSITE_CONTENTSHARE could cause *No job functions found.* warning.

This makes this issue related to https://github.com/Azure/Azure-Functions/issues/2169

[2022-02-25 03:40] tymtam2 commented on #2168
As far as I remember redeployment of the function fixes the issue for some time.

Restarting the function app does not fix the issue.

[2022-02-25 08:20] cmarslan opened #2170 "Python default startup script"
Hello everyone,

I am pretty new to azure, and struggling with the python function triggers from eventGrid. I am using ready templates created from azure for python and getting errors. I will share the files.
that is my __init__.py
[code]

function.json
[code]

host.json
[code]

and the dataset that i am sending to eventgrid
[code]

I keep recieving the this error.

[code]

probably it is super ea

[2022-02-25 09:24] v-bbalaiagar commented on #2168
Hi @tymtam2 , Thank you for the update. We will investigate this further and update you with the findings.

[2022-02-25 09:48] MichaelBarScia opened #2171 "Are there limitations on http response size"
Please describe the documentation request or issue.  Be as specific as possible.
Are there limitations like maximum size on the content of a http response returned by an Azure Function?

I noticed that there is a limitation of 100MB for http requests: https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook-trigger?tabs=csharp#limits. But I can't find any documentatio

[2022-02-25 09:59] Zoe1808 opened #2172 "Storage account recommendation for Azure Function"
Currently we just use one storage account for an Azure Function App. To improve performance, we are planning to separate the storage account.
Option 1: Use 3 storage accounts. One for function app, one for durable function and one for storage related trigger function.
Option 2: Use 2 storage accounts. One for function app, another for both durable function and storage related trigger function.

Wh

[2022-02-27 19:35] StefH commented on #1713
@dieterdp Did you find a solution?

[2022-02-28 01:45] tymtam2 opened #2173 "*Availability and Performance* reports an extension is being used which is not (explicitely?) used"
I am chasing why a function that normally works starts reporting 404 after some period of time and I am looking through _Availability and Performance_ at portal.azure.com and the mighty *Functions that are not triggering* detector.

The detector reporting an issue I cannot act upon.

It says
<html><body>

Exception Type | Total Occurrences | Exception Message | Latest Timestamp
-- | -- | -- | --
T

[2022-02-28 01:51] tymtam2 commented on #2168
Excellent. The issue is still tagged with 'Needs%3A%20Author%20feedback'. Do you need extra information?

Here are the important bits about the project:

[code]

 The function project references one project wich in turn references the following packages:
[code]

[2022-02-28 08:15] tymtam2 opened #2174 "Functions stop working with 404"
I have a v4 (Runtime version 4.1.3.17473) .net6 Azure functions that stop working after some period of time.

One example is a httptriggered function which starts returning 404 errors.

(I'm UTC+10h -> 4AM UTC is 2PM local on the screenshots)
![image](https://user-images.githubusercontent.com/1097613/155944320-f2544d5b-4e47-480e-8ccd-5d6e6352ecd4.png)
![image](https://user-images.githubusercontent

[2022-02-28 22:19] weyCC81 commented on #193
If i would like to run a python script regularly, but need to store some files too.
Which one would you use? or is there something else to automate a python script (Jupyter Notebook without GUI)?
- Runbook because of possible memory- or time-limits?
- Is there a Storage limit or Read/Write limits for temporary files?

* Findings for Runbook
https://docs.microsoft.com/en-us/answers/questions/90427/

[2022-03-01 07:29] tymtam2 commented on #2166
Just adding more info. The problem seem to be coming in batches of 4 issues:

[code]

[2022-03-01 11:19] v-bbalaiagar commented on #2063
Hi @anthonychu , Can you kindly look into this.

[2022-03-01 11:26] andyb70 opened #2175 "Timer triggered based functions stopped working!"
I have been using function apps within our project for a couple of years without issue and several weeks ago removed the old storage emulator and replaced it with Azurite which all seemed to work without any issues. However, as of this morning none of my timer triggered function apps work everything is failing with Internal Server Error 500 failures!

I am somewhat confused as to where the problem

[2022-03-01 11:32] andyb70 commented on #2175
I just deleted all of the blob storage containers via Azure Storage Explorer that were NOT known to me and restarted and everything has now started working again!

[2022-03-01 11:32] #2175 closed

[2022-03-01 11:36] cmarslan commented on #2170
The problem was Azure testing page for EventGrid and function. In testing it throws an error but in production it works..

[2022-03-01 11:36] #2170 closed

[2022-03-01 11:43] v-bbalaiagar commented on #2171
Hi @MichaelBarScia , Thank you for your feedback!
Hi @ggailey777 , Can you check if we can give some more insights in the documentation.

[2022-03-01 11:52] v-bbalaiagar commented on #2172
Hi @Zoe1808 , Thank you for your feedback!  We will check for the possibilities internally and update you with the findings. Meanwhile, can you please check the document here - https://docs.microsoft.com/en-us/azure/azure-functions/storage-considerations#storage-account-requirements

Please check and let us know if this helps.

[2022-03-01 12:10] v-bbalaiagar commented on #2173
Hi @tymtam2 , Thank you for your feedback! Could you please give us the function invocation id and region to check the cause.

[2022-03-01 12:48] tymtam2 commented on #2173
The region is Asutralia East, but I'm not sure I can get invocation id - I don't see this problem in App Insights and it's part of a request so I'm not sure what invocation id would be here.

The function is https://portal.azure.com/#@ouijalitetest.onmicrosoft.com/resource/subscriptions/1e9450c1-bd33-4166-b3ae-5888031de772/resourceGroups/LuceoTest/providers/Microsoft.Web/sites/luceotestingest/trou

[2022-03-01 13:04] tymtam2 commented on #2173
Extra info: A sibling function app (in DEV environment, not in TEST environment) does NOT report these issue at the moment. I don't know if the DEV version has ever reported this as the detector's time range can only be set to at most 24h.

Possibly relevant changes between the two function apps are:

1. DEV app (no warning) has the brand new Microsoft.NET.Sdk.Functions 4.1.0
[code]

2. DEV app (n

[2022-03-01 16:27] mkowalskigps commented on #2118
Also curious about the timing/ETA of this as it's currently a blocker for my team to move to .NET 6 - any updates would be much appreciated. Thanks in advance!

[2022-03-01 16:54] dxynnez commented on #2118
I second this - is there any way we can make the FUNCTIONS_EXTENSION_VERSION not slot-sticky?

[2022-03-02 08:43] v-bbalaiagar commented on #2173
Hi @pragnagopa / @balag0 , Could you please look into this issue.

[2022-03-02 20:13] jonas-lomholdt commented on #717
Just spent the day figuring out why the connection string was not working 😂 Good thing I found this issue 👍

[2022-03-03 01:35] AnatoliB commented on #2166
I think Application Insights is just a messenger here. Something in the host process is trying to access a blob, and this attempt is captured, but I don't see any indication that this blob is accessed _because_ of Application Insights.

Does this repro with the simplest "hello world" app with a single HTTP trigger?

[2022-03-03 02:34] tymtam2 commented on #2166
Category for these isssues is `Azure.Core.1`.

As I was setting up trying the out-of-the-box http trigger function  I realised that this issue is only reported by the functions with [EventHubTrigger]. I can see now that the functions that only have a http trigger do not report these 4 issues.

[2022-03-03 06:51] anthonychu commented on #2063
Transferring to dotnet worker repo to investigate. /cc @fabiocav

[2022-03-03 08:02] ameyasubhedar opened #2182 "How do hide Azure function app from search results ?"

[2022-03-03 08:26] danielsegertun commented on #1614
This is still not working!

[2022-03-03 12:32] MichaelBarScia commented on #2171
Ok thanks. Can you already inform me if there are any actual limitations on HTTP response size?

[2022-03-03 12:50] haciz commented on #1361
Problem is still there even with manual creation of the resources, is there any update from MS when this going to be resolved, it seems as pretty old issue.

[2022-03-03 21:58] sebsmgzz commented on #1987
I was having the same issue and this workaround did the trick for me with a JS function app.

[2022-03-04 12:18] jonas-lomholdt commented on #2048
I have been struggling to get this working. I have followed the "new" way but nothing seems to work. When I try to create a host key I get a InternalServerError from Azure.

[2022-03-04 12:28] jonas-lomholdt commented on #2048
Oh. I put my uri for `AzureWebJobsSecretStorageKeyVaultUri` without `https://` in it. That breaks everything and will make it show `InternalServerError` when creating a key.

[2022-03-04 17:44] GCoding83 opened #2176 "Use of % % to store CRON expression in TimerTrigger not functional in Isolated Processes?"
I am trying to upgrade my Azure Functions to .NET 6 from .NET Core 3.1, and I am no longer able to use a variable in my local settings for my TimerTrigger CRON expression. Instead of doing this:

**public void Run([TimerTrigger("*/10 * * * * *")].....)**

I want to do something like this:

**public void Run([TimerTrigger("%MyVariable%")]....)**

But it doesn't seem possible anymore. Is there anoth

[2022-03-04 18:47] pragnagopa commented on #2173
@gzuber  / @AnatoliB for triage

[2022-03-04 19:34] liliankasem commented on #2048
Yup, you need to use the full Vault URI as displayed in the Key Vault overview page. We can update the docs to make that more clear.

[2022-03-04 21:33] johankson commented on #1281
Spent a day troubleshooting this... It's never where you think it is.... Please just add a better error message.

[2022-03-05 01:46] AnatoliB commented on #2166
@tymtam2 Do you know which version of the Event Hubs extension you are using?

[2022-03-05 09:24] araxis opened #2177 "Custom Route Constraint doesn't work with HttpTrigger."
I tried using a custom Route Constraint with HttpTrigger.

[code]

but I get this Exception:

[2022-03-07 06:48] tymtam2 commented on #2166
Here are all the referenced packages
[code]

I get the 4 issues when running locally (not just when deployed) and in the bin folder the version of
Azure.Messaging.EventHubs.dll is 5.6.2
and Microsoft.Azure.WebJobs.Extensions.EventHubs.dll is 5.0.0.

As an experiment I added an explicit dependency on Azure.Messaging.EventHubs 5.7.0-beta.3 but after doing that the function reports on startup:
`Micro

[2022-03-07 07:34] AnatoliB commented on #2166
@alrod Track2 extension issue?

[2022-03-07 09:09] kan-nan-k commented on #2032
I had similar issue, I did not have Azure Development tools selected in my visual studio 2022 installation. Hope this helps someone.

![image](https://user-images.githubusercontent.com/74256356/157001063-964d4071-f478-465e-ab16-6b75f78adac5.png)

[2022-03-07 09:12] kan-nan-k commented on #1883
I had a similar issue, my root cause was different, I did not install Azure development tools during initial setup, after installation it worked. Hope it helps someone.

![image](https://user-images.githubusercontent.com/74256356/157001331-c05dee78-a7cd-4b45-bd7a-4230219255fa.png)

[2022-03-07 14:54] v-bbalaiagar commented on #2176
Hi @GCoding83 , Thank you for your feedback! Have you installed this [packages](https://www.nuget.org/packages?q=Microsoft.Azure.Functions.Worker.Extensions) and gone through this [doc](https://docs.microsoft.com/en-us/azure/azure-functions/dotnet-isolated-process-guide?tabs=browser&pivots=development-environment-vs#execution-context).

[2022-03-07 18:04] GCoding83 commented on #2176
Thanks for the reply.

I do have these packages installed, but I have figured out what the problem is: I had "MyVariable" inside my User Secrets, rather than in local.settings.json. Putting them in local.settings.json solved the issue... but it's annoying that it doesn't work in User Secrets anymore. It used to work fine in NET Core 3.1.

[2022-03-08 11:13] v-bbalaiagar commented on #2177
Hi @araxis , Thank you for your feedback! We will check for the possibilities internally and update you with the findings.
Here is the related document - https://docs.microsoft.com/en-us/aspnet/core/fundamentals/routing?view=aspnetcore-6.0#route-constraint-reference
Please check if you are missing something and let us know if this helps.

[2022-03-08 13:32] v-bbalaiagar commented on #2068
Closing this issue as there is no further activity, please feel free to reach back to us in case of any further queries related to this issue

[2022-03-08 13:32] #2068 closed

[2022-03-08 14:16] jonas-lomholdt commented on #2048
I'm suspecting for this to work with MSI it's required to use a user assigned identity @liliankasem?

[2022-03-08 14:27] v-bbalaiagar commented on #2164
Hi @pragnagopa , Could you please provide any inputs for this issue.

[2022-03-08 14:47] Mentate opened #2178 "[Premium] Periods are replaced with underscores in application settings keys"
**Describe the Bug**
Using application string names in local.settings.json that contain periods works as expected. Creatingapplication string names in the portal with periods passes validation. When viewing the app string names in the portal the periods still appear in the name. However, attempting to access these application strings from the code during runtime fails with a key not found error. A

[2022-03-08 14:56] pragnagopa commented on #2164
this is a feature request. Assigning to @amamounelsayed and @kulkarnisonia16  for triage. Thanks!

[2022-03-08 17:02] Bpflugrad commented on #2054
This problem is affecting my Azure Functions V4 (4.1.3.17473) regardless of load.
Here's a sample invocation Id def139d3-f33c-4d57-9fb3-e706580323e5, UTC timestamp 2022-03-07T22:20:06.472Z, region Central US.  This is hosted on an EP1: 1 App Service Plan.
We received 23 of these warnings between 2022-03-08T05:34:46.683Z and 2022-03-08T13:57:43.99Z when there was no load (this is a development depl

[2022-03-09 00:41] alrod commented on #2166
@tymtam2,
can you please try to use "Microsoft.Azure.WebJobs.Extensions.EventHubs" Version="4.3.1"?
do you see the "409 The specified container already exists." in this case?

[2022-03-09 09:16] tymtam2 commented on #2166
I've tried "Microsoft.Azure.WebJobs.Extensions.EventHubs" Version="4.3.1" and I don't see the warnings.

[2022-03-09 14:57] Trubador commented on #646
Any news on this?

I am strongly considering moving to AWS because of VNET not being available in the consumption plan for Functions. This is an absolute must-have in terms of security and frankly, I am disappointed that Microsoft has not addressed this, since Azure is promoted to be highly secure.

[2022-03-09 15:41] Bpflugrad commented on #2054
For anyone still running into this problem: Two of my applications were exhibiting it, which was pretty concerning.  Another bug with configuration values became apparent and was caused by [azure-functions-host issue 2015](https://github.com/Azure/azure-functions-host/issues/2015).  After setting `AzureFunctionsWebHost:hostId` to unique values under 32 characters on all deployment Slots, the Threa

[2022-03-09 19:31] brad-lucas commented on #2148
Thanks, @Ved2806 - any news on this front?

[2022-03-09 20:59] aressler38 commented on #1281
@cgillum

[2022-03-10 18:26] cgillum commented on #1281
Removing Jeff from the assignment. @anirudhgarg @mathewc what's the right way to triage this issue? It's an error message generated by the Functions host (not sure if it's Functions or WebJobs) that's impacting Durable Functions customers.

Related: https://github.com/Azure/azure-functions-durable-extension/issues/1062.

[2022-03-10 21:07] mayank88mahajan commented on #1044
Tagging @fabiocav to see if this being considered in the new Isolated model

[2022-03-10 23:37] mathewc commented on #1281
@cgillum  The fact that your binding has a "data" member as part of the BindingContract shouldn't cause the trigger parameter to fail binding. I just tried to repro with QueueTrigger which has a contract member DequeueCount [here](https://github.com/Azure/azure-sdk-for-net/blob/dc39a5e449830403a3fddcb46d2ab6d95e3942c0/sdk/storage/Microsoft.Azure.WebJobs.Extensions.Storage.Queues/src/Triggers/Queue

[2022-03-11 08:59] v-bbalaiagar commented on #2176
Transferring this issue to dot net worker repo for further investigation.

[2022-03-12 11:50] rundtjan opened #2179 "Azure function in nodejs is not awaiting 'await'"
I have a simple Azure function that is supposed to await an async function call, but it keeps returning context.res before the promised is resolved, actually, it does it right away.

Code:

module.exports = async function (context, req) {
    const result = await getHist(context, '[an id]')
    context.res = {body: result}
}

The async function getHist is working great in another environment with

[2022-03-12 11:55] #2179 closed

[2022-03-13 06:25] araxis commented on #2177
Hi @v-balanagar , I followed exactly that article and it worked in regular ASP.NET Core, but not in Azure functions. Since I have this problem with Custom model binder as well, I think it's related to the registration code.

[code]

[2022-03-14 00:34] fabiomaulo commented on #2116
The *workaround* by @fgheysels saves my day (and night too).

[2022-03-14 04:06] Zoe1808 commented on #2172
@v-bbalaiagar Thanks. We would split the function default storage account for sure.

As a following up question, If we want to change the function storage account, do we only need to update the value of AzureWebJobsStorage and WEBSITE_CONTENTAZUREFILECONNECTIONSTRING (pointing to new storage account connection string) in staging slot and redeploy the function app then swap? Is there any other thin

[2022-03-14 14:51] MrMeterPing opened #2180 "Azure Function slow HTTP requests compared to when running in localhost"
I'm using a Azure Function .Net 6 Isolated.

When I run the function on localhost from VS2022, it is up to 5 times faster then when I deploy it to Azure Function. Localhost is a VM hosted in Azure in the same region as the function. I tried different Service Plans, but issue remains. (Consumption Plan, Elastic Premium EP3, Premium V2 P3v2).

The same code running in localhost Vs. Azure
<img width=

[2022-03-14 17:51] kshyju commented on #2150
Closing due to lack of activity. Feel free to open a new issue with details if you run into any issues trying the above steps.

[2022-03-14 17:51] #2150 closed

[2022-03-15 12:34] v-bbalaiagar commented on #2177
Hi @araxis , I checked this internally. According to the team, this scenario is not supporting in azure functions.

[2022-03-15 12:58] Ved2806 commented on #2178
Thank you for the feedback, We will discuss this issue internally and let you know about the findings.

[2022-03-15 13:15] v-bbalaiagar commented on #2165
Tagging @anthonychu , for more inputs

[2022-03-15 13:21] v-bbalaiagar commented on #2122
Hi @MhAllan , Closing this issue as the new issue opened here - https://github.com/MicrosoftDocs/azure-docs/issues/88818

[2022-03-15 13:37] Ved2806 commented on #2174
Thank you for the feedback, We will discuss this internally and let you know about the findings

[2022-03-15 13:52] Ved2806 commented on #2148
We are investigating this issue further, we will let you know about the findings soon.

[2022-03-15 14:47] roberAlb opened #2181 "Azure Functions v3 deadlock issue"
Some async actions that took 15-20 mins, they are not finishing now or taking hours. We have checked inside kudu in the eventlog.xml and we have found errors related with this

**One error**:*"Microsoft.AspNetCore.Server.Kestrel EventId: 22 Heartbeat took longer than "00:00:01" at "03/15/2022 10:10:56 +00:00". This could be caused by thread pool starvation."

**Second error**: "Application: w3wp.e

[2022-03-15 21:26] fabiocav commented on #2182
There's no official guidance or feature to make this simpler. So currently, you'd need to do something like creating the appropriate route and serving the file, but we're transferring this to the appropriate repo to track.

FYI @mattchenderson

[2022-03-16 14:26] araxis commented on #2177
It is disappointing, thank you by the way.

[2022-03-16 17:08] LucaMozzo opened #2183 "Better support for EF Core ConnectionStrings in Azure Functions Isolated"
Since migrating to Azure Functions v4 isolated process, I struggled with Connection Strings and EF Core more than any other project.

The 2 pain points that I want to report are:

**1. Fetching connection strings in a way that works in Azure and locally**
In order to use DI to inject an EF DbContext or any database service, the only way I could find to load connection strings was to use something

[2022-03-17 08:36] MhAllan opened #2184 "Azure Function Cosmos Trigger, Unable to handle partitions in parallel"
#### Here is what I have ####
* Cosmos Serverless account
* Cosmos container partitioned by "id"
* Azure function app hosted on slot of a Premium app
* The function app is triggered by cosmos db change feed
* The function app has Exponential Retry policy
[code]
* The function is .net 6 app

#### Expected Behavior ####
* When the app fails for a given partition, it should stop handling that partiti

[2022-03-17 09:05] PatrikNorrgard commented on #1044
Please add this support, we are now unable to move to Functions V4 / .Net 6 as the community workaround has stopped supporting it.

https://github.com/smokedlinq-archive/Microsoft.Azure.WebJobs.Extensions.OData

[2022-03-17 09:38] Ved2806 commented on #2162
Hi @araxis This error seems about the type casting. You will need to use the proper typeConverter. Please refer this [document](https://docs.microsoft.com/en-us/aspnet/core/mvc/advanced/custom-model-binding?view=aspnetcore-6.0) for more information and let us know if it helps. Could you please paste a stack trace so that we can investigate this issue further.

[2022-03-17 11:58] yuhuyuyu commented on #2167
@kathleenwest
I encountered the same problem with with Azure Cosmos Core API.I would like to know if this problem is still unresolved at the moment.Thanks

[2022-03-17 17:54] rubenaster commented on #1361
So, when using Terraform to create the File Share, the subnet for the DevOps build agent (that is running as a Linux VM with access to the VNet) needs to be included in the Storage allowed subnets, right? Otherwise I get an authorization error when the check for the existence of the File Share is being made:

Error: checking for existence of existing Storage Share "logicXXXXX-q01-content" (Account

[2022-03-17 20:25] mayank88mahajan opened #2185 "Support ODataQueryOptions in v4 Isolated version of Functions"
Since the Isolated version of functions does not expose the HttpRequest (but rather HttpReqestData), there is currently no workaround to get ODataQueryOptions in the new v4 isolated Azure functions. This is major pain-point and sometimes a blocker for moving or using Azure functions.

Could ODataQueryOptions be exposed as a binding to the HTTP trigger functions?

[2022-03-17 21:50] sylnsr commented on #1583
Is this still relevant? It would seem insane that the documentation still shows how to deploy using  WEBSITE_RUN_FROM_PACKAGE ... and for the previous comment to still be relevant.

[2022-03-17 21:53] anirudhgarg commented on #1583
We have updated the documentation that it is not supported. https://docs.microsoft.com/en-us/azure/azure-functions/run-functions-from-deployment-package#enable-functions-to-run-from-a-package

https://docs.microsoft.com/en-us/azure/azure-functions/run-functions-from-deployment-package#considerations-for-deploying-from-an-on-site-package

[2022-03-17 22:16] sylnsr commented on #1583
Looking forward to seeing this fixed. Having Linux treated as a 3rd rate citizen in Azure is the main reason we push all our customers to AWS.

[2022-03-18 08:23] devJ0n commented on #2184
Are you using Azure Function runtime V3 or V4?

Is the Azure Function running in-process (dotnet) or out-of-process (dotnet-isolated)?

[2022-03-18 08:35] MhAllan commented on #2184
@devJ0n  Azure Func V4, in-process

[2022-03-18 18:06] sylnsr commented on #1583
The documentation does not mention `--build-remote` for `az functionapp deployment source config-zip`. It seems like it should. I know there is the `.deployment` file option ... but the `--build-remote` option seems cleaner and worth mentioning.

[2022-03-19 10:18] araxis commented on #2162
Hi @Ved2806 ,Problem is that even if I register Model binder, it does not get called. It seems that Azur Function Http stack, or whatever it's called, ignores custom model binders. I am aware of Type Converters, but this is unrelated to it.

[2022-03-21 15:56] anujb opened #2186 "No HotReload for Azure Functions VS Code Tooling"
Azure Functions Tooling using the C# .NET 6 isolated process function does not support the hot reload capability by default. I tried using the hot reload capability by adding a custom build target recommended here:

https://github.com/Azure/azure-functions-core-tools/issues/1239#issuecomment-669018902

But the reload on average 5 seconds, which is a poor inner loop experience.

[2022-03-22 01:30] mkowalskigps commented on #2118
As a .NET community we are [being encouraged](https://azure.microsoft.com/en-us/updates/extended-support-for-microsoft-net-core-31-will-end-on-3-december-2022/) to move to .NET 6 / Runtime V4.

A fix for this issue is needed to avoid downtime when deploying and transitioning between versions - any updates would be much appreciated. Thanks!

[2022-03-22 09:36] v-bbalaiagar commented on #2181
Hi @roberAlb , Thank you for your feedback! Could you please give us the function invocation Id and region to get the logs and check the cause.

[2022-03-22 10:07] v-bbalaiagar commented on #2185
Hi @fabiocav , Can we support this scenario

[2022-03-22 11:35] v-bbalaiagar commented on #2177
Closing this issue as the required information provided, please feel free to reach back to us in case of any further queries related to this issue.

[2022-03-22 11:35] #2177 closed

[2022-03-22 11:39] MhAllan opened #2187 "Consumption plan is almost useless without dedicated IP"
In Microservices on Azure most people us CosmosDB heavily and it's firewall requires whitelisting IPs.

It is totally not acceptable from security point of view to whitelist all datacentre IPs. That makes azure function consumption plan almost a useless plan. And if we want to put each function in premium plan then:
1. we are not serverless, that premium instance is a server. similar to having an

[2022-03-22 13:32] Ved2806 commented on #2187
Hi @MhAllan Thank you for your feedback, let us check this internally and we will let you know about the findings!

[2022-03-23 09:24] MathieuDiepman commented on #2129
I have the same issue, except that the value that I pull from keyvault is required for function startup (client secret) so my function does not work fine.
During deployment the secret is updated in keyvault but the function uses an old secret during startup. Starting and stopping the function app does not trigger a KeyVault refresh, but adding a dummy config parameter and saving it on the function

[2022-03-24 14:00] MIG0Z commented on #1882
Same problem here... any news on the subject? @ehamai

[2022-03-24 21:24] mayank88mahajan commented on #2185
Seems to be an open issue in another thread for 3+ years now:
https://github.com/Azure/Azure-Functions/issues/1044

Any response will be greatly appreciated.

[2022-03-25 02:21] v-bbalaiagar commented on #2184
Hi @mathewc /  @alrod , Could you please look into this issue.

[2022-03-25 08:05] roberAlb commented on #2181
@v-bbalaiagar  thanks for your comment. This is the Id ["938ce5d527f14c909f8c32ac4568ad12"] and the region is West Europe.

[2022-03-25 17:23] rvdginste opened #2188 "Scaling on consumption plan: inconsistent documentation"
It is not clear to me how function apps scale that share the same consumption plan.
The documentation on this is inconsistent.

Excerpt from [Azure Functions Consumption plan hosting](https://docs.microsoft.com/en-us/azure/azure-functions/consumption-plan):

Excerpt from [Event-driven scaling in Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/event-driven-scaling):

I was a

[2022-03-25 18:03] rvdginste commented on #2188
And I found other documentation that claims it scales independently...

Excerpt from [Organize functions for performance and scaling](https://docs.microsoft.com/en-us/azure/azure-functions/performance-reliability#organize-functions-for-performance-and-scaling):

[2022-03-25 19:03] mdrabic5 commented on #2174
Has anyone found the root cause of this error?

Today I got the same issue, my Azure function v2 stop working and started returning 404 error.

`<html>
<head><title>404 Not Found</title></head>
<body bgcolor="white">
<center><h1>404 Not Found</h1></center>
<hr><center>nginx</center>
</body>
</html>`

In the "Availability and Performance"->"Functions that are not triggering" tab I get this errors:

[2022-03-27 21:27] LucaMozzo commented on #2183
@v-bbalaiagar thanks. I don't exclude the fact that I'm doing things wrong, but I did look at all the docs I could find!

[2022-03-27 21:32] TechWatching opened #2189 "Storage issue with managed identity for AzureWebJobsStorage"
_(There is no way to open an issue on https://github.com/azure/azure-functions-ux, "issues tab" is not enabled. That is why I create this issue here.)_

When using [managed identity for AzureWebJobsStorage](https://docs.microsoft.com/en-us/azure/azure-functions/functions-identity-based-connections-tutorial#use-managed-identity-for-azurewebjobsstorage-preview), there is a warning on the portal indi

[2022-03-27 21:53] TechWatching commented on #2189
Just came across this [answer](https://github.com/Azure/azure-functions-host/issues/8135#issuecomment-1040879695) after creating the issue.

@mattchenderson  do you know when Azure Files will support managed identity so that AzureWebJobsStorage__accountName will be enough? I don't want to be rude, but it seems to me that without that the promise of removing secrets from the configuration of Functi

[2022-03-29 12:02] JosefBackovsky commented on #2054
I am having same issue with V4 (4.1.3.17473) dotnet isolated process. I am not using deployment Slots (just production).

[2022-03-29 18:38] ckarcz opened #2190 "Error: Failed to sync triggers for function app"
Hi all,

My Azure Functions deployment from VSTS (Azure DevOps) fails with:

[code]

The functions run locally just fine. A similar project with functions deploys just fine with same configurations and dependencies.

There is just not enough information logged in VSTS for me to know what the problem with deployment is. 😞
There are no logs in the SCM UI, nor the Azure Function FTPs.

[2022-03-30 06:35] Annesars90 commented on #1882
Is it possible to list which permissions are needed to be able to use Monitor in Function Apps when we don't want to assign Contributor, so we can create a custom role?

[2022-03-30 14:27] rolan18 commented on #1039
Has there been a patch/fix for this as of yet?

[2022-03-31 15:17] VaclavK opened #2191 "IAsyncDisposable Only support for scoped registrations -(V4?) (V3?)"
I am trying to determine if the Azure functions DI model is expected to work for (scoped) registration that expose **only** IAsyncDisposable... (my triggering point is ServiceBusClient in Azure.Messaging.ServiceBus but the question is really generic)

I do not see their DisposeAsync called, whereas their Dispose is (if I flick them to IDisposable)

I am seeing disconnected remarks/documentation he

[2022-04-01 01:04] #1916 closed

[2022-04-01 02:18] Ved2806 commented on #2162
Hi @araxis, We don't officially support the custom model binding in azure functions as of now. We will consider it as a feature in future.

[2022-04-01 02:21] Ved2806 commented on #2148
Hi @mattchenderson Could you please help with this?

[2022-04-01 04:22] araxis commented on #2162
Thanks for following up, @Ved2806 .

[2022-04-01 13:12] andersson09 commented on #2164
Any update?

[2022-04-04 01:54] DFMERA opened #2192 "Exception using binding parameter"
Hi.
I'm deploying a c# (.net 6) httptrigger function with a blob output binding parameter but every time a deploy a new versión of my function I get this error when I run it:

Exception binding parameter 'outputBlob' Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature.
...
Status: 403 (Server failed to authenticate the

[2022-04-04 01:57] DFMERA commented on #2192
May be I should have mentioned. My binded output file is in a private blob container because I don't want that file to be public

[2022-04-04 09:01] Froosh commented on #2118
How is this 4yo problem still ongoing?

If not deployment slots, what is the proposed zero downtime upgrade solution?

Without having to deploy whole new functions and urls and migrate, preferably?

[2022-04-04 09:53] IanMoroney commented on #1882
I actually have contributor permission at the subscription level, and *still* can't get this to work.

[2022-04-04 10:00] IanMoroney commented on #1882
looking at it again, it's definitely buggy.
I refreshed the azure portal, and it was fine, i could access it.

[2022-04-04 16:49] balag0 commented on #2164
@andersson09 I agree a simple mechanism to check for previous deployments is a good ask. But using the presence/absence of a container might not be the most reliable way to do that.

Some potential issues with this approach - the container cannot always be created at the time of app creation if the storage account is using private endpoints. There are some deployment mechanisms that dont rely on t

[2022-04-04 18:32] balag0 commented on #2190
@ckarcz Looks like this has been working now?
Also another place to check is application insights (and I think that should have the error details in this scenario)

[2022-04-04 18:57] ckarcz commented on #2190
i got it to work, but how i'm not sure. i removed every dependency and slowly added them one by one back again. maybe it was a function services thing that went away. i can't say. i will close this ticket. thanks for investigating.

[2022-04-04 18:57] #2190 closed

[2022-04-05 10:50] v-bbalaiagar commented on #2192
Hi @DFMERA , Thank you for your feedback! Here are the steps to check if your storage account is firewall enabled
Azure Portal -> Storage Account -> Networking -> Check Allow Access From (All Networks / Selected Networks)
If it is "Selected Networks" - It means the storage account is firewall enabled.

Also, here is a SO which addresses similar scenario and solutions to resolve this - https://stac

[2022-04-05 10:58] v-bbalaiagar commented on #2188
Hi @pragnagopa , Can you check if we can give some more insights in the documentation

[2022-04-05 12:29] v-bbalaiagar commented on #2191
Hi @fabiocav / @pragnagopa , Can you please check if we can give any insights here.

[2022-04-05 15:39] pragnagopa commented on #2188
@cachai2 - assigning this to you for now to help clarifying issues in the docs. Please reach out to @chiangvincent @TsuyoshiUshio if you need more details.

[2022-04-05 19:53] rish501 opened #2193 "Unable to load shared library - MacOS x64"
OS: Mac OS 11.6.5
Installed latest version of Azure Functions Core tools.
Added Microsoft.Data.Sqlite to new azure functions project with HTTP trigger.
When attempting to connect to Database receiving following error:

`System.Private.CoreLib: Exception while executing function: test. Microsoft.Data.Sqlite: The type initializer for 'Microsoft.Data.Sqlite.SqliteConnection' threw an exception. Syste

[2022-04-06 09:35] gocha commented on #1613
In my case, after migrating to .NET 6 (i.e. Function Runtime v4) and Entity Framework Core 6, the artifact zip file did not contain System.Diagnostics.DiagnosticSource.dll and this problem did not occur. FYI.

[2022-04-06 11:22] DerickVanDerSandt commented on #2171
Hi, is there any feedback on this as we are experiencing the same issue. Ours works up to 250MB

[2022-04-06 16:37] dxynnez commented on #2118
You rock man! I tested it and it worked!

[2022-04-07 15:48] mattchenderson commented on #2118
Hi all,

I'm glad folks were able to work out a solution. I just wanted to note that I've created an item internally for getting that information added to https://docs.microsoft.com/azure/azure-functions/functions-versions and https://docs.microsoft.com/azure/azure-functions/functions-app-settings, and if folks have other suggestions, please let me know.

Let's leave this item open until that cont

[2022-04-07 17:26] DFMERA commented on #2192
Hi.
I checked my storage account and it was not firewall protected, I also tried almost every recommendations in the link you shared and nothing seems to work.
I also tried changing the function app plan from app service to consumption.
The binded file in the function is just a regular csv file but apparently it is created with some signature and when I deploy a new version of my function that sig

[2022-04-07 21:36] UniSnake commented on #1777
I was able to reproduce this with a timer triggered function newly deployed to Azure. Used the technique described here https://docs.microsoft.com/en-us/azure/azure-functions/functions-manually-run-non-http to manually trigger the timer function. Got 404s until I changed my argument from `[TimerTrigger("0 30 9 * * *")] TimerInfo _` to `[TimerTrigger("0 30 9 * * *")] TimerInfo timer` and redeployin

[2022-04-08 12:49] Saibamen commented on #1525
Adding `<_FunctionsSkipCleanOutput>true</_FunctionsSkipCleanOutput>` inside csproj fix this in Azure, but now I can't start my functions locally via Visual Studio.
Error:
[code]

But my `local.settings.json` is inside `bin\Debug\net6.0` folder and has all required values

[2022-04-11 09:09] v-bbalaiagar commented on #2192
Hi @DFMERA , Thank you for the update. We will investigate this further and update you with the findings.

[2022-04-12 08:28] komayama commented on #1882
I added Website contributor role that azure provide build-in roles and there is not gray-out on "monitor" screen of azure portal. Just for your information.

https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#website-contributor

[2022-04-12 13:40] v-bbalaiagar commented on #2181
Apologies for the delay in response. This issue was somehow missed, we will be further investigating this issue and update the progress.

[2022-04-12 13:48] Ved2806 commented on #2187
Hi @ealsur Could you please help with this issue?

[2022-04-12 13:57] v-bbalaiagar commented on #2193
Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2022-04-12 15:14] Beelzenef commented on #1882
so... is this a workaround?

[2022-04-12 21:12] ealsur commented on #2187
@Ved2806 I cannot help here, there is nothing related to my involvement with Functions that applies.

Any user trying to connect from an Azure Function to Cosmos DB using any of the SDKs and APIs will run through networking limitations.

The only thing I can see on the Cosmos DB documentation is that you don't need to whitelist all the individual IPs, you can whitelist the Azure datacenters: https

[2022-04-12 21:32] shimedh commented on #1614
@danielsegertun Could you let us know how you added it in host.json? I tried adding it on my v4 functionapp's host.json and it is reflecting in Code+Test url and also returns a 200 when I run my http function.

You would need to add the routeprefix under extensions like below:
![image](https://user-images.githubusercontent.com/14221995/163058011-376fcf06-9cb3-4e43-9b85-032f142e9c5f.png)

![image](

[2022-04-12 22:33] drdamour commented on #1614
@shimedh that's how i have it only my prefix is "", perhaps your handling code is falsely skipping an empty value

![image](https://user-images.githubusercontent.com/1514496/163065566-7c841a15-ecfc-4fe0-b370-9e56a2c751bc.png)

[2022-04-13 01:45] GuiGimenez commented on #2166
This occurs with [ServiceBusTrigger] as well

[2022-04-13 08:11] MhAllan commented on #2187
@ealsur Thanks for reply, whitelisting all DC is risky, virtual networks require premium, that doesn't much option for consumption plan, so I ended up putting all functions on premium plans.

[2022-04-13 10:49] Fuchio opened #2194 "Unable to deploy function after adding Microsoft.Azure.Devices.Client"
Some details:
Windows 10
.NET 6
Azure Functions 4
VS Code

Hey all, hopefully someone can help me out here because I'm stuck. I am trying to create an Azure function with a cron trigger that reads an API and sends the data to IoT Hub. This works fine as long as I run it locally. However, when I try to deploy it gives me the error "Failed, reason: socket hang up" after 5 minutes of waiting at "Zip

[2022-04-14 07:50] drdamour commented on #1614
@shimedh not sure why but my function app has a very different experience.

![image](https://user-images.githubusercontent.com/1514496/163338455-e857bbdd-ad51-4821-a54b-1c2f70015598.png)

and when i click run
![image](https://user-images.githubusercontent.com/1514496/163338741-831fb2ef-a713-4621-84fc-e274984f6f58.png)

you covered the route setting of your function, mine is just "itmaint"
![image]

[2022-04-14 10:27] andersson09 commented on #2164
Exact scenario:

I'm running zip deploy using:
`az functionapp deployment source config-zip -g $RESOURCE_GROUP -n $FUNCTION --src package.zip`

However, this will break if there is no 'function-releases' container in the generated storage account. So I have to create it manually.

<img width="170" alt="image" src="https://user-images.githubusercontent.com/70258509/163366675-d843217a-4833-4df9-921c

[2022-04-14 18:18] drdamour commented on #1614
that's exactly what i have, but yet in the test area the api path segment still appears

[2022-04-14 20:20] jackbatzner commented on #2118
@dxynnez - the suggested approach worked flawlessly for us. The concern here is the behavior of the Azure Functions runtime where it removes the FUNCTIONS_EXTENSION_VERSION setting while swapping slots when the WEBSITE_OVERRIDE_STICKY_EXTENSION_VERSIONS is set to 0. I was noticing exceptions being thrown in the production slot as a result, which means there could be some noticeable downtime in an

[2022-04-14 20:30] shimedh commented on #1614
I see. Could you please confirm the FunctionApp version you are on please? It's the 'FUNCTIONS_EXTENSION_VERSION' appSetting in configuration

[2022-04-14 23:13] drdamour commented on #1614
i have some with ~3 and some with ~4 and they both include the /api/ segment even though i have routePrefix: ""

[2022-04-15 07:51] Fuchio commented on #2194
The issue might have somehow fixed itself. I waited a day, deployed the exact same code snippet/project and now it works.

[2022-04-15 22:53] shimedh commented on #1614
Do you mind sending us network traces please for two scenarios - when you load App files in the portal and when you run your function from code+test?
You could use the below steps to collect the network trace:
- Start Fiddler or hit F12 on your browser
- Refresh browser (F5) - This will clear session caches
- Reproduce the issue
- Save SAZ file from Fiddler or if using browser, export network trac

[2022-04-17 03:03] balag0 commented on #2164
Please share the appname (and approx. timestamp )which experienced the failure when running
az functionapp deployment source config-zip -g $RESOURCE_GROUP -n $FUNCTION --src package.zip

https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately

[2022-04-17 17:20] andersson09 opened #2195 "Set user-generated log level for whole function app"
Hey,

It would be great to be able to set a user-generated log level for the whole function app rather than an individual function. It's tiresome to set it for every individual function.

Thanks

[2022-04-18 11:52] manish-rocks opened #2196 "Result: Failure Exception: OSError: [Errno 38] Function not implemented: Error"
### python function giving error in azure cloud but running locally fine

I have created 1 azure function(time trigger locally) and it was working fine. But when I deployed it on azure using Vs Code and ran then it was giving error like below which I was in monitoring tab in azure function:
2022-04-18 11:27:44.021
Result: Failure Exception: OSError: [Errno 38] Function not implemented: 'scraped_js

[2022-04-18 16:57] drdamour commented on #1614
@shimedh don't want to share all my auth that would be captured, and don't have the time to strip it all out.  Is there something specific i can look at for you?

[2022-04-18 18:36] grik001 opened #2197 "Constant Epoch errors"
Hi,

Are these errors normal when running an EventHub Function trigger? Would it be possible to downgrade these errors to info if it's normal and if they happen frequently? As they litter the AppInsights.

I have checked in the past and if I am not mistaken this is normal, but it has been years ago that I posted this question and it seems they are still there.

Error Message: 'New receiver 'P7-533

[2022-04-18 19:45] shimedh commented on #1614
Makes sense. Do you see the same behavior when you use vscode too or is it only when you use Portal? I will also look more on my end and let you know if any other info might help.

[2022-04-19 05:51] janitorr commented on #2023
Hello, I know this has been a bit quiet lately but this has recently gotten our application crash twice in production and we were able to fix it by redeploying.

What is the current recommendation to mitigate the issue, I was planning to inject the configs in the app in deploy time but are there other more recommended alternatives to this?

[2022-04-19 07:23] danielsegertun commented on #1614
Hi, sorry but i am not following. Is this from the azure support. I cant recall the first massage... but i think it was just that the URL in the portal is missleading. If tou go to the portal and just follow the url from there it was not correct. I will see if i can dig up the host.json for you during the day.
Please send the first message.

Hämta Outlook för Android<https://aka.ms/AAb9ysg>
______

[2022-04-19 15:48] v-bbalaiagar commented on #2194
Hi @Fuchio , let us know if this can be closed or you have further queries.

[2022-04-19 15:52] v-bbalaiagar commented on #2195
Hi @pragnagopa / @fabiocav , Can we consider this issue as a feature request.

[2022-04-19 15:57] v-bbalaiagar commented on #2193
Hi @rish501 , Here is a SO which addresses similar scenario and solutions to resolve it - https://stackoverflow.com/questions/43811731/unable-to-load-dll-e-sqlite3-the-specified-module-could-not-be-found/63713335#63713335
Related Information :
https://github.com/natemcmaster/DotNetCorePlugins/issues/84

Please check and let us know if this helps.

[2022-04-19 16:25] v-bbalaiagar commented on #2197
Hi @grik001 , Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2022-04-19 16:27] v-bbalaiagar commented on #2196
Hi @vrdmr , Could you please look into this issue.

[2022-04-19 17:03] shimedh commented on #1614
Thanks! Could you let me know the name of your functionApp please?

[2022-04-19 17:16] jackbatzner commented on #2118
I was able to confirm that there is noticeable downtime when doing this swap for the first time (Step 1 in sections listed above).

[2022-04-19 21:42] #837 closed

[2022-04-19 23:01] weber2up commented on #2193
I also have this problem on Mac. Adding **SQLitePCLRaw.bundle_e_sqlite3** doesn't help.

[2022-04-20 06:51] #2194 closed

[2022-04-20 12:45] challamzinniagroup commented on #1044
Apologies, I'm not sure if I understand what you are suggesting.

If you mean to avoid functions altogether and revert to the "old way" of doing things (.Net Core WebApis hosted as AppServices) - this is essentially the decision I have made in those instances where OData is required (which is almost every project). It's simply not practical to create a custom data fetching solution - this problem

[2022-04-20 13:22] antonGritsenko opened #2198 "Using of remoting with PowerShell SDK is not possible in .net6 Azure Functions"
Related to https://github.com/PowerShell/PowerShell/issues/14054

We do have simple Azure Function:
[code]

and corresponding code to call the PowerShell SDK:
[code]

This works locally, but as soon as it published to the Azure the error occurred:
[code]

[2022-04-20 14:14] Ycallaer opened #2199 "Allow azure function migration to new plan for linux OS"
Hi,

I currently have an azure function that is using a consumption plan. I wanted to upgrade to premium, so I started with creating a premium App Service Plan.
Next I wanted to update my Azure function using the CLI as follows

`az functionapp update --name my-azure-function --resource-group myresourcegroup --plan my-premium-plan-test`

However this is only supported for Windows machines it seems

[2022-04-20 15:17] david-nguyen commented on #1044
Right that's why I said it is not ideal but given that microsoft has not addressed the issue for 3 years it's a possible solution.

[2022-04-20 16:17] pragnagopa commented on #2171
Tagging @mathewc / @fabiocav   - incase they have context on the enforced limits

[2022-04-20 16:20] pragnagopa commented on #2195
You should be able to control default log levels across Function App - via host.json - https://docs.microsoft.com/en-us/azure/azure-functions/configure-monitoring?tabs=v2#configure-log-levels - let us know if this is not working as expected

[2022-04-20 16:24] andersson09 commented on #2195
I have the default loglevel set to a different user generated loglevel..

[2022-04-21 06:24] danielsegertun commented on #1614
So, if I press the get url button in azure portal I get this:

https://func-homesmart-nonprd-sam.azurewebsites.net/api/token

But since I have change the host.json file to use routerPrefix to “” the real url is:

https://func-homesmart-nonprd-sam.azurewebsites.net/token

This is the problem…

See images below..

Best regards,

Daniel

[Text  Description automatically generated][Graphical user inte

[2022-04-21 10:53] KestutisIzi1 opened #2200 "Azure Functions V3 proxy with parameter in domain"
Azure Functions V3.

When I register the proxy rule like this:
[code]
it throws 404. I suspect this happens because the parameter {value} is being used in domain part of the backendUri.
Is it possible to achieve this functionality?

[2022-04-22 08:45] PingPongSet commented on #394
Any update for auto-generation of OpenAPI JSON file from Azure func app as of 2021 now

[2022-04-22 16:24] shimedh commented on #1614
The behavior you mentioned of 'api' getting removed if you have routePrefix of '' in host.json file is expected behavior.

[2022-04-22 22:15] danielsegertun commented on #1614
Yes, I understand that.. however I don’t exspect the url that I get from the button to be wrong…

/Daniel

From: shimedh ***@***.***>
Date: Friday, 22 April 2022 at 18:24
To: Azure/Azure-Functions ***@***.***>
Cc: Daniel Segertun ***@***.***>, Mention ***@***.***>
Subject: Re: [Azure/Azure-Functions] [UX] - Custom routePrefix not respected in Portal Code + Test lead to 404s always (#1614)

So, if

[2022-04-24 08:45] andersson09 commented on #2195
@pragnagopa Does that make sense? Basically it is common behaviour to have default as warning but user generated as information.

[2022-04-26 01:00] scott-alvis commented on #1851
Why is this closed it still an open issue?

[2022-04-26 14:20] v-bbalaiagar commented on #2199
Hi @Ycallaer , Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2022-04-26 14:22] v-bbalaiagar commented on #2200
Hi @pragnagopa, Could you please look into this issue.

[2022-04-27 06:56] anandsowm commented on #1867
@v-anvari Even today, only the 4.7 version of the Nuget works with Azure function app. How to use the latest version of that Caching Nuget in my Function App ( .NET 6 and Function worker runtime 4.x) ?

[2022-04-27 11:30] Novak-Peter commented on #2049
We ran into problems with this, using Functions v4, dotnet-isolated; however, the only symptom was that the job host constantly restarted, there were **no errors nor warnings logged** anywhere (while the constant stop-start was logged properly) (this was true for multiple functions, separately).
The root cause was indeed the too long name, the issue was actually caused by the function and its **st

[2022-04-27 11:48] Froosh commented on #2118
Interesting. Presuming you have/had FUNCTIONS_EXTENSION_VERSION=~3 on the initial 'deployment' slot and 'production'?

I'll have to specifically re-test when I get a chance.

[2022-04-27 13:03] jackbatzner commented on #2118
Correct @Froosh . On the "initial" deploy both slots (_staging_ and _production_) had _FUNCTIONS_EXTENSION_VERSION_ set to _~3_.

@mattchenderson , @v-bbalaiagar , @anthonychu - can someone investigate this issue further? This is going to cause issues for customers if they want to migrate Functions from V3 to V4 in place with zero downtime.

[2022-04-27 13:52] bjoljo commented on #1882
When using a custom role with the permission "Microsoft.Web/sites/Write" monitor is not greyed-out.

The description for the permission says "Create a new Web App or update an existing one" which might not be  an acceptable level of permission for a user whos job is to "monitor" the function.

Have any one else found a permission that enables "monitor" with out giving the user some sort of contrib

[2022-04-27 15:10] mattchenderson commented on #2118
Apologies for missing the updates. Yes, we can get more captured on these fronts (I will be working on doc updates today) and see if there are other improvements that can be made to smooth over the process in general. CC @fabiocav

[2022-04-27 20:34] mattchenderson commented on #2118
Out of curiosity, was anyone here hitting issues with enabling .NET 6 for the app as part of this process? I didn't see that part mentioned, but the /config/web.netFrameworkVersion should be set to "v6.0" as well, I believe. That theoretically should just go with the change to `FUNCTIONS_EXTENSION_VERSION`, but I wanted to check if that's aligned with what folks are seeing here.

[2022-04-27 23:59] mattchenderson commented on #2118
Ok, so I poked around at this a bit further...

If both slots do not have `WEBSITE_OVERRIDE_STICKY_EXTENSION_VERSIONS=0`, the swap operation does indeed just delete `FUNCTIONS_EXTENSION_VERSION` from the source slot. I didn't ever see a host error with this. If the details of any errors could be provided, that would be extremely helpful. I was admittedly using simple or in some cases empty payload

[2022-04-28 14:51] rish501 commented on #2193
Hi
None of the solutions above work.
As mentioned, the SQLite libraries work fine on console / asp.net projects on Mac and Linux.
The problem seems to occur when running in the Azure Functions tools environment in Mac/Linux.

[2022-04-29 05:37] metu opened #2201 "Autoscaling breaks Key Vault reference"
I'm running into a strange, inconsistent issue where autoscaling seems to be corrupting the function app's access to Key Vault.

In some cases where the App Service Plan is automatically scaled out, none of my key vault references in my configurations are able to resolve. When I look at the reason, it says "Other Reasons".

Only fix I've found was having to delete the access policy for the functio

[2022-04-29 17:14] kulkarnisonia16 commented on #2047
Just to help with the V3 to V4 upgrade scenario, we plan to add Proxy support back to V4 in the next few months, but we won't be adding any new capabilities to it. Using APIM instead is still strongly recommended. I would like to better understand your concerns migrating to APIM so as to improve that experience. Please reach out to me at sokulkar@microsoft.com if you would like to chat.

[2022-05-02 10:05] mhgames commented on #1549
Imho most probably you try Environment.GetEnvironmentVariable("somevariable") somewhere and you don't have that "somevariable" in either local.settings.json when running locally, or in azure configuration when running in Azure. At least that's what was causing me this error.

[2022-05-03 12:51] ajkimberley commented on #1657
Has there been any progress on this? I'm getting the same error for multiple Functions each time I try to deploy. Note, it's a different set of functions that throw this error each time I deploy, with no apparent pattern to which ones will fail.

[2022-05-03 15:50] jwoodall commented on #1883
Even though the Azure documentation says that the Azure tools are installed by default in Visual Studio, I found the same issue as kan-nan-k I had to use the installer to install Azure development module

[2022-05-03 17:29] NicoleMyM commented on #1657
I could, in the previous comment I left my appsetting.
Do not define WEBSITE_RUN_FROM_PACKAGE

{
"name": "WEBSITE_RUN_FROM_PACKAGE", **_----> Remove that_**
"value": "1"
},

[2022-05-04 06:57] ajkimberley commented on #1657
Many thanks for the response. Unfortunately, that didn't make any difference for me.

I have noticed that for me, it only fails when I have > 15 functions defined in the Bicep file. Though when it errors  its indeterminate which functions that error occurs with. I.e., it's a different set of functions that fail to deploy each time I try. Very confusing.

[2022-05-04 07:49] ajkimberley opened #2203 "Bicep Deployment Causing InternalServerError (BadRequest)"
I have a bicep file (see attached) which I am using to deploy my Azure Function App, Azure Functions, and an Event Grid Topic and Subscriptions which have the Azure Functions as endpoints.

When I deploy this app, I get the following error message:

}\r\n }\r\n ],\r\n \"Innererror\": null\r\n}"},{"code":"BadRequest","message":"{\r\n \"Code\": \"BadRequest\",\r\n \"Message\": \"Encountered an error

[2022-05-04 09:00] vtermaat commented on #1657
Hm. I must have solved this at some point. A year ago.
I did NOT use Bicep by the way, so I guess that's unrelated.
Can you start with 1 and move up by 5 each time?
What is the error again?

[2022-05-04 14:28] ajkimberley commented on #1657
@vtermaat Thanks for the response and for the questions. Really appreciate it.

I tried compiling the Bicep to an ARM template and deploying that way, but that made no difference so I don't think it's related to it being a Bicep file.

By "starting with 1 and moving up by 5 each time" do you mean declaring each group of functions in separate Bicep files? Or is there some way in a Bicep file/ARM te

[2022-05-04 17:30] brad-lucas commented on #2148
@Ved2806 @mattchenderson any findings you can share with me yet?

[2022-05-05 04:21] MhAllan commented on #2187
@Ved2806 yeah that solves my problems, But we still have the consumption plan very far from being practical as cosmos db is the favourite database for microservices in Azure and usually database should be restricted access by IP filtering and private networks which consumption plan is not able to satisfy.

[2022-05-05 06:16] kevmaitland commented on #1285
This happens with Azure Automation accounts that have no Roles assigned too. Assigning a Role resolves the issue.

[2022-05-05 07:10] vtermaat commented on #1657
Is this the only deployment error that shows up in the activity log?

![image](https://user-images.githubusercontent.com/17066490/166876977-d51bb716-fc15-4c81-adb7-145a4f3acb86.png)

[2022-05-05 08:27] ajkimberley commented on #1657
@vtermaat Ah apologies, I was looking at the Deployments page instead of the Activity log. The activity log gives me a bit more detail. I attempted a redeploy earlier and here are some screenshots (from top-to-bottom) of the activity log for that redeployment:

![Capture1](https://user-images.githubusercontent.com/22314190/166886360-a9d4bf0c-78c0-4cbd-8609-e890ddcfb11a.PNG)
![Capture2](https://use

[2022-05-05 08:32] ajkimberley commented on #1657
I don't know if this is some odd implementation detail or part of the bug, but it looks like each step is actually being duplicated. E.g., Create Deployment is listed twice, each Update Web App Function is listed twice.

[2022-05-05 10:55] winiarski91 opened #2205 "Disabled Service Bus triggered Azure Function is still executed"
According to [docs](https://docs.microsoft.com/en-us/azure/azure-functions/disable-function) it should be possible to disable function via Disable attribute. Unfortunately it does not work with Service Bus triggered function. Function seems to be disabled according to Azure Portal UI, but it is still executed when message appears on ASB subscription.

I tried various combinations:
- using [Disable

[2022-05-05 11:25] vtermaat commented on #1657
I personally can't go into this right now, maybe someone else can, but this log and it's errors should give you a grasp of what's going on.

[2022-05-05 11:45] ajkimberley commented on #1657
@vtermaat no problem. Thanks for the pointers.

[2022-05-05 12:05] lukasz-zoglowek commented on #2140
@v-bbalaiagar @pragnagopa Do you have any update on this issue? We also run into that problem when trying to upgrade to premium plan.

[2022-05-05 20:01] lindaxu commented on #1444
Hi, @Ashley-alex , have you finally figured out whether blob trigger function could run on Kubernetes or not? I am looking for the similar solution also.  Thanks!

[2022-05-05 20:32] pragnagopa commented on #715
Fix has been made in the Extension for Runtime Driven Scaling  and in Scale Controller. Closing as addressed.

[2022-05-05 20:32] #715 closed

[2022-05-05 22:33] jberry777 commented on #2105
Hello, I wasn't able to find any documentation regarding how to setup a timer trigger for a custom handler and if I could have both a timer trigger and an HTTP trigger inside the same custom handler.
Is there documentation for using a timer trigger in a Golang custom handler?
The links provided in this thread so far are about HTTP triggers and the other trigger described on the Github is a storage

[2022-05-06 08:14] tokidoki11 commented on #1882
can you help us by giving what permission really needed at minimum to read the log only?
thus we can create custom role for this one at least for the time being

@ehamai

[2022-05-06 13:50] o-l-a-v commented on #646
For visibility it's probably a good idea to add votes to the new Azure Feedback page as well.

* https://feedback.azure.com/d365community/idea/d647e855-f224-ec11-b6e6-000d3a4f0da0

[2022-05-07 23:10] MarcGiannuzzi opened #2206 "Important delay between invocation post and function execution"
**Stack: Python 3.7
Runtime: 4.0
Service Plan: B3:3**

Hi,

I am encountering an issue with an HTTP triggered function.

Azure log appearing at time T (just after log telling that "Request successfully matched the route..."):
**_Verbose log at time T is: Posting invocation id:xyz... on workerId:zyx..._**

Personal python function log (first line of the function when triggered) appears in the logs

[2022-05-08 10:52] SogoGolf commented on #2125
I just got this same error also ; Microsoft Visual Studio Community 2022 (64-bit) - Current
Version 17.1.6

[2022-05-09 12:31] Ved2806 commented on #2203
Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2022-05-09 19:35] ggailey777 commented on #1987
@paulbatum: FYI, I've retargeted your aka.ms link to [this new section in the versioning article](https://docs.microsoft.com/azure/azure-functions/functions-versions?pivots=programming-language-javascript#minimum-extension-versions).

[2022-05-10 11:34] AdaTheDev opened #2207 "Deploying Azure Function to Linux plan from VS2022 fails with "unexpected character" JsonReaderException"
### Summary:
I have a number of Azure Functions (V3, .NET 3.1) that I've previously deployed via VS2022 with no issues, to Linux consumption plan.
They've all now started failing to publish with the same error (full stack trace further down in repro steps):
`Newtonsoft.Json.JsonReaderException: Unexpected character encountered while parsing value: {. Path 'build_summary', line 1, position 489`

##

[2022-05-10 15:02] Ved2806 commented on #2205
Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2022-05-10 16:27] mswilson4040 opened #2208 "Azure Functions v4 - Can't bind Queue to type 'Microsoft.WindowsAzure.Storage.Queue.CloudQueue'"
I am trying to upgrade my current v3/dotnet 3.1 function to v4/.net 6. However, when I follow the instructions [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-versions?tabs=in-process%2Cazure-cli%2Cv4&pivots=programming-language-csharp#migrating-from-3x-to-4x), I am met with dependency issues. I believe the issue is partly because Microsoft.NET.Sdk.Functions has a dependenc

[2022-05-11 00:26] aberguesb commented on #2207
Hello, we have the same issue, and now our project stopped working as well. Any help is much appreciated.

[2022-05-11 07:51] JoachimL commented on #2208
I, too, am experiencing this. Are there any known workarounds?

[2022-05-11 08:51] smavrikis commented on #2207
As well here, please fix it.

[2022-05-11 09:23] tk04it36 commented on #2207
Same issue here. Linux plan and unable to deploy with below error:
Unexpected character encountered while parsing value: {. Path '[0].build_summary', line 1, position 645.

[2022-05-11 09:38] RDavis3000 commented on #1657
Same issue here! Heres a snippet from the Activity log.
Bad Gateway on the function app?

    "correlationId": "6260ce8a-1af5-4b91-8d7a-9762026ac538",
    "description": "",
    "eventDataId": "fa494796-c37f-456f-b5a5-ceba673a3e1d",
    "eventName": {
        "value": "EndRequest",
        "localizedValue": "End request"
    },
    "category": {
        "value": "Administrative",
        "localize

[2022-05-11 10:56] VaclavK opened #2209 "Fn V4 - service bus trigger - identity based connection - corporate proxy - local dev experience"
We are looking into switching over to use (user) identity when connecting to service bus namespace - as part of this exercise we are also investigating local development experience

looking at https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference?tabs=blob#local-development-with-identity-based-connections, we see that az cli option is supported - we already use it for other cl

[2022-05-11 12:17] daviden83 commented on #2207
I'm having exactly the same problem.

[2022-05-11 17:14] IdeaHunter commented on #2207
Same goes for DOTNET|6.0 linux function

[2022-05-11 17:30] dg-jolsan commented on #2207
I'm also having an issue deploying. .NET 6.0 azure function v4.

`2>System.AggregateException: One or more errors occurred. ---> Newtonsoft.Json.JsonReaderException: Unexpected character encountered while parsing value: {. Path 'build_summary', line 1, position 505.
2>   at Newtonsoft.Json.JsonTextReader.ReadStringValue(ReadType readType)
2>   at Newtonsoft.Json.JsonTextReader.ReadAsString()
2>

[2022-05-11 20:33] aberguesb commented on #2207
Is there any update on this? Still Same issue, hours spent on the internet, no possible solution so far. Other than updating the linux server for a windows one :) what is crazy. Thoughts

[2022-05-11 20:52] rdorris commented on #2207
I was able to deploy using VS Code.

[2022-05-12 01:07] diglesiasus commented on #2207
my project Net Core 3.1 can publish on windows but on Linux it gives the following error:

(LINUX)
2>The "ZipDeployTask" task failed unexpectedly.
2>System.AggregateException: One or more errors occurred. ---> Newtonsoft.Json.JsonReaderException: Unexpected character encountered while parsing value: {. Path 'build_summary', line 1, position 481.
2>   at Newtonsoft.Json.JsonTextReader.ReadStringVal

[2022-05-12 01:59] lucasmaj commented on #2207
same issue here, publishing even a template azure function project produces this error

[2022-05-12 05:46] EnriB commented on #2207
The only solution I found was publishing with VS code interface

On Thu, 12 May 2022, 04:00 lucasmaj, ***@***.***> wrote:

[2022-05-12 10:06] symology commented on #2207
Same problem, dotnet 6.0, Visual Studio 2022 17.2.0, publishing to Linux.

2>System.AggregateException: One or more errors occurred. ---> Newtonsoft.Json.JsonReaderException: Unexpected character encountered while parsing value: {. Path 'build_summary', line 1, position 486.
2>   at Newtonsoft.Json.JsonTextReader.ReadStringValue(ReadType readType)
2>   at Newtonsoft.Json.JsonTextReader.ReadAsStrin

[2022-05-12 14:26] JoeTomkinson commented on #2207
Can confirm currently this seems to be the best solution. It looks like the `ZipDeployTask` class when reading the zip name, may currently have an issue parsing fullstops in the solution name. Just a hunch really, not sure if anyone else is using fullstops in their solution name.

[2022-05-12 15:06] AdaTheDev commented on #2207
Seems to affect whether you have full stops in the solution name or not.

My original real-world scenario, does has fullstops in the solution names.
My repro above, I did without fullstops in the name.

[2022-05-12 17:34] jawinnerjr commented on #2166
Any resolution on this.  Using VS 2022 MAC RC2 om M1. Worked fine until Microsoft.Azure.Webjobs.Extensions.EventHubs updated to 5.1.0.  Rolling back however does not resolve the issue. This is specifically an issue with the event hub trigger in Azure functions ~4 / .NET 6.

[2022-05-12T17:32:08.551Z] Microsoft.Azure.WebJobs.Host: Error indexing method '<FunctionName>'. Microsoft.Azure.WebJobs.Host

[2022-05-12 19:05] kimjamia commented on #2207
I'm seeing the same issue with a very basic HTTP-triggered .NET 6 Function App when deploying from VS 2022 v17.1.6 to Linux plan.

SCM (https://<sitename>.scm.azurewebsites.net/api/deployments) shows the following. Note the "build_summary" property:
[code]

The log from `log_url` has the following interesting items (others redacted):
[code]
In the Oryx `details_url` log, you can find the following

[2022-05-13 02:46] catmanjan commented on #622
This is still an issue in 2022

[2022-05-13 05:30] vijetak commented on #1272
how to fix this issue?

[2022-05-13 05:36] PeddeF commented on #2207
Can't confirm that the problem only occurs with a full stop in the path.
I moved my solution to "C:\Temp" and got the same error

[code]

[2022-05-13 06:57] MhAllan opened #2210 "RetryPolicy - how does it work?"
I believe retry policy information and function executions count and status are all save in storage account, but there is no docs confirm that. Also we need to know how to access the number of retries executed in the SDKs and how to purge these retries information wherever they are stored.

[2022-05-13 10:01] Ved2806 commented on #2203
Hi @ajkimberley The failure in this case is in publication of the pipeline. Please refer this [documentation](https://docs.microsoft.com/en-us/azure/data-factory/tutorial-control-flow-portal) and let us know if it is helpful.

[2022-05-13 12:47] SirSavio commented on #2168
Any news on this?

[2022-05-13 14:13] Pivomer opened #2211 "Azure functions v4 net 6 on Linux"
I have developed an Azure Function `v4` with `.net 6.0.` It contains one triggered function.
![image](https://user-images.githubusercontent.com/4147698/168301973-90ca0b00-760e-4a05-beba-c18a6a90fea1.png)

Locally everything works fine. After deploying it to Azure it works fine for all plans with `Windows OS` but it doesn't work for plans: `Premium(EP1)` and `App Service Plan(P1V2)` (except `Consum

[2022-05-13 18:05] Tonewall commented on #2207
The issue seems to be with Linux Consumption's KuduLite and a fix is currently being worked on. In the meantime, you can use Visual Studio Code, Azure Functions Core Tools, Azure DevOps, or GitHub Actions to deploy your apps. Visual Studio 2022 should have an option to create a GitHub Action and commit it.

[2022-05-13 22:06] brandenlivermore commented on #2168
I am also experiencing a similar issue with .NET 6 functions on the consumption plan. My function app was working great for over 20 days after deployment and then one day stopped running. It logged the `No job functions found` for a while and then stopped.

Restarting the function app fixed the issue for about 8 hours until it happened again. About an hour ago I redeployed to the function and it's

[2022-05-14 18:40] andersson09 commented on #2195
How's this looking? :)

[2022-05-16 02:16] sayago69 commented on #2168
One more case here: deploying an Azure function using containers and getting that annoying `No job functions found` message.

After lots of reading and investigating, I think I've narrowed the problem down to the creation of the container. If I build my container locally using `docker build` and then I run it using `docker run` I get the same error message and my function is not working:

![image]

[2022-05-17 11:46] Ved2806 commented on #2207
Hi @pragnagopa Could you please help with redirecting it to correct person?

[2022-05-17 11:53] tk04it36 commented on #2207
Upgraded azure-functions-core-tools-4 to v4.0.4483 on the build agent today and it resolved the problem for me.

[2022-05-17 13:05] Ved2806 commented on #2211
Hi @Pivomer Thank you for the feedback, we will discuss this internally and let you know about the findings soon!

[2022-05-17 13:07] Ved2806 commented on #2206
Hi @MarcGiannuzzi Thanks for the update, we will discuss this issue internally and let you know about the findings soon

[2022-05-17 13:11] Ved2806 commented on #2198
Hi @antonGritsenko Thank you for the update, we will discuss this internally and let you know about the findings soon! Thanks.

[2022-05-18 04:04] MhAllan commented on #2122
Hi @AnatoliB, sorry to reach you again here but the documentation is really not helping. so according to this discussion here and according to this documentation [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-error-pages?tabs=csharp#retry-policy-options).

So if retry policy information is stored in memory, does that mean if I have 1 week delay for retry, my funct

[2022-05-18 10:44] pirocorp commented on #2207
Same issue, and I get an Invalid URI: The URI scheme is not valid if using ```func azure functionapp publish```. But both workarounds work fine.

[code]

[2022-05-18 14:24] YanBrunet opened #2217 "Azure function v4 with .net6 Model binding Issue with custom object"
I am trying to deploy an HttpTrigger Azure Function, using dotnet 6.0.

I use the default model binder to get an object from the request body, as json.

It runs as intended in local environment, but once deployed, the model binding is failing.

There is no error, just an empty object.
The code runs normally, but the object fails validation as every fields are empty (not binded).

I use the exact s

[2022-05-18 15:34] YanBrunet commented on #2217
Manipulation and versionning issue.
Deployed code was using an outdated dependancy.

[2022-05-18 15:34] #2217 closed

[2022-05-18 19:11] Srini-max commented on #2207
2>FunctionApp -> C:\Users\srinivas.j\source\repos\FunctionApp\bin\Release\netcoreapp3.1\FunctionApp.dll
2>FunctionApp -> C:\Users\srinivas.j\source\repos\FunctionApp\obj\Release\netcoreapp3.1\PubTmp\Out\
2>Publishing C:\Users\srinivas.j\source\repos\FunctionApp\obj\Release\netcoreapp3.1\PubTmp\FunctionApp - 20220518230557.zip to https://a159.scm.azurewebsites.net/api/zipdeploy...
2>The "ZipDeployT

[2022-05-18 20:47] MatheusDevMobile commented on #2207
I'm having exactly the same problem to publish.

[2022-05-18 22:05] microsoft-github-policy-service[bot] opened #2219 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-05-19 17:37] AnatoliB commented on #2122
@MhAllan Retry delay duration is limited, I doubt you can specify 1 week. If you need to pause for this long, consider using Durable Functions (e.g. https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-overview?tabs=csharp#monitoring).

@alrod Do we have an explicit limit on the delay duration, or on the total execution time including retries? Is it documented anywhere?

[2022-05-20 18:09] reubano commented on #717
If you are working with Azure Blob Storage, be sure your `connection` value ends with `_STORAGE`. This is the only way I got mine to work.

`function.json`

[code]

`local.settings.json`
[code]

[2022-05-21 11:34] JeroenvdBurg commented on #2047
@kulkarnisonia16 great to hear that proxy support is coming back to V4.  Hereby some use cases which are not support with APIM.

1. We use azure function proxy to create redirects from non www (root) to www domains.  APIM and frontdoor are not working for this because they don't have an IP adress to which the A record in the DNS can point.  With custom domain and managed SSL certificate on azure f

[2022-05-22 23:15] MhAllan commented on #2122
@AnatoliB I am asking because I want to replace durable functions with RetryPolicies If I can do that =)

[2022-05-23 04:06] aiden-liu commented on #2165
I also see no way of solving this issue locally, however if turning head to API Management (as official recommend) for alternative, can set redirect policy for operation(s), say index, acting like proxy.
`  <policies>
      <inbound>
          <base />
          <rewrite-uri template="/assets/index.html" />
      </inbound>
      <backend>
          <base />
      </backend>
      <outbound>

[2022-05-23 06:18] AnatoliB commented on #2122
@MhAllan That was unexpected. :-) If you want to wait longer than 5-10 minutes between retries, durable functions is a much more robust solution. As you already know, retries with the Retry Policy feature will work only if the host process is still around: we will not keep it around for days just for the purposes of retrying, and we will not spawn another one just for the purposes of retrying.

[2022-05-23 15:23] Ved2806 commented on #2205
Hi @winiarski91 The [Disabled] attribute is not supported in dotnet isolated. The best way to disable it is through the app settings. Please refer [this document](https://docs.microsoft.com/en-us/azure/azure-functions/disable-function?tabs=portal) and let us know if it helps. Thanks.

[2022-05-23 16:17] Pivomer commented on #2211
Hi, @Ved2806 I have a function "azfun-scm-ecosystem-indexer-dev
" and I tried to upgrade it. But after getting an error I returned to .net 5 and started an experiment on the test function "func-prem-d1-lnx", please check.

[2022-05-23 18:26] winiarski91 commented on #2205
Thank you for clarification!

[2022-05-23 18:26] #2205 closed

[2022-05-24 13:19] DominikErnst commented on #2075
There are 3 different declarations in a Blazor Server App:

- In appsettings.json: "ApplicationInsights": {  "ConnectionString": " ... (From Template ?? appsetting.json in Blazor Server)
- APPINSIGHTS_CONNECTIONSTRING  (From Template?? wwwroot/appsetting.json in Blazor Client)
- APPLICATIONINSIGHTS_CONNECTION_STRING (From Service Dependency in Blazor Server)

[2022-05-24 16:30] mattchenderson commented on #2148
Unfortunately, I don't think there's a clean solution here. I've seen some folks use run-from-package to point to versioned zip artifacts on their blob storage, but that doesn't really address the _client_ working with this. APIM might help for HTTP workloads, but you'll still need the mapping to work with that backing artifact somehow - possibly just another app instance, though that's management

[2022-05-25 00:32] MhAllan commented on #2122
@AnatoliB  yeah you are right, except my use case looks cleaner without managing orchestrators and sub-orchestrators

[2022-05-25 10:20] wkoeter commented on #2166
I'm also seeing this warning when [TimerTrigger] on .NET 6 with dotnet-isolated.

[code]

Seems to me like the Core is trying to do a CreateIfNotExists somewhere internally or something because TimerTrigger functions using blob storage, and that is shown in our logs.

The timers run fine by the way.

[2022-05-26 17:57] Spirch opened #2223 "cannot easily use the newer HttpClientJsonExtensions Class"
create new **azure function** from visual studio 2022, default template
add **using System.Net.Http;**
create a new http client,
call **httpClient.PostAsJsonAsync**

by default it will use the extension from **System.Net.Http.HttpClientExtensions** from assembly **System.Net.Http.Formating**, dependency coming from **Microsoft.NET.Sdk.Functions** --> **Microsoft.Azure.WebJobs.Extentions.Http** -->

[2022-05-27 02:07] Ved2806 commented on #2223
Hi @Spirch Thank you for the feedback, We will check this issue internally and let you know about the findings soon. Thanks.

[2022-05-27 02:19] Ved2806 commented on #2178
Hi @fabiocav Could you please help with this issue?

[2022-05-27 16:25] Ved2806 commented on #2210
Here is the [documentation](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-error-pages?tabs=csharp) which contains storage information and you can find information related to the no of retries [here](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.functions.worker.retrycontext?view=azure-dotnet). Hope you find it helpful, please let us know. Thanks

[2022-05-28 10:51] jacob7395 commented on #2211
FYI I have had the same issue, when deploying to a .net 6 azure function. It works when I use Y1 but not on B1.

I received the following error when deploying from vs code.

[code]

Here is the terraform I used to deploy a failing recourse (a bit hacky but where still developing).

[code]

[2022-05-30 13:58] kirodge opened #2224 "Missing text resource 'ibizafication_ReadOnlyDotnetIsolated' in Azure Portal"
1. Create an isolated process function.
2. Go to "Code + Test" in the portal
3. The message "ibizafication_ReadonlyDotnetIsolated" is shown
![image](https://user-images.githubusercontent.com/17931520/170993400-ce159924-0070-47fa-a4b8-22e60e08c9a4.png)

[2022-05-31 06:12] AshutoshNirkhe commented on #1882
I thought only I was going crazy while trying to grant our SRE with Monitor Read only access to know that it didn't work for him. But looks like its a real issue.
Is granting "Microsoft.Web/sites/Write" (which at least looks better than Contributor access) the only workaround for now ?

[2022-05-31 06:46] tokidoki11 commented on #1882
Nah, tried giving the sites write plus the monitor reader, it doesn't work

It needs something.
Havent contacted the support yet

[2022-05-31 06:48] AshutoshNirkhe commented on #1882
Oh ok, thanks for the update!

[2022-05-31 15:24] Ved2806 commented on #2203
Hi @ajkimberley Is this issue resolved?

[2022-05-31 15:27] Ved2806 commented on #2148
Hi @brad-lucas Please let us know, does this helps? Is this issue resolved?

[2022-05-31 17:08] seerj30 opened #2225 "Linux hosted functions stopped working"
From today (31-05-2022) all my Linux Azure Functions stopped working.

In the portal, under `Functions`, the following error is displayed: "Azure Functions runtime is unreachable".
Every function has its own storage account and does not have any firewall setting.

No errors are displayed in the Azure status portal but seem to be something wrong on your side because I tried the following:
- I've cr

[2022-05-31 17:50] pascostefan commented on #2225
We are facing the same issue, Linux functions not working since around 11 AM UTC, Windows functions working. West Europe.

[2022-05-31 19:12] jan-source commented on #2225
same here for linux functions. For new created linux function app, function code cannot not be successfully published with `func azure functionapp publish`.
Response status: `response status code does not indicate success: 503 (Site Unavailable)`. All runtimes are python 3.9.
SKU in service plan is Y1.

[2022-05-31 19:49] frol25 commented on #2225
Same issue for me. Running .NET 6 Azure Function on Linux in West Europe.

[2022-06-01 00:27] JasonKleban commented on #2165
@anthonychu?

[2022-06-01 00:31] UltraGC commented on #1882
I am running into this situation as well.  It appears we need to grant write access to app in order to view the function app's monitor info.  This, to me, is a bad workaround.  For my need, I only want to grant our monitoring team read access.  Granting them write access is not an option.

[2022-06-01 06:32] Ved2806 commented on #2208
Hi @JoachimL Thank you for the feedback, we will discuss this internally and let you know about the findings soon!

[2022-06-01 11:26] seerj30 commented on #2225
Started to work today morning

[2022-06-01 11:27] #2225 closed

[2022-06-02 06:42] haorzhan opened #2226 "Azure Function EventHub Trigger receiving request but some requests don't trigger the function"
My Azure function is receiving messages from EventHub as I can see in App Insights from the request count. However, not all requests are triggering the function. One weird thing though, while I am running my tasks synchronously, each request is fulfilled. When I run the tasks in the async method and use await Task.WhenAll(), some requests are not fulfilled. When I check the App Insights through op

[2022-06-02 11:24] Spaceman1861 opened #2227 "Dotnet Post Build Event Breaks Build"
I think this falls under " issues with the Functions Visual Studio tooling" but if I'm wrong apologies please redirect me :).

I am trying to generate an open api json spec for my function app html endpoints after every build.

It works if I:

1. Remove the PostBuildCustom
2. Build the app
3. Run the script manually

It doesnt work if I:

1. Add the PostBuildCustom
2. Build the app (This throws th

[2022-06-02 12:27] probertdaniel commented on #1657
I have this same issue (June 2022) - I'm in the same scenario as OP, ARM Template deploying a Function App Service. There are no functions deployed (they get deployed after this ARM Deployment). Using DevOps for deployment. I'm not explicitly doing anything with Function Keys in the ARM template. If I run the deployment again and again, it eventually succeeds, i.e. this is an intermittent error.
A

[2022-06-02 12:48] Pivomer commented on #2211
Hi, @Ved2806 Do you have any updates?

[2022-06-02 19:59] haorzhan commented on #2226
`[Function("function1")]
        public static void Run([EventHubTrigger("eventhub", Connection = "connectionstring", ConsumerGroup = "consumergroup")] string[] input, FunctionContext context)
        {
            var logger = context.GetLogger("trigger");
            logger.LogInformation("Get {0} requests {1}", input.Length.ToString(), context.InvocationId);

            List<Task<double>> task

[2022-06-02 20:18] kshyju commented on #2211
@jacob7395 Is your function app in-proc or isolated?

[2022-06-03 08:29] jacob7395 commented on #2211
@kshyju I believe It failed when I used a B1 instance.

[2022-06-04 11:31] bas001 opened #2229 "Setting "maxConcurrentRequests" on http trigger for python function leads to error"
We're using Python 3.9 Azure Functions with http-trigger in a premium plan and maximum burst set to 10.

This is the host.json file
`{
  "version": "2.0",
  "logging": {
    "applicationInsights": {
      "samplingSettings": {
        "isEnabled": true,
        "excludedTypes": "Request"
      }
    }
  },
  "extensionBundle": {
    "id": "Microsoft.Azure.Functions.ExtensionBundle",
    "version":

[2022-06-04 19:40] abhinav-jain09 commented on #1987
This solution does not work for me . I am using java

[2022-06-06 05:32] anthonychu commented on #2165
For serving static files, better options would be either hosting them in blob storage or using Azure Static Web Apps.

@kulkarnisonia16

[2022-06-06 12:08] JasonKleban commented on #2165
Better for whom?

For this application, some assets are dynamic, at least in the sense of a custom security check.

[2022-06-06 16:45] Pivomer commented on #2211
Hi, @Ved2806. Did you have a chance to check the issue with the Azure Function? The issue in our prod env.

[2022-06-07 17:44] bas001 commented on #2229
As a workaround the `maxOutstandingRequests` attribute must match the `maxConcurrentRequests`

[2022-06-08 05:23] Ved2806 commented on #2226
Hi @haorzhan Please try to pass a list of requests as a parameter to the await Task.WhenAll() method. Let us know if that helps.

[2022-06-08 06:11] Ved2806 commented on #2227
Hi @Spaceman1861 Try downgrading the version of Microsoft.Extensions.Logging.Abstractions to 2.2.0. let us know if it helps

[2022-06-08 10:41] Ved2806 commented on #2229
Hi @vrdmr could you please help with this issue?

[2022-06-08 18:18] jwinkler2083233 commented on #717
Hi all,

I'm hoping this gets close to someone who knows, and would like a challenge.  Here's an error when I try to debug locally:

I'm unable to debug an Azure Function - Azure.Mesaging.ServiceBus: The connection string could not be parsed

However, there IS NO CONNECTION STRING.  I'm using topics, and managed identities.  The same codebase was working 2 weeks ago (debuggable), so it could be a

[2022-06-10 15:05] nzthiago commented on #717
Hi @jwinkler2083233 - could be an issue with the config - it'd be great if you could create an issue on the [Service Bus extension](https://github.com/Azure/azure-functions-servicebus-extension) repo and share your configuration (app settings with secrets removed/function declaration) for the team to help figure it out.

[2022-06-10 21:51] potluri96 opened #2230 "Unable to install Graph.API module in Azure Functions"
@{
    # For latest supported version, go to 'https://www.powershellgallery.com/packages/Az'.
    # To use the Az module in your function app, please uncomment the line below.
    # 'Az' = '8.*'
    'Microsoft.Graph' = '1.*'
    'PnP.PowerShell' = '1.*'
}

2022-06-10T21:47:16.874 [Warning] The first managed dependency download is in progress, function execution will continue when it's done. Depend

[2022-06-13 15:13] jacob7395 commented on #2211
Are people still having issues with this, I'm away from work so haven't been able to test?

[2022-06-13 21:35] JasonKleban commented on #2165
"Update your Azure Functions apps to use runtime version 4.x before 3 December 2022"

This issue is a blocker for Functions v4 adoption.

[2022-06-14 13:33] Krucial92 opened #2231 "High storage costs from an idle application with app insights disabled"
I've started noticing huge storage costs ($100 per month) from a function apps storage account of mine which is practically dormant. I've actually been battling with this issue for the past 6 weeks, reading every related thread on the internet I could find, however I still can not find the source of what's causing such a large number of operations on the function apps storage account.

What I've l

[2022-06-14 20:12] rasert commented on #2015
I found out that the reason my function was failing in Azure is that the AzureFunctionsVersion in my project was 4 but in Azure it was v3. So I downgraded my function from net6.0 to netcoreapp3.1 and AzureFunctionsVersion v3.

[2022-06-15 04:52] ChuckJonas commented on #1240
even just being able to drop all the functions in a subfolder 1 level deep would make a big difference.  That way at least you have single folder containing ONLY functions.

[code]

Right now, I have function folders sandwiching lib and root level configuration files, which seems really disorganized.

[2022-06-15 11:00] bas001 opened #2232 "Function startup error: "Access to the path '/home/site/wwwroot' is denied. Permission denied""
We're using Java (Spring-Boot) functions in Premium-Plan. After triggering the function with http we occasionally see following error before entering the function code

`
Access to the path '/home/site/wwwroot' is denied. Permission denied
A host error has occurred during startup operation '9a0b8cf7-a7e0-4745-b43b-bbb0f7e78c3a'.
`

Call Stack
`System.UnauthorizedAccessException:
   at System.IO.Fi

[2022-06-15 17:49] kimjamia commented on #2047
We use them for delivering SPA app files from Blob Storage. They're needed to add security headers such as Content-Security Policy. At least the old Azure CDN couldn't do that because the rule system is [very inflexible](https://github.com/MicrosoftDocs/azure-docs/issues/71035).

[2022-06-16 03:12] shibayan commented on #2047
Two alternatives to Azure Functions Proxies have been developed. I hope they will be of help to others in the same situation as me.

https://github.com/shibayan/azure-functions-http-api
https://github.com/shibayan/AppServiceProxy.SiteExtension

[2022-06-16 17:42] #2219 closed

[2022-06-18 04:46] michaeldaw commented on #2166
No doubt a manifestation of this issue,  which hasn't been fixed for 10 years 😖
[Container.CreateIfNotExist throws exception if container exists](https://github.com/Azure/azure-sdk-for-net/issues/109#issuecomment-1118217363)

If anyone gets assigned to this (and I hope someone does), make sure to check if the container exists before trying to create it. CreateIfNotExist throws an exception if the

[2022-06-18 22:28] bryanknox commented on #771
Oh man. Patience is a virtue. In the meantime, . . .
Here's the link to some of the related feedback.azure.com ideas (do we still call it user voice?):
- [ gRpc support in Azure App Service](https://feedback.azure.com/d365community/idea/108a4c91-c825-ec11-b6e6-000d3a4f0f1c).
- [Support gRPC in azure function as trigger ](https://feedback.azure.com/d365community/idea/865dd440-f324-ec11-b6e6-000d3a4

[2022-06-18 22:44] bryanknox commented on #771
Support for short lived gRPC request/response scenarios would be good enough for the use cases where I see gRPC being a good fit for use with Azure Functions. Streaming seems like a different can of worms. Maybe best fit for some new kind of Azure Function, if any.

[2022-06-19 13:23] morozenkomv opened #2233 "Property name converted to lowercase"
Function App name: nt-prro-manager
Tools used: VS Code
New V4 app or existing V3 app migrated to V4: new V4

Property name converted to lowercase. It happens when pass the object to response.

[code]
![image](https://user-images.githubusercontent.com/17346853/174483132-e24b0322-1d41-4f40-9305-589dbe5ae271.png)

[2022-06-19 17:11] kshyju commented on #2233
It is not lowercase, but camel**C**ase. It is by design.

[2022-06-19 19:27] warpdriv commented on #1595
Just started with me too. VS 2022 (community), trying to publish a v4 function. I used the profile from the portal. No luck.

[2022-06-19 20:49] crookm commented on #771
I agree with @bryanknox that even partial support of gRPC would be awesome - though maybe a bit confusing for developers, I can imagine the sheer number of warning boxes on the docs page explaining the caveats, haha.

Personally, I like gRPC because of the rich tooling associated with it by default in .NET. Things like the automatic clients generated from the protos are excellent, and massively ea

[2022-06-20 12:36] mikegoatly commented on #2208
@Ved2806 Same issue here - keen to know if there has been any outcome from your discussions!

[2022-06-21 14:26] wernerchao commented on #1239
Hi, I am experiencing the same issue. My function has run seamlessly until very recently that I start to get transient 502 error. And upon restarting the app it would then work fine again for some time, then the error would come back again later. This keeps repeating.
* Here is my function detail
[code]

* Here is the transient error I got
[code]
Please provide some work around, maybe switching re

[2022-06-22 12:10] JasonKleban commented on #2165
There is still no migration guide that I can find.  How can this proxies.json wildcard path prefix redirect be expressed in api_management_api_operation & operation policy?

[code]

this seems to me to need some kind of support like:

[code]

but I cannot find documentation or examples on a wildcard _method_ nor a `{*restOfPath}` concept on _url_template_.  I cannot find relevant documentation on

[2022-06-22 14:11] baybal commented on #1277
It's 2022, and we are leaving Azure functions for AWS

[2022-06-23 13:02] jikuja commented on #2173
I'm getting same exception with linux/python-based function apps.

Looks like it is probably caused by the runtime or extension bundle:

config of mine.
[code]

Trying updating the extension bundle soon.

[2022-06-23 16:25] brad-lucas commented on #2148
Thanks, @mattchenderson, for the reply.

I don't know that I'd consider the issue resolved, @Ved2806: if anything, I think this is a feature request.

I think this problem would become at least somewhat manageable if consumption plan could leverage deployment slots, with the function app owner needing to maintain the N slots' mappings to their appropriate code package: is there any technical reaso

[2022-06-24 05:35] dcbrown16 opened #2235 "External DLLs in local development"
Hi everyone,

We are assisting a customer who is trying to refer to an external DLL in Durable Function on C#.

Following these public posts, we recommended that they try manually creating a bin folder under home/site/wwwroot
https://www.sharepointpals.com/post/how-to-refer-custom-dll-or-assemblies-in-azure-function/
https://stackoverflow.com/questions/36559509/how-do-i-use-external-assemblies-wit

[2022-06-25 00:27] kbalakumar1 opened #2236 "Exponential Backoff Retry Timer Trigger - Timeout exception"
For the timer trigger function, we have implemented exponential backoff retry with max retry count = 3, minimum interval = 1 min and maximum interval = 5  mins. But, we are getting the below timeout exception:

Exception while executing function: **Timer Trigger function name** The delegate executed asynchronously through TimeoutPolicy did not complete within the timeout. The operation was cancele

[2022-06-26 21:02] #2227 closed

[2022-06-26 21:02] #2226 closed

[2022-06-26 21:02] #2210 closed

[2022-06-26 21:02] #2203 closed

[2022-06-26 21:02] #2183 closed

[2022-06-26 21:02] #2181 closed

[2022-06-26 21:02] #2172 closed

[2022-06-26 21:02] #2169 closed

[2022-06-26 21:02] #2151 closed

[2022-06-26 21:02] #2128 closed

[2022-06-26 21:02] #2116 closed

[2022-06-26 21:02] #2112 closed

[2022-06-26 21:02] #2110 closed

[2022-06-26 21:02] #2107 closed

[2022-06-26 21:02] #2095 closed

[2022-06-26 21:02] #2094 closed

[2022-06-26 21:02] #2082 closed

[2022-06-26 21:02] #2064 closed

[2022-06-26 21:02] #2046 closed

[2022-06-26 21:02] #2015 closed

[2022-06-26 21:02] #1946 closed

[2022-06-26 21:02] #1464 closed

[2022-06-27 08:56] Pritesh-Patel27 opened #2237 "Getting Client-IP from Azure Functions - .NET Isolated"
I have seen many solutions of getting client IP address which are from Azure Functions .Net 3.1, 6, JavaScript, etc.
Our Project belongs to .NET Core 6 Isolated Version. So, can you help me how to get the Client-IP using **HttpRequestData** class present in **HttpTrigger .Net 6 Isolated** Azure Function?
I have tried the following code snippets to get, but unfortunately failed:

1. **var remoteAdd

[2022-06-27 20:20] KelvinTegelaar commented on #2231
Hey Jeremy,

I've been struggling with the same - I've enabled application insights to find what's going on and it's just random creates and closes to PowerShell module files in my case. I suspect you're suffering from the same, but the JS/Node equivalent.

It's been an issue for years, and there are a lot of unresolved issues on this repo referencing it, e.g. https://github.com/Azure/Azure-Functi

[2022-06-28 02:34] Krucial92 commented on #2231
Thanks for the insight @KelvinTegelaar and glad to know others are experiencing the same. MS needs to get onto this! I expect to pay for function app usage based on pricing outlined, not ridiculous and untransparent amounts of money on storage related costs due to some obscure "internal processes" which need to run.

Whatever processes that are running are creating millions of transactions, which

[2022-06-28 10:57] Spaceman1861 commented on #2227
@Ved2806 Sorry for the slow reply I dont have Microsoft.Extensions.Logging.Abstractions installed in any project in the solution so I cant downgrade it :(

[2022-06-28 15:42] iqoOopi commented on #1882
Same issue here. We granted "Monitor contributor" role but it is still greyed out.....

[2022-06-28 23:26] #2230 closed

[2022-06-29 03:06] Spaceman1861 commented on #2227
In addition I added the package and ran the same test with the same result.

[2022-06-30 09:58] simonsabin commented on #2231
Have you looked at https://docs.microsoft.com/en-us/azure/azure-monitor/essentials/resource-logs

[2022-06-30 15:43] ManuelaGar commented on #2140
Hi @v-bbalaiagar @pragnagopa I am having the same issue. I initially deployed my function with playwright using the consumption plan and it works fine, but when I change the plan to Premium it stops working and says there are some missing dependencies.
Will try using docker!

[2022-06-30 18:11] VladBitiusca commented on #2208
Same thing here. Any news or clues on what actions need to be taken?

[2022-06-30 19:36] lukasz-zoglowek commented on #2140
Here is the docker file that works for my needs with azure premium plan and playwright chromium.

[code]

[2022-07-01 00:21] kiranmaiparcha commented on #2208
I am facing the same issue. Do we have any workaround?
 Microsoft.Azure.WebJobs.Host: Error indexing method 'ParseFunction'. Microsoft.Azure.WebJobs.Host: Can't bind Queue to type 'Microsoft.WindowsAzure.Storage.Queue.CloudQueue'.
[2022-06-30T00:44:00.579Z] Possible causes:
[2022-06-30T00:44:00.579Z] 1) Tried binding to 'Azure.Storage.Queues.QueueClient, Azure.Storage.Queues, Version=12.10.0.0, Cu

[2022-07-01 02:14] satvu commented on #2237
@Pritesh-Patel27 We will investigate this internally and see if we can validate the 3 code snippets.

[2022-07-01 07:30] skefex opened #2239 "App Service Authentication with multiple identity providers causing slow HTTP request performance"
We are running a function app (consumption plan) with app service authentication enabled. Adding one identity provider does not decrese HTTP request performance.  Adding a second identity provider decreses request performance from about 100 ms to 1s-2s. We are using two OpenID Connect configurations against a Azure B2C directory and a Azure Active directory, by passing the OpenID Connect metadata

[2022-07-01 19:10] nzthiago commented on #1307
Hi everyone - the Functions team certainly does not want unnecessary storage file transactions to be the behavior of the platform. There might be different reasons for high number of file storage transactions observed though. Merely accessing files via SMB can show up in logs as file Create operations as [the SMB2 CREATE Request packet](https://docs.microsoft.com/en-us/openspecs/windows_protocols/

[2022-07-01 19:10] nzthiago commented on #2231
Hi everyone - the Functions team certainly does not want unnecessary storage file transactions to be the behavior of the platform. There might be different reasons for high number of file storage transactions observed though. Merely accessing files via SMB can show up in logs as file Create operations as [the SMB2 CREATE Request packet](https://docs.microsoft.com/en-us/openspecs/windows_protocols/

[2022-07-01 21:34] ManuelaGar commented on #2140
Hey @lukasz-zoglowek I just wanted to thank you for the Dockerfile.
I just had to do some small changes and it worked perfectly. I also created a docker-compose.yaml to read all my environment variables.
You helped a lot, thank you :)

I also used this tutorial: [Create a function on Linux using a custom container](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-function-li

[2022-07-02 00:02] #1805 closed

[2022-07-02 07:37] Krucial92 commented on #2231
@simonsabin yes I have looked at the resource logs, as mentioned in the thread I enabled diagnostics on the storage account to output these logs into a separate storage account, and from a dormant application it's still generating 100k lines in each `PT1H.json` file per hour. What I'm trying to get to the bottom of is what is causing so many of these operations, there's a sample of these logs post

[2022-07-04 10:26] Pritesh-Patel27 opened #2240 "How to deploy the Azure Functions (.Net 6.0 isolated LTS) on premises IIS?"
I have created a HttpTrigger Azure function (.Net 6.0 Isolated-LTS) using Visual Studio 2022. I have published the Project in a Local Folder in my system. Try to deploy the generated dlls in the Local IIS and call the API from browser but getting error.

I have done all the steps provided in following link: [Is it possible to deploy the Azure Functions in Local IIS?](https://stackoverflow.com/ques

[2022-07-04 13:00] Pritesh-Patel27 commented on #2237
I was finally able to retrieve it by using the code below.

Please note that the header value "x-forwarded-for" is only available when hosted within azure.

[code]

[2022-07-04 14:14] Ved2806 commented on #2240
Hi @Pritesh-Patel27 You may want to try [this](https://docs.microsoft.com/en-us/azure/azure-functions/functions-develop-vs?tabs=in-process). Please let us know if it helps. Thanks.

[2022-07-04 14:17] Ved2806 commented on #2237
Hi @Pritesh-Patel27 Please let us know if this issue is resolved for you or you still need some inputs from us?

[2022-07-04 14:19] Ved2806 commented on #2236
Hi @kbalakumar1 Thanks for your feedback, we are discussing this issue internally and will let you know about the findings soon!

[2022-07-04 14:22] Ved2806 commented on #2231
Hi @Krucial92 Is this issue resolved for you or you need some help from us? Please let us know.

[2022-07-04 14:24] Ved2806 commented on #2233
Hi @morozenkomv Is this issue resolved for you? can it be closed?

[2022-07-04 16:52] morozenkomv commented on #2233
Issue wasn't resolved. I used PascalCase property names, it fix my issue. I didn't check, may be this bug already fixed.

[2022-07-05 00:49] Jasonlee6789 commented on #1880
System.Private.CoreLib: Exception while executing function: Functions.curd. System.Private.CoreLib: Result: Failure
[2022-07-05T00:40:37.753Z] Exception: Please run 'az login' from a command prompt to authenticate before using this credential.
I have the same problem when I click create button on the website

[2022-07-05 04:45] #2237 closed

[2022-07-05 16:19] kbalakumar1 commented on #2236
Thanks for the update @Ved2806 . I will be on the lookout for any updates from your end.

[2022-07-06 05:12] sprycoder commented on #2199
Lucky to find a workaround, worked for me
https://stackoverflow.com/questions/72281982/moving-azure-functions-linux-hosted-from-consumption-to-premium-plan/72290630#72290630

[2022-07-06 05:52] BrunoJuchli commented on #2054
For us this warning has started to appear en masse yesterday 5th July 2022 from around 13:30 without us changing anything in code for the past few days.
![image](https://user-images.githubusercontent.com/2090172/177478002-7e0afaf3-69b8-4309-be4e-d2daf615d8f5.png)

It looks like to coincide with a restart of service (we didn't deploy).
![image](https://user-images.githubusercontent.com/2090172/1774

[2022-07-06 15:40] edgBR commented on #1258
Hi we are also having the same issue here @obiii

[2022-07-07 17:51] obiii commented on #1258
Hi,
We were also facing the same issue. After trying different things we found out that the **functionapp picks the latest container build only if the app is restarted**. This is a bit weird because we don't have to restart the functionapp in dev and test when we update the container.

[2022-07-08 07:58] cyrmul commented on #454
Hi,

This method works very well, but the brokerProperties are very limited.
I need to define the ContentType system property but it isn't include que the azure-sb library. 👎

=> https://github.com/Azure/azure-sdk-for-node/blob/fa35b874c212ed71a56f8093ca8e1d959f661cfb/lib/services/serviceBus/lib/servicebusservice.js
* @param {string}             [message.brokerProperties.CorrelationId]

[2022-07-08 22:50] RohitRanjanMS commented on #2173
PR to remove the Microsoft.Azure.WebJobs.Extensions.ApplicationInsights from v2 extension bundle.

https://github.com/Azure/azure-functions-extension-bundles/pull/189

[2022-07-11 20:03] rsullyo commented on #2173
I'm running into the same issue:

![image](https://user-images.githubusercontent.com/97307273/178347594-f9c5dc1f-522a-4b07-9c7c-af61fe5ec117.png)

My code does not have the Microsoft.Azure.WebJobs.Extensions.ApplicationInsights NuGet package.  I'm very confused about this error.

My function app runs fine locally on my computer, but when deployed to Azure (Linux or Windows), only gives 404 respons

[2022-07-11 21:44] RohitRanjanMS commented on #2173
@rsullyo your issue is not due to ApplicationInsights extensions. Is this a .Net isolated function?

[2022-07-12 02:02] RohitRanjanMS commented on #2173
@rsullyo you can ignore the warning related to ApplicationInsights extension.

[2022-07-12 11:03] CProsRodneyWorkman opened #2241 "System.IO.FileNotFoundException"
Program builds however when stepping through the code I get a FileNotFoundException when trying to load a Static that referenced assembly 'System.IdentityModel.Tokens.Jwt'.  This same code works fine in a Web Api project but fails in a Azure Functions project.

System.IO.FileNotFoundException
  HResult=0x80070002
  Message=Could not load file or assembly 'System.IdentityModel.Tokens.Jwt, Version=6

[2022-07-12 13:56] Ved2806 commented on #2233
Hi @morozenkomv Do you still need any help with this?

[2022-07-12 14:14] Ved2806 commented on #2187
Hi @ealsur Could you please look into this issue?

[2022-07-12 14:38] JesseDeBruijne commented on #2165
Gonna have to second this issue.

It's weird to recommend that you switch to Azure API Management because it "provides the same capabilities as Functions Proxies" but then provide no migration guide or as @JasonKleban already mentioned not even provide the same capabilities (wildcard forwarding is something I need as well).

[2022-07-12 14:43] morozenkomv commented on #2233
Ho @Ved2806, did you check this issue on your side? I can do it for you and confirm is it fixed or no.

[2022-07-12 15:35] Spaceman1861 commented on #2227
@Ved2806 No the problem remains

[2022-07-12 15:59] ealsur commented on #2187
@Ved2806 - I already replied on this issue

[2022-07-12 16:41] #1307 closed

[2022-07-13 06:25] Ved2806 commented on #2233
Hi @morozenkomv, This is working for me

[2022-07-13 18:29] fabiocav commented on #2208
This is a limitation of the isolated model today, as documented [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob-trigger?tabs=isolated-process%2Cextensionv5&pivots=programming-language-csharp#usage).

[2022-07-13 18:31] fabiocav commented on #2208
We have work currently in progress to improve the type binding experience in OOP, and will be posting updates in the worker repo as we work on that [here](https://github.com/Azure/azure-functions-dotnet-worker/discussions).

Closing as answered, but please let us know if you have any additional questions. Thanks!

[2022-07-13 18:31] #2208 closed

[2022-07-14 00:36] isaacrlevin commented on #2165
FWIW I added my Function to a new API Management Instance and I have no idea what policies to set. My use case is that I have a UrlShortener that takes a url like this

https://isaacl.dev/presence-light

and transforms it into

https://www.theurlist.com/presencelight

I WAS doing this in Functions v3 with proxies like so

[code]

I have no idea how to use this with transform policies. Some help wo

[2022-07-14 14:30] mikegoatly commented on #2208
@fabiocav I'm not running using the isolated model though - I'm running in-process and still see this error on upgrading. I don't think the OP's sample was running isolated either?

Is it really the case that there's no way to run an .NET 6 Azure Function app with a Queue trigger in any model?

[2022-07-14 16:10] morozenkomv commented on #2233
I'm able to reproduce this issue. Here is a test [function](https://nt-log-manager.azurewebsites.net/api/case_issue_test?code=GZ72XNkbgT9nDJx_Ykj_5J_qHjiEoM6tz-vedca1RiCuAzFu3V9Kug%3D%3D).
![image](https://user-images.githubusercontent.com/17346853/179028005-04f5bdbd-2428-4d21-8d61-a549532aabca.png)

[2022-07-17 04:27] black-byte commented on #750
Any updates on this annoying issue?

[2022-07-17 11:31] klenium commented on #2166
I'm getting this error after upgrading a project/host from .NET Core 3.1 / AF 3 to .NET 6 / AF 4. I'm not using any event* triggers, only http/timer/durableTask.

[2022-07-18 07:27] anben-developer commented on #2047
When will the functionality be added back to v4?

[2022-07-18 08:09] seandkim opened #2242 "Set time expiration for isPastDue jobs"
### TLDR
I want to reliably run my function with UseMonitor=true, but I do not want to run isPastDue jobs if the originalSchedule is more than x hour ago.

### Detail
I have Azure function enabled on the "main" slot and disabled on one deployment slot. I deploy code to the deployment slot then swap slots. Whenever I do this, I see a job scheduled from several days ago get executed, probably becaus

[2022-07-18 10:40] Ved2806 commented on #2239
Hi @skefex Thank you for the feedback, we will discuss this issue internally and let you know about the findings soon!

[2022-07-18 10:55] Ved2806 commented on #2233
Hi @morozenkomv, It converts the property names to the camel case by default when all the letters are capital.

[2022-07-18 10:55] #2233 closed

[2022-07-18 12:50] morozenkomv commented on #2233
Hi @Ved2806, very strange rule, isn't it? How can I disable case conversion?
By the way, `CompanyId` was converted as well, but it's not in the capital case. So it looks more like a bug, not a rule.

[2022-07-19 13:16] JasonKleban commented on #2165
Hello?  @kulkarnisonia16? @anthonychu? @v-bbalaiagar?  Time's ticking toward this December Drop-Dead date.  While this is github and open source, it exists solely to support Microsoft's Azure paid platform.  Long-term stability of APIs that enable businesses to operate is a crucial responsibility of this product team (I'm not sure if any of the tagged folks are on that team).

Note to that product

[2022-07-19 15:02] #2240 closed

[2022-07-20 06:14] morozenkomv commented on #2233
Hi @Ved2806, why this issue is closed? It still reproduced on production. I think there shouldn't be implicitly conversations.

[2022-07-20 18:08] raj4j2ee commented on #1748
please let me know once the value is read req_cert_bytes = req.headers.get("X-ARR-ClientCert"), now how this need to be validated in Function app python to find correct certification are passed. I was planning to store .cer content in Azure keyvault and compare this with req_cert_bytes. Appreciate any suggestions soon.

[2022-07-21 13:50] robi26 commented on #1777
Still the same behavior using .net 6 and Runtime version 4

[2022-07-21 18:01] balag0 opened #2243 "Improve portal support for AI key configured as KeyVault reference"
Portal requires AI instrumentation key to query App Insights metrics.
When logged in user only has Reader level permissions, the key cannot be fetched and portal will not display the metrics.

If there is no other solution out of box solution provided by AI, we need an api that portal can use with reader level access that returns the AI key to handle this scenario.

[2022-07-22 08:40] mikegoatly commented on #2208
@fabiocav Sorry to pester, but I'd really like to understand whether it's expected that there's no way to run a .NET 6 function app with a Queue trigger binding (in-process *or* isolated). If it really is expected, then as I see it, the only version of .NET we're expected to use with Queue triggers is .NET Core 3.1.

I'm just looking for a little clarity around the situation in case we have to mov

[2022-07-22 09:42] jacob7395 commented on #2211
@Pivomer are you still getting this issue?

[2022-07-22 10:56] Pivomer commented on #2211
@jacob7395 It's fixed, thanks.

[2022-07-22 17:14] onionhammer opened #2244 ""Missing value for AzureWebJobsStorage in local.settings.json""
This warning shows when `AzureWebJobsStorage__accountName` is specified and using a managed identity, so the warning shows but then the app works just fine.

[2022-07-25 02:43] Krucial92 commented on #2231
So about a week ago a decided to turn on one of my problematic function apps and over the course of the following 3 days it decided to create about 30 million operations on the related storage account (simple http triggers in the function app and received no traffic).

This obviously shot my billing up to an unreasonable amount so I began investigating the issue again. The first thing I did was de

[2022-07-26 06:08] Ved2806 commented on #2189
Hi @mattchenderson Do you have any inputs on this?

[2022-07-26 06:09] Ved2806 commented on #2244
Hi @onionhammer Please refer discussion [here](https://github.com/Azure/azure-functions-host/issues/8135) Please let us know if it helps.

[2022-07-26 07:54] Ashley-alex commented on #1444
Yes it was working for me
________________________________
From: lindaxu ***@***.***>
Sent: Friday, May 6, 2022 1:31 AM
To: Azure/Azure-Functions ***@***.***>
Cc: Ashley-alex ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/Azure-Functions] Blob Trigger for Azure Functions on Kubernetes with KEDA (#1444)

Hi, @Ashley-alex<https://github.com/Ashley-alex> , have you finally figured out whether

[2022-07-26 08:42] snezhinka158 commented on #2173
Hi, @RohitRanjanMS! I have .Net isolated function and the same issue. What does it mean?

[2022-07-26 10:49] JesseDeBruijne commented on #2165
I have now made the switch to an Azure Static Web App for my app. They provide [Routing Configuration](https://docs.microsoft.com/en-us/azure/static-web-apps/configuration) within the app which was enough to satisfy the needs for my app. It includes stuff like wildcard routing, response headers, URL rewrites/redirects, even Authentication and Authorization.

Maybe it helps someone else.

[2022-07-26 13:33] onionhammer commented on #2244
@Ved2806 that discussion is locked, and the warning is happening local settings still, so no it doesn't help. Using managed identity works fine, the warnings show up in build though.

[2022-07-28 15:47] mikegoatly commented on #2208
@tleclaire Co-incidentally I was looking at this again yesterday. I tried to create my own minimal repro and found that it was all working fine there, so I was pretty sure it was something in our solution that was causing the problem. Your comment was very timely and pointed me in the right direction, so thanks!

[2022-07-29 03:38] Saj1234 commented on #1657
Finally managed to fix it. It might not be the case for everyone but just posting it as it might help someone here.
Here is my scenario:

I was getting the same issue *"Encountered an error (InternalServerError) from host runtime.**  when I read the function keys using **listkeys** method in bicep template.

This is where it failed in my template:

`
listkeys('${functionApp.id}/host/default', '201

[2022-08-01 15:11] Ved2806 commented on #2239
Hi @AnatoliB Could you please help with issue?

[2022-08-03 19:57] benjavaisberg opened #2245 "Google BigQuery Python Client Issue in Azure Function"
I am getting an error when trying to import the Google BigQuery Python Client in an Azure Function. This works fine if I test somewhere else like a local script or Jupyter Notebook.

Importing the following to the out of the box Http Trigger function:
`from google.cloud import bigquery`

Leads to this error:

[code]

[2022-08-05 06:37] tudor33sud opened #2246 "Migration from V3 to V4 throws unexpected error message"
Function App name: NodeJS
Tools used:
New V4 app or existing V3 app migrated to V4: V3 migrated to V4 + Node16

So, I migrated a function app V3 to V4 and upgraded my node version from 14 to 16. Everything seems to be working, however there's a misleading error message that it's getting thrown with the setup that I had.

I created a fully working playground where you could check the issue. Steps t

[2022-08-06 04:48] ShanonJackson commented on #646
There's only 1 compute as a service "TRUE" serverless offering on Azure and its the function apps consumption plan, this issue is 4 years old now and there's still been no progress on making any kind of network security model available on consumption plan at all.

It's forcing your customers into a difficult decision as its either.
A: Pay more, over provision and swap onto a non-server-less based

[2022-08-08 14:36] Ved2806 commented on #2245
Hi @vrdmr Could you please help with this issue?

[2022-08-08 14:38] Ved2806 commented on #2244
Hi @onionhammer Could you please mention the warning message?

[2022-08-08 14:51] Ved2806 commented on #2211
Hi @Pivomer Closing the issue as it is fixed. Thanks.

[2022-08-08 14:51] #2211 closed

[2022-08-08 15:05] onionhammer commented on #2244
@Ved2806

...\.nuget\packages\microsoft.net.sdk.functions\4.1.1\build\Microsoft.NET.Sdk.Functions.Build.targets(32,5): warning : Function [EmailSend]: Missing value for AzureWebJobsStorage in local.settings.json. This is required for all triggers other than httptrigger, kafkatrigger, orchestrationTrigger, activityTrigger, entityTrigger. [C:\proj\src\Function.csproj]

[2022-08-08 16:22] Ved2806 commented on #2246
Hi @tudor33sud Thanks for the feedback. We are investigating this issue further and will let you know about the findings. Thanks.

[2022-08-09 00:25] jasw commented on #2199
@sprycoder , Unfortunately the above workaround in my case (moving from consumption plan to premier plan for a java function in linux) resulted in 'Operation returned an invalid status 'Conflict'.  We do not have to use linux but still good to have this issue fixed.  Any update on this? @v-bbalaiagar  thanks!

[2022-08-10 14:49] nzthiago commented on #2231
@Krucial92 thank you for the extra information, would love to investigate further. Can you please share the support number that you had opened, and also [share the execution time, execution Id value, and Region for that app following these instructions](https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately)?

[2022-08-10 14:58] KelvinTegelaar commented on #2231
To follow up and keep @nzthiago updated too; migrating to v1 storage has helped the cost down for my queue writes and blob writes. I associated this with cost eith the issue getting fixed by using v1.

That is not the case. Unfortunately my File writes are still very high, so we're experiencing the same issue on v1 storage. (Sorry I didnt reply earlier Thiago!).

My function is a PowerShell functi

[2022-08-10 20:10] KelvinTegelaar commented on #2231
I've been troubleshooting offline with @nzthiago. Adding WEBSITE_RUN_FROM_PACKAGE = 1 has decreased the writes extremely. Everything looks normal now. Included screenshot for illustration; pre-09:15 was without WEBSITE_RUN_FROM_PACKAGE = 1, everything POST 09:15 is WEBSITE_RUN_FROM_PACKAGE = 1

![image](https://user-images.githubusercontent.com/49186168/184010513-5d96d8ff-c6bb-46d1-8eda-4e3fd3aeb2

[2022-08-11 17:18] josemarfdc commented on #2108
I have the exact same issue on Ubuntu 20.4

[2022-08-13 10:36] JeroenvdBurg commented on #2047
@kulkarnisonia16 Any update on this? Also tried to reach you on the email address you provided but got no reply. If you indicate you are open to chat it would be nice to get a reply.

[2022-08-15 19:36] plzm commented on #2221
I ran into this both with CLI (az functionapp keys list/set) and Azure portal. I finally figured out how to work around it.

Initial setup:
- Azure Function with VNet integration and vnetRouteAllEnabled = true
--- Environment had UDR that routed all VNet outgoing traffic through an NVA
- Storage account associated with Function had public access disabled

Symptoms: portal didn't show any keys, and

[2022-08-16 10:31] tudor33sud commented on #2246
@Ved2806  is there any update on the issue? I am just checking to see whether it still needs triage or if it was forwarded to a team. Thanks a lot!

[2022-08-17 00:08] yihchuang opened #2247 "PowerShell global variable not retrieved correctly"
Variables are defined at the beginning of the PowerShell script; without the “global” keyword
Assuming these variables are in global scope.

[code]

Here is a function to renew the SQL access token and persist it to a JSON file.
In Get-SQLToken function, global variables were saved differently, with and without "global" keyword.
This was the workaround for the issue:
```$Global:accessToken = $toke

[2022-08-17 16:30] thanos1983 opened #2248 "The portal is not able to confirm the status of your Key Vault reference at this time. Linux App Service Plan."
Azure Keyvault secret reference not resolving within Azure Linux Function connection string.

We are using this terraform module: [azurerm_linux_function_app](https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/linux_function_app)

When we try to add a reference to a key in the vault the following error appears:

_"The portal is not able to confirm the status of your Ke

[2022-08-17 16:33] albernhagen commented on #1349
I'm also running into this exact same issue specifically for windows premium tier function apps.  Did anyone ever find a resolution?

[2022-08-17 18:42] brennfoster commented on #2166
I just realized that I was not awaiting the host.RunAsync() command in Program.cs and that's why this was failing for me.

[2022-08-17 20:30] kumarsyamala opened #2249 "Service bus Queue trigger Azure Function app failed without a reason ( couldn't get trigger )"
I have created a azure function through cd/ci pipeline.

I send the mgs from Service bus queue and the mgs sent from service bus but the function app didn't get triggered, it failed with out proper explanation in App insights I couldn't see proper error

My service bus is :- Service bus queue trigger

Function app : - Python 3.9 , East Us ,linux

Function app code Here I am trying to trigger the d

[2022-08-18 07:17] CodeAkshayJoy commented on #2248
why resoolving keyvault reference needs to be part of Hosting Plan, its just injecting secrets as value ENV variable

[2022-08-18 13:18] jackbond opened #2250 "dotnet SDK for creating Function App"
I've looked around a bit, and I haven't been able to find the SDK for creating Function Apps. I'm not talking the SDK to implement a function, but rather to dynamically create the Function App resource itself, something akin to Azure.ResourceManager.FunctionApps. Ultimately, I'd like to be able to create a Function App, process a set of durable entities, and then when finished, instead of attempti

[2022-08-18 14:02] Ved2806 commented on #2248
Hi @mattchenderson Could you please look into this issue?

[2022-08-18 14:06] Ved2806 commented on #2249
Hi @kumarsyamala Could you please provide the investigative information? Function App name, service bus name, timestamp. Thanks.

[2022-08-18 14:07] Ved2806 commented on #2250
Hi @jackbond Thank you for the feedback, we will discuss this internally and get back to you with findings soon.

[2022-08-18 15:07] alextof commented on #2209
I'm also at the same point, did someone managed to achieve to connect?

[2022-08-18 15:21] jjohnstonspm commented on #1349
Was there recently a change or regression here? I had it working for the last few weeks, then suddenly all of my functions were unable to access their storage accounts on a VNET for this reason. I've been unable to get them to communicate with the storage accounts short of turning on Public Access for All Networks.

[2022-08-18 15:33] albernhagen commented on #1349
Maybe that explains why I lost so many hours to this using configuration that was supposed to work.  For what it's worth, I found a workaround by enabling service endpoints in the subnet.  I have both private endpoints and service endpoints setup for the azure storage account.  It's working in that deploys are succeeding and the function runs normally, but it's far from the preferred configuration

[2022-08-18 17:59] jjohnstonspm commented on #1349
That has not worked for me. Once the Azure Function launches (and presumably mounts its File System), it operates fine even if I make my Storage Account network access private, but if I restart the Function for any reason, it is dead again (even with Service Endpoints enabled).

[2022-08-19 00:02] #2231 closed

[2022-08-19 03:42] georgeOsdDev opened #2251 "v4 logging change detail"
HI team, is there any change about logging output from v3 to v4?

Sharing the results of my quick test.
I start Function App then Execute 1 HTTP trigger, then Stop Function App.
We can see 4 more records in v4 compared to v3.

If there are more change about logging output from FunctionsHost, please share some documents.
Because log output volume change effects Application Insights usage cost.

v4

[2022-08-19 11:36] kwaazaar commented on #1762
I found that when using ILogger.LogError and only passing a message, so no exception, the error is logged in traces with severityLevel 3. You will still find them, but it's harder to monitor for 'exceptions'.

[2022-08-19 12:40] rama-22 opened #2252 "Couldn't able to deploy the Python Azure function App through zip file and with package facing an Module Error"
Hi ,

I am trying to deploying the python Azure Function app in cd/ci pipeline.

When I Archive the required files and published in the Build pipelines , Used the Artifact in the release pipeline.

The release pipeline was successful and in logs also I can see  **Syncing triggers for function app ,Sync triggers for function app completed successfully**   these but in the azure portal couldn't able

[2022-08-19 17:49] krishnasinghabsg opened #2253 "Azure function Isolated mode completing the service bus messages even if middleware next not called."
ServiceBusFuncProcessor:
Tools used: vs2022
New V4 app

Hi,
Am trying to use middleware feature of azure functions isolated mode.
In middleware am reading from redis list of function names that must be disabled and then only calling middleware next if function name is not found in redis disable list.
Everything is working fine but only one problem. IF function is disabled then middleware next is n

[2022-08-20 22:29] scale-tone commented on #2047
@kulkarnisonia16 , I can only agree with the others and confirm again, that proxies is an extremely useful feature. Dropping it would be a very significant loss for the platform.
[Here is another sample use case, in which proxies are vital and indispensable](https://github.com/scale-tone/cognitive-search-static-web-apps-sample-ui).
An Azure Static Web App, that authenticates users with **server-di

[2022-08-22 12:32] shaneholder commented on #2129
I just encountered this on a Linux function app. Updating the secret in KeyVault and restarting the app does not refresh the secrets.  It is not practical to wait 24 hours or change the App Configuration to force a re-read of the vault.

[2022-08-22 14:46] Ved2806 commented on #2252
Hi @pragnagopa Could you please help with this issue?

[2022-08-22 14:50] Ved2806 commented on #2248
Hi @pragnagopa Do you have any inputs on this?

[2022-08-23 16:59] onionhammer commented on #2244
FYI - This is still broken.

[2022-08-23 19:56] rvdginste commented on #2188
@v-bbalaiagar  @pragnagopa

Updating the documentation is one thing, but that seems to take a while. Does anyone know the answer to the question: do all function apps within the same plan scale together, or scale independently from each other?

[2022-08-24 06:42] kristoffervfs opened #2254 "ServiceBusTrigger w/Autocomplete = False does not work when processing multiple messages."
Hi, I am creating an function which needs to process multiple messages at the same time and with control of which messages in that batch is completed or not.

By setting ```` Autocomplete = false ```` in host.json this works as expected:

[code]

However if I change to receiving bulk messages by replacing ```` Message ```` with ```` Message[]```` the code throws an exception after the function is

[2022-08-24 16:16] jainindore commented on #2168
I am facing the same error, I just created Azure function with Event Hub Trigger, .net version is .NET6 and function version is v4.

Below is the error:

No job functions found. Try making your job classes and methods public. If you're using binding extensions (e.g. Azure Storage, ServiceBus, Timers, etc.) make sure you've called the registration method for the extension(s) in your startup code (e

[2022-08-25 04:40] scoobaroo commented on #2108
Same issue VS2019 net462

[2022-08-25 07:24] DavidJFowler opened #2255 "Support dynamic scaling"
Hi,

Are you able to give an update on this:

https://github.com/Azure/azure-webjobs-sdk/issues/2838#issuecomment-1063196447

`Regarding the GA of Microsoft.Azure.WebJobs.Extensions.CosmosDB 4.0, it is currently waiting for required Functions features to support dynamic scaling, it is complete from the code perspective, but the service is still working on supporting Consumption Plan users. Functio

[2022-08-25 14:32] Ved2806 commented on #2244
Hi @onionhammer Please refer this conversation [#2755](https://github.com/Azure/azure-functions-core-tools/issues/2755). Seems like this issue has been resolved. Please let us know if it helps?
@mattchenderson Do you have any inputs on this?

[2022-08-25 14:47] onionhammer commented on #2244
@Ved2806 it has not been resolved as version 4.1.1, which is the most recent version, as you can see in the comment above referencing

nuget\packages\microsoft.net.sdk.functions\**4.1.1**\build\Microsoft.NET.Sdk.Functions.Build.targets

[code]

[2022-08-25 14:53] onionhammer commented on #2244
The offending code may be here?

https://github.com/Azure/azure-functions-vs-build-sdk/blob/011a27ec45c31e3af1315afebaf3d2a57a8ef085/src/Microsoft.NET.Sdk.Functions.Generator/FunctionJsonConverter.cs#L238

where instead of

[code]

perhaps it could be

[code]

[2022-08-25 14:54] TsuyoshiUshio commented on #2188
I tested. It scales par site. According to the scaling logic on Scale Controller. We scale per site, so that the result is make sense.
![image](https://user-images.githubusercontent.com/1390976/186698412-6c57e3bf-9b70-4fe9-a596-375e262bf8b1.png)

@ggailey777  Do you know the context?

[2022-08-25 15:02] #2249 closed

[2022-08-25 15:37] Ved2806 commented on #2244
Hi @onionhammer Does this fixed your issue?

[2022-08-25 15:47] Ved2806 commented on #2189
Hi @TechWatching Are you still facing this issue?

[2022-08-25 15:55] TechWatching commented on #2189
I am still facing this issue yes. The answer I linked above explains why it's a problem. I don't know if anything has been implemented or when it will be implemented to make everything work.

[2022-08-25 16:17] onionhammer commented on #2244
@Ved2806 It should; the code only exists to generate an invalid warning with no other side effects.

[2022-08-25 16:44] Ved2806 commented on #2244
Hi @onionhammer Does it removed the warning message you were getting previously?

[2022-08-25 16:49] Ved2806 commented on #2189
Hi @TechWatching Please refer the issue [#2244](https://github.com/Azure/Azure-Functions/issues/2244) and let us know if it helped? Thanks.

[2022-08-25 16:52] Ved2806 commented on #2167
Hi @ealsur Could you please help with this issue?

[2022-08-25 17:01] onionhammer commented on #2244
@Ved2806 yes, that is the point of the change; if you have `AzureWebJobsStorage__accountName` or `AzureWebJobsStorage` in your settings you will not receive a warning

[2022-08-25 17:02] Ved2806 commented on #2244
Hi @onionhammer Thanks for confirmation, closing this as resolved.

[2022-08-25 17:02] #2244 closed

[2022-08-25 17:04] onionhammer commented on #2244
@Ved2806 this isnt resolved unless my PR is accepted

[2022-08-25 18:10] ealsur commented on #2167
This is by design. The Cosmos DB bindings are triggers are for the **SQL API**.

See the Functions doc: https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-cosmosdb-v2?tabs=in-process%2Cfunctionsv2&pivots=programming-language-csharp#supported-apis

[2022-08-25 18:50] kathleenwest commented on #2167
Just to clarify ^, you are saying Azure does not currently have feature support the Mongo API for the Azure Cosmos Db Trigger

[2022-08-25 19:41] ealsur commented on #2167
There is no Extension for Azure Functions to provide Trigger or Binding functionality for a Mongo API account at this moment. The extension `Microsoft.Azure.WebJobs.Extensions.CosmosDB` is purely for SQL API operations.

[2022-08-25 19:44] ealsur commented on #2167
It is technically possible for a user to build a Trigger Extension that uses the Mongo Driver and Change Streams to obtain and report Mongo changes: https://docs.microsoft.com/azure/cosmos-db/change-feed#change-feed-in-apis-for-cassandra-and-mongodb

At this point, there isn't one created and maintained by Microsoft (doesn't mean there never will, just stating the current scenario).

[2022-08-25 20:12] kathleenwest commented on #2167
Microsoft does not currently support the feature

[2022-08-25 20:12] #2167 closed

[2022-08-26 20:02] papadeltasierra commented on #1595
Hitting this with latest VS 2022, v17.3.2

[2022-08-27 07:29] rvdginste commented on #2188
@TsuyoshiUshio

Thanks for the answers, those things are clear now. However, I didn't think about that with my last comment, but in the mean time, requirements for our project changed and vnet integration is needed. This means we can no longer use the "consumption plan", but we could go with the "elastic premium plan". I assume that the scaling logic on that plan is exactly the same as on the cons

[2022-08-27 11:57] purijatin commented on #1997
I believe this is no longer an issue and has already been resolved. Or does this issue still exist?

[2022-08-29 07:12] arsamigullin opened #2256 "Azure functions cannot convert array of objects section in Configuration to the list of options"
Function App name: func-fairbanks-test
Tools used: Visual Studio 2022
New V4 app or existing V3 app migrated to V4: New V4 app

Hello,
our team is using Azure Functions V4 and we need to store array of settings in the Configuration. So, in the Azure Portal in the Configuration page of Azure Functions we have

<img width="403" alt="image" src="https://user-images.githubusercontent.com/17814411/1871

[2022-08-29 08:58] arsamigullin commented on #2256
The issue resolved. I passed wrong value. Passed key vault reference but should've been Boolean. It could not parse it and silently continued.

[2022-08-29 08:58] #2256 closed

[2022-08-29 19:28] TechWatching commented on #2189
@Ved2806  It does not. The issue you mentioned is about localsettings.json. My issue is with the portal :
![function_storage](https://user-images.githubusercontent.com/15186176/187281069-8d0c4b22-1be7-4634-aa0f-781bfb38e38a.png)

The problem is already mentioned in a comment of this [closed issue](https://github.com/Azure/azure-functions-host/issues/8135#issuecomment-1040879695). From my understan

[2022-08-30 15:13] Ved2806 commented on #2250
Hi @jackbond This is not something that we are supporting today as we don't expose the management SDK.

[2022-08-30 15:13] #2250 closed

[2022-08-30 18:33] wajidali commented on #2224
Have this been resolved yet?

[2022-08-31 00:29] captainjono commented on #1657
This is still happening today! If your a newbie to functions, its actually quite hellish going through this!!

[2022-08-31 17:43] mattchenderson commented on #2189
@TechWatching The Azure Files team would be best equipped to field that request. https://feedback.azure.com is probably the best place - I thought an item for that existed there already but am having trouble finding it at the moment. We have requested this of them internally as well.

My recommendation in general is to keep Azure Files on function apps if you need it / are concerned about the scal

[2022-09-01 00:21] onionhammer commented on #2244
This should be reopened

[2022-09-01 09:51] qualitas-software commented on #2097
I appreciate this issue might be aged & newer language capabilities available 9 months on, but today:

1. You can add and alias using to the Function.cs file, eg:
    `using ExecutionContext = Microsoft.Azure.WebJobs.ExecutionContext;`

2. You can add a global alias (obviously the choice is set for all project .cs files) as follows:

    - to the top of a single .cs file in the project, eg:

[2022-09-01 13:22] damien7792 commented on #2109
Hi there, any news on that issue?
I have the same problem.

I did a test with my timer to trigger at 08:16:00 UTC every weekday, setting the WEBSITE_TIME_ZONE to UTC, but when I run locally in my time zone (UTC-05:00), it triggers at 08:16:00 local time (13:16:00 UTC)
When deployed to Azure, it triggers fine at 08:16 UTC as expected.

This is the trigger:
[code]

The environment variable in my lau

[2022-09-02 14:31] metu commented on #2201
So this is still happening. What seems to resolve the issue wants it arises, is to merely go into the configuration section of the function app on Azure portal. Once the page has loaded, after a few seconds the Key Vault references work again and the function app runs.

Today 1 of our App Service plans scaled out and this issue popped up. I had to go into each function app's configuration page to

[2022-09-02 14:54] ChuckJonas opened #2262 "Azure Service Bus output binding for Azure Functions is limited to message body"
The way the [service bus output bindings are implement](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus-output?tabs=in-process%2Cextensionv5&pivots=programming-language-javascript) seem to only support the message body... You can't set messageId, sessionId, applicationProperties, etc.  This makes it useless almost any real world use cases.

Are there plans to

[2022-09-05 08:04] myildiz-axendo commented on #750
Another +1

[2022-09-05 10:00] martinhenrysson commented on #750
I agree with the previous posters. Please fix this!

[2022-09-05 11:49] thanos1983 commented on #2248
Hello @Ved2806 ,

Is there anyone who can pick up this task? It affects our migration from Windows Functions to Linux.

Is there something that we can help with?

[2022-09-05 16:28] metu commented on #2201
Today I received this error when trying to access the Configurations tab on one of the function apps that wouldn't fire because of a keyvault reference issue:

![image](https://user-images.githubusercontent.com/3936159/188489412-6aa3b9e3-08f1-45f9-add9-df33af392a52.png)

[2022-09-05 17:59] brian-duffy commented on #1106
Same issue here - I would like to be able to deploy the functions within a function app in isolation, without having to deploy all of them.

[2022-09-07 00:59] nzthiago commented on #2199
Unfortunately, plan migration is still only supported for Windows as documented in [Plan Migration](https://docs.microsoft.com/en-us/azure/azure-functions/functions-how-to-use-azure-function-app-settings?tabs=portal#plan-migration).
* For Linux you have to create a new Function App Plan and redeploy your function to it. The [Move your function app between regions in Azure Functions](https://docs.m

[2022-09-07 07:57] davecroman opened #2263 ""Storage Blob Data Owner" vs "Storage Blob Data Contributor" for connecting to AzureWebJobStorage using an identity"
Hi, apologies if I am simply misunderstanding the documentation or if this has already been answered somewhere. I'm trying to use the least privileged roles for identity-based connection with AzureWebJobStorage.

**Background:**
- I'm running an in-process function app on AKS
- I'm using an identity-based connection to an AzureWebJobStorage using a clientId and clientSecret following the instructi

[2022-09-07 17:27] aaavang commented on #1106
The answer is here:

Functions within the same Function App need to be deployed as a single .zip file.  If you deploy a second .zip file, it will overwrite the first.

One way you could merge these two .zip files together is to deploy a custom Docker image where you combine the functions in each of the individual .zips, but I don't see why you'd need to do that.

[2022-09-07 22:53] snehaguptagithub commented on #2118
You do not have to do this 3/2 step process. You can add an additional appsettings addition step to your template which just added the version to your production slot. Add this after your -- "type": "Microsoft.Web/sites",

    {
      "name": "[concat(parameters('functionAppName'), '/', 'appsettings')]",
      "type": "Microsoft.Web/sites/config",
      "apiVersion": "2021-01-15",
      "dependsOn

[2022-09-07 23:16] yihchuang commented on #2247
@Ved2806 any updates on this?

[2022-09-08 03:00] maartenkools commented on #2118
As far as I know this will overwrite all your app settings in the production slot each time you deploy. And even if it doesn't, it'll trigger some downtime since you're changing configuration.

[2022-09-08 20:01] kmadof opened #2264 "ZIP deployment failed due to - cannot swap site slots for site because the slot did not respond to http ping"
I have an issue with Function App with a long name. The function app has 33 letters and the slot 26 letters so in total it is below 60 characters. To deploy I use these commands:

[code]

I tried many times, and I didn't get even a single success. However when I tried the name with 14 characters and the slot with 12 characters it works at the first time.

I also noticed the following entries in Ac

[2022-09-08 20:19] ericthomas1 commented on #1748
I store the cert text in an Azure Table, pull it into the Azure Function, then compare all the attributes (the cert passed in the `X-ARR-ClientCert` header and the one stored in the Azure Table).

[2022-09-09 04:48] REslim30 commented on #1696
I'm running into this same issue. Terraform + function apps (in js) = no environment variables.

When I add in this app setting:
<img width="1148" alt="image" src="https://user-images.githubusercontent.com/43259657/189273643-a75e4c7d-b9ad-43a0-8f1d-b14944fad89d.png">

I get 503 responses (http triggered function)
<img width="1108" alt="image" src="https://user-images.githubusercontent.com/43259657

[2022-09-09 05:06] REslim30 commented on #1696
Ok the solution was to set `FUNCTIONS_EXTENSION_VERSION` to `~3` (mine was on `~4` before) and also `FUNCTIONS_WORKER_RUNTIME` to `node`. Not sure why this works or what the implications are.

Thank you @Segflow, for the fix. I spent about 4.5 hrs debugging this issue...

[2022-09-09 17:01] softcraftsman commented on #759
@ColbyTresness @mattchenderson  - Do we have any updates or ETA on this bug fix?  This is causing problems with our users.

[2022-09-10 18:59] rahul-adpushup opened #2268 "[Premium] - Storage account connection string does not exist - deploying Queue storage trigger for Azure Functions"
**Describe the bug**
I am trying to trigger my function via the storage queue.

[Here is the complete details of problem](https://stackoverflow.com/questions/73673431/storage-account-connection-string-does-not-exist-deploying-queue-storage-trigg)

**To Reproduce**
Steps to reproduce the behaviour:
- Create a function and try to trigger it from the storage queue.
- Check logs of the function after

[2022-09-11 13:48] NSouth commented on #1044
I love so much of what Functions represents, but then issues like this come up and remain unaddressed for years. These are things that prevent Functions from being an option for many users and businesses.

[2022-09-12 14:42] matsla opened #2269 "Functions version 1.x upgrade question"
Functions version 1.x (GA .NET Framework 4.8) will still be supported after December 3, 2022. Do we need to upgrade applications targeting .NET Framework 4.61 to 4.8 or will they work as is after December 3, 2022?

// Mats

[2022-09-12 20:52] RafaelRuales commented on #646
Is there any possible way that Azure could be more inferior than AWS? no VNET integration in consumption plans is like a balloon with no air in it.

[2022-09-12 21:08] Trubador commented on #646
@ShanonJackson  I could not have said it better myself!

[2022-09-12 22:41] Trubador commented on #646
I think you are right, but it does not make sense that AWS can solve this profitably and Microsoft has decided not to until now.

[2022-09-12 23:15] Digital-Composition commented on #2224
I have Azure Functions with FUNCTIONS_WORKER_RUNTIME": "dotnet" that allow me to run/test code. Is this a bug or a limitation of "dotnet-isolated"?

[2022-09-13 01:32] Phanindra34 commented on #2142
Any update on this issue? I'm facing the same problem but with .Net 6 isolated function
![image](https://user-images.githubusercontent.com/19851741/189787687-73437183-d2a3-40f5-91ea-d8e8673b6e90.png)

[2022-09-13 04:00] PureKrome commented on #646
Could someone from the AzF team please help answer some of the above thoughts/guesses?

Also, is there a roadmap that has some answers targeting the above issues? Is there _any_ news at all, please?

[2022-09-13 06:57] fardarter commented on #2222
Has there been any attention on this?

[2022-09-13 12:29] IanKemp commented on #1882
@fabiocav Being able to monitor functions and view their logs is the absolute, fundamental, most basic requirement that makes the difference between a decision to use Azure Functions and use something like AWS Lambda.

The fact that this was **ever** an issue, never mind is **still** an issue _more than a year after being reported_, implies you literally did not ever test that the "reader" role co

[2022-09-14 05:54] syammehar commented on #2233
I ended up converting my object response to JSON string and used Microsoft.AspNetCore.Mvc.ContentResult instence to return IActionResult from my azure function.
` return new Microsoft.AspNetCore.Mvc.ContentResult()
            {
                Content = JsonConvert.SerializeObject(resp),
                ContentType = "application/json; charset=UTF-8",
                StatusCode = 200

[2022-09-14 09:29] ph-ict commented on #1044
Another vote for this please. I have a need for a simple GET endpoint to fetch data from an EFCore data store. This is relatively simple to achieve in ASP.NET Core WebApi, but I really need the scalability, flexibility and lower overheads/maintenance of an Azure Function.

[2022-09-14 10:46] metu commented on #2201
This issue is now happening more frequently. I'm almost certain that it's just isolated to the South African region because surely more noise would have been made of this issue if it was elsewhere. Do you perhaps know how I can get more traction on this issue?

[2022-09-14 16:50] microsoft-github-policy-service[bot] opened #2270 "This repo is missing a license file"
This repository is currently missing a LICENSE.MD file outlining its license. A license helps users understand how to use your project in a compliant manner. You can find the standard MIT license text at the Microsoft repo templates LICENSE file: https://github.com/microsoft/repo-templates/blob/main/shared/LICENSE.
If you would like to learn more about open source licenses, please visit the docume

[2022-09-15 07:14] ramya894 commented on #2269
@matsla we will check this with our next level team and update you soon.

[2022-09-15 10:31] ramya894 commented on #2264
@kmadof We will check this issue with our next level team and update you.

[2022-09-15 10:44] ramya894 commented on #2268
@rahul-adpushup Please refer to this conversation https://github.com/Azure/azure-functions-core-tools/issues/2755 and let us know for any issues. Thanks.

[2022-09-15 13:44] ryansan commented on #2224
Can we not run functions from the portal when using dotnet-isolated?

[2022-09-15 19:34] brandonh-msft commented on #2054
Seeing this today in Func V4.11 and a **Functions EP1 Premium** plan

![image](https://user-images.githubusercontent.com/20270743/190492991-b5758440-cec9-43d7-b421-b51ecb1bcc1d.png)

[2022-09-19 13:40] #2263 closed

[2022-09-19 13:50] ramya894 commented on #2262
@ChuckJonas We will check this with our next level team and update you with the information.

[2022-09-20 00:55] cloudmelon commented on #2269
@matsla We don't have a communicated plan for .NET framework v1 to this date. However, it is highly recommended to migrate to functions v4 host on .NET framework 4.8 in an isolated process so customers could take advantage of the latest innovation of Azure functions. Let us know if you have any feedback here : [Azure/azure-functions-dotnet-worker: Azure Functions out-of-process .NET language worke

[2022-09-20 11:00] #2268 closed

[2022-09-20 15:04] fabiocav commented on #2269
Closing as answered. Please let us know if you need any additional information.

[2022-09-21 02:42] chrisaliotta commented on #2262
I would love for this issue to get some attention. We use sessions with Azure Service Bus messaging and would like to use the attribute output binding functionality.

I'd like to propose that returning an object of type `ServiceBusMessage` with those attributes set would be one possible solution when considering how to implement this with output bindings.

[2022-09-21 07:15] ramya894 commented on #2264
@kmadof can you please provide us the function app name or invocation id and timestamp so that we can investigate it further with slot team.

[2022-09-21 07:21] ramya894 commented on #2255
@fabiocav could you please answer to the above query.

[2022-09-22 11:43] vinsten99 commented on #2248
I'm facing the same issue as well "The portal is not able to confirm the status of your Key Vault reference at this time. Linux App Service Plan with Python". Deployed the resource via Bicep. When i had tried the same with dot net and windows it worked fine but when using a linux and python combo the keyvault reference does not resolve. Is this a bug ?

[2022-09-22 12:14] ramya894 commented on #2254
@kristoffervfs Please refer the link provided below, in case you still face the issue please let us know in comments.

https://stackoverflow.com/questions/62752905/azure-function-service-bus-trigger-running-multiple-times

[2022-09-22 18:19] RockyMM commented on #2248
In my case it seems that KeyVault references are not resolved.

[2022-09-22 19:41] cachai2 commented on #2255
Hi @DavidJFowler, there were some unexpected delays on the platform that held up GA of this feature. GA should be by end of calendar year.

[2022-09-22 23:07] kashimiz opened #2272 "Tracking Issue: Build/Release Automation Enhancements"
This epic tracks enhancements to our build/release automation identified during scoping of, but not belonging to, Azure/azure-functions-host#8743.

- [ ] https://github.com/Azure/azure-webjobs-sdk/issues/2917
- [ ] https://github.com/Azure/azure-websites-security/issues/16

[2022-09-23 00:09] REslim30 commented on #1696
@v-bbalaiagar is there a fix for this issue?

Setting `FUNCTIONS_EXTENSION_VERSION` to 3 is no longer a viable option as support is ending on 30 September 2022.

<img width="574" alt="image" src="https://user-images.githubusercontent.com/43259657/191871655-de528a44-ccb6-4fc3-b78c-b33455374182.png">

If not, are there any other workarounds? Otherwise, could you direct me where I can file an issue?

[2022-09-23 03:23] ramya894 commented on #2255
Closing as answered.

[2022-09-23 03:23] #2255 closed

[2022-09-23 09:50] vinsten99 commented on #2248
A workaround for it is to deploy the fucntionapp with a dedicated app plan or premium, the references get resolved the. Although i did deploy with the dedicated app plan the references did get resolved but now the function in my app gets an error during deployment stating internal error hostruntime not reachable :(

Been using this as ref. https://learn.microsoft.com/en-us/azure/azure-functions/fu

[2022-09-23 14:09] mmyers299 opened #2273 "Are health checks for azure premium functions still not recommended?"
Please describe the documentation request or issue.  Be as specific as possible.
As talked about in issue 1903 https://github.com/Azure/Azure-Functions/issues/1903 there used to be guidance to not have health checks on azure premium function apps in this article https://learn.microsoft.com/en-us/azure/app-service/monitor-instances-health-check?tabs=dotnet#limitations   that guidance is no longer l

[2022-09-23 16:24] rahul-adpushup opened #2274 "[Premium] - How azure storage queue triggered function works?"
**Describe the bug**
## Use Case
I am trying to set up cypress testing on the azure function. We'll deploy the cypress code on the azure function which runs on Linux VM. Cypress has some system-level dependencies which are not available directly on the azure function instance.

Below are the dependencies required by cypress to run on linux
[code]

In order to get these dependencies on the azure fu

[2022-09-23 23:16] kmadof commented on #2264
@ramya894 as soon as I will be back from holiday I will do it!