[2017-03-03 15:44] #39 closed

[2017-03-03 17:51] DarkNoir commented on #75
I think there may be some confusion. There is not a 'time limit' as described. There is a timeout if you attempt a function call that remains open for more than 5 min. **If you make your function async, it will not timeout at 5 min.**

[2017-03-03 19:00] mikezks commented on #131
Preventing to change to cold-start mode is quite easy. Just add a time trigger function within the same function app which executes every 5 minutes. But be aware that this may cause additional costs if your free execution credit is exceeded.

[2017-03-03 19:16] christopheranderson opened #195 "5 Minute warning"
Need to add 5 minute limit for Consumption Plan warning here:

https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale

[2017-03-03 19:16] mikezks commented on #188
It is mentioned in a blog post by @christopheranderson  as well:
See [Making Azure Functions more “serverless”](https://blogs.msdn.microsoft.com/appserviceteam/2016/11/15/making-azure-functions-more-serverless/).

[2017-03-03 19:36] DarkNoir commented on #75
I am not hitting this time out in my implementation. I created my function to run a task that takes longer than 5 mins buy using a Task for my logic. The function returns right away obviously since the logic is now async. My async task runs to completion outside the 5 min timeout. Try this and see for yourself.

`DateTime d = DateTime.Now;
Task t = new Task(() =>
{
log.Info("Doing long task");
for

[2017-03-03 19:52] davidebbo commented on #195
Tracked by #188

[2017-03-03 19:52] #195 closed

[2017-03-03 20:02] ggailey777 commented on #195
We probably should document all of the host.json settings in the main docs and not just the wiki, don't you think?

[2017-03-03 20:15] davidebbo commented on #195
@ggailey777 this issue was closed as dup. Please add any context to the active one instead. Thanks!

[2017-03-03 21:21] lindydonna commented on #75
Note that @DarkNoir's approach only works if the Functions host is kept alive through other means. See reply from @mathewc on this thread: https://github.com/Azure/azure-webjobs-sdk-script/issues/18#issuecomment-284049611

[2017-03-03 22:49] ggailey777 commented on #188
@lindydonna @christopheranderson It seems like we need to document all of the host.json settings (and the defaults) in the main docs and not just the wiki, don't you think?

[2017-03-04 01:19] lindydonna commented on #188
@ggailey777 Yes, but I think that's a lower priority item than things that aren't documented anywhere. We now have a json schema for host.json which means it will be automatically documented in Visual Studio.

[2017-03-04 02:31] lindydonna commented on #193
@johnnliu Thanks for the table, this is super-helpful!

[2017-03-04 15:53] atrauzzi opened #196 "Add a way to trigger functions from my Azure portal dashboard"
I think it'd be neat if there was a type of button that could be used to call azure functions on click from the dashboard.

Prompting for values might be a consideration.

Would be extra neat if these buttons could be shared somehow as part of a resource deployment.

[2017-03-04 16:29] atrauzzi opened #197 "npm install just hangs"
When I go to kudu to perform an npm install for my nodejs based functions app, I get the feeling like things just aren't working or going extremely slowly:

![image](https://cloud.githubusercontent.com/assets/115199/23580343/6f3761d0-00c5-11e7-9c43-bd5127b6c81b.png)

Screen sits like this seemingly indefinitely.  I mean, long enough that I strongly suspect something is wrong as nobody should be ex

[2017-03-06 13:28] JWiersema opened #198 "VS2015 Functions preview template AppSettings"
- For issues with the Functions Visual Studio tooling, provide detailed steps to reproduce, including details about your environment (OS, VS version, etc)
I'm using VS2015 Update 3 on windows 10 enterprise with the tools from 6 december. I have below appsettings.json file. These appsettings do not appear in the app service when I publish from VS2015 to a new app service. Mysteriously the appsettin

[2017-03-06 18:02] jaysnanavati opened #199 "Use SAS token to connect to Azure storage"
Hi - I am trying to follow (https://docs.microsoft.com/en-us/azure/storage/storage-dotnet-shared-access-signature-part-1) in order to use a SAS connection for a blob trigger but I get the error message: Microsoft.WindowsAzure.Storage: No table endpoint configured. on the dashboard, please if someone could guide me with this.

Thanks

[2017-03-06 18:58] ggailey777 commented on #159
Fixed by @rachelappel https://github.com/Microsoft/azure-docs-pr/commit/c114d73c15ffb58b504dd0ad729c3aa6a7fa5008

[2017-03-06 18:59] #159 closed

[2017-03-06 19:09] SyntaxC4 commented on #18
https://github.com/Azure/azure-webjobs-sdk-script/wiki

[2017-03-06 19:10] SyntaxC4 commented on #18
@lindydonna Hey could you post the kudu doc link for this?

[2017-03-06 19:13] SyntaxC4 commented on #158
@lindydonna - Can you expand on this topic as to why you should use this for resource sharing, but not state sharing between your functions?

[2017-03-06 19:15] SyntaxC4 commented on #147
@jeffhollan - Is there any additional action here, or can we close this down?

[2017-03-06 19:20] ggailey777 commented on #162
Removed those too collection items. Also, changed the instance of Foo*

[2017-03-06 19:21] SyntaxC4 commented on #164
@lindydonna - Could you provide the text needed for this and where you think it would sit best in the documentation?

[2017-03-06 19:29] SyntaxC4 commented on #168
We should make sure that we exclude this from unsupported features. I think only Functions with Timer & Storage are support.

[2017-03-06 19:57] lindydonna commented on #18
@SyntaxC4 I misunderstood earlier and thought we were talking about NPM restore, which you have to do manually with deploy.cmd with Kudu. For NuGet restore, I can write up the text and a writer can decide where to put it.

[2017-03-06 22:24] panchagnula commented on #191
@stefan-akelius Orange indicated that the function never completed execution (see never finished below)
Also, I noticed that the Logs section is empty in the above screen shot - is this expected for your function? Any exception or error logged , is displayed here.
    public enum FunctionInstanceStatus
    {
        None, // shouldn't be used. Can indicate a serialization error.
        Queued, //

[2017-03-07 03:39] lindydonna commented on #45
@SimonLuckenuik The limitation is on both regular App Service and Consumption plans.

That is a really nice trick on using Functions Proxies!

[2017-03-07 09:11] Richard004 commented on #158
Sure. My function is a "stateless" service which takes request parameters from the user, uses some static resources and generates some output/report. The resources are "static" document templates + some form of expression source code which is stored on azure blob storage.

The static templates are typically not changed regularly unless an administrator releases/deploys new version once in few week

[2017-03-07 10:51] SimonLuckenuik commented on #189
For C# assemblies, I use the traditional assembly version, for CSX, I add a replacement token in source files that is being replaced by the CI server. The Replacement token should be applicable to any "file based" programming language. The version is also added to my logs to make sure I have good visibility on it. It is also visible from the portal for all file based scripts. That's the best I fou

[2017-03-07 11:36] SimonLuckenuik commented on #158
Here is a good example of why static resource sharing can be useful: https://aspnetmonsters.com/2016/08/2016-08-27-httpclientwrong/

Is there any kind of documentation available that explains the complete lifecycle of the code in C# specifically, like how are appdomains managed: is it one appdomain per execution per function? one appdomain per function reused between executions? one appdomain per

[2017-03-08 07:23] sergsalo commented on #122
@davidebbo It happens again. Consumption plan. Function name: ampbrokerhxc23nhsty2jk, appName: http://ampbrokerhxc23nhsty2jk.azurewebsites.net.

The interval between data arrival is 5 minutes. Trigger: TriggerAzureMetrics. If I watch it - it works fine. If I leave portal - it stops working. consistent.

[2017-03-08 09:33] abhi004 opened #200 "Could not load file or assembly 'NuGet.Frameworks, Version=3.4.3.0,"
Hi,
Started getting issue with VS 2015 while running the Generic web hook project  in C# .
I am getting below exception
Could not load file or assembly 'NuGet.Frameworks, Version=3.4.3.0,

[2017-03-08 15:35] DKincer commented on #200
Also receiving the same error as of March 7th.

StackOverflow on the issue: https://stackoverflow.com/questions/42673617/cant-local-debug-azure-function-cli-update-march-7th-2017

MSDN: [Report](https://social.msdn.microsoft.com/Forums/en-US/d599889a-8ec7-4213-9b21-2544d6a18f51/visual-studio-tools-for-azure-functions?forum=AzureFunctions)

[2017-03-08 17:06] garrardkitchen opened #201 "Functions Tooling for Visual Studio 2017"
Is tooling coming to VS 2017?

Warmest regards,

Garrard.

[2017-03-08 17:18] mleffert commented on #167
What is the max number? Also what would be a recomended max?

[2017-03-08 18:45] sergsalo opened #202 "Azure Function Not Triggering by Event Hub in Consumption plan #2"
same as https://github.com/Azure/Azure-Functions/issues/122. I added a comment but not sure about visibility of closed issues. Readding it here:

Consumption plan. Function name: ampbrokerhxc23nhsty2jk, appName: http://ampbrokerhxc23nhsty2jk.azurewebsites.net.

The interval between data arrival is 5 minutes. Trigger: TriggerAzureMetrics. If I watch it - it works fine. If I leave portal - it stops

[2017-03-08 19:48] lindydonna commented on #42
@Dafnafrank Could you open a new issue or forum post with the exact code you're using?  Post here: https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=AzureFunctions

[2017-03-08 20:55] davidebbo commented on #122
@sergsalo I have a suspicion as to what might be going on: how are you editing your function files, and in particular function.json (which contains the triggers)? If you're doing it via App Service Editor, then it doesn't properly sync the triggers, which would explain this.

Try going to the Functions UI and clicking the Refresh button in the bottom left corner. That should get you fixed up.

[2017-03-08 22:40] meikelenboom opened #203 "Functions Tooling is incompatible with Azure SDK 3.0.0"
I was using the preview project template in Visual Studio 2015 as part of a presentation I'm giving next week.

Today I've updated the Azure 2.9.6 .NET SDK to version 3.0.0 and I've updated my VS 2017 RC to RTM. With these updates, the project template has gone missing. And I can't seem te get it back. I tried to revert the SDK back to 2.9.6 and I've reinstalled the preview tools again. Unfortunat

[2017-03-08 22:49] sergsalo commented on #122
@davidebbo  apparently it is working now. We deploy function using ARM Template and powershell scripts to push code.  Is there API we can call to "refresh" after deploy?

[2017-03-08 23:07] davidebbo commented on #122
See [here](https://github.com/davidebbo/AzureWebsitesSamples/blob/3df2dd42025493c5a41a9fb3fb1f4c9eb0b4317a/PowerShell/HelperFunctions.ps1#L288-L291) for PowerShell / API example.

How exactly is your script pushing the code?

[2017-03-08 23:16] sergsalo commented on #122
We are pusing using Kudu API:
Invoke-RestMethod -Uri $apiUrl -Headers @{Authorization=("Basic {0}" -f $base64AuthInfo)} -Method PUT -InFile $fileName -ContentType "multipart/form-data

[2017-03-08 23:27] sergsalo commented on #202
discussion continued in https://github.com/Azure/Azure-Functions/issues/122. I will close this one.

[2017-03-08 23:27] #202 closed

[2017-03-08 23:53] davidebbo commented on #122
Ah yes, that would do it. Currently, the only deployment techniques that automatically do a sync are:

- Function Portal
- Git deployment via Kudu
- WebDeploy (e.g. VS publishing or VSTS)

I think if you integrate the PowerShell I gave you into your script, it will work reliably.

[2017-03-08 23:56] SyntaxC4 opened #204 "Service Bus Binding doesn't create the Queue"
The documentation available on [Service Bus Bindings](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus) mentions that the default access rights is: `"accessRights": "Manage"` but the text that states the connection string needs management access rights as well isn't clear.

Can we clarify the text to ensure customers don't get blocked by non-management connecti

[2017-03-09 00:05] sergsalo commented on #122
cool, thank you so much for quick update!

[2017-03-09 02:02] lindydonna commented on #158
@SyntaxC4 I think Chris already explained it well in his comment. Because you can have multiple instances running, it's not a good idea to use static variables for session state between functions. For read-only data, it's very useful.

[2017-03-09 02:05] mathewc opened #205 "Reconcile our various logging mechanisms"
For a function app we have our portal logging which drives log streaming/portal debugging, as well as long term Monitor tab logging. There is also the Web Apps enable logging UI which is something completely separate. This confuses Function App users who go in there and enable that - see https://github.com/Azure/azure-webjobs-sdk-script/issues/1222. I excerpt:

Function App -> Settings -> (Monitor

[2017-03-09 11:35] davidtme opened #206 "F# script works on portal but not in cli"
The following code works on the azure portal but errors when uses the cli (v1.0.0-beta.93):

__Run.fsx__
[code]

__project.json:__
[code]

__Error Message:__

[code]

[2017-03-09 11:37] davidtme commented on #206
RE: https://github.com/fsprojects/FSharp.Data.TypeProviders/issues/17

[2017-03-09 12:48] juunas11 commented on #200
This was fixed in version 1.0.0-beta.93 of the Azure Functions CLI. VS should ask you to update.

[2017-03-09 14:29] ericleigh007 commented on #75
okay @DarkNoir , please remove your post on [StackOverflow](http://stackoverflow.com/questions/40800933/azure-functions-pricing-and-timeout).   Per what you found above, it is misleading.  I'm glad I came here before bothering with the Task  code.

At any rate, I am still in favor of making Azure "better" than AWS and not just copying their "EXACT" Lambda limitations.

[2017-03-09 15:10] GenesisCoast commented on #203
@meikelenboom I am having the same problem to any luck yet?

[2017-03-09 15:56] DarkNoir commented on #75
Thanks @ericleigh007 for the heads up on being able to delete a post. The post that was deleted was me believing that creating an async function would allow it to run for more than 5 mins. The framework has a timeout internally for the mechanism that calls your functions set at 5 mins. This get bypassed when you make your function run async. HOWEVER there is also a 5 min time limit on how long you

[2017-03-09 16:54] skorunka opened #207 "Azure Function storage -"
Can I share one Azure Storage Account with a two different Azure Function containers?

here I have two Azure Function containers:
![image](https://cloud.githubusercontent.com/assets/218913/23760774/9d983cf8-04e8-11e7-8999-72bdae287089.png)

And they share a one storage account:
![image](https://cloud.githubusercontent.com/assets/218913/23760803/b1631802-04e8-11e7-85ed-65ce1c163d12.png)

The functi

[2017-03-09 19:25] logischdenker opened #208 "Precompiled Function Template Solution for Visual Studio"
Recently I have created the repository

https://github.com/logischdenker/AzurePrecompiledFunctionTemplate

It is a template solution for Visual Studio 2017 based on c# and it contains enough documentation to get you started with precompiled Azure functions quickly.

Maybe you'll find it helpful and you want to add it to your samples section?

All the best
Bastian

[2017-03-09 19:49] meikelenboom commented on #203
No luck so far. Had a chat with Andrew Hall on twitter (@AndrewBrianHall), although he's very helpful, it's not solved yet.

@GenesisCoast did you do any of the updates I did?

[2017-03-10 06:23] Richard004 commented on #158
I agree that the explanation from Chris is very good and matches my expectations. Honestly this is better that what I expected, but sill I would have a question regarding the charges.
What does count as the GigabyteSeconds of the "run" when it comes to the payments?
If there are static variables keeping its values between the function calls the process is obviously allocated in the "VM" memory bet

[2017-03-10 09:04] GenesisCoast commented on #203
Yep, I upgraded the Azure SDK to 3.0.0 and installed VS 2017 and then the project template went missing and VS refused to open any existing function projects. Tried reinstalling VS, Tools, SDK etc... to no avail.

[2017-03-10 12:05] GenesisCoast commented on #203
I just tried completely nuked the entire VS installation. Still no luck. I am wondering if it has something to do with the recent Azure SDK release 3.0?

[2017-03-10 13:52] meikelenboom commented on #203
I reverted the SDK back to 2.9.6 (the version recommended in the blog post) and that didn't solve it either.

[2017-03-10 18:56] lindydonna commented on #208
@logischdenker Wow, very nice!  Thanks for the contribution, we will definitely help promote.

One note: if you upload function.json via FTP, triggers won't be synced for the Consumption plan. A regular app service plan is not affected. Web Deploy does sync triggers.

The Azure Functions CLI recently added a command for publishing and **does** sync triggers. Documentation is coming soon.

[2017-03-10 19:04] lindydonna opened #209 "Document behavior of timer trigger when scaled out"
When using a timer trigger, a storage lock is used to ensure that only one host executes a timer when scaled out. When sharing a storage account across Function Apps, you should use a different host ID, otherwise only one will run the timer.

Update this doc: https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-timer

[2017-03-10 19:04] lindydonna commented on #207
@skorunka You can share storage accounts between Function Apps, but if you use the same host ID, the timer will only trigger in one (by design). See https://github.com/Azure/azure-webjobs-sdk-extensions/wiki/TimerTrigger.

We need to improve our documentation around this, I've created this issue to track: https://github.com/Azure/Azure-Functions/issues/209

[2017-03-10 19:05] lindydonna commented on #207
Closing this issue. Please reopen if changing the host ID doesn't fix the problem.

[2017-03-10 19:05] #207 closed

[2017-03-10 19:07] lindydonna commented on #203
We're trying to find a workaround, I'll update this thread shortly.

[2017-03-10 19:09] lindydonna commented on #201
It's in progress. I'll keep this issue open as a tracking item.

[2017-03-10 19:10] eryon commented on #201
@lindydonna cool, thanks for the update! Do you know yet if it'll be delivered through the VS2017 installer, or more like a tooling extension as it was for 2015?

[2017-03-10 19:11] lindydonna commented on #190
Sorry for the delay in responding. Contributions can be made to the Azure WebJobs SDK (which are used under the covers by Functions). See https://github.com/Azure/azure-webjobs-sdk

[2017-03-10 19:12] lindydonna commented on #206
This issue was moved to Azure/azure-functions-cli#87

[2017-03-10 19:12] #206 closed

[2017-03-10 19:13] lindydonna commented on #200
Yes, thanks @juunas11 for the StackOverflow post and update on this issue!

[2017-03-10 19:13] #200 closed

[2017-03-10 19:35] lindydonna commented on #201
@eryon Yes, it will be through the VS2017 installer. Should be a much nicer install experience than the current tooling extension.

[2017-03-10 19:39] lindydonna commented on #203
Here's the workaround:

1. Close VS 2015

2. Uninstall **Microsoft Azure App Service Tools v3.0.0** from the Windows "uninstall or change a program dialog"

![image](https://cloud.githubusercontent.com/assets/4260261/23810334/11c3de82-0586-11e7-83ce-1ac7e35de7e4.png)

3. Reinstall the Azure Functions Tooling: https://aka.ms/azfunctiontools

[2017-03-10 19:49] mikeeager commented on #203
That workaround doesn't seem to work either.

[2017-03-10 19:52] GenesisCoast commented on #203
Same for me.

[2017-03-10 19:53] lindydonna commented on #203
@mikeeager The only other advice I can offer is to restart the machine and try running `devenv setup` from an **admin** developer command prompt. [/Setup \(devenv\.exe\)](https://msdn.microsoft.com/en-us/library/ex6a2fad.aspx)

[2017-03-10 19:53] lindydonna commented on #203
@GenesisCoast and @mikeeager Did reinstalling the Functions Tools work without errors?

[2017-03-10 20:05] mikeeager commented on #203
@lindydonna ...it was a clean install without errors.
![broken](https://cloud.githubusercontent.com/assets/8737783/23811185/c059254e-0589-11e7-9f20-8e138e53f9be.jpg)

[2017-03-10 20:06] lindydonna commented on #203
@mikeeager Try the `devenv /setup` command then from my previous comment

[2017-03-10 20:11] lindydonna commented on #158
@Richard004 You won't be charged when a function is not executing. For example, the Functions runtime stays active for 5 minutes after the last function has finished executing, but customers don't pay this cost.

In other words, the unit is GB/sec, which means that if there is no active execution, the memory used doesn't matter.

[2017-03-10 20:21] GenesisCoast commented on #203
I have tried the above command. Reinstalling, Reinstall with Force. Removing all Visual studio Components and Doing a Clean install. I haven't had any luck with any possible workaround so far...

[2017-03-11 13:30] logischdenker commented on #208
@lindydonna Thank you for the note on syncing triggers!

Can you provide a link to an issue that I can follow to stay up to date regarding the documentation of Azure Functions CLI and trigger syncing?

I'd love to make use of this and I plan to write a blog entry about precompiled functions development with Azure Functions CLI.

Finally a big thank you for your awesome work on Azure Functions!

[2017-03-11 16:29] nirmalkumarv commented on #203
Same Issue. Azure Functions are missing even in VS 2015.

The following options doesn't work
- UnInstalled VS 2015, Restarted and Installed Fresh Copy
- UnInstalled Azure SDK 3.0
- UnInstalled Azure SDK 2.9.6 and Re-Installed
- Copied the Project Templates from Peer and Copied to ProjectTemplates Cache. But the error says "The template location not found"
- Explored the Registry Package to check w

[2017-03-11 21:23] jakkaj commented on #201
+1 super excited for this 👍

[2017-03-11 22:08] mmisztal1980 commented on #201
Do you guys have a guesstimate when is this going to be released? this month? within 3 months? or later?

[2017-03-12 11:09] KaiWalter commented on #201
Same question here ... When? ... I'm really burning to use VS2017 allover my projects and do not need to "fallback" to VS2015.

[2017-03-12 13:20] garrardkitchen commented on #201
Thanks @lindydonna for the confirmation.

[2017-03-12 14:49] eriawan commented on #201
@lindydonna just suggestion, this issue should be tracked with VIsualStudio2017 tag.
The VS 2015 tooling is working fine, although afaik it's for C# and JS only.

[2017-03-13 16:27] GenesisCoast commented on #203
I have just tried a clean windows install on a VM. Azure Functions Preview Installed fine. However if the Azure SDK 3.0 is installed or has been previously installed at any point on the machine, you will not be able to use the Azure Functions Preview at all.

[2017-03-13 18:20] SyntaxC4 commented on #167
This all depends on what the functions are doing in terms of resource consumption and not something we can clearly document for all cases

[2017-03-13 18:20] #167 closed

[2017-03-13 18:23] SyntaxC4 commented on #179
@christopheranderson - There are probably a lot of issues that we would need to outline around d:/local is this something that we want to address as we'll have a hard time listing all of the exceptions of when you shouldn't use this.

[2017-03-13 18:26] SyntaxC4 commented on #187
We should also check to see if we have documented this for App Service.

[2017-03-13 18:29] SyntaxC4 commented on #209
@lindydonna Can you expand a bit further on the fix? How does one use a different Host ID? Is this something that is in the host.json?

[2017-03-13 18:30] SyntaxC4 commented on #209
It looks like the host id is a property of host.json: https://github.com/Azure/azure-webjobs-sdk-script/wiki/host.json

[2017-03-13 18:31] #162 closed

[2017-03-13 18:31] SyntaxC4 commented on #209
It looks like the solution would be to create multiple function apps, because that is the only way to have a different host ID.

[2017-03-13 22:01] lindydonna commented on #187
@SyntaxC4 This is specific to how the functions runtime does logging. App Service logging is orthogonal.

[2017-03-13 22:07] lindydonna commented on #179
They can use the HOME environment variable to get to their local directory. If using the Consumption plan, this will be backed by Azure Storage.

I don't know that there's any action here, other than documenting the HOME variable.

[2017-03-13 22:31] lindydonna commented on #209
@SyntaxC4 My original note must not have not have been clear. This is all by design: a timer trigger should not execute multiple times even if a function is scaled out.

The part we need to document is that this is controlled by the host ID in host.json. So, if someone is using multiple Function Apps for dev/test, they shouldn't share host IDs.

[2017-03-14 00:10] lindydonna opened #210 "Document deployment options related to trigger syncing"
When using a Consumption or Premium plan, any changes to triggers that are made to function.json will be synced with the central listener when using the following deployment options:
- Browser editing in functions portal
- Continuous integration and deployment
- WebDeploy
- `publish` command in Azure Functions CLI (`func azure publish functionapp <name>`)
- [Azure Functions plugin for Serverless F

[2017-03-14 00:38] lindydonna commented on #208
@logischdenker Actually, it looks like we are missing documentation on this altogether. I've created this issue to track: https://github.com/Azure/Azure-Functions/issues/210. And this issue tracks the runtime improvements so that things like FTP would work: https://github.com/Azure/azure-webjobs-sdk-script/issues/1300

[2017-03-14 01:34] lindydonna commented on #207
@skorunka: Could you provide information on why you were explicitly setting a host ID in host.json?  Is it because you used the Visual Studio tooling and the Azure Functions CLI?

The right pattern for your scenario is to not specify the host ID, as the Functions runtime will just use the site name as the host ID. Unfortunately, there's currently a limitation in the Functions CLI where it has to s

[2017-03-14 07:44] nirmalkumarv commented on #203
Any Luck or Temporary Workaround?

[2017-03-14 11:42] stefan-akelius commented on #191
@panchagnula sorry for getting back to you late. Yes, there are no log outputs in this function. But what does `Had not finished when host stopped running` mean? When does the host exit? Because there are no loose path inside this function and requests to dependent systems contain timeouts so it should not happen that this function does not exit. Some runs just might take a while (already hosted o

[2017-03-14 13:09] Intranoggin commented on #203
I've gone so far as to uninstall both VS 2017 and VS 2015 and all their related components. After reinstalling just the VS2015 Azure SDK 2.9.6, and the function tools, I'm in worse shape. I see the function project available, but when i try to create a new one, or open an existing function project, it throws a VsProjectFault<guid>.txt file into the appdata/local/temp directory. The log always cont

[2017-03-14 17:09] ggailey777 commented on #15
Just so that I am clear.  We can use this CLI to work with functions in an existing Function App, but it can't be used to create a new function app instance? Do we have any CLI support for creating a new function app?

[2017-03-14 17:14] ggailey777 commented on #112
@lindydonna What is our recommendation then? Only bind to services that are not also being used by production functions? Like recommend having a staging Blob, Queue, Event Hub etc...?

[2017-03-14 17:17] lindydonna commented on #15
We don't currently have any CLI support for creating a new Function App, but we will add support to the Azure CLI 2.0. The Functions CLI will be renamed to Azure Functions Core Tools, since it's more about local development and deployment, rather than resource management. Timeline for the rename is TBD.

[2017-03-14 17:19] lindydonna commented on #112
@ggailey777 Yes, or use environment variables to use a different containers, queues, etc between dev and production. It's usually much cleaner to use different accounts, however.

[2017-03-14 17:19] lindydonna commented on #15
@ggailey777 Also here's a blog post that walks through some of the commands: https://blogs.msdn.microsoft.com/appserviceteam/2016/12/01/running-azure-functions-locally-with-the-cli/

[2017-03-14 17:22] lindydonna commented on #203
@Intranoggin Thanks for reporting, and sorry to hear you're having so much trouble.

Here's a workaround: you can instead create a Web Application project and customize the "Start Action" to run the Functions CLI, which will attach a debugger. Here are the steps: https://github.com/lindydonna/CoderCardsv2#local-debugging-in-visual-studio

I'll have a blog post in a few days that walks through from

[2017-03-14 17:45] ggailey777 commented on #82
@christopheranderson do you have the correct link for that PDF download? Perhaps the file got taken down?

[2017-03-15 00:52] panchagnula commented on #191
@MikeStall , can you clarify @stefan-akelius question above please?

[2017-03-15 01:32] lindydonna commented on #199
You need to provide a connection string with full permissions to the storage account, because tables and queues in the account will also be used.

[2017-03-15 01:34] lindydonna commented on #198
appsettings.json is only used locally, not in Azure. The reason you saw those settings in Azure is because they are set automatically when you create a Function App.

For the other issue, there is a bug where Visual Studio is publishing project.lock.json on publish. There's a workaround in this issue: https://github.com/Azure/Azure-Functions/issues/175

[2017-03-15 01:34] #198 closed

[2017-03-15 01:36] lindydonna commented on #197
This is probably a limitation of Azure Files, which has latency with multiple small files. Consider using a webpack tool as a workaround: https://github.com/christopheranderson/azure-functions-pack

[2017-03-15 01:37] lindydonna commented on #196
This is already supported in the Test tab in the Functions portal. Are you looking for something beyond that?

[2017-03-15 02:57] atrauzzi commented on #197
I've actually been able to come up with a build flow that deploys to app service after gathering everything.  Thanks!

[2017-03-15 02:58] atrauzzi commented on #196
What I had in mind was more like binding a function to a tile in my Azure dashboard.

[2017-03-15 05:49] kaushalp opened #211 "Add documentation which explains the limitations of Azure Functions"
There is no documentation that I could find which mentions the limits of Azure functions. This link doesn't cover Azure Functions: https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits

The pricing page doesn't contain any useful information either.

For example AWS lambda limits are documented here: http://docs.aws.amazon.com/lambda/latest/dg/limits.html

[2017-03-15 07:08] facadev commented on #197
@lindydonna Is it also Azure Files that causes Azure Functions to start very slowly? I have Functions that take 100s or even more in cold start, around 6s in warm start (if there is any mechanism I suppose) and 600ms to complete if they are called frequently.

[2017-03-15 07:51] nirmalkumarv commented on #203
Finally able to resolve temporarily in a Harsh way
- UnInstalled SDK 3.0, Installed again the SDK 2.9.6
- Added Missing Entries in Registry
- Copied the Necessary Packages and DLL's to C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\Extensions\Microsoft\Web Tools Azure
![azurefunctions](https://cloud.githubusercontent.com/assets/897323/23938428/4a60aef0-0982-11e7-9ecb-2b8364a88ef2.

[2017-03-15 20:26] Intranoggin commented on #203
@lindydonna  Unfortunately still no luck. I tried cloning that project on two machines and couldn't get it running on either.

1 machine still has VS 2017 installed. After reading host.json, this one says "ScriptHost initialization failed. Microsoft.WindowsAzure.storage: unable to connect to the remote server. System: unable to connect to the remote server. System: no connection could be made the

[2017-03-15 21:37] lindydonna commented on #203
@Intranoggin Ah yes, there is a situation where the port handle can be allocated to an app that is no longer running. In the CLI we have a bug to use a new port if the existing one is taken.

Try passing an explicit port via "-p 7072" for instance. Visual Studio always uses 7071.

[2017-03-15 21:41] lindydonna commented on #197
@facadev Yes, this is a limitation on the Consumption plan, which can cause cold start problems. Webpack will make things much better all around: https://github.com/christopheranderson/azure-functions-pack

[2017-03-15 23:19] UnoSD opened #212 "Performance difference between App Service Plan and Consumption Plan"
It would be useful to have performance indications in the documentation. Our team has done some testing and it looks like Azure Functions is massively slower than a .NET Core app on a F4 VM performing the same job (by 3-4 times on avg).

The Azure Function is running on a Consumption Plan so we do not have control over the scaling.

I presume the delay is due to the allocation of resources and we

[2017-03-16 09:17] skorunka commented on #207
@lindydonna yes, the VS has automatically generated and set the ID in host.json file. I did not know the ID needs to be different, now it makes sense. Thank you.

[2017-03-16 13:46] jaysnanavati commented on #199
Thanks! - that makes sense, and I recall from the documentation reading about blob receipts (which would require additional data structures, hence the tables and the queues)

[2017-03-16 13:46] #199 closed

[2017-03-16 16:28] mathewc opened #213 "Add documentation that input properties in binding expressions require a POCO definition"
I created a related issue in the SDK repo here to explore improving the error message: https://github.com/Azure/azure-webjobs-sdk/issues/1066. This issue links to the SO post with the details.

I looked for doc on this (e.g. here) but didn't find anything that really helps. I don't see anything that mentions that you must define a POCO bound to your input in C#/F# in order to use input properties

[2017-03-16 16:32] ggailey777 commented on #168
Final missing **Try it now** additions are part of [this PR]( https://github.com/Microsoft/azure-docs-pr/pull/8332).

[2017-03-16 17:58] Intranoggin commented on #203
Using the Compiled function method you linked to, I was able to get it running from VS 2017!

The port issue you pointed to was solved with the -p as you indicated.

The System: no connection could be made the target machine actively refused it 127.0.0.1:10000 issue was because I had not yet initialized the Azure Storage Emulator (I had reinstalled it).

On my VS 2015 install, my web deploy is now

[2017-03-16 18:46] lindydonna opened #214 "Traffic Manager Integration"
_From @arafato on May 23, 2016 19:4_

Hi--,

is integration of Azure Functions with Traffic Manager (TM) supposed to work? I've just tried it out, however, TM is not able to resolve the endpoints. Thanks!

Best regards
--Oliver.

_Copied from original issue: Azure/azure-webjobs-sdk-script#379_

[2017-03-16 18:46] lindydonna commented on #214
_From @davidebbo on May 23, 2016 19:21_

At this time, Function Apps in the Dynamic sku have a limitation that they don't support custom host names. It lets you register them but they don't actually work, which I think is why TM is not working.

This is something that we're planning to enable, but will take a few iteration. That logic sits outside of the GitHub code base, but it's ok to track it h

[2017-03-16 18:46] lindydonna commented on #214
_From @christopheranderson on May 24, 2016 22:41_

Assigning to myself to track

[2017-03-16 18:46] lindydonna commented on #214
_From @christopheranderson on June 21, 2016 20:32_

Need to chat with platform folks to see if this will be around for rc. Might change milestone to help me track.

[2017-03-16 18:46] lindydonna commented on #214
_From @DarinMacRae on September 26, 2016 18:12_

Just ran into this one myself. Any status update on this? I'm using ~0.6.

[2017-03-16 18:46] lindydonna commented on #214
_From @AndyMDoyle on November 16, 2016 8:21_

Any update on this now Azure Functions has hit release?

[2017-03-16 18:46] lindydonna commented on #214
_From @DKincer on March 16, 2017 13:5_

*bump* Checking if there is an update on this issue. Currently publishing an Azure Function takes it offline. Need to set up a priority traffic manager to divert from East to West during a publish

[2017-03-16 18:46] lindydonna commented on #214
@DKincer We'll be enabling this feature soon in the UI. I'll see if there's a workaround using ARM APIs in the meantime.

[2017-03-16 20:48] lindydonna commented on #203
I've posted a blog with detailed instructions on how to use precompiled functions in VS, which is the direction we'll take with the new tooling: https://aka.ms/precompiled-functions

[2017-03-16 20:52] lindydonna commented on #203
@Intranoggin Afaik it's Microsoft.AspNet.WebApi.Client as specified in packages.config: https://github.com/lindydonna/FunctionsAsWebProject/blob/master/FunctionsAsWebProject/packages.config#L3

However, you may also need to install one of the ASP.NET SDKs on your machine. [HttpRequestMessageExtensions\.GetQueryNameValuePairs](https://msdn.microsoft.com/en-us/library/system.net.http.httprequestmess

[2017-03-16 21:30] lindydonna commented on #196
Unfortunately, this isn't possible, since tiles have to conform to the Azure Portal extension model. The Functions experience is an Angular 2 web app, and we don't plan to create this kind of extension.

[2017-03-16 21:30] #196 closed

[2017-03-17 16:54] #168 closed

[2017-03-17 16:59] ggailey777 commented on #32
@SyntaxC4 were you working this comparison table? Is that what you showed me on Tuesday?

[2017-03-18 00:59] lindydonna commented on #214
@DKincer Traffic Manager does not work. I'm keeping this issue open to track the feature request.

[2017-03-20 11:42] DKincer commented on #214
Thank you.

[2017-03-20 13:46] ArunAdPushup opened #215 "Error while decoding Avro data with NodeJS"
Hi,

I am using ``Azure EventHubs archive`` to store my event hubs data to an azure blob storage. Eventhubs archive stores the data in ``avro`` format. I've written an ``Azure function`` in ``NodeJS`` that listens to the blob trigger event (fired whenever data is sent to Eventhubs and written to the blob storage in ``avro`` format).

I am using the [avsc](https://github.com/mtth/avsc) library for

[2017-03-20 18:05] mschmidt-healthx commented on #161
The documentation (and configuration UI) also appears to be missing the partitionKey element.  Using the advanced editor I was able to add it and actually get results from a partitioned collection (using a fixed partition key).  I'm interested too if there is a way to bind both the id and partition key to inputs from, say, a service bus queue message; there doesn't seem to be an obvious way of get

[2017-03-20 18:32] mschmidt-healthx commented on #161
I was able to figure it out, I needed to create a POCO that a json document in the queue message would be bound to, and those field names are then available as binding parameters.  It's really not obvious though.

[2017-03-20 20:57] #18 closed

[2017-03-21 00:26] sergsalo opened #216 "Azure Function started to throw errors when opened in portal"
Errors are about two properties:
WEBSITE_CONTENTSHARE
WEBSITE_CONTENTAZUREFILECONNECTIONSTRING

It tells me that I now need to add these two properties, otherwise my function would not work.

Are these required now? If someone can provide more details I would really appreciate.

[2017-03-21 11:51] janeski commented on #201
Any update on this?

[2017-03-21 13:30] #25 closed

[2017-03-21 17:04] joshlincoln opened #217 "VS C++ Redistributable not in Azure Function Environment"
Hi,

Is there any chance we can get the [VS C++ 2015 Redistributable]( https://www.microsoft.com/en-us/download/details.aspx?id=48145) installed into the Azure Functions environment?

There are certain libraries which I am wanting to use with Azure Functions which require this, such as Tesseract.

As far as I can tell, this doesn't exist in the Azure Function environment, and there is no way for u

[2017-03-21 17:22] dereksonthejob commented on #201
Updates on Functions Tooling for Visual Studio 2017 #visualstudio2017

[2017-03-21 17:53] lindydonna commented on #201
It's under active development, but we don't have a date to share. The new tooling will be based on class libraries. You can use a few manual steps to use a web project in VS 2017 with support for debugging functions.

See blog post: https://aka.ms/precompiled-functions
And YouTube video walkthrough: [Create a Function App as a Web Project](https://www.youtube.com/watch?v=R7F92POLGaE)

[2017-03-21 20:22] janeski commented on #201
Thank you @lindydonna

[2017-03-21 21:54] mikeeager commented on #203
@lindydonna I followed blog you authored about pre-compiled functions to a tee and all works well. Thanks for that. I actually really like the flow much better. As soon as I tried to hook up a VERY simple Storage Table read / write in the function I get errors indicating that I don't have my connection string set up properly to my remote Storage Account...but indeed I do have it set in the appsett

[2017-03-21 21:57] lindydonna commented on #203
@mikeeager That should work fine, I do this all the time.

Make sure that you don't have encrypted settings in appsettings.json. Also make sure the structure is correct; it has a property for whether or not the contents are encrypted.

Should look like this:

[code]

[2017-03-21 22:05] mikeeager commented on #203
You are a life saver!!! I've been fighting this one for awhile. All good now and thank you so much. Seems there is much to learn for others in this thread.

[2017-03-21 22:23] christopheranderson opened #218 "Best Practice: Don't use the default storage account for heavy workloads"
Need to add a section in our docs on best practices, if we don't have one already. Specifically, we need to mention how one should not use the default storage account (AzureWebjobsStorage, AzureWebJobsDashboard) for your own function bindings if they'll be under any kind of heavy load.

Something like:

## Avoid heavy additional usage of the default Storage Account

It is a best practice to use a

[2017-03-21 22:40] lindydonna commented on #203
@mikeeager In the future, the tooling will help with these connection strings.

You can also use the Functions CLI to add and edit them. Do `func settings add` and `func azure functionapp fetch-app-settings`

[2017-03-22 00:24] lindydonna commented on #216
How did you create your Function App?  If you create it from the portal or Visual Studio, those properties should be added.

If you created it from an ARM template, follow this sample: https://www.yammer.com/azureadvisors/#/Threads/show?threadId=857091106

[2017-03-22 00:27] lindydonna commented on #218
@rachelappel Is this something you could take on?  Seems like a good fit for the best practices doc: https://docs.microsoft.com/en-us/azure/azure-functions/functions-best-practices

[2017-03-22 00:37] yochay commented on #212
Can you provide more information to the actual workload you are running? Is it HTTP trigger, EventHub, Q?

[2017-03-22 01:40] rachelappel commented on #218
@lindydonna  Sure thing.

[2017-03-22 02:25] sergsalo commented on #216
ARM template. the link you shared requires subscription

[2017-03-22 11:41] dreadeddev commented on #203
Ok, so following this thread all the way through it seems unless you do a lot of hacking (a post mentioned adding missing registry settings but didn't say which ones) and copy of dll's, If you've installed 3.0 of the SDK you're basically fubar'd for working with Azure Functions locally??

 Is my understanding correct?

And if so, that makes me worry for creating an architecture where basic develop

[2017-03-22 11:57] dreadeddev commented on #201
Any idea on a date for when they are going to fix the App Service 3.0 SDK so it actually supports what it's predecessor did, or at least update the installer so that when it removes it 2.96 goes on cleanly!

[2017-03-22 12:09] SimonLuckenuik commented on #203
@dreadeddev, what is broken is the Visual Studio integration, not the "working locally part". The link posted by @lindydonna above should be sufficient to work locally with Azure Functions until they release the new VS Functions Tooling: https://aka.ms/precompiled-functions

[2017-03-22 12:26] dreadeddev commented on #203
Well yes @SimonLuckenuik, but that's just semantics. essentially it was all working locally, they release an update that breaks it and so we now have to move everything from the original functions project into a new project, thus loosing all history etc in source control, and then will this project then just work with the new tooling? or will we need to repeat this process again? Pretty poor exper

[2017-03-22 12:45] dreadeddev commented on #203
Also, can I just check soemthing with you @SimonLuckenuik / @lindydonna

Are you recommending that we uninstall 3.0 and install 2.96 as from some of the comments here and on the other page it seems that when you do that it causes more issues later on when you need to upgrade again? Is there any workaround that works with 3.0 installed?

[2017-03-22 12:46] SimonLuckenuik commented on #203
@dreadeddev, no need to be so upset, just trying to help here...

- Azure Functions Visual Studio support tools are tagged as Preview for a reason, it's a preview that can change in time (Quote: "These tools are offered as a preview release and will have some rough spots and limitations" : https://blogs.msdn.microsoft.com/webdev/2016/12/01/visual-studio-tools-for-azure-functions/).
- It was workin

[2017-03-22 12:49] dreadeddev commented on #203
@SimonLuckenuik Apologies if I come across stroppy, I tend to be a little sarcastic in life generally (as anyone whose worked with me will testify) however, tongue in cheek sarcasm doesn't always come across too well when typed! I appreciate the help! Much love guys!

[2017-03-22 20:29] lindydonna commented on #216
@sergsalo Oops, copy-paste problem. Fixed the link.

[2017-03-22 22:15] UnoSD commented on #212
@yochay sure; it's basically an HTTP triggered function sending a message to a service bus queue and, of course, same pattern in the .NET Core app. Thanks.

[2017-03-23 00:00] mathewc opened #219 "SendGrid doc for Node is incorrect"
See issue https://github.com/Azure/azure-webjobs-sdk-extensions/issues/205 which shows the correct code. When the doc samples are updated, someone needs to run the code to make sure it works.

[2017-03-23 08:29] erikogenvik opened #220 "Consuming event hub events stops when not observed"
# The summary
It appears that my Javascript Function which consumes event from an EventHub only does this when I have a web browser open and observing the log stream. The moment I close the lid on my laptop and the log stream connection is severed the consumption stops. As soon as the web browser is reactivated the consumption resumes.
# Expected result
Azure Functions keeps consuming messages in

[2017-03-23 14:36] erikogenvik commented on #220
This might be a duplicate of https://github.com/Azure/Azure-Functions/issues/122
I've changed my connection string by removing the EntityPath parameter. Let's see how it behaves during the evening.

[2017-03-23 17:25] ggailey777 commented on #15
@lindydonna two questions 1) are we now calling the Functions "CLI" "Azure Functions core tools?" 2) Do we want to show both VS and  VSCode + core tools in the local dev topic?

[2017-03-23 17:58] lindydonna commented on #15
@ggailey777 We're going to rename it in the next release, see https://github.com/Azure/azure-functions-cli/issues/92

I think we should have one topic that just explains the command-line by itself. Then, we can have a topic that specifically talks about debugging that has VS Code and VS.

The VS tooling is going to substantially change in the next release, so we should only cover debugging IMO.

[2017-03-23 19:50] thdotnet opened #221 "Trust Center - HIPAA"
Sorry for opening this issue over here, but I believe it will be easier for you guys to route internally. In the following page, there's no mention to Azure Functions as covered services:

https://www.microsoft.com/en-us/TrustCenter/Compliance/HIPAA

[2017-03-23 20:03] lindydonna opened #222 "Improve the ARM template article"
The ARM template article needs some updates (https://docs.microsoft.com/en-us/azure/azure-functions/functions-infrastructure-as-code):

- [x] Use the term Azure Resource Manager in both the title and the left nav. I'm seeing customers consistently fail to find this article.
- [x] The link for "Create a Consumption plan-based Azure Functions app" is pointing to an old commit. It needs to point to m

[2017-03-23 20:05] lindydonna commented on #216
Closing the issue as it is already documented.

[2017-03-23 20:05] #216 closed

[2017-03-23 20:10] lindydonna commented on #208
@logischdenker Added to https://github.com/Azure/Azure-Functions/wiki/Samples

[2017-03-23 20:10] #208 closed

[2017-03-23 20:12] lindydonna commented on #129
Added to https://github.com/Azure/Azure-Functions/wiki/Samples

[2017-03-23 20:12] #129 closed

[2017-03-23 20:14] lindydonna commented on #113
@rachelappel Can you take this?  Let me know if you need more information.

[2017-03-23 20:16] lindydonna commented on #194
@rachelappel This is another good one for the C# developer reference article https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-csharp

[2017-03-23 21:17] SyntaxC4 commented on #222
Thanks @lindydonna I definitely want to rework this article a little bit more. I thought the structured worked out initially, but i'm definitely seeing the same observations as you are.

[2017-03-23 23:58] #13 closed

[2017-03-24 01:35] SyntaxC4 commented on #32
Blog post has gone live here: https://blogs.msdn.microsoft.com/appserviceteam/2017/03/23/azure-app-service-web-api-mobile-ase-azure-functions-sku-comparison-matrix-2/

[2017-03-24 01:35] #32 closed

[2017-03-24 07:18] irwinwilliams opened #223 "When you download an Azure Function that was started in the portal, it doesn't open as a function project"
I created an Azure Function in the portal for a bot I'm working on.
I eventually downloaded it. After installing the Azure function tools for Visual Studio 2015, I noticed I could create new fn projects in VS and get a full debugging experience. However, when opening the solution downloaded, all I saw was a list of solution files and a "func.exe" at the root of the solution.
It seems that when usi

[2017-03-24 09:10] iszczesniak opened #224 "C++ support in Azure Functions?"
Hi,

I would like to use C++ REST SDK to develop my code in C++ and run it as an Azure Function.

Are there plans to support C++ for Azure Functions?

Best,
Irek

[2017-03-24 14:21] vitoc commented on #129
Thanks!

[2017-03-24 17:28] timmyreilly commented on #203
I've found a workaround following Donna's instructions on YouTube:
https://www.youtube.com/watch?v=R7F92POLGaE

But first you need a copy of the Azure.Functions.Cli version 2.9.6 somewhere on your machine.
Here's a zip of it: https://1drv.ms/u/s!AtRpIbCPWnV4m91PFE_EgcVc29zWrA

Follow Donna's instructions and extract the zip and you'll be back in Visual Studio.

[2017-03-24 18:24] lindydonna commented on #203
@timmyreilly There's an easier way, simply download the CLI and unzip, or install from [npm azure-functions-cli](https://www.npmjs.com/package/azure-functions-cli). (FYI I'm removing your OneDrive link out since I don't really want to recommend that approach).

This URL will give you a JSON payload with the URL of the latest CLI: https://aka.ms/functions-cli

[2017-03-24 23:48] #55 closed

[2017-03-24 23:49] #3 closed

[2017-03-24 23:56] SyntaxC4 commented on #26
Can't find.

[2017-03-24 23:56] #26 closed

[2017-03-24 23:58] SyntaxC4 commented on #41
Tracked in Content Plan

[2017-03-24 23:58] #41 closed

[2017-03-25 00:29] SyntaxC4 commented on #82
https://jhaleyfiles2016.blob.core.windows.net/public/Azure%20WebJobs%20SDK%20Cheat%20Sheet%202014.pdf

[2017-03-25 01:13] SyntaxC4 commented on #222
Some other items to track:

- [ ] Providing a full ARM template at the bottom of the screen
- [ ] Providing a “Deploy to Azure” button such that the full template can be deployed
- [ ] Adding a sample Repository (with links), such that they can better understand the structure of the repository which is deployed.
- [ ] Adding a separate deployment step for WebDeploy Deployments, which is an option

[2017-03-25 02:01] bveerendrakumar opened #225 "Telemetry Initializers and processors support"
Hi,

I have gone through app insights support for azure functions. There are some very key functionalities that App insights support are missing/not enabled. These are very important in Enterprise scenarios.

1) Telemetry Initializers
2) Telemetry Processor
3) Managing configuration thorough AI.config or code.
4)  Telemetry Channel properties and sampling modules.

The above mentioned features are

[2017-03-25 02:02] bveerendrakumar commented on #225
Please feel free to contact me @vballa (company email) for more details or want to understand more from us on Enterprise business scenarios.

[2017-03-25 02:33] lindydonna commented on #222
@SyntaxC4 Great ideas!  Feel free to add to the original issue.

[2017-03-25 07:33] atrauzzi commented on #222
Remember that not everyone can run WebDeploy.  You'll probably want to include deployment examples for platforms where it's not available as well.

[2017-03-25 07:34] atrauzzi opened #226 "Getting error: "We are not able to retrieve the keys for function ""
![image](https://cloud.githubusercontent.com/assets/115199/24320447/91986636-1103-11e7-8dc9-8ebdad64a298.png)

This error seems misleading as it's showing up right next to my loaded function.  Not sure what to do here.

[2017-03-25 08:35] ggailey777 commented on #82
Fixed download link: https://github.com/Microsoft/azure-docs-pr/pull/9130

[2017-03-25 15:54] #82 closed

[2017-03-27 10:59] SteveALee opened #227 "Blog for inclusion on wiki"
[AzureServerless](http://azureserverless.com/blog/) mainly posts on Functions but occasionally will do items on LogicApps and anything else Azure serverless related.

Cheers

[2017-03-27 19:42] lindydonna commented on #226
CC @ahmelsayed

[2017-03-27 19:43] lindydonna commented on #225
CC @christopheranderson

[2017-03-27 19:45] lindydonna commented on #223
Did you download the project from the Bot App or from the Function App?

[2017-03-27 19:45] lindydonna commented on #221
CC @yochayk and @christopheranderson

[2017-03-27 20:52] lindydonna commented on #227
Sure thing!

One request though, please update this text to make it clear that Functions is now generally available (as of Nov 2016):

[2017-03-27 21:51] irwinwilliams commented on #223
Bot App.

[2017-03-27 22:02] marcelvandendungen commented on #226
Have the same issue with a new Function app.

[2017-03-27 22:52] lindydonna commented on #223
Then this is actually an issue for the Bot App portal. I'll point them to the issue for follow up.

[2017-03-27 23:09] csharpgirl13 commented on #226
I have the same problem with brand new functions. I'm not able also to create a new key.
![azure_key_issue](https://cloud.githubusercontent.com/assets/25597704/24381903/c955d1b6-1307-11e7-8d78-a655caf6dafc.JPG)

[2017-03-27 23:56] csharpgirl13 commented on #226
This actually happened when I published my new function to the azure portal from Visual Studio 2015. Before I created my functions on the portal manually. So, if I'm creating brand new Function App I'm not experiencing the same issue there.

[2017-03-28 00:01] lindydonna commented on #226
@marcelvandendungen Can you share your Function **App** name?

[2017-03-28 01:15] lindydonna commented on #223
@irwinwilliams Could you post a question on StackOverflow with the tag Bot Framework? http://stackoverflow.com/questions/tagged/botframework

[2017-03-28 01:15] #223 closed

[2017-03-28 07:47] wottah commented on #191
This issue is occurring for me as well. No logging, no running time (0ms), and no predictability as to when this issue occurs.
I see the original poster of this issue deleted his account, but I would still like some answers/resolution regarding this issue.

[2017-03-28 09:50] thduttonuk commented on #90
Any update on when the tooling will be updated to allow adding project references?

[2017-03-28 11:29] SteveALee commented on #227
Oops, Done. A updated it text a little too.

[2017-03-28 15:13] marcelvandendungen commented on #226
Sure, the function app was called KeyvaultMonitor. I deleted the app and recreated it. Seems to work now.

[2017-03-28 15:20] atrauzzi commented on #226
I haven't changed mine at all, it's called `atrauzzi-blog`

[2017-03-28 18:28] mathewc commented on #74
Another customer having problems here: https://social.msdn.microsoft.com/Forums/azure/en-US/0d0750df-6f29-473c-8cfa-75b1c581f799/missing-assemblies-since-two-days

[2017-03-28 20:59] sergsalo commented on #226
I see the same error for function that worked just fine before

[2017-03-28 21:04] lindydonna commented on #90
@thduttonuk We're working on it, but don't have a date to share. In the meantime, you can use precompiled functions with a web project. That will give you all the VS features you're used to. Here's a blog post with details: https://aka.ms/precompiled-functions

[2017-03-29 13:00] M-Andy commented on #220
Having the same problem. I trigger my function via an event from Event Hub. Nothing happens. As soon as I open my function in the Azure Portal all the queued events trigger the function and it executes multiple times.

Using West Europe Consumption Plan.

I can't try the workaround that removes the EntityPath from the connection string as my connection string does not contain an EntityPath. My Eve

[2017-03-29 19:01] niemyjski commented on #201
Any updates?

[2017-03-29 20:05] napalm684 opened #229 "Consumption Plan - Service Bus Topic Trigger - Idle Function"
I have an azure function that is triggered via service bus topic messages.  It is running on the pricing tier consumption.  The problem I have is periodically the function stops executing and lets messages pile up in the service bus topic queue for my subscription.  I checked on the function app settings and the option to have it always on is hidden (I see it load on the page load then disappear).

[2017-03-29 20:22] lindydonna commented on #201
@niemyjski No updates, beyond the support for precompiled assemblies which works in VS 2017 today. When we have something, we'll post on both the [Web Tools team blog](https://blogs.msdn.microsoft.com/webdev/) and the [App Service blog](https://blogs.msdn.microsoft.com/appserviceteam/).

[2017-03-29 21:36] brharr commented on #113
I would like to add a comment here on this issue. In addition to providing more clarification about uploading, I believe that there should be more clarification on the Shared as well. The way that the page reads right now is that there is a specific set of Shared assemblies that can be called using the #r operator when in fact there are a number of others. For example, I needed to use System.Data

[2017-03-29 23:11] tohling commented on #182
Apologies for the delayed response.  I just checked and as of 03/29/2017 4:10 PM PS, it seems that you Function App named **cx-in-functions** currently only has 1 HTTP-Trigger type.  This change was made on 03/19/2017 10:44:28 AM UTC.

Kindly let us know when you have created a new Function or Function App with the repro and we will take a look.

[2017-03-29 23:11] #182 closed

[2017-03-29 23:17] tohling opened #230 "EventHub-Triggered Functions with non-default consumer group not being triggered when Function App idles out"
EventHub-Triggered Functions that use non-default consumer group works fine when Function App is opened in Azure Functions Portal or the Function App process has not idled out.

After the Function App process has idled out, the Function will not be triggered when new events are detected.

[2017-03-29 23:19] tohling commented on #230
This issue is being fixed as of 03/29/2017 and will be rolled out in the next deployment. ETA is 3rd to 4th week of April 2017.  I will update this thread when fix is fully rolled out in production.

[2017-03-29 23:19] panchagnula commented on #191
@wottah  Sorry you are facing this issue - the orange icon on the UX means the API I returning the status to be 'Never Finished'. Mike  owns the API and can comment more on it. In the meanwhile if you are still seeing this can you share the name of your FunctionApp & Function that reproes this? I can atleast narrow this down to the API or UX issue. Thank you.

[2017-03-30 02:21] lindydonna commented on #229
Always On is not applicable when running on a Consumption plan. The "central listener" component **should** wake up the function when there are new messages, but due to the bug you referenced, it didn't work correctly previously. We'll find out if the fix is actually deployed.

For more info on the two plan types, see [Choose the correct service plan for Azure Functions](https://docs.microsoft.com

[2017-03-30 02:22] napalm684 commented on #229
@lindydonna Thank you for responding we are in the midst of user acceptance testing and I have had to keep a browser tab open for the function to process messages arriving at the topic queue.

[2017-03-30 02:35] lindydonna commented on #227
Done!  https://github.com/Azure/Azure-Functions/wiki/Blogs

[2017-03-30 02:35] #227 closed

[2017-03-30 02:39] lindydonna commented on #229
@napalm684 As an ugly hack, you could add a timer trigger that runs every minute and wakes up the Function App.

[2017-03-30 02:40] napalm684 commented on #229
@lindydonna I am considering this as a short term workaround as obviously that eats into the function execution grant that adds to the consumption plans appeal.  I am stuck at the moment waiting for data to come through to see if adding manage rights fixed the problem.

[2017-03-30 02:42] lindydonna commented on #229
@napalm684 Agreed, I intended it as a short-term workaround. Manage rights should fix the problem.

[2017-03-30 02:43] napalm684 commented on #229
@lindydonna Ok now I am a bit concerned I got data and even with manage rights the function is still not being triggered.  Should I be using the root key instead of the one I created with manage, send, listen rights?

[2017-03-30 02:55] lindydonna commented on #229
@napalm684 How did you deploy your functions?  Not all deployment options will synchronize triggers with the central listener. Click the Refresh button in the portal to ensure your triggers are registered.

[2017-03-30 02:57] tohling commented on #229
@napalm684, could you kindly share your Fuction App name directly or indirectly?  If indirectly, kindly follow instructions here https://github.com/projectkudu/kudu/wiki/Reporting-your-site-name-without-posting-it-publicly

[2017-03-30 03:06] napalm684 commented on #229
@lindydonna FTP from our in-house Octopus deployment system.  I assume you are referring to the refresh button on the function app settings?  I did try start/stopping that for what it is worth I will try refresh.

@tohling Here is a dummy site in the same region and resource group: http://dummy123456.azurewebsites.net  the one you care about begins with an 'S'

[2017-03-30 03:22] tohling commented on #229
@napalm684, thanks!

One more question, the connection string for your Service Bus, does it have the EntityPath segment at the end? If yes, please remove it as see if that helps.

If the above does not apply to your Function, that's alright.  I'll investigate and update this thread.

[2017-03-30 03:23] napalm684 commented on #229
@tohling no thank you I appreciate the guidance.  As for the connection string the entity path is removed the functions threw an error notification (toast) when viewing them in the azure editor when I had that initially.

[2017-03-30 08:36] tohling commented on #229
@napalm684, I do see some anomalies in our logs.  I need some time to repro this.  I will get back to you within a day with an update on this thread.

[2017-03-30 11:33] napalm684 commented on #229
Thanks @tohling look forward to hearing what you find out!

[2017-03-30 13:42] rachelappel commented on #113
@lindydonna Yeap I got it.

[2017-03-30 16:35] tohling commented on #229
@napalm684, if you have accessed the Azure Portal, that forcibly causes your Fuction App to come alive.  So, it may look like it's working because the runtime implementation is doing its job.  What I need to make sure is that after your Function App idles out at ~5mins, it will be still be "woken" up when new events are detected.

It may take me some time for me to repro the conditions.  In the me

[2017-03-30 17:35] SteveALee opened #231 "[random idea] Has anyone tried running the Functions host withing Electron?"
This might seem crazy but bear with me! :)

Electron allows us to pack our Web front ends and some parts of a Nodejs server into a native app. This then gives us access to the platform APIs that web sandbox doesn't (yet). It might make sense to move some of our backend functions to the native client....or it might not.

Seeing as the AzureFunctions CLI runs a host including nodejs I wonder if it m

[2017-03-30 18:05] napalm684 commented on #229
@tohling It is possible I will have to talk with my team about that.  As for accessing my function via the portal I have not (I am simply watching on the kudu function log via the direct link to that log i.e.: https://<functionname>.scm.azurewebsites.net/azurejobs/#/functions) which yesterday did not wake up the function or anything.

Without having the function open it has been running all day th

[2017-03-30 18:11] lindydonna commented on #229
I'm not sure if this is related to the issue, but note that FTP upload will not register triggers with the central listener. We need to update our documentation on this, but here's the GitHub issue that documents the behavior: https://github.com/Azure/Azure-Functions/issues/210

[2017-03-30 18:13] tohling commented on #229
@napalm684, thanks for the clarification.  I wanted to see if I could unblock you, hence the recommendation to create the other Function App for your subscriptions listening on the dead letter queues.  Seems like things are working now base on the changes you made last night, so I am glad you are unblocked.

Btw, per @lindydonna's comment above, is it possible that the issue is the cause?

I will

[2017-03-30 18:16] napalm684 commented on #229
@lindydonna certainly worth a shot and couldn't hurt to do this on deployment as a general practice.  I can add that as a step to our deployment definition.

@tohling Can you clarify was the theory the dead letter queue triggers caused the function to go to sleep?  As @lindydonna mentioned earlier the refresh click initially didn't do anything with the non-root access key.  Maybe it was a combinat

[2017-03-30 18:43] tohling commented on #229
@napalm684, all your 4 Functions currently reside inside a single Function App.  That Function App is an instance of the process that gets launched to run the code in one or more of your Functions.  In Consumption Plan, the lifetime of the Function App hosting all your Functions is ~5 mins, after which, the Function App process is terminated.

Typically, the Function App gets launched under 2 scen

[2017-03-30 18:44] napalm684 commented on #229
@tohling thank you for the explanation please let me know if you are able to repro before I get approval from my team to move them to another function app.

[2017-03-30 19:56] ggailey777 commented on #178
I now have this staged for review: https://github.com/Microsoft/azure-docs-pr/pull/9496

[2017-03-30 21:41] napalm684 commented on #229
@lindydonna is there a URL that can be used to call this sync triggers endpoint?  The issue linked seems to utilize web deploy which we are not using.  I'd need a way to make a script or console app make the API call so it can be utilized in our Octopus deploy definition.

[2017-03-31 01:19] lindydonna commented on #229
@napalm684 Yes, there's a Kudu API you can call either through ARM or directly.

See https://github.com/davidebbo/AzureWebsitesSamples/blob/master/ARMTemplates/FunctionsWebDeploy.json#L90

[2017-03-31 01:23] napalm684 commented on #229
This is what I am confused about that is the same link I was looking at that I thought was web deploy specific

          "properties": {
            "synctriggersstatus": "[listsyncfunctiontriggerstatus(resourceId('Microsoft.Web/sites', parameters('siteName')), '2015-08-01').status]"

There doesn't seem to be a URL here also I am not sure I know what ARM is?

[2017-03-31 01:27] lindydonna commented on #229
@napalm684 ARM is Azure Resource Manager. I'm looking up the Kudu API and I'll get you that shortly.

[2017-03-31 01:43] napalm684 commented on #229
Read about ARM we aren't using azure cli of powershell for deployment yet but I imagine we should at some point.  Not sure how this ties in with FTP though as you'd still need to upload the files after using the cli or powershell to create the function app right?  Sounds like the Kudu API call makes the most sense after upload via ftp.  Looks like I can use a small powershell call to the rest endp

[2017-03-31 02:56] spboyer opened #232 "API Definition: swagger.json file location"
Can we move the swagger.json file from wwwroot/.azurefunctions/swagger -> wwwroot/.swagger ? So we can upload files from FTP, Git integration etc?

This would allow for outside creation of the file in other Editors with Swagger extensions etc., then could also support versioning in source control.

[2017-03-31 02:59] spboyer opened #233 "API Definiton: UI feedback"
Swagger editor should note that both YAML and JSON are accepted, also should not re-format one to the other.

If JSON is used in the editor should store and display, and same for YAML.

[2017-03-31 03:01] spboyer opened #234 "API Definiton: Defining external swagger.json capabilities"
- Should display swagger.json in specification editor as read-only
- Allow for test harness to render and test function endpoints if valid

[2017-03-31 05:00] ChrisGarty commented on #203
@lindydonna Installing from https://www.npmjs.com/package/azure-functions-cli and/or running func.exe from the latest CLI... don't seem to fix up Visual Studio so that New > Project > Templates > C# > Cloud will show a Azure Function template. How do I get that Visual Studio template from 2.9.6 back?
Thanks!

[2017-03-31 09:41] tohling commented on #229
@napalm684, I found the issue.  The internal system's (also known as the central listener) support for dead letter queues is currently broken.  Your Functions that rely on dead letter queues will not be triggered by the central listener.

**Cause**
This is a regression due to a recent fix for another use-case. I have fixed this bug and will update this thread again when the fix is rolled out to pr

[2017-03-31 11:34] napalm684 commented on #229
@tohling Were those functions also the reason that non-deadletter functions weren't being triggered too?  If so does the advice stand that these functions should be broken out into their own function app to be triggered manually until the fix is deployed?

@lindydonna were you able to find the api endpoint for kudu to sync the triggers?  I did some digging of my own and was only able to find this

[2017-03-31 16:38] tohling commented on #229
@napalm684, in your current setup with the 4 Functions inside the same Function App, after the Function App process has been terminated due to the 5 mins time out,  unless at least one of the 2 non-dead letter queue Functions have new events, the Function App will not be woken up even if there are new events in one or more of your dead letter queues.

At first I thought it was only a dictionary in

[2017-03-31 17:31] napalm684 commented on #229
@tohling just to be clear this only affects the dead letter queues not the main queues which will wake up as desired?  I ask since it was the non-deadletter queues I originally saw backing up and not waking up the function app.  I am now wondering if that was due to the permission issue and not having the trigger sync run.  I think there were two issues here that one and the one you have identifie

[2017-03-31 17:48] tohling commented on #229
@napalm684, yes the bug only affects Functions that use dead letter queues.  You may be right in that the original observation was due to the missed sync.  In that case, just make sure that you always sync whenever you make changes to any of the Function configuration.

[2017-03-31 19:14] lindydonna opened #235 "Add info about binary dataType setting in function.json"
Add info from this post: [Can Azure function's binding let message passing as buffer or with specific encoding](http://stackoverflow.com/questions/40375655/can-azure-functions-binding-let-message-passing-as-buffer-or-with-specific-enco)

To these docs:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-triggers-bindings
https://docs.microsoft.com/en-us/azure/azure-functions/functions

[2017-03-31 20:36] lindydonna commented on #229
@napalm684 To call the syncTriggers endpoint manually, do a POST to https://function-name.scm.azurewebsites.net/api/functions/synctriggers. You need to be authenticated with the same user context as your Azure credentials.

[2017-03-31 20:37] lindydonna commented on #229
@napalm684 Just saw you previous reply. You can indeed us ARMClient to sync triggers as mentioned here: https://github.com/projectkudu/ARMClient/wiki/Functions-Apis

Here's how to get ARMClient: https://github.com/projectkudu/ARMClient

[2017-03-31 20:59] lindydonna commented on #203
@ChrisGarty Right, the Functions CLI won't fix the Visual Studio template back. You can try uninstalling Azure SDK 3.0 and re-installing 2.9.6, then the Functions Preview tooling.

Alternatively, just use a Web Project and customize your start action. See https://aka.ms/precompiled-functions for details. You can also convert your csx files to .cs, but that's optional.

[2017-03-31 21:00] lindydonna commented on #229
@napalm684 Here's an even better approach:

https://github.com/davidebbo/AzureWebsitesSamples/blob/master/PowerShell/HelperFunctions.ps1#L360-L365

I'll make sure we add this to our documentation.

[2017-03-31 21:04] napalm684 commented on #229
@lindydonna does this require azure powershell (the last one you posted that is).  Looks like it based on the command name in that function?

[2017-03-31 21:10] lindydonna commented on #229
@napalm684 Yes, it uses Azure Powershell.

[2017-04-01 00:33] lindydonna opened #236 "Clean up input/output/trigger table in documentation"
In https://docs.microsoft.com/en-us/azure/azure-functions/functions-triggers-bindings

The table hasn't been updated in a while, and causes customer confusion. See https://stackoverflow.com/questions/42742229/why-are-events-queues-and-topics-not-considered-input

[2017-04-01 18:15] lolekjohn opened #237 "Azure Functions using Web App"
Hi,

I was trying to create an Azure Functions to read the messages from the evenhub trigger and write the result into cloud blob storage. I tried creating a web app as mentioned in the link - [FunctionsAsWebProject](https://github.com/lindydonna/FunctionsAsWebProject). I am actually creating the blob storage binding direction as **inout** and for the entry point function, I am using the parameter

[2017-04-02 01:48] #197 closed

[2017-04-02 01:49] atrauzzi commented on #226
@lindydonna - Still experiencing this issue.

[2017-04-03 15:16] Diavolita commented on #226
Having the same issue as well, been days now...

[2017-04-03 16:09] garrardkitchen opened #238 "How can I set the root of my Azure Functions project?"
I created an AF solution in VS2015 and it create a folder structure similar to this:
[code]
When I deploy via CI the functions are not visible in the UI as they're a level down!

How can I set `project_name\project_name` as the root of my AF project?

Warmest regards,

Garrard.

[2017-04-03 17:33] ggailey777 commented on #77
@christopheranderson and @SyntaxC4 I have made updates that you can review in [this PR](https://github.com/Microsoft/azure-docs-pr/pull/9679)

[2017-04-03 17:43] ggailey777 commented on #83
Added the isRaw flag to the response object reference [here](https://github.com/Microsoft/azure-docs-pr/pull/9679).
@lindydonna Do you think an example of using _isRaw_ is necessary?

[2017-04-03 17:51] ggailey777 commented on #67
@paulbatum @SyntaxC4 does this note sound OK?

### Use small VMs when using App Service Plan

When creating a function app that uses App Service Plan for your JavaScript functions, we recommend that you use multiple small VMs rather than a medium or large VM. At this point, Functions runs JavaScript functions more efficiently on small VMs; using larger VMs will not produce the expected results.

[2017-04-03 17:53] ggailey777 commented on #235
@lindydonna can you make sure to add the Pri assessments on these backlog items? Thanks.

[2017-04-03 17:54] paulbatum commented on #67
@ggailey777 looks good to me.

[2017-04-03 17:58] ahmelsayed commented on #226
@atrauzzi, @csharpgirl13, for your issue here is a tracking bug on the functions runtime repo https://github.com/Azure/azure-webjobs-sdk-script/issues/1352

@sergsalo I was not able to find your function app, would you mind sharing the name?

@Diavolita what is your function app name?

[2017-04-03 19:33] lindydonna commented on #83
@ggailey777 No, I think reference is sufficient for now.

[2017-04-03 19:50] lindydonna commented on #237
It is supported, so you might have made a mistake somewhere else. Do you have a folder for the function name with function.json in it?  Is the EntryPoint property correct?

[2017-04-03 19:53] lindydonna commented on #238
You can use a .deployment file or the PROJECT app setting to specify the folder. See example: https://github.com/lindydonna/TestFunctionsPublish/blob/master/.deployment

Documentation: https://github.com/projectkudu/kudu/wiki/Customizing-deployments

We have this bug to track the improvement to docs: https://github.com/Azure/Azure-Functions/issues/163

[2017-04-03 19:53] #238 closed

[2017-04-03 19:57] garrardkitchen commented on #238
Thank you @lindydonna !

[2017-04-03 21:58] pugwonk commented on #75
As @brettsam and @lindydonna were asking on the older issue (https://github.com/Azure/azure-webjobs-sdk-script/issues/18) for real-life situations that were falling over on the timeout, here's mine.

We've built an Azure function that creates a spreadsheet from JSON data for end-user download, based on a user request from our website. It works great, and functions seemed like a perfect model for u

[2017-04-03 22:18] ggailey777 commented on #67
Thanks @paulbatum. Just to be as clear as possible, are we recommending plans with less cores and a higher tier (if needed)?

[2017-04-03 22:40] paulbatum commented on #67
By higher tier I assume you mean basic/standard/premium? That simply depends on which features the customer wants. It has no bearing on performance (other than the fact that to do larger deployments you sometimes need to move to a higher tier).

[2017-04-03 22:41] ggailey777 commented on #67
Sorry, I guess I mean to say more instances of a single-core VM. (Instances are affected by tier, right?)

[2017-04-03 22:56] paulbatum commented on #67
You could say "single core plan" instead of "small VM". That would more closely match the content on the "choose your pricing tier" page.

[2017-04-03 23:20] lindydonna commented on #118
@SyntaxC4 Is this done?  It looks like the PR was merged.

[2017-04-03 23:23] lindydonna commented on #135
@ggailey777 Can you take this one?

[2017-04-03 23:26] lindydonna commented on #76
@christopheranderson It looks like I mistakenly labeled this as a documentation issue. This is a feature, right?

[2017-04-04 05:16] cori opened #239 "Per the discussion at the bottom of the comment thread on the tooling release page, after following the pre-reqs and installing the tools the functions template does not appear"
Installed the prerequisites and the tooling multiple times and no matter what the function template does not appear as expected.  Several users are having this problem starting at https://blogs.msdn.microsoft.com/webdev/2016/12/01/visual-studio-tools-for-azure-functions/#comment-212475 and proceeding from there.

I personally am running Visual Studio 2015 Community on a Windows 10 laptop. If more

[2017-04-04 08:37] ggailey777 commented on #135
There seems to be an issue with the context.log.verbose() method: https://github.com/Azure/azure-webjobs-sdk-script/issues/1370

[2017-04-04 11:04] lolekjohn commented on #237
I figured out the problem. The issue was because i was using the latest version of Azure Storage dll. Once i downgraded it to 7.2.1 it started working.

[2017-04-04 11:04] #237 closed

[2017-04-04 12:15] chris-barnett commented on #239
+1.

How strange, I was just about to raise this issue as I didn't get a reply in the article mentioned.

I'm running Visual Studio 2015, Windows 8.1.

![image](https://cloud.githubusercontent.com/assets/8687762/24656055/bcab1e8a-1938-11e7-8fee-98d3c504a258.png)

[2017-04-04 12:47] dapaxx commented on #88
Is there any update on this issue?
This is especially a problem, if more than one user is working on one machine...

[2017-04-04 16:26] ggailey777 commented on #135
@mathewc is there any difference between how error(), warn(), and info() are logged? Also, is verbose() doing something else, I don't see it getting logged?

[2017-04-04 16:39] mamaso commented on #135
@ggailey777 I'll take a look at this

[2017-04-04 16:47] mamaso commented on #135
@ggailey777 I think you need to set the level to verbose in host.json: https://github.com/Azure/azure-webjobs-sdk-script/wiki/host.json

[2017-04-04 16:49] hari2github commented on #230
Is this issue applicable only in Consumption Model or in App Service model as well?

[2017-04-04 16:52] ggailey777 commented on #135
@mamaso Thanks, I'll make sure we doc that in the main topic.

[2017-04-04 17:06] atinag commented on #122
Will doing a restart of the app service do a Refresh or we need to explicitly do a Refresh?

[2017-04-04 17:44] soninaren commented on #232
You can upload the file and/or have git integration, version control with file in the current location. I have tested these scenarios.
Here is the https://github.com/soninaren/SwaggerIntegration repository i used for git integration.

[2017-04-04 17:48] spboyer commented on #232
@soninaren correct the location is `/.azurefunctions/swagger/swagger.json`

host.json only sets the following information concerning the file:
[code]

There is no location node stating where the file exists.

Is there a ways to define a different location?

For example: `wwwroot/docs/swagger.json`

[2017-04-04 18:07] soninaren commented on #232
Currently there is no way to define a location for swagger file. Is there a specific reason you are looking to configure the file location?

[2017-04-04 19:01] Diavolita commented on #226
Hello @ahmelsayed -- thanks for the message. Have a look at:

PBNFunctionApp2  and
NeelandsDecompressionFunctions  seems to have come back online today but the issue was happening since 03/31/2017.

I was creating a bunch of others hoping to work around it but I am still having this issue even with newly created ones as well... very intermittently.

Thanks!

[2017-04-04 19:30] spboyer commented on #232
@soninaren organization.  Developers want to put stuff where they want to put stuff.

./azurefunctions seems explicit and rigid.

[2017-04-04 19:46] davidebbo commented on #122
@atinag If you are indeed in this situation, you need to do a refresh.

[2017-04-04 20:42] alexkarcher-msft commented on #232
Thanks for the feedback,

At the moment we'll leave this as-is seeing as it doesn't block any scenario. All function settings are defined based on absolute path like this, and it allows us to deliver features quicker to know we have a consistent file system across Function Apps.

[2017-04-04 21:48] mamaso commented on #226
Have any of you set the 'functions' array property in `host.json` at the root of your app?

@atrauzzi in particular, I notice that your AddAuthor function is not listed in 'functions', which means it will not be loaded by the runtime. If you remove the 'functions' array we will attempt to load all functions.

[2017-04-04 22:58] lindydonna commented on #88
@dapaxx I would recommend using precompiled functions with a Web Project, customizing the start action. From there, you can choose the port. See https://aka.ms/precompiled-functions.

[2017-04-04 23:45] atrauzzi commented on #226
Going to give that a shot!  Shouldn't take too long to see if it works thanks to @davidebbo helping me out with my deployment issues. 😄

[2017-04-05 00:07] atrauzzi commented on #226
![image](https://cloud.githubusercontent.com/assets/115199/24684215/f267d492-1969-11e7-9c92-addffe9e19c7.png)

I think it worked!

[2017-04-05 00:22] atrauzzi commented on #226
Spoke too soon.  Now getting:

[code]

Will open another ticket.  The adventure continues.

[2017-04-05 00:24] atrauzzi opened #240 "Getting error: "Thread was being aborted""
Attempt to run my function, and I'm told the following:

[code]

[2017-04-05 05:56] ggailey777 commented on #67
I have tweaked this slightly, which is staged for revidew [here](https://review.docs.microsoft.com/en-us/azure/azure-functions/functions-reference-node?branch=pr-en-us-9679#considerations-for-javascript-functions)

[2017-04-05 06:01] ggailey777 commented on #135
@mamaso @lindydonna I have added info about the new trace level for console logging in the Node.js topic, which you can review [here](https://review.docs.microsoft.com/en-us/azure/azure-functions/functions-reference-node?branch=pr-en-us-9679#contextlog-method). I also added a section about writing to the console.
This is the PR: https://github.com/Microsoft/azure-docs-pr/pull/9679

[2017-04-05 08:32] ggailey777 commented on #59
@SyntaxC4 I am going to check in a PR for #67 and #77, but I need more time to investigate the improvements and updates that @mamaso is suggesting in this issue.

[2017-04-05 12:12] ArunAdPushup commented on #226
I am also facing the same issue, along with this one -

Session Id: b9c833859fa144848e7647813fcbd0a3
Timestamp: 2017-04-05T12:10:18.961Z

![screen shot 2017-04-05 at 5 39 45 pm](https://cloud.githubusercontent.com/assets/20511680/24704891/26dba042-1a27-11e7-8d4a-872008a9235d.png)

[2017-04-05 16:05] paulbatum commented on #67
Yep, looks good.

[2017-04-05 16:39] davidebbo commented on #226
@ArunAdPushup it seems your issue is different, and relates to reaching a socket limit. Things to try:

- Are you properly closing outgoing connections?
- Can you reuse connections between calls?
- You can also reduce concurrency on the host by setting queues.batchSize to a lower value (e.g. 8) in you [host.json](https://github.com/Azure/azure-webjobs-sdk-script/wiki/host.json).

[2017-04-05 17:11] ggailey777 commented on #128
@SyntaxC4 @rachelappel this is currently in our plan as the Compare topic needed for MVC.

[2017-04-05 17:18] rachelappel commented on #128
@ggailey777 @SyntaxC4 I have a draft but it is light on content. I was wondering if this might work well rolled into this doc? https://docs.microsoft.com/en-us/azure/azure-functions/functions-compare-logic-apps-ms-flow-webjobs
Let me make a PR and you can look at the draft.

[2017-04-05 17:56] ggailey777 opened #241 "Add examples of Express.js API support"
@mamaso recommended that we add information about how to use Express.js APIs for request/response.  https://expressjs.com/en/api.html#res

[2017-04-05 18:01] ggailey777 commented on #241
Notes from Matt:

There is a 4th way as well [to work with req/res]: https://github.com/Azure/azure-webjobs-sdk-script/blob/dev/test/WebJobs.Script.Tests.Integration/TestScripts/Node/HttpTriggerExpressApi/index.js

We have an express-like api

[2017-04-05 18:05] ggailey777 commented on #131
@mamaso  suggested that "we may want to add info about https://github.com/christopheranderson/azure-functions-pack and Azure/azure-webjobs-sdk-script#298" to the Nodejs reference topic.

[2017-04-05 18:29] ggailey777 commented on #128
@SyntaxC4 do you think this would work OK as the "compare" topic?

[2017-04-06 02:57] lindydonna commented on #213
@mathewc Thanks for filing this issue, I'm improving the doc now with the example from your SO post here: http://stackoverflow.com/questions/42829465/accessing-documentdb-from-azure-functions-with-dynamic-documentid

One question: can the input properties be on an input binding as well as a trigger?  In your example, you used an HTTP trigger.

[2017-04-06 03:42] #67 closed

[2017-04-06 03:42] #83 closed

[2017-04-06 03:42] #77 closed

[2017-04-06 03:42] #178 closed

[2017-04-06 03:42] #135 closed

[2017-04-06 04:12] amazaheri opened #242 "X-MS-TOKEN-AAD-ACCESS-TOKEN empty when enabling AzureAD auth on a Function"
Trying to figure out why X-MS-TOKEN-AAD-ACCESS-TOKEN not available when I enable Azure AD auth against my function, I need this to pass to UserAssertion so I can acquire a valid token from Dynamics 365.

 System.Net.Http: The given header was not found.

For test I validated that I can use my user/password and UserCredential to get a valid token and access Dynamics. I also validated that I can get

[2017-04-06 06:14] thdotnet opened #243 "API Documentation"
I'm trying to add Swagger to my Azure Function following the sample from the blog post (https://blogs.msdn.microsoft.com/appserviceteam/2017/03/30/announcing-functions-swagger-support/) , however I'm getting 401 as HttpStatusResponse.

I believe it's not including the secret into the request. Is there any additional step for adding that?

Here's my swagger documentation:

swagger: '2.0'
info:
  ti

[2017-04-06 09:12] ArunAdPushup commented on #226
It was working properly earlier, I've been facing this issue since yesterday. I think it has something to do with the ``Function`` and ``Host`` keys that are set automatically when you create a new azure function. I noticed that in my case, these values were missing, no sure how.

![screen shot 2017-04-06 at 1 54 58 pm](https://cloud.githubusercontent.com/assets/20511680/24746552/1ea5ec56-1ad7-11e

[2017-04-06 16:11] brettsam opened #244 "[DocDB]: Add documentation for new SqlQuery property"
DocDB now supports a SqlQuery binding property. Documentation and some sample code can be found in the portal by expanding the "Documentation" node under the binding:

![image](https://cloud.githubusercontent.com/assets/1089915/24764383/0990c990-1aa9-11e7-9c3b-4293dcf9ad53.png)

[2017-04-06 22:24] amazaheri commented on #242
X-MS-TOKEN-AAD-ID-TOKEN resolved the issue.

[2017-04-07 11:26] atrauzzi commented on #240
Any thoughts, @lindydonna / @davidebbo?

[2017-04-07 15:09] davidebbo commented on #240
Can you  provide more details? e.g.

- What kind of function is it (language/trigger/...)?
- Does it happen sporadically, or on every run?

[2017-04-07 22:31] cbockman commented on #221
This is important to us as well--any clarifications would be very helpful.  Thank you!

[2017-04-08 07:24] imsam67 commented on #98
Do we have an availability date for WebJobs SDK in .NET Core?

[2017-04-08 11:28] atrauzzi commented on #240
This one is a manual trigger and it seems sporadic.  I click "run" for my function and I get the 202 accepted, but then I get no feedback on the console below.

[2017-04-08 20:47] lindydonna commented on #240
Do you have context.done at the end of your function code? Can you provide the relevant code snippets?

[2017-04-09 16:47] atrauzzi commented on #240
Yup!

https://github.com/atrauzzi/anecdote-azure/blob/master/functions/AddAuthor/index.js#L24

[2017-04-10 04:26] damienpontifex opened #245 "[AppInsights Preview] Custom OperationId setter"
I've been testing the built in App Insights and have run into a correlation issue when setting the OperationId across multiple invocations. We sometimes have functions that trigger other functions that we'd like to correlate as part of a single 'operation'.

Something very similar to this article https://dzimchuk.net/event-correlation-in-application-insights/ but instead of web and webjobs, just t

[2017-04-10 18:21] lindydonna commented on #236
Improved here: https://github.com/Microsoft/azure-docs-pr/pull/10001

[2017-04-10 18:22] lindydonna commented on #213
Handled in https://github.com/Microsoft/azure-docs-pr/pull/10001

[2017-04-10 19:11] lindydonna opened #246 "Doc request: additional EH guidance around partitions"
_From @stephlocke on November 10, 2016 16:47_

A discussion with one of the team suggested there are some additional considerations about sizing standard service plans (not sure if it applies to dynamic which will be more common once fully rolled out) for Functions that relates to sizing to bind to EH partitions. For instance, given a number of partitions in the EH, what happens if you have fewer

[2017-04-10 19:12] lindydonna commented on #246
This additional details should also go in the official docs.

[2017-04-10 19:30] ArunAdPushup opened #247 "Function getting terminated"
I created an azure function in ``nodejs``. It seems to work at first, but after I make a few changes and save it, it doesn't work. It stops logging out info and gets terminated after a while.

![screen shot 2017-04-11 at 12 49 26 am](https://cloud.githubusercontent.com/assets/20511680/24878753/053c946c-1e52-11e7-8520-993abc6392ff.png)

[2017-04-10 20:23] lindydonna opened #248 "Add example of using binding metadata in JavaScript"
Need to add updates to this document: https://docs.microsoft.com/en-us/azure/azure-functions/functions-triggers-bindings

For this function.json

[code]

Need to document how to access the `filename` parameter in JavaScript.

Currently **blocked** on product limitation.

[2017-04-11 02:11] SharpDude commented on #68
Did you ever find a resolution for this? I am hitting the same issue. It just won't deploy the C++ DLL with the function when it gets published.

[2017-04-11 09:50] bchrisb commented on #239
@lindydonna any ideas?

[2017-04-11 10:48] isamllr commented on #226
Hello
Same issue on a brand new function.

[2017-04-11 21:17] yochay commented on #221
We are working on the certification and expect to complete the process  by July 2017

[2017-04-12 01:24] lindydonna commented on #245
CC @christopheranderson and @brettsam

[2017-04-12 01:35] lindydonna commented on #239
Some customers have reported issues if they had ever installed the Azure SDK 3.0. Is that the case here?

You'll generally have a better tooling experience if you use the precompiled functions with a regular web project. See https://aka.ms/precompiled-functions. The next version of Functions tooling will be based on this model.

[2017-04-12 01:37] lindydonna commented on #240
@atrauzzi I'm not sure what's going on. You might want to post on the forums or StackOverflow, where more people are monitoring. https://aka.ms/func-forum or https://aka.ms/func-so.

[2017-04-12 02:34] atrauzzi commented on #240
Alright, done!

http://stackoverflow.com/questions/43359244/azure-functions-app-not-giving-any-kind-of-output-eventually-giving-error

Is there anything that could be made available so that I can better diagnose these kinds of situations?  I feel kind of hamstrung by the platform.

[2017-04-12 08:07] feeloor commented on #203
Is there any headways here? I've tried to re-install 2.9.6 and Functions Tooling with no luck. I've also tried installing Azure SDK 3.0 again and uninstalling **Microsoft Azure App Service Tools v3.0.0** and then installing the Functions Tooling, no luck here either.

[2017-04-12 08:33] bchrisb commented on #239
I probably did have Azure SDK 3.0 initially but removed it and installed version 2.9.6 to try and get the template to work.

I will use the precompiled functions with a regular web project for now until the next version of tooling is available.

Thanks for the reply @lindydonna.

[2017-04-12 11:49] Intranoggin commented on #203
I don't think there is a way that you can get successfully back to the 2.9.6 and working templates. You'll need to switch to the pre-compiled option.

[2017-04-12 13:28] brettsam commented on #245
Thanks @damienpontifex. We're looking at ways to make this happen automatically. Right now we're using OperationId to correlate everything about a single function invocation (related Traces from your Function, and we're adding Dependencies in the near future). Let me sync back up with the App Insights team about cross-invocation correlation and I'll update this with our plan so you (and others) ca

[2017-04-12 14:57] mattdrewitt opened #249 "[Visual Studio] Publishing does not properly set $(Configuration) for MSDeployPublish"
Since currently we are unable to template files, I have resorted to manually templating files.  While doing this I discovered that no mater what configuration you are using for your publish, it will always `Debug`
eg:
[code]
This will always point to `nuget.Debug.config` no matter your configuration.

[2017-04-12 15:03] mattdrewitt commented on #175
For a solution that can be used within a team without the need for everyone to manually modify, we added the following to our `.funproj` file:
[code]

[2017-04-12 18:23] lindydonna commented on #175
@mattdrewitt Thanks for the workaround!  I've added it to the comment at the top so more folks can see it.

[2017-04-13 06:27] feeloor commented on #203
@Intranoggin Okey, thank you. Do you/anyone know when this will be fixed? Or any work arounds?

[2017-04-13 08:17] SteveALee commented on #45
What is the best way to escalate this as a feature request?

[2017-04-13 12:01] Intranoggin commented on #203
@feeloor My interpretation is that moving to the pre-compiled technique is the fix. There may be a new template in the future that streamlines the setup of bindings and pointing to the CLI for local debugging, but I'm only guessing there.

[2017-04-13 12:28] myarotskaya opened #250 "ServiceBus-triggered functions: executed function is not the one which was triggered"
I have one function app with two [precompiled](https://github.com/Azure/azure-webjobs-sdk-script/wiki/Precompiled-functions) functions:

1. `FunctionA` is triggered on messages in ServiceBus queue `queue-function-a`
1. `FunctionB` is triggered on messages in ServiceBus queue `queue-function-b`

(both queues are in the same Service Bus namespace)

However the code of the second function is always e

[2017-04-13 15:21] prosser commented on #201
Now that VS 2015 is no longer offered except through legacy channels to MSDN subscribers, and VS 2017 has released several post-RTM updates, this has become more important.  My team has to maintain installations of both 2015 and 2017 just for the Azure Functions support in 2015.

Frankly, we are regretting the purchase of 2017 and the choice of Azure Functions. This disjointed support, combined wi

[2017-04-13 17:04] nirmalkumarv commented on #203
I have provided some notes on how i resolved this issue. This may help someone who want to get rid off this blocker. https://medium.com/@nirmal_kumar/resolving-functions-tooling-incompatibility-with-azure-sdk-3-0-0-1708f28e7cb

[2017-04-14 13:48] Andrew-MSFT commented on #201
@prosser I just posted a short [blog post outlining our roadmap for tools in Visual Studio 2017](https://blogs.msdn.microsoft.com/webdev/2017/04/14/azure-functions-tools-roadmap/)

We have not had challenges integrating into Visual Studio 2017, we were just unable to start work on Visual Studio 2017 until after we shipped the RTW version due to the need to finish .NET Core tooling.  So we will pre

[2017-04-14 15:24] MisinformedDNA commented on #201
@prosser Just a reminder, but Azure Function tooling was never RTMed. In 2015, we were using a preview product. We used it at our own risk.

Based on the blog post, you should start converting your Functions from C# Script to C# using the class library workaround as the projects created from the 2015 tooling will probably not work in the 2017 tooling, whereas the workaround should make it fairly t

[2017-04-14 18:06] lindydonna commented on #203
@Intranoggin Yes, moving to precompiled is our recommendation. Aside from a better tooling experience, you will see performance improvements for cold start. We've just released a blog post about the tooling roadmap: https://blogs.msdn.microsoft.com/webdev/2017/04/14/azure-functions-tools-roadmap/

[2017-04-14 18:08] lindydonna commented on #45
@SteveALee You should consider it already escalated as a feature request, and it's under development. (No dates to share, unfortunately.)

[2017-04-14 18:15] dersia opened #251 "Latest portal-version broke HttpTriggered functions"
Since the last update (new "next"-portal) there seems to an issue with Http-Triggered Functions.

I came across this issue when I added a second Http-Triggred function to my function app.

The Problem is with the Route-Template:

FunctionA - RouteTemplate: "{id]/"
FunctionB - RouteTemplate: ""

this causes the runtime to add the name of the function to the route for FunctionB but not for FunctionA

[2017-04-14 18:17] dersia commented on #236
Hey @lindydonna I get a 404 when I try to acces the provided Link.

[2017-04-14 18:22] ThomasArdal opened #252 "Service Bus trigger stops consuming subscription in other region"
I have the same Azure Function deployed in 5 different regions. They all consume messages from each their subscription on an Azure Service Bus topic. When deploying the functions, all messages on all subscriptions are consumed. Over time, only the function deployed in the same region as the service bus topic consumes the messages. The 4 remaining functions seems to go to sleep. When I visit an idl

[2017-04-14 18:24] lindydonna commented on #236
@dersia That link only works if you have access to the private Microsoft docs repository. The article itself will be published soon.

[2017-04-14 18:30] dersia commented on #236
Oh I see! Thanks! 👍

[2017-04-14 23:47] lindydonna commented on #251
This issue was moved to projectkudu/AzureFunctionsPortal#1211

[2017-04-14 23:47] #251 closed

[2017-04-15 01:36] lindydonna commented on #249
This is because the project file assumes a content publish, where debug vs. release does not matter. We recommend that you instead use precompiled functions, as the current funproj format is being replaced. See https://aka.ms/precompiled-functions and https://blogs.msdn.microsoft.com/webdev/2017/04/14/azure-functions-tools-roadmap/

[2017-04-15 16:55] cori commented on #239
I also probably had 3.0 installed at some point. I see the notes at the top of the post in question have been updated; much appreciated.

[2017-04-15 16:55] #239 closed

[2017-04-17 02:58] atrauzzi opened #253 "Functions seems to be corrupting binary data"
Tried a slightly less complex use case with Functions tonight, got close, but still ended up having issues.

[code]

[code]

I get files written to storage, and the informaion looks *very close* to right.  but it's about 20% bigger and obviously at that point corrupted.  Any way I can just tell functions to pass the bytes along?  Is there something I need to call on `body` to thunk them back into

[2017-04-17 15:42] #93 closed

[2017-04-17 20:53] MurrayFoxcroft commented on #226
Seeing the same for me. I created a consumption plan in Azure, then deployed my function to it from VS2015.

[2017-04-18 16:50] pragnagopa commented on #74
One more customer looking for this info posted comment in: https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-notification-hubs#wns-native-notifications-with-c-queue-triggers

[2017-04-18 18:01] pragnagopa commented on #253
If you need to save a file as raw bytes, set the content-type request header to application/octet-stream. Let us know if you still see any issues

[2017-04-18 18:33] lindydonna commented on #161
@mschmidt-healthx We've improved the bindings conceptual article. Could you see if this article helps make things more clear? https://docs.microsoft.com/en-us/azure/azure-functions/functions-triggers-bindings#bind-to-custom-input-properties-in-a-binding-expression. Please provide any feedback.

[2017-04-18 18:40] mschmidt-healthx commented on #161
@lindydonna - Yea, that's more clear, thanks.

The documentdb documentation still seems to be missing any mention of the partitionkey being a valid parameter.  The input binding setup UI is also missing it as a parameter, I can only use it by editing the function.json directly.

Example:

[code]

[2017-04-18 18:42] lindydonna commented on #161
@mschmidt-healthx Good feedback!  @brettsam Did you add this feature?  We need to add it to the schema for function.json as well as [bindings.json](https://github.com/Azure/azure-webjobs-sdk-templates/blob/dev/Bindings/bindings.json) so the portal picks it up. We'll also need a resource string.

[2017-04-18 18:46] tohling opened #254 "Investigate how upgrade PowerShell 4 to PowerShell 5"
The WMF 5.1 installer for PowerShell 5 does not install on our custom OS image.  We have engaged the PowerShell team but this installer is using an older OS build than the one we are using.   We will need to investigate an alternative approach on installing PowerShell 5 on our workers.

[2017-04-18 19:36] lindydonna commented on #154
Incorporated in https://docs.microsoft.com/en-us/azure/azure-functions/functions-triggers-bindings

[2017-04-18 19:36] #154 closed

[2017-04-18 19:37] lindydonna commented on #96
In progress, see https://github.com/Microsoft/azure-docs-pr/pull/10887

[2017-04-18 19:39] lindydonna commented on #161
The original feedback is in progress here: https://github.com/Microsoft/azure-docs-pr/pull/10887

[2017-04-18 19:39] lindydonna commented on #236
Done, see [Azure Functions triggers and bindings concepts](https://docs.microsoft.com/en-us/azure/azure-functions/functions-triggers-bindings)

[2017-04-18 19:39] #236 closed

[2017-04-18 19:40] lindydonna commented on #244
In progress, see https://github.com/Microsoft/azure-docs-pr/pull/10887

[2017-04-18 19:41] lindydonna commented on #213
Done, see [Bind to custom input properties in a binding expression](https://docs.microsoft.com/en-us/azure/azure-functions/functions-triggers-bindings#bind-to-custom-input-properties-in-a-binding-expression)

[2017-04-18 19:41] #213 closed

[2017-04-18 19:43] lindydonna commented on #81
@mathewc I've improved the info about binding parameters (see [Bind to custom input properties in a binding expression](https://docs.microsoft.com/en-us/azure/azure-functions/functions-triggers-bindings#bind-to-custom-input-properties-in-a-binding-expression)), but I don't have a list of what properties for each binding support binding expressions.

How can I determine this?  Do I look at the code

[2017-04-18 19:55] atrauzzi commented on #253
I'll give it a shot shortly, stay tuned!

[2017-04-19 15:54] dreadeddev commented on #203
Hello again!!

Indeed this does work well this way, I can code it and publish it and all
is well, however, how in the name of all that's holy, how are we now meant
to start a manual trigger through the portal?? It very much seems with
Functions that this is not production ready (The whole portal changing look
and feel in the middle of the working day without warning also points to
this), a SDK is

[2017-04-19 16:44] BowserKingKoopa commented on #201
So ready for this.  This being missing in VS 2017 was it's biggest disappointment.

[2017-04-20 01:58] lindydonna opened #255 "Add blob examples using CloudBlockBlob"
*Feedback from Paul*

Should have an example of getting blob attributes using CloudBlockBlob.

https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob

This page says:

In C# functions, you can also bind to any of the following types, and the Functions runtime will attempt to deserialize the blob data using that type:
•	TextReader
•	Stream
•	ICloudBlob
•	CloudBlockBl

[2017-04-20 06:36] martinstenhoff commented on #123
Will there be a fix for this at some point? Not having access to the Item Templates for .Net core class libraries is really annoying.

[2017-04-20 07:29] dersia opened #256 "The new Portal is fancy but buggy as hell"
Hi there,

I'd like to know if there is a way to roll back to the old portal.

Don't get me wrong, I really like the new portal it is much more representable, but it is still full of bugs.
Often I have to restart the whole browser to get things working again, because changes are not taken into account, even after reloading.

Tonight I was experienceing another weird issue: for some reason I can't

[2017-04-20 07:41] dreadeddev commented on #201
"Whereas the workaround should make it fairly trivial to migrate to the new
tooling"..... yeah apart from you can't run your darned function in
Azure!!!! LOL!!! Functions reminds me of Microsoft of old days, half baked
ideas, released way too early without proper support! Seriously, you cannot
run a manual triggered function in Azure using the workaround MS
recommend!! Does anyone do any testing o

[2017-04-20 08:23] Bomret commented on #256
Can confirm. The *Manage* tab has become inaccessible on all the function apps that I looked at in our production environment here at work, too. Noone has enabled Auth on any app there.
![Manage tab of a functions app](https://cloud.githubusercontent.com/assets/246014/25220838/56c7afe8-25b3-11e7-8891-f917774b3e3a.png)

[2017-04-20 08:32] 4c74356b41 commented on #256
Hey folks, I can confirm, any way to revert?

[2017-04-20 08:37] Bomret commented on #256
We have one dev in our team that can access the keys in the *Manage* tab of a function. Two others see what's in the screenshot. We're all on the latest version of Chrome.

[2017-04-20 08:59] SteveALee commented on #256
I also hit problems with this tab from day one.

[2017-04-20 09:04] machie27 commented on #256
Also have the same problem as @Bomret. This is a real problem now as I cannot do anything or distribute functions.

[2017-04-20 09:07] primegonzola commented on #256
Hitting the same issue since a couple of hours. Used to work fine before. This is seriously blocking our development team.

[2017-04-20 09:12] lczc1988 commented on #256
I am trying to contact product team. Thank you. -Fuciton app support.

[2017-04-20 09:41] davidebbo commented on #256
Tracked by https://github.com/projectkudu/AzureFunctionsPortal/issues/1229.

[2017-04-20 09:41] #256 closed

[2017-04-20 10:18] muratboduroglu commented on #256
Same here. Can't view the function url, can't see the Keys, can't run the tests.

[2017-04-20 10:37] SteveALee commented on #256
FWIW the URL can also be found in the Kudu console

[2017-04-20 11:45] dersia opened #257 "TableStorage out-Binding not working for node"
Hi I just realized that the table-storage out binding is not working any longer.

this is my function.js
[code]

and when I log out context.bindings this is what I get:
`bindings: { eventHubMessages: [ [Object] ] }`

as soon as change the binding to `in` it's back in the bindings.

[2017-04-20 12:53] nishantsinha-5 commented on #226
Have the same issue with a new Function app.
![image](https://cloud.githubusercontent.com/assets/4038289/25231689/4e9c2370-25c8-11e7-942d-4b8ca3f08fc5.png)

[2017-04-20 16:33] ahmelsayed commented on #226
share your function app name or session id.

[2017-04-20 23:07] paulbatum opened #258 "Event Hubs documentation should have examples using EventData"
When working with EventHubs in C#, as soon as you need to access any of the message properties you need to work with an EventData object. The documentation should explain that this is one of the valid types to bind to (just as the blobs binding documentation spells out you can use CloudBlockBlob). Ideally the documentation would also include a sample using the EventData. Maybe something like this:

[2017-04-21 05:48] AartiDalvi10 commented on #226
I am also facing the same issue. Also I have observed Function Keys is not present neither i am able to add it

![image](https://cloud.githubusercontent.com/assets/27818108/25264356/eaf49daa-2655-11e7-928d-f20c1b7e47b9.png)

[2017-04-21 09:35] nandowalter commented on #48
I've the same exact problem. I've a function with a timer trigger and thousend of unexpected write operation on storage account.
Did you found the cause for this?

[2017-04-21 12:18] napalm684 commented on #229
@tohling Hello just curious on the ETA for the fix since we are in the 2nd/3rd week of April now.  Thanks!

[2017-04-21 15:12] BillRaymond commented on #201
Hello, pardon my ignorance, but I want to get started with functions. My code is already a C# Windows app, so I want to create a class and publish it as a function to Azure. Unfortunately, I do not see any good end-to-end documentation on this. I saw a video with no audio that shows how to configure the project, but is there a good place you can point me so I can run through an example? Thanks. Al

[2017-04-21 16:39] dreadeddev commented on #201
I guess my first response to your question @BillRaymond would be why? Why would you want to do something you would normally do in a windows app in an Azure Function. Functions are sold as a good answer to a compute problem, where you only want to pay for the usage you actually use to compute, as a good cloud offering should. They should be parallel processors that are short lived but highly utilis

[2017-04-21 16:55] BillRaymond commented on #201
Hi @dreadedde, I have a single Windows app that I am running now. In the future, I want all my apps (Windows, Mac, Web, etc.) to run much of the same business logic locked up in my current app. To do this, I am looking into creating APIs that run Azure Functions. I do not want to re-write all my code, so it seems like a good idea to take my current classes and move them up into Functions (albeit w

[2017-04-21 18:18] ahmelsayed commented on #226
@AartiDalvi10 You've specified in your host.json that only 1 function should be loaded, so all other functions are not loaded and the portal is unable to get keys for these functions.

[2017-04-21 18:48] tohling commented on #229
@napalm684, There was a delay in the deployment pipeline due to other non-related issues.  The fixed is being deployed right now.  Our deployment rolls out in batches.  I just checked and the new project ETA is 5.2.

[2017-04-21 20:10] tohling commented on #230
This is only applicable to the Consumption Model.

[2017-04-21 22:00] npiasecki opened #259 "Monitor tab contains only stale invocations / not updating"
I have 4 different function apps hosting precompiled functions on consumption plans. The Monitor tab for all functions displays invocations, but they're all stale. I can see the invocation data if I browse in Azure Storage Explorer. And logging on the "Function Name" tab (used to be called the "Develop" tab, I think) is showing current invocations. It's just everything in the Monitor tab is stale,

[2017-04-21 22:18] MisinformedDNA commented on #201
Based on what you describe, I would recommend an Azure API App.

[2017-04-22 19:31] BillRaymond commented on #201
Hi @MisinformedDNA I am still going through the design and quite frankly am still learning, but here is what I _thought_ would be the right thing to do:

1. Create APIs for the core functionality of my product.
2. Create Functions to handle the business logic on behalf of the API.
3. Create a logic app that orchestrates the Functions and performs some of the transformations my code needs to perfor

[2017-04-22 21:51] maucaro commented on #259
I am seeing the same, also in East US, on a regular (non-consumption) app service plan.

[2017-04-23 01:27] vance commented on #48
this was never resolved from the support ticket.

[2017-04-23 11:17] Nosmadas commented on #211
Please can we get some cursory guidance on any limits e.g. function apps per subscription etc.

[2017-04-23 18:22] KaiWalter commented on #71
I deployed a Function App into an ILB ASE, added functionapp.custom.domain and functionapp.scm.custom.domain to my local hosts. file. With that I see the empty Function App when opening in the browser.
However when opening the Function App in the Portal I get
Error:
We are unable to access your function keys. If the error persists, please contact support.

[2017-04-23 20:19] HowardEdidin opened #260 "Does not support xml in body"
My API parses an XML document.

[swagger_api.txt](https://github.com/Azure/Azure-Functions/files/949995/swagger_api.txt)

The UI won't allow XML for the body

[2017-04-23 23:05] mattcorr commented on #124
Is there a way uploading newer or external modules could be improved? At the moment external FTP clients are required.
It would be more convenient to be able to use the **View Files** tab and upload multiple folders and files from there.
Being able to create folders would also be useful!

[2017-04-24 03:58] tohling commented on #124
@mattcorr , yes.  I typically use the Kudu console.  Here are the steps that describes the "update" scenario:

1. Visit the Azure Functions Portal.
2. Select **Platform Features -> Advanced tools (Kudu)** to launch the Kudu console.
3. Select **Debug console -> PowerShell** to launch the PowerShell console.
4. Navigate to your Function's **modules** directory.
5. Drag and drop 1 or more files from

[2017-04-24 07:11] AartiDalvi10 commented on #226
Yes It worked for me now....I made changes in host.json file of my function app by removing function attribute using "https://<yourfunctionappname>.scm.azurewebsites.net/dev/wwwroot/host.json" and restarted the function app.
Thanks ahmelsayed

[2017-04-24 21:12] nilayparikh commented on #201
Any update for VS2017?

[2017-04-24 22:17] MisinformedDNA commented on #201
@BillRaymond I followed you on Twitter. Follow me back and we can DM.

[2017-04-25 03:56] fabiocav commented on #250
Thanks for reporting this. Will investigate and update with what we find

[2017-04-25 17:03] ahmelsayed commented on #226
@AartiDalvi10 I'm just curious, why did you have that setting to begin with? I know it's a valid runtime setting, but the UI doesn't handle it at the moment. I'm trying to understand your use case for it.

[2017-04-26 00:38] #250 closed

[2017-04-26 01:22] fabiocav commented on #250
Thank you again for reporting this and for the amount of detail and the repository with the repro.

The issue has been resolved and will be deployed with the next release.

[2017-04-26 16:21] army-watchfinder commented on #253
I've actually just done this in C#.
Having the input in binary dataType is fine, but the output needs to be a byte array. My take on this is the following:

functions.json:
`{
  "bindings": [
    {
      "authLevel": "anonymous",
      "name": "req",
      "methods": ["POST"],
      "type": "httpTrigger",
      "direction": "in",
      "dataType": "binary"
    },
    {
      "type": "blob",

[2017-04-26 16:39] Andrew-MSFT commented on #201
@nilayparikh We'll have our next announcement regarding VS2017 tools at the [Microsoft //Build Conference (May 10-12)](https://build.microsoft.com/)

[2017-04-26 17:56] fabiocav commented on #253
@army-watchfinder ; the `dataType` does not apply to C#/.NET functions. In that case, the type is determined by the parameters you're bound to. You can safely remove the `dataType` in your example with no change in behavior.

[2017-04-26 18:01] myarotskaya commented on #250
@fabiocav thank you for the quick fix, that's great that it will be included in the next release!

_Temporary workaround from the Azure support team_: rename Runners in `FunctionA` and `FunctionB` to `RunnerA` and `RunnerB` respectively.

[2017-04-27 08:41] army-watchfinder commented on #253
@fabiocav Thanks for that, I was actually under the impression I needed that, too. 👍

[2017-04-27 09:45] mkamonster opened #261 "Community Video's for the Blogs Page"
Hi,

I'd like to propose some of my Azure Functions community video's for the Blogs page: https://github.com/Azure/Azure-Functions/wiki/Blogs

Introduction to Azure Functions https://www.youtube.com/watch?v=6fBWcm5EyUU&index=2&list=PLEurkYU3qEnsiCKtnd5hazxbTyBOkb8_9
Running an Azure Function locally https://www.youtube.com/watch?v=g9qjvOQSJi8&index=3&list=PLEurkYU3qEnsiCKtnd5hazxbTyBOkb8_9
Running

[2017-04-27 10:27] arntmo commented on #226
Any solution to this issue? I have the same problem. But the functions are working (but I get the error message)

[2017-04-27 13:19] #253 closed

[2017-04-27 17:13] ahmelsayed commented on #226
@arntmo can you share your session id or function app name?

[2017-04-29 14:07] jongear commented on #201
@Andrew-MSFT any insight into what day of build conf? I want to make sure I block away time to follow on Channel 9

[2017-04-30 10:49] flagbug commented on #259
Seeing the same here

[2017-04-30 23:39] advapiIT commented on #201
Excuse me, anyone can help me creating a precompiled function to use as Azure Function? I've googled around, tried the suggestion found around but still have no luck with vs2017, azure timer function and local debugging. Thanks in advance

[2017-05-01 02:34] isaacmcn commented on #201
I've just gone through the example in this [blog post](https://blogs.msdn.microsoft.com/appserviceteam/2017/03/16/publishing-a-net-class-library-as-a-function-app/) and it seems to be working ok. The process is a bit convoluted but does work. I've found the local debugging to be a bit hit and miss when using an Azure blob storage trigger (i.e. new files often doesn't trigger my function locally).

[2017-05-01 05:31] atinag commented on #259
Yup, same here

[2017-05-01 06:04] tohling commented on #259
This is a known issue and should be fixed soon.  Kindly refer to thread [here](https://social.msdn.microsoft.com/Forums/azure/en-US/394ef8a7-3f17-47c5-8443-17723c9a856e/invocation-logs-not-updating-in-portal?forum=AzureFunctions).

[2017-05-01 12:08] advapiIT commented on #201
I saw this one but it doesn't seem to work with timer function

On Mon, May 1, 2017 at 4:34 AM, Isaac McNaughton <notifications@github.com>
wrote:

[2017-05-01 15:57] BillRaymond commented on #201
@advapiIT Regarding your question regarding creating a precompiled Azure Function, did you check out this page? https://github.com/Azure/azure-webjobs-sdk-script/wiki/Precompiled-functions I have not tried it personally but think it gives a pretty decent description of how to do it. There appears to be a sample project link at the bottom of the page as well.

[2017-05-01 16:10] BowserKingKoopa commented on #201
I tried the process in https://blogs.msdn.microsoft.com/appserviceteam/2017/03/16/publishing-a-net-class-library-as-a-function-app/ and went running screaming back to WebJobs. Having to define the function parameters in a json file instead of in code is a non-starter for me. Are Functions just meant for not .NET people?

[2017-05-01 16:20] MisinformedDNA commented on #201
I am using precompiled functions with a timer trigger. See [here](https://blogs.msdn.microsoft.com/appserviceteam/2017/03/16/publishing-a-net-class-library-as-a-function-app/) and [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-timer).

[2017-05-01 16:28] Andrew-MSFT commented on #201
@jongear we will post a blog post on https://aka.ms/webdevblog on the first day of the conf.  I don't know of any specific plans to show something on Channel 9 during the conf, but I'd recommend watching the Day 1 keynote.

[2017-05-01 16:30] daulet commented on #201
@BowserKingKoopa I have a library to generate the json file for you. You can configure your triggers, inputs and outputs with C# attributes right in your code.

https://github.com/daulet/servernet

[2017-05-01 16:31] Andrew-MSFT commented on #201
@BowserKingKoopa per my comment above to @jongear I would recommend watching for our announcement on the first day of the Build conference next week

[2017-05-01 17:52] lindydonna commented on #201
@BowserKingKoopa yes, we're thinking along the same lines. Definitely check out our BUILD announcements, I think you'll appreciate the direction we're heading.

[2017-05-01 18:04] #79 closed

[2017-05-01 18:05] #94 closed

[2017-05-01 18:08] lindydonna commented on #169
This issue was moved to Azure/azure-webjobs-sdk-script#1465

[2017-05-01 18:08] #169 closed

[2017-05-01 18:10] lindydonna commented on #110
Closing this issue, as it appears to be network problem downloading the CLI.

[2017-05-01 18:10] #110 closed

[2017-05-01 18:11] lindydonna commented on #130
Closing since @lorenpaulsen provided a workaround.

[2017-05-01 18:11] #130 closed

[2017-05-01 18:15] lindydonna commented on #191
Closing due to lack of repro.

[2017-05-01 18:15] #191 closed

[2017-05-01 18:15] lindydonna commented on #190
This issue was moved to Azure/azure-webjobs-sdk#1131

[2017-05-01 18:15] #190 closed

[2017-05-01 18:16] lindydonna commented on #176
This issue was moved to Azure/azure-webjobs-sdk-script#1466

[2017-05-01 18:16] #176 closed

[2017-05-01 18:18] lindydonna commented on #231
The CLI runs on .NET, that seems difficult to get working in Electron.

Btw this might be a better post for the MSDN forums; not many people see the issues here.

[2017-05-01 18:21] lindydonna commented on #244
Done, see https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-documentdb

[2017-05-01 18:21] #244 closed

[2017-05-01 18:25] lindydonna commented on #260
@alexkarcher-msft please join the GitHub team and assign this issue to yourself.

[2017-05-01 18:26] lindydonna commented on #243
@alexkarcher-msft please join the GitHub team and assign this issue to yourself.

[2017-05-01 18:26] lindydonna commented on #234
@alexkarcher-msft please join the GitHub team and assign this issue to yourself.

[2017-05-01 18:35] christopheranderson commented on #225
This issue was moved to Azure/azure-webjobs-sdk-script#1467

[2017-05-01 18:35] #225 closed

[2017-05-01 18:37] christopheranderson commented on #224
This issue was moved to Azure/azure-webjobs-sdk-script#1469

[2017-05-01 18:37] #224 closed

[2017-05-01 18:37] lindydonna commented on #201
@isaacmcn Are you using the Azure Storage Emulator?  If not, please open a thread on MSDN forums (https://aka.ms/func-forum) or StackOverflow (https://aka.ms/func-so)

[2017-05-01 18:39] christopheranderson commented on #68
This issue was moved to Azure/azure-webjobs-sdk-script#1470

[2017-05-01 18:39] #68 closed

[2017-05-01 19:01] christopheranderson commented on #92
I think this is more of a documentation issue where we don't have any documentation around project structure for Node.js based Functions applications.

Here's some rough notes, but we should probably turn this into a doc.

What Azure Functions expects for Node.js is:

- A directory per Function
- A directory contains a function.json
- A .js file (defaults to using index.js) or a `scriptFile` entry

[2017-05-01 19:02] lindydonna commented on #240
Closing since the conversation was moved to StackOverflow.

[2017-05-01 19:02] #240 closed

[2017-05-01 19:06] christopheranderson commented on #231
I'm pretty open minded about doing crazy things in Node.js, but this isn't really something that makes sense. Running the host from electron is a Node.js App invoking a .NET app. There isn't anything wrong, I suppose, if you have an Electron App that wants to start the Function host from you calling func.exe from Electron, but it's not something we're interested in offering official support for th

[2017-05-01 19:06] #231 closed

[2017-05-01 19:31] brettsam commented on #215
@mamaso -- could this be another situation where we're not presenting the expected data type in node?

[2017-05-01 19:34] brettsam commented on #220
@M-Andy, @erikogenvik -- are either of you still hitting this issue?

[2017-05-01 19:35] brettsam commented on #247
@ArunAdPushup -- are you still seeing this?

[2017-05-01 20:33] mamaso commented on #215
@ArunAdPushup what does your `function.json` look like? You need to have `"dataType": "binary"` set on your blob trigger. If you do not you'll be triggered with a string. Try `context.log(typeof myBlob)` to see what type you have in your node function.

[2017-05-01 20:34] brettsam commented on #252
@ThomasArdal -- let me reiterate what you've said to make sure I understand the layout:

1. You have one Service Bus Topic with 5 subscriptions in Region A
2. You have 5 function apps, each watching one of the 5 subscriptions. These are in multiple regions (with one in Region A)
3. 4 of the 5 function apps go idle, but the one in Region A stays active.
4. When you visit the function in the portal,

[2017-05-01 20:44] brettsam commented on #257
@dersia -- Are you trying to write something to a table or read something from a table?

If you're using an output binding, the `events` object will not appear in `bindings` until you create it. The data from that object will then be written to the table. There's an example here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-table#outnodejs

[2017-05-01 20:50] brettsam commented on #145
Yes, there are limitations to the number of connections that can be created from a single function app. On a Consumption site, that limit is 300: https://github.com/projectkudu/kudu/wiki/Azure-Web-App-sandbox#per-sandbox-per-appper-site-numerical-limits

[2017-05-02 00:48] perthcha opened #262 "Event hub trigger binding: How to start reading events from a specific point"
Can I specify the starting point of reading for an event hub trigger binding? Currently, I can't control whether the function will start reading from the very beginning, or will pick up from the last run, or do something unexpected. I would like to be able to specify the timestamp or offset to start reading the event from (Event hub itself allows this.)

[2017-05-02 07:25] erikogenvik commented on #220
Changing the connection string by removing the "EntityPath" fixed the issue.
I would suggest that this issue report remain open until the underlying issue is fixed; when I initially looked for a solution it took me a while to find a workaround since #122 had been closed, even though the issue remained.

[2017-05-02 07:38] M-Andy commented on #220
My "stopping when not observed" part seems to be solved. I still have problems though. Sometimes the function stops working after hours, sometimes after days. Currently I dont have the time to look into that so I restart the function when it stops. I´m not sure if these issues (stopping when not observed and stopping after some time when not observed) are related.

[2017-05-02 07:52] tohling commented on #220
@M-Andy, are you using a non-default consumer group?

[2017-05-02 08:17] SteveALee commented on #231
@lindydonna Thanks _ I'd forgotten the .NET layer which rather makes a nonsense of it really. That's the problem with brainstorms. Thanks for tip, in this case low response is fine. That' said it would be good to know you keep a regular watch here as Functions IS open source ;) Or perhaps have a clear note of contact preference (Forum or SO)

@christopheranderson Thanks for the polite closure :) T

[2017-05-02 08:26] M-Andy commented on #220
I use the default consumer group
("Generalized from resource: '/subscriptions/XXXXX/resourcegroups/myResName/providers/Microsoft.EventHub/namespaces/DataDisplay/eventhubs/myEvents/consumergroups/$Default'.")
which is added automatically when I connect from Azure Functions using the "EventHubTrigger-CSharp" template.

[2017-05-02 08:43] tohling commented on #220
@M-Andy, when you mention that it stops working, is it possible that there are no more events to be processed?  Is there a constant stream of traffic in your EventHub's $Default consumer group?

[2017-05-02 09:30] M-Andy commented on #220
The stream stops sometimes and is not constant. But I thougth that being able to trigger the function occasionally was one reason why people used the connection EventHub - Functions App...

The thing is that sometimes the function is no longer triggered when new events come in. It kind of "died" instead of just "sleeping"

[2017-05-02 09:38] tohling commented on #220
@M-Andy, yes you are correct.  If there are events coming in, even sporadically, the Function should have processed those events when they appeared in your Event Hub.  During the time when the stream has unprocessed events, the Function should have executed and ran your Function code.

I understand that you may not have time to look into this.  But when you get a chance, kindly include your Functi

[2017-05-02 10:00] M-Andy commented on #220
Thanks! I'll look into it as soon as possible.

[2017-05-02 17:10] ArunAdPushup commented on #215
Yes this was exactly the issue, changing the ``dataType`` to ``binary`` fixed the problem.

[2017-05-02 17:10] #215 closed

[2017-05-02 19:58] ahmelsayed commented on #71
@KaiWalter what do you get if you go to `https://functionapp.scm.custom.domain ` and `https://functionapp.custom.domain ` in your browser? are you seeing a cert warning?

[2017-05-03 12:04] gabrielius commented on #203
@nirmalkumarv The link is not accessible anymore...

Is there any way to get back to Azure SDK 2.9.6? I have problems when trying to publish using Visual Studio 2015 and don't want to publish using `func`.

[2017-05-03 14:27] AranVinkItility opened #263 "Documentation AppInsights <-> Azure Functions is out of date"
AppInsights for Azure Functions seems to be live (I can select it when creating a Function App),

The documentation doesn't reflect this however. Most recent I could find was:
https://github.com/Azure/Azure-Functions/wiki/App-Insights-Early-Preview
which clearly states it's still in preview and you need to use FUNCTION_VERSION=beta, which is no longer the case.

[2017-05-03 14:46] ThomasArdal commented on #252
Correct.

The function apps are deployed using Visual Studio right now. Will switch to Kudu, but that didn't work either the day I set it up.

You cannot see the problem any longer, since I added an empty timed function to each of the 5 function apps. This makes the service bus trigger function stay alive.

[2017-05-03 15:42] brettsam commented on #252
@tohling -- Does anything about this setup jump out at you as something that could affect scaling with SB topics?

[2017-05-03 18:18] KaiWalter commented on #71
@ahmelsayed with `https://functionapp.custom.domain` I get "Your Function App is up and running", with `https://functionapp.scm.custom.domain` I'm requested to enter a user and password

[here is how I created the Function App in the ILB ASE and what I tried already](https://github.com/KaiWalter/ARM-FunctionApp-in-ILBASE-SelfSignedCert)

[2017-05-03 18:54] brettsam commented on #252
I chatted with @tohling and we both think that your setup should work. Even though you've addressed it with the timers, you really shouldn't have to do that.

If you could share your function name and a rough timeline of when you saw these issues, we can take a deeper look and see what the issue could have been.

[2017-05-03 21:05] ahmelsayed commented on #71
so you have valid certs for these domains? The reason I ask is that the portal talks directly to these end points of your functions. If there is a cert error, and you haven't accepted it, then any XHR sent by the portal will be failed automatically by the browser. However if you have a valid cert and still seeing the portal not working with your ILB ASE, can you share your app name or a session id

[2017-05-04 03:45] KaiWalter commented on #71
name is zeissesbdevnl
Session Id: afe2a91c33ae4c0f87fe89879f727f66
Timestamp: 2017-05-04T03:40:36.215Z

I do not have to accept the certificate in the browser as I have added the certificate to the Trusted Root CA of my jump VM.
 If you like more details or access to the test/jump VM we should put do on another/private channel.

@ahmelsayed thanks for looking into it

[2017-05-04 07:40] tohling commented on #230
Sorry, but this fix is delayed unexpectedly and will be on the next deployment train.  ETA is targeted to be mid-May.  I will update this thread again when the fix is rolled out.

[2017-05-04 10:25] dreadeddev commented on #203
@gabrielius Unfortunately not!! It seems the way forward is with precompiled functions! It's a bit painful as it doesn't support everything that other apps do (like assembly binding redirection, etc) but seems to be the way forward. Once you've got it set up it works okay though. Link is [https://github.com/Azure/azure-webjobs-sdk-script/wiki/Precompiled-functions](https://github.com/Azure/azure-w

[2017-05-04 11:31] nirmalkumarv commented on #203
@gabrielius The link issue fixed. https://medium.com/@nirmal_kumar/resolving-functions-tooling-incompatibility-with-azure-sdk-3-0-0-1708f28e7cb

[2017-05-04 11:38] jtjk commented on #220
Hi, I have same issue. TrackerFunctionApp2 stops getting triggered. It was triggered correctly around yesterday 14.00 UTC but not anymore 20.00 UTC.

[2017-05-04 14:16] agnauck commented on #98
Is there a public repo where we can contribute and monitor the netcore port?

[2017-05-05 04:30] jtjk commented on #122
@davidebbo, can you check our function app TrackerFunctionApp2 ?

[2017-05-05 04:39] davidebbo commented on #122
@jtjk can you also provide a sample UTC time where you expected your event hub function to get invoked and it didn't? I see you also have a timer function going every minute. Is that working?

[2017-05-05 04:42] jtjk commented on #122
@davidebbo 11:30 yesterday it was working. And it should be working all the time as we get 120 messages every hour now.

Yesterday 11.30 we were getting millions of events and it was working until I closed portal.

[2017-05-05 04:45] davidebbo commented on #122
@jtjk So 11:30 UTC on may 3rd or 4th? Yesterday doesn't mean the same to everyone :)

[2017-05-05 04:47] jtjk commented on #122
Sorry, you must be in pacific time zone. 4th day I meant

[2017-05-05 04:49] jtjk commented on #122
@davidebbo forgot to tag

[2017-05-05 04:55] davidebbo commented on #122
I see abnormal things, but it looks like a completely different condition from anything above (which was fixed and has not been seen since). Can you open a separate issue? It's late here, so we'll try to get to it tomorrow (PST). Thanks!

[2017-05-05 06:10] jtjk opened #264 "Event Hub triggered function does not trigger but it stops to respond"
I have event hub triggered function (TrackerFunctionApp2) that stops soon after closing the portal and does work until going to portal and pressing "Run" -button. We have constant rate of events coming (120 per hour) and sometimes we raise rate to be millions of messages per hour.

My bindings:

[code]

[2017-05-05 06:12] jtjk commented on #264
@davidebbo I made separate issue. Thanks for helping us.

[2017-05-05 06:35] jtjk commented on #122
I created issue https://github.com/Azure/Azure-Functions/issues/264

Btw, how can I make a refresh. That button does not exist anymore or is it just my Safari that is not showing it?

[2017-05-05 07:38] Schaemelhout commented on #226
I am facing the same issue for a couple of days now...
Session id `5896b6dc6fcb471c8d2c6d826b2087e6`

[2017-05-05 18:17] brettsam commented on #220
@jtjk -- We've been looking through the logs to try to determine why your trigger stopped firing. Would you be able to share your function code with us? It may help us track down some of the things we're seeing. If it's easy enough to paste here, that works -- or if you'd rather not share it publicly, can you zip it up and send to the email address in my profile?

[2017-05-05 19:03] vindupuri opened #265 "Unable to read from default IOT hub endpoint on Event hub trigger azure function"
I'm trying to read data from Built-in endpoints (messages/events) creating the connection string in the format **Endpoint={Event Hub-compatible endpoint};SharedAccessKeyName={SharedAccessKeyName};SharedAccessKey={SharedAccessKey}**  with policy that has service connect permissions. Azure function does not trigger on when events been pushed to IOT Hub. Please let me know if I'm missing something.

[2017-05-05 20:16] Coderrob commented on #247
I get this somewhat often myself with C# functions. If you restart the app service it fixes it. That or try adding a new blank space inside a function and hitting save to see if it'll recompile.

[2017-05-05 20:48] brettsam commented on #247
I actually believe this is related to https://github.com/projectkudu/AzureFunctionsPortal/issues/818.

The application is terminated and we lose the log stream, so it appears nothing is happening. However, I think you're just not getting logs via the portal.

Have you tried looking into the actual file logs or the dashboard to see if your function is still executing when you see this?

[2017-05-07 00:16] mathias-brandewinder opened #266 "Portal: cannot scroll through code when app is in read only mode"
When an app is in read only mode (Github deployment), the scroll bar on the right-side disappears when viewing code files in the portal. As a result, it is not possible to look at the code if the file doesn't fit on a single screen.

[2017-05-07 18:17] ThomasArdal commented on #252
I no longer recall which day it happened. But as soon as I get deployments configured with Kudu, I will try to disable the timered trigger in one of the function apps and let you know if it happens again.

Thanks.

[2017-05-08 07:09] wmmihaa commented on #201
@lindydonna PLEASE give us a planned release date for the VS2017 Azure Function Tooling. We so need it now.

[2017-05-08 15:59] iain-peddie-tessella opened #267 "Unable to build a precompiled function app with VSTS"
Issue
----
I am using a [pre-compiled function app](https://github.com/Azure/azure-webjobs-sdk-script/wiki/Precompiled-functions). I am using VSTS to hold my repository.

I have a solution which contains:
   - An assembly containing with buisiness logic and data entities
   - A test assembly, which contains unit tests for the buisiness logic assembly
   - A pre-compiled function app

I would like

[2017-05-08 17:04] lindydonna commented on #267
VSTS does not work with .funproj type, and this project type is going away (see [Azure Functions Tools Roadmap](https://blogs.msdn.microsoft.com/webdev/2017/04/14/azure-functions-tools-roadmap/) blog post).

You should have VSTS build the web project, as outlined in this blog post: https://aka.ms/precompiled-functions.

[2017-05-08 17:09] lindydonna commented on #266
This issue was moved to projectkudu/AzureFunctionsPortal#1340

[2017-05-08 17:09] #266 closed

[2017-05-08 19:14] tohling commented on #229
@napalm684, the fix is deployed in production.  Your functions that trigger on deadletter queues should now work. When you get a chance, kindly retry and let us know you are unblocked on this issue.

[2017-05-08 19:16] #229 closed

[2017-05-09 00:57] lindydonna opened #268 "VS Function App provisioning needs to set content share as an atomic step"
The ARM template should be similar to the following:

[code]

[2017-05-09 00:58] lindydonna opened #269 "VS Function App creation page should be more streamlined"
- It should behave more like the Azure portal, where fields like resource group and storage account name are automatically set.
- Creating a new consumption plan should be much simpler; either a checkbox or a dropdown

[2017-05-09 01:00] lindydonna commented on #88
Handled in new tooling

[2017-05-09 01:00] #88 closed

[2017-05-09 01:01] lindydonna commented on #90
Handled in new tooling, which will come out soon

[2017-05-09 01:01] #90 closed

[2017-05-09 01:02] lindydonna commented on #91
Solved with precompiled assemblies

[2017-05-09 01:02] #91 closed

[2017-05-09 01:03] lindydonna commented on #105
Handled with new VS tooling, which will be released very soon

[2017-05-09 01:03] #105 closed

[2017-05-09 01:03] lindydonna commented on #109
Handled with new VS tooling, which will be released very soon

[2017-05-09 01:03] #109 closed

[2017-05-09 01:03] lindydonna commented on #115
Handled with new VS tooling, which will be released very soon

[2017-05-09 01:03] #115 closed

[2017-05-09 01:04] lindydonna commented on #119
Closed as it's more of an error message issue, which is tracked by https://github.com/Azure/azure-functions-cli/issues/38

[2017-05-09 01:04] #119 closed

[2017-05-09 01:05] lindydonna commented on #123
This particular version of the Functions tooling will not be maintained, and the new version will be based on class libraries. We'll also use a VSIX to install, which won't have this effect on other project types.

See [Azure Functions Tools Roadmap](https://blogs.msdn.microsoft.com/webdev/2017/04/14/azure-functions-tools-roadmap/) blog post

[2017-05-09 01:05] #123 closed

[2017-05-09 01:05] lindydonna commented on #166
Handled by new version of VS 2017 tooling

[2017-05-09 01:05] #166 closed

[2017-05-09 01:06] lindydonna commented on #175
Handled by new version of VS 2017 tooling

[2017-05-09 01:06] #175 closed

[2017-05-09 01:06] lindydonna commented on #181
Handled by new version of VS 2017 tooling

[2017-05-09 01:06] #181 closed

[2017-05-09 01:07] lindydonna commented on #203
Closing this issue, as we don't plan to support the old Functions Tooling, and instead use the class library model. Stay tuned for more announcements at BUILD.

See https://blogs.msdn.microsoft.com/webdev/2017/04/14/azure-functions-tools-roadmap/ for more details

[2017-05-09 01:07] #203 closed

[2017-05-09 01:07] lindydonna commented on #249
Closing as this is fixed in the new VS 2017 tools

[2017-05-09 01:07] #249 closed

[2017-05-09 01:08] lindydonna commented on #132
The VS tooling will be based on precompiled assemblies. There's a lot more activity on https://github.com/Azure/Azure-Functions/issues/201, so I'm closing this issue in favor of that one.

[2017-05-09 01:08] #132 closed

[2017-05-09 01:08] lindydonna commented on #201
@wmmihaa Please tune in to the BUILD day 1 keynote.

[2017-05-09 01:29] isaacmcn commented on #201
@lindydonna No I wasn't using the emulator, going against Azure directly. I have since switched to queue based triggers as they seem much more reliable and faster to trigger, but haven't tried running them locally yet. Will give that a go and open a thread if I get the same issue. Thanks

[2017-05-09 01:30] BillRaymond commented on #201
There are no times listed on the website. Any chance you know what time the keynote starts?

[2017-05-09 01:34] lindydonna commented on #201
@BillRaymond It starts at 8:30am Pacific.

[2017-05-09 01:43] BillRaymond commented on #201
Cool thanks.

[2017-05-09 02:17] APErebus commented on #45
ooooo, what is this?
![slots?](https://cloud.githubusercontent.com/assets/332730/25832970/7fe5aa8a-34b1-11e7-8ffd-996a1471ff3f.png)

[2017-05-09 06:06] fabiocav commented on #45
😀

[2017-05-09 10:54] GitRik commented on #226
Same issue here with functions that run smooth for the last months
session id = ec2d3a7738b04c1bb83908ecbe3f6a0e

[2017-05-09 12:36] ctaggart commented on #226
I just went to create a new function after a couple of months and I'm seeing this error.
[code]

My existing host.json is:
[code]

[2017-05-09 15:27] ebashmakov commented on #226
I'm having the same error in different Function Apps.

[code]

[2017-05-09 15:49] erikadanis81 commented on #226
I am having the exact same issues to functions that used to work up until last night

Error:

We are not able to retrieve the runtime master key. Please try again later.
Session Id: 76f2e9e6ad53409bb33b015ba0c9c557

Timestamp: 2017-05-09T15:44:29.923Z

[2017-05-09 16:35] davidebbo commented on #226
Ok, so I think we know why there is a new wave of these errors. There are two possibilities:

1. You are on the beta. At this point, the beta is no longer usable, and you need to switch the app setting back to ~1. Sorry for the poor communication on this. We just updated the [blog post](https://blogs.msdn.microsoft.com/appserviceteam/2017/04/06/azure-functions-application-insights/). Not that AppI

[2017-05-09 16:46] ebashmakov commented on #226
@davidebbo I've switched to `~1` and everything seems to be working. Thanks!

[2017-05-09 17:46] pwiebe commented on #226
I'm seeing the same issue.  Not on beta.  Tried stopping and starting my Function App.  Still persists. Am running the Functions runtime as specified here https://github.com/Azure/azure-webjobs-sdk-script/wiki/Deploying-the-Functions-runtime-as-a-private-site-extension.

[2017-05-09 17:49] ahmelsayed commented on #226
@pwiebe  are you running the latest changes for the runtime? In particular this commit https://github.com/Azure/azure-webjobs-sdk-script/commit/6008a50b878e8698ad3a5d436567be78a2890e50

[2017-05-09 17:52] davidebbo commented on #226
@pwiebe note that using a private site extension is by nature unsupported. Once you move to that mode, you are responsible for keeping it updated as the product evolves. Just merge the latest bits and redeploy, and you'll be ok.

[2017-05-09 18:31] pwiebe commented on #226
Was running an older version.  Now works.  Thanks!

[2017-05-10 03:46] davidebbo commented on #264
I just realized that I never responded to this one :(

Is this still an issue? If so, I'll take a look tomorrow.

[2017-05-10 05:22] sjwaight commented on #259
I noted that @davidebbo mentioned this was fixed on the linked thread. Just putting up here that I'm still seeing this behaviour in AU East, so am not sure if the patch has rolled out yet (I assume not).

[2017-05-10 05:40] MickBadran commented on #201
Any update on the tooling availability for VS2017?

[2017-05-10 05:42] davidebbo commented on #259
@sjwaight to please make sure you have `FUNCTIONS_EXTENSION_VERSION` set to `~1`, and restart your App to make sure it binds to the latest runtime.

[2017-05-10 09:38] kverpoorten commented on #45
I'd like to deploy my function app to a slot using a VSTS build and release. Are there any manuals available for that already?

[2017-05-10 12:07] MisinformedDNA commented on #201
Watch the Build keynote this morning (see above).

[2017-05-10 17:30] shaggygi commented on #201
Are the updates for VS 2017 now available for VS 2017.2 or the preview Preview v.3?

[2017-05-10 17:39] lindydonna commented on #201
It's the v3 preview and it will be a VSIX that installs on top. We'll post the link to everything at noon.

[2017-05-10 17:47] shaggygi commented on #201
@lindydonna thank you.  do you know if you can install VS 2017 and VS Preview without conflicts?

[2017-05-10 17:47] BowserKingKoopa commented on #201
It's not going to work in the current VS 2017?

[2017-05-10 17:49] lindydonna commented on #201
You need VS 2017 preview, which you can install from https://www.visualstudio.com/vs/preview/. It installs side-by-side with other versions of 2017.

[2017-05-10 17:50] BowserKingKoopa commented on #201
Argh.

[2017-05-10 17:54] BillRaymond commented on #201
I watched the keynote and saw a quick note from Scott G about Azure Functions being available but I am confused by this conversation so my apologies if I just plain missing something. Since Visual Studio 2017 is GA, what is Visual Studio Preview? Is that a preview for a new version of Visual Studio 2017 or the old 2017 bits pre-GA?

[2017-05-10 17:56] shaggygi commented on #201
VS Preview is kind of like the Windows Insider program, but for developers.  Get to see early bits (in preview)  VS 2017 v3 Preview was released today.

[2017-05-10 17:58] BillRaymond commented on #201
I see. Thank you @shaggygi.

[2017-05-10 19:00] Andrew-MSFT commented on #201
The Visual Studio 2017 Tools for Azure Functions are now available for download.  The [blog post explains the tools, requirements, and has a link to the download](https://blogs.msdn.microsoft.com/webdev/2017/05/10/azure-function-tools-for-visual-studio-2017)

[2017-05-10 19:52] BowserKingKoopa commented on #201
Is there a way to do the hosts.json in code as well?

[2017-05-10 21:06] BillRaymond commented on #201
I followed the instructions to download Visual Studio Preview, but it seems to only install Preview (2) and then after that is done, allow me to install Preview (3). Is this what I should expect or am I doing something wrong? Thanks.

[2017-05-10 21:36] Andrew-MSFT commented on #201
@BowserKingKoopa no, there is no way to do host.json in code at this time.  Given this is a runtime configuration file, I'd be interested in what you would expect a code concentric model to look like

[2017-05-10 21:37] Andrew-MSFT commented on #201
@BillRaymond that is not expected.  I just tried again myself and it directly installed the 15.3 version, so not sure what happened.  If anyone else runs into that let me know.

[2017-05-10 21:46] BowserKingKoopa commented on #201
@Andrew-MSFT A code-centric model of hosts.json might look like the JobHost class that WebJobs use.

[2017-05-10 21:54] BillRaymond commented on #201
@Andrew-MSFT It is possible I am a confused newcomer to this. Perhaps _(2)_ in the screen capture is just the instance number and not the version number?
<img width="1280" alt="screen shot 2017-05-10 at 2 48 38 pm" src="https://cloud.githubusercontent.com/assets/15895828/25922941/0a8b9170-3590-11e7-9898-9714a81040c6.png">

[2017-05-10 21:55] BillRaymond commented on #201
@Andrew-MSFT Also, please be aware installation has consistently failed if I select _Data Storage and Processing_.

[2017-05-10 21:57] shaggygi commented on #201
@BillRaymond I believe you are installing the correct version (Preview 3).  There was a textbox at the beginning to add a nickname and the default is "2".  You'll notice after the install, you can search for the preview and you should see "2" next to the name.  e.g. Visual Studio 2017 Preview (2).

I'm not sure if you can change the nickname after install.

[2017-05-10 22:01] Andrew-MSFT commented on #201
@BillRaymond correct on the (2), when you first come into the installation screen there is a "nickname" box. If you are installing it on a machine with existing instance(s) of Visual Studio it defaults to a nickname that is the number of VS installations for 2017 that install will be on the machine. The reason you saw a three the second time was the nickname defaulted to "3" since it was the third

[2017-05-10 22:11] BillRaymond commented on #201
@Andrew-MSFT Thank you. Silly mistake but since I never did this before, I really did think that 2 meant preview 2.

[2017-05-10 22:31] niemyjski opened #270 "Source for the new Azure Functions runtime"
Will new new azure functions runtime be oss? https://azure.microsoft.com/en-us/blog/introducing-azure-functions-runtime-preview/

[2017-05-10 22:36] fabiocav commented on #270
@niemyjski the runtime is entirely based on the code on the https://github.com/Azure/azure-webjobs-sdk-script repository.

@jvano might be able to share more information about the source availability of the changes made there.

[2017-05-10 23:48] BillRaymond commented on #201
Hey, folks, I spent the last few hours on my VM building the VS 2017 Preview 3 and Azure Tools environment. Here is a full video that walks you through the installation steps and also walks you through how to run and use Functions.

https://youtu.be/bv1x4QR6FX8

[2017-05-11 00:39] jvano commented on #270
It is a little bit confusing but the "Azure Functions Runtime" is a closed product that uses the actual "functions runtime" is oss.

The "Azure Functions Runtime" product is delivered as an msi which can be downloaded from https://www.microsoft.com/en-us/download/details.aspx?id=55239 and the actual "functions runtime" is distributed as container image in https://hub.docker.com/r/azfuncrun/functio

[2017-05-11 01:01] fabiocav commented on #270
@jvano makes a good point that the actual Functions Runtime (from the repo I've linked to) is one of many  components of the recently announced Azure Functions Runtime.

[2017-05-11 01:55] garthmason commented on #201
Thanks Bill - just watched your video, downloading the preview now.

[2017-05-11 02:03] BillRaymond commented on #201
@garthmason  Cool. I was in a rush to get it out so verbose in some areas and short in others. Please let me know if feel any changes are needed. I did not cover publishing to Azure as it felt more appropriate to make that a different video.

[2017-05-11 02:12] garthmason commented on #201
Sounded fine to me mate - first morning (Aussie time) after BUILD so I wasn't expecting to see anything that quickly!

Next thing for me is setting up the CI pipeline to deploy some functions to Azure from VSTS/Git :thumbsup:

[2017-05-11 02:17] shaggygi commented on #201
@BillRaymond I recommend creating a quick video on setting up CI/CD like @garthmason mentioned.  I recall scottgu stating you could hook up to your github repo for deployment.

[2017-05-11 02:42] BillRaymond commented on #201
@shaggygi Yes, I do not think CI/CD works with this solution yet as you need to do a manual publish but will continue looking into it. That said, I just posted a CI/CD video earlier this week that walks you through the process beginning to end.
https://www.youtube.com/watch?v=gH37_FUSroc

[2017-05-11 07:25] garthmason opened #271 "Azure Functions Project with input binding from DocumentDB"
I've downloaded the preview tooling and VS2017 preview as described in yesterday's
[blog](https://blogs.msdn.microsoft.com/webdev/2017/05/10/azure-function-tools-for-visual-studio-2017/#comment-239296).

I was trying to recreate a function that I'd tested in the portal/csx template.  It's timer triggered, so I can use the existing template to create that function, run and debug locally (that all w

[2017-05-11 07:31] dersia opened #272 "Azure Functions Runtime configuration for created databases"
Because of some policy-based vpns, I can't run the the Functions within Azure, so I was really glad that the Runtime was released as an standalone product.

I'm trying to install AzureFunctionsRuntime on a VM running within Azure and after installation is successfull I tried to set everything up and chose to use a Azure Sql Database for the requested Database setup. It more or less works, so you c

[2017-05-11 08:56] dersia opened #273 "Azure Functions Runtime: Firewall is opened without any notice"
I just installed Azure Functions Runtime and I noticed that the installation is opening the Firewall on ports 443 and 4433 by allowing any inbound request.
I see, why this is happening, but it would be nice, if there was a notice on the configuration-tool to tell you what exactly is happening.

[2017-05-11 08:59] dersia opened #274 "Azure Function Runtime: password credentials stored plain in Database"
After installation of the Azure Functions Runtime. While there were some issues that needed changes in the config files, I also looked into the Database that was created.

I noticed that the provided UserCredentials for the FileShares are stored in plain in the database. This is not good at all and also not ready for production, this should be definitly changed.

[2017-05-11 09:02] dersia opened #275 "Azure Functions Runtime: API-Hostname in web.config not changeable from config-tool"
The Angular-App that is running the portal uses the API-App to load all the data needed for the portal.

The configuration for the API-App-Hostname is within the web.config of the portal-App. It would be good, if this can be changed from the Configuration-Tool, since a lot of users won't call the portal by the Servername but rather use a DNS entry from within their organization.

[2017-05-11 09:47] regionbbs opened #276 "Azure Functions Runtime: Unable to connect to management role in non-English environment"
I downloaded and installed Azure Functions Runtime, and completed required configurations. (Windows 10 Creator Update in Traditional Chinese language)

But when I connect to management portal with https://[computername], browser has no any response in screen. I use Fiddler to capture event, an error has been captured:

{"Message":"An error has occurred.","ExceptionMessage":"值 '週四, 11 五月 2017 09:38

[2017-05-11 12:39] slideep opened #277 "The following 1 functions are in error: Can't figure out which ctor to call."
Azure Functions CLI 1.0.0-beta.96
VS Community 2017 Preview Version 15.3 (26507.0-Preview)  Preview
VS2017 Tools for Azure Functions (Version 0.1)

Hey there,
Any idea why this function's signature with collector based `ServiceBus` attribute isn't generating a proper function for the host and isn't found? Am I missing something obvious here??

[11/05/2017 12.16.58] Generating 2 job function(s)
[11

[2017-05-11 13:58] fulls1z3 commented on #201
Well, I've read the thread above and a little scared about installing the 'Preview' version of Visual Studio. @Andrew-MSFT do you have any idea about VS15.3 will appear on updates section of VS2017 or not, rather than a separate instance?

[2017-05-11 17:49] willwhite1 commented on #226
I am running everything default and am seeing this error come and go. Was fine this morning and now seeing it again.

[2017-05-11 17:54] willwhite1 commented on #226
My issue was caused by setting 'newBatchThreshold' to 0 in host.json. Running locally via visual studio revealed the underlying exception.

[2017-05-11 18:13] MarekLani opened #278 "Event hub trigger not working with VS2017 functions tooling"
Hello, when I create Event Hub triggered functions usign VS2017 functions tools I am getting following error when running function:

EventHubTriggerCSharp: Value cannot be null.
[5/11/2017 6:07:43 PM] Parameter name: receiverConnectionString.

I am sure, that I provide right Path and Connection when creating EventHubTrigger attribute.

[2017-05-11 18:39] mathewc commented on #75
This issue has been addressed. See https://github.com/Azure/azure-webjobs-sdk-script/pull/1502

[2017-05-11 18:39] #75 closed

[2017-05-11 18:56] brantb opened #279 "Visual Studio tooling does not generate manual input bindings"
## Environment
OS Version: Windows 10
Visual Studio version: 15.3 (26507.0-Preview)
Visual Studio 2017 Tools for Azure Functions version: 0.1

## Issue
I have a function which I would like to be able to invoke manually in the portal UI with user-provided input, like this:
[code]

When I build this code, the msbuild outputs the following warning but does not generate a `function.json`:

## Expected

[2017-05-11 19:00] pugwonk commented on #75
This is great (and will actually solve my problem) but I think the core issue still remains - there's a hard and somewhat arbitrary limit on how long your function can take, which does rather negate the really appealing "computing time only when you need it" aspect of the Consumption plan. Nobody wants to re-architect their service just because it takes >n minutes on one data set, and changing 5 t

[2017-05-11 19:08] fulls1z3 commented on #279
Same here, even if i create a new `function.json` it is not respected. Routing doesn't work either :(

[2017-05-11 19:11] BowserKingKoopa commented on #75
I agree.  I have some report generation stuff that can take longer than 20 minutes. WebJobs has no problem handling it.  Why the arbitrary limit in Functions?

[2017-05-11 19:26] lindydonna commented on #75
Because of the way the Consumption plan is implemented, we need to be able to move Function Apps from one machine to another. So, like all serverless platforms, we have an execution timeout.

If you want to run for longer, you don't have to re-architect anything, simply run on an App Service Plan instead of the Consumption plan.

[2017-05-11 20:15] chunye commented on #276
For now, can you try this on an English OS?

[2017-05-11 20:18] lindydonna commented on #278
Can you provide the contents of local.settings.json?  Please remove connection strings, just include the structure of the file.

[2017-05-11 20:19] lindydonna commented on #277
Could you post the contents of function.json from your bin folder?

[2017-05-11 20:31] lindydonna commented on #201
@fulls1z3 You can install VS15.3 preview side-by-side with regular VS2017, so you don't need to worry about destabilizing your main instance. Make sure to install the Web Tools and Azure workloads.

For CI with Kudu or VSTS, I plan to do a blog post. It's currently a bit manual because neither of these have VS 2017 Update 3 installed. For Kudu, you can workaround by using a Web Project, and for VS

[2017-05-11 20:32] slideep commented on #277
Sure thing, `AccessRights` param and `Connection` props were missing from the original comment but adding those didn't seem to change the situation from earlier today:

[code]

[2017-05-11 20:32] lindydonna commented on #201
Closing this issue as the preview is now released. For specific feature requests or bugs, please file a new issue and include [Visual Studio] in the title.

[2017-05-11 20:32] #201 closed

[2017-05-11 20:33] fulls1z3 commented on #201
@lindydonna just installed it on an Azure VM, used a little and I can say that the results are hot! Awesome work 👍

[2017-05-11 20:33] #267 closed

[2017-05-11 20:35] lindydonna commented on #277
So the issue is that the function is not listed when it says what functions were found?  I'm a little confused because they are "redacted" in your original post.

[2017-05-11 20:36] fulls1z3 commented on #279
Well I noticed that routing is possible.

It seems that the contents of `function.json` is supplied as a parameter for the `Run` method.

[code]

[2017-05-11 20:45] slideep commented on #277
Host finds the other two functions just fine.

[code]

[2017-05-11 20:52] lindydonna commented on #277
@slideep Got it, it is probably a serialization problem with function.json. Looking at that output, it looks like it generated the wrong property for "queue", it should be "queueName" instead. Could you try manually changing it in function.json and see if that fixes it?

[2017-05-11 21:08] slideep commented on #277
That did the trick, I modified function.json after the job host started. The generated "queue" --> "queueName" and "access" --> "accessRights" (at least intellisense kicked in to suggest these). Now it finds all functions and gets triggered. Whole bunch of other exceptions but those are clear where they raise themselves. 👍

[2017-05-11 21:09] lindydonna commented on #277
Yes, I can repro it myself as well. I'm going to file a new issue in https://github.com/Azure/azure-functions-vs-build-sdk/

Thanks for the bug report!

[2017-05-11 21:10] MarekLani commented on #278
Hi Donna, when creating new EventHub triggered fubction, the connection string and event hub path are automatically added to EventHubTrigger attribute for eventHubMessage parameter of function's Run method:

  public static class Function1
    {
        [FunctionName("EventHubTriggerCSharp")]
        public static void Run([EventHubTrigger("amyeventhub", Connection = "Endpoint=sb://***=")]string m

[2017-05-11 21:11] lindydonna commented on #277
Closing in favor of https://github.com/Azure/azure-functions-vs-build-sdk/issues/40

[2017-05-11 21:11] #277 closed

[2017-05-11 21:12] lindydonna commented on #278
You can't use a connection string in the connection attribute. It should be the name of an app setting that's provided in local.settings.json, which you have to add manually.

[2017-05-11 21:13] slideep commented on #277
Glad to help out, I'm gonna call it a night and continue tomorrow migrating other functions as well.

[2017-05-11 21:25] Andrew-MSFT commented on #201
@BillRaymond I talked to the setup team and they said your installation failure with _Data Storage and Processing_ is not known.  Can you use the build in "Provide Feedback" icon on the top right of the installer to report the issue, it will automatically upload all of the logs
![image](https://cloud.githubusercontent.com/assets/12432803/25972642/b3243394-3655-11e7-8ba1-94a8ced3b4f1.png)

[2017-05-11 21:34] MarekLani commented on #278
Thank you. I was not sure, cause first I have done it this way, that I have put it into application settings, but I was getting different error, that the connection string is not in the format as expected. I have tried to copy it to settings file two time, but apparently, I was still doing it wrong. Now it works like a charm! Thanks a lot for helping me out.

[2017-05-11 21:35] #278 closed

[2017-05-11 21:39] BillRaymond commented on #201
Hi @Andrew-MSFT I gathered the logs and provided feedback yesterday so they should have it.

[2017-05-11 21:42] BillRaymond commented on #201
@Andrew-MSFT Pressed the _comment_ button too soon... I did include the log information and it consistently failed. The only other thing I can think of is perhaps it is a combination of other workloads I selected, but it is mot definitely data storage and processing that was in the logs.

[2017-05-11 21:46] Andrew-MSFT commented on #201
@BillRaymond great, thanks

[2017-05-12 00:01] lindydonna commented on #201
@BillRaymond I just went through the VSTS build, and it turns out you need to make some customizations form the default App Service Deploy template:

- Use NuGet version 4.0
- Change the **msbuild arguments** for the solution build step to the following: `/p:DeployOnBuild=true /p:WebPublishMethod=Package /p:PackageAsSingleFile=true /p:SkipInvalidConfigurations=true /p:DesktopBuildPackageLocation="

[2017-05-12 00:05] BillRaymond commented on #201
Okay, thank you @lindydonna!

[2017-05-12 00:13] lindydonna commented on #279
@fulls1z3 If you create your own function.json, you need to create it in the right folder and set it to copy to the output folder. You also need to set the scriptFile and entryPoint properties. See https://aka.ms/precompiled-functions.

[2017-05-12 00:14] BillRaymond opened #280 "[Visual Studio] Cannot publish multiple functions with the same name"
I create a new Functions app with two functions and cannot publish them but receive errors and cannot publish. There are no resources whatsoever on Azure (no resource groups, storage accounts, etc.).

Repo steps:

1. Create a new VS Azure Functions App (FunctionApp1).
2. Add two new Functions (Function1.cs, Function2.cs).
3. Publish the project.
4. Publish tool creates the same unique id for both

[2017-05-12 00:15] lindydonna commented on #279
Closing this issue in favor of https://github.com/Azure/azure-functions-vs-build-sdk/issues/15

[2017-05-12 00:15] #279 closed

[2017-05-12 03:15] garthmason commented on #271
Updated this with answer in StackOverflow, the following is working:

[code]
Just blocked now awaiting this [fix](https://github.com/Azure/azure-functions-vs-build-sdk/issues/40)

[2017-05-12 05:50] sjwaight commented on #259
There is still something weird happening - invocations do not show up immediately. Runtime is set to ~1 - these are compiled C# Functions with App Insights enabled. Invocation shows in the log window, but not under the Monitor tab.

[2017-05-12 12:13] MikeWilliams-UK opened #281 "Cant debug locally Timer Function"
I am trying to debug a Function I have written in Visual Studio.

I have followed the steps in https://blogs.msdn.microsoft.com/appserviceteam/2017/03/16/publishing-a-net-class-library-as-a-function-app/

Initially I could press <F5> to start and debug the function.
Suddenly it has stopped being able to attach the debugger.

Googling around I found some people saying that the id used in host.json

[2017-05-12 12:48] slideep opened #282 "Azure Functions Portal UX - Dead Letter Queue (DLQ) Name Doesn't Pass Validation"
Not quite sure to which repo to report this but queue name being dead letter queue fails miserably validation - though, it's perfectly valid queue name! At least the function works and triggers as expected.
![az_functions_portal_ux_dlq_validation](https://cloud.githubusercontent.com/assets/100609/25998550/30d66bac-372a-11e7-8567-8e6a289c488f.PNG)

[2017-05-12 12:58] rawlukMike opened #283 "KUDU REST POST /api/settings won't work how it supposed to?"
After posting to ***.scm.azurewebsites.net/app/settings** with body:
{
"setting1":"test"
}
The setting1 is visible in ***scm.azurewebsites.net/api/settings**
but NOT in ***scm.azurewebsites.net/Env.cshtml**

Is this how supposed to be?
That would be a nice way to add values to App Settings and I suppose it should work like this.
Or only way is to post whole **appsettings.json** to **api/zip/site/w

[2017-05-12 13:29] sayron5 opened #284 "Support for Custom Config sections for Azure Functions."
Currently there is no way to configure custom config sections for Azure Functions.  Many third party libraries that we build components with require these custom config sections.  Adding support for them would enable us to move many of our web service applications to Azure Functions.  An example of a well known library that requires custom functions is the Google .NET DoubleClick Ad Client librari

[2017-05-12 15:32] brisebois opened #285 "Tooling not generating the right Event Hub binding in function.js (VS 2017)"
For the following signature:
[code]

Using the webjobs binding the tooling generates :
[code]
property **eventHubName** should be **path**

Azure portal generates :
[code]

[2017-05-12 15:59] brisebois commented on #285
refiled on the right repo : https://github.com/Azure/azure-functions-vs-build-sdk/issues/42

[2017-05-12 15:59] #285 closed

[2017-05-12 16:50] aherrick commented on #201
When trying to run the VISX receiving error:

"The requested operation requires elevation." I have UAC off.

![5-12-2017 9-48-54 am](https://cloud.githubusercontent.com/assets/586671/26008128/5669a794-36f8-11e7-888e-e7abce62354d.png)

[2017-05-12 16:53] Michael-Eng commented on #201
Can you please attach the vsix installer log in %temp% that corresponds to that installation?

[2017-05-12 17:01] BillRaymond commented on #201
@Michael-Eng Unfortunately, I did this on a Virtual Machine, so every time I had a problem I reverted back to a snapshot. To provide the information you need, I will need to go through the process again, which I am happy to do but it might take me a few days based on my schedule.

[2017-05-12 17:02] BillRaymond commented on #201
Hey All,

As you may know, I created a video that steps you through installing Visual Studio Tools for Azure Functions. Today, I just posted another video that shows you how to use them. Check out the video here:
https://youtu.be/MqpAiazVMQ4

[2017-05-12 17:02] davidebbo commented on #259
@sjwaight can you clarify what you mean by 'invocations do not show up immediately'? After how long do they show up?

[2017-05-12 17:44] Andrew-MSFT commented on #201
@Michael-Eng question was in response to the issue @aherrick reported

[2017-05-12 18:02] BillRaymond commented on #201
@Michael-Eng I am very sorry about that. I blame Friday :-)

[2017-05-12 18:59] ThomasArdal opened #286 "Timeout when deploying function apps´from Bitbucket with Kudu"
I have a problem deploying multiple Function apps with Kudu. Some of my apps deploy perfectly fine using Bitbucket deployment. When I set up automatic deployment from Bitbucket, the deployment just hangs with the message "Fetch from git@bitbucket.org:...". Deployment is never finished.

One of the failing functions is located in east us and here's a successful function:

2017-05-12T18:57:34.702 Fu

[2017-05-12 19:30] BillRaymond opened #287 "[visual studio] Function App and Functions Naming"
This is a change to consider changing in future previews. Right now, when you create an Azure Functions app in Visual Studio, it is really a C# project, yet it is called an 'app'. In reality, you are creating functions that may perform outside the scope of any one application. Maybe it would be better to call them _Function Groups_ or something along those lines?

For the functions themselves, you

[2017-05-12 19:59] davidebbo commented on #226
The primary issue that was causing a bunch of these recently has been addressed by a portal change.

If you see errors that look like this is the future, the root cause will likely be different, so please open a separate issue.

[2017-05-12 19:59] #226 closed

[2017-05-12 21:02] ahmelsayed commented on #281
probably related to this https://github.com/Azure/azure-functions-cli/issues/126
where terminating the cli\core tools\runtime doesn't dispose of the blob lease held to better coordinate timer functions across instances.

[2017-05-12 21:09] ahmelsayed commented on #282
/cc @alrod and @soninaren

I think it should go [here](https://github.com/Azure/azure-webjobs-sdk-templates/) where we keep the regex used to validate UX input.

[2017-05-13 20:43] mwitlok commented on #282
The same is true of the "Subscription name"-field when creating a Topic/Subscription trigger.

[2017-05-14 09:33] OneCyrus opened #288 "Azure Functions Runtime - PowerShell support?"
Is PowerShell support coming to Azure Functions Runtime at a later time? Or is it missing by design/limitations?

really looking forward to replace SMA with azure functions on-premise. C# and JavaScript support is already amazing. (just missing the http input trigger right now)

[2017-05-15 18:10] lindydonna opened #289 "For blob bindings, document best practice of using stream types"
For blob bindings, you should bind to a Stream or CloudBlockBlob if the blob is large. Otherwise it can exceed the memory limits of the function app.

[2017-05-15 18:42] lindydonna commented on #271
Thanks for the update!

[2017-05-15 18:42] #271 closed

[2017-05-15 18:58] lindydonna commented on #282
This issue was moved to Azure/azure-webjobs-sdk-templates#450

[2017-05-15 18:58] #282 closed

[2017-05-15 18:59] lindydonna commented on #283
@ahmelsayed Can you help out?

[2017-05-15 19:00] lindydonna commented on #281
Closing in favor of Azure/azure-functions-cli#126

[2017-05-15 19:00] #281 closed

[2017-05-15 19:01] jvano commented on #275
Thanks for the feedback, the idea was to make the deployment as easy as possible and try avoid dependency on infrastructure components like DNS. However, you can modify the site's config, and create the DNS record to make this work or create a proper certificate from your org CA.

[2017-05-15 19:02] lindydonna commented on #252
Closing this issue. If there's a new repro, please open a new issue.

[2017-05-15 19:02] #252 closed

[2017-05-15 19:03] lindydonna commented on #247
Closing due to lack of response. Please reopen if the issue reoccurs.

[2017-05-15 19:03] #247 closed

[2017-05-15 19:04] #145 closed

[2017-05-15 19:04] jvano commented on #274
Yes, this is something we are aware and we have plans to fix.

The version we released is currently in preview under a beta/pre-release license.

[2017-05-15 19:05] lindydonna commented on #151
@skorunka For this kind of behavior, we recommend manually scheduling the work using a combination of queue trigger and timer trigger. You could have a queue message that controls whether or not the next timer should start or delay.

[2017-05-15 19:05] #151 closed

[2017-05-15 19:06] lindydonna commented on #264
@jtjk Please reopen if the issue persists.

[2017-05-15 19:06] #264 closed

[2017-05-15 19:06] jvano commented on #273
Thanks for the feedback, we will add this to the configuration tool to make this more explicit.

[2017-05-15 19:06] lindydonna commented on #265
@tohling Could you investigate?

[2017-05-15 19:10] jvano commented on #272
We have plans to support Azure SQL Database and we will explore your suggestion of deploying to an existing database.

[2017-05-15 20:10] 1N50MN14 commented on #145
@brettsam Thanks for the clarification. According to the link the "Basic+" plan imposes no such limitation, but no such plan exists in the portal when creating a Function App. Where do I find more information about the "Basic+" plan?

[2017-05-15 20:15] mheydt commented on #201
I've tried installing with Preview 3 and get an error that I need prerequisite PowerShellTools.VS2017,version=3.0.519.  I have the latest version, 539, installed.  Any idea how to get around this?

[2017-05-15 20:28] brettsam commented on #145
If you create a function app with an 'App Service' plan (rather than Consumption), you're able to scale up to the Basic plan. See here for more info: https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale#service-plan-options.

Let me know if you still can't find it.

[2017-05-15 20:47] 1N50MN14 commented on #145
@brettsam Found it, thank you! ;)

[2017-05-15 21:15] Andrew-MSFT commented on #201
@mheydt where in the process are you seeing that error message?

[2017-05-15 23:28] ahmelsayed commented on #283
that settings API [` *.scm.azurewebsites.net/api/settings`](https://github.com/projectkudu/kudu/wiki/REST-API#settings) is not the same as what you get from /Env. The settings under `/api/settings` above are just kudu specific settings which are a mix of AppSettings defined in Azure and a local `settings.json` file for that app. Only kudu consumes that file and can read the settings in it.
For set

[2017-05-16 00:14] mheydt commented on #201
@Andrew-MSFT Installed 2017 15.3 fresh (first time ever).  Downloaded the .vsix.  Run it, then while initializing...  Image attached, along with the log.
![2017-05-15_18-09-11]
(https://cloud.githubusercontent.com/assets/6344715/26084558/4313e93a-399a-11e7-8471-535855a2eb0a.png)
[VSIXInstaller_fc105b64-7d12-4246-8a86-0d0987f9ac4d.txt](https://github.com/Azure/Azure-Functions/files/1002815/VSIXInst

[2017-05-16 02:03] #283 closed

[2017-05-16 05:29] garthmason commented on #201
@BillRaymond thanks for the video link, that has helped me port some functions to the new project and publish them to Azure via VS2017 Preview.
Do you have any information on how to publish a new function project via VSTS continuous integration, rather than via the Visual Studio publish option? I can't seem to find any documentation on doing this specifically for a function app.

[2017-05-16 05:51] Andrew-MSFT commented on #201
@mheydt looks like something went wrong with the Visual Studio install. Can you use the "report an issue" link in the installer UI (shown above) to create an issue in the Visual Studio system, the setup team will then use that to track the issue, ask any necessary clarifying questions, and update status.

After you report the issue (which will also upload the logs) I would recommend repairing the

[2017-05-16 12:17] BillRaymond commented on #201
@garthmason I have not tried this yet but it is on my todo list of things to try and accomplish. I have been playing around with scenarios from the article below but won't be able to dig my teeth into the topic until next week.
http://www.clemensreijnen.nl/post/2017/01/02/CICD-Pipeline-for-Serverless-release-Azure-Functions-with-VSTS

[2017-05-16 13:39] AranVinkItility opened #290 "Cannot remove 'X-AspNet-Version' from response headers"
Hi all,

I'm working on securing my Azure Functions NodeJS application, but can't seem to find a way to remove the X-AspNet-Version response header.

I have managed to remove other headers (Server, X-Powered-By) through Extensions:
1: https://github.com/gregjhogan/remove-insecure-response-headers-site-extension
2: https://github.com/tjrobinson/RemoveCustomHeaders
Number 2 SHOULD remove the X-AspNe

[2017-05-16 13:58] joshdcar commented on #201
@BillRaymond  @garthmason right there with you. I meant to ask this when I was at Build last week and it slipped my mind.  I just did a quick first pass last night just to see if the story changed since it appears we have a new project type with 2017 that didn't require the workarounds of VS2015 azure function toolset. Local instance\dev works great, publishing manually works fine, but when I setu

[2017-05-16 14:05] johnpapa commented on #232
Please see this related issue https://github.com/projectkudu/AzureFunctionsPortal/issues/1365

[2017-05-16 14:07] johnpapa commented on #232
and this related issue as it doesnt show up in the portal.

https://github.com/projectkudu/AzureFunctionsPortal/issues/1366

[2017-05-16 18:59] lindydonna opened #291 "CI with App Service doesn't build new functions project"
CI on App Service uses Kudu, which doesn't yet support the new functions project type. In addition, Kudu defaults to doing just a content publish for function apps. The Kudu issue is tracked here: https://github.com/projectkudu/kudu/issues/2417

Our current recommended approach for CI/CD is to use VSTS with a VS 2017 build agent. You can then connect it to GitHub or a VSTS repo.

However, you need

[2017-05-16 18:59] lindydonna commented on #201
@joshdcar I created this issue to track, and documented the workaround: https://github.com/Azure/Azure-Functions/issues/291

[2017-05-16 19:05] BillRaymond commented on #291
To add some additional color, I posted the following question today. In Azure, you are led to believe you can connect the Function App to VSTS but that does not work either.

https://social.msdn.microsoft.com/Forums/en-US/ccdf0343-89f6-46b1-a358-0b9f23ed5fb0/cannot-integrate-vsts-with-azure-functions-using-cicd?forum=TFService

[2017-05-16 20:06] BillRaymond commented on #291
@lindydonna Thank you for getting back to me. Is CICD in the works for Azure Functions or is this something we should request?

[2017-05-16 20:16] lindydonna commented on #291
@BillRaymond Yes, we're working on updating Kudu to the latest version of msbuild. Please follow https://github.com/projectkudu/kudu/issues/2417 for updates.

[2017-05-16 20:18] BillRaymond commented on #291
@lindydonna Thanks. I am following it now.

[2017-05-16 20:20] adammodlin opened #292 "C# Azure Function ConnectionString always comes back null"
I've created a C# Azure Function. I went into Platform Features -> Application Settings and added a connection string (Service Bus). I selected Service Bus from the dropdown and pasted the connection string for my Service Bus.

I am accessing the ConnectionString in the following manner:

    var serviceBusConnectionString = ConfigurationManager.ConnectionStrings["ServiceBusConnectionString"];.Con

[2017-05-16 20:51] cmatskas opened #293 "Replace TraceWriter with an Interface to improve code testability"
At the moment Functions in C# take a TraceWriter as a method parameter. This means that testing locally becomes a challenge as it's very hard to mock this. Ideally the method parameter should be an interface like ILogger that allows to easily mock this during testing

[2017-05-16 21:03] cmatskas commented on #293
Booya! There's been no information around this so apologies for raising...I'm not part of the inner circle :(
Thanks for the quick response!

[2017-05-17 02:21] garthmason commented on #291
Following on from #201 .. @joshdcar I did manage to get this working after a bit of trial and error (prior to seeing this issue).

As @lindydonna suggested in #291, in the build definition you need to select the VS2017 agent, and the latest NuGet version to restore packages.

In the release definition, I then used the 'Deploy Azure App Service` task, running on the 'Hosted VS2017' agent. Here I ha

[2017-05-17 02:29] lindydonna commented on #291
@garthmason You shouldn't have to do that, if you use the msbuild modification I mentioned. The default should pick up any zip files in the build output.

[2017-05-17 02:32] garthmason commented on #291
@lindydonna thanks - I'm going to update my build configuration today using your msbuild modifications rather than what I'd tried yesterday. Appreciate your help!

[2017-05-17 02:36] tohling commented on #265
@vindupuri, could you include your Function App name, directly or [indirectly](https://github.com/projectkudu/kudu/wiki/Reporting-your-site-name-without-posting-it-publicly)? Also, include a sample UTC time where you expected it to fire and it didn't.

[2017-05-17 02:46] danielmarston commented on #287
I think there is a bug in the tooling where when you Add... an Azure Function to the project, the name you give the file is not used for the file name but the function type/trigger is used instead. Azure seems to show the file name in the portal.

[2017-05-17 03:51] joshdcar commented on #291
@lindydonna  thanks so much for the quick response. I got the build CI/CD up and running successfully on VSTS this evening with your workaround instructions. Thanks!

[2017-05-17 06:06] garthmason commented on #291
I'm a bit stuck now - this might be a silly question but I've added the msbuild arguments but how do I set NuGet version to 4? I'm using the NuGet restore task, but I don't see a v4 option there.
Thanks again for your help

[2017-05-17 06:12] slideep commented on #291
@garthmason I started doing CI/CD following the mentioned arguments but at least with the build definition:

![nuget_restore_task_step](https://cloud.githubusercontent.com/assets/100609/26140681/cbd335ae-3ae0-11e7-870a-5035017b88de.PNG)

[2017-05-17 06:16] garthmason commented on #291
@slideep thanks for that! I'll give it a shot right now
I didn't see those options, not shown when selecting version 1.* of the installer task.

[2017-05-17 06:23] garthmason commented on #291
@slideep that's done the trick - thanks very much for your help!

[2017-05-17 06:35] slideep commented on #291
@garthmason glad it worked out for you! yup, it's right down there when you click 'Advanced' dropdown menu thingie. Me, I'm hitting Error MSB4062: The "CreateManifestFile" task error which could originate from private NuGet packages??? Have to investigate a bit more since continuous deployment from VSTS works just fine and app updates whenever I push changes to repo.

MSB4062 mentioned here:
- htt

[2017-05-17 06:42] garthmason commented on #291
@slideep I haven't come across that error - but we aren't using any private NuGet packages, just the standard stuff so far.

[2017-05-17 13:36] napalm684 opened #294 "Question: Azure Powershell Scripts in a Function"
Random question, I know you can run powershell in an azure function.  Is it possible to run "azure powershell" scripts via an azure function to spin up/down infrastructure.  The question then becomes if it is possible how would one install azure powershell in the context of the azure function?  Thanks in advance, hopefully this hasn't already been asked as I couldn't find it (if it was).

[2017-05-17 13:38] napalm684 commented on #229
I have confirmed this indeed appears to be fixed.  Thank you @tohling and @lindydonna for all your assistance.

[2017-05-17 17:13] joshdcar commented on #291
I put together a very simple walkthrough of getting a very basic Azure Function project up and running with VSTS.  Nothing fancy here but I thought it might benefit someone visiting this thread.  With the guidance from @lindydonna it was really a pretty quick process. Thanks again for the quick response to the request!

https://www.joshcarlisle.io/blog/2017/5/17/visual-studio-2017-tools-for-azure-

[2017-05-17 17:33] tohling commented on #294
Yes, here's an SO thread that walks through how that is done.  http://stackoverflow.com/a/40883318/6465830

[2017-05-17 18:34] napalm684 commented on #294
@tohling thank you for the response, it is my assumption that azure powershell is already installed for azure functions to utilize when you choose powershell as the function language?

[2017-05-17 19:10] napalm684 commented on #294
Awesome thanks again!

[2017-05-17 23:11] WonderPanda commented on #201
@lindydonna Was awesome meeting the Functions team at Build!

I'm trying to get a CI/CD build set up in VSTS but I'm getting this message for a project created using the new Functions tooling in VS2017 Preview 3:

The project file "OperationPlatypus\OperationPlatypus.csproj" is not supported by MSBuild and cannot be built

I tried updating to Nuget v4 and adding the msbuild parameters you mentione

[2017-05-17 23:13] lindydonna commented on #201
@WonderPanda make you're using the VS 2017 build agent. Here's a walkthrough: https://www.joshcarlisle.io/blog/2017/5/17/visual-studio-2017-tools-for-azure-functions-and-continuous-integration-with-vsts?utm_content=buffer49bb0&utm_medium=social&utm_source=twitter.com&utm_campaign=buffer

[2017-05-17 23:55] lindydonna commented on #287
@danielmarston Are you seeing this with all function templates, or just particular ones?  Also, does the portal show the same name as in the "FunctionName" attribute?  That's the expected behavior.

[2017-05-17 23:58] garthmason commented on #291
Great stuff @joshdcar  - I'll be pointing my team at that blog post. Cheers!

[2017-05-18 00:06] lindydonna commented on #280
I can't reproduce this. Based on your error, it sounds like the problem was when you tried to create a new Function App. Do you happen to know what parameters you used?  Are you able to reproduce the issue?

[2017-05-18 00:15] BillRaymond commented on #291
Thank you @joshdcar!

[2017-05-18 00:19] BillRaymond commented on #280
Hi @lindydonna Yes, I can reproduce it but it is intermittent. I can tell you that it happens when publishing the application for the very first time. In my case, I just created a project and added two functions without changing much more than the sample code's JSON response message from something like "Hello " + name to "Hey there " + name.

[2017-05-18 01:52] ahmelsayed commented on #288
@jvano  I'd have thought it should just work, no?

[2017-05-18 01:54] ahmelsayed commented on #290
should probably be opened here https://github.com/Azure/azure-webjobs-sdk-script/issues

[2017-05-18 02:33] jvano commented on #288
For the preview, we only added templates for C# and javascript since the functions run inside a Hyper-V container and the container image is based on WinServerCore2016 and has not been fully tested with all languages but feel free to try PowerShell.

The plan is to expose the same languages and capabilities at some point.

[2017-05-18 13:15] AranVinkItility commented on #290
Thanks for the tip, found another related issue on webjobs-sdk and and added a reference.

[2017-05-18 16:51] mathewc commented on #292
This is a cross post. I responded to this in the forum issue here: https://social.msdn.microsoft.com/Forums/en-US/ef226a6d-a2e0-4ff0-89db-b4a034a74eaa/c-azure-function-connectionstring-always-comes-back-null?forum=AzureFunctions

It's a bug with a workaround (use type "Custom"). We've identified the issue and will be fixing it.

[2017-05-18 17:11] adammodlin commented on #292
Thanks @mathewc , feel free to close this issue now if you'd like.

[2017-05-18 17:13] #292 closed

[2017-05-18 19:43] isaac2004 opened #295 "Tooling Packages not Loading Properly"
Just fired up the tooling for the first time, and I get this when creating an Azure function

![image](https://cloud.githubusercontent.com/assets/8878502/26220392/71031a4e-3be0-11e7-946e-e60b9f00ecbf.png)

Seems like the Prerelease Nuget Packages are not being loaded properly. Is there step I am missing?

[2017-05-18 21:21] ahmelsayed commented on #295
Have you tried building? It should restore the packages. check your csproj, it should have references to [`Microsoft.Azure.WebJobs 2.1.0-beta1`](https://www.nuget.org/packages/Microsoft.Azure.WebJobs/2.1.0-beta1)

[2017-05-18 22:45] RPM1984 opened #296 "[Visual Studio] `host.json` being ignored during deploy"
Noticed the `host.json` is being ignored when deploying.

In other words, in my project in Visual Studio i have this: (to remove the `api` prefix)

[code]

But when i browse the Function App Settings in App Service Editor, the file is blank. So i have to manually browse in Kudu and patch the file each time.

Known issue?

[2017-05-18 22:47] RPM1984 opened #297 "[Visual Studio] How do we control the `authLevel` for HTTP triggers?"
Hi,

How can we control the [authLevel](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook) for HTTP triggers?

There’s no `function.json` anymore in the project structure in Visual Studio.

I'm guessing this now needs to be done via the WebJobs attributes, but i can't find documentation on how to do this.

Thanks

[2017-05-18 22:52] RPM1984 opened #298 "[Visual Studio] How to make JSON responses camelCase?"
Hi,

I have a basic HTTP trigger function, which i'd like to return camelCased JSON.

I'm using the following JSON formatter to control indendation, but not sure how to control the casing:

[code]

p.s sorry for all the questions 😊

[2017-05-18 23:39] lindydonna commented on #297
@RPM1984 You can pass a value to the HttpTrigger attribute. For instance:

[code]

[2017-05-18 23:39] #297 closed

[2017-05-18 23:42] RPM1984 commented on #297
Ah, i didn't even notice that... of course! Thankyou @lindydonna 😊

[2017-05-18 23:45] lindydonna commented on #296
Thanks for the bug report!  It looks like host.json is being published to the bin folder instead of the root. I've filed this issue to track: [host\.json is published to bin folder instead of wwwroot \#49](https://github.com/Azure/azure-functions-vs-build-sdk/issues/49)

[2017-05-18 23:45] #296 closed

[2017-05-18 23:49] RPM1984 opened #299 "[Visual Studio] How do perform dependency injection?"
Hi,

What's the recommended way to do DI in the new Azure Functions model?

I've seen mentions of the Service Locator pattern.

Any recommended samples/packages/code we should follow?

Is [this](http://stackoverflow.com/questions/30328775/dependency-injection-using-azure-webjobs-sdk) the correct way? (not sure if still relevant)

Thanks

[2017-05-19 06:27] slideep commented on #299
Excellent question, I've been tinkering with this also. I'm using a sortish of an Service Locator anti pattern which feels dirty, where say, `ServiceConfigurator` (the locator) class has static access to service objects configured into `ServiceCollection` and those are accessed via `IServiceProvider` contained services lazily after the provider has built up itself. `ConfigurationBuilder` builds up

[2017-05-19 06:57] hannespreishuber opened #300 "docker Services doesnt start"
Azure Functions runtime

Azure function host activation server starts only after reboot

Docker service can  not be startet "faile to start service docker"

Installed
Windows Creators DE
Visual Studio 17.3 preview
docker for windows 17.03.1-ce-win12 (12058)
Azure Functions Extensions for Visual Studio

[2017-05-19 11:41] BatriderLEL commented on #203
So still no fixes for VS15\17 on AzureFunctions template?

[2017-05-19 15:12] isaac2004 commented on #295
I ended up having to delete my cached packages from .nuget folder. After clearing that out and doing a dotnet restore solved the issue

[2017-05-19 15:12] #295 closed

[2017-05-19 15:30] DavidSimner opened #301 "[Visual Studio] Error: this template attempted to load component assembly 'Microsoft.VisualStudio.TemplateEngine.Wizard"
On:
- Windows 10.0 (Build 10240)
- Visual Studio version 15.3 (26510.0-Preview)
- Visual Studio 2017 Tools for Azure functions version 0.1 (released 2017-05-11 00:27:25)

I'm getting this error when I try to create an Azure Functions project:
![image](https://cloud.githubusercontent.com/assets/2973219/26255080/76880fb2-3cb0-11e7-86ec-398838af66d2.png)

[code]