[2019-11-25 11:20] mattleibow commented on #622
@BernhardHuberPlanBGmbH do you have a Linux or a windows function? If you are using a Linux function, you may need to include https://www.nuget.org/packages/SkiaSharp.NativeAssets.Linux/ and copy libSkiaSharp.so instead.

[2019-11-25 11:21] biltongza commented on #1380
Thanks, I misread.

[2019-11-25 11:53] BernhardHuberPlanBGmbH commented on #622
@mattleibow Thanks for the quick reply! We are using a windows function.

[2019-11-25 12:13] biltongza commented on #1380
Thinking about it, V3 could have the same problem down the line. .NET core 3 is not an LTS release, 3.1 will be LTS. What's to say that when Core 3 is EOL V3 we won't be stuck with this same ambiguity on support?

[2019-11-25 12:23] mattleibow commented on #622
And manually copying the libSkiaSharp.dll doesn't work? It is working in this example: https://github.com/mattleibow/SkiaSharpFunctions

https://skiasharpfunctions.azurewebsites.net/api/images?text=SkiaSharp%20Functions

[2019-11-25 12:33] BernhardHuberPlanBGmbH commented on #622
@mattleibow When manually copying the libSkiaSharp.dll to .../bin i receive the following message: Could not evaluate 'libSkiaSharp.dll' for extension metadata. Exception message: Bad IL format.

[2019-11-25 15:22] mattleibow commented on #622
That is just a warning, so you can ignore that. The function tasks are trying to process it, but they shouldn't. Probably a bug or we need some way to ignore that. I'll have a look and see maybe there is something.

[2019-11-25 17:51] cgillum commented on #1412
@waldekmastykarz thanks for confirming. Yes, a change rolled out to a small number of locations that broke authentication for Consumption function apps in certain situations. That change has since been rolled back and the team is working to figure out how exactly this happened.

[2019-11-25 17:51] #1412 closed

[2019-11-25 18:45] Joe-Code commented on #1303
Does anyone have a solution for this issue yet?

I'm using Visual Studio 2019, version 16.3.10 and I'm attempting to Publish an Azure Function to Azure. However, I receive the following error "Publishing failed":

11/25/2019 1:30:33 PM
System.AggregateException: One or more errors occurred. ---> System.Exception: Publishing failed.
   --- End of inner exception stack trace ---
   at System.Threadi

[2019-11-25 18:55] Joe-Code commented on #1303
I found a suggestion [here](https://social.msdn.microsoft.com/Forums/en-US/5b8b7935-4ffd-4b98-9ff9-200e14b4ab4f/cant-publish-azure-function-from-visual-studio-2019) that worked for me.

My fix included, opening the Edit Azure App Service settings dialog from the Publish window, then make sure "WEBSITE_RUN_FROM_PACKAGE" = 0.

[2019-11-25 19:13] waldekmastykarz commented on #1412
Awesome! Appreciate your quick response.

[2019-11-25 19:57] alexkarcher-msft commented on #1410
@ColbyTresness Looks like a VS bug to me?

[2019-11-25 20:00] ColbyTresness commented on #1410
@soninaren to take a look

[2019-11-26 00:48] zpertee commented on #1370
Should this be working in Visual Studio 2019 Preview?  I was able to create the v3-preview function/.net core 3.0 SDK, but I'm still getting the not supported on this platform error message.

[2019-11-26 00:56] dcbrown16 commented on #218
@asavaritayal is this still something we are looking to do? I have an advisory customer asking specifically for best practices regarding using the same Storage Account with multiple Functions.

[2019-11-26 13:47] brettsam commented on #1370
Also make sure you're on Microsoft.Net.Sdk.Functions 3.0.0-preview2. I don't believe our templates create projects with this reference yet.

[2019-11-26 15:37] BernhardHuberPlanBGmbH commented on #622
@mattleibow I manually copied libSkiaSharp.dll to bin directory. After that I tried to publish the Azure Function to Azure via Visual Studio publish functionality. Then the error message 'Could not evaluate 'libSkiaSharp.dll' for extension metadata. Exception message: Bad IL format.' occurred. I reviewed the files of the Azure Function via App Service Editor. libSkiaSharp.dll wasn't uploaded to Az

[2019-11-26 18:06] cgillum commented on #218
I think @ggailey777 is the right person to follow up on this.

[2019-11-26 23:02] dcbrown16 commented on #218
Somehow my posting here unassigned Asavari, so would definitely appreciate if @ggailey777 could weigh in.

[2019-11-27 03:48] AartBluestoke commented on #690
You can have this problem if you have a visual studio solution with multiple projects, with different versions of azure functions present ; in my case i had .29 in one project and .28 in another.

[2019-11-27 06:19] mattleibow commented on #622
@BernhardHuberPlanBGmbH Hmm. Maybe the VS publish option doesn't like this. I'll see if I can adjust some things in the target to only copy AFTER the processing has been done.

[2019-11-27 08:31] mattleibow commented on #622
I had a look and I was still able to publish, even with that error message. But, just in case there are other issues, I'll still have a look and see if we can avoid that error altogether.

[2019-11-27 08:54] pablocastillaquintas opened #1414 "IAsyncEnumerable support in Azure Functions V3"
Hi!

In order to return data in a stream and being more memory friendly it would be fantastic if the AF could support IAsyncEnumerable<T> return. Example:

[FunctionName("Function1")]
public static async IAsyncEnumerable<int> Run(
[HttpTrigger(AuthorizationLevel.Anonymous, "get", "post", Route = null)] HttpRequest req,
ILogger log)
{
log.LogInformation("C# HTTP trigger function processed a request

[2019-11-27 09:12] mattleibow commented on #622
@BernhardHuberPlanBGmbH I just had to move the copy tasks to after the gen steps (`_FunctionsPostPublish`):

[code]

[2019-11-27 12:17] amang2205 opened #1415 "Using an in-portal function all,"
I am using the following (rather basic) function.proj to reference a NuGet package:

[code]

However, it seems that the AFR is unable to restore this package, and fails with:

[code]

I've tried this a dozen times (since I'm doing it during a training), and all functions are in West Europe. Sometimes (meaning, some function apps deployed with exactly the same code) the issue is fixed by restarting

[2019-11-27 18:28] ahmedelnably opened #1416 "Cold start on Elastic Premium due to slots cache issue"
There was a bug identified in the platform that rarely a Premium App with slots enabled may scale down pre-warmed instances for a few seconds which could result in a cold start.
The fix is being applied in the next platform release and is targeted to roll out beginning early next year.

To mitigate that issue, please open a support ticket and ask the support engineer to change the scaling behavior

[2019-11-27 19:46] jsheetzati commented on #1380
Also wondering about this... Are we supposed to run an EOL'ed .NET Core 2.2 function app or a preview version of .NET Core 3 function app? Both seem less than ideal..

[2019-11-28 03:46] jeffhollan commented on #1380
Azure Functions customers will continue to have the runtime serviced and patched moving forward as an official supported runtime.  Customers can remain with their apps on v2 and know they are secured until we deprecate the runtime. We have not yet announced any plans to deprecate v2, and whenever we do we plan to give at least 1 years notice for users to upgrade their apps.

We do know many users

[2019-11-28 04:35] optiks commented on #1380
I really don't see how Microsoft think it is acceptable to [EOL .NET Core 2.2 on December 23, 2019](https://dotnet.microsoft.com/platform/support/policy/dotnet-core) when there's **no supported path** to move to Azure Functions 3 before then. Seriously, WTF?

[2019-11-28 04:52] jeffhollan commented on #1380
We are working with the .NET team directly who is helping facilitate a path for us to run v2 apps on a runtime that is not end of life.  And as mentioned, in addition to this extension of support for Azure Functions v2 we plan to have 3.1 GA in advance of Dec 23 as well.  So you should have options to either remain on v2 and know you are covered, or move to 3.1 in advance of Dec 23

[2019-11-28 05:11] optiks commented on #1380
@jeffhollan Got it, thanks. Apologies, I thought you were referring to the _Azure Functions Runtime_, not the  _.NET Core runtime_.

[2019-11-28 05:12] jeffhollan commented on #1380
Ah yes fair clarification and good callout.  Yes the underlying .NET Core runtime that v2 is running on will continue to be serviced through the supported lifetime of v2.

[2019-11-28 08:33] deepbass commented on #1380
Thanks @jeffhollan ! So to be clear if I have a C# Azure Functions project built with .NET Core 2.2 running on v2 then I can continue running them without worries or any code/proj file changes past 23rd December?

Of course we'll want to move over to 3.1, but christmas change freezes will start to kick in soon (they make me sad, but are a reality) so would rather avoid the scramble and start in th

[2019-11-28 10:23] BernhardHuberPlanBGmbH commented on #622
@mattleibow  I think one thing that differs in my case is that our Azure Function assembly references another assembly which uses the SkiaSharp library and not the Azure Function assembly itself. So this could maybe the reason why this doesn't work for me.

[2019-11-28 10:34] mattleibow commented on #622
@BernhardHuberPlanBGmbH Ah, that might be it. But, then you can just add the SkiaSharp NuGet to your function project. This way you can do this. Although, it is a bit weird why the runtimes is not copied anyway.

[2019-11-28 10:42] BernhardHuberPlanBGmbH commented on #622
@mattleibow I added SkiaSharp NuGet in both Azure Function itself and the referenced assembly (for testing the copying of the libSkiaSharp.dll) but it is exactly what happens: libSkiaSharp.dll isn't copied and I get the DLL not found error for libSkiaSharp.dll.

[2019-11-28 10:46] vforteli opened #1417 "[Premium] Linux host with VNet integration to storage account"
Linux functions do not appear to use the VNet service endpoint for accessing storage account.

I have created a http triggered Linux function which in code accesses a storage account. The linux function is connected to a VNet which has been allowed access to the storage account. The VNet also has a service endpoint for Microsoft.Storage

I would expect this function to be able to access the storag

[2019-11-28 11:52] BenjaBobs opened #1418 "[Premium] Maximum Maximum Burst"
**Describe the bug**
In the elastic scale settings the slider for `Maximum Burst` appears to have a maximum of 20, even though the slider goes all the way to 100. Might be related to #1401.

**Expected behavior**
That the `Maximum Burst` can be set to 100.

**Screenshots**
![image](https://user-images.githubusercontent.com/8708965/69803753-3f8ef700-11dd-11ea-8b8e-83ad18cb1a85.png)

[2019-11-28 12:43] danielearwicker commented on #1380
Is the special continued support for 2.2 a general thing I can rely on in other deployment scenarios (e.g. a container deployed to ACI or AKS, or a plain web app) or is it exclusive to Az Funcs?

Right now It looks like I need to build funcs apps for 2.2, my other deployments for 3.0, and keep shared assemblies on Standard 2.0 (hold off on upgrading to Standard 2.1) so they can be used from both 2

[2019-11-28 12:52] erik-forsmyr-stratsys commented on #1417
Im not completely sure that this is the same thing but the box for vnet integration in below link is not checked for "App service linux". And the function is almost the same as a webapp in this aspect? We got the recommendation to use the ASE (Application service environment) for our web app but the pricing is very different from vnet integration.

https://azure.microsoft.com/en-us/pricing/details

[2019-11-28 12:58] BernhardHuberPlanBGmbH commented on #1044
We also wanna switch from Azure App Service to Azure Function. Would be great for our project too! Because we use OData in our Azure App Services we can't switch to Azure Functions.

[2019-11-28 13:21] vforteli commented on #1417
That page seems a bit outdated and probably only reflects GA services. For example python in functions on linux has been GA since August

[2019-11-28 14:54] Robzilla commented on #1370
I am still getting this error with a fresh functions project in Microsoft Visual Studio Enterprise 2019 Preview Version 16.4.0 Preview 6.0.

Project file is as follows

<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup>
    <TargetFramework>netcoreapp3.0</TargetFramework>
    <AzureFunctionsVersion>v3-preview</AzureFunctionsVersion>
    <AssemblyName>MyProj.Core</AssemblyName>
  </PropertyGroup>

[2019-11-28 15:13] jeffhollan commented on #1418
Can you confirm what region you are seeing this in and the plan type?  Possible the UX is not pulling the correct limit for that region. Limits should reflect this doc here (see footnotes) https://docs.microsoft.com/en-us/azure/azure-functions/functions-premium-plan#regions

[2019-11-28 15:29] jeffhollan commented on #1417
Thanks for flagging @vforteli - can you confirm how you are trying to access the storage account?  There is the Azure Functions storage account that is used to do things like publish the user code (represented in the `WEBSITE_FILECONNECTIONSTRING` and `WEBSITE_FILECONTENTSHARE` App Settings (most often the same account used in `AzureWebJobsStorage` that is created by default).  We do not have a wa

[2019-11-28 15:31] BenjaBobs commented on #1418
North Europe and Premium.

[2019-11-28 15:31] jeffhollan commented on #1380
@deepbass correct

@danielearwicker as far as I know (and can confirm this next week) we will only be providing this special extended support to functions running in the Azure Functions service.  We are making the final improvements to the 3.1 runtime we hope to ship soon (with a near final release on Monday) so hopefully you can start using that as well to unblock)

[2019-11-28 15:40] jeffhollan commented on #1418
Windows / Linux?

[2019-11-28 16:02] mattleibow commented on #622
@BernhardHuberPlanBGmbH Try pulling the repo and deploying it to a function your side. This works for me: https://github.com/mattleibow/SkiaSharpFunctions
Here it is running: https://skiasharpfunctions.azurewebsites.net/api/images?text=SkiaSharp%20Functions

I tried with both DevOps deployment and a right-click publish. I also checked the zip file in the obj directory and I see it in there as well

[2019-11-28 16:04] vforteli commented on #1417
This is happening from user code inside the function. I tried the latest v12 blob storage sdk client for NetCore and Python.
NetCore and python functions on linux failed with 403, But the same NetCore function deployed to an otherwise similar windows function succeeded.

I didnt have any restrictions in place on the storage account used by the function host

[2019-11-28 19:19] BenjaBobs commented on #1418
Windows I think. I can confirm tomorrow at work.

[2019-11-28 19:28] FinVamp1 opened #1419 "Visual Studio 2019 Functions Premium App Create sets AlwaysOn to true when it should be false."
**Symptoms**

Deploying a new Functions Premium Function app from Visual Studio 2019 results in AlwaysOn set to True which is not needed in the Premium plan.

**Version Information**

Visual Studio Enterprise 2019 version 16.3.10
Azure Functions and Web Jobs Tools 16.3.286.43615

**Steps to Repro**

1. Create a new Function App in Visual Studio 2019
2. Publish this to a Premium Function app.
3. On

[2019-11-28 19:30] jeffhollan commented on #1417
Ok this helps.  I’ll see if I can repro later this week.  I have done this before last month on a linux plan and it worked - so I believe it should work.  The other note is there is a bug that should be fixed in the coming weeks that sometimes it can take like 12+ hours for the routes to a service endpoint subnet to propagate through the plan.  So also worth noting you may need to wait a while aft

[2019-11-28 19:53] anindya5 commented on #1417
I am having same issue, I put my azure python function on a vnet in premium plan and added the vnet into my sql db, but while trying to access the db from my function using pyodbc getting error that the ip is not lsited, i.e. I have to whitelist IP addresses. That's not what I thought needs to be done once you add the vnet to the DB. Any solution?

[2019-11-28 21:27] apapapapapa commented on #1370
I am also still seeing the same issue,

I'm running VS preview 6.0
see below for the csproj:

<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup>
    <TargetFramework>netcoreapp3.0</TargetFramework>
    <AzureFunctionsVersion>v3-preview</AzureFunctionsVersion>
  </PropertyGroup>
  <ItemGroup>
    <PackageReference Include="Microsoft.Azure.WebJobs.Extensions.Storage" Version="3.0.4" />
    <Package

[2019-11-29 07:39] BernhardHuberPlanBGmbH commented on #622
@mattleibow I added your target to csproj, but when I publish via VS 2019 to Azure the libSkiaSharp isn't included in bin in ZIP. Here's my csproj file:

`<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup>
    <TargetFramework>netcoreapp2.2</TargetFramework>
    <AzureFunctionsVersion>v2</AzureFunctionsVersion>
  </PropertyGroup>
  <ItemGroup>
    <...>
  </ItemGroup>
  <ItemGroup>
    <...>
  </

[2019-11-29 07:47] vforteli commented on #1417
@jeffhollan yes I saw the 12 hours waiting time mentioned somewhere, but waiting doesnt seem to help here. Now its been configured like this for much longer and it didnt make any difference.

@anindya5 I was going to try Azure SQL next, simply because it tells you which IP address you appear to be coming from in the error message.
Did you happen to check if the IP you had to whitelist was containe

[2019-11-29 08:06] BernhardHuberPlanBGmbH commented on #622
@mattleibow It works on my side with your sample project as well. No I'm unsure why it doesn't work with my own project.

[2019-11-29 08:53] vforteli commented on #1417
Ok, it does actually seem to work, but the wait time was not "a few hours" or 12 hours, but more along the lines of over 24 hours 😮

[2019-11-29 09:16] BernhardHuberPlanBGmbH commented on #622
@mattleibow I noticed that even removing the build target from csproj of your project still copies libSkiaSharp.dll So I think there's something I'm missing in my project.

[2019-11-29 09:39] BernhardHuberPlanBGmbH commented on #622
@mattleibow I think the reboot of my local machine solved the copying issue in my own project. It worked after the reboot. Now I'll create a pull request to see if it works using Azure DevOps pipeline as well.

[2019-11-29 10:28] BenjaBobs commented on #1418
I can confirm it's windows.

[2019-11-29 11:26] vforteli commented on #1417
Tried some more stuff. After it started working (some 24 hours later) I removed the VNet integration from the function app and verified that it didnt work anymore. Now when re-adding the VNet integration, that routing was working immediately.
Next I will probably try to see if it makes a difference if the function app is immediately created with a VNet integration, instead of adding it after it ha

[2019-11-29 12:58] warpdriv commented on #422
This would be nice to have from several aspects especially for those (like me) that need queue consumption in the order the message was put in. Example: processing orders.

Thank you

[2019-11-29 14:22] anindya5 commented on #1417
@jeffhollan @vforteli - it still does not work for me. Any tips?

@vforteli - did you switch  off , "Allow azure services and  resources to access this server" when you tried Azure SQL. If thats on, anyone can connect to the DB from any azure service. Ideally vnet integration should take care  of this, that  even with that turned off, it should  allow for the function to talk to azure sql.

[2019-11-29 14:30] anindya5 commented on #1417
White listing the outbound IP ranges do work, but  always there is chance of  that changing in future, so not an acceptable solution

[2019-11-29 15:11] vforteli commented on #1417
@anindya5 I didnt have "allow azure service checked" when testing, only one rule allowing the VNet I had created for the function. Anyway, it started working at the same time as the storage account, but as mentioned, it took over 24 hours

[2019-11-29 16:08] jeffhollan commented on #1418
Thanks was able to repro and can confirm.  Must be a bug here - I believe 100 instances should be allowed in this region.  Let me file a bug and expect team will be able to patch on Monday.  Hopefully that works ok.  Thanks for reporting

[2019-11-29 17:39] zpertee commented on #1370
@apapapapapa Can you confirm that you've set the AzureFunctionsHiddenTagsVisible environment variable and pulled down the v3-preview templates (https://dev.to/azure/develop-azure-functions-using-net-core-3-0-gcm)?

[2019-11-29 18:56] FinVamp1 opened #1420 "Visual Studio 2019 Functions Premium App Create does not configure the Function App to use Azure Files."
Similar to [Visual Studio 2019 Premium AlwaysOn)](https://github.com/Azure/Azure-Functions/issues/1419)

The Visual Studio Create does not set the Azure Files settings like this.

![image](https://user-images.githubusercontent.com/1410302/69886431-caedb280-12d9-11ea-9a1a-640c38ecd2f3.png)

https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings#website_contentazurefileconnect

[2019-11-29 21:53] apapapapapa commented on #1370
Ok I think I did set the ENV var and have the sdk installed but just to make sure, I started from scratch again. made sure to download the .NET Core 3 sdk, created a new function project, see below I pick v3 preview ( I assume this answers your question @zpertee )
![image](https://user-images.githubusercontent.com/47064141/69890989-0a9ea500-12ae-11ea-8fbd-142b15418c38.png)

i just changed the stri

[2019-11-29 22:00] zpertee commented on #1370
Great!  Looks like you're definitely on the right track (or at least the track I took myself).  What I discovered is that I could not use System.Data.SqlClient v4.7.0, but was able to use Microsoft.Data.SqlClient 1.1.0.   It appears that this is new library to use for SQL access: https://devblogs.microsoft.com/dotnet/introducing-the-new-microsoftdatasqlclient/.  These two libraries are extremely s

[2019-11-29 22:43] apapapapapa commented on #1370
oh right, I was confused about this one too, I tried your suggestion, and now I get the same but with Microsoft.Data... "System.PlatformNotSupportedException: 'Microsoft.Data.SqlClient is not supported on this platform.'"

[2019-12-02 00:20] anindya5 commented on #1417
Yeah, so Azure SQL from Azure function in same Vnet did not work  for me yet by just adding the same vnet to DB. However, whitelisting the outbound IP still works for me

[2019-12-02 02:20] jsangco commented on #1317
Also having this problem. guidance would be appreciated.

[2019-12-02 04:19] CarlosM2099 commented on #1226
I was having the same problem, updating to:

https://www.nuget.org/packages/Microsoft.NET.Sdk.Functions/3.0.0-preview2

seems to have fixed it.

[2019-12-02 07:03] wehnicde opened #1421 "Azure Web App Bot doesn' restart as intended"
I have a Azure web app chat bot and I restart it every sunday at noon with an azure function.
This is the Function:

**Azure Function to restart Web app bot**
[code]
I didn' modify much, only
[code]
is not generated by azure.

If the function is triggered the bot stops and restart, but the restart doesnt't really start until the first user tries to connect to the bot. The first user has to wait li

[2019-12-02 10:22] vforteli commented on #1417
I ran into this now with another subscription... There waiting over the weekend did not work. The subscriptions are not identical, but the setup with function, app service plan and storage account are.

[2019-12-02 12:54] BenjaBobs commented on #1401
@jeffhollan Is there any update for this? I need a lot of computing power to be available, and would like to know if this is something that is being investigated, or if I should find another solution than scaling up durable functions, such as just having multiple plans instead of a single plan that is scaled out.

[2019-12-02 15:49] zpertee commented on #1370
@apapapapapa Ok.  I will have to leave this one to Microsoft (@brettsam).  Sorry.  Figured I'd at least share my two cents of what worked for me.  Not worth much, I know...

[2019-12-02 15:56] brettsam commented on #1370
I'm able to reproduce this with the `System.Data.SqlClient` nuget package (investigating it now) -- but when I switch to `Microsoft.Data.SqlClient`, it starts to work.

@apapapapapa -- is that your latest project file above, or have you tweaked it since then? I see you're using both `Microsoft.Data.SqlClient` and `System.Data.SqlClient` there, which may be the problem...

[2019-12-02 16:58] brettsam commented on #1370
Okay I think I know why `System.Data.SqlClient` isn't working. I've filed https://github.com/Azure/azure-functions-host/issues/5315 to fix this in v3.

If you need to use this, you'll need to reference 4.3.1 for now -- but I think that swapping to `Microsoft.Data.SqlClient` should work for most cases.

[2019-12-02 17:44] shiwani opened #1422 "Inside git folder ->Creating an Azure Function in Visual Studio 15.9(Latest) with default settings, throws error Unable to create project using .NET Core 2.1. Error:Either target .NET Core 1.1 or lower, or use a version of the .NET SDK that supports .NET Core 2.1"
### Description
Error: Unable to create project using .NET Core 2.1. Error:Either target .NET Core 1.1 or lower, or use a version of the .NET SDK that supports .NET Core 2.1

### Expected behavior

### Actual behavior

### Relevant source code snippets
Dot net info
C:\Users\shiwanij>dotnet --info
.NET Core SDK (reflecting any global.json):
Version: 2.2.105
Commit: 7cecb35

Runtime Environment:
OS

[2019-12-02 21:17] apapapapapa commented on #1370
Ok, this is odd. Either something changed or I did have the reference to the System.Data.SqlClient in there somehow.
Today I tried again, and it seems to be all working now.
For reference I am using the following csproj successfully now:
[code]

[2019-12-02 23:28] klogan12 opened #1423 "How to read/reference local.settings.json file from unit test project"
I have unit test project configured for a AzureFunctions project. I want to access some details of local.setting.json file defined in  AzureFunctions project from unit test project. What is the best way to access them?

[2019-12-03 01:09] andrew-sumner commented on #733
Is this going anywhere?

[2019-12-03 02:35] brettsam commented on #1370
Okay, at least that narrows it down. Glad that the other package is working for you. We've made the change to get System.Data.SqlClient working as well -- that will roll out with our next host release within a few weeks.

[2019-12-03 08:01] anindya5 commented on #1417
@alexkarcher-msft are you guys aware of this issue?

[2019-12-04 18:41] wpitallo opened #1424 "Encountered an error (ServiceUnavailable) from host runtime."
Please could someone explain what the cause of this is?

Error:

Encountered an error (ServiceUnavailable) from host runtime.
Session Id: 4d78c7f71b7942d7a12f8ee29f743970

[2019-12-04 18:52] wpitallo commented on #1424
@EricJizbaMSFT please help! This is working perfectly locally but does not work after I deploy and its impossible to figure out whats going wrong...

[2019-12-04 21:41] 20v100 commented on #1424
I filled a similar issue here: https://github.com/microsoft/vscode-azurefunctions/issues/1731

[2019-12-05 07:17] JamesEarle opened #1425 ""No jobs found: when using docker-compose up, but entering the container and using func start behaves as expected"
I am trying to use `docker-compose` to containerize my function application written in TypeScript that contains multiple independent functions. I have followed the same steps and directory structure as shown in [this tutorial](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference). Running locally, I'm able to build and run my functions fine. If I create a docker image and man

[2019-12-05 12:50] heymega opened #1426 "[Premium] Authorization Levels not being Honoured VNET"
**Describe the bug**
Authorization levels of the function are not being honoured when the function app is connected to a VNET on the premium plan.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Function App on a Premium Plan
2. Create an in portal HTTP Trigger Function
3. Set the Authorization Level to Function
4. Connect the Function App to a VNET
5. Hit the HTTP URL of the functi

[2019-12-05 19:29] alexkarcher-msft commented on #1417
Hi @vforteli we're working on repoing and triaging this issue on our side. We have resolved the VNET integration delay issue we were tracking a few months ago, so it's taking longer to identify this new issue

@anindya5 how are you hosting your SQL DB and connecting it to your virtual network? There are a lot of SKUs of SQL and I'd like to make sure you're running into the same issue.

[2019-12-06 14:48] anindya5 commented on #1417
@alexkarcher-msft created a sql server, added the db and then in the add virtual network, added the vnet. Also, in function, went to networking and added the vnet. That's it

[2019-12-06 15:04] chmarti commented on #1003
This is also still happening to me with Function Apps. Even after I have added <EnableMSDeployAppOffline>true</EnableMSDeployAppOffline> to the publish profile and the App is completely stopped. Why was this issue closed??? The internet is full of others having this problem.

[2019-12-06 19:31] ankitkumarr opened #1427 "Kudu leaving `app_offline.htm` after failed deployments make app offline"

[2019-12-07 21:54] thdotnet commented on #1252
If you're still facing this problem, you should create a function.proj file with the following content:

<Project Sdk="Microsoft.NET.Sdk">
<PropertyGroup>
    <TargetFramework>netstandard2.0</TargetFramework>
  </PropertyGroup>

  <ItemGroup>
      <PackageReference Include="Microsoft.Azure.WebJobs.Extensions.SignalRService" Version="1.0.2" />
  </ItemGroup>

</Project>

[2019-12-07 21:54] #1252 closed

[2019-12-07 22:31] Robzilla commented on #1370
Still getting the MIcrosoft.Data.SqlClient error even on the latest version (updated 8th Dec 2019).

Here is the cs.proj file and I am running Microsoft Visual Studio Enterprise 2019 Preview
Version 16.5.0 Preview 1.0.

My project is blocked on this. Connecting to SQL Server shouldn't be this hard. Can anyone advise how to collect extra debug to find out why the wrong dll is being copied/cached in

[2019-12-07 23:17] brettsam commented on #1370
Did you try targeting netcoreapp3.0? We don't yet support 3.1.

[2019-12-07 23:27] brettsam commented on #1370
Hmm, that may not be the issue. This is failing locally when you hit F5 from within VS? I just tried to reproduce this (even with netcoreapp3.1) and it worked fine for me locally, so there must be something else subtle happening.

Can you share your sample project on github somewhere and I can see if I can reproduce it locally?

[2019-12-07 23:35] Robzilla commented on #1370
According to the SqlClient team (6 days ago) I should upgrade to the latest version of .Net core (https://github.com/dotnet/SqlClient/issues/289#issuecomment-560128834). So I am a bit confused as to what version of .Net Core I should be using.

 I will create a simple project and see if I can just zip up and attach. But it obviously won't have the local settings with the SQL Server connection stri

[2019-12-08 00:52] Robzilla commented on #1370
Did a fresh install of VS2019 on a different machine and set the AzureFunctionsHiddenTagsVisible environment variable to 1 to get the new templates. But I am getting an object reference exception when using the "Azure Functions v3 Prereleasse (.NET Core)" project template. Are there any other tools/sdks that need to be installed?

[2019-12-08 05:03] ignatandrei commented on #1250
Same problem here. I can show the Azure Function and the code on GitHub.

[2019-12-08 15:53] brettsam commented on #1370
Is it like this? https://twitter.com/pksorensen/status/1202638801379696641. What version of VS 2019 are you using?

[2019-12-08 20:46] Robzilla commented on #1370
No its the generic message, have attached a screenshot. I am running a clean install of VS2019 Enterprise Preview (see details below).

Microsoft Visual Studio Enterprise 2019 Preview
Version 16.5.0 Preview 1.0
VisualStudio.16.Preview/16.5.0-pre.1.0+29521.150
Microsoft .NET Framework
Version 4.8.03752

Installed Version: Enterprise

Visual C++ 2019   00433-90100-95975-AA508
Microsoft Visual C++ 20

[2019-12-09 05:15] Rhyheart opened #1428 "No job functions found."
The function project I created with vs template always prompts no job functions found, which makes it impossible to test

![image](https://user-images.githubusercontent.com/44357526/70409137-aa65eb00-1a85-11ea-8ec6-593f3732e878.png)

[2019-12-09 08:07] McKabue opened #1429 "How to create an Imperative Azure Queue Input Function"
I have an Azure Function that looks like follows:

[code]

and the way i add messages to queue is as follows:

[code]

Now all that works fine.

### **How can I make the declaration of azure function above [imperative][1]?**

Below is my failed attempt:
[code]

  [1]: https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-csharp#binding-at-runtime

[2019-12-09 10:53] noakesey commented on #866
I would like to know how this works under the covers and how we are expected to handle it.  I can't seem to find any relevant documentation (Dec 2019) that explains such an important concept.  Consumption plan scale down may well explain why we see duplicate message processing?

[2019-12-09 21:39] joefeser commented on #1370
Same issue with Microsoft.NET.Sdk.Functions v3.0.1 and System.Data.SqlClient v4.8.0. Once I downgraded to v4.6.1, the problem went away.

[2019-12-09 21:57] Robzilla commented on #1370
Seriously it shouldn't be this hard to connect to SQL Server. This should be a core use case and tested thoroughly. Seems like quite a few people are having problems with this.

[2019-12-09 22:12] brettsam commented on #1370
@Robzilla / @joefeser  -- Can either of you create a repro on github that I can try?

@Robzilla, I tried what you have above and I don't get the exception. I don't have your code or your referenced project -- so maybe something there is breaking it? But when I use our repro above (`var conn = new SqlConnection();`) -- it's able to load the type and continue. This failed a couple of versions ago b/

[2019-12-09 22:44] zpertee commented on #1370
@brettsam FWIW, I've also tested what's above without issue.  The only issues I've had to date were when this was still in preview (i.e. issues expected) and those were quickly worked through-- thank you.  I agree that whatever @Robzilla issue is, it's likely confined to the machine and/or the specific code.

[2019-12-09 22:57] erick2red commented on #1370
Why is this issue closed? I can confirm it doesn't work yet. I just tried today with everything updated, and no, doesn't work.

[2019-12-09 23:02] brettsam commented on #1370
It's closed because the original issue above was fixed (as several people have confirmed).

It's clear that there are other scenarios broken here -- but I haven't gotten a repro that I've been able to run locally.

@erick2red -- Can you share your project file with us so we can take a look? Ideally it'd be an entire project on github that fails for you so I can clone it and give it a try.

[2019-12-09 23:12] erick2red commented on #1370
My project files are these, first the function
[code]

Then the dependency
[code]

[2019-12-10 00:09] alexkarcher-msft commented on #1426
I'm not able to reproduce this on my side. What version and OS of the runtime are you running and what language are you using?

Also, if you don't mind sharing your application name I'd love to take a look at our logs.

[2019-12-10 00:48] brettsam commented on #1370
@erick2red -- It looks like your problem is with `System.Data.SqlClient`, which is a different underlying issue than `Microsoft.Data.SqlClient`. We've been discussing both here, which is getting confusing (I originally merged issues here b/c both assemblies had the same initial root cause -- so that's my fault for the confusion).

However, it does look like we have a runtime issue here where we fi

[2019-12-10 02:37] bzbetty commented on #738
@davidfowl not the OP, but I can explain my usecase.

Essentially I'm looking for a way of streaming microphone audio from a browser to an Azure Function so it can put it through Cognitive Services (plus other things).  I don't strictly need SignalR (although I am using it for Azure Function -> Browser communication) but the Cognitive Services portion does require some kind of stream.

I could pro

[2019-12-10 05:27] davidfowl commented on #738
@bzbetty if each video frame was an HTTP request would that meet your needs?

[2019-12-10 08:31] bzbetty commented on #738
We're only doing audio, but I assume with a given bitrate there'd be something equivalent to a frame.

We looked at using an HTTP Trigger but that didnt make it possible to pass the byte stream through to cog services speech to text.

But keeping a connection to cog services open between frames/request is stateful which really does break the Azure Functions paradigm, so we may be going down the wr

[2019-12-10 08:49] Robzilla commented on #1370
Hi @brettsam, any feedback on the getting VS2019 Preview working with the new function templates? It's fairly easy to reproduce. Just install a clean copy of VS2019 preview, turn on the new templates and try to create a new project using the new function templates. I have posted all the Visual Studio version info previously.

[2019-12-10 09:32] galvesribeiro commented on #738
@davidfowl

I think receive the raw bytes would not be something that really work. I mean, if the intent is to let a function process a _message_ and the byte[] sent to it is part of the message, chances are that the next websocket frame will either be sent to another function instance or even if you have just one, the state may be lost either way as functions are stateless by definition.

I think

[2019-12-10 10:37] tomkerkhove commented on #1354
Any update on the rollout @balag0?

[2019-12-10 14:01] brettsam commented on #1370
@Robzilla -- I just installed a fresh VS2019 Preview, selected "ASP.NET and web development", "Azure development", and ".NET Core cross-platform development" and everything works. What options did you select?

@soninaren -- It looks like there may be some combo of VS options that causes the error above. Can you loop in someone from VS to see if they know how that can happen?

[2019-12-10 15:46] davidfowl commented on #738
Help me understand why being stateless is a problem. I understand the performance angle but what are the other things people are trying to solve by using functions vs an app service instance?

The message would be an entire websocket frame, or in the case of signalr and invocation (signalr hubs are also stateless)

Yes we’re not talking about sending partial messages, just entire messages (either

[2019-12-10 16:09] fisapras opened #1431 "Max function duration timeout when using Azure Functions on Kubernetes with KEDA"
What is the Max time out duration (min) if we deploy Azure Functions on Kubernetes with KEDA?

I went into this [documentation](https://docs.microsoft.com/en-us/azure/azure-functions/functions-kubernetes-keda), but could not find any documentation regarding max. timeout duration.

[2019-12-10 16:17] galvesribeiro commented on #738
Sure, imagine that you have a message that is comprised of 100bytes. In the pure websockets scenario without SignalR, if the function is stateless, eventually, it would receive partial data on a frame, meaning that a single message could be split on multiple frames (i.e. 2 frames with 50 bytes) and that would require the function to (1) be alive while all the chunks of data comprising a single mes

[2019-12-10 19:39] balag0 commented on #1354
Deployment has been slow due to cool down periods for black friday etc. But most regions are updated now. If you can share the region you are using i can verify if it has been upgraded.

[2019-12-10 19:57] erick2red commented on #1370
@brettsam

Yes, this made it work. Thanks!

[2019-12-10 20:04] mafoo opened #1432 "GenerateFunctionsExtensionsMetadata breaks when assembly references a .net core dll"
Create an Azure 3.1 function.
Either

- reference Microsoft.Extensions.Configuration.UserSecrets package
- Use a [assembly: FunctionsStartup(..)]
or
- Include a UserSecretsId in the PropertyGroup for the Project configuration

When building because the Microsoft.Extensions.Configuration.UserSecrets dll is a framework dll, it is not copied to the output directory.  When the task is run, as it is a

[2019-12-10 20:54] heymega commented on #1426
Hi Alex 👋

I don't have the original resource but I've created a new one.

I've managed to reproduce the issue again but it seems to rectify itself after about 30 seconds (after 30 seconds I get a 401 unauthorized). When I originally got the issue it took a lot longer than that (I gave up in the end).

I'm guessing that changing the Function Level is an asynchronous process and it will take time t

[2019-12-10 21:43] alexkarcher-msft commented on #1426
It's odd that it took so long to propagate in the first place, but changing the authorization level requires deploying new code and reloading all of your running processes. Without virtual networks this takes about a second, but ~30 seconds is about in line with what we've been seeing for virtual network connected workers to reattach to their network. Normally you don't see this delay because it's

[2019-12-10 23:19] heymega commented on #1426
Makes sense! Thank you for the explanation 👍

[2019-12-10 23:19] #1426 closed

[2019-12-11 06:09] tomkerkhove commented on #1354
Thats ok.

We are currently in West EU

[2019-12-11 13:55] DrBarnabus commented on #1370
Just got hit by this and `FUNCTIONS_V2_COMPATIBILITY_MODE` seems to have fixed it for the time being.

Is this thread going to be updated when the fix is released so I can remove this?

[2019-12-11 15:17] androidand commented on #1347
I have this issue, what mistake did you also do which you didn't want to share with your fellow googlers?

[2019-12-11 17:06] zmarty commented on #1347
I regret not writing more information here because I have been trying to remember for the past 10 minutes and I can't so far. Sorry!

[2019-12-11 17:09] zmarty commented on #1347
Ok, I remembered! From Visual Studio it's easy to publish projects into app service instances. However, it's also easy to publish the wrong code in the wrong instance. One of our team members published the incorrect project to the incorrect instance. That instance did not have the expected app settings set, so the code started logging null from Environment.GetEnvironmentVariable. So we had a good

[2019-12-11 17:34] jabbera opened #1433 "[Premium] VNET integration unable to talk to on prem via Azure FW"
**Describe the bug**

I'm unable to talk to an on-prem resource via an Azure FW and expressroute. Summary from support case 119121121001330:

I have a routing table that should allow all traffic from <vnet> to access <onpremip> via an Azure firewall and our ER. This works fine from the VM deployed in the same vnet (See screenshot 1), but does not work from the function app (screenshot 2). VNET int

[2019-12-11 17:54] alexkarcher-msft commented on #1433
Route tables are currently not supported in the version of Virtual network integration that we use. You can connect using VNET peering or by integrating with a subnet in the network that hosts your expressroute connection.

In our documentation we link to the top level App Service doc on regional VNET integration which lists this as a limitation:

https://docs.microsoft.com/en-us/azure/app-service

[2019-12-11 19:18] jabbera commented on #1433
What if we switch to appserviceplan instead?

[2019-12-11 19:20] jabbera commented on #1433
Also, Christina told me at Ignite and in Azure Advisors that route tables for RFC1918 were rolled out in October.

[2019-12-11 19:22] alexkarcher-msft commented on #1433
Unfortunately we leverage the same networking component as App Service plan, so they share that limitation.

We're expecting to get route table support from Azure Networking in a few weeks. They found some late breaking bugs and have delayed the feature by a few months.

[2019-12-11 21:26] ankitkumarr commented on #1427
For more info -- https://github.com/projectkudu/kudu/issues/2949

This is just a tracking issue for the workitem

[2019-12-12 11:12] SimonLuckenuik commented on #866
@jeffhollan This issue has been opened for 18 months and this concept is very important and has high impact (complete process shutting down). Is there a public timeline available for this documentation or at least an informal documentation? We do hit the limit from time to time and it has high impact. We do not want to switch to Premium plan and have unlimited execution, we just want to prevent th

[2019-12-12 13:01] jabbera commented on #1433
It really doesn't work when you forget to apply the routing table.... sorry for the spam. All was well once the RT was applied.

[2019-12-12 13:01] #1433 closed

[2019-12-12 13:56] rgomns commented on #541
I also have the error "The function type name {0} is invalid" but can't use the solution to use the devops pipeline because the previous dev used 2 different accounts for devops and azure (personal and work account). Whenever i try to create a azure function pipeline i recieve the message "You don’t appear to have an active Azure subscription.".

Please help because the function was working before

[2019-12-12 13:56] rgomns commented on #1208
I also have the error "The function type name {0} is invalid" but can't use the solution to use the devops pipeline because the previous dev used 2 different accounts for devops and azure (personal and work account). Whenever i try to create a azure function pipeline i recieve the message "You don’t appear to have an active Azure subscription.".

Please help because the function was working before

[2019-12-12 15:18] bmeijwaard commented on #1370
Getting the same, tried some suggested stuff in this thread.
I did get Azure Function to work with `SqlConnection` targetting Microsoft.Data.SqlClient 1.1.0, but as soon as a also target EntityFrameworksCore it fails again, also after upgrading to function v3 and netcoreapp3.1. What is found is that EFCore is targetting Microsoft.Data.SqlClient v1.0.19269.1 as i found in some project.assets.json

[2019-12-12 16:43] Ponomareff commented on #1370
The message is displayed if **function.deps.json** is missing in **bin** folder, either locally or in Azure.

The problem is caused by invalid expression in **_FunctionsPostBuildDepsCopy** target
(in ...packages\microsoft.net.sdk.functions\3.0.1\build\Microsoft.NET.Sdk.Functions.Build.targets)
[code]
It relies on **$(ProjectName)** which is not correct. It should be **$(AssemblyName)**. You are no

[2019-12-12 17:12] brettsam commented on #1370
Great catch @Ponomareff. @fabiocav -- FYI.

[2019-12-12 21:34] Robzilla commented on #1370
@Ponomareff can you share your proj file and any other relevant config. At the moment I have the SQL Client people, pointing the finger at the Azure Function people who then point the finger that the Visual Studio people. All the product teams have their simple examples working and say "job done, works on my machine". Unfortunately the real world doesn't work that way :(

[2019-12-12 21:44] fabiocav commented on #1370
@Robzilla if you look at the interactions above, you'll see that isn't the case. It's unfortunate this is how you're perceiving this, but particularly in this area, fixes and improvements are validated based on known scenarios and what customers report, and those do become part of the validation suite.

@brettsam just merged a fix and we'll have that out ASAP, but if you can share the details of w

[2019-12-12 22:53] brettsam commented on #1370
I've just released to nuget Microsoft.Net.Sdk.Functions 1.0.31 (for v2 apps) and 3.0.2 (for v3 apps) that contain the fix from @Ponomareff above. For details on the releases see https://github.com/Azure/azure-functions-vs-build-sdk/releases.

There is still one known issue (and possibly more?) that require a runtime update in production:
- For v2, there is no workaround. But the fix is committed a

[2019-12-12 22:58] Robzilla commented on #1370
@fabiocav I tried to create a example repo with the latest version of Visual Studio using the latest project templates but this failed with an exception (https://github.com/Azure/Azure-Functions/issues/1370#issuecomment-562991756). So I couldn't even create a repo to share and nobody seems to be able to advise. I would have thought being able to create a new Azure functions project with up to date

[2019-12-13 00:55] brettsam opened #1434 "Visual Studio: Object reference not set to an object in new function app"
@Robzilla has identified some combination of VS setup steps that result in the error here: https://github.com/Azure/Azure-Functions/issues/1370#issuecomment-562991756

@Robzilla -- can you let us know what workloads you've selected during installation? I was able to see this screen by opening the Visual Studio Installer and clicking "Modify". Your comment above has a list of installed tools but th

[2019-12-13 00:56] brettsam commented on #1370
@Robzilla -- I attempted to reproduce this and told you what I chose for my installation options [here](https://github.com/Azure/Azure-Functions/issues/1370#issuecomment-564045541). The list you've provided can be helpful but I'm not sure how to reproduce that list given he Workload selection UX that the Installer provides. But since this is unrelated to the issue here and this is getting off trac

[2019-12-13 01:21] brettsam commented on #1434
@soninaren -- can you loop someone from VS in to see if they know why you may get this? See here for the error: https://github.com/Azure/Azure-Functions/issues/1370#issuecomment-562991756

[2019-12-13 01:23] soninaren commented on #1434
@vijayrkn Do you know who is the right contact for this?

[2019-12-13 05:08] bmeijwaard commented on #1370
Just updated Functions SDK to 3.0.2. Still got `(Microsoft.Data.SqlClient is not supported on this platform.)`
Currently running on netcoreapp3.1 and functions v3
Also set `"FUNCTIONS_V2_COMPATIBILITY_MODE": "true"` in `local.settings.json`

For futher investigation I could provide my entire repo.

[2019-12-13 06:02] fabiocav commented on #1370
@bmeijwaard if you could share a repository  with a repro, that would indeed help.

[2019-12-13 06:08] bmeijwaard commented on #1370
Is there a way to send you the 'zipped' code in private, since it is a private repo?

After looking into it a little deeper I suspect that the issue is coming from `Microsoft.AspNetCore.Identity.EntityFrameworkCore`
in https://github.com/aspnet/AspNetCore/blob/master/eng/Versions.props
`line 264` version 1.0.19249.1 of Microsoft.Data.SqlClient is referenced. In one of my project depedencies I have

[2019-12-13 13:41] brettsam commented on #1370
@bmeijwaard -- If you want to contact me via email (my microsoft mail is in my github profile), we can work through it that way, then come back here with any findings. We likely don't need your code -- just the project structure with project files.

[2019-12-13 13:55] bmeijwaard commented on #1370
Awesome, ill forward the mail I sent to Fabio.

[2019-12-13 13:59] Ponomareff commented on #1370
@bmeijwaard Before you struggle with reproduction steps, please verify the following for your project:
**function.deps.json** and **runtimes** are both present in **bin** folder.
![image](https://user-images.githubusercontent.com/5252051/70804871-8bb56c00-1d85-11ea-85d7-612fc7140afd.png)
Same for your deployed Azure Function:
![image](https://user-images.githubusercontent.com/5252051/70805388-cec4

[2019-12-13 14:12] bmeijwaard commented on #1370
@Ponomareff this is the bin folder of the project.
![image](https://user-images.githubusercontent.com/31803222/70806175-ff25a080-1dba-11ea-82c2-b93cfb4765ec.png)

[2019-12-13 23:16] lluppes3M commented on #1370
I just updated a function to .NET Core 3.1 today and had this exact same issue, which I was able to resolve based on this post.  I added the setting "FUNCTIONS_V2_COMPATIBILITY_MODE": "true" to the local.settings and the server function and I updated my project file to copy the function.deps.json and that resolved the issue.   Up until I did that, it worked fine locally but generated the error "Mi

[2019-12-14 03:54] Eirenarch commented on #1370
Hit the System.Data.SqlCLient version of the problem today with the 3.0 (non-preview) release. The FUNCTIONS_V2_COMPATIBILITY_MODE did fix it but I am still wondering if I will ever be able to remove it after an update

[2019-12-14 21:29] jjxtra commented on #1403
What do you need to zip up? Just the bin/release/netcoreapp3.1 folder?

[2019-12-14 22:15] jjxtra commented on #1403
Posting my solution here in case anyone runs into the same issue, it is a second answer to the question.

https://stackoverflow.com/questions/53103896/azure-function-publishing-failed-requesttimeout/59339511#59339511

[2019-12-15 12:20] Robzilla commented on #1370
@brettsam well I did get this running locally but failed on the server even after upgrading to the latest libs. See proj file below. I can confirm there is no function.deps.json file in the bin dir on the server as per https://github.com/Azure/Azure-Functions/issues/1370#issuecomment-565450516
Hope that narrows it down. Any chance this is fixed in version 3.0.3?

[code]

[2019-12-16 22:19] soninaren commented on #1370
@Robzilla if you are seeing the `function.deps.json` in the bin folder locally, but are not seeing the same on the server. Then i would recommed using the `Run from Package file` for deployment. The out logs from VS should show where the package (zip file) was generated locally. The contents of the function app on the server should match exactly with the contents of the zip file. Hope this helps.

[2019-12-16 23:46] Robzilla commented on #1370
@soninaren and @brettsam I am publishing to an existing app service plan via the zip deploy method in Visual Studio 2019. I am also creating a debug build and have set Delete Existing Files to true.

I have checked the zip file that is produced during the publish and function.deps.json is not there.

[2019-12-17 00:15] fabiocav commented on #1370
@Robzilla just wanted to give you an update. Things are a bit slower as some folks are out of the office for the holidays, but I'm blocking some time to look at the repro you've provided this week. Will provide an update as soon as we have more information.

If the deps file is not in the deployment payload, that would definitely explain why you're running into the problem, but would require a bit

[2019-12-17 00:31] Robzilla commented on #1370
@fabiocav just let me know what debug you require from Visual Studio.

[2019-12-17 02:57] atulloh opened #1435 "Cannot deploy Azure Functions v3 app from source control"
I've just created a new v3 Azure Functions app and get the following error when deploying to the Azure Portal, triggered via BitBucket:

```Your function app is targeting V1, but Azure host has function version V2, \nplease change the version using the portal or update your 'FUNCTIONS_EXTENSION_VERSION' appsetting and retry```

This prevents our app from deploying.

I've added the following to our

[2019-12-17 03:49] atulloh commented on #1435
Having a look at the through the Kudu console, looks like only .NET Core version 2.2.109 is installed; perhaps the issue isn't with the function app itself.

[2019-12-17 15:47] wtt235-bh commented on #972
This appears to be an issue again now that V3 of the function runtime has been recently promoted out of preview.

[2019-12-17 18:41] FinVamp1 commented on #1325
https://github.com/Azure/azure-webjobs-sdk/issues/2320 is also related to this.

[2019-12-17 20:39] vijayalaya commented on #1299
I had this same issue in one of the QA enviornment ,but event hub trigger works in dev. Checked the connectionstring of eventhub and downgraded the Microsoft.Azure.WebJobs.Extensions.EventHubs to version 3.0.0, but still messages are not picked up. Any idea on this

[2019-12-18 01:51] atulloh commented on #1435
Scrap that, the 3.1.0 runtime is definitely installed.

[2019-12-18 02:16] atulloh commented on #1435
However the 3.x SDKs are not.

[2019-12-18 09:20] BowmanZhu opened #1436 "Debug loglevel keeps open on azure"
**Describe the bug**
This Bug is about azure function log level. On local, it is no problem. But after publish to azure, I can't close the debug level. If you try to use `log.IsEnabled(LogLevel.Debug)` to get the value of it, you will always get 1.

**To Reproduce**
Steps to reproduce the behavior:
1.create a azure function, like this:

[code]
2. modify the host.json, like this:

[code]
3. run on

[2019-12-18 09:23] BowmanZhu commented on #1436
First time use github, I seems add the wrong tag...

[2019-12-18 11:56] estensen opened #1437 "Premium is GA, update docs"
[This](https://github.com/Azure/Azure-Functions/tree/master/functions-premium-plan) doc is outdated as premium functions are GA.

[2019-12-18 16:35] alexkarcher-msft commented on #1436
Adding @ahmedelnably and @brettsam to take a look at this, also welcome to github!

[2019-12-19 01:35] BowmanZhu commented on #1436
@alexkarcher-msft Thank you!

[2019-12-19 02:09] BowmanZhu commented on #1436
@alexkarcher-msft Hi, alex. Can you tell me how to add people? [This article](https://help.github.com/en/github/managing-your-work-on-github/assigning-issues-and-pull-requests-to-other-github-users) says click on the top right corner to add, but I don't see this button.

![image](https://user-images.githubusercontent.com/25324884/71138680-3676d000-2247-11ea-9c98-c8e0baf0f49b.png)

How to open the

[2019-12-19 07:31] kunaal2809 commented on #1277
Was this issue solved for you @jordanfinners ?

[2019-12-19 11:34] umer990 commented on #706
Remove the app insight Guid from configuration of function app and then go to Function app monitor link and Press configure button to select or create an application insight

[2019-12-19 18:16] DanielClausen opened #1438 "Azure Functions V3 Dynamic Serialization"
I've got an azure functions project that takes in an object that has a dynamic property, stores it into cosmos and reads that same object out and returns it as JSON from a HTTPTrigger.   Since upgrading to V3 my dynamic property is now malformed in the response.

[code]

The sections property is type dynamic and everything property is being returned as an empty array.
 If I downgrade back to funct

[2019-12-19 20:09] alexkarcher-msft commented on #1436
It's very intuitively a gear, the universal sign for "add and remove" ;)

I think you might not have the permissions to add and remove people?
Either way, I've assigned the correct people to the issue

[2019-12-19 23:21] atulloh commented on #1435
I found here https://github.com/Azure/app-service-announcements/issues/217 that this is planned:

I will close this issue as the SDK update already seems to be in the works.

[2019-12-19 23:21] #1435 closed

[2019-12-20 00:55] ankitkumarr commented on #1427
work is merged

[2019-12-20 00:55] #1427 closed

[2019-12-20 21:01] borys86 commented on #1195
Still not fixed? Just amazing.

[2019-12-22 19:15] jordanfinners commented on #1277
No the max age header still gets removed.

[2019-12-24 10:45] allan-mobley-jr opened #1439 "Allow for Empty Default Landing Page in Azure Function App Deployments"
My company's first venture into Azure Functions as a possible solution to micro-servicing our web app was met with unexpected bandwidth charges (just under $100) billed to two Azure Function App Consumption plans (each in a different region) that had only been up for three days. Only one actually had a function in it, and this function was tested about 30 or so times on the third day.

It was at t

[2019-12-26 15:18] pdemro commented on #155
@jeffhollan Have these updates been deployed?  I am attempting to "scale up" a function app this morning and do not see the option to change or modify the subscription

[2019-12-26 17:49] fabiocav commented on #1370
@Robzilla we have just made an SDK fix to address the issue you're seeing. We'll have that deployed at the beginning of the year, but we could make it available to you on a private feed before then, if you believe that would be helpful

@bmeijwaard thank you again for providing a repro for this, as the issue was triggered by a specific setup you have with your solution (shared more information ove

[2019-12-26 21:26] eastmane commented on #1370
I seem to have hit a similar issue (I think) to @bmeijwaard  - using EF Core, VS 16.4.2, and functions runtime 3.0.12930.0 - I get "Microsoft.Data.SqlClient is not supported on this platform" with or without FUNCTIONS_V2_COMPATIBILITY_MODE. I'm referencing Microsoft.Data.SqlClient 1.1.0 everywhere I can find it and the functions.deps.json and runtimes folder are present in bin.

I noticed that the

[2019-12-26 21:39] fabiocav commented on #1370
@eastmane the best option would really be to open a separate issue and share the repro if you could. Looking at these kinds of issues without more context is tricky as large number of problems may end up manifesting themselves with similar failures, which tends to be misleading. A good example of that was the issue @bmeijwaard ran into, which had the same exception, but it was caused by a parsing

[2019-12-27 00:27] eastmane opened #1440 ""Microsoft.Data.SqlClient is not supported on this platform" despite function.deps.json"
I seem to have hit a similar issue to #1370 using EF Core, VS 16.4.2, and functions runtime 3.0.12930.0 - I get "Microsoft.Data.SqlClient is not supported on this platform" with or without FUNCTIONS_V2_COMPATIBILITY_MODE. I'm referencing Microsoft.Data.SqlClient 1.1.0 everywhere I can find it and the functions.deps.json and runtimes folder are present in bin.

I noticed that the file size on the M

[2019-12-27 00:31] eastmane commented on #1370
Thanks for your help - have opened a separate issue, I can't post repro on here as it's part of a larger project but can probably share privately.

[2019-12-27 01:17] fabiocav commented on #1370
Thank you. Will continue following up on the newly created issue. For the repro, I'd be happy to look at something shared privately as well. My email is available on my GitHub profile.

[2019-12-27 05:16] dieterdp opened #1441 "Azure Functions Error HTTP Error 500.37 - ANCM Failed to Start Within Startup Time Limit"
Hello

I have upgraded a Azure Functions application to .NET Core 3.1 and runtime version 3. Since then my app shows the following message a couple of times during the day and the app hangs.
![Capture](https://user-images.githubusercontent.com/425205/71502269-8836e000-286f-11ea-9e64-a69f9f85187c.PNG)

The only solution is to restart.

When i look in the Eventlog.xml i see some error message like

[2019-12-28 01:16] hiraldesai commented on #1440
Hi @fabiocav, I have the same issue as @eastmane - I'm using `Dapper` and `Microsoft.Data.SqlClient`. The function host has multiple functions, all of them except the one using `Microsoft.Data.SqlClient` is throwing the specified error.

Local debugging in Visual Studio works without any problems but when deployed on Azure (using Azure DevOps pipeline) throws error. I have verified that the Micros

[2019-12-28 01:41] fabiocav commented on #1440
If you could provide your deps file, that would help validate this is related to an issue we're in the process of patching.

[2019-12-28 06:04] Hemanth089 commented on #1108
Thanks. This works for me after lot of struggling

[2019-12-28 19:59] ganhammar commented on #1138
I managed to figure out how to host a MVC application with Razor views. I used a IdentityServer4 sample project to test the concept. Link to sample repo and to the hosted function can be found on the link below if anyone is interested.

https://www.ganhammar.se/2019-12-25/how-to-host-a-asp-net-core-3-mvc-application-as-a-azure-function

[2019-12-31 15:34] galvesribeiro commented on #738
As I was mentioning to @davidfowl Yesterday, I was tasked to migrate some GraphQL APIs once written in TypeScript with Apollo framework to Azure Functions with .Net Core/C# using `graphql-dotnet`.

The overall migration works just fine except when it comes to subscriptions. [GraphQL Subscriptions](https://github.com/graphql/graphql-spec/blob/master/rfcs/Subscriptions.md) spec show how it should wo

[2019-12-31 19:56] kulkarnisonia16 commented on #1416
@ahmedelnably Can you add some more details of what the call to action for support engineer would be?

[2019-12-31 20:03] ahmedelnably commented on #1416
There is a configuration at the scale unit level that would change the scaling behavior of the functionapp.

[2019-12-31 20:06] kulkarnisonia16 commented on #1325
@fabiocav

[2019-12-31 20:20] jesserizzo commented on #1194
@alexkarcher-msft @jeffhollan
I'm running into this error a few times that are surprising given the above explanation. I've seen it once on a freshly created resource group with no other resources in it. I've also seen it in an existing resource group that had previously contained premium app service plans, where after deleting all the resources from the group an elastic premium plan failed to dep

[2019-12-31 23:43] jonfortescue commented on #1250
Also having this problem

[2020-01-03 11:14] sylwiaboguska opened #1443 "Blob triggered function on consumption plan does not trigger when storage in VNET"
I have got a blob triggered python function that is running on consumption plan. Function runs OK and processes blobs in storage when storage allows all networks. However, when the storage is in vnet and the new blob is uploaded, the function does not trigger.

Function app is Version ~2, Linux and located in East US.
Storage is in North Europe and it is in vnet. IP ranges for East US data center

[2020-01-03 14:11] kiran290 commented on #1003
I have added this setting, but still getting the same issue, can anyone help me with this.

![image](https://user-images.githubusercontent.com/59478011/71727656-02afc300-2e61-11ea-8694-bd784fd89e2e.png)

Thanks!

[2020-01-06 00:33] amtandon opened #1444 "Blob Trigger for Azure Functions on Kubernetes with KEDA"
Do functions deployed to a K8 Cluster with Keda support Blob Triggers?

[2020-01-06 11:05] ishepherd opened #1445 "[Premium] How to compare baseline prices of EP1 plan"
The only way I found to get a price is: pick a region, select in tab 1 of "New Function App" wizard, go to tab 2, look at "Spec Picker". Repeat for the next region, and the next, ...

This method showed me that East US 2 is 3% cheaper than West US 2.

Is East US 2 the cheapest or are there cheaper?

Can you publish a list to compare easily, like https://azure.microsoft.com/en-us/pricing/details/ap

[2020-01-06 12:16] shvishno opened #1446 "Get-Job \ Start-Job not working for powershell azure function"
I am trying to build some powershell automation that can run multiple async threads. For this I am using Start-Job and Get-Job commands. Function is throwing following error -
**_Access to the path 'Microsoft\Windows\PowerShell\ScheduledJobs' is denied._**

![image](https://user-images.githubusercontent.com/59564281/71817511-11d68100-30ac-11ea-95b4-bc896330768f.png)

It was working fine a week ago

[2020-01-06 20:04] ishepherd commented on #1445
TL;DR please add "ElasticPremium" SKUs to https://azure.microsoft.com/en-us/pricing/details/app-service/windows/ - Or tell me if they are already published somewhere else. Thanks

[2020-01-06 21:20] alexkarcher-msft commented on #1445
This is the page with Functions Premium pricing, and there is a region picker at the top
https://azure.microsoft.com/en-us/pricing/details/functions/

You do need to multiply by the GB and CPU count for your desired SKU here:  https://docs.microsoft.com/en-us/azure/azure-functions/functions-premium-plan#available-instance-skus

US East 2 and US West 2 are the least expensive regions.
If you're fee

[2020-01-06 22:28] ahmedelnably opened #1447 "[Az CLI] Add support for Node 12"
Scenarios we care about:

Creation of Node 12 app
Validation that versions match on publishing
When a user upgrades to V3, ensure that their Node versions are compatible

[2020-01-06 22:28] ahmedelnably commented on #1447
https://github.com/Azure/azure-cli/issues/11364

[2020-01-07 04:11] ishepherd commented on #1445
Thanks Alex

Source                 | Actual WUS2 | Actual EUS2
-------------------- | ----------- | -----------
| [Premium pricing page](https://azure.microsoft.com/en-us/pricing/details/functions/) (1 vCPU & 3.5 GB) | $145.927 + consumption | $145.927 + consumption |
| Spec picker estimate |  $74.03 baseline | $71.69 baseline |
| Azure Cost Analysis data | (~2.50 per day) => ~$76  | not tried |

[2020-01-07 08:51] #1443 closed

[2020-01-07 09:55] #1367 closed

[2020-01-07 09:55] wehnicde commented on #1421
Closed by mistake

[2020-01-07 14:06] marcin-vt commented on #1361
Does restricting access to storage account after deployment of ARM template work? Or it will generate more errors during function deployment (az functionapp deployment....)?

[2020-01-07 15:13] tomkerkhove commented on #1354
It looks like this is full rolled out, is that correct?

In other words, this issue can most probably be closed?

[2020-01-07 17:59] jeffhollan commented on #1361
A bit of a longer answer to explain what the current state is today, and options for deploying code to an app with VNet restrictions.  This is all assuming the Azure Functions Premium Plan which supports the regional VNet.

The Premium Plan has VNet support which enables the function app itself to make secure connections to resources restricted to a private network.  This includes making a call to

[2020-01-07 18:16] mathewc commented on #1004
This should be unblocked now. The API doc for host keys is here: [Web Apps - List Host Keys](https://docs.microsoft.com/en-us/rest/api/appservice/webapps/listhostkeys). That API returns both master key and system keys. Also, @jcbrooks92 has published a sample template [here](https://github.com/jcbrooks92/EventGridAzureFunctionARMTemplate/blob/master/azuredeploy.json) which shows how to use these A

[2020-01-07 19:36] dariagrigoriu opened #1448 "[Az CLI] Add the ability to create v3 function apps"
Mirror issue for az CLI https://github.com/Azure/azure-cli/issues/11349

[2020-01-08 08:38] BenjaBobs commented on #1418
Closing as I just tested and was now able to set the value to 100 successfully.

[2020-01-08 08:38] #1418 closed

[2020-01-08 08:41] BenjaBobs commented on #1401
Any news on this?

[2020-01-08 08:42] BenjaBobs commented on #1335
Any news on this?

[2020-01-08 09:57] pajzo opened #1449 "InvalidHostServicesException when using AddDataProtection()"
When I want to start my Azure Functions locally with Visual Studio it gives the following error. But if I compile it and deploy to an Azure Function instance running in Azure it seems to be working.

[code]

The problem begin to occur when I added this in my startup:
`services.AddDataProtection()`

Other information:
[code]

Tools:
- Visual Studio Professional 2019 - Version 16.4.2
- Azure Functio

[2020-01-08 10:16] marcin-vt commented on #1361
Thanks for taking this up @jeffhollan.

However removing `WEBSITE_CONTENTAZUREFILECONNECTIONSTRING` and `WEBSITE_CONTENTSHARE` from my function configuration caused some errors after restart.

In the azure portal I see now:

When trying to deploy function from commandline (`az functionapp deployment source config-zip`):

Also, since we use this function as a scheduler (to start container every hou

[2020-01-08 15:52] chmarti commented on #1003
One month after my comment, and this is still "Closed" and everyone is ignoring the problem... Meanwhile I've built an infrastructure on top of Azure Functions and can't deploy any changes because of this error message.

[2020-01-08 17:16] alexkarcher-msft commented on #1445
Hello,

The pricing page is the ultimate source of truth for our billing rate.

We are aware that the spec picker is still estimating preview prices and are updating it in this sprint to show correct baselines.

As for cost analysis, I'm not sure where they get their info, but it looks like it is just a historical record of what you have paid over the last billing cycle. I would expect that over t

[2020-01-08 17:24] alexkarcher-msft commented on #1335
In the time since opening this issue we have not seen it crop up again. Linux premium has undergone a few releases, and all of our logs from your initial testing have rolled over. Can you attempt to reproduce this issue, and if it is still occurring we'll take a deeper look.

[2020-01-08 22:49] ankitkumarr opened #1450 "[Premium] Function Release process for Linux Premium apps"
Tracking issue for platform work to release Function Apps in Linux Premium differently.

[2020-01-09 02:38] kashimiz commented on #1003
I'm very sorry for the delay, @chmarti. Can you provide us with more information about your scenario? Specifically, where you're trying to deploy to (App Service? Elsewhere?), and what deployment method version of Functions you're using.

Going forward, there are several [deployment technologies for Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-deployment-techno

[2020-01-09 07:10] ishepherd commented on #1445
Thanks @alexkarcher-msft, but this was the wrong answer. Our premium plan app already looked expensive to justify and now you have to go and double it 😭

Thanks for your help though 🤣

[2020-01-09 10:25] chmarti commented on #1003
I was deploying a stopped C# Function App which is on a queue trigger. I am using the Publish functionality in VS.
VS Version: 15.9.18
Azure Functions and Web Jobs Tools - 15.9.03024.0

Target Framework is netcoreapp2.2
Deployment Mode is Framework Dependent
Remove additional files at destination is checked.
AzureFunctionsVersion in the csproj is v2

Here is the actual publish profile with a few p

[2020-01-09 22:19] kulkarnisonia16 opened #1451 "[Az CLI] Add support for creation of Python 3.8"

[2020-01-09 22:24] vijayrkn opened #1452 "VS 2019 16.4.1 Function apps crash on debug when there are other projects in the solution"
https://developercommunity.visualstudio.com/content/problem/856565/vs-2019-1641-function-apps-crash-on-debug-when-the.html

[2020-01-09 22:54] mahesh2000 commented on #376
is there a way to run 64-bit  node.exe for azure functions on the server? i'm unable to run the sharp module (it's for svg to png image conversion) as it requires this. thanks!

[2020-01-09 22:55] soninaren commented on #376
cc: @mhoeger

[2020-01-10 10:02] metoule commented on #1370
The same issue is present in [Microsoft.NET.Sdk.Functions.Publish.targets](https://github.com/Azure/azure-functions-vs-build-sdk/blob/35c4d4e448877495a2e25e31166b6e4e3fe47eb5/src/Microsoft.NET.Sdk.Functions.MSBuild/Targets/Microsoft.NET.Sdk.Functions.Publish.targets#L120):

    <Target Name="_FunctionsPublishDepsCopy" BeforeTargets="Publish" Condition="'$(SkipFunctionsDepsCopy)' != 'true'">

[2020-01-10 11:28] akashpanjwani commented on #1382
I am same issue as shown above can anyone please help me with this issue.

Thanks in advance.

[2020-01-10 12:53] SABARISHV06 commented on #1382
@akashpanjwani I got fixed by downloading all the dll in a folder and refered the same in my code.

[2020-01-10 17:37] fabiocav commented on #1370
@metoule that issue has been addressed and the package is pending deployment. If you'd like to validate, you can consume the package from here in the meantime: https://www.myget.org/feed/azure-appservice-staging/package/nuget/Microsoft.NET.Sdk.Functions/3.0.3

/cc @brettsam

[2020-01-10 23:14] aderderian opened #1453 "System.IO.FileNotFoundException: 'Could not load file or assembly 'Microsoft.Rest.ClientRuntime.resources, Version=2.0.0.0"
While attempting to use an Azure Function Target Framework 3.1 and Function Versions 3, I am gettig this error when trying to connect to the PowerBi restful apis. The exception is below, along with my csproj references. I noticed in my csproj that Microsoft.Rest.Clientruntime version is 2.3.2.1, so I forced that version using a blog post on binding redirects for Azure Functions, but it still did n

[2020-01-11 14:40] grahambunce opened #1454 "Visual Studio debugging "Failed to decrypt settings. Encrypted settings only be edited through 'func settings add'"."
Create an Azure Functions 2.x C# app and associated function
Add local.settings.json, e.g.

{
[code]
Note that the connection string contains an unexpected value ("management.circuitbreaker.timespanSeconds")

Execute similar layout in WebJobs SDK = no issues
Execute layout in Azure Functions = fail on startup with "Failed to decrypt settings. Encrypted settings only be edited through 'func setting

[2020-01-11 16:30] Dona278 commented on #1449
Same issue

[2020-01-12 14:59] alex-3sr opened #1455 "Issue with custom Content-Type on PowerShell Azure Function (v2/v3) Error 415 (Unsupported Media Type)"
Hi,

I'm fighting with a debug since few days with a PowerShell Azure Function. In fact, It's just a very small script that call an another external API (Terraform Cloud API) who need a specific custom Content-Type "application/vnd.api+json"

So, I've for example this script who works on PS5 and PS Core 6 locally ->
`
# Terraform Variables
$tf_organization = "SANDBOX2"

# Terraform API
$tf_token =

[2020-01-13 18:24] dtaalbers commented on #309
Thanks @james1293 That seem to work for me!

From

[code]
to
[code]

[2020-01-13 19:27] briandunnington commented on #1004
@mathewc The sample from @jcbrooks92 only appears to work if the Function is already deployed and running (which appears to generate the event grid system key). The original request from @paulbatum is requesting the ability to create the Function and Subscription in the same ARM template - is that possible yet? If so, is there an example ARM template that demonstrates how?

[2020-01-14 11:15] YoRunner opened #1456 "Content length header is missing in response for azure function v1"
We have azure function which is running with azure v1 (.NET Framework 4.7). In response we are trying to set the content length but it is not flowing to client. It sets the Transfer encoding header with value as chunked.

To give glimpse of how we are setting it.

` var body = <some byte array data>`
    `var resp = new HttpResponseMessage();`
   ` resp.Content = new ByteArrayContent(body);`
  `

[2020-01-14 12:03] Jankowski-J commented on #1307
Any updates on this?

[2020-01-14 14:50] delta25 commented on #1307
Sorry for not providing feedback on this. We did in fact resolve the issue. It was related to our deployments. Foolishly, we had chosen to deploy and run from package instead of deploying as a ZIP.
![New_release_pipeline_-_Pipelines](https://user-images.githubusercontent.com/20166924/72354156-88473480-36e5-11ea-859b-294f02206222.png)

[2020-01-15 06:00] jcbrooks92 commented on #1004
@briandunnington this behavior is what's expected with Eventgrid (@mathewc can confirm). By default v2 functions do not have all the extensions installed so they must be installed manually or have code deployed that contains the extensions. In my sample I use run from package to deploy the default Eventgrid function. Something I haven't tried yet was using bundles but this would still require a co

[2020-01-15 11:19] lars-erik commented on #1370
@fabiocav I just resolved this by installing 3.0.3 from staging. Looks good! 🙂👍

[2020-01-15 11:46] ldfloresgon commented on #1370
@fabiocav  it seems fixed with Microsoft.NET.Sdk.Functions -Version 3.0.2 isn't it?

[2020-01-15 14:34] markusfoss commented on #1361
The solution worked great for us @jeffhollan - we enhanced our ARM provisioning Azure DevOps release pipelines to _not_ include WEBSITE_CONTENTAZUREFILECONNECTIONSTRING  and WEBSITE_CONTENTSHARE  . Then our vnet connected premium function is provisioned as expected.

HOWEVER: Docs in https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings should be updated to reflect this iss

[2020-01-15 19:49] josh-endries opened #1457 "Confused about Azure Functions premium plan pricing"
I've read the other two issues related to this that I found but neither seems to give a clear explanation, or they get derailed around pre-warming mechanics, or at least don't answer the question of how much it costs.

From my understanding from reading the official docs is that a premium Fn has a fixed monthly cost for the instance(s), plus the usage cost on top of that. This instance cost is not

[2020-01-15 21:15] ckoehler-pillar commented on #771
any updates on this?

[2020-01-15 22:19] paulbatum commented on #771
@ckoehler-pillar no updates at this time.

[2020-01-16 08:24] vichakorn commented on #1368
I am getting the same exceptions

[2020-01-16 11:36] badamsdev commented on #1196
I created a pull request with an updated host.json schema [SchemaStore/schemastore/pull/910](https://github.com/SchemaStore/schemastore/pull/910)

[2020-01-16 18:58] badamsdev commented on #1196
The update has been merged, you can close.
Remember to clear your schema cache: C:\Users\...\AppData\Local\Microsoft\VisualStudio\...\Schemas

[2020-01-16 22:58] mslot opened #1458 "Docker on consumption plan"
Reading this:

1. https://github.com/Azure/Azure-Functions/wiki/Azure-Functions-V2-hosting-options
2. https://github.com/MicrosoftDocs/azure-docs/issues/44083
3. https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale

Is it correctly understood that:
1. Linux can be run on consumption plan, dynamic scaling works as with Windows. This always runs in a docker container. You can't bri

[2020-01-17 12:38] Branislav99 opened #1459 "Slide-Toggle to enabling/disabling azure functions is missing in v3 Azure functions."
Azure Portal, Azure Functions v2:
![image](https://user-images.githubusercontent.com/23500590/72612956-8623e680-392e-11ea-8b43-ba1638c990e8.png)

Azure Portal, Azure Functions v3:
![image](https://user-images.githubusercontent.com/23500590/72612970-94720280-392e-11ea-9f33-4da32fa0a879.png)

[2020-01-17 19:18] curelom commented on #1370
Negative.  I've installed Microsoft.NET.Sdk.Functions Version 3.0.2 and it still doesn't work.  This issue should not have been closed.  Please re-open

[2020-01-17 19:57] ldfloresgon commented on #1370
@curelom you must clean and rebuild the solution and will work fine

[2020-01-17 22:39] curelom commented on #1370
No good.  Cleaned the solution, even deleted bin and obj folders.  Still get System.Data.SqlClient is not supported on this platform.

[2020-01-17 23:32] ldfloresgon commented on #1370
@curelom  you should use microsoft.data.sqlclient instead of system.data.sqlclient

[2020-01-18 00:54] curelom commented on #1370
@ldfloresgon Thank you for that catch.  I had referenced that as SqlParameter in one class.  I have removed that now and get the  System.PlatformNotSupportedException: Microsoft.Data.SqlClient is not supported on this platform error

[2020-01-18 11:50] mslot commented on #1458
Maybe this is how it should be understood:

1. Linux can be run on consumption plan, dynamic scaling works as with Windows. This always runs in a docker container. You can't bring your own docker
2. If you want your own docker image, you have to move to a premium plan. This still provides dynamic scaling

Local development can be run through docker, and then just the code is deployed to an Azure f

[2020-01-20 08:48] oatsoda commented on #862
Is there any consolidated documentation on this yet?

My main concern is around Queue and Timer functions - What should we do?  If I disable/stop them to avoid staging and production competing for locks, how do I handle the shutdown - I believe they get 30 seconds grace before processes are killed, but if longer running then does this mean I have to ensure they are fully transactional or "undoable

[2020-01-20 12:00] #1459 closed

[2020-01-20 12:00] Branislav99 commented on #1459
.

[2020-01-21 00:28] TheFairey opened #1461 "Default Consumption plan vs Specific Consumption plan scaling differences"
I have a basic function which converts some HTML to a PDF, I've been testing various options to see how the performance is and came across some odd scaling behaviour.

Test - Submit 5 requests to a storage queue then sleep for 3s then submit another 5 until 1000 requests have been submitted. Each request has it's own copy of the HTML file on blob storage

All functions report to the same app insig

[2020-01-21 07:10] progs commented on #1449
Same issue here, any updates?

[2020-01-21 12:39] jcavell commented on #1416
Is it possible for us to configure it ourselves rather than require a support engineer to do it? Is it possible to change the scaling behaviour of the function app appropriately via the CLI?

[2020-01-22 01:08] mcopik opened #1462 "Incorrect performance counter values for Linux consumption plan"
Hi!

I'm trying to understand the performance of my Python function app deployed with Linux consumpion plan. I had no problems with querying logs from app insights to get durations of each invocation, and now I'm trying to find any information on memory consumption of my program. I understand that it's not possible to have this value per each function invocation and I tried to use Azure Monitor we

[2020-01-22 09:43] andronachev opened #1463 "System.Reflection.CustomAttributeFormatException: 'Value' property specified was not found"
Since 1 day ago (somewhere in the last 12-24 hours) we started getting this weird exception our Prod environment:
[code]

After doing some digging in both the EventStore.Org repositroy and the ProtoBuf repository and didn't see anything weird, I searched some more and encountered a couple of similar exceptions on github, and they were related to the Azure Function runtime version;

https://github.

[2020-01-22 10:37] rameshmummidi30 opened #1464 "Exception of type 'System.OutOfMemoryException' was thrown in azure function with EFcore cosmos 3.0"
Use this repo to file issues in documentation or the Functions Visual Studio tooling.
I have an Azure Fuction API with a single endpoint that retrieves documents from a CosmosDB collection with EF core cosmos 3.1. It work for fine but some times I experience outages on the site (site starts to respond requests with 502 - bad gateway) due to OutOfMemory exceptions
General Specifications :

Azure fu

[2020-01-22 21:08] fabiocav commented on #1448
@dariagrigoriu this will be completed on sprint 68.

[2020-01-22 21:10] fabiocav commented on #1447
@dariagrigoriu @ahmedelnably this will be completed next sprint.

[2020-01-23 02:48] chrisparkeronline commented on #1208
I ran across this today with deploying a .net core 3 function using azure pipelines. Changing the FUNCTIONS_EXTENSION_VERSION to ~3 fixed the issue.

[2020-01-23 03:38] mswilson4040 opened #1465 "AzureDevOps Client Library doesn't work"
Use this repo to file issues in documentation or the Functions Visual Studio tooling.

If you need technical help, you'll get the fastest response on the forums (https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=AzureFunctions) or Stack Overflow: http://stackoverflow.com/questions/tagged/azure-functions. The entire engineering team monitors those forums.

- For documentation issues,

[2020-01-23 06:12] jzhouw commented on #1392
you have to specify CORS rule on the storage account *one line per http method*. this works to my function

[2020-01-23 13:42] mjhoffmeister commented on #1370
I was able to get everything working after switching to Microsoft.Data.SqlClient, then uninstalling System.Data.SqlClient and doing a clean/rebuild. I initially upgraded to Microsoft.NET.Sdk.Functions 3.0.3, but I just reverted to 3.0.2; everything is still working.

[2020-01-23 14:15] OwenPattison commented on #1370
Im using .Net Core 2.2 and I have updated the Microsoft.NET.Sdk.Functions from 1.0.29 to 1.0.31 and I also see Microsoft.Data.SqlClient is not supported on this platform error.

Reverting the package to 1.0.29 solves the problem for me while im using .Net Core 2.2 however from what I can see this is not listed as a breaking change which I feel it should be.

[2020-01-23 21:04] saikatguha opened #1466 "[Premium]"
**Describe the bug**
Runtime version for ~2 (2.0.12961.0) is throwing System.Data.SqlClient is not supported on this platform.
Earlier version for ~2 (2.0.12888.0) was working fine.

Something broke in the bump to minor version.

**To Reproduce**
Steps to reproduce the behavior:
1. Use System.Data.SqlClient 4.6.0
2. Use ~2 as runtime version.
3. Observe System.Data.SqlClient is not supported on th

[2020-01-23 21:50] saikatguha commented on #1466
Pinning to runtime 2.0.12950 mitigates the issue

[2020-01-23 21:50] #1466 closed

[2020-01-24 00:17] fabiocav commented on #1450
Closing as completed.

[2020-01-24 00:17] #1450 closed

[2020-01-24 00:19] fabiocav commented on #1369
Closing as completed. Pending merge of the referenced PR

[2020-01-24 00:19] #1369 closed

[2020-01-24 03:01] ghclo commented on #1416
@ahmedelnably Thanks. Could you please help to confirm if this fix has already been rolled out?

[2020-01-24 14:59] ErikAndreas commented on #1438
same issue here but using dynamic as type to proxy response (from API called by function) to frontend application, don't really care for creating API response specific model, dynamic is (should be!) just fine!

[2020-01-25 10:50] toom5556 opened #1467 "[Premium]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other c

[2020-01-25 10:52] #1467 closed

[2020-01-25 21:24] adecr opened #1468 "When routing fails because parameters contains slash, there are no logs"
When an HttpTrigger function has route such as "action/{value}" and is called with value containing a urlencoded /slash the function host emits no logs at all to inform of the issue.

Also, the Azure Functions development runtime will accept and work fine so long as slashes are urlencoded.  Some consistent behaviour here would be nice.

I understand that the failure is by design and the workaround

[2020-01-26 20:02] smokedlinq commented on #1044
We had a simple need, support GET requests with odata syntax. Thanks to the extension method provided by @alectc1 I was able to spend a few hours this afternoon created a simple extension with support for the EnableQuery attribute as [shown here](https://github.com/smokedlinq/Microsoft.Azure.WebJobs.Extensions.OData/blob/master/app/HttpTriggerCSharp.cs).

[code]

[2020-01-27 12:15] heymega commented on #1426
@alexkarcher-msft - Do you happen to know if there would be a ~30-second delay when using Deployment Slots on the Premium Plan, after swapping slots?

[2020-01-27 18:35] alexkarcher-msft commented on #1426
Yep, I'd consider 30s totally normal for the swap to take place, but you should not see 30 second response times during that time. The staging slot should be warmed up and ready to accept requests before traffic is routed to it.

[2020-01-27 20:25] andronachev commented on #1463
Hi,

I am getting back at this because I got no response - just thought to add more details with my findings so far.

From the Exception stack trace we can see the problem revolves somehow around the **Protobuf-net** nuget package ( https://github.com/protobuf-net/protobuf-net ) that we are using in our Azure Function. We are using it indirectly, because we are actually using the Event Store nuget

[2020-01-28 08:42] gaurav743 opened #1469 "Is oData available with Azure functions ? We are looking to move our APIs to Azure but need to support reports that are oData based."
I would like to know if Azure functions currently support oData. We are looking to move our APIs to Azure cloud but also need to support thousands of reports that use oData based URLs to get data. If not, till when can we expect the same feature to be available with Azure functions.

[2020-01-28 13:17] deeagar commented on #1335
This is still occurring for me. I am using Premium plan for deploying container (the container just does an OCR on incoming image and returns text) in Azure functions (with one pre-warmed instance). Hitting the endpoint with around 70 PNG in a loop. Still see a single server serving requests, one by one.
As far as the configuration and reproduction of the issue is concerned, consider that has been

[2020-01-28 14:15] Bassamgz commented on #1395
Any updates about that?

[2020-01-28 16:43] liben-y commented on #393
This is still not working for me on Visual Studio 2019 with the latest update available as of this post. I've uninstalled and reinstalled visual studio 2019. Have tried to use the username/pwd in the publish profile file and still not working. The option to debug is not available in Server Explorer only in Cloud Explorer.
Can only see the following:
![image](https://user-images.githubusercontent.c

[2020-01-28 17:31] prabhakarreddy1234 commented on #1277
Is it fixed ? I still see the header being removed.

[2020-01-29 10:00] stergosjk opened #1470 "Azure Function Consumption Plan goes to sleep only after 2 minutes of being idle"
We have a consumption plan that hosts 5 azure functions. One of these functions is quite active... however we noticed via Application Insights that after only 2 minutes of being idle (not 20) it went to sleep and then took 40 seconds to warm up again. I thought this ONLY happened after 20 minutes of inactivity not 2.

[2020-01-29 10:40] helgeu commented on #1410
Any progress on this? Same problem for me, with netcoreapp3.1 function v3 and function SDK 3.0.1/.02. same from build script as in VS so apperently not VS.

[2020-01-29 15:52] helgeu commented on #1410
Found a "fix" though on this issue now. If not using attributes for functions (in/out etc), but an folder for each function and a function.json, there is a need for copying folder with function.json to build/output/publish.

[2020-01-30 03:33] rainerllera commented on #1138
Any updates on this one guys? kinda having the same issue here

[2020-01-30 08:09] elmo61 commented on #1138
If it helps I have had success using https://github.com/fouadmess/RazorEngine in combination with a AzureFunction v2.

There are some limitations of the razor engine but the basics work and I've used it for developing email templates which are sent from the azure function.

[2020-01-30 10:03] enpuig opened #1471 "Dynamic filename generation for blob out bindings - Python"
I am facing issues when trying to write outputs into a blob storage account file with a dynamic name based on the azure function code (using python).

What I have:
Http trigger - with some key parameters
Blob out binding

![image](https://user-images.githubusercontent.com/18518436/73439259-a2248080-434f-11ea-90b1-07b34b4ae2c5.png)

Now what I want to do is based on my function logic provide a name

[2020-01-30 11:22] plazav opened #1472 "Method not found Microsoft.Extensions.DependencyInjection.IServiceCollection"
I have ASP.NET Core 3.1 application. It is published to Azure functions with Azure DevOps pipeline, but I can also publish it from VS 2019.
Runtime version is set to ~3
WEBSITE_WEBDEPLOY_USE_SCM is set to false
All packages are updated to latest stable version (3.1.1).

Application works locally. After publishing I am recieving next one error:
"Method not found: 'Microsoft.Extensions.DependencyInj

[2020-01-30 13:51] andrew-vdb opened #1473 "System.Data.SqlClient is not supported on this platform when debugging with visual studio"
I have the application running in azure, its running just fine. When i try to **debug** it, I got the System.Data.SqlClient is not supported in this platform.

Visual Studio 16.4.3
Microsoft.NET.Sdk.Functions v3.0.3
TargetFramework netcoreapp3.1
AzureFunctionsVersion v3

I dont see functions.deps.json, I see {assembly}.deps.json

[2020-01-30 14:50] heymega opened #1474 "[Premium] Multiple Subnets on Single Premium Plan"
**Describe the bug**

If two function apps are sharing the same Premium App Service Plan, then it appears they need to be on the same subnet.

If we try to attach the second function app to a different subnet it fails with a 500 error and eventually times out...

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Function App on a Premium Plan
2. Assign this function to a subnet

[2020-01-30 15:07] MattJeanes commented on #1465
Running into the exact same issue, Azure Functions V3 - managed to workaround by using the latest preview version of the package and adding this code:

Startup.cs

[code]

AssemblyBindingRedirectHelper.cs
[code]

Thanks to Carlos R from https://developercommunity.visualstudio.com/content/problem/878381/problem-with-microsoftvisualstudioservicesclient-n.html for the hint

[2020-01-30 16:28] mswilson4040 commented on #1465
What's strange for me is that this is only a problem when running the function locally. After I publish it to Azure, it works without issue. The only "sketchy" thing I had to do in the pipeline is to install both 2.2 and 3.1 SDK's. TBH I can't remember if I tried to do that locally or not.

[2020-01-30 16:51] nzthiago opened #1475 "JSON serialization differences locally and on Azure for Functions v3"
That code when run locally (from VS, or VS Code using latest npm based func v3 core tools) behave differently from when deployed to Azure.

Run locally and you get: (the highlighted property names have not been mapped)
[code]
Run in Azure and you get: (which is what I expect)
[code]

Locally I tested with core tools version 3.0.2009, and dotnet version 3.1.101. I noticed that locally the runtime w

[2020-01-30 19:29] jeffhollan commented on #1194
Understand the frustration - let me try to add some context.  Realize this may be a little bit of a repeat but worth noting.

🔔  TL;DR - working on it, definitely the type of problem that's hard to give a firm ETA, but the immediate solution is create the premium plan in a new resource group and you'll be unblocked.  The apps in the plan can be in any group, but the plan needs to be in a resource

[2020-01-31 06:35] plazav commented on #1472
Have added this issue as comment in [32](https://github.com/Azure/azure-functions-dotnet-extensions/issues/32)

[2020-01-31 06:35] #1472 closed

[2020-02-03 18:06] soninaren commented on #1410
@helgeu, are you manually creating the folder structure in the publish folder. If yes then you should not need to. Version `3.0.3` of `Microsoft.NET.Sdk.Functions` should work for `netcoreapp3.1`. Also Please make sure the AzureFunctionsVersion property in the `.csproj.` file is set to `<AzureFunctionsVersion>v3</AzureFunctionsVersion>`.

@patricknolan  are you still seeing this issue?

[2020-02-03 18:24] helgeu commented on #1410
Yeah i have to create those folders manually. They do not appear as expected. And yes I obviously should not need to. And no 3.03 do not work for netcoreapp3.1. And yes I have set AzureFunctionsVersion to v3.

See also: https://github.com/Azure/azure-functions-vs-build-sdk/issues/368

its quite easy to recreate. Make a new proj (csproj or fsprj does not matter). Use the default function (http-trig

[2020-02-03 19:04] soninaren commented on #1410
@helgeu, i am having a hard time trying to understand what you are trying to do. Are you expecting a function.json be generated from a .cs file without attributes? The attributes are needed to generate the function.json in the build output. If not, having a stand alone repro would be great. If you have one can you attach it to your response?

[2020-02-03 22:09] rustamm commented on #1368
I had the same problem. In my case it happened because when I start my Azure Functions V2 project locally it uses DLLs such as Microsoft.Azure.WebJobs.Host.dll from Azure Functions CLI Tools installation folder, e. g. `C:\Users\<username>\AppData\Local\AzureFunctionsTools\Releases\2.45.0\cli_x64`. These DLLs reference many other DLLs, including Microsoft.Extensions.Configuration.dll. In my case th

[2020-02-04 00:01] markdreyer commented on #1195
Still broken, but I was able to work around this by using the following in my ARM template:

[code]

This creates the connection string without having to check in the storage account key or needing a KeyVault entry at all.

Inspired by:
https://docs.microsoft.com/en-us/azure/app-service/app-service-key-vault-references

[2020-02-04 08:18] piyushmutha opened #1476 "Documentation Issue : It isn't clear about which appSetting key to use for StorageAccount"
Documentation isn't clear about which appSettings key to use for an **HTTP** triggered function with **AppService Plan**.

![image](https://user-images.githubusercontent.com/14413941/73725415-3bbfa980-4725-11ea-9b48-91882e3ed9c6.png)

This states that **AzureWebJobsStorage** should be used for all functions except **HTTP** triggered ones.
(Mine is an HTTP function so can't use this)

![image](http

[2020-02-04 11:14] helgeu commented on #1410
@soninaren

try out the following repo doing stuff from readme.

think this is the absolute bare minimum variant of demonstrating the issue:

https://github.com/helgeu/MveFuncBuild

[2020-02-04 19:22] devesh179 opened #1477 "Azure Function v2(Python) sends 504 Gateway Timeout after 4 minutes under App Service Plan as well"
I have created a Http-Triggered Python Azure Function which takes 3-10 mins to process the entire business logic depending upon the data size.

While triggering this function using postman or python web request, it only waits for the response till 4 mins. If the function executes by that time it gives expected response otherwise it returns 504 Gateway Time-out error. Even while it gives 504 error

[2020-02-05 09:42] alec-lieberman-ef opened #1478 "Function runtime unable to start due to (missing) assembly."
Hello,

I have an azure function (V2 runtime V2) that I have added some custom infrastructure to (nuget package in an internal feed). When I run the function locally, everything is great and it works correctly. When I build the function and deploy it to Azure, I get this error:

 The function runtime is unable to start. <FunctionName>: Could not load file or assembly '<CustomAssembly>, Version=1.0

[2020-02-05 09:44] #1478 closed

[2020-02-05 09:45] alec-lieberman-ef opened #1479 "Function runtime unable to start due to (missing) assembly."
Hello,

I have an azure function (V2 runtime V2) that I have added some custom infrastructure to (nuget package in an internal feed). When I run the function locally, everything is great and it works correctly. When I build the function and deploy it to Azure, I get this error:

The function runtime is unable to start. : Could not load file or assembly ', Version=1.0.0.0, Culture=neutral, PublicKe

[2020-02-05 16:53] gdodd1977 opened #1480 "HttpClientFactory works remotely, but not when deployed"
I've converted a function app to use HttpClientFactory. When I run it locally, it works fine. When we deploy it to our azure app, we get the following error:

No service for type 'Microsoft.Extensions.Http.DefaultHttpClientFactory' has been registered.

Why would this work when running locally but not work in Azure?

[2020-02-05 21:19] fabiocav commented on #1448
This is currently in PR here: https://github.com/Azure/azure-cli/pull/11987

[2020-02-05 21:19] fabiocav commented on #1447
This is currently in PR here: https://github.com/Azure/azure-cli/pull/11987

[2020-02-06 08:17] ranjithsnair commented on #1449
Same issue any updates ?

[2020-02-06 12:32] sanghamanvir13 commented on #1003
Any update on this issue? I also face this issue intermittently even if i have stopped my function app and deploy it ( both operations using Azzure DevOps Release Pipeline Tasks)

[2020-02-06 14:58] kiran290 commented on #1003
Hi Manvir,

I didn't get any solution for this.

On Thu, Feb 6, 2020 at 6:02 PM Manvir Kaur <notifications@github.com> wrote:

[2020-02-06 15:26] progs commented on #1449
Found this issue with some more information, but also no solution yet: https://github.com/Azure/azure-functions-host/issues/5447

[2020-02-07 02:10] jayserdny opened #1481 "[Premium] WINHTTP_CALLBACK_STATUS_REQUEST_ERROR, 'The connection with the server was terminated abnormally'."
I started facing the following issue recently. Is there a way to get support through Teams? If so, please share your MSFT alias :)

**Environment:** Azure Functions V2 .NET Core 2.0

**Exception Message:**

An error occurred while sending the request. Error 12030 calling WINHTTP_CALLBACK_STATUS_REQUEST_ERROR, 'The connection with the server was terminated abnormally'.

**Exception type:** System.N

[2020-02-07 08:11] helgeu commented on #1410
@soninaren did the examples help in describing the issue?

[2020-02-07 10:42] emilbm commented on #760
Is this still a thing?

I constantly see the Portal logs-window stopping its listening while claiming its connected. All you need is like a couple of minutes of idletime and it happens.

[2020-02-07 22:58] alexkarcher-msft commented on #1474
Hello, you can currently attach to just one subnet per plan. Since your sites share the same workers we currently do not have a way to restrict traffic to only one virtual interface.

Where were you trying to configure this? It should fail gracefully in all of our tooling.

[2020-02-07 22:59] mhoeger commented on #1195
Unfortunately, this the case of a bad error message and not one issue that needs to be fixed. When the reference fails to resolve for WEBSITE_CONTENTAZUREFILECONNECTIONSTRING, it always returns the error message `Storage Uri is Invalid` due to the nature of the App Setting.

Normally you are able to save an App Setting reference even if it is unresolvable. That is because we (on the platform) do n

[2020-02-08 13:11] Godase opened #1482 "Python Azure Function Remote App publish error"
Whenever I am trying to publish Azure Function for Python app on Azure Function then I got the below error:-
command:- `func azure functionapp <Function Name> --Python`
![image](https://user-images.githubusercontent.com/25449649/74085733-330f0080-4aa2-11ea-80f8-f3c2e3229012.png)

But whenever I am trying it on local using `func host start` then it works.
Is there any way to resolve the above issue

[2020-02-08 13:37] FlippieCoetser opened #1483 "func pack fails to create zip file with relevant content"
**Before:**
Given Windows 10
Given Visual Studio Code version 1.42.0
Given Azure Function Extension version **2.7.1948**
When running `func pack`
Then a Zip file **with relevant content** gets created.

**Action:** Update VS Code Extention:

**After:**
Given Windows 10
Given Visual Studio Code version 1.42.0
Given Azure Function Extension version **2.7.2100**
When running `func pack`
Then an **emp

[2020-02-10 03:56] thaitm312 commented on #1410
@soninaren Any progress on this ? Older version, you could use the Atribute in Azure Function or define the Function.json yourself. But new version, when use define the Function.json and mark it with "Copy to output directory", somehow Visual won't copy it. When you start debugging, they report "No job function found"  because Visual cannot copy Function.json to output directory.

[2020-02-10 18:50] leonheess commented on #155
When will this feature arrive?

[2020-02-10 18:52] jeffhollan commented on #155
See this related issue: https://github.com/Azure/Azure-Functions/issues/1194#issuecomment-580416039

[2020-02-11 09:35] heymega commented on #1474
I was doing this directly on the portal and it was timing out.

I also tried this in our build pipeline using the `az functionapp vnet-integration add` command which resulted in a timeout as well.

[2020-02-11 18:28] alexkarcher-msft commented on #1474
Perfect! That should be enough for us to get those commands returning the correct error messages.

Thanks!

We're still a ways out from actually supporting multiple subnets in the same plan, so I'm going to close this issue. This is a limitation of both Premium and Dedicated, for any future finders of this thread.

[2020-02-11 18:28] #1474 closed

[2020-02-11 21:24] soninaren commented on #1410
@helgeu and @thaitm312, Sorry for it is taking a little time to investigate this. I don't have updated for you so far. Will post an update as soon as i have some information.

[2020-02-11 21:24] soninaren commented on #1410
cc: @brettsam

[2020-02-12 13:31] Sandeep321 commented on #1130
Same Issue here, Any update?

[2020-02-12 17:28] soninaren commented on #1419
@vijayrkn, Can we update the ARM template to set always on to false for elastic premium?

[2020-02-12 21:48] #1481 closed

[2020-02-12 21:58] amtandon commented on #1444
As off KEDA V1.1, blob trigger functions are supported.

[2020-02-12 21:58] #1444 closed

[2020-02-12 22:00] thdotnet opened #1484 "Dependency Injection - problem with ILogger"
this throws an error related to not being able to inject ILogger on class Function3

[code]

this one compile, but don't print what's being logged by loginformation method

[code]

[2020-02-12 23:23] kamyker opened #1485 "Enormous overhead of receiving big requests = high usage cost"
From https://social.msdn.microsoft.com/Forums/en-US/772a41bb-2c1b-40db-a376-59a1d693ba8e/function-duration-time-is-few-times-higher-than-actual-processing-time?forum=AzureFunctions

Azure (C# - most recent production version): 2400ms
Google/Firebase (javascript): 90-170ms
IBM/OpenWhisk (C# .NET Core 2.2): ~100ms

[2020-02-13 00:47] iyerusad commented on #431
If anyone has the time and the patience, would you look through the below under a lens of a code/peer review? If not, no worries - at a basic level it works.

--
I'm roughly 2-3 dozen Azure Functions (JS/node) in, and wondering if could get a sanity check.

Below I drafted a basic wrapper to upload a blob to Azure Blob Storage (with the assumption such a basic function would be one off-ed like thi

[2020-02-13 05:54] advallu-warren commented on #1003
Possible Solution, delete source of the error or the "file_name.dll" on your directory and republish it again.

[2020-02-13 10:03] Sandeep321 commented on #1130
It started working after adding `{
  "version": "2.0"
}`
in host.json file.
However, not sure how it was working earlier being host.json as empty.

[2020-02-13 13:35] jjgriff93 commented on #1065
We're getting the same error in our Azure Function using MSI to access both KeyVault and blob storage. Interestingly it was working for a short period of time and has started failing without any changes to our code or environment:

[code]

[2020-02-13 13:58] jjgriff93 opened #1486 "Getting an intermittent 503 "unexpected error occured while fetching the AAD Token" when using MSICredential to access KeyVault and Blob Storage"
We are using MSI to access blob and KeyVault resources from our Azure Function, which is a Python Function running on a Linux Consumption plan.

The code is implemented like this for working with blob:
[code]

And like this for working with KeyVault:
[code]

We've enabled MSI access on the Function and set up all the necessary permissions, and when deploying to the Function App it works initially

[2020-02-13 14:21] stephlocke commented on #155
Still for me the main point of concern is avoiding a retriggering for already processed stuff. If we had a way of importing some history or state, for me things would be fine 👍

[2020-02-13 16:03] Ro3A opened #1487 "Guidance around handling MessagingEntityDisabledException"
I'm looking for documentation / guidance around handling MessagingEntityDisabledException, or in lieu of guidance, perhaps a request for feature enhancement.

**Our Scenario:**

We have a few Azure functions deployed to Azure that are subscribed to topics.  Said topics have been intentionally disabled while we are migrating related systems and doing some testing. Those functions also have http end

[2020-02-13 16:15] chauhansachinkr opened #1488 "azure functions local debugging dosent work with vscode when node installed using nvm"
Tasks dosent find the npm installed using nvm

Terminal out
-------------

/bin/bash: npm: command not found
The terminal process terminated with exit code: 127
Terminal will be reused by tasks, press any key to close it.

Env details
-------------
vscode details :
=============
Version: 1.42.0
Commit: ae08d5460b5a45169385ff3fd44208f431992451
Date: 2020-02-06T10:51:33.119Z
Electron: 6.1.6
Chrome:

[2020-02-13 20:38] amararam opened #1489 "Azure functions"
We recommend you add feature requests to [UserVoice](https://feedback.azure.com/forums/355860-azure-functions).  This enables centralized feature requests and users the ability to vote.

if we  grant  the  read  access to azure functions it is  not supporting for azure functions.
could you please provide the solutions .

[2020-02-13 20:38] amararam commented on #1489
ok

[2020-02-13 20:46] amararam commented on #71
The RBAC reader role is not suporting for azure functions   could you please provide the solutions how to work   RBAC reader role  for azure function

[2020-02-14 00:36] upxact opened #1490 "System.Data.Client version issue"
I have deployed an azure function that updates an azure SQL DB. This used to work fine

Now I am getting the following exception:

Type A originates from 'System.Data.SqlClient, Version=4.5.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' in the context 'Default'
at location 'D:\home\site\wwwroot\bin\runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll'.
Type B originates from 'System.Da

[2020-02-14 00:55] curelom commented on #1490
System.data is incompatible with azure functions 3.  Use Microsoft.data.sqlclient instead

[2020-02-14 08:18] jschwellnus92 commented on #464
Wow what a joke this is. A Function app requires a storage account to operate, yet that storage account cannot be locked down unless you run your Function in an ASE ($$$).

[2020-02-14 14:17] sandeepnmenon commented on #1130
+1
Getting the same issue in Azure function v2
netcoreapp2.2

[code]

[2020-02-14 19:57] mhoeger commented on #431
@iyerusad - tbh I love these types of questions :) As a disclaimer, I would take everything I say with a grain of salt and that they're my opinions on what makes sense. I've heard (and agree) that code clarity is what's most important (over fancy things), so please take things that add clarity and leave things that don't!

One approach to the "redundant" error handling is to make a helper method l

[2020-02-15 08:07] Sandeep321 commented on #1130
If its in your local system, please try my solution above.
If its in portal, please make sure that you have azure function set correctly with FUNCTIONS_EXTENSION_VERSION.
Please check https://docs.microsoft.com/en-us/azure/azure-functions/set-runtime-version for more.

[2020-02-16 00:31] anthonychu commented on #449
Adding P1 label to get it into next sprint. CLI issues tracking this work:
https://github.com/Azure/azure-cli/issues/2999
https://github.com/Azure/azure-cli/issues/4041

[2020-02-16 08:24] helgeu commented on #1410
@soninaren any progress in confirming the problem? or solution?

[2020-02-16 18:30] grahambunce commented on #717
Frankly (and yes this is a rant that doesn't help at all but it get it off my chests).... which pinhead decided that Azure Functions should break YEARS worth of learned behaviour of how appsettings and configuration settings are separated and then put them into a single "values" list UNLESS its for SQL Server/EF/Similar??

I suggest somebody reads this: https://en.wikipedia.org/wiki/Principle_of_l

[2020-02-16 21:57] jwisener commented on #717
As long as it can be made to work consistently across all .net core type projects. As stated before, we use them because this was ms recommended approach.  It’s a pain right now that azure functions and .net core api/web treat appsettings so differently. It’s a pain when a customers try to use components they’ve already written that uses the appsettings.config model from .net core in azure functio

[2020-02-17 11:04] liben-y commented on #393
Finally got this to work. It was related to the post @ds27680 mentioned earlier.

[2020-02-18 13:17] allan-mobley-jr commented on #1439
Wow, you would think that someone on the team would have at least made an effort to offer feedback since we are talking about saving a customer money here.

[2020-02-18 15:46] brettsam commented on #1410
@helgeu -- I don't believe we ever supported defining your own function.json and copying it yourself unless you were using C# script (as opposed to precompiled). I don't recall that this was ever supported via VS and I don't think you'd use the Microsoft.NET.Sdk.Functions package in this case. Do you have a pointer to the docs on this? Maybe it'd make it clearer what approach you're looking at.

I

[2020-02-18 17:34] helgeu commented on #1410
Thx for your response!

The point here I am trying to make is that I have been doing this for several years. And; No, I did **not** copy the files my self in earlier versions.

This works excellent and the example project I have put up would work just as described if downgraded to dotnet 2.2, and the project then do copy the function.json as part of the build/publish.

Looking at the documentation

[2020-02-18 20:05] CodeRevver commented on #771
This could be great for using with Blazor.

[2020-02-19 02:51] unnhao commented on #1130
I have some problem, it works!

[2020-02-19 09:42] jjgriff93 commented on #1486
I have also tested the same code deployed to a Linux App Service Plan host (Basic tier) and this has resolved the 503 errors so it indeed appears that the issue is localised to the Linux consumption plan host

[2020-02-19 10:35] BernhardHuberPlanBGmbH commented on #1441
Hello,

we also get nearly the same issue after upgrading to .NET Core 3.1 within our .NET Core MVC project.

![Unbenannt](https://user-images.githubusercontent.com/58170799/74826269-95ba9480-530b-11ea-845d-e207dec02fc1.PNG)

Kind regards
Bernhard Huber

[2020-02-19 20:23] gzuber commented on #1447
PR has been merged

[2020-02-19 20:23] #1447 closed

[2020-02-19 20:23] gzuber commented on #1448
PR has been merged.

[2020-02-19 20:23] #1448 closed

[2020-02-19 20:29] bestcoder commented on #1370
FWIW, I tried the 3.03 package in my azure function project that is getting the error and there was no change. The error still occurs. I also tried the Microsoft.NET.Sdk.Functions.3.0.4 package and the error still occurs with that. My project is targeting '.NETFramework,Version=v4.8'

[2020-02-19 22:41] TianyuHou opened #1491 "Azure Function App Consumption plan doesn't get triggered with Service Bus Queue Message"
Use this repo to file issues in documentation or the Functions Visual Studio tooling.

If you need technical help, you'll get the fastest response on the forums (https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=AzureFunctions) or Stack Overflow: http://stackoverflow.com/questions/tagged/azure-functions. The entire engineering team monitors those forums.

- For documentation issues,

[2020-02-19 23:51] gzuber opened #1492 "Update Linux Dedicated and consumption create flow to set linuxFxVersion to runtime|runtimeVersion"
Mirror issue for Azure CLI https://github.com/Azure/azure-cli/issues/11257

[2020-02-20 07:04] sandeepnmenon commented on #1130
@unnhao is right
There was an issue were giving an empty host.json would add some default extension bundles in the azure function, causing it to fail loading.
On removing the same, it seems to work.
That is why, providing a non-empty host.json resolved the issue

[2020-02-20 11:00] helgeu commented on #1410
@brettsam did i manage to clarify? any progress on this issue? anything else i could do to make it clearer?

thx in advance.

[2020-02-20 11:15] Planche95 opened #1493 "NJsonSchema "The System.IO.File API is not available on this platform." on Azure Function with runtime v2.0.12998"
Recently Azure updated version of Azure Functions to v2.0.12998, and since then I'm getting "The System.IO.File API is not available on this platform." from NJsonSchema.

Link to NJsonSchema class that trows the exception: https://github.com/RicoSuter/NJsonSchema/blob/master/src/NJsonSchema/Infrastructure/DynamicApis.cs

Can u give me some ideas about what happened in the new version, that breaks

[2020-02-20 13:02] BenjaBobs commented on #1401
Any update?

[2020-02-20 14:00] brettsam commented on #1410
You're right -- there's no reason you can't directly reference a dll entry point with your function.json. The VS tooling is set up to work off of attributes and auto-generate this for you, but nothing stops you from doing it yourself.

I took your exact project, downgraded it to 2.2 (exact proj file below) -- and it didn't work either. I don't see any `http` folder in my output, so nothing is foun

[2020-02-20 14:15] helgeu commented on #1410
This should do it:

[code]
Changing the above to same version as you for SDK.Functions: 1.0.31 does also work to, and copies files as expected.

so this might be a classical "does (not) works on my machine" problem then?

Im using VS2019 latest version on my side. I do have a lot of different SDKs installed etc. Any other info you might need?

From dotnet --info
[code]

[2020-02-20 14:27] brettsam commented on #1410
I think there's some weirdness with caching targets in VS so I dropped down to running `dotnet build` on the project a few times. If I focus on v2 only -- something breaks between 1.0.27 and 1.0.31 (I'll narrow it down). Can you confirm the same? Basically:

1. Set `Microsoft.Net.Sdk.Functions` to `1.0.27`, save.
2. From cmd prompt, run `dotnet build`
3. See if the http\function.json file is copie

[2020-02-20 15:10] brettsam commented on #1410
Okay I think I know the issue. https://github.com/Azure/azure-functions-vs-build-sdk/commit/101e4ced4fa5d489883a45bf28821df42064dd65#diff-735fb791a91a29461eb9dc138f6051a8.

We added a new command line argument, but didn't adjust the parsing of `excludedFunctionNames` to account (it should be looking at index 3 now). So when we clean the output path, it removes that folder (https://github.com/Azure

[2020-02-20 16:42] helgeu commented on #1410
@brettsam there was a reason I choose 1.0.27. I think 1.0.28&29 also should work. But then the problems started. Not these file-thingy problem but a few others. 1.0.31 did not work well for us. Mind that we are almost only F# on this codebase where we had these problems, even though the problem in this issue is recreateable in C# too.

Anyhow, thanx for your patience and helpfulness! Very much app

[2020-02-20 22:25] fabiocav commented on #1130
Indeed. Can you please confirm that the mitigation above addressed the problem? The latest version also has a fix to address this scenario.

[2020-02-21 03:02] sandeepnmenon commented on #1130
@fabiocav Yes, by re-deploying the function app with providing { "version": "2.0" } resolved the issue.
Can you please elaborate on "The latest version also has a fix to address this scenario."
Is it the latest version of the extension bundle, the function app or something else?

[2020-02-21 07:30] Planche95 commented on #1493
https://github.com/Azure/azure-functions-host/issues/5681

[2020-02-21 07:30] #1493 closed

[2020-02-21 08:29] iyerusad commented on #431
@mhoeger

Got a chance to dig into this today. Very much appreciate the pointers and insight. No obligation to reply, below is my findings/musings. Thank you.

1. **Error handling as a function:** Implemented! Something that used before but I had initially skipped over for AZfunction ("You ain't gonna need it" mindset) but using it again reminded of its nice quality of life enhancement:
[code]
I a

[2020-02-21 16:02] briandunnington commented on #1004
@jcbrooks92 Understood that this is currently how it works. I think this issue is more of a feature request to change the behavior so that it is possible to deploy the Event Grid subscription at the same time (in the same ARM template) as the Function app.

[2020-02-21 18:10] paulbatum commented on #1004
What if the ARM template configured the function app to use run-from-package via an appsetting, pointing at a blob. That way the content including the eventgrid extension would already be present. Anyone had a chance to this?

[2020-02-21 18:45] jcbrooks92 commented on #1004
@paulbatum I've tested this out in my example template. As long as the correct dependency flow is setup (Eventgrid dependsOn function app), I believe it should deploy in time. Granted I've only used a very simple function with one eventgrid trigger.

https://github.com/jcbrooks92/EventGridAzureFunctionARMTemplate/blob/194a3c7fabcc7ef85ebcb9d4288a9653adda8846/azuredeploy.json#L173

[2020-02-22 00:00] gzuber commented on #1492
PR Here: https://github.com/Azure/azure-cli/pull/12317

[2020-02-22 00:02] gzuber opened #1494 "Improve error on deployment when invalid Resource Group/Function name provided"
Mirror issue for https://github.com/Azure/azure-cli/issues/11893

[2020-02-22 09:51] daunish commented on #1370
I am still seeing this issue also. I am migrating from Core 2.2 to Core 3.1
I've upgraded all packages to the latest - the functions sdk is a 3.0.3
I set the functions runtime to v3 in my csproj file
The project is targeting .NETStandard 2.1

I see this when I try to execute a function:

`2020-02-22T09:47:30.676 [Error] Executed '<FUNCTION-NAME>' (Failed, Id=2423fc5a-397a-44f6-a6d2-9b6e2636ce1e)
M

[2020-02-22 23:36] daunish commented on #1370
I was able to get this working by downgrading the functions sdk to 3.0.2 (which is odd considering the fix was supposed to go to into 3.0.3)
And I changed the target to `netcoreapp3.0` - when I tried `netcoreapp3.1` it did not work.

[2020-02-23 14:28] vbrodsky opened #1495 "Exception 'The 'Id' property of a CosmosDB single-item input binding cannot be null or empty.' when trying to post to Azure / Cosmos DB"
I am using python 3.7 / v2 function run-time and I have build a simple REST resource that uses an Azure function to create / update / read a simple document in CosmosDB. This resource supports a POST without an uuid to create a new document, POST with a uuid to update an existing document and GET with a UUID to retrieve a document.
functions.json:
[code]

python function declaration:
[code]

All w

[2020-02-24 04:02] jab054 commented on #1194
I tried using the PowerShell commands:
Select-AzureRmSubscription -SubscriptionId [id]
 Set-AzureRmWebApp -Name "myFunction" -ResourceGroupName "myPremiumResourse" -AppServicePlan "myPremiumPlan"
and receive this error:
Set-AzWebApp: Operation returned an invalid status code 'Conflict'

I first tried to add a new function to my existing resource group as a Premium Plan, but that failed.  I then cr

[2020-02-24 15:24] GeertVL commented on #1484
You need to do this instead:

[code]

[2020-02-24 15:59] brettsam commented on #1410
Actually moving this to the next sprint (I had assigned to the *current* sprint earlier).

[2020-02-25 00:00] gzuber opened #1496 "[CLI] Remove dotnet version from help menu and add warning if user tries to specify runtime_version for dotnet"
dotnet version is not configurable, so it shouldn't be presented as an option. We should also warn any users if they specify a `runtime_version` for dotnet that it's not configurable.

[2020-02-25 00:07] JK87iab opened #1497 "Azure queue trigger function on AKS not starting"
Hi,
deploying azure functions to AKS. HTTP Trigger works fine. Local testing of my queue trigger works fine too.

Once deployed I see 0 pods created and messages are stuck in the queue

[code]

My deployment file.
[code]

Any other way to debug why no pods are getting created? Using an acr + a secret I created

[2020-02-25 08:31] mjisaak commented on #1424
I randomly face the same issue. Any Idea?

[2020-02-25 13:57] faerols opened #1498 "Python round work in different way than in my desktop"
Trying to round following vector:

pred=[0.233157992, 0.07856474, 0.0551387779, 0.05095742]

`pred=[round(num*100, 1) for num in pred]`

Desktop output:

`pred=[23.3, 7.9, 5.5, 5.1]`

Azure function output:

`pred=[23300000.0,79000.0,550.0,5.1]`

Could it be due to different Python version?

[2020-02-26 02:38] dariagrigoriu opened #1499 "Evaluate end to end latency in reporting SLA metrics"
Evaluate end to end latency across the pipeline for reporting SLA metrics.

[2020-02-26 13:08] wjdavis5 opened #1500 "Startup Failures are swallowed"
We have an Azure Function 2.x running on consumption with FrontDoor in ... front.
So it looks like this.

[code]

We have Azure Monitor configured to send us an Alert anytime Response code 5xx is thrown on the azure function.

 - Since putting Front Door in place, we have been getting 5xx alerts several times a day.
 - These 5xx are not making into Application Insights.
 - Nothing in Log analytics

[2020-02-26 14:31] TiagoCastilhos commented on #1295
Hi!
Try to run the command "func extensions install" in your terminal

[2020-02-26 19:17] dariagrigoriudemo opened #1501 "ARM API to encapsulate publishing logic across hosting plans"
Maintain ARM API for publishing to encapsulate publishing logic across hosting plans and provide consistency for client experiences.

[2020-02-26 23:18] gzuber opened #1502 "[CLI] Azure CLI needs to set "javaVersion" config when creating java function app"

[2020-02-26 23:24] gzuber opened #1503 "[CLI] Azure CLI needs to use Stacks API configuration templates for new functions apps"
This is something that should be available in ANT87.

We now have an API where we can get a JSON that contains configuration info for new functions apps. We need to use this to validate/configure apps in `az functionapp create`

[2020-02-26 23:47] gzuber commented on #1503
cc @pragnagopa -- I don't think we had made a tracking issue for CLI yet

[2020-02-27 03:47] euvin3582 commented on #1130
Still happening to me.

<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup>
    <TargetFramework>netcoreapp2.2</TargetFramework>
    <AzureFunctionsVersion>v2</AzureFunctionsVersion>
  </PropertyGroup>
  <ItemGroup>
    <PackageReference Include="Microsoft.Azure.Functions.Extensions" Version="1.0.0" />
    <PackageReference Include="Microsoft.Azure.WebJobs.Extensions.DurableTask" Version="2.1.1" /

[2020-02-27 04:13] qcnguyen opened #1505 "[Premium] Is pre-warm instance free ?"
hi team, please help me to estimate cost when moving to azure function premium plan.
I have an scenario that need you help to answer, so I can understand more about billing mechanism:
- if I setup 1 instance at minimum scale setting, and 1 prewarm instance. let's say my app don't have much consumer, so it doesn't need to scale out. So if that the case, how much do I pay for 1 month, 1 instance, or

[2020-02-27 14:21] omiossec opened #1506 "[UX] - incorrect file content in App Files"
# Issue Title
[UX] - incorrect file content in App Files
## Description

Browsing file in the App Files menu don't work with certain file Type
It the function app contain a file named extensions.csproj nothing happen

- Include Screenshots if possible
   - make sure to include the whole browser window we need to so see the issue in context.
![image](https://user-images.githubusercontent.com/140430

[2020-02-27 16:47] lb5tr opened #1507 "WEBSITES_ENABLE_APP_SERVICE_STORAGE is overriding AzureWebJobsScriptRoot variable"
I have a scenario when I need a fair chunk of local disk storage (~40GB per function call) to extract and convert certain data from one system and pass it to the other.

I need to use docker images as I'm bringing various tools with my code.

Docker generally caps out at 10GB of internal container storage so I need to use external volumes.

From what I understand `WEBSITES_ENABLE_APP_SERVICE_STORA

[2020-02-27 18:09] btardif commented on #1506
@takyyon can you take a look?

The expectation here is that if a file shows up in the dropdown it should render in the code editor.

not sure why we got a 404 on that one.

[2020-02-27 18:44] alexkarcher-msft commented on #1194
We are in the process of rolling out the change to enable co-mingled plan types. It's about 20% rolled out at the moment. There is no particular region that is fully enabled, but expect these issues to get less and less common over the next ~6 months of our deployment.

[2020-02-27 19:02] alexkarcher-msft commented on #1505
Hi @qcnguyen ,

Good question!

Short answer is yes, your min instance will be used to pre-warm your site, and you'll pay for 1 instance running 24x7 while idle.

Think of your pre-warmed count like a buffer above your site's required number of workers. So, when you're in the idle state your site requires 0 workers, but you keep one pre-warmed 24/7.

Your minimum worker count is held at a plan lev

[2020-02-27 19:02] #1505 closed

[2020-02-27 20:12] takyyon commented on #1506
Looking into this.

[2020-02-27 20:19] gzuber commented on #1494
Closed by https://github.com/Azure/azure-cli/pull/12318

[2020-02-27 20:19] #1494 closed

[2020-02-27 22:48] PleaseStopAsking commented on #1395
Am hitting the same error.

[2020-02-28 01:11] BrandonHopcraft opened #1508 "Linux Consumption returns 500 after WEBSITE_RUN_FROM_PACKAGE change and ARM sync trigger"
### Information
AppType: Linux Consumption Node12 (v3)
AppName: f8f1ecd2-ac94-4f2f-948c-93d0a58f50b2
PreciseTimeStamp >= datetime(2020-02-28T00:20:56.7404677Z) - 5m
PreciseTimeStamp <= datetime(2020-02-28T00:20:56.7404677Z) + 5m

### Issues
After creating the app, updating the package URI to WEBSITE_RUN_FROM_PACKAGE, and calling the  ARM api `subscriptions/{subscriptionId}/resourceGroups/{resource

[2020-02-28 18:05] anthonychu opened #1509 "[azure-cli] Support --remote flag when deploying function app to Windows"
https://github.com/Azure/azure-cli/issues/12289

Run kudu build when deploying to Windows.

// @ankitkumarr

[2020-02-28 19:45] aschuhardt commented on #1257
@amervitz Did you ever find a solution for this issue?  Currently blocked by it myself.

[2020-02-28 20:34] amervitz commented on #1257
@aschuhardt Unfortunately I did not find a solution for this specific error. It's hard to remember due to the passage of time but I think we came up with a workaround for local development, possibly using a hacky assembly version redirection technique or had a seperate code path used just for local development.

[2020-02-28 21:31] aschuhardt commented on #1257
@amervitz Thanks for responding.  Disappointing to hear.

[2020-02-29 00:21] jeffhollan commented on #947
FYI we have a design proposal out now if you want to review: https://github.com/jeffhollan/retry-design

[2020-02-29 06:08] KaiWalter commented on #1194
@alexkarcher-msft is there a way for me to determine, whether the roll out touched my subscription or resource group?

[2020-02-29 06:22] sandeepnmenon commented on #1130
@euvin3582
What does your host.json look like?

[2020-02-29 13:20] jab054 commented on #1194
I ended up backing up all my settings and keys.  Deleted my existing function apps and recreated them into a new resource group.  They seem to be working now, but it was a painstaking process which could have caused a major disruption as we have a mobile app and web app depending on those apps.

[2020-02-29 20:07] MarkXA opened #1510 "[UX] - Integration pane shows trigger as output"
When navigating to the Integration pane of a function in the new portal UX, triggers are being listed in the outputs box.

Screenshot and network trace are attached.

[Functions UX issue.zip](https://github.com/Azure/Azure-Functions/files/4270897/Functions.UX.issue.zip)

[2020-03-01 22:08] BrianRosamilia commented on #1396
This is possible with something like this @wpitallo

https://github.com/BrianRosamilia/azure-function-log-intercept/blob/master/index.js

If you're feeling adventurous you can try out the npm package I made to fix this https://www.npmjs.com/package/azure-function-log-intercept

It was frustrating my team as well.

[2020-03-02 03:56] erwinsalubre opened #1511 "The function runtime is unable to start. Microsoft.Azure.WebJobs.Script: Did not find functions with language [python]."
I have created a Python Queue Trigger function that runs successful locally but a bit finicky when deployed through VS code.  It runs initially then sometimes lost its grip and breaks.

I created a deployment for the function using terraform over Gitlab with the code below.

[code]
The function gets deployed and I am able to see the codes in read-only mode but getting the error below and the funct

[2020-03-02 16:22] brandonh-msft commented on #1400
Function code is not infra; Terraform isn't built to help you here. Rather, you must do like most DevOps pipelines do and deploy the infra, then use the code platform's method to deploy the code - in separate operations.

In this way, the fact that your code is java matters not; Terraform simply sets up the Azure resources that _hold_ your code. You can see how to do this in Terraform here:

https

[2020-03-02 18:03] takyyon commented on #1506
We are getting `extensions.csproj` in the list of files in the folder, but for some reason while fetching the content it returns 404. @btardif Can we transfer this bug to the api team please?

Also, 404 is occurring only for `.csproj` file type

[2020-03-02 18:30] btardif commented on #1506
hey @mathewc can you take a look? I believe @takyyon already gave you context on this one.

[2020-03-02 18:31] btardif commented on #1510
Thanks for the bug @MarkXA

@ammanifold can you take a look?

[2020-03-02 20:30] ammanifold commented on #1510
Thanks @MarkXA and @btardif

@refortie can you help take a look?

[2020-03-02 20:50] refortie commented on #1510
The binding in question is missing the required direction property. If you add the "in" direction it will be displayed correctly. I've added a bug to handle this situation more gracefully

[2020-03-02 22:17] mhoeger commented on #1074
@balag0 - I think this should be closed (based on https://github.com/Azure/azure-functions-host/issues/4889), but wondering if we're still waiting on configuring CORS through host.json? (https://github.com/Azure/azure-functions-host/issues/4911)

[2020-03-02 22:18] balag0 commented on #1074
Yes. this should be closed. Thanks

[2020-03-02 22:18] #1074 closed

[2020-03-03 12:03] estensen commented on #1177
This is still an issue! I spent quite a long time banding my head against the wall because the Cosmos bindings would not work. The F# template should generate correct config!

[2020-03-03 20:51] acd-hfi commented on #1277
This is still a problem.  The headers seem be set, however, if you remove all CORS origins from the portal.

[2020-03-03 21:59] amtandon opened #1512 "Azure function runtime v3"
Is the Azure function runtime v3 supported in a Linux container?

[2020-03-03 23:11] alexkarcher-msft commented on #1512
Yes!

[2020-03-03 23:11] #1512 closed

[2020-03-04 03:21] sergiosolorzano opened #1513 "Azure Functions at portal: Unable to load DLL 'sni.dll' or one of its dependencies:"
Trying to run Azure function from portal with above error. I've documented error at stackoverflow: https://stackoverflow.com/questions/60518486/azure-functions-unable-to-load-dll-sni-dll-or-one-of-its-dependencies-the-sp
Help really appreciated, thank you

[2020-03-04 05:39] anthonychu opened #1514 "[azure-cli] stop using `reservedInstanceCount` and use `preWarmedInstanceCount`"
https://github.com/Azure/azure-cli/issues/11752

SDK changes required have been released. This item is now unblocked.

[2020-03-04 05:42] anthonychu opened #1515 "[azure-cli] Add support for az functionapp auth"
Refer to https://github.com/Azure/azure-cli/issues/11998

[2020-03-04 12:09] sudheeshix commented on #1130
I was able to fix this issue by installing the NuGet package
Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator

[2020-03-04 12:11] sudheeshix commented on #1130
Seems related to [this issue](https://github.com/Azure/azure-functions-vs-build-sdk/issues/311)

[2020-03-04 20:04] riangiddings opened #1516 "RBAC Permission: microsoft.web/sites/hostruntime/host/_master cant be added to Custom Role"
When I attempt to create a custom role for a subscription that contains a grouped and deployed Azure Function App resource, upon adding the microsoft.web/sites/hostruntime/host/_master permission to the Custom Role JSON object, I am met with the following error:

![image](https://user-images.githubusercontent.com/12454860/75917917-c7158300-5e28-11ea-8152-b159b080d80d.png)

I am wondering if this i

[2020-03-04 20:32] gzuber commented on #1492
Resolved by Azure/azure-cli#12317

[2020-03-04 20:32] #1492 closed

[2020-03-04 22:54] thdotnet commented on #1484
The suggested approach also doesn't work. The application compiles, but logs are not being send to console / portal console.

[2020-03-04 22:58] jeffhollan commented on #1484
`ILogger` is indeed not a valid injections.  `ILogger<T>` does work and creates a filter of type `T`.  However you need to manually add the ability to listen to custom filters (in this case your class) for them to show up.  you can do that in host.json.  Here's a sample.

https://github.com/jeffhollan/functions-csharp-custom-ilogger

[2020-03-04 23:05] mathewc commented on #1506
Guys - I recommend you create an issue in the functions runtime repo https://github.com/Azure/azure-functions-host/issues for this so it can be triaged and assigned out.

[2020-03-04 23:09] jeffhollan commented on #1484
Updated docs to include info here https://github.com/MicrosoftDocs/azure-docs-pr/pull/106559

[2020-03-04 23:09] #1484 closed

[2020-03-04 23:49] takyyon commented on #1506
Created an issue on the repo mentioned - https://github.com/Azure/azure-functions-host/issues/5744

[2020-03-05 10:38] IanKemp commented on #155
Come on Microsoft...

When will this basic functionality be added...

Will it be sometime this millennium?

[2020-03-05 11:43] IanKemp commented on #155
When you create a support ticket in Azure about moving a function app, it actually links to this GitHub issue.

I created a ticket anyway because if Microsoft is happy to waste my time by not fixing this issue for **THREE WHOLE YEARS**, I'm happy to waste their time. And will keep submitting a new ticket every time I have this issue and it's not fixed.

Pull your finger out, Microsoft.

[2020-03-05 14:46] Arash-Sabet opened #1517 "Receiving System.IdentityModel.Tokens.Jwt, Version=5.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35 exception after upgrading nuget packages"
We have had an Azure Function that has a reference to another C# project within the same VS 2019 solution. There are some extension methods in the other project leveraging System.IdentityModel.Tokens.Jwt Version=5.6.0.0 assembly to perform token validation. This function has been working fine till yesterday with the following nuget packages:

[code]
We upgraded the nuget packages in the azure func

[2020-03-06 10:00] StefH opened #1518 "Unable to start V3 Azure Function : Could not load file or assembly"
# Function csproj:
[code]

# Azure Function portal settings:
![image](https://user-images.githubusercontent.com/249938/76073328-bafd0300-5f99-11ea-8ea9-0feea2999f3a.png)

Unable to start Azure Function, error message in Azure Portal is:

# Notes
Note that this is Azure Function is running on a Linux App Service plan.

[2020-03-06 15:08] heinrich-ulbricht commented on #128
I stumbled across this thread trying to find the difference between [Azure Functions](https://azure.microsoft.com/en-us/services/functions/)+[Functions Proxies](https://docs.microsoft.com/en-us/azure/azure-functions/functions-proxies) (which seem to be marketed for building larger APIs) and [API Apps](https://azure.microsoft.com/en-us/services/app-service/api/).

After reading the discussion I'm n

[2020-03-06 17:54] jeffhollan commented on #155
Details on progress in this comment https://github.com/Azure/Azure-Functions/issues/1194#issuecomment-580416039

[2020-03-06 18:12] stephlocke commented on #155
On that issue, it's unclear whether that supports state/history migration when you change plans. I had the situation where my function had already processed millions of blobs and I wouldn't want the change in plan to cause all those blobs to get re-processed.

[2020-03-06 18:13] ms-v-csacha commented on #1031
@asavaritayal Can you provide any updates on this issue?

[2020-03-06 18:14] jeffhollan commented on #155
The state for functions is stored in `AzureWebJobsStorage` - so assuming you keep the same `AzureWebJobsStorage` azure storage account (which I would recommend), it should preserve things like checkpoints.

[2020-03-06 18:17] stephlocke commented on #155
So my point 5 on the original issue was right? Just point at the same storage and easy peasy? 😱

[2020-03-06 22:30] ggondim commented on #1127
We've been experiencing the same error, but using another resource, **Azure Functions Proxies**.

I'm sure this error is related to connections limits. In our case, Functions Proxies pointing to static SPA's cause many HTTP requests, specially when published over the Internet (spiders and crawlers make even more requests). When proxies are active, they make a lot of TCP connections for forwarding

[2020-03-08 11:24] StefH commented on #1518
![image](https://user-images.githubusercontent.com/249938/76161872-b79f7e00-6137-11ea-8ba3-f6aafca6f048.png)

Example project:
https://github.com/StefH/AzureFunctionsV3

[2020-03-09 08:31] tewleap commented on #1518
I am having the same issue, haven't found a solution yet.

[2020-03-09 09:36] PatrickFroberg opened #1519 "2x applications insights configuration settings added."
Hey

When deploying a new azure function on azure I get 2x applications insights configuration settings added? It used just to be one and the values are almost the same, it looks alot like something new and old is used at the same time :)

Enable Application Insights:
![image](https://user-images.githubusercontent.com/14177527/76200125-5cca5d00-61f1-11ea-947f-2f1d7f482fe8.png)

The double configur

[2020-03-09 21:06] vijayrkn opened #1520 "if add .ConfigureAwait(true) to the back of CallActivityAsync method, it was normal. But if add ‘.ConfigureAwait(false)’ to the back of ‘CallActivityAsync()' method, it will throw a exception like this:"
Creating the bug on behalf of the Visual Studio customer.

Bug details can be found here : https://developercommunity.visualstudio.com/content/problem/933177/configureawaitfalse.html

if add .ConfigureAwait(true) to the back of CallActivityAsync method, it was normal.
But if add ‘.ConfigureAwait(false)’ to the back of ‘CallActivityAsync()' method, it will throw a exception
like this:
[2020/2/28 0:

[2020-03-10 07:01] cjjohansen commented on #865
I Get similar error : Could not load file or assembly 'Microsoft.Extensions.Configuration.Abstractions, Version=3.1.2.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'. The system cannot find the file specified. System.Private.CoreLib: Could not load the specified file.

All my nuget package references points to the same version 3.1.2.0

In my case it works locally but not on Azure

im using Mi

[2020-03-10 20:37] vijayrkn opened #1521 "Create Azure Functions v2 (.NET Core) with Http trigger, there is a warning "Microsoft.Azure.WebJobs.Extensions 3.0.5 depends on Microsoft.Azure.WebJobs.Host.Storage (>= 3.0.11) but Microsoft.Azure.WebJobs.Host.Storage 3.0.11 was not found"."
1. File > New Project > Azure Functions >Azure Functions v2 (.NET Core) ~ Http trigger ~Browse to an existing storage account > Create
2. Verify Error List, there is a warning shows up.

Note: It doesn't repro with Azure Functions v1 and v3 projects.

ACTUAL:

![image](https://user-images.githubusercontent.com/3981619/76357055-329d9b80-62d4-11ea-96be-0424d559c957.png)

NU1603: Microsoft.Azure.WebJ

[2020-03-10 20:46] MarkXA commented on #1510
FYI that one was actually generated by a Functions v1 C# TimerTrigger attribute, so it's the tooling that left out the direction.

[2020-03-11 03:35] jack0fshad0ws commented on #345
2 years later and no solution?

[2020-03-11 12:17] IshamMohamed commented on #345
as suggested by @tjrobinson you can use dependency injection

[2020-03-11 13:11] vbondaryuk opened #1522 "HttpTrigger returns 0 result code."
We have a function which called from the ADF pipelines by http, it works correctly, but from time to time, function **returns code 0** and our pipeline failed with exception:

But from Function -> Monitor and AppInsight we can see, that function finished successfully
![image](https://user-images.githubusercontent.com/5966463/76418564-e6c02480-63af-11ea-98f1-9ae777c70374.png)

![image](https://user

[2020-03-11 16:21] tjrobinson commented on #345
This is quite an old issue and I suspect it's no longer a problem in Azure Functions 3. You might also like to try FunctionMonkey which sits on top of Azure Functions: https://functionmonkey.azurefromthetrenches.com/guides/serviceBus/topics.html

[2020-03-11 17:32] loomchild commented on #523
Does the setting work for Consumption Plan or not? (it's not clear from the discussion, I find contradictory information in the docs and on the web)

[2020-03-11 17:47] btardif commented on #1510
@fabiocav looks like there might be a bug in functions V1 tooling as called out by @MarkXA  where the direction of the binding is not being included. Who can take a look at that?

[2020-03-11 17:49] btardif commented on #1510
@MarkXA we have a UX fix that will provide a warning when a binding is missing direction.

@refortie can you attach a screenshot of the proposed solution. I think we can close this out with that.

[2020-03-11 17:50] btardif commented on #1506
@takyyon I think this issues can be closed given we have underlying fix coming from runtime.

[2020-03-11 18:49] refortie commented on #1510
![image](https://user-images.githubusercontent.com/37600290/76452444-60dfb180-638e-11ea-909b-99035b598563.png)

[2020-03-11 18:49] #1510 closed

[2020-03-11 19:46] chetanmotamarri commented on #155
This solution is not working. I tried to change from Consumption plan to App service Premium plan. It worked for a day or two, after that my azure function got reverted back to original consumption plan.

[2020-03-11 23:37] anthonychu opened #1523 "[azure-cli] Do not configure Windows-specific settings on other platforms"
https://github.com/Azure/azure-cli/issues/12430
https://github.com/Azure/azure-cli/issues/12429

[2020-03-12 05:56] anthonychu opened #1524 "[azure-cli] Creating a function app creates AzureWebJobsDashboard setting"
Don't need to set this anymore in most cases because App Insights is enabled.

[2020-03-12 19:21] ramondeklein opened #1525 "Unable to load assembly after upgrading Microsoft.NET.Sdk.Functions to v1.0.33+"
I have created an Azure Functions project using .NET Core v2 and attempted to migrate it to Azure Functions v3. After upgrading it complains that it cannot find `Microsoft.Data.Edm, Version=5.8.4.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35` anymore. When I look in the bin folder of my v2.1 version, then this file is copied to that location. My v3.1 version lacks a lot of files, including `

[2020-03-12 20:06] ramondeklein commented on #1525
It is possible to make it work with v1.0.33 by patching the `build\ExtensionsMetadataGeneratorVersion.props` (directly in the .nuget cache folder). When the following line:
[code]
is changed to:
[code]
then it works again.

When I check commit https://github.com/Azure/azure-functions-host/commit/1ed2a54159eb3c9aaff11a9289be2bf1ce91dcb5, then it seems that a "feature" has been added (by @fabiocav)

[2020-03-12 20:23] chetanmotamarri opened #1526 "httpclient ObjectDisposedException Cannot access a disposed object SslStream"
I'm getting this ObjectDisposedException when I did Post request from Azure function. I see this issue both real azure function environment and in function local debug as well. I believe this is happening due to large response body from the target service. But not sure though.

Below is the code and detailed error message. I get this error in the line "await httpClient.SendAsync(requestMessage).Co

[2020-03-13 07:14] ramondeklein commented on #1525
It seems that the `RemoveRuntimeDependencies` task removes this assemblies ([source](https://github.com/Azure/azure-functions-host/commit/1ed2a54159eb3c9aaff11a9289be2bf1ce91dcb5#diff-8924132f0d2b330a1888e0f17c5fcdb4R27)). It doesn't run when the `_FunctionsSkipCleanOutput` variable is set to `true`. Adding the following line effectively disables this task and makes it work for 1.0.33 and later to

[2020-03-13 16:44] vefae opened #1527 "Azure Functions are triggered whenever logged in function app manually instead of time trigger"
Hi there, I have a time triggered Azure Function (Consumption plan). It is scheduled to run every day 5:30 AM ( "0 30 5 * * *")
It used to work OK for sometime, since last three days it stopped following the schedule.
I have a habit of checking the logs every day and I realized that instead of following the timer, it starts running whenever I go to the functions app.
I saw some previous issue with

[2020-03-13 18:54] mhazelwood commented on #1519
@PatrickFroberg You should just use one or the other.

https://docs.microsoft.com/en-us/azure/azure-monitor/app/sdk-connection-string

[2020-03-13 19:15] buchizo opened #1528 "[UX] - wrong graph in Integration menu"
# wrong graph in Integration menu

## Description

Trigger and Output object of graph is wrong in Integration menu.

For example:

- Using EventHubTrigger
    - EventHub doesn't displayed in trigger graph object.
    - But EventHub wrong displayed in output graph object.
- Using HttpTrigger
    - Http (req) doesn't displayed in trigger graph object.

![image](https://user-images.githubusercontent.

[2020-03-13 19:28] btardif commented on #1528
@refortie can you take a look? is this similar to #1510

[2020-03-13 21:41] jadenrogers commented on #1370
@daunish had same issue and is now working on 3.0.5 - netcoreapp3.0

[2020-03-14 00:31] gzuber opened #1529 "[azure-cli] az functionapp create should change LinuxFxVersion for dotnet"
Mirror for https://github.com/Azure/azure-cli/issues/12577

Copying description here:
"For dotnet, the setting needs to be empty, rather than `Dotnet`. Setting it to `Dotnet` is not recommended and will fail to create on Linux Consumption.

We should set it to empty string for all skus for consistency."

[2020-03-14 09:00] jbeeko opened #1530 "[UX] - Unable to test run non-HTTP triggered functions"
# Unable to test run non-HTTP triggered functions

## Description

In the current version of the functions portal it is possible test run functions of all kinds. This is useful in a number of scenarios.

### Utility functions
For example this feature allows for `manualTrigger` functions that can take parameters. We have a suite of these that are used for various system maintenance tasks (in a more

[2020-03-15 00:21] yuanfulou opened #1531 "[UX] - Test run functions is not working"
# Test run functions is not working

## Description
I create a HTTP trigger function for trying preview version user interface. The preview did not show the response for test run the function. It works in the original user interface.

Original
![image](https://user-images.githubusercontent.com/3755714/76692566-a3ff8600-6615-11ea-80c3-30216f7da989.png)

Preview (It's a youtube link since input and

[2020-03-15 11:40] TehWardy commented on #1525
I've had a similar issue which I initially reported https://github.com/dotnet/core/issues/4390 but it was with the roslyn api's I was using in the functions code.

It appears that upgrading azure functions apps is not really an option.
Having now done that and attempted to revert it's all gone horribly wrong.

could this be related to the previous issue I reported about newtonsoft json being uber

[2020-03-15 11:43] TehWardy commented on #1525
explicitly referencing 1.0,34 for me results in this compile time warning ...

[2020-03-15 13:31] ramondeklein commented on #1525
@TehWardy I'm not sure if that's the same issue, but I think it's related that Azure Functions runs .NET Core in-process. The host executable already loads some assemblies and if your app requires different versions, then I guess you're out-of-luck.

If you're targetting .NET Core v3, then you shouldn't reference 1.0.34, but stick with the v3 versions. If you can't do that, then you need to revert

[2020-03-15 14:58] AlexanderRettkowski commented on #1518
I stumbled upon a similar issue and was able to solve it by setting the Microsoft.NET.Sdk.Functions dependency to 3.0.3. You might try that as well.
The issue might be linked to something like this one: https://github.com/Azure/azure-functions-host/issues/5747

[2020-03-15 16:02] StefH commented on #1518
When using version 3.0.3 I get this error:
![image](https://user-images.githubusercontent.com/249938/76705061-91e91a80-66dd-11ea-887d-c4def81a849e.png)

## >>>
Note that I only get an error when running on a **Linux App Service**, when deploying the same code (3.0.3 or 3.0.5) on **Windows App Service**, it works fine.

[2020-03-15 17:09] simonzhow commented on #738
Curious to know if there has been any movement on this since the end of last year? Currently running into a road block implementing subscriptions alongside apollo-server-azure-functions.

[2020-03-16 02:37] sffamily commented on #738
@galvesribeiro @simonzhow @bzbetty , and other developers in this thread, sorry cannot find your contact so ping you here. I'm the Product Manager of Azure SignalR Service, and we have a new internal preview for supporting raw WebSocket in serverless scenarios, thinking you might be interested to try it out and offer us some feedback. If you are interested please ping me at zhshang at microsoft do

[2020-03-16 02:40] galvesribeiro commented on #738
Hello @sffamily thanks for getting back to us!

If you can contact me offline on `gutemberg 4T outlook D0T com`, I can give you the subscription IDs that I would like to test on the private preview.

I've poke @davidfowl few weeks ago about it and was really looking forward to try it out!

Thanks!

[2020-03-16 06:23] vefae commented on #1527
As I suggested in my question, I removed WEBSITE_TIME_ZONE and WEBSITE_USE_PLACEHOLDER app settings and trigger started to work properly. But I lost my local time information. I think there is a bug when you use these two settings.

[2020-03-16 09:44] PatrickFroberg commented on #1519
That's the whole issue i don't set anything other than telling it to use "Application Insights" (I'm using the "Add" function form).
The json is generated by following the form :)
![appinsights](https://user-images.githubusercontent.com/14177527/76743524-0d48db80-6773-11ea-8b0f-62540284ba27.gif)

[2020-03-16 10:09] PatrickFroberg commented on #1519
Here is a gif, had to cut it to remove some values.
Hope it helps explaining my issue :)

![appinsights](https://user-images.githubusercontent.com/14177527/76745578-66663e80-6776-11ea-9843-4a176ebb4767.gif)

[2020-03-16 15:28] AlexanderRettkowski commented on #1518
Have you tried adding the necessary dependencies as PackageReferences manually? AddEnvironmentVariables() relies on

- Microsoft.Extensions.Configuration.EnvironmentVariables
- Microsoft.Extensions.Configuration
- Microsoft.Extensions.Configuration.Abstractions
- Microsoft.Extensions.Primitives

I don't know that much about the runtime environments but I just did a few short experiments and fell u

[2020-03-16 16:15] brettsam commented on #1518
Trying to narrow down the issue -- what if you try using an earlier version of `Microsoft.Extensions.Logging.Console` -- does 3.1.1 work?

@AlexanderRettkowski -- does yours also only reproduce in Linux?

@StefH -- In your screenshot, it says you're using functions version ~3 yet running a v2 host, which seems broken. Is this a Linux Consumption app?

[2020-03-16 16:28] btardif commented on #1531
@takyyon can you please take a look?

[2020-03-16 16:29] btardif commented on #1530
@ehamai we need to take a look a this scenario

[2020-03-16 17:29] StefH commented on #1518
@brettsam I'm nor running on V2 host (at least I think I am not..) Where did you see that I'm running at V2?

I did not yet try 'Microsoft.Extensions.Logging.Console - 3.1.1'

[2020-03-16 19:07] kulkarnisonia16 commented on #1166
This is currently being worked on. Closing, as we are tracking it in the detector board. Thanks!

[2020-03-16 19:07] #1166 closed

[2020-03-16 23:59] spencerwasden commented on #205
I saw context.log not working 2 days ago.  Then I refreshed, and I see context.log, context.log.warn, context.log.err and context.log.warn working.  (please ignore verbose in the screenshot; I guess I don't have it configured https://github.com/Azure/azure-functions-host/issues/1370)  Then it DIDN'T work after that with no configuration changes made!!!  To get this screen shot today I had to refre

[2020-03-17 00:41] spencerwasden opened #1532 "context.log sometimes works, usually doesn't work."
This is a portal issue, and the instructions said:
    "For portal issues, use https://github.com/azure/azure-functions-ux"
...but I wasn't able to add an issue there.

The context.log functions (context.log, context.log.warn, context.log.error and context.log.info) do actually work--they do output text in the "Logs" pane (at least sometimes):

![76808869-a21cfa80-67ae-11ea-8591-43aa8df28f9e](http

[2020-03-17 02:15] gzuber commented on #1502
Mirrored here: https://github.com/Azure/azure-cli/issues/12616

[2020-03-17 06:58] ishepherd commented on #1348
Following up here from offline:

We had serious problems with our first production deployment of Cosmos DB firewalls, due to this issue. Azure Support ticket 120022523000056

It's hard to confirm (as this issue was hard to repro), but we're told the solution is to apply WEBSITE_VNET_ROUTE_ALL=1 to app settings.

@alexkarcher-msft Thanks for mention in docs (https://docs.microsoft.com/en-us/azure/a

[2020-03-17 18:54] refortie commented on #1528
It looks to be exactly the same issue. I can repro it locally. The templates that VS code are using don't appear to have the direction in the bindings that it generates.

[2020-03-17 20:10] brettsam commented on #1518
From your screenshot above -- it appears that you've got `~3` set, yet a v2 runtime is being used.

Is this a Linux Consumption or App Service Plan? + @balag0 / @divyagandhii in case they've seen this in Linux apps.

![image](https://user-images.githubusercontent.com/1089915/76897161-75212400-6850-11ea-9765-1465fbe8634b.png)

[2020-03-17 20:28] mssfang opened #1533 "[Dependency Conflict] Azure Function has a dependency conflict with Azure Core"
**Issue**:
When using **Azure Function** and **Azure Core** simultaneously. It causes a dependency conflict.

`Azure Function` is using `GRPC-netty 1.20.0` which using `netty 4.1.34.Final`  but `Azure Core` is using `netty 4.1.44.Final`. (I am from Azure SDK team, we are going to upgrade to `netty 4.1.45` in the 2020 April release, which is in the first week of April).

Link to Azure SDK issue: ht

[2020-03-17 20:53] joshfree commented on #1533
The impact of this issue is that Java customers using Unified Java SDKs, like App Config,
https://azure.github.io/azure-sdk/releases/2019-11/java.html will run into the issue above.

In the short term, we should update Azure Function and Azure Core dependencies to no longer have conflicting dependencies (which the issue @mssfang filed tracks).  Afterwards, we should come up with a strategy for ali

[2020-03-17 21:09] StefH commented on #1518
I see your point.

A function running on a Windows App Plan, I see this:
![image](https://user-images.githubusercontent.com/249938/76902065-7592dc80-689b-11ea-904e-5c81a91bf90a.png)

A function running on a Linux App Plan, I see indeed this:
![image](https://user-images.githubusercontent.com/249938/76902151-a5da7b00-689b-11ea-9e05-5a28c735c38e.png)

And the docker image which is used has this info

[2020-03-17 22:17] balag0 commented on #1518
@ankitkumarr This app has linux fx version set to DOCKER|microsoft/azure-functions-dotnet-core2.0:2.0
Does Functions extension version override this or do we have update linux fx version to point to 3.0 images

[2020-03-18 01:40] TonyTang1 commented on #1481
@jayserdny , is this exception fixed?

[2020-03-18 16:20] kamyker commented on #1485
Above was tested again in 3,1 it gave a lot better results:
Windows ~550ms
Linux ~150ms

[2020-03-18 17:21] divyagandhii commented on #1518
This is a known issue - https://github.com/Azure/azure-functions-host/issues/5559 . The issue mentions only CLI client and we fixed it there but I think this issue needs to be fixed for portal and other clients as well.

[2020-03-18 19:42] btardif commented on #1528
@fabiocav and @jeffhollan need your input here since this looks like a bug in VSCode the the templates being used there.

CC: @fiveisprime

[2020-03-18 20:17] gzuber commented on #1502
Resolved by https://github.com/Azure/azure-cli/pull/12626

[2020-03-18 20:18] gzuber commented on #1496
Resolved by https://github.com/Azure/azure-cli/pull/12630

[2020-03-18 20:37] fabiocav commented on #1410
This had to be pushed to sprint 72.

[2020-03-18 21:52] dannymyers commented on #1299
This is still an issue even after upgrading to Azure Functions V3. Any updates? It's been open for over 6 months at this point.

[2020-03-19 16:07] fcstring31 commented on #1486
Receiving the same error on a Node app in Linux consumption plan. It was intermittent until today - neither a fresh deploy or app restart are helping now.

[2020-03-19 16:58] kamyker commented on #1307
Any idea how to do it (Zip Deploy) with VS Code deploy? Everytime I publish function WEBSITE_RUN_FROM_PACKAGE changes to url.

Tried VS Studio but linux deployment also doesn't work.

[2020-03-19 18:36] Lybecker commented on #947
@jeffhollan the design proposal does not seem to solve another problem - not this one.

The feature I need, is to be able to re-read the 10 mins latest messages over and over again. So I don't need checkpointing at all. This is possible with the legacy Microsoft.Azure.EventHubs

[2020-03-19 19:32] alpizano opened #1534 "azureFunctionsRun -> "Looking for extension bundle Microsoft.Azure.Functions.ExtensionBundle at (null)""
Hi, I'm on func version 3.0.2106.

I had (3) azure function HTTP triggers than I am trying to test locally, they work for the other developers in my team but not me.

when I run azureFunctionsPackage, it packages correctly. However, when I run azureFunctionsRun, I get an a message:
[code]

Oddly enough, I can get it run by clicking on the hyperlink provided in the error message https://functionscd

[2020-03-19 22:50] #1506 closed

[2020-03-20 05:17] jeffhollan commented on #947
Very interesting.  Likely worth opening another issue for that. I know we have issues around being able to replay (e.g. move checkpoints to some point in time), but being able to do it over-and-over again I’m not sure I’ve heard that one or if the way we are thinking about moving checkpoints would work.

[2020-03-21 16:51] StefH commented on #1518
@brettsam & @balag0 :
I have a feeling that something has changed since the moment I created that Linux App Services based Azure Function (this is called `...v3`).

When using the new UI in Azure Portal, I see this for the old Function with these settings (an error is visible...):
![image](https://user-images.githubusercontent.com/249938/77231368-b55b0c00-6b9a-11ea-991a-23addad9073b.png)

However,

[2020-03-23 17:15] Aghyad85 opened #1535 "[UX] - incorrect content for publish profile after download it using the new azure functions management experience"
Incorrect content for publish profile after download it using the new azure functions management experience

Repro Steps :
1) visit the portal select the new azure functions management experience for the function app.
2) On Overview tap select Get Publish profile, it will download it with wrong content (URL).

**The expected behavior**: To download the publish profile with content same as in the c

[2020-03-24 03:35] glaucia86 opened #1536 "[Bug Report] Problems for using Durable Functions"
In a thread on Twitter, a CTO from a Brazilian Startup, reported a problem they had when using Durable Functions in a project in January.
Below is the reproduction they used to try to solve the problem of using Durable Functions

**[https://pastebin.com/umsHxz8i](https://pastebin.com/umsHxz8i)**

Below the reported thread on Twitter:

-  **[https://twitter.com/GGondim/status/1241453557813051394](h

[2020-03-24 03:43] glaucia86 commented on #1536
cc: @anthonychu @fabiocav

[2020-03-24 06:01] #1130 closed

[2020-03-24 11:29] s-elliott commented on #1534
I have had a similar experience, with Java and maven when trying to run locally using the following commands:
[code]
The functions started successfully while working on 19/03/2020, then I returned and tried to run the exact same functions on 23/03/2020 and started seeing the following error in my console:

[code]

I am using VS Code with the Azure Functions extension.

Like the previous poster, I

[2020-03-24 15:26] khaosdoctor commented on #1536
Translation to English so it is easier to be international:

[code]

[2020-03-24 18:30] takyyon commented on #1531
Hi @yuanfulou , I cannot seem to repro the issue. Are you still facing the issue?

If so, please attach a snapshot of the console errors and a new har file.  And, can you please send me these on the email - krmitta@microsoft.com

[2020-03-25 00:28] shortboard opened #1537 "Issues with deploying durable function app via ARM template. No host keys, errors."
Hi,

I've been trying to deploy a durable functions app to Azure through an ARM template but when I deploy it does not generate any host keys and and throws errors when I navigate around the portal, for example I encounter `Error: Encountered an error (InternalServerError) from host runtime` when navigating to the *Function App Settings* page.

When deploying directly from Visual Studio I don't en

[2020-03-25 21:43] PdroCorrea commented on #1535
Same issue here...

[2020-03-26 03:42] btardif commented on #1535
@takyyon can you please take a look?

[2020-03-26 12:25] euangordon commented on #889
Just had the same issue with a v3.0.5 Azure Function. I published the same Azure Function to two environments, in test it worked fine but in live I got:

"The function type name 'Compass.AIS.AisUpdateCacheTimer' is invalid.

Turning the function off and on again resolved the issue.

[2020-03-26 17:21] glaucia86 commented on #1536
@khaosdoctor thanks a lot Lucas!

[2020-03-27 19:26] antonGritsenko opened #1538 "Graph API Extensions don't support multi-tenant configuration"
Pre: I know, there is dedicated repo for the Graph API extensions, but looks like it dead (no commits approved and no bug resolved) and MSFT suggest posting bugs here (https://github.com/MicrosoftDocs/azure-docs/issues/50960#issuecomment-604443755)

## Bug description
The bug is in the Graph API extension when working with multi-tenancy setup. The repro steps are very a simple:
1. Create new proje

[2020-03-28 08:06] Agazoth commented on #1291
I have just experienced the exact same issue (not on Linux, though).

I have a function running on Y1, that cannot resolve the @Microsoft.KeyVaul. This is working for me on multiple instances. This time I deployed the environment with a TerraForm template as opposed to the ARM template, VS Code and portal deployments I have done earlier.

I got that annoying red cross on all my secret references.

[2020-03-28 14:41] seanreynoldscs commented on #1130
Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator
does not fix this error for me.

This was all working a week ago, then we updated Xcode, OS X and the .NET from 2 to 3...
When running, I get:
[3/28/2020 2:32:15 PM] Microsoft.Azure.WebJobs.Host: Error indexing method '...'. Microsoft.Azure.WebJobs.Host: Cannot bind parameter '...' to type IAsyncCollector`1. Make sure the parameter Type is

[2020-03-29 02:37] Dona278 opened #1539 "Can't use Razor as a template engine in Azure Functions v3 (.NET Core 3.1)"
Hi! I've face with a lot of issues by using razor pre-compiled views and azure function since v1 and I've always (luckily) solved somehow..... but not now.
This code worked perfectly in AspNetCore 2.2 and Azure Function v2 both in development and production environment and now I've tried to update it to AspNetCore 3.1 with Azure Function v3.
PS: The solution is a little bit big so I list only a fe

[2020-03-29 21:56] grahambunce opened #1540 "Azure Functions 3.0.5 will not load Microsoft.Extensions.Configuration.Abstractions, Version=3.1.3.0"
Debugging Azure Functions locally via Visual Studio 16.5.1

Error on Functions startup (.net core 3.1)

Using the following packages:

AutoMapper 6.2.2
Microsoft.ApplicationInsights.NLogTarget 2.13.1
Microsoft.Azure.Functions.Extensions 1.0.0
Microsoft.Azure.WebJobs.Extensions.ServiceBus 4.1.1
Microsoft.Azure.WebJobs.Logging.ApplicationInsights 3.0.14
Microsoft.NET.Sdk.Functions 3.0.5
NLog 4.7.0
N

[2020-03-30 00:34] Dona278 commented on #1539
Debugging with AspNetCore sources I saw that the `DefaultViewCompilerProvider` creates `_compiler` with `applicationPartManager` that seems to haven't compiled views and this constructor is called before function startup function on which I add compiled view assembly to application parts manager

[2020-03-30 19:58] Andreas717 commented on #464
This is really a blocker for me. The consumption plan is ment for low cost szenarios and we really just want to call onpremise services. Could you please provide a new timeline for the implementation?

[2020-03-30 20:00] jjxtra commented on #464
I gave up trying to secure my storage using the firewall and instead just rotate keys every month

[2020-03-30 20:04] kulkarnisonia16 commented on #1416
@cgillum - do you know if this is deployed already?

[2020-03-30 20:40] boomertech commented on #464
You will need to use NSGs to secure storage.

On Mon, Mar 30, 2020, 4:00 PM Jeff Johnson <notifications@github.com> wrote:

[2020-03-31 00:22] cgillum commented on #1416
This should be deployed to all public Azure regions. App Service Environments (ASEs) should be done in the next few days. National clouds will come a bit later.

/cc @glennamanns

[2020-03-31 17:57] mssfang commented on #1533
@fabiocav Can you help us with this issue?

[2020-03-31 18:14] anthonychu opened #1541 "[azure-cli] functionapp deployment user show fails"
https://github.com/Azure/azure-cli/issues/12770

[2020-03-31 18:16] anthonychu opened #1542 "[azure-cli] Update linuxFxVersion for dotnet function apps"
https://github.com/Azure/azure-cli/issues/12773

[2020-03-31 19:41] wjdavis5 opened #1543 "Make the root document smaller"
The root document when you create a new function:

![image](https://user-images.githubusercontent.com/2580575/78067643-12a64880-7365-11ea-9b1d-18f707c7d612.png)

Is pretty large considering what it does.

![image](https://user-images.githubusercontent.com/2580575/78067672-1e920a80-7365-11ea-8e04-a646466646ec.png)

Why does that page need jquery? This should be a tiny static site.
Why does it matte

[2020-04-01 00:10] #1496 closed

[2020-04-01 00:10] #1502 closed

[2020-04-01 11:36] 4nandP commented on #1395
I too am experiencing this behaviour

[2020-04-01 15:50] prawin2k opened #1544 "[UX] - Different between System Keys and Host Keys"
In the new UI, I can see System Keys and the Host Keys. What is the different between these two.?

## Description

In the new UI, I can see System Keys which was not available in the OLD UI. Is this a new feature? Could you please share a link to the documentation?

I created a new System key and a new Host Key using the Preview UI as shown below.

![image](https://user-images.githubusercontent.co

[2020-04-01 18:52] btardif commented on #1544
@mattchenderson can you help here?

[2020-04-01 20:12] fabiocav commented on #1529
Currently in PR for CLI. Leaving in sprint 72.

[2020-04-01 20:16] #1216 closed

[2020-04-01 20:20] fabiocav commented on #1410
Work in progress. Moving to sprint 73.

[2020-04-01 20:24] fabiocav commented on #1503
@anthonychu FYI - moving this back to `Triaged` for now.

[2020-04-02 02:04] mattchenderson commented on #1544
System keys have been around but haven't been surfaced as a collection in the portal until this new preview. They are connected to extensions, enabling an extension-specific webhook endpoints from the host itself. Most of the time these are presented in the context in which they are used. For example, Durable Functions has an [HTTP API](https://docs.microsoft.com/en-us/azure/azure-functions/durabl

[2020-04-02 03:07] gzuber opened #1545 "[CLI] Fix WEBSITE_RUN_FROM_PACKAGE race condition"
Mirror of https://github.com/Azure/azure-cli/issues/12840

We've seen a case where an app is having deployment issues because the `WEBSITE_RUN_FROM_PACKAGE` app setting isn't being set at app creation but rather during deployment. Because of this, the app setting didn't have enough time to propogate to workers. See details from the RCA below:

[2020-04-02 04:51] fabiocav commented on #1544
The description you've provided is correct. System keys are created, usually automatically, by extensions and a few host features as a way to provide tighter access to those features only (e.g. extensions using the webhook endpoints like Durable Functions and Event Grid), so having that key allows you access to that capability only.

As mentioned, those are usually created by the runtime and you d

[2020-04-02 05:26] prawin2k commented on #1544
Okay. Thanks for the response. Hope you guys improve the documentation in the near future!

[2020-04-02 05:50] brucesithole commented on #733
Having this same issue now too. Any update on this or what the recommended solution is to deploy azure function 'code' with ARM/Azure Resource Group?

[2020-04-02 12:39] sitase commented on #1533
The underlying problem is that the runtime classes of the azure functions worker pollutes classpath of the functions code. You should isolate the worker in its own classloader.

[2020-04-02 14:27] sailane commented on #1540
Did anyone find the problem on this issue ? I've been struggling on the exact same issue for a few hours

[2020-04-02 15:24] bradoyler opened #1546 "ServiceBus output binding - duplicate detection not working (Javascript)"
For Javascript functions, with an output binding like:
[code]

I have tried setting the messageId, like so:
[code]
But the duplicate detection on the sb queue never seems to work.

I was, however, able to get get dup detection working by using the `@azure/service-bus` client.

Is 'duplicate detection' a supported feature of the `serviceBus` output binding? I can't seem to find the messageId refere

[2020-04-02 16:33] hansmbakker opened #1547 "Azure Functions does not load settings from the Connected Services dependencies"
I'm using [Visual Studio 16.6 preview 2](https://docs.microsoft.com/en-us/visualstudio/releases/2019/release-notes-preview#16.6.0-pre.2.0) and Azure Functions v3.

This VS version added a new experience for Connected Services dependencies:

![image](https://user-images.githubusercontent.com/3463496/78270975-dfea8480-750b-11ea-90d1-626193d731e9.png)

I added the dependencies I wanted to use from my

[2020-04-03 01:24] smadhukar2000 commented on #1000
Hi,
This issue still occurring as on 3.Apr.2020.
Did somehow this issue reopened ?

VS2019, Windows 10, Function v2.0.

I have to restart machine to release the port as of now.

Thanks,

[2020-04-03 03:36] prawin2k opened #1548 "[UX] - Unable to copy the Keys (Function key and Host Keys)"
#  Unable to copy the Keys (Function key and Host Keys)

## Description

Hi Team,
The new UI is awesome.

I noticed that the Copy button is missing. It would be great if you could add the feature.

OLD UI
![image](https://user-images.githubusercontent.com/10738750/78321559-d8eb6280-755b-11ea-9cc9-062ff41d1031.png)

New UI
![image](https://user-images.githubusercontent.com/10738750/78321509-b5c0b30

[2020-04-03 08:45] hansmbakker commented on #1547
Reported as https://developercommunity.visualstudio.com/content/problem/976562/azure-functions-does-not-load-settings-from-the-co.html

[2020-04-03 18:01] joescars commented on #1000
@smadhukar2000 - I have not had this issue for quite a while. I will suggest opening a new issue with your setup and repro steps. You can reference this original issue.

[2020-04-03 20:17] grahambunce commented on #1540
Not sure if this is relevant but the same project doesn't fail on MacOS using Rider and the latest azure-functions-host (https://github.com/Azure/azure-functions-host/releases)

[2020-04-03 20:47] #1540 closed

[2020-04-03 20:52] sailane commented on #1540
Yes that's what I have. Azure function v3. And .net core 3,1.
I didn't find the issue.. but for now my work around was to downgrade the versions ...
to azure functions v2, .net core 2.2 and also downgraded some of the libraries to older versions and it fixes the issue for me..

[2020-04-03 22:39] ericsampson commented on #1530
Oh no! Everything else about the new experience is great. But this would be a significant loss : (

[2020-04-04 06:51] dracan commented on #1256
I've having this issue, and the above-mentioned hosts.json fix doesn't resolve it for me. I've created a repro-case here:

https://github.com/dracan/AzureFunctionsLoggingIssue

Also, posted on StackOverflow yesterday before I found this current GitHub issue:
https://stackoverflow.com/questions/61019859/azure-functions-injected-iloggert-logs-arent-appearing

[2020-04-05 06:53] dracan commented on #1256
Actually, I worked out that it's just the log stream where it's not working...

![image](https://user-images.githubusercontent.com/567988/78468746-8f914380-7712-11ea-87ba-df1209e32587.png)

[2020-04-05 09:13] thomasrosdahl commented on #1307
@mark-buhagiar I don't see how **Zip Deploy** could have improved storage utilization. Zip deploy will extract the files to wwwroot whereas  **Run From Package** will mount the zip directly into wwwroot without extracting any files: https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-rm-web-app-deployment?view=azure-devops#run-from-package I think the whole point with **Run

[2020-04-06 10:46] deepbass commented on #1044
This would be super helpful for us to use in conjunction with Power BI rather than giving either raw database access or use an App Service 👍

[2020-04-06 13:06] Youenn-Bouglouan commented on #1177
I experienced this issue as well today, took me 2 hours to figure out what was going on. I initially thought it was related to the Azure Functions template as well, but it can be reproduced with a very simple .NET Core 3.1 console app (`<None Update="host.json">` works with csproj but not with fsproj).

Ideally there shouldn't be any difference at all between languages when it comes to those msbui

[2020-04-06 14:21] brettsam commented on #1256
This is another subtlety about how that console/debug log works in the portal. It only displays log messages if it knows they come from this function -- which means they match the category `Function.{FunctionName}.User`. The ILogger we pass in uses this category automatically but anything you log with an external logger will not use this. We do this so that you don't get flooded with background me

[2020-04-06 21:34] vijayrkn opened #1549 "System.Private.CoreLib: Could not load file or assembly azure function"
Creating this issue on behalf of the VS customer. Details of the issue are available here.

https://developercommunity.visualstudio.com/content/problem/953719/systemprivatecorelib-could-not-load-file-or-assemb.html

There is a screenshot of the func cli error available under the diagnostics section in the bug.

[2020-04-07 07:31] wpitallo commented on #738
@sffamily please could you add me as well if possible. Would love to try this out. wpitallo AT gmail.com

[2020-04-07 13:15] md-waldron commented on #428
I am seeing exactly this issue using Azure DevOps pipeline. It seems to occur only for V3 functions. Before we started to update from V2 -> V3 we did not see this issue.

[2020-04-07 13:41] vdex42 opened #1550 "Azure servicebus namespaced topics not recognised"
Observed using the latest Microsoft.NET.Sdk.Functions V 3.0.5 with ServiceBusTrigger functions:

When specifying the connection string using a [ servicebus namespace](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-messaging-overview#namespaces) e.g. `Endpoint=sb://acme-bus.servicebus.windows.net/mynamespace/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=..

[2020-04-07 20:51] mhoeger commented on #1525
cc: @brettsam

[2020-04-08 09:15] flatproject opened #1551 "[UX] - Missing button to manually run deployed function"
# Issue Title
Missing button to manually run code deployed function

## Description
Current Functions interface allow you to run a function manually.
![image](https://user-images.githubusercontent.com/18282373/78766727-8b1e9200-7981-11ea-98d0-b02249b40bd7.png)

Preview interface doesnt.
![image](https://user-images.githubusercontent.com/18282373/78766872-c325d500-7981-11ea-8d7f-6559c3b4bc15.png)

[2020-04-08 11:40] Odonno commented on #738
Hi @galvesribeiro

Do you have any blog post on your Apollo Server + GraphQL in .NET? I don't think there is any resource about that for the moment.

[2020-04-08 13:11] TehWardy commented on #1525
All I know is if I compile the same stack of code without the Azure Functions Wrapper for my execution (so just make it a console app) ... everything compiles and runs fine, so there's something about assembly resolution / reference versioning in the Azure Functions framework that's causing a compatibility limit that seems to break my stacks ability to compile without warnings and in some cases er

[2020-04-08 14:29] brettsam commented on #1525
Using `<_FunctionsSkipCleanOutput>true</_FunctionsSkipCleanOutput>` is the right solution here. We unfortunately don't have this documented -- I'm going to try to figure out where we can put that.

As @ramondeklein says, your function gets loaded into a host process when you hit F5. It launches a separately-downloaded ASP.NET app (brought with the Functions Core Tools) and loads your assembly into

[2020-04-08 16:01] ramondeklein commented on #1525
@brettsam I'm not sure if Azure Functions is bound to a specific set of assemblies and if the versions of those assemblies are fixed. If so, then if the assembly is already on the host and the version is the same, then it's safe to remove it. When the version is not the same, then a problem may occur and it would be good to either disable this "cleaning" and/or issue a warning about the version mi

[2020-04-09 05:09] gzuber commented on #1529
Resolved by https://github.com/Azure/azure-cli/pull/12817

[2020-04-09 05:09] #1529 closed

[2020-04-09 18:45] cartermp commented on #1177
Yeah, this isn't specific to F# or even visual studio tooling. I think there might be something wrong in the F# targets. I'll close this as a duplicate: https://github.com/dotnet/fsharp/issues/8914

[2020-04-09 18:45] #1177 closed

[2020-04-09 22:40] psutradhar commented on #1250
I am getting
`Could not load type 'System.Collections.Generic.IAsyncEnumerable`1' from assembly 'System.Runtime, Version=4.2.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'.`
error in Visual Studio Code.
Even though my functions run perfectly in Visual Studio 2019.
Any Update on this ticket?

[2020-04-10 03:57] StephenCleary commented on #1518
I believe I'm having the same issue. It looks like the `RemoveRuntimeDependencies` task (from assembly "$\.nuget\packages\microsoft.azure.webjobs.script.extensionsmetadatagenerator\1.1.5\tools\net46\Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator.dll") is waaaay too liberal about what files it likes to remove from the output directory.

- Microsoft.NET.Sdk.Functions 3.0.3 - works fine.

[2020-04-10 06:35] balag0 commented on #1518
@StephenCleary Are you able to share your app name. Want to make sure if the app has the right config since it looks like there was some bug in the azure portal at some point.

[2020-04-10 06:39] VallabhL commented on #1156
I have correct configuration and I am still getting that error. Here is my function.json:
{
  "scriptFile" : "../azure-functions-archetype-0.0.1-SNAPSHOT.jar",
  "entryPoint" : "com.realtime.azure.functions.Function.eventHubProcessor",
  "bindings" : [ {
    "type" : "eventHubTrigger",
    "direction" : "in",
    "name" : "msg",
    "connection" : "connectionURL",
    "eventHubName" : "rteventhub"

[2020-04-10 06:47] VallabhL opened #1552 "Unable to run Azure function in Java - Microsoft.Azure.WebJobs.EventHubs: Value cannot be null. Parameter name: receiverConnectionString."
![image](https://user-images.githubusercontent.com/45813123/78969513-bab9cf80-7b24-11ea-95ba-44185d9059a6.png)

I am trying to read logs received in event hub using functions. When I deploy the app I am getting a pop-up saying "Microsoft.Azure.WebJobs.EventHubs: Value cannot be null. Parameter name: receiverConnectionString.".

Following is my local.settings.json file.
{
  "IsEncrypted": false,

[2020-04-10 11:13] StephenCleary commented on #1518
@balag0 I'm running locally; it's not even published yet. Repro [here](https://github.com/StephenClearyExamples/AzureFunctionsAssemblyRepro).

[2020-04-10 12:29] VallabhL commented on #1156
@panneerpst  Can you help me solve this issue?

[2020-04-10 14:56] Hrashid789 opened #1553 "Issue with VS 2019 along with Azure"
Hello,

I am trying to run the code that I downloaded from the below link:
https://github.com/Microsoft/AzureSearch_JFK_Files
Here are the screenshots for the errors:
![image](https://user-images.githubusercontent.com/59919959/78999882-3a12c780-7b54-11ea-8ae5-c6a19125e888.png)
![image](https://user-images.githubusercontent.com/59919959/78999896-4008a880-7b54-11ea-8c0a-cdfce26e46d1.png)

[2020-04-10 17:42] balag0 commented on #1518
Thanks.

 @brettsam Looks like this is different from the other issue where the app had wrong image set.  Do you know of any known issues with Functions SDK 3.0.5?

[2020-04-10 18:38] StephenCleary commented on #1518
Let me know if you want me to move my repro to a separate issue.

[2020-04-11 18:00] moxplod commented on #1525
I had this issue as well. Good to find the workaround here.

[2020-04-12 01:44] maggiecandyland opened #1554 "Azure function cannot access connected wcf service"
We are evaluating Azure Functions to compare with other solution on the market. We have an Azure Function (v2) using .net Core 3.1 stack. It will invoke wcf service. It has been tested in localhost without issue. After deploying to Azure, the function got issue to invoke wcf service ( there was no endpoint listening at https://dev_service.ca/ourservice.svc that could accept the message ).

It look

[2020-04-13 09:09] oystein-devicedrive commented on #1299
I had the same issue today.
I resolved it by adding Microsoft.Azure.WebJobs.Extensions.EventHubs instead of Microsoft.Azure.EventHubs. For some reason the error keeps coming when adding Microsoft.Azure.EventHubs directly.

[2020-04-13 15:50] petro2050 opened #1555 "Publishing VS2019 zip deployment sometimes has no effect on the server"
This happens to me every once in a while, but when it happens, it happens consistently. I will clean and rebuild the solution and publish the zip deployment. Publish will be successful, but when I test the remote functions (even after waiting for 5-10 mins), it seems the code changes are not actually deployed. What's worse is that sometimes code gets deployed partially. :(

When I publish a zip, w

[2020-04-13 21:20] jeffhollan opened #1620 "Java 11 in Azure CLI"
https://github.com/Azure/azure-cli/issues/12963

[2020-04-14 16:18] RFHold commented on #1280
Was a solution ever found for this?

[2020-04-14 20:17] btardif commented on #1548
@prawin2k thank you this is good feedback. You can copy the content from the edit view but we will look into bubbling that up in the ux so that you don't have to do that extra click

@takyyon please look into this.

[2020-04-14 20:19] btardif commented on #1535
@takyyon I think you did a fix for this already, can you comment on latest status

[2020-04-14 20:19] btardif commented on #1531
@takyyon please provide an update, I think this has already been fixed

[2020-04-14 20:20] btardif commented on #1530
@takyyon I believe you have fixed this, can you provide an update

[2020-04-14 20:23] btardif commented on #1551
This is a dup of #1530 we are fixing this issue

[2020-04-14 20:23] #1551 closed

[2020-04-14 20:53] btardif commented on #1544
We are working on adding some context in the UX to help clarify this concepts and use cases.

[2020-04-14 21:02] yuanfulou commented on #1531
Hi all, sorry for the late reply. I still can't get the test output from the preview UI. Here's an updated screen recording I just done. https://youtu.be/M4U1cY0lfe4
My environment:
Macbook Air 2014 early
macOS Catalina 10.15.4
Chrome Version 80.0.3987.163 (Official Build) (64-bit)
I also tried on FireFox 75.0 (64-bit) but I forgot to record it. There's no result on Firefox either.

[2020-04-14 22:06] btardif commented on #1531
@yuanfulou yes, we are in a no-fly-zone for deployments given ongoing quarantine procedures. @takyyon will confirm that code fixes have been done we we haven't been able to push to production until deployment restrictions have been lifted.

[2020-04-15 00:08] MaxGuernseyIII commented on #789
Is this regarded as a fundamentally unsolvable problem or just a feature that isn't a high-enough priority to have been implemented, yet?

[2020-04-15 01:32] MaxGuernseyIII commented on #789
I have a hypothesis about how to build a PR around this but I'm having difficulty locating the tests that validate the build targets. So I imagine the theory will be difficult to validate or refute. Any suggestions on where I look?

This feels like where the tests should live near this project: https://github.com/Azure/azure-functions-vs-build-sdk/tree/master/test/Microsoft.NET.Sdk.Functions.MSBui

[2020-04-15 02:41] yuanfulou commented on #1531
@btardif Thanks for your reply. I hope my feedback help :)

[2020-04-15 15:15] kmughal opened #1556 "TestServer for Azure function"
Hi

I am trying to create a TestServer for my simple Azure function for integration test.
Below method creates HttpClient instance which I use to ping the end point. Assertion is failing as it is unable to find the end point. First of all is it possible to create in-memory TestServer for Azure function if yes then can you please help me ? If not then I guess that code can go to trash.

[2020-04-15 15:59] anthonychu opened #1557 "Add az functionapp log commands"
Similar to `az webapp log`

https://github.com/Azure/azure-cli/issues/13027

[2020-04-15 16:02] kmughal commented on #1556
I have uploaded my sample code to the following repository https://github.com/kmughal/IntegrationTestAzureFunc

If you go to the Test project you will see that I am trying to create a TestServer in memory

[2020-04-15 17:39] fusionet24 commented on #1299
Had the same issue today. As said you need to use the Microsoft.Azure.WebJobs.Extensions.EventHubs. If you do need to use Microsoft.Azure.EventHubs say in depedent project then make sure it is 3.0.0.

It would be really good if MS could address this.

[2020-04-15 17:46] anthonychu opened #1558 "[Azure-CLI] Function app should not have AzureWebJobsDashboard appsetting on creation"
https://github.com/Azure/azure-cli/issues/10945

[2020-04-15 21:38] yeahsicy opened #1559 "Azure function slots UI causing confusion"
Currently, we can add slots on Windows Consumption following https://docs.microsoft.com/en-us/azure/azure-functions/functions-deployment-slots#add-a-slot

However, it's confusing that if you go to the app menu as below, you will see the slot feature grayed out and saying it's unavailable.
![image](https://user-images.githubusercontent.com/34499027/79390940-731cb480-7f25-11ea-86f1-0bffe333b4d4.png)

[2020-04-16 22:15] StephenCleary commented on #1518
Still repros with 3.0.6.

[2020-04-17 00:36] prawin2k opened #1560 "[UX] - Show compilation error on clicking Save"
# Show compilation error on clicking Save

## Description

In the OLd UI, the portal shows the compilation errors as soon as the Save button is clicked. In this new UI, the compilation errors are shown only after running the function.

It would be great if you could enable that feature.

Thanks,
Praveen

[2020-04-17 00:54] btardif commented on #1560
Thanks for the feedback @prawin2k 👍🏽

@takyyon I think this makes sense can you take care of it?

[2020-04-17 03:09] masaab opened #1561 "Getting Error An assembly specified in the application dependencies manifest in Azure function V3 while using EF core 3.1"
I am trying to use EF core (3.1.3) in my Azure function project. When I run the below command.

Scaffold-DbContext "Server=(localdb)\mssqllocaldb;Database=ScheduleDb;Trusted_Connection=True;" Microsoft.EntityFrameworkCore.SqlServer -OutputDir Models -Project Scheduler.TimerTrigger.Data

I am getting error:

Error: An assembly specified in the application dependencies manifest (Scheduler.TimerTrigg

[2020-04-17 09:19] prawin2k opened #1562 "[UX] - Display runtime Exceptions immediately in the Logs Window"
# Display runtime Exceptions immediately in the Logs Window

## Description
Please display the exception details in the Log window immediately.
New UI - The new UI doesn't show the exception in the log window. In order to view the error, I have to look at the error in the Application insights which has a delay of 5 minutes.
![image](https://user-images.githubusercontent.com/10738750/79552348-6cf41

[2020-04-17 09:47] prawin2k opened #1563 "Make sure the value of Authorization header is formed correctly including the signature"
# Description
I have created a simple Http Trigger along with Azure Storage Table o/p binding. I'm getting the error "Make sure the value of Authorization header is formed correctly including the signature" when I submit the Http Requests.
# Below are the steps to reproduce

1. Create a Function app (Consumption)
1. Directly navigate to the new UI and add a new Http Trigger by clicking on the Add

[2020-04-17 13:57] pawel-zolty commented on #408
I have similar problem when I send many request with Authorization Header. After dozen of request I received HTTP 401 from my API. I am using Azure Fucntion v3 with Net Core 3.1

[2020-04-17 19:45] brettsam commented on #1518
@StephenCleary -- if you set `<_FunctionsSkipCleanOutput>false</_FunctionsSkipCleanOutput>` does that work? I agree that this we're too aggressive with trimming the output. I know we've got another issue tracking this -- I'll link it here as soon as I find it.